<footer class="footer">
    <div class="footer-content">
        <span style="opacity: 0.4;">developed by:</span>
        <a href="https://pharosartresearch.org" target="_blank" title="PHAROS: The International Association of Photo Archives.">
            <img src="/assets/images/logos/pharos.png" alt="PHAROS: The International Association of Photo Archives.">
        </a>

        <span style="opacity: 0.4; margin-left: auto;">supported by:</span>

        <a href="https://mellon.org/" target="_blank">
            <img src="/assets/images/logos/mellon.png" alt="the Mellon Foundation" title="the Mellon Foundation">
        </a>
        <a href="https://www.kressfoundation.org/" target="_blank">
            <img src="/assets/images/logos/kress.png" alt="KRESS foundation" title="KRESS foundation">
        </a>
        <a href="https://www.neh.gov" target="_blank" title="National Endowment for the Humanities (NEH)">
            <img src="/assets/images/logos/neh.svg" alt="National Endowment for the Humanities (NEH)">
        </a>

        <a href="https://www.biblhertz.it" target="_blank" title="Bibliotheca Hertziana – Max Planck Institute for Art History">
            <img src="/assets/images/logos/hertziana.svg" alt="Bibliotheca Hertziana – Max Planck Institute for Art History">
        </a>

        <a href="https://researchspace.org/" target="_blank">
            <img src="/assets/images/logos/researchspace.svg" alt="The ResearchSpace platform" title="The ResearchSpace platform">
        </a>
    </div>
</footer>
