<footer class="footer" style="border-top: 1px solid rgb(230, 230, 230);
padding-top: 5vh;">
<div class="FooterMenu">
  <div class="FooterLists">
    <div class="">
    <h2 class="">Artresearch.net</h2>
    <ul class="FooterUL">
    <li class="FooterLI"><a  href="https://artresearch.net/resource/FAQ">FAQ</a></li>
    <li class="FooterLI"><a  href="https://artresearch.net/resource/Documentation">How to use Artresearch.net</a></li>
    <li class="FooterLI"><a  href="https://artresearch.net/resource/TermsAndConditions">Terms &amp; Conditions</a></li>
    <li class="FooterLI"><a  href="https://artresearch.net/resource/Contact">Contact us</a></li>
    <li class="FooterLI"><a  href="https://artresearch.net/resource/Contact">Feedback</a></li>
    <li class="FooterLI"><a  href="https://artresearch.net/resource/News">News</a></li>
  </ul>
  </div>
  <div class="">
    <h2 class="">Tools</h2>
    <ul class="FooterUL"><li class="FooterLI"><a  href="https://vision.artresearch.net/">Vision</a></li>
    <li class="FooterLI"><a href="https://artresearch.net/resource/start">Simple Search</a></li>
    <li class="FooterLI"><a  href="https://artresearch.net/resource/SearchContextual">Contextual Search</a></li>
    <li class="FooterLI"><a href="https://artresearch.net/resource/SearchAdvance">Advances Search</a></li>
    <li class="FooterLI"><a  href="https://artresearch.net/resource/Partners">Partners</a></li>
    <li class="FooterLI"><a  href="https://artresearch.net/resource/Statistics">Statistics</a></li>
  </ul>
  </div>
  <div class="">
    <h2 class="">For Curators</h2>
    <ul class="FooterUL">
    <li class="FooterLI"><a  href="https://artresearch.net/resource/Contact">Become a Pharos Partner</a></li>
    <li class="FooterLI"><a href="https://artresearch.net/resource/Documentation#CuratorHelp">Curator's Help</a></li>
    <li class="FooterLI"><a  href="https://artresearch.net/resource/Documentation#ReportError">Report an Error</a></li>
    <li class="FooterLI"><a  href="https://artresearch.net/resource/AlignmentsDashboard">Alignment's Dashboard</a></li>
    <li class="FooterLI"><a  href="https://artresearch.net/resource/User">Annotation/Assertion Dashboard</a></li>
  </ul>
  </div>
  </div>
</div>
  <div style="display: flex;
    gap: 12vw;">
  <div class="footer-section">
    <p class="footer-text">
      <a href="https://mellon.org/" target="_blank">
        <img src="/assets/images/logos/mellon.svg" title="The Mellon foundation logo"/>
      </a>
    </p>
  </div>
  <div class="footer-section">
    <a href="https://researchspace.org/" target="_blank">
      <img  style="height: 60px; margin-bottom: 35px;"
            src="/assets/images/logos/researchspace.svg"
            title="The ResearchSpace platform logo"/>
    </a>
  </div>
  <div class="footer-section">
    {{!-- <h3 class="footer-header icon-holder">
      <a href="http://www.youtube.com/user/" target="social">

        <img src="/assets/images/icons/youtube.svg" />
      </a>
      <a href="https://www.facebook.com/" target="social">
        <img src="/assets/images/icons/facebook.svg" />
      </a>
      <a href="https://www.instagram.com//" target="social">
        <img src="/assets/images/icons/instagram.svg" />
      </a>
    </h3> --}}
    <p class="footer-text">
      <mp-has-permission permission="sparql:update">
        <span>     
          <a href="/sparql" title="Go to SPARQL endpoint" class="rs-body-m-M"> SPARQL access to data </a>
          &nbsp;
        </span>
      </mp-has-permission>
      &nbsp;<span><strong>|</strong></span>&nbsp; &nbsp;<span>
      <mp-link title="Go to Partners' Page" url="/resource/Partners">Partners</mp-link>
      &nbsp;&nbsp;&nbsp;</span><span><strong>|</strong></span><span>&nbsp; &nbsp;</span><span>
      <mp-link title="Go to About Page" url="/resource/About">About</mp-link>
      &nbsp;&nbsp;&nbsp;</span><span>
    </p>
  </div>
  </div>
</footer>