<footer>
  <section class="row">
    <section class="col-md-3">
      <img class="footer-logo" src="/assets/images/logo_artresearch.png" alt="logo artresearch">
      <p>is developed by</p>
      <img class="footer-logo" src="/assets/images/pharos_logo.png" alt="">
      <p>and supported by</p>
    </section>
    <section class="col-md-2 footer-list">
      <ul>
        <li><a href="#">Artworks</a></li>
        <li><a href="#">Artists</a></li>
        <li><a href="#">Photographs</a></li>
        <li><a href="#">Photographers</a></li>
        <li><a href="#">Repositories</a></li>
      </ul>
    </section>
    <section class="col-md-2 footer-list">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Advisory board</a></li>
          <li><a href="#">Intellectual property</a></li>
          <li><a href="#">Open Access Policy</a></li>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Privacy notice</a></li>
        </ul>
    </section>
    <section class="col-md-2 footer-list">
        <ul>
          <li><a href="#">Technical documentation</a></li>
          <li><a href="#">Statistics</a></li>
        </ul>
    </section>

  </section>
  <section class="logos_sponsors row justify-content-md-center">
    <img class="footer-logo-small" src="/assets/images/logo_kress.png" alt="logo kress">
    <img class="footer-logo-small" src="/assets/images/logo_mellon.png" alt="logo mellon">
    <img class="footer-logo-small" src="/assets/images/logo_neh.png" alt="logo neh">
    <img class="footer-logo-small" src="/assets/images/logo_hertziana.png" alt="logo hertziana">
    <img class="footer-logo-small" src="/assets/images/logo_researchspace.png" alt="logo researchspace">
  </section>
</footer>
