<footer class="footer" style="border-top: 1px solid rgb(230, 230, 230);
padding-top: 5vh;">
  <div style="display: flex;
    gap: 5vw; flex-wrap:wrap;">
  <div class="footer-section">
      <a href="https://mellon.org/" target="_blank">
        <img style="height: 50px;  margin-bottom: 35px;"src="/assets/images/logos/mellon.svg" title="The Mellon foundation logo"/>
      </a>
  </div>
    <div class="footer-section">
    <a href="https://www.kressfoundation.org/" target="_blank">
      <img  style="height: 40px; margin-bottom: 35px;"
            src="/assets/images/logos/kress.png"
            title="The ResearchSpace platform logo"/>
    </a>
  </div>
  <div class="footer-section">
    <a href="https://researchspace.org/" target="_blank">
      <img  style="height: 40px; margin-bottom: 35px;"
            src="/assets/images/logos/researchspace.svg"
            title="The ResearchSpace platform logo"/>
    </a>
  </div>
  </div>
    <div class="footer-section">
    <my-copyright></my-copyright>
  </div>
</footer>