<footer class="footer">
  <div class="footer-section">
    <p class="footer-text">
      <a href="https://mellon.org/" target="_blank">
        <img
          src="../../assets/images/logos/mellon.svg"
          title="The Mellon foundation logo"
        />
      </a>
    </p>
  </div>
  <div class="footer-section">
    <a href="https://researchspace.org/" target="_blank">
      <img
        style="height: 60px; margin-bottom: 35px;"
        src="../../assets/images/logos/researchspace.svg"
        title="The ResearchSpace platform logo"
      />
    </a>
  </div>
  <div class="footer-section">
    {{!-- <h3 class="footer-header icon-holder">
      <a href="http://www.youtube.com/user/" target="social">

        <img src="/assets/images/icons/youtube.svg" />
      </a>
      <a href="https://www.facebook.com/" target="social">
        <img src="/assets/images/icons/facebook.svg" />
      </a>
      <a href="https://www.instagram.com//" target="social">
        <img src="/assets/images/icons/instagram.svg" />
      </a>
    </h3> --}}
    <p class="footer-text">
      <span>     
        <a
          href="/sparql"
          title="Go to SPARQL endpoint"
          class="rs-body-m-M">
          SPARQL access to data
        </a> &nbsp;
      </span>&nbsp;<span><strong>|</strong></span>&nbsp; &nbsp;<span>
        <semantic-link iri="Default:Partners">
          Providers
        </semantic-link>
        &nbsp;&nbsp;&nbsp;</span><span><strong
        >|</strong></span><span>&nbsp; &nbsp;</span><span>
                  <semantic-link iri="Default:About">
          About
        </semantic-link>
          
          &nbsp;&nbsp;&nbsp;</span><span>
    </p>
  </div>
</footer>