<footer class="footer">
    <div class="footer-content">
        <a href="https://mellon.org/" target="_blank">
            <img src="/assets/images/logos/mellon.svg" alt="Mellon Foundation" title="Mellon Foundation">
        </a>
        <a href="https://www.kressfoundation.org/" target="_blank">
            <img src="/assets/images/logos/kress.png" alt="KRESS foundation" title="KRESS foundation">
        </a>
        <a href="https://researchspace.org/" target="_blank">
            <img src="/assets/images/logos/researchspace.svg" alt="The ResearchSpace platform" title="The ResearchSpace platform">
        </a>
        <p class="copyright">© 2024 PHAROS the International Association of Photo Archives</p>
    </div>
</footer>
