<bs-navbar class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="rs-header">
    <div class="navbar-header">
      <bs-navbar-toggle></bs-navbar-toggle>
      <a class="rs-header-logo" href="/resource/start">artresearch.net</a>
    </div>
    <bs-navbar-collapse class="pull-right">
      <bs-nav>
         <bs-nav-dropdown
          title="Tools"
          id="basic-nav-dropdown"
          class="no-bullets"
        >
        <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/VisualSearch">Visual Search</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/AlignmentsDashboard">Alignment Dashboard</mp-link>
          </bs-menu-item>
           <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/Copyrights">Copyright</mp-link>
          </bs-menu-item>
        </bs-nav-dropdown>
        <bs-nav-dropdown
          title="About"
          id="basic-nav-dropdown"
          class="no-bullets"
        >
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/News">News</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/Partners">Partners</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/Statistics">Statistics</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/DisplayPharosReviewed">Reconciliation</mp-link>
          </bs-menu-item>
        </bs-nav-dropdown>
        <bs-nav-dropdown
          title="Account"
          id="basic-nav-dropdown"
          class="no-bullets"
          style="text-align: -webkit-center"
        >
          <mp-anonymous-hidden>
            <mp-link style="display: flex; padding: 10px;"
              href="/User"
              class="rs-icon rs-icon-user_round rs-xs-none"  style='display: flex !important; padding-left: 10px !important;' url="/resource/User">My profile</mp-link>
          </mp-anonymous-hidden>
          <mp-anonymous-hidden>
            <a
              style="margin: 10px; display:flex;"
              id="logout-Link"
              href="/logout"
              title="logout"
              class="rs-body-m-M fa fa-sign-out"
            >&nbsp;Logout</a>
          </mp-anonymous-hidden>

          <a
            style="margin: 10px; display:flex;"
            id="login-Link"
            href="/login"
            title="login"
            class="rs-body-m-M fa fa-sign-in"
          >&nbsp;Login</a>
        </bs-nav-dropdown>

        <mp-anonymous-hidden>
          <mp-has-permission permission="sparql:update">
            <li role="presentation" class=""><a
                      href="/sparql"
                      title="Go to SPARQL endpoint"
                      class="rs-body-m-M"
                    >SPARQL</a></li>
          </mp-has-permission>
        </mp-anonymous-hidden>
        
        <mp-anonymous-hidden>
         <mp-has-permission permission="sparql:update">
            <bs-nav-item>
              <semantic-link
                iri="rsp:admin"
                title="Go to admin settings"
                class="rs-body-m-M"
              >Admin</semantic-link>
            </bs-nav-item>
          </mp-has-permission>
        </mp-anonymous-hidden>
      </bs-nav>
    </bs-navbar-collapse>
  </div>
</bs-navbar>