<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="rs-header">
    <div class="navbar-header"><button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#rs-navbar"
        aria-expanded="false"
        aria-controls="rs-navbar"
        aria-label="Toggle navigation"
      ><span class="sr-only">Toggle navigation</span><span
          class="icon-bar"
        ></span><span class="icon-bar"></span><span
          class="icon-bar"
        ></span></button>
      <semantic-link class="rs-header-logo" iri="rsp:start">Pharos Vision</semantic-link>
    </div>
    <div class="collapse navbar-collapse" id="rs-navbar">
      <ul class="nav navbar-nav">
        <li style="margin-left: 2vw;">
          <semantic-link
            class="rs-body-m-M"
            iri="rsp:Statistics"
          >Statistics</semantic-link>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <mp-anonymous-hidden>
          <li class="">
            <a
              href="/resource/:admin"
              title="Go to admin settings"
              class="rs-body-m-M"
            >Admin</a>
          </li>
        </mp-anonymous-hidden>
        <li class="">
          <mp-anonymous-hidden>
            <a
              id="logoutLink"
              href="/logout"
              title="logout"
              class="rs-body-m-M"
            >Logout</a>
          </mp-anonymous-hidden>
          <a
            id="loginLink"
            href="/login"
            title="login"
            class="rs-body-m-M"
          >Login</a>
        </li>
        <li>
          <div class="panel panel-danger">
            <div class="panel-heading">(13th May - 17th May) Data update is in
              progress. Functionality is limited and you may encounter issues!</div>
            <div class="panel-body" style="padding: 0;">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>