<bs-navbar class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="rs-header">
    <div class="navbar-header">
      <bs-navbar-toggle></bs-navbar-toggle>
      <semantic-link
        class="rs-header-logo"
        iri="Default:start"
      >Artresearch.net</semantic-link>

    </div>
    <bs-navbar-collapse class="pull-right">
      <bs-nav>
        <bs-nav-dropdown
          title="About"
          id="basic-nav-dropdown"
          class="no-bullets"
        >
          <bs-menu-item>
            <semantic-link
              class="rs-body-m-M"
              iri="Default:Partners"
            >Partners</semantic-link>
          </bs-menu-item>
          <bs-menu-item>
            <semantic-link
              class="rs-body-m-M"
              iri="Default:Statistics"
            >Statistics</semantic-link>
          </bs-menu-item>
            <bs-menu-item>
            <semantic-link
              class="rs-body-m-M"
              iri="Default:AlignmentsDashboard"
            >Alignment Dashboard</semantic-link>
          </bs-menu-item>
            <bs-menu-item>
            <semantic-link
              class="rs-body-m-M"
              iri="Default:AllAnnotations"
            >View Annotations</semantic-link>
          </bs-menu-item>
            <bs-menu-item>
            <semantic-link
              class="rs-body-m-M"
              iri="Default:AllAssertions"
            >View Assertions</semantic-link>
          </bs-menu-item>
        </bs-nav-dropdown>

        <bs-nav-dropdown
          title="Account"
          id="basic-nav-dropdown"
          class="no-bullets"
        >
          <mp-anonymous-hidden>
            <a
              style="display: flex; padding: 10px;"
              href="/resource/user/"
              class="rs-icon rs-icon-user_round rs-xs-none"
            >
              My profile
            </a>
          </mp-anonymous-hidden>
          <mp-anonymous-hidden>
            <a
              style="margin: 10px; display:flex;"
              id="logout-Link"
              href="/logout"
              title="logout"
              class="rs-body-m-M fa fa-sign-out"
            >
              Logout
            </a>
          </mp-anonymous-hidden>

          <a
            style="margin: 10px; display:flex;"
            id="login-Link"
            href="/login"
            title="login"
            class="rs-body-m-M fa fa-sign-in"
          >
            login
          </a>
        </bs-nav-dropdown>
        <mp-anonymous-hidden>
          <mp-has-permission permission="sparql:update">
          <li role="presentation" class=""><a
                      href="/sparql"
                      title="Go to SPARQL endpoint"
                      class="rs-body-m-M"
                    >SPARQL</a></li>
          </mp-has-permission>
        </mp-anonymous-hidden>
        <mp-anonymous-hidden>
         <mp-has-permission permission="sparql:update">
            <bs-nav-item>
              <semantic-link
                iri="rsp:admin"
                title="Go to admin settings"
                class="rs-body-m-M"
              >Admin</semantic-link>
            </bs-nav-item>
          </mp-has-permission>
        </mp-anonymous-hidden>
      </bs-nav>
    </bs-navbar-collapse>
  </div>
</bs-navbar>