<bs-navbar class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="rs-header">
    <div class="navbar-header">
      <bs-navbar-toggle></bs-navbar-toggle>
      <a class="rs-header-logo" href="/resource/start">
          <img src="/assets/images/logos/ar.png">
      </a>
    </div>
    <bs-navbar-collapse class="pull-right">
      <bs-nav>
          {{!-- <mp-anonymous-hidden>
              <bs-nav-dropdown
                title="Reconciliation"
                id="basic-nav-dropdown"
                class="no-bullets"
              >
                <bs-menu-item>
                  <mp-link class="rs-body-m-M" url="/resource/ReconciliationVocabArtists">Reconciliation Artists</mp-link>
                </bs-menu-item>
                <bs-menu-item>
                  <mp-link class="rs-body-m-M" url="/resource/ReconciliationVocabPhotographers">Reconciliation Photographers</mp-link>
                </bs-menu-item>
                <bs-menu-item>
                  <mp-link class="rs-body-m-M" url="/resource/ReconciliationVocabRepositories">Reconciliation Repositories</mp-link>
                </bs-menu-item>
                </bs-nav-dropdown>
          </mp-anonymous-hidden>
        <mp-anonymous-hidden> --}}
          <mp-has-permission permission="sparql:*:*:*">
            <li role="presentation" class=""><a
                      href="/sparql"
                      title="Go to SPARQL endpoint"
                      class="rs-body-m-M"
                    >SPARQL</a></li>
          </mp-has-permission>
        </mp-anonymous-hidden>
        <mp-has-permission permission="sparql:default:query:*">
         <bs-nav-dropdown
          title="Tools"
          id="basic-nav-dropdown"
          class="no-bullets"
        >
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/X3MLDashboard">X3ML</mp-link>
          </bs-menu-item>
          <li>
              <a class="rs-body-m-M" href="/proxy/jupiter/">Jupiter Notebooks</a>
          </li>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/AlignmentsDashboard">Alignment Dashboard</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/VisualSearch">Visual Search</mp-link>
          </bs-menu-item>
        {{!-- <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/ContactUs">Contact us</mp-link>
          </bs-menu-item> --}}
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/DisplayPharosReviewed">Reconciliation</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/AllAnnotations">Annotations</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/AllAssertions">Assertions</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/ErrorsDashboard">Reported Errors</mp-link>
          </bs-menu-item>
           
        </bs-nav-dropdown>
        </mp-has-permission>
        <bs-nav-dropdown
          title="About"
          id="basic-nav-dropdown"
          class="no-bullets"
        >
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/About">About</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/Partners">Partners</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/IntellectualProperty">Intellectual Property</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/PrivacyNotice">Privacy Notice</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/AdvisoryBoard">Advisory Board</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/News">News</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/Statistics">Statistics</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/TermsAndConditions">Terms of Use</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/Contact">Contact us</mp-link>
          </bs-menu-item>
          <bs-menu-item>
            <mp-link class="rs-body-m-M" url="/resource/ModelDocumentation">Metadata Documentation</mp-link>
          </bs-menu-item>
        </bs-nav-dropdown>
        <li>
            <a
            style="margin: 10px; display:flex;"
            id="create-acc-Link"
            href="/createAcc"
            title="Create Account"
            class="rs-body-m-M"
          >&nbsp;Create Account</a>
          </li>
        <mp-anonymous-hidden>
          <style>
            #create-acc-Link{
              display: none !important;
            }
          </style>
        </mp-anonymous-hidden>
        <mp-anonymous-hidden>
         <mp-has-permission permission="sparql:update">
            <bs-nav-item>
              <semantic-link
                iri="rsp:admin"
                title="Go to admin settings"
                class="rs-body-m-M"
              >Admin</semantic-link>
            </bs-nav-item>
          </mp-has-permission>
        </mp-anonymous-hidden>

        <bs-nav-dropdown
          title="Account"
          id="basic-nav-dropdown"
          class="no-bullets"
          style="text-align: -webkit-center"
        >
          <mp-anonymous-hidden>
              <a
                style="margin: 10px; display:flex;"
                id="logout-Link"
                href="/logout"
                title="logout"
                class="rs-body-m-M"
              ><i class="fa fa-sign-out"></i><div>Logout</div></a>
            </mp-anonymous-hidden>

          <a
            style="margin: 10px; display:flex;"
            id="login-Link"
            href="/login"
            title="login"
            class="rs-body-m-M"
          ><i class="fa fa-sign-in"></i><div>Login</div></a>
          {{!-- <a
          href="/">
            Create account
          </a> --}}
        </bs-nav-dropdown>

        <mp-user-language-switch></mp-user-language-switch>
      </bs-nav>
    </bs-navbar-collapse>
  </div>
</bs-navbar>
