<html lang="en">

  <head>
      <link rel="icon" href="/assets/images/logos/favicon.ico">
     <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
     <script
      type="text/javascript"
      src="/assets/scripts/cookiemessage.js"
    ></script>
         <script
      type="text/javascript"
      src="/assets/scripts/beta-info.js"
    ></script>
     <script
      type="text/javascript"
      src="/assets/scripts/mycopyright.js"
    ></script>
       <script
      type="text/javascript"
      src="/assets/scripts/uploader.js"
    ></script>


    <meta name="version" content="{{version}}" />
    <link
      href="/assets/styles/global.css"
      rel="stylesheet"
      type="text/css"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.1.0/intro.min.js"
      integrity="sha512-vpRYyG0wwpTzFdMa1fWEV6GLWfJiiKG1W7dCPuIuvm2kbZMUA8jnokV84rdUft8AF6ih83/ItbmP/fDzNjVxsA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.1.0/introjs.min.css"
      integrity="sha512-631ugrjzlQYCOP9P8BOLEMFspr5ooQwY3rgt8SMUa+QqtVMbY/tniEUOcABHDGjK50VExB4CNc61g5oopGqCEw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="icon" href="/assets/images/logos/favicon.ico">
    <link href="/assets/css_variables.css" rel="stylesheet" type="text/css" />
    <script
      type="text/javascript"
      src="/assets/scripts/advanceScripts.js"
    ></script>
     
    <link href="/assets/scripts/chardinjs.css" rel="stylesheet" />
    <script src="/assets/scripts/chardinjs.min.js"></script>
    {{#each assetsMap.app.css}}
      <link href="{{this}}" rel="stylesheet" type="text/css" />
    {{/each}}

    {{{html-head}}}
    {{#each assetsMap.app.js}}
      <script defer type="text/javascript" src="{{this}}"></script>
    {{/each}}

    {{! To hide alert in start page }}
    <script>
      setTimeout(() => { if (window.location.href.includes("start"))
      document.getElementById("underDevAlert").style.display = "none" }, 9000)
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-GH63C664PX"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function gtag() {
      dataLayer.push(arguments); } gtag('js', new Date()); gtag('config',
      'G-GH63C664PX');
    </script>
    <script type="text/javascript">

     const checkElement = async selector => {
      while(document.querySelector(selector) === null) { await new
      Promise(resolve => requestAnimationFrame(resolve)) } return
      document.querySelector(selector); }; // This is checked on load
      window.onload = function () {
      checkElement('#help-button').then((selector)=> {
      $('#help-button').on('click', function() { 
        $('body').chardinJs('start') ;
      }); })}
    </script>
  </head>

  <body data-chardin-sequenced="false"
data-chardin-auto="false"
data-chardin-delay="800">
    <div id="application" class="rs-application"></div>
  </body>

</html>