<html lang="en">

  <head>
    <link rel="icon" href="/assets/no_auth/images/logos/favicon.ico">


    <meta name="version" content="{{version}}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">

    <link rel="icon" href="/assets/no_auth/images/logos/favicon.ico">
    <link href="/assets/css_variables.css" rel="stylesheet" type="text/css" />

    {{#each assetsMap.app.css}}
      <link href="{{this}}" rel="stylesheet" type="text/css" />
    {{/each}}

    {{{html-head}}}
    {{#each assetsMap.app.js}}
      <script defer type="text/javascript" src="{{this}}"></script>
    {{/each}}

    <link
        href="/assets/new-styles/global.css"
        rel="stylesheet"
        type="text/css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
   </head>

  <body class="karla-regular">
    <div id="application" class="rs-application"></div>
  </body>

</html>
