:root {
  /*   #414447 #29313a */
  --color-dark: #29313a;
  --color-dark--op75: rgb(65, 68, 71, 0.75);
  --color-dark--op50: rgb(65, 68, 71, 0.5);
  --color-dark--op30: rgb(65, 68, 71, 0.3);
  --color-dark--op20: rgb(65, 68, 71, 0.2);
  --color-dark-darker: #20272e;

  --color-success: #559cff;
  --color-success-light: #5ea0d2;
  --color-success-text: #112e45;
  --color-success-darker: #226ca4;

  --color-primary-100: #555252;
  --color-primary-100-darker: #3f3d3d;
  --color-primary-100-op70: rgba(85, 82, 82, 0.7);
  --color-primary-80: #7c7a7a;
  --color-primary-75: #b1aeae;
  --color-primary-50: #e6e6e6;
  --color-primary-50--op50: rgba(224, 224, 224, 0.5);
  --color-primary-50--op35: rgba(224, 224, 224, 0.35);
  --color-primary-10: #f5f5f5c9;

  --color-secondaryA-50: #eeeeee;
  --color-secondaryB-50: #d0d9dd;

  --color-km-handle: #824848;
  --color-checkbox-select: #ba6868;
  --color-exclamation: #cb4d4d;

  /*   Background colors */
  --color-body-bg: #ffffff;
  --color-navbar-bg: #F5F5F5 ;
  --color-footer-bg: #ba6868;

  --color-popover-bg: lightgray;

  --color-sidebarFooter-bg: #e3d6d6;

  --color-codeMirror-border: rgb(65, 68, 71, 0.2);

  /*    Icon colors */
  --color-icon-dark: #414447;
  --color-icon-primary: #6b0000!important;

  --color-btn-selected: #29313a;

  /*   Form colors */
  --color-form-placeholder: rgb(65, 68, 71, 0.5);
  --color-form-border: rgb(65, 68, 71, 0.15);

  /*    Card colors */
  --color-card-icon-hover: #d6dfe3;

  /*   Dashboard colors */
  --color-dashboard-km: #6e7a83;
  --color-dashboard-narrative: #9f4f4f;
  --color-dashboard-image: #912f2f;

  /*    Entity: background and icon colors */
  --color-entity-bg-thing: #dbdbde;
  --color-entity-bg-actor: #d0d9dd;
  --color-entity-bg-type: #e3e0d7;
  --color-entity-bg-resource: #e5e9f0;

  --color-entity-icon-thing: #5d5b5b;
  --color-entity-icon-actor: #6f4545;
  --color-entity-icon-type: #857070;
  --color-entity-icon-resource: #9b5050;

  /*   Progress bar */
  --progress-bar-bg: #3a2929;

  --color-panelHeading-bg: rgba(71, 65, 65, 0.7);
}

