.typeInfoValues{
    position: absolute;
    top: -1.5vh;
    right: -1.5vw;
    padding: 5px;
    max-width: 20vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    filter: grayscale(1);
    background: #f5f5f5;
}
.typeInfoValues:hover{
    filter: grayscale(0);
}
.badge {
        background: unset !important;
        width: unset !important;
        height: unset !important;
        margin: 2px;
}