#artwork-filter-search-inline .semantic-table-holder {
  left: 0% !important;
}

#artwork-filter-search-inline .visualizationValue {
  font-size: medium !important;
  min-width: 20vw;
  max-width: 20vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#artwork-filter-search-inline .header-search {
  background-color: #f3f3f1;
  border-color: transparent;
  position: absolute;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(170, 69, 69, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#artwork-filter-search-inline #header-search.search-page {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: white;
  color: gray !important;
  height: 12vh;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 9vh;
}

#artwork-filter-search-inline #header-search.home-page {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  color: gray !important;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  flex-direction: column;
}

#artwork-filter-search-inline
  #header-search
  .semantic-form-input-decorator__header {
  display: none;
}

#artwork-filter-search-inline
  #header-search
  .cardinality-support__remove-value {
  display: none;
}

#artwork-filter-search-inline #header-search .cardinality-support__add-value {
  display: none;
}

#artwork-filter-search-inline #header-search .form-switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

#artwork-filter-search-inline
  #header-search
  .cardinality-support__group-instance {
  padding: 0 !important;
  box-shadow: none !important;
}

#artwork-filter-search-inline #header-search .form-switch__content {
  margin: 0 !important;
}

#artwork-filter-search-inline #header-search .semantic-form-input-decorator {
  margin: 0 !important;
}

#artwork-filter-search-inline #header-search .form-switch__select {
  height: 5vh !important;
  z-index: 100;
  border: none !important;
  border-radius: 4px 0px 0px 4px;
  border-color: none;
  outline: none;
  box-shadow: 0px 0px 9px -10px #ababab;
  text-transform: none !important;
  cursor: pointer;
}

/* #artwork-filter-search-inline #header-search .researchspace-table-widget-holder{
  box-shadow: 2px 2px 10px 0px lightgrey;
  border-radius: 0px 0px 10px 10px;
} */

#artwork-filter-search-inline #header-search.search-page input {
  border-radius: 4px;
  width: 85%;
  height: 5vh;
  align-self: center;
  background: white;
  box-shadow: 0px 0px 12px -5px #ababab;
}

#artwork-filter-search-inline #header-search.home-page input {
  border-radius:4px;
  width: 41vw;
  height: 5vh;
  align-self: center;
  background: white;
  box-shadow: 0px 0px 12px -5px #ababab;
}

#artwork-filter-search-inline #header-search input:focus {
  border: none !important;
}

#artwork-filter-search-inline #header-search .form-group {
  margin: 0 !important;
  display: flex;
}

#artwork-filter-search-inline #header-search-results {
  display: none;
  min-width: 100vw;
  min-height: 100vh;
}

#search:focus-within #artwork-filter-search-inline #header-search-results {
  display: block !important;
}

#search #artwork-filter-search-inline #header-search-results:hover {
  display: block !important;
}
#search:focus-within #artwork-filter-search-inline #header-search-results {
  display: block !important;
}

#searchContent:focus-within + #homepageContent {
  display: none !important;
}

#search #artwork-filter-search-inline #header-search-results:hover {
  display: block !important;
}

#artwork-filter-search-inline #header-search input::placeholder {
  color: gray !important;
}

#artwork-filter-search-inline #header-search-select select {
  height: 5vh !important;
  z-index: 100;
  border: none !important;
  border-radius: 4px 0 0 4px;
  border-color: none;
  outline: none;
  box-shadow: 0px 0px 2px 0px black;
}

#artwork-filter-search-inline #header-search-select .composite-input div {
  display: flex;
  flex-direction: row;
}

#artwork-filter-search-inline .artwork-card {
  width: 100% !important;
  min-height: 23vh;
  height: fit-content;
  padding: 2vh 0 2vh 0;
}
#artwork-filter-search-inline #search-results .rs-grid-element.panel {
  background: white !important;
}
#artwork-filter-search-inline #search-results .rs-grid-element:hover {
  box-shadow: 1px 2px 8px 0 #761f0e35, 1px 3px 12px 2px rgba(0, 0, 0, 0.07);
}

#artwork-filter-search-inline .panel-body {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  user-select: unset !important;
}
#artwork-filter-search-inline .show-facet-button {
  display: none;
}
#artwork-filter-search-inline #search-results .nav-tabs {
  display: none;
}
#artwork-filter-search-inline .facet,
#artwork-filter-search-inline .semantic-facet-holder {
  width: 100% !important;
  position: relative !important;
  border: none !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
}

#artwork-filter-search-inline .facet__category-selector-holder li {
  border: none !important;
  margin: 5px !important;
}

#artwork-filter-search-inline .facet__relation__content__category-image {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#artwork-filter-search-inline
  .facet__category-selector-holder
  .category-selector
  .category-item-holder {
  min-width: 30px;
}

#artwork-filter-search-inline .FacetSlider--range input.form-control {
  width: 60px !important;
  min-width: 0 !important;
  padding: 4px !important;
}
#artwork-filter-search-inline .facet__category-selector-holder {
  display: none !important;
}

#artwork-filter-search-inline .facet__relation__header {
  border: 1px solid rgb(221, 221, 221);
  margin-top: 5px;
}

#artwork-filter-search-inline .facet__relation__header:hover,
#artwork-filter-search-inline .facet__relation__header:focus {
  text-decoration: none;
  color: #000000;
  background-color: rgba(162, 51, 56, 0.06);
}

#artwork-filter-search-inline .rc-slider.FacetSlider--slider {
  width: 80%;
  margin-left: 10%;
}

#artwork-filter-search-inline .facet__relation__values__filter {
  margin: 0;
}

#artwork-filter-search-inline .contentExcerpt {
  display: inline-block;
  overflow: hidden;
  text-overflow: fade;
  height: 65px;
  margin-top: 10px;
}

#artwork-filter-search-inline .contentExcerpt:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 50px, white);
}

#artwork-filter-search-inline .clearable-input {
  border-radius: 5px;
}

#artwork-filter-search-inline .facet__relation__header {
  border: none !important;
  border-radius: 4px !important;
  box-shadow: 1px 1px 4px 0px lightgrey;
  font-weight: bold;
  height: 5vh;
}

#artwork-filter-search-inline .clearable-input__clear {
  border: none !important;
  border-radius: 5px !important;
  height: 3vh;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 0px 0px lightgrey;
  background: rgb(247 247 247);
}
#artwork-filter-search-inline .clearable-input__clear .fa {
  color: unset !important;
}

#artwork-filter-search-inline .filters-container {
  margin-top: 8px;
  position: sticky;
  padding: 1vh;
  top: 17vh;
  z-index: 1;
  background: white;
}

#artwork-filter-search-inline .filter-title {
  width: 100%;
  margin-bottom: 1vh;
  text-align: center;
  font-size: medium;
  text-transform: uppercase;
}

#artwork-filter-search-inline .cardInfo {
  position: relative;
  left: 8vw;
  top: 1.5vh;
  background: #ffffffe8;
  border-radius: 0px 0px 4px 4px;
}

#artwork-filter-search-inline .cardInfoFields {
  padding: 1vh;
}

#artwork-filter-search-inline .thumbnailImageContainer {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  padding: 0;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  min-height: 23vh;
}

#artwork-filter-search-inline .thumbnailImage {
  width: 100%;
  border-top: 0px !important;
  border-top-right-radius: 0px !important;
  min-height: 23vh;
  height: 100%;
  max-height: unset;
  min-width: unset;
  object-fit: contain;
  background: whitesmoke;
}

#artwork-filter-search-inline .thumbnailImage html {
  display: none !important;
}

#artwork-filter-search-inline .drawingInfo {
  margin-bottom: 2vh;
}

#artwork-filter-search-inline .grid-info {
  font-size: 16px !important;
}

#artwork-filter-search-inline .grid-demo b {
  font-weight: normal;
  color: #777777;
}
#artwork-filter-search-inline .facet__relation__values__value:hover {
  background-color: #f5f5f5;
}
#artwork-filter-search-inline .facet__relation__values__filter {
  filter: none !important;
  border: none;
}

#artwork-filter-search-inline #search-results .rs-grid-element.panel-default {
  border-color: #e9e9e9;
  overflow: hidden;
  padding: 0;
}
#artwork-filter-search-inline #search-results .rs-grid-element .panel-body {
  cursor: pointer;
  font-size: large;
  align-items: center;
  display: flex !important;
}
#artwork-filter-search-inline .rs-application .table > tbody > tr > td {
  border-color: white !important;
  padding: 4px 8px;
}
#artwork-filter-search-inline .rs-page__field {
  display: flex;
  justify-content: flex-start;
}
#artwork-filter-search-inline .rs-page__field-label {
  font-weight: normal;
  color: #777777;
}
#artwork-filter-search-inline .rs-page__field-label-holder {
  min-width: 10vw;
}

@media (max-width: 800px) {
  #artwork-filter-search-inline .filters-container{
    margin-top:  8vh !important;
    top:unset !important;
    position: relative !important;
  }
  #artwork-filter-search-inline #header-search.search-page{
    position: relative !important;
  }
  #artwork-filter-search-inline .thumbnailImageContainer {
    justify-content: center;
  }

  #artwork-filter-search-inline .cardInfo {
    left: 0vw;
    top: 0vh;
  }
  #artwork-filter-search-inline .rs-page__field {
    flex-direction: column;
  }
  #artwork-filter-search-inline .table-responsive > .table {
    overflow: hidden;
  }
}
