.artwork-card-big {
  min-height: 23vh;
  min-width: 50vw;
  height: fit-content;
  padding: 2vh 0 2vh 0;
}

.artwork-card-big  .cardInfo {
  position: relative !important;
  width: 65% !important;
  left: 8vw !important;
  top: 1vh !important;
}


.artwork-card-big .thumbnailImageContainer {
  min-height: 23vh !important;
  width: unset !important;
}

.artwork-card-big .typeInfoValues {
  top: 0 !important;
}

.artwork-card-big  .cardInfoFields {
  padding: 1vh;   
}


.artwork-card-big .thumbnailImage {
  min-width: 14vw !important;
  object-fit: contain !important;
  max-width: 270px;
  height: 100% !important;
}

.artwork-card-big #rsbv .rs-page-resource__field-label{
  font-size: 14px !important;
}


.typeInfoValues {
  position: absolute;
  top: -1.5vh;
  right: 0;
  padding: 5px;
  max-width: 30vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: hidden;
}

.typeInfoValues .badge {
  background: #f5f5f5 !important;
  width: unset !important;
  height: unset !important;
  margin: 2px;
  filter: grayscale(1);
  font-weight: 400;
}

.typeInfoValues .badge:hover {
  filter: grayscale(0);
}
.typeInfoValues .badge a.typeLink {
  font-variant: all-petite-caps;
}

#search-results .rs-grid-element .typeInfoValues .badge a.typeLink {
  color: var(--color-icon-primary) !important;
}


.filter-artwork-card table td {
  padding: 1px 8px 1px 8px !important;
}

.filter-artwork-card #rsbv .rs-page-resource__field-label {
  font-size: 14px !important
}

.personCard{
    width: 10vw !important;
    border-radius: 100% !important;
    height: 10vw !important;
    min-width: 200px;
    min-height: 200px;
    max-width: 280px;
    max-height: 280px;
}
.personCard .thumbnailImageContainer{
  border-radius: 100% !important;
} 
.personCard .cardInfo{
  bottom: 25% !important;
} 