#artwork-header {
  display: flex;
  flex-direction: column;
}

#artwork-header .sourceIcon {
  height: 18px;
  width: 18px;
  padding: 2px;
  margin: 4px;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 1px 1px 3px 1px #e7e7e7;
}

#artwork-header .subtitleInfo {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: initial !important;
}

#artwork-header .lowercase {
  text-transform: lowercase;
}
#artwork-header .page__header-body {
  display: flex;
  flex-direction: column;
}
#artwork-header .fc-label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 12px;
}
#artwork-header .original-link {
  margin-top: 10px;
  margin-bottom: 5px;
  border: 1px solid #c4c4c4;
  padding: 5px;
  border-radius: 4px;
  transition: 0.5s;
}
#artwork-header .original-link:hover {
  background: #e7e7e7;
}

#artwork-header .original-link .text {
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#artwork-header #fcLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}
#artwork-header #fcLabel img {
  height: 18px;
  margin: 1vh;
}
