#artwork-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#artwork-header h2 {
  border-bottom: none !important;
}

.sticky-artwork-header {
  position: sticky;
  top: 12vh;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin-bottom: 15px;
  margin-top: 15px;
}

#artwork-header .titleCopy {
  font-size: 0;
  margin-left: 5px;
  transition: 0.3s;
}

#artwork-header .page__header-draggable-title:hover .titleCopy {
  font-size: initial;
}

#artwork-header .sourceIcon {
  height: 18px;
  width: 18px;
  padding: 2px;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 1px 1px 3px 1px #e7e7e7;
}

#artwork-header .subtitleInfo {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: initial !important;
}

#artwork-header .lowercase {
  text-transform: lowercase;
}
#artwork-header .page__header-body {
  display: flex;
  flex-direction: column;
}
#artwork-header .fc-label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 12px;
}

#artwork-header .repository-location {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin-left: 18px !important;
  gap: 3px;
  margin-top: 12px !important;
  margin-bottom: 0 !important;
}

#artwork-header .original-link {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #c4c4c4;
  padding: 5px;
  border-radius: 4px;
  transition: 0.5s;
}
#artwork-header .original-link:hover {
  background: #e7e7e7;
}

#artwork-header .original-link .text {
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#artwork-header #fcLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}
#artwork-header #fcLabel img {
  height: 18px;
  margin: 1vh;
}

#artwork-header .artwork-link {
  color: #6b0200 !important;
  font-size: 18px;
  border-bottom: 1px solid;
  margin-left: 6px;
  border-radius: 0px !important;
}

#variant-attribution-dropdown {
  margin-bottom: 16px;
  margin-left: 8px;
}

#variant-attribution-dropdown .panel.panel-default {
  background: none;
  box-shadow: none;
  border: none;
}

#variant-attribution-dropdown .panel-default > .panel-heading {
  height: 25px !important;
  width: 180px;
  background: white;
  border: lightgrey solid 1px;
  border-radius: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: absolute;
  z-index: 2;
}
#variant-attribution-dropdown .collapsing {
  height: 0 !important;
}
#variant-attribution-dropdown .panel-body {
 
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: max-content;
    /* min-width: 350px; */
    border: 1px solid lightgrey;
    padding-top: 40px;
    padding-right: 2vw;
    border-radius: 20px 0px 0px 0px;
    top: 0;
    z-index: 1;

}

#variant-attribution-dropdown .panel-title a {
  font-size: 14px;
  user-select: none;
  color: rgb(55 88 167) !important;
  text-transform: none;
}

#variant-attribution-dropdown .attribution-wrapper {
  display: flex;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

#variant-attribution-dropdown .attribution {
  font-size: 18px;
  line-height: 0.5 !important;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  white-space: initial;
  text-decoration: underline;
}

#variant-attribution-dropdown .attribution-qualifier {
  padding: 5px;
  white-space: initial;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 15px;
}

#variant-attribution-dropdown .panel-heading .panel-title a::before {
  color: rgb(55 88 167) !important;
  margin-right: 2px;
  transition: 0.3s;
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f077";
}

#variant-attribution-dropdown .panel-heading .panel-title a.collapsed::before {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f078";
}

#variant-attribution-dropdown .creators-attribution {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -12px;
  margin-left: 24px;
}

.header-options {
 justify-content: right;
  right: 0;
  top: 0;
  display: flex;
}

@media (max-width: 1200px) {
  .sticky-artwork-header {
    position: unset !important;
  }

  .header-options {
    position: relative;
  }
}

@media (max-width: 800px) {
  #artwork-header {
    padding-bottom: 20px;
  }
}
