.typeInfoValues {
  position: absolute;
  top: -1.5vh;
  right: 0;
  padding: 5px;
  max-width: 30vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: hidden;
}

.typeInfoValues .badge {
  background: #f5f5f5 !important;
  width: unset !important;
  height: unset !important;
  margin: 2px;
  filter: grayscale(1);
  font-weight: 400;
}

.typeInfoValues .badge:hover {
  filter: grayscale(0);
}
.typeInfoValues .badge a.typeLink {
  font-variant: all-petite-caps;
}

#search-results .rs-grid-element .typeInfoValues .badge a.typeLink {
  color: var(--color-icon-primary) !important;
}


.filter-artwork-card table td {
  padding: 1px 8px 1px 8px !important;
}

.filter-artwork-card #rsbv .rs-page-resource__field-label {
  font-size: 14px !important
}

.personCard{
    width: 10vw !important;
    border-radius: 100% !important;
    height: 10vw !important;
    min-width: 200px;
    min-height: 200px;
    max-width: 280px;
    max-height: 280px;
}
.personCard .thumbnailImageContainer{
  border-radius: 100% !important;
} 
.personCard .cardInfo{
  bottom: 25% !important;
} 