#breadcrumb .notifications-wrapper > div {
    width: fit-content !important;
  }

#breadcrumb .breadlinks {
    display: flex;
  }
#breadcrumb .breadlinks div {
    cursor: pointer;
    margin-right: 1vw;
  }
#breadcrumb .rs-body-m-M:hover {
    text-decoration: underline;
  }