#filter-search .hiddenSearchbar{
  display: none !important;
}

#filter-search #simple-search-include .form-group{
  display: none;
}
#filter-search .super-tabs {
margin-top: 25px;
}
#filter-search #simple-search-include input#semantic-search-text-input {
  margin-top: 0vh !important;
  width: 100%;
}
#filter-search .personCard {
  margin: 5px;
}
#filter-search .semantic-table-holder {
  width: unset !important;
  left: unset !important;
}

/* #filter-search .error-notification.panel.panel-default div {
 display: none !important;
}


#filter-search .error-notification.panel.panel-default:before {
  content: "No result. Please try changing your keyword and remove any special characters like ! or /..";
  font-size: 29px;
  font-style: italic;
  display: block !important;
} */

#filter-search .error-notification + .row{
  display: none;
}