 li> a:hover{
  text-decoration: underline;
 }

.icon-holder {
  display: flex;
}

.icon-holder img {
  cursor: pointer;
  height: 25px;
  filter: invert(1);
  margin-right: 15px;
}

.footer {
  display: flex;
  align-items: center;
  min-height: 20vh;
  min-height: 185px;
  background: linear-gradient(0deg, #d6d6d6, #ededed, white);
  padding-left: 10vw;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  padding-right: 10vw;
  padding-bottom: 8vh;
  flex-wrap: wrap;
}

.footer-section {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer * {
  background: none !important;
  color: black;
}
footer a {
  transition: 0.3s;
}
footer a:hover {
  filter: opacity(0.7);
}
.footer h3 {
  font-size: 18px;
}
.footer{
    display: flex;
    flex-direction: column;
}
.FooterLists{
  display: flex;
  gap: 12vw;
}
.FooterMenu{
  margin-right: auto;
}

@media (max-width:800px) {
  .footer{
    justify-content: center !important;
  }
  .footer-section {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 25px;
}
#application > div > footer > div:nth-child(2) > a > img{
  height: 40px !important;
}
}