@import "./header.css";
@import "./resource.css";

body {
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  letter-spacing:0.3px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

a {
  color: #333 !important;
  border-radius: 5px !important;
}

.rs-h2,
h2,
.h2 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  color: #000000;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}

.result-title{
  margin-top: 6vh;
  margin-bottom: 3vh;
  width: 100%;
  font-size: x-large;
  filter: drop-shadow(2px 2px 6px gray);
  text-align: center;
}

.modal-backdrop {
    background-color: #e9e9e9 !important;
}


.navbar-collapse {
  overflow: visible !important;
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: #1c252c;
}


.rs-application .table > tbody > tr > td {
  border-bottom-color: #f4f4f4 !important;
  color: #000000 !important;
}

.semantic-table-holder{
  position: relative;
  width: 80%;
  left: 10%;
}

.rs-application .table > thead > tr > th {
  border-bottom-color: #000000 !important;
  color: #000000 !important;
}

.rs-application .Select-placeholder {
  color: gray;
}

.rs-application .is-open .Select-arrow,
.rs-application .Select-arrow,
.rs-application .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: black;
}

div,
ul,
li,
table,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
select,
.btn {
  color: black !important;
}

.panel-body {
  background-color: white !important;
}

.rs-icon {
  color: #000000 !important;
}
.fa {
  color: #000000 !important;
}
.filetype-text {
  color: #000000 !important;
}

.btn{
  border: none;
}

.btn:active{
  border: none;
}

.btn:hover {
  filter: drop-shadow(0px 3px 4px #a9a9a9) !important;
}
.yasr_btn {
  border-color: #000000 !important;
  color: black !important;
}

.btn-primary,
.btn-xs {
  border-color: #000000 !important;
  color: white !important;
  background-color: #000000 !important;
}

.btn-primary,
.btn-xs .fa {
  color: white !important;
}

.yasr_btn.selected {
  background-color: #00000035 !important;
  color: white !important;
}

.yasr_btn:focus {
  background-color: #000000 !important;
  color: white !important;
}
li a:hover{
  filter: drop-shadow(0px 3px 4px #a9a9a9) !important;
}
a:hover {
  background: none !important;
}

a:focus {
  background: none !important;
}

.active {
  color: black !important;
}

.Dashboard--addItemButton {
  background: white !important;
}

.modal-backdrop {
  background-color: #816e4225;
}

.pagination{
  margin-bottom: 2vh !important ;
  justify-content: center !important;
}

.pagination > li.active,
.pagination > li.active > a {
  background-color: #000000 !important;
  color: white !important;
  text-decoration: none !important;
}

.pagination > li > a {
  font-size: 18px !important;
}



input::placeholder {
  color: #adadad !important;
}
.griddle .top-section input {
  background-blend-mode: luminosity;
  color: black !important;
}

.rs-application .semantic-carousel > .slick-slider .slick-next:before,
.rs-application .semantic-carousel > .slick-slider > .slick-prev:before {
  color: #000000 !important;
}

.rs-button{
    background: whitesmoke !important;
    border-color: black!important;
}
.form-control {
    color: black !important;
    border-bottom: 1px solid #dedede !important;
}

.form-control:focus {
    outline: none;
    border-bottom: 1px solid #d13239 !important;
    -webkit-box-shadow: none;
    box-shadow: none;

}


.thumbnailImage{
  height: 20vh;
  max-height: 185px;
  background-position: center;
}

.thumbnailImage::after{
  background-image: url("/assets/images/media/image_placeholder.jpg");
  top: 0;
  left: 0;
  display: block;
  width: 12.5vw;
  /* min-width: 253px; */
  height: 100%;
  content: "";
  border: none;
  background-position: center;
  background-size: cover;
}

.thumbnailImage[alt]:after {  
  background-image: url("/assets/images/media/image_placeholder.jpg");
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;  
  text-align: center;
  content: attr(alt);
}

.navbar-default .dropdown-menu {
  border-color: rgb(124 38 23 / 15%) !important;
}
.admin{
  cursor: pointer;
  height: 9vh;
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin .dropdownTitle{
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin .dropdownTitle:hover{
  background-color: #e3e3e3;
  transition: 0.3s background-color ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  margin: 0 4vw 0 2vw;
  cursor: pointer;
  height: 9vh;
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .dropdownTitle{
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .dropdownTitle:hover{
  background-color: #e3e3e3;
  transition: 0.3s background-color ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table>tbody>tr>td .rs-page__field-value{
  word-break: normal;
}

.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th
{
  white-space: unset !important;
}
.table-hover>tbody>tr:hover {
  background-color: #f5f5f566 !important;
}

.nav.nav-tabs>li.active {
    box-shadow: inset 0 -3px 0 0 #d13239 !important;
}
.rs-h1{
    color: black !important;
}
.clearable-input {
  background: none !important;
}
.clearable-input .input{
  border-bottom: 1px solid gray !important;
}

.tooltip.bottom .tooltip-arrow{
  border-bottom-color: black !important;
}
.tooltip-inner {
  background-color: lightgray !important;
}
.popover{
  background-color: lightgray !important;
}
::marker {
  color: #b2b2b2;
}


@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}