#iiif-inspect .mirador .researchspace-mirador .qtip-dark {
  background-color: white !important;
}

#iiif-inspect #photo-cards {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
}

#iiif-inspect #photo-cards .card {
  cursor: pointer;
  width: 30vw;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  padding: 1vh;
}

#iiif-inspect #photo-cards .card img {
  height: 6vw;
  max-height: 170px;
  max-width: 170px;
  object-fit: contain;
  user-select: none;
}

#iiif-inspect #photo-cards .card a {
  user-select: none;
}

#iiif-inspect #photo-cards .card:active {
  cursor: grabbing !important;
}

#iiif-inspect #photo-cards .card h4 {
  line-height: 0.6 !important;
  font-weight: bold !important;
  color: #8b2e32 !important ;
  user-select: none;
}

#iiif-inspect .mirador-main-menu-bar {
  display: block !important;
}

#iiif-inspect .mirador-viewer {
  top: 0px !important;
}
