.partnerDescription{
  font-size: 18px;
  line-height: 27px;
}

#partner-page .card-list {
  position: relative;
  width: 75%;
  left: 11%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#partner-page .card-list .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  max-width: 18vw;
  width: 13vw;
  margin: 0.5vw;
  min-width: 275px;
  overflow: hidden;
}
#partner-page .card-list .partner-card .title {
  z-index: 1;
}

#partner-page .card-list .card .title {
  background: white;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #e2e2e2;
  padding: 1vh;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 12px;
}

#partner-page .card-list .card .photo {
  height: 17vh !important;
  min-width: 28vw !important;
  margin: 0 !important;
  object-fit: cover;
}

#partner-page .card-list .card .partner-photo {
  height: 17vh;
  margin: 0 !important;
  object-fit: cover;
  transition: 1.4s;
}

#partner-page .card-list .card .partner-photo:hover {
  transform: scale(1.5);
}

#partner-page .card-list .card .photo-1 {
  object-position: -7vw 8%;
}

#partner-page .card-list .card .photo-2 {
  object-position: -5vw 60%;
}

#partner-page .card-list .card .photo-3 {
  object-position: -7vw 22%;
}
#partner-page .card-list .card .photo-4 {
  object-position: -1vw 30%;
}
#partner-page .card-list .card .photo-5 {
  object-position: -4vw 22%;
}

#partner-page .card-list .card .photo-6 {
  object-position: -7vw 35%;
}
#partner-page .card-list .card .photo-7 {
  object-position: -7vw 42%;
}
#partner-page .card-list .card .photo-8 {
  object-position: -11vw 89%;
}
#partner-page .card-list .card .photo-partners {
  min-width: unset !important;
}

#partner-page .card-list .card img {
  height: 10vh;
  margin: 2vw;
  object-fit: contain;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

#partner-page .card-list .card .subtitle {
  color: #535353;
  position: absolute;
  font-size: medium;
  font-style: italic;
  margin: 1vh;
  align-self: center;
  width: 100%;
  background: #ffffff55;
  bottom: 0;
  text-align: center;
}


#partner-page .jumbotron {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
#partner-page .jumbotron .h1,
#partner-page .jumbotron h1 {
  font-size: 45px;
}


@media (max-width: 800px) {
  #partner-page .catchy-message {
    font-size: 25px;
    width: 90%;
  }
  #partner-page .card-list .card {
    margin: 2vw !important;
  }
}

@media (max-width: 1300px) {
  #partner-page .card-list .card .photo-1 {
    object-position: unset;
  }
  #partner-page .card-list .card .photo-2 {
    object-position: unset;
  }
  #partner-page .card-list .card .photo-3 {
    object-position: unset;
  }
  #partner-page .card-list .card .photo-4 {
    object-position: unset;
  }
  #partner-page .card-list .card .photo-5 {
    object-position: unset;
  }
  #partner-page .card-list .card .photo-6 {
    object-position: unset;
  }
  #partner-page .card-list .card .photo-7 {
    object-position: unset;
  }
  #partner-page .card-list .card .photo-8 {
    object-position: unset;
  }
}
