#person-filter-search  .semantic-table-holder {
    width: 100% !important;
    left: 0% !important;
  }
#person-filter-search  .header-search {
    background-color: #f3f3f1;
    border-color: transparent;
    position: absolute;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(170, 69, 69, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

#person-filter-search  .mapContainer {
    width: 55vw;
    height: 60vh;
  }

#person-filter-search  #header-search.search-page {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: white;
    color: gray !important;
    height: 12vh;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 5vh;
  }

#person-filter-search  #header-search.home-page {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
    color: gray !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    flex-direction: column;
  }

#person-filter-search  #header-search .semantic-form-input-decorator__header {
    display: none;
  }

#person-filter-search  #header-search .cardinality-support__remove-value {
    display: none;
  }

#person-filter-search  #header-search .cardinality-support__add-value {
    display: none;
  }

#person-filter-search  #header-search .form-switch {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#person-filter-search  #header-search .cardinality-support__group-instance {
    padding: 0 !important;
    box-shadow: none !important;
  }

#person-filter-search  #header-search .form-switch__content {
    margin: 0 !important;
  }

#person-filter-search  #header-search .semantic-form-input-decorator {
    margin: 0 !important;
  }

#person-filter-search  #header-search .form-switch__select {
    height: 5vh !important;
    z-index: 100;
    border: none !important;
    border-radius: 4px 0px 0px 4px;
    border-color: none;
    outline: none;
    box-shadow: 0px 0px 9px -10px #ababab;
    text-transform: none !important;
    cursor: pointer;
  }

  /* #header-search .researchspace-table-widget-holder{
  box-shadow: 2px 2px 10px 0px lightgrey;
  border-radius: 0px 0px 10px 10px;
  } */

#person-filter-search  #header-search.search-page input {
  border-radius: 4px;
  width: 100%;
  height: 5vh;
  align-self: center;
  background: white;
  box-shadow: 0px 0px 7px 0px #eaeaea;
}


#person-filter-search  #header-search.home-page input {
    border-radius: 0px 20px 20px 0px;
    width: 41vw;
    height: 5vh;
    align-self: center;
    background: white;
    box-shadow: 0px 0px 12px -5px #ababab;
  }

#person-filter-search  #header-search input:focus {
    border: none !important;
  }

#person-filter-search  #header-search .form-group {
    margin: 0 !important;
  }

#person-filter-search  #header-search-results {
    display: none;
    min-width: 100vw;
    min-height: 100vh;
  }

#person-filter-search  #search:focus-within #header-search-results {
    display: block !important;
  }

#person-filter-search  #search #header-search-results:hover {
    display: block !important;
  }
#person-filter-search  #search:focus-within #header-search-results {
    display: block !important;
  }

#person-filter-search  #searchContent:focus-within + #homepageContent {
    display: none !important;
  }

#person-filter-search  #search #header-search-results:hover {
    display: block !important;
  }

#person-filter-search  #header-search input::placeholder {
    color: gray !important;
  }

#person-filter-search  #header-search-select select {
    height: 5vh !important;
    z-index: 100;
    border: none !important;
    border-radius: 4px 0 0 4px;
    border-color: none;
    outline: none;
    box-shadow: 0px 0px 2px 0px black;
  }

#person-filter-search  #header-search-select .composite-input div {
    display: flex;
    flex-direction: row;
  }

#person-filter-search  .artwork-card {
    width: 10vw !important;
    border-radius: 100% !important;
    height: 10vw !important;
    min-width: 200px;
    min-height: 200px;
    max-width: 280px;
    max-height: 280px;
  }
#person-filter-search  #search-results .rs-grid-element.panel {
    background: white !important;
  }
#person-filter-search  #search-results .rs-grid-element:hover {
    box-shadow: 1px 2px 8px 0 #761f0e35, 1px 3px 12px 2px rgba(0, 0, 0, 0.07);
  }
#person-filter-search  .panel-body {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    user-select: unset !important;
  }
#person-filter-search  .show-facet-button {
    display: none;
  }
#person-filter-search  .nav-tabs {
    display: none;
  }
#person-filter-search  .facet,
#person-filter-search  .semantic-facet-holder {
    width: 100% !important;
    position: relative !important;
    border: none !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
  }

#person-filter-search  .facet__category-selector-holder li {
    border: none !important;
    margin: 5px !important;
  }

#person-filter-search  .facet__relation__content__category-image {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

#person-filter-search  .facet__category-selector-holder .category-selector .category-item-holder {
    min-width: 30px;
  }

#person-filter-search  .FacetSlider--range input.form-control {
    width: 60px !important;
    min-width: 0 !important;
    padding: 4px !important;
  }
#person-filter-search  .facet__category-selector-holder {
    display: none !important;
  }

#person-filter-search  .facet__relation__header {
    border: 1px solid rgb(221, 221, 221);
    margin-top: 5px;
  }

#person-filter-search  .facet__relation__header:hover,
#person-filter-search  .facet__relation__header:focus {
    text-decoration: none;
    color: #000000;
    background-color: rgba(162, 51, 56, 0.06);
  }

  header h1 {
    font-family: Georgia, Serif;
  }

#person-filter-search  .rc-slider.FacetSlider--slider {
    width: 80%;
    margin-left: 10%;
  }

#person-filter-search  .facet__relation__values__filter {
    margin: 0;
  }

#person-filter-search  .contentExcerpt {
    display: inline-block;
    overflow: hidden;
    text-overflow: fade;
    height: 65px;
    margin-top: 10px;
  }

#person-filter-search  .contentExcerpt:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 50px, white);
  }

#person-filter-search  .clearable-input {
    border-radius: 5px;
  }

#person-filter-search  .facet__relation__header {
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 1px 1px 4px 0px lightgrey;
    font-weight: bold;
    height: 5vh;
  }

#person-filter-search  .clearable-input__clear {
    border: none !important;
    border-radius: 5px !important;
    height: 3vh;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 0px 0px lightgrey;
    background: rgb(247 247 247);
  }
#person-filter-search  .clearable-input__clear .fa {
    color: unset !important;
  }

  header {
    margin-top: 4vh;
  }

  h1 {
    font-size: xx-large !important;
  }

#person-filter-search  .filters-container {
    margin-top: 8px;
    position: sticky;
    padding: 1vh;
    top: 17vh;
    z-index: 1;
    background: white;
  }

#person-filter-search  .filter-title {
    width: 100%;
    margin-bottom: 1vh;
    text-align: center;
    font-size: medium;
    text-transform: uppercase;
  }

#person-filter-search  .cardInfo {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center !important;
    bottom: 25%;
    background: #ffffffe8;
    border-radius: 0px 0px 4px 4px;
  }

#person-filter-search  .cardInfoFields {
    padding: 1vh;
  }

#person-filter-search  .thumbnailImageContainer {
    display: flex;
    overflow: hidden;
    height: 100%;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    padding: 0;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    left: 0;
    top: 0;
    min-height: 23vh;
    width: 100%;
    position: absolute;
  }

#person-filter-search  .thumbnailImage {
    width: 100%;
    min-height: 23vh;
    height: unset;
    max-height: unset;
    min-width: unset;
    object-fit: cover;
  }

#person-filter-search  .thumbnailImage[alt]:after {
    background-image: url("/assets/images/media/image_placeholder_person.jpg") !important;
  }

#person-filter-search  .drawingInfo {
    margin-bottom: 2vh;
  }

#person-filter-search  .grid-info {
    font-size: 16px !important;
  }

#person-filter-search  .grid-demo b {
    font-weight: normal;
    color: #777777;
  }
#person-filter-search  .facet__relation__values__value:hover {
    background-color: #f5f5f5;
  }
#person-filter-search  .facet__relation__values__filter {
    filter: none !important;
    border: none;
  }

#person-filter-search  #search-results .rs-grid-element.panel-default {
    border-color: #e9e9e9;
    overflow: hidden;
    padding: 0;
  }
#person-filter-search  #search-results .rs-grid-element .panel-body {
    cursor: pointer;
    font-size: large;
    align-items: center;
    display: flex !important;
  }
#person-filter-search  .rs-application .table > tbody > tr > td {
    border-color: white !important;
    padding: 4px 8px;
  }
#person-filter-search  .rs-page__field {
    display: flex;
    justify-content: flex-start;
  }
#person-filter-search  .rs-page__field-label {
    font-weight: normal;
    color: #777777;
  }
#person-filter-search  .rs-page__field-label-holder {
    min-width: 10vw;
  }

  @media (max-width: 800px) {
#person-filter-search  #person-filter-search  .thumbnailImageContainer {
      justify-content: center;
    }
#person-filter-search  #person-filter-search  .cardInfo {
      left: 0vw;
      top: 0vh;
    }
#person-filter-search  #person-filter-search  .rs-page__field {
      flex-direction: column;
    }
#person-filter-search  #person-filter-search  .table-responsive > .table {
      overflow: hidden;
    }
  }