#photoTable .semantic-table-holder {
  position: unset !important;
  width: unset !important;
  left: unset !important;
}
#photoTable .photographFieldView {
  display: flex;
  border: 1px solid #f5f5f5;
  width: 47%;
  margin-right: 1vw;
  margin-bottom: 15px;
  transition: 0.5s;
}
#photoTable .photographFieldView:hover {
  background: #fbfbfb;
}
#photoTable .rectoVersoCell {
  display: flex;
  padding-left: 1vw;
  justify-content: center;
  align-items: center;
  padding-right: 1vw;
  min-width: 225px;
}
#photoTable .vercoCell {
  margin-left: 15px;
}
#photoTable .centerTitle {
  vertical-align: unset !important;
}