#photograph-lightbox .mirador .researchspace-mirador .qtip-dark {
  background-color: white !important;
}

#photograph-lightbox #photo-cards {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
}

#photograph-lightbox #photo-cards .card {
  cursor: pointer;
  width: fit-content;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  padding: 1vh;
}

#photograph-lightbox #photo-cards .card img {
  height: 6vw;
  max-height: 170px;
  max-width: 170px;
  object-fit: contain;
  user-select: none;
}

#photograph-lightbox #photo-cards .card a {
  user-select: none;
}

#photograph-lightbox #photo-cards .card:active {
  cursor: grabbing !important;
}

#photograph-lightbox #photo-cards .card h4 {
  line-height: 0.6 !important;
  font-weight: bold !important;
  color: #8b2e32 !important ;
  user-select: none;
}

#photograph-lightbox .mirador-main-menu-bar {
  display: block !important;
}

#photograph-lightbox .mirador-viewer {
  top: 0px !important;
}

#photograph-lightbox .semantic-table-holder {
  position: unset !important;
  width: unset !important;
  left: unset !important;
}
#photograph-lightbox .photographFieldView {
  display: flex;
  border: 1px solid #f5f5f5;
  width: 47%;
  margin-right: 1vw;
  margin-bottom: 15px;
  transition: 0.5s;
}
#photograph-lightbox .photographFieldView:hover {
  background: #fbfbfb;
}
#photograph-lightbox .rectoVersoCell {
  display: flex;
  padding-left: 1vw;
  justify-content: center;
  align-items: center;
  padding-right: 1vw;
  min-width: 225px;
}
#photograph-lightbox .vercoCell {
  margin-left: 15px;
}
#photograph-lightbox .centerTitle {
  vertical-align: unset !important;
}

#photograph-lightbox .researchspace-table-widget-holder .griddle-filter .filter-container:before{
  display: none !important;
}

#photograph-lightbox .researchspace-table-widget-holder .griddle-filter .filter-container .form-control {
  background-color: white !important;
}
#photograph-lightbox .top-section {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}