.page__header-draggable-title .page__header-gripper-label {
  max-width: 80vw !important;
  font-size: x-large !important;
}

.workAndProductionInfo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.workAndProductionInfo .workInfoContainer {
  width: 45%;
  margin: 10px;
  padding: 20px;
  min-width: 500px;
  box-shadow: 0px 0px 20px 1px #f8f8f8;
}

.workAndProductionInfo .productionInfoContainer {
  width: 45%;
  margin: 10px;
  padding: 20px;
  min-width: 500px;
  box-shadow: 0px 0px 20px 1px #f8f8f8;
}

.locationMap {
  height: 25vh;
}
.locationMap:empty {
  height: 0;
}

#card-results .nav-tabs {
  display: unset !important;
}

@media (max-width: 1480px) {
  .workAndProductionInfo .productionInfoContainer {
    width: 100% !important;
  }
  .workAndProductionInfo .workInfoContainer {
    width: 100% !important;
  }
}
