/* css for ResourceFieldBasedVisualization component */
#rsbv .headLine {
  border-bottom-color: #f4f4f4 !important;
  border-bottom: 1px solid;
}

#rsbv .rs-page-resource__field-label {
  font-size: medium !important;
  color: #616161;
}

#rsbv .sourceIcons {
  display: flex;
  flex-direction: column;
}

#rsbv .multivalueTd {
  padding: 0 !important;
}

#rsbv .visualizationValue {
  font-size: medium !important;
  min-width: 20vw;
  max-width: 175px;
}

#rsbv .visualizationValue a {
  text-decoration: none !important;
}

#rsbv .rs-page-resource__field-value {
  white-space: normal !important;
}

#rsbv .sourceIcon {
  height: 18px;
  width: 18px;
  padding: 2px;
  margin: 4px;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 1px 1px 3px 1px #e7e7e7;
}

#rsbv .sourceIcon-badge {
}

#rsbv .icon--database {
  margin-right: 2px;
  font-weight: bold;
}

#rsbv .icon--annotation {
  margin-right: 0px !important;
}

#rsbv .icon--assertion {
  margin-right: 0px !important;
}

#rsbv .badge {
  background: #c5c5c5 !important;
  width: 18px;
  height: 18px;
}

#rsbv .rs-page__count--title {
  padding: 0 !important;
}

#rsbv .rs-page__count--field-assertion a {
  text-decoration: none !important;
}

#rsbv .rs-page__count--field-annotation a {
  text-decoration: none !important;
}
#rsbv a {
  color :#6b0000 !important
}

#rsbv .createAssertion {
  transition: 0.3s;
  font-size: 0px ;
}
#rsbv tr:hover .createAssertion{
  font-size: unset;
  border-bottom: 0px !important;
}