/* css for ResourceFieldBasedVisualization component */
#rsbv .headLine {
  border-bottom-color: #f4f4f4 !important;
  border-bottom: 1px solid;
}

#rsbv .rs-page-resource__field-label {
  font-size: medium !important;
  color: #616161;
  white-space: normal;
}

#rsbv .sourceIcons {
  display: flex;
  flex-direction: column;
}

#rsbv .multivalueTd {
  padding: 0 !important;
}

#rsbv .visualizationValue {
  font-size: medium !important;
  display: flex;
  align-items: center;
  min-width: 20vw;
  max-width: 175px;
}

#rsbv .visualizationValue div[date="Invalid date"] {
  display: none;
}
#rsbv .visualizationValue div + span {
  display: none;
}
#rsbv .visualizationValue div[date="Invalid date"] + span {
  display: block;
}

#rsbv .visualizationValue a {
  text-decoration: none !important;
}

#rsbv .rs-page-resource__field-value {
  white-space: normal !important;
}

#rsbv .sourceIcon {
  height: 21.6px;
  width: 21.6px;
  padding: 2px;
  margin: 4px;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 1px 1px 3px 1px #e7e7e7;
}

#rsbv .icon--database {
  margin-right: 2px;
  font-weight: bold;
}

#rsbv .icon--annotation {
  margin-right: 0px !important;
}

#rsbv .icon--assertion {
  margin-right: 0px !important;
}

#rsbv .badge {
  background: #c5c5c5 !important;
  width: 18px;
  height: 18px;
}

#rsbv .rs-page__count--title {
  padding: 0 !important;
}

#rsbv .rs-page__count--field-assertion a {
  text-decoration: none !important;
}

#rsbv .rs-page__count--field-annotation a {
  text-decoration: none !important;
}
#rsbv a {
  color: #6b0000 !important;
}

#rsbv .copyText {
  margin-left: 25px;
  cursor: copy;
}

#rsbv .createAssertion {
  transition: 0.3s;
  font-size: 0px;
}
#rsbv tr:hover .createAssertion {
  font-size: unset;
  border-bottom: 0px !important;
}

#rsbv .rsbv-viewmore-panel .panel-default > .panel-heading {
  background: none !important;
}

#rsbv .rsbv-viewmore-panel h4.panel-title {
  text-transform: none;
  font-size: 16px;
}
#rsbv .rsbv-viewmore-panel h4.panel-title a {
  font-weight: normal;
}

#rsbv .rsbv-viewmore-panel h4.panel-title a::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f077";
}

#rsbv .rsbv-viewmore-panel h4.panel-title a.collapsed::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f078";
}

#rsbv .rsbv-viewmore-panel .panel-default {
  width: 113%;
  box-shadow: none;
  border:none !important;
  margin: 0;
}

#rsbv .rsbv-viewmore-panel .panel-body {
  padding: 0px;
}
