div#search-bar {
  padding: 15px;
  border-radius: 5px;
  height: fit-content;
}

#search-bar .searchBtn i.fa.fa-search {
  color: white !important;
}

#search-bar input#site-search {
  max-height:65px !important;
  margin: 0 !important;
  font-weight: 600;
  padding-left: 150px;
  font-size: 18px;
  border-radius: 4px 0px 0px 4px;
  width: 100%;
  height: 6vh !important;
  border: 0;
  min-height: 50px;
  align-self: center;
  background: white;
  /* box-shadow: 0px 0px 7px 0px #eaeaea;*/
}
#search-bar #simple-search-include > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar .form-group {
  margin: 0%;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
}
#search-bar form {
  display: flex;
  align-items: center;
  width: 100% !important;
  height: 39px !important;
  margin: 0 !important;
}

#search-bar div {
  display: flex;
  align-items: center;
}


#search-bar .searchBtn {
  max-height: 65px !important;
  font-weight: bold;
  height: 6vh !important;
  min-width: 85px;
  transition: 0.4s;
  color: white !important;
  background: #701919 !important;
  min-height: 50px;
  border-radius: 0px 4px 4px 0px;
  font-size: 24px;
  /* box-shadow: 0px 0px 7px 0px #eaeaea; */
}
#search-bar .searchBtn i::before {
  margin-left: 5px;
}

#search-bar .search-btn-activated + .search-btn-disabled {
  display: none;
}
#search-bar .rs-icon {
  margin-left: 5px;
}

#search-bar .system-spinner {
  display: none !important;
}

#search-bar .dropdown.btn-group {
  position: absolute;
  cursor: pointer;

}
#search-bar .dropdown.btn-group button:hover,
#search-bar button.btn.searchBtn:hover {
  filter: none !important;
}

#search-bar button.btn.searchBtn:hover {
  box-shadow: 0 0 4px black;
}


#search-bar .dropdown.btn-group button {
  height: 5vh;
  min-height: 49px;
  min-width: 95px;
  font-size: 16px;
  color: gray !important;
  /* box-shadow: 0px 0px -7px 0px #eaeaea; */
  border: none !important;
  content: "Artwork";
  font-weight: 800 !important;
}

#switches {
  margin-top: 15px;
  justify-content: flex-end;
}

#switches .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  margin-right: 5px;
  height: 30px;
}

#switches .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#switches .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#switches .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#switches input:checked + .slider {
  background-color: #ccc;
}

#switches input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

#switches input:checked + .slider:before {
  -webkit-transform: translateX(26px) !important;
  -ms-transform: translateX(26px) !important;
  transform: translateX(26px) !important;
}

/* Rounded sliders */
#switches .slider.round {
  border-radius: 34px;
}

#switches .slider.round:before {
  border-radius: 50%;
}
#switches-ULAN {
  margin-top: 15px;
  justify-content: flex-end;
}

#switches-ULAN .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  margin-right: 5px;
  height: 30px;
}

#switches-ULAN .switch-ULAN input {
  opacity: 0;
  width: 0;
  height: 0;
}
#switches-ULAN .switch-ULAN {
  position: relative;
  display: inline-block;
  width: 60px;
  margin-right: 5px;
  height: 30px;
}

#switches-ULAN .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#switches-ULAN .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#switches-ULAN .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#switches-ULAN input:checked + .slider {
  background-color: #2196f3;
}

#switches-ULAN input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#switches-ULAN input:checked + .slider:before {
  -webkit-transform: translateX(26px) !important;
  -ms-transform: translateX(26px) !important;
  transform: translateX(26px) !important;
}

/* Rounded sliders */
#switches-ULAN .slider.round {
  border-radius: 34px;
}

#switches-ULAN .slider.round:before {
  border-radius: 50%;
}

#search-bar {
  width: fit-content;
  height: 80px;
}

.advanced-search-options {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-left: 15px;
  width: 150px;
}

.advanced-search-options a{
  color:white !important;
  
}

@media (max-width: 800px) {
  #search-bar input#site-search {
    padding-left: 100px !important;
    font-size: 13px !important;
  }

  #search-bar div {
  display: unset;
  padding-bottom: 6px;
  align-items: center;
}
#search-bar .dropdown.btn-group {
  top:1vh;
 }
  .advanced-search-options{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 25px;
  }
  #search-bar .form-group {
    flex-wrap: wrap;
  }
  #search-bar {
    
  }
  #search-bar form {
    width: 80vw ;
  }
}
