#search-bar input#site-search {
  padding-left: 125px;
  border-radius: 4px 0px 0px 4px;
  width: 100%;
  height: 5vh;
  border: 0;
  min-height: 50px;
  align-self: center;
  background: white;
  box-shadow: 0px 0px 7px 0px #eaeaea;
}
#search-bar #simple-search-include > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar  input#site-search {
  margin: 0 !important;
  height: 39px !important;
}
#search-bar .form-group{
  display: flex;
  align-items: center;
}
#search-bar form {
  display: flex;
  align-items: center;
  width: 60vw ;
  height: 39px !important;
  margin: 0 !important;
}

#search-bar div {
  display: flex;
  align-items: center;
}
#search-bar .searchBtn {
  font-weight: bold;
  height: 5vh !important;
  min-width: 85px;
  min-height: 50px;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 0px 0px 7px 0px #eaeaea;
}
#search-bar .searchBtn i::before {
margin-left: 5px;
}

#search-bar .search-btn-activated + .search-btn-disabled {
  display: none;
}
#search-bar .rs-icon {
  margin-left: 5px;
}

#search-bar .system-spinner {
  display: none !important;
}

#search-bar .dropdown.btn-group {
  position: absolute;
  cursor: pointer;
}
#search-bar .dropdown.btn-group button {
  height: 5vh;
  min-height: 49px;
  min-width: 95px;
  font-size: 16px;
  border-radius: 4px 0px 0px 4px;
  color: gray !important;
  box-shadow: 0px 0px -7px 0px #eaeaea;
  border: none !important;
  content: "Artwork";
}

#switches{
  margin-top: 15px;
  justify-content: flex-end;
}

#switches .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  margin-right: 5px;
  height: 30px;
}

#switches .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#switches .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#switches .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#switches input:checked + .slider {
  background-color: #2196f3;
}

#switches input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#switches input:checked + .slider:before {
  -webkit-transform: translateX(26px) !important;
  -ms-transform: translateX(26px) !important;
  transform: translateX(26px) !important;
}

/* Rounded sliders */
#switches .slider.round {
  border-radius: 34px;
}

#switches .slider.round:before {
  border-radius: 50%;
}

#search-bar{
  width: 54vw;
  height: 80px;
}

@media (max-width: 800px) {
  #search-bar{
    width: 86vw;
  }
  #search-bar form {
    width: 80vw !important;
  }
}
