#similar-artwork-list .similarArtworkCardContainer {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
}
#similar-artwork-list .similarArtworkCard {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 4vh;
}
#similar-artwork-list .similarArtworkCard img {
  height: 33vh;
  object-fit: contain;
  background: whitesmoke;
}
@media (max-width: 1250px) {
  #similar-artwork-list .similarArtworkCard {
    width: 80%;
  }
}
