#similar-artwork-list  .similarArtworkCardContainer {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#similar-artwork-list  .similarArtworkCard {
  width: 48.5%;
}
@media(max-width:1250px)
{
#similar-artwork-list  .similarArtworkCard {
    width: 80%;
  }
}