#start-page .search-actions {
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start-page .search-actions .advancedBtn {
  background: #6b0000 !important;
  border: none;
  min-width: 15vw;
  border-radius: 4px;
  height: 5vh;
  min-height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
}

#start-page .welcomeActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
#start-page .welcomeActions .welcomeAction {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 25px;
}
#start-page .landing-top {
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  background: linear-gradient(-45deg, #d13239, #d5d3d3, #e8e6e6, #fbfbfb);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
#start-page .jumbotron {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
#start-page .jumbotron .h1,
#start-page .jumbotron h1 {
  font-size: 45px;
}

#start-page .component-page-toolbar {
  display: none;
}
#start-page .welcome {
  margin-top: 4vh;
}

#start-page .welcome .message {
  width: 100%;
  text-align: center;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 24px;
  color: black;
  line-height: 1;
  font-family: sans-serif;
  /* -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

#start-page .card-list {
  position: relative;
  width: 75%;
  left: 11%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#start-page .card-list .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  max-width: 18vw;
  width: 13vw;
  margin: 0.5vw;
  min-width: 275px;
  overflow: hidden;
}
#start-page .card-list .card .title {
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #e2e2e2;
  padding: 1vh;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 12px;
}

#start-page .card-list .card .photo {
  height: 17vh !important;
  min-width: 28vw !important;
  margin: 0 !important;
  object-fit: cover;
}
#start-page .card-list .card .photo-1 {
  object-position: -7vw 8%;
}

#start-page .card-list .card .photo-2 {
  object-position: -5vw 60%;
}

#start-page .card-list .card .photo-3 {
  object-position: -7vw 22%;
}
#start-page .card-list .card .photo-4 {
  object-position: -1vw 30%;
}
#start-page .card-list .card .photo-5 {
  object-position: -4vw 22%;
}

#start-page .card-list .card .photo-6 {
  object-position: -7vw 35%;
}
#start-page .card-list .card .photo-7 {
  object-position: -7vw 42%;
}
#start-page .card-list .card .photo-8 {
  object-position: -11vw 89%;
}

#start-page .card-list .card img {
  height: 10vh;
  margin: 2vw;
  object-fit: contain;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

#start-page .card-list .card .subtitle {
  color: #535353;
  position: absolute;
  font-size: medium;
  font-style: italic;
  margin: 1vh;
  align-self: center;
  width: 100%;
  background: #ffffff55;
  bottom: 0;
  text-align: center;
}

#start-page .banner {
  max-width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;
}
#start-page .banner img {
  min-width: 105vw;
  height: 130px;
  object-fit: cover;
  object-position: -4vw 23%;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#start-page .banner .text {
  font-size: 80px;
  position: absolute;
  left: 10vw;
  width: fit-content;
  color: white !important;
  filter: drop-shadow(2px 4px 6px black);
}
#start-page .alert {
  margin-bottom: 0px;
  text-align: center;
}

@media (max-width: 800px) {
  #start-page .card-list .card {
    margin: 2vw !important;
  }
}

@media (max-width: 1300px) {
  #start-page .card-list .card .photo-1 {
    object-position: unset;
  }
  #start-page .card-list .card .photo-2 {
    object-position: unset;
  }
  #start-page .card-list .card .photo-3 {
    object-position: unset;
  }
  #start-page .card-list .card .photo-4 {
    object-position: unset;
  }
  #start-page .card-list .card .photo-5 {
    object-position: unset;
  }
  #start-page .card-list .card .photo-6 {
    object-position: unset;
  }
  #start-page .card-list .card .photo-7 {
    object-position: unset;
  }
  #start-page .card-list .card .photo-8 {
    object-position: unset;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/**
  * ----------------------------------------
  * animation fade-in
  * ----------------------------------------
  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
  * ----------------------------------------
  * animation text-pop-up-top
  * ----------------------------------------
  */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #eeeeee, 0 2px 0 #eeeeee, 0 3px 0 #eeeeee,
      0 4px 0 #eeeeee, 0 5px 0 #eeeeee, 0 6px 0 #eeeeee, 0 7px 0 #eeeeee,
      0 8px 0 #eeeeee, 0 9px 0 #eeeeee, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #eeeeee, 0 2px 0 #eeeeee, 0 3px 0 #eeeeee,
      0 4px 0 #eeeeee, 0 5px 0 #eeeeee, 0 6px 0 #eeeeee, 0 7px 0 #eeeeee,
      0 8px 0 #eeeeee, 0 9px 0 #eeeeee, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

/**
  * ----------------------------------------
  * @animation text-shadow-drop-center
  * ----------------------------------------
  */
@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

/**
  * ----------------------------------------
  * animation focus-in-contract
  * ----------------------------------------
  */
@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
