#new-start-page {
  width: 75%;
  left: 12.5%;
  position: relative;
}

#new-start-page div {
  font-family: "Roboto";
}

#new-start-page .search-bar {
  width: 100% !important;
}

#new-start-page .search-actions {
  width: 100%;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
#new-start-page .search-actions #search-bar {
  width: 100% !important;
}
#new-start-page .search-actions #search-bar form {
  width: 100% !important;
}

#new-start-page .section-title {
  font-size: 36px;
  padding-top: 35px;
}
#new-start-page .section-body {
  margin-top: 20px;
}
#new-start-page section.cool-background {
  position: relative;
  left: -17%;
  padding-right: 17%;
  padding-left: 17%;
  padding-bottom: 3%;
  width: 100vw;
  background: linear-gradient(-45deg, #afe3ff, #d3d4d5, #e6e8e8, #fbfbfb);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

#new-start-page section {
  margin-bottom: 70px;
}

#new-start-page .tall-card-list {
  display: flex;
  justify-content: space-between;
}

#new-start-page .tall-card-list .tall-card {
  height: 40vh;
  width: 14vw;
  max-width: 280px;
  max-width: 450px;
  border-radius: 5px;
  background: rgb(139, 139, 139);
  cursor: pointer;
  transition: 0.7s;
}
#new-start-page .tall-card-body:hover{
  background: linear-gradient(
    180deg,
    rgba(216, 216, 216, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

#new-start-page .tall-card-body:hover > .tall-card-button {
  border: 1px solid #d6d6d6 !important;
  font-size: 14px !important;
}

#new-start-page .tall-card:nth-child(1) {
  background: url("/assets/images/media/michelangelo_portrait.jpg") center
    no-repeat;
  background-size: 150% !important;
}
#new-start-page .tall-card:nth-child(2) {
  background: url("/assets/images/media/fratelli.jpg") center no-repeat;
  background-size: 230% !important;
}
#new-start-page .tall-card:nth-child(3) {
  background: url("/assets/images/media/british_museum.jpg") center no-repeat;
  background-size: 130% !important;
}
#new-start-page .tall-card:nth-child(4) {
  background: url("/assets/images/media/partners.jpg") center no-repeat;
  background-size: 180% !important;
}

#new-start-page .tall-card:nth-child(1):hover {
  background-size: 160% !important;
}
#new-start-page .tall-card:nth-child(2):hover {
  background-size: 240% !important;
}
#new-start-page .tall-card:nth-child(3):hover {
  background-size: 140% !important;
}
#new-start-page .tall-card:nth-child(4):hover {
  background-size: 190% !important;
}

#new-start-page .tall-card-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  transition: 0.7s;
  padding: 15px;
  flex-direction: column;
  color: white !important;
  background: linear-gradient(
    180deg,
    rgba(216, 216, 216, 0) 0%,
    rgba(0, 0, 0, 0.42) 100%
  );
}

#new-start-page .tall-card-body .tall-card-title {
  font-size: 24px;
}

#new-start-page .tall-card-body .tall-card-subtitle {
  font-size: 16px;
}

#new-start-page .tall-card-body .tall-card-button {
  font-weight: bold;
  left: 29%;
  position: relative;
  padding: 15px;
  border-radius: 4px;
  bottom: 25%;
  transition: 0.7s;
  font-size: 0px;
}

#new-start-page .search-actions .advancedBtn li img {
  height: 24px;
  margin-right: 5px;
}

#new-start-page .search-actions .advancedBtn {
  border: none;
  text-align: center;
  min-width: 15vw;
  border-radius: 4px;
  height: 5vh;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  transition: 0.4s;
  text-decoration: none;
}

#new-start-page .search-actions .advancedBtn::before {
  margin-right: 5px;
}

#new-start-page .search-actions .advancedBtn:hover {
  text-decoration: underline;
}

#new-start-page .text-with-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#new-start-page .text-with-image.column {
  flex-direction: column;
}
#new-start-page .text-with-image .text {
  font-size: 20px;
  width: 80%;
  margin-right: 20px;
}

#new-start-page .text-with-image .text div {
  margin-bottom: 40px;
}

#new-start-page .text-with-image img {
  height: 17vh;
  object-fit: cover;
  border-radius: 5px;
}

#new-start-page .text-with-image img.banner {
  height: 225px;
  filter: drop-shadow(1px 3px 1px gray);
  object-fit: contain;
}

#underDevAlert {
  border-radius: 0px 25px 0px 0px;
  z-index: 11;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  text-align: center;
}

#new-start-page .grid-card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  min-height: 70vh;
  margin: 0 auto;
}

#new-start-page .grid-card-list .grid-card {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-size: cover !important;
  background: rgb(139, 139, 139);
  cursor: pointer;
  transition: 0.7s;
}

#new-start-page .grid-card-list .grid-card:hover {
  filter: brightness(0.7);
}

#new-start-page .grid-card-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 15px;
  flex-direction: column;
  color: white !important;
  background: linear-gradient(
    180deg,
    rgba(216, 216, 216, 0) 0%,
    rgba(0, 0, 0, 0.42) 100%
  );
}
#new-start-page .grid-card-body .grid-card-title {
  font-size: 24px;
}

#new-start-page .grid-card-body .grid-card-subtitle {
  font-size: 16px;
}

.grid-card:nth-child(1) {
  grid-column: span 1;
  grid-row: span 6;
}

.grid-card:nth-child(2) {
  grid-column: span 2;
  grid-row: span 5;
}
.grid-card:nth-child(3) {
  grid-column: span 1;
  grid-row: span 4;
}
.grid-card:nth-child(4) {
  grid-column: span 1;
  grid-row: span 8;
}
.grid-card:nth-child(5) {
  grid-column: span 1;
  grid-row: span 7;
}
.grid-card:nth-child(6) {
  grid-column: span 1;
  grid-row: span 4;
}
.grid-card:nth-child(7) {
  grid-column: span 1;
  grid-row: span 6;
}

.grid-card:nth-child(8) {
  grid-column: span 1;
  grid-row: span 3;
}

#new-start-page .bubble-card-list {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

#new-start-page .bubble-card-list .bubble-card {
  height: 250px;
  width: 250px;
  border-radius: 100% !important;
  border-radius: 5px;
  background: rgb(139, 139, 139);
  cursor: pointer;
  transition: 0.7s;
}

#new-start-page .bubble-card:nth-child(1) {
  background: url("/assets/images/media/advanced_example_a.jpg") center
    no-repeat;
  margin-top: 50px;
  -webkit-animation: animateBubble-1 2.2s linear infinite alternate,
    sideways 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble-1 2.2s linear infinite alternate,
    sideways 2s ease-in-out infinite alternate;
  animation: animateBubble-1 2.2s linear infinite alternate,
    sideways 2s ease-in-out infinite alternate;
}
#new-start-page .bubble-card:nth-child(2) {
  background: url("/assets/images/media/advanced_example_b.jpg") center
    no-repeat;
  margin-top: 0px;
  height: 280px;
  width: 280px;
  -webkit-animation: animateBubble-2 1.4s linear infinite alternate,
    sideways 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble-2 1.4s linear infinite alternate,
    sideways 2s ease-in-out infinite alternate;
  animation: animateBubble-2 1.4s linear infinite alternate,
    sideways 2s ease-in-out infinite alternate;
}
#new-start-page .bubble-card:nth-child(3) {
  background: url("/assets/images/media/advanced_example_c.jpg") center no-repeat;
  margin-top: 200px;
  -webkit-animation: animateBubble-3 3s linear infinite alternate,
    sideways 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble-3 3s linear infinite alternate,
    sideways 2s ease-in-out infinite alternate;
  animation: animateBubble-3 3s linear infinite alternate,
    sideways 2s ease-in-out infinite alternate;
}
#new-start-page .bubble-card:nth-child(4) {
  background: url("/assets/images/media/advanced_example_d.jpg") center
    no-repeat;
  background-size: 180% !important;
  margin-top: 150px;
  height: 300px;
  width: 300px;
  -webkit-animation: animateBubble-4 3.1s linear infinite alternate,
    sideways 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble-4 3.1s linear infinite alternate,
    sideways 2s ease-in-out infinite alternate;
  animation: animateBubble-4 3.1s linear infinite alternate,
    sideways 2s ease-in-out infinite alternate;
}

#new-start-page .bubble-card:hover {
  width: 350px;
  height: 350px;
}

#new-start-page .bubble-card-body {
  width: 100%;
  height: 100%;
  border-radius: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  color: white !important;
  background: linear-gradient(
    180deg,
    rgba(216, 216, 216, 0) 0%,
    rgba(0, 0, 0, 0.42) 100%
  );
}

#new-start-page .bubble-card-body .bubble-card-title {
  font-size: 24px;
  text-align: center;
}

#new-start-page .bubble-card-body .bubble-card-subtitle {
  font-size: 16px;
  text-align: center;
}

#new-start-page .bubble-card-body .bubble-card-button {
  font-weight: bold;
  left: 29%;
  position: relative;
  border: 1px solid #d6d6d6;
  padding: 15px;
  border-radius: 4px;
  bottom: 25%;
}

@media (max-width: 600px) {
}

@media (max-width: 800px) {
  #new-start-page section.cool-background {
    width: 110vw;
  }
  #new-start-page .text-with-image {
    flex-wrap: wrap;
  }
  #new-start-page .tall-card-list .tall-card {
    width: 400px !important;
  }
  #new-start-page {
    width: 90%;
    left: 5%;
    position: relative;
  }

  #new-start-page #search-bar input#site-search {
    min-width: 70vw;
  }
  #new-start-page .grid-card-list {
    display: flex;
    flex-direction: column;
  }
  #new-start-page .grid-card {
    height: 30vh !important;
    margin-bottom: 0rem;
  }
  #new-start-page .bubble-card {
    margin:  unset !important;
    margin-bottom: 20px !important; 
    width: 300px !important;
    height: 300px !important;
  }
}

@media (max-width: 1300px) {
  #new-start-page .bubble-card-list {
    display: flex;
    flex-wrap: wrap;
  }
  #new-start-page .bubble-card-list .bubble-card:hover {
    width: 225px;
    height: 225px;
  }
  #new-start-page .tall-card-list {
    flex-wrap: wrap;
  }

  #new-start-page .text-with-image .text {
    font-size: 16px;
  }
  #new-start-page .text-with-image .text div {
    margin-bottom: 20px;
  }
  #new-start-page .text-with-image img {
    height: 100px;
  }
  #new-start-page .text-with-image img.banner {
    height: 135px;
  }
  #new-start-page .tall-card-list .tall-card {
    background-position-y: 30% !important;
    height: 340px;
    width: 330px;
    margin-right: 20px;
    margin-bottom: 40px;
    min-width: unset;
    min-height: unset;
    max-width: unset;
    max-width: unset;
  }
  #new-start-page .tall-card-body .tall-card-button {
    left: 37%;
    bottom: 26%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/**
  * ----------------------------------------
  * animation fade-in
  * ----------------------------------------
  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
  * ----------------------------------------
  * animation text-pop-up-top
  * ----------------------------------------
  */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #eeeeee, 0 2px 0 #eeeeee, 0 3px 0 #eeeeee,
      0 4px 0 #eeeeee, 0 5px 0 #eeeeee, 0 6px 0 #eeeeee, 0 7px 0 #eeeeee,
      0 8px 0 #eeeeee, 0 9px 0 #eeeeee, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #eeeeee, 0 2px 0 #eeeeee, 0 3px 0 #eeeeee,
      0 4px 0 #eeeeee, 0 5px 0 #eeeeee, 0 6px 0 #eeeeee, 0 7px 0 #eeeeee,
      0 8px 0 #eeeeee, 0 9px 0 #eeeeee, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

/**
  * ----------------------------------------
  * @animation text-shadow-drop-center
  * ----------------------------------------
  */
@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

/**
  * ----------------------------------------
  * animation focus-in-contract
  * ----------------------------------------
  */
@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble-1 {
  0% {
    margin-top: 60px;
  }
  100% {
    margin-top: 50px;
  }
}

@-moz-keyframes animateBubble-1 {
  0% {
    margin-top: 60px;
  }
  100% {
    margin-top: 50px;
  }
}

@keyframes animateBubble-1 {
  0% {
    margin-top: 60px;
  }
  100% {
    margin-top: 50px;
  }
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble-2 {
  0% {
    margin-top: 300px;
  }
  100% {
    margin-top: 290px;
  }
}

@-moz-keyframes animateBubble-2 {
  0% {
    margin-top: 300px;
  }
  100% {
    margin-top: 290px;
  }
}

@keyframes animateBubble-2 {
  0% {
    margin-top: 300px;
  }
  100% {
    margin-top: 290px;
  }
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble-3 {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}

@-moz-keyframes animateBubble-3 {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes animateBubble-3 {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble-4 {
  0% {
    margin-top: 210px;
  }
  100% {
    margin-top: 200px;
  }
}

@-moz-keyframes animateBubble-4 {
  0% {
    margin-top: 210px;
  }
  100% {
    margin-top: 200px;
  }
}

@keyframes animateBubble-4 {
  0% {
    margin-top: 210px;
  }
  100% {
    margin-top: 200px;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 10px;
  }
}

@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 10px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 10px;
  }
}
