#statistics  .page{
    padding-top: 0  !important;
  }
#statistics  .totalLabel{
    display: flex;
    text-align: left; 
    width: 100%;
    margin-left: 0.4vw;
    margin-bottom: 1vh;
  }
#statistics  .totalLabel h1{
  margin-left: 0.7vw;
  }

#statistics  .totalLabel .totalLabelDescription{
    color: #5a5a5a;
  }

#statistics  .chartContainer{
    display: flex;
    flex-wrap: wrap;
  }
#statistics  .chartObject{
    width: 49vw;
    min-width: 460px;
  }
#statistics  .popover {
    color: black !important;
  }
#statistics  .jumbotron {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
#statistics  .jumbotron h1 {
    font-size: 48px;
  }
#statistics  .ComponentToolbar--actions {
    margin-left: 1vw;
  }