#institution-summary-images .summaryImages {
  display: flex;
  justify-content: center;
  background: #f5f5f5;
  border-radius: 4px !important;
  max-height: 45vh;
  overflow-y: scroll;
}

#institution-summary-images .imageThumbnail {
  height: 40vh;
  max-height: 400px;
  margin: 1vw;
  cursor: pointer;
  background-position: center;
}

#work-summary-images  .SemanticTimeline--timeline {
    width: 90vw;
    min-height: 40vh;
    top: 0.5vh;
  }

#work-summary-images  .vis-item {
    border-color: transparent !important;
    background-color: #ffffff !important;
    box-shadow: 0px 0px 20px 1px #cdcdcd;
  }

#work-summary-images  .timeline-card a {
    margin-left: 15px;
    color: var(--color-icon-primary) !important;
  }

#work-summary-images  .timeline-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
#work-summary-images  .modal-body .system-spinner{
    display: block !important;
  }
#work-summary-images  .system-spinner {
    display: none !important;
  }
#work-summary-images  .imageAndSourceContainer:hover .imageSourceIcon {
    display: block;
  }

#work-summary-images  .imageSourceIcon {
    position: relative;
    height: 0;
    width: 0;
    top: 2vh;
    left: 1vw;
    display: none;
  }
#work-summary-images  .imageSourceIcon .sourceIcon {
    box-shadow: none !important;
    background: white;
    opacity: 0.7;
    height: 18px;
    width: 18px;
    padding: 2px;
    margin: 4px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 1px 1px 3px 1px #e7e7e7;
  }

.rectoVersoMirador {
    display: flex;
  }

 .mirador .researchspace-mirador.mirador-container .mirador-viewer {
    background-color: #f5f5f5 !important;
  }
 .mirador .researchspace-mirador.mirador-container .book-view,
 .mirador .researchspace-mirador.mirador-container .image-view,
 .mirador .researchspace-mirador.mirador-container .mirador-osd,
 .mirador .researchspace-mirador.mirador-container .scroll-view,
 .mirador .researchspace-mirador.mirador-container .thumbnail-view {
    background-color: #f5f5f5;
  }
 .modal-body img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

#work-summary-images  .navbar-flex-end {
    display: flex;
    justify-content: flex-end;
  }
#work-summary-images  .summaryImages {
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    border-radius: 4px !important;
    max-height: 45vh;
    overflow-y: scroll;
  }
#work-summary-images  .rs-page__summary-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

#work-summary-images  .summary-image-with-thumbs {
    flex-direction: column;
    max-height: unset !important;
    overflow-y: unset !important;
  }
#work-summary-images  .summary-image-main {
    display: flex;
    justify-content: center;
    min-height: 42vh;
  }
#work-summary-images  .summary-image-main img {
    object-fit: contain;
  }
#work-summary-images  .summary-image-thumbs {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
  }
#work-summary-images  .imageThumbnailSingle {
    height: 40vh;
    margin: 1vh;
    cursor: pointer;
    background-position: center;
  }
#work-summary-images  .smallThumbsSingle {
    height: 4vh;
    max-width: unset;
    max-height: unset;
  }
#work-summary-images  .imageThumbnail {
    height: 40vh;
    max-height: 400px;
    margin: 1vw;
    cursor: pointer;
    background-position: center;
  }
#work-summary-images  .modal-content {
    background-color: #f5f5f5 !important;
  }
  button.close {
    opacity: 1;
    font-size: 55px !important;
  }
#work-summary-images  .overlay-lightbox__body {
    padding: 0px !important;
  }
#work-summary-images  .modal-content {
    border: none !important;
    box-shadow: none !important;
  }
