<div id="photoTable">
  <semantic-query
    query='  
      SELECT distinct ?pharos_value {
         ?subject owl:sameAs ?? .
  GRAPH ?graph {
    ?subject crm:P67i_is_referred_to_by ?related_document.
    ?related_document crm:P2_has_type <http://vocab.getty.edu/aat/300435412>.
  }
 ?related_document crm:P70i_is_documented_in ?pharos_value.
      }LIMIT 1'
    no-result-template="<div></div>"
    template="{{> showTitle}}"
  >
      <template id="showTitle">
        <div style="width: 93.5%" class="productionInfoContainer">
          <div id="photoTable">
          <div>
            <div style="margin-top: 45px"><h2>Related Objects</h2></div>
          </div>
            <div class="table-of-animation">
              <div class="animated-background-long-line rs-page-resource__field-label-holder"></div>
              <div class="animated-background-long-line rs-page-resource__field-label-holder"></div>
              <div class="animated-background-long-line rs-page-resource__field-label-holder"></div>
              <div class="animated-background-long-line rs-page-resource__field-label-holder"></div>
              <div class="animated-background-long-line rs-page-resource__field-label-holder"></div>
              <div class="animated-background-long-line rs-page-resource__field-label-holder"></div>
            </div>
    
        <semantic-table
    options='{"showFilter":false}'
    number-of-displayed-rows="4"
    query='
      SELECT distinct  ?pharos_value WHERE {
          ?subject owl:sameAs ?? .
          GRAPH ?graph {
            $subject crm:P67i_is_referred_to_by ?related_document.
            ?related_document crm:P2_has_type <http://vocab.getty.edu/aat/300435412>.
          }
          ?related_document crm:P70i_is_documented_in ?doc.
          ?doc owl:sameAs ?pharos_value.
          ?pharos_value a fc:work
      }'

    tuple-template="{{> photos}}"
    no-result-template=''

  >
      <template id="photos">
        <semantic-link class="photographFieldView" iri="{{pharos_value.value}}">
            <td class="rectoVersoCell">
              <semantic-query
                query='
                  SELECT distinct ?photoUri ?rectoImage ?work where{
                    BIND (<{{pharos_value.value}}> as ?work).
                    ?work fr:Work_depicted_by_Photo ?photo.
                    ?photo crm:P129i_is_subject_of ?fullsizeImages.
                    BIND(REPLACE(STR(?fullsizeImages),"full/full","full/!100,100") AS ?rectoImage).
                    FILTER NOT EXISTS { 
                      ?fullsizeImages crm:P2_has_type ?type.
                      ?type rdfs:label "verso"
                    }
                  }
                '
                template="{{>rectoImageThumb}}"
                no-result-template="{{>noimage}}"
              >
              <template id="noimage">
                    <img
                      src="/assets/images/media/image_placeholder.jpg"
                      style="max-height: 100px; margin: 0 auto"
                      class="img-rounded"
                    />
              </template>
                <template id="rectoImageThumb">
                    <img
                      src="{{bindings.0.rectoImage.value}}"
                      style="max-height: 100px; margin: 0 auto"
                      class="img-rounded"
                    />
                </template>
              </semantic-query>
            </td>
            <div class="photographFieldViewData">
              <mp-field-visualization
                subject="{{pharos_value.value}}"
                additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?doc WHERE { ?doc owl:sameAs ?resource }" resource=this.iri)]]'
                fields='[[fieldDefinitions  
                  Title="https://artresearch.net/fieldDefinition/2"  
                  Archive="https://artresearch.net/container/fieldDefinitionContainer/Photo_Archive_2" 
                ]]'
                template="{{>productionInfo}}"
              >
                <template id="productionInfo">
                  {{#if noData}}
                    <div id="rsbv" class="table-responsive rs-table">
                      <table class="table table-hover">
                        <tbody>
                          <tr>
                            <td>No quick preview available. Click on the photo to view details.</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  {{else}} 
                    [[> ResourceFieldBasedVisualization showSourceIcon="true"  subject=[[this]] ]]
                  {{/if}}
                </template>
              </mp-field-visualization>
            </div>
        </semantic-link>
      </template>
  </semantic-table>
    </div>
  </div>
  </template>
  </semantic-query> 

</div>

