<tbody>
  <tr class="standard-row">
    <td>
      <span
        ><span
          ><img src="https://ids.lib.harvard.edu/ids/iiif/418572192/full/!200,200/0/native.jpg"
            title="https://ids.lib.harvard.edu/ids/iiif/418572192/full/!200,200/0/native.jpg"
            class=""
            target="_self"
            draggable="true"/>https://ids.lib.harvard.edu/ids/iiif/418572192/full/!200,200/0/native.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
    <td>
      <span
        ><span
          ><img src="https://iiif.artresearch.net/iiif/2/zeri!57200%252157174_g.jpg/full/!200,200/0/default.jpg"
            title="https://iiif.artresearch.net/iiif/2/zeri!57200!57174_g.jpg/full/!200,200/0/default.jpg"
            class=""
            target="_self"
            draggable="true"/>https://iiif.artresearch.net/iiif/2/zeri!57200!57174_g.jpg/full/!200,200/0/default.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
  </tr>
  <tr class="standard-row">
    <td>
      <span
        ><span
          ><img src="https://ids.lib.harvard.edu/ids/iiif/417622758/full/!200,200/0/native.jpg"
            title="https://ids.lib.harvard.edu/ids/iiif/417622758/full/!200,200/0/native.jpg"
            class=""
            target="_self"
            draggable="true"/>https://ids.lib.harvard.edu/ids/iiif/417622758/full/!200,200/0/native.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
    <td>
      <span
        ><span
          ><img src="https://iiif.artresearch.net/iiif/2/zeri!57600%252157239_g.jpg/full/!200,200/0/default.jpg"
            title="https://iiif.artresearch.net/iiif/2/zeri!57600!57239_g.jpg/full/!200,200/0/default.jpg"
            class=""
            target="_self"
            draggable="true"/>https://iiif.artresearch.net/iiif/2/zeri!57600!57239_g.jpg/full/!200,200/0/default.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
  </tr>
  <tr class="standard-row">
    <td>
      <span
        ><span
          ><img src="https://ids.lib.harvard.edu/ids/iiif/417622754/full/!200,200/0/native.jpg"
            title="https://ids.lib.harvard.edu/ids/iiif/417622754/full/!200,200/0/native.jpg"
            class=""
            target="_self"
            draggable="true"/>https://ids.lib.harvard.edu/ids/iiif/417622754/full/!200,200/0/native.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
    <td>
      <span
        ><span
          ><img src="https://iiif.artresearch.net/iiif/2/zeri!57600%252157239_g.jpg/full/!200,200/0/default.jpg"
            title="https://iiif.artresearch.net/iiif/2/zeri!57600!57239_g.jpg/full/!200,200/0/default.jpg"
            class=""
            target="_self"
            draggable="true"/>https://iiif.artresearch.net/iiif/2/zeri!57600!57239_g.jpg/full/!200,200/0/default.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
  </tr>
  <tr class="standard-row">
    <td>
      <span
        ><span
          ><img src="https://ids.lib.harvard.edu/ids/iiif/418571320/full/!200,200/0/native.jpg"
            title="https://ids.lib.harvard.edu/ids/iiif/418571320/full/!200,200/0/native.jpg"
            class=""
            target="_self"
            draggable="true"/>https://ids.lib.harvard.edu/ids/iiif/418571320/full/!200,200/0/native.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
    <td>
      <span
        ><span
          ><img src="https://iiif.artresearch.net/iiif/2/zeri!146400%2521146089_g.jpg/full/!200,200/0/default.jpg"
            title="https://iiif.artresearch.net/iiif/2/zeri!146400!146089_g.jpg/full/!200,200/0/default.jpg"
            class=""
            target="_self"
            draggable="true"/>https://iiif.artresearch.net/iiif/2/zeri!146400!146089_g.jpg/full/!200,200/0/default.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
  </tr>
  <tr class="standard-row">
    <td>
      <span
        ><span
          ><img src="https://ids.lib.harvard.edu/ids/iiif/418571340/full/!200,200/0/native.jpg"
            title="https://ids.lib.harvard.edu/ids/iiif/418571340/full/!200,200/0/native.jpg"
            class=""
            target="_self"
            draggable="true"/>https://ids.lib.harvard.edu/ids/iiif/418571340/full/!200,200/0/native.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
    <td>
      <span
        ><span
          ><img src="https://iiif.artresearch.net/iiif/2/zeri!146400%2521146089_g.jpg/full/!200,200/0/default.jpg"
            title="https://iiif.artresearch.net/iiif/2/zeri!146400!146089_g.jpg/full/!200,200/0/default.jpg"
            class=""
            target="_self"
            draggable="true"/>https://iiif.artresearch.net/iiif/2/zeri!146400!146089_g.jpg/full/!200,200/0/default.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
  </tr>
  <tr class="standard-row">
    <td>
      <span
        ><span
          ><img src="https://ids.lib.harvard.edu/ids/iiif/25092799/full/!200,200/0/native.jpg"
            title="https://ids.lib.harvard.edu/ids/iiif/25092799/full/!200,200/0/native.jpg"
            class=""
            target="_self"
            draggable="true"/>https://ids.lib.harvard.edu/ids/iiif/25092799/full/!200,200/0/native.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
    <td>
      <span
        ><span
          ><img src="https://iiif.artresearch.net/iiif/2/zeri!56400%252156195_g.jpg/full/!200,200/0/default.jpg"
            title="https://iiif.artresearch.net/iiif/2/zeri!56400!56195_g.jpg/full/!200,200/0/default.jpg"
            class=""
            target="_self"
            draggable="true"/>https://iiif.artresearch.net/iiif/2/zeri!56400!56195_g.jpg/full/!200,200/0/default.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
  </tr>
  <tr class="standard-row">
    <td>
      <span
        ><span
          ><img src="https://ids.lib.harvard.edu/ids/iiif/46197296/full/!200,200/0/native.jpg"
            title="https://ids.lib.harvard.edu/ids/iiif/46197296/full/!200,200/0/native.jpg"
            class=""
            target="_self"
            draggable="true"/>https://ids.lib.harvard.edu/ids/iiif/46197296/full/!200,200/0/native.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
    <td>
      <span
        ><span
          ><img src="https://iiif.artresearch.net/iiif/2/zeri!55200%252155059_g.jpg/full/!200,200/0/default.jpg"
            title="https://iiif.artresearch.net/iiif/2/zeri!55200!55059_g.jpg/full/!200,200/0/default.jpg"
            class=""
            target="_self"
            draggable="true"/>https://iiif.artresearch.net/iiif/2/zeri!55200!55059_g.jpg/full/!200,200/0/default.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
  </tr>
  <tr class="standard-row">
    <td>
      <span
        ><span
          ><img src="https://ids.lib.harvard.edu/ids/iiif/46197296/full/!200,200/0/native.jpg"
            title="https://ids.lib.harvard.edu/ids/iiif/46197296/full/!200,200/0/native.jpg"
            class=""
            target="_self"
            draggable="true"/>https://ids.lib.harvard.edu/ids/iiif/46197296/full/!200,200/0/native.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
    <td>
      <span
        ><span
          ><img src="https://iiif.artresearch.net/iiif/2/zeri!55200%252155060_g.jpg/full/!200,200/0/default.jpg"
            title="https://iiif.artresearch.net/iiif/2/zeri!55200!55060_g.jpg/full/!200,200/0/default.jpg"
            class=""
            target="_self"
            draggable="true"/>https://iiif.artresearch.net/iiif/2/zeri!55200!55060_g.jpg/full/!200,200/0/default.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
  </tr>
  <tr class="standard-row">
    <td>
      <span
        ><span
          ><img src="https://ids.lib.harvard.edu/ids/iiif/46197296/full/!200,200/0/native.jpg"
            title="https://ids.lib.harvard.edu/ids/iiif/46197296/full/!200,200/0/native.jpg"
            class=""
            target="_self"
            draggable="true"/>https://ids.lib.harvard.edu/ids/iiif/46197296/full/!200,200/0/native.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
    <td>
      <span
        ><span
          ><img src="https://iiif.artresearch.net/iiif/2/zeri!55200%252155120_g.jpg/full/!200,200/0/default.jpg"
            title="https://iiif.artresearch.net/iiif/2/zeri!55200!55120_g.jpg/full/!200,200/0/default.jpg"
            class=""
            target="_self"
            draggable="true"/>https://iiif.artresearch.net/iiif/2/zeri!55200!55120_g.jpg/full/!200,200/0/default.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
  </tr>
  <tr class="standard-row">
    <td>
      <span
        ><span
          ><img src="https://ids.lib.harvard.edu/ids/iiif/417622742/full/!200,200/0/native.jpg"
            title="https://ids.lib.harvard.edu/ids/iiif/417622742/full/!200,200/0/native.jpg"
            class=""
            target="_self"
            draggable="true"/>https://ids.lib.harvard.edu/ids/iiif/417622742/full/!200,200/0/native.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
    <td>
      <span
        ><span
          ><img src="https://iiif.artresearch.net/iiif/2/zeri!57600%252157239_g.jpg/full/!200,200/0/default.jpg"
            title="https://iiif.artresearch.net/iiif/2/zeri!57600!57239_g.jpg/full/!200,200/0/default.jpg"
            class=""
            target="_self"
            draggable="true"/>https://iiif.artresearch.net/iiif/2/zeri!57600!57239_g.jpg/full/!200,200/0/default.jpg<button class="btn btn-link btn-xs" title="Copy IRI">
            <i class="fa fa-clipboard text-muted"></i></button></span
      ></span>
    </td>
  </tr>
</tbody>
