<div id="partner-page">
  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1 style="margin-left: 13vw" class="display-13">Contact Info</h1>
    </div>
    <div style="margin-left: 13vw">
        You can contact us throught our email:  <p><a class="mailTo"  href="mailto:someone@example.com">info@artresearch.com</a></p>

    </div>
    &nbsp;&nbsp;
    <br>
    &nbsp;&nbsp;
    <br>
    &nbsp;&nbsp;
    </div>
</div>
<style>
    .docSection{
        padding-top: 4vh;
    }

    details {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    padding: .5em .5em 0;
    width: 80%;
    transition: 1s;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid rgb(223, 223, 223);
    margin-bottom: .5em;
}
</style>