
  <div>
    <div style="width: 96vw; height: 80vh">
      <rs-iiif-mirador
        image-or-region="[[this]]"
        image-id-pattern='
            BIND("image" AS ?type). BIND(?subject AS ?imageIRI).
            ?subject fr:Work_depicted_by_Photo ?photo.
            ?photo crm:P129i_is_subject_of <{{image.value}}>.
            <{{image.value}}> crm:P2_has_type <http://iiif.io/api/image>.
            BIND(REPLACE(STR("{{image.value}}"), "full/!700,700", "full/full") AS ?fotoIndexId).
            BIND(REPLACE(STR(REPLACE(STR(?fotoIndexId), "/full/full/0/*", "")), "(^.*)\\/(.*)$", "$2") AS ?idWithDefaultNative)
            BIND(REPLACE(?idWithDefaultNative,"default.jpg","") AS ?idWithNative).
            BIND(REPLACE(?idWithNative,"native.jpg","") AS ?imageID).
            '
        iiif-server-url="{{iiifServer.value}}"
      >
      </rs-iiif-mirador>
    </div>
  </div>
