<!-- 
# Solr score performance hack

For solr requests that generate many results the data that is transferred from solr to blazegraph is huge, to minimize that we need to make sure that we request score from solr only when it is actually needed. And currently it is only in the actual result visualization components (list, table, etc.).

To do that we make use "?params" variable in the fts:params property inside <semantic-search-query-keyword>, and then BIND this variable to the actual value in all components that use this query. Something like BIND(\"fl=id&defType=dismax&rows=100000\" AS ?params) when we don't need score and BIND(\"fl=id,score&defType=dismax&rows=100000\" AS ?params) when we do need it.

When solr parameters list need to be changed, make sure to modify it everywhere where it is used - facet, semantic-query and semantic-table that is used for result visualisation and semantic-query for result counts.
-->

<semantic-context repository='default'>
  <semantic-query query='
  SELECT ?token WHERE{
    BIND(REPLACE("[[urlParam "keyword"]]","(?<!^)(?<!\\s)\\s+(?!\\s+)(?!$)", "* ") as ?token)
  }
  '
  template="{{>addAndTemplate}}"
  >
  <template id="addAndTemplate">
  
  <div>
    <mp-event-target-template-render
    id="event-target-tables"
    template="{{> tableEventTargetTemplate}}"
  >
    <template id="tableEventTargetTemplate">
      <semantic-search-query-keyword
  placeholder='You searched for [[urlParam "keyword"]], but you can search for anything!'
  domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
  default-query='
    PREFIX custom: <https://artresearch.net/custom/>
    PREFIX ql: <http://qlever.cs.uni-freiburg.de/builtin-functions/>

    SELECT DISTINCT ?subject WHERE {  
      # work of art
      ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .

      { 
        SELECT DISTINCT ?subject ?ql_score_subject WHERE {
          ?text ql:contains-entity ?subject .
          ?text ql:contains-word "{{bindings.0.token.value}}*" .
        }
      }
      
      {{#ifCond withImages "!==" "true"}}
        ?subject custom:has_image true .        
      {{/ifCond}}
    }
    '
  query='
  SELECT ?nothing WHERE{
    ?nothing a <http://this_is_hidden_and_will_never_run>
  }
  '
  class="hiddenSearchbar"
  >
</semantic-search-query-keyword>
  </template>
</mp-event-target-template-render>
  <div class="row">
    <bs-col
      lg="3"
      md="4"
      sm="5"
      class="fade-in-fwd filters-container"
      style="margin-top: 8px"
      id="artwork-filter-search"
    >
      
        <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
            <semantic-search-facet open-by-default='true' sortby='count-desc'  facet-values-threshold="1000" 
                                 default-value-queries='{
                                                          "resource": "
                                                             SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE {
                                                               FILTER(?__facetRelationPattern__) 
                                                             }
                                                             GROUP BY ?value
                                                             ORDER BY DESC(?count)
                                                          ",
                                                          "literal": "
                                                            SELECT ?literal (COUNT(DISTINCT $subject) AS ?count) WHERE {
                                                              BIND(\"fl=id&defType=dismax&rows=100000\" AS ?params) .
                                                              FILTER(?__facetRelationPattern__)
                                                            }
                                                            GROUP BY ?literal
                                                            ORDER BY ?literal
                                                          "
                                                        }'
                                   value-relations='{
                                                      "<https://artresearch.net/resource/fr/Work_shows_Subject>": {
                                                        "kind": "resource",
                                                        "valuesQuery": "
                                                          SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE {
                                                            ?subject crm:P65_shows_visual_item ?value .
                                                            ?value crm:P2_has_type <http://vocab.getty.edu/aat/300404126> .
                                                          }
                                                          GROUP BY ?value
                                                          ORDER BY DESC(?count)
                                                        "
                                                      }
                                                    
                                                    }'                                 
              ></semantic-search-facet>
        </bs-panel>
    </bs-col>
    <mp-event-target-template-render id="my-render" template="{{> combined}}">
      <template id='combined'>
        <bs-col lg="9" md="8" sm="7">
          <semantic-search-result-holder>
            <div>
                 <semantic-query
                    query='SELECT ?keywords WHERE {
                      BIND(REPLACE(str("[[urlParam "keyword"]]"),"\\+"," ") as ?keywords)} LIMIT 1'
                    template="{{>currentSearchText}}"
                  >
                      <template id="currentSearchText">
                        <h2>
                          Searched in artworks for:
                          <i>{{bindings.0.keywords.value}}</i>
                        </h2>
                      </template>
                 </semantic-query>

              <semantic-search-result>
                  <semantic-query
                    id="view-more"
                    query='
                      SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {
                      }
                    '
                    template="{{>currentResultCount}}"
                  >
                      <template id="currentResultCount">
                          <h2>
                                  Found
                            {{#ifCond bindings.0.count.value "==" 100 }}
                              displaying the first 1000 results, please refine your search
                            {{else}}
                              {{bindings.0.count.value}} relevant results 
                            {{/ifCond}}
                          </h2>
                          <small>
                            Displaying 
                            {{#ifCond bindings.0.count.value ">=" 100 }}
                            the first 100 results
                            {{else}}
                            all results
                            {{/ifCond}}
                          </small>
                      </template>
                  </semantic-query>
                  <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
                  [[> SearchbarSwitches]]
                  <bs-tabs
                        default-active-key="1"
                        unmount-on-exit="true"
                        id="search-results"
                        animation="false"
                        class="tabs-right"
                      >
                      <bs-tab event-key="1" title="List">
                              <div id='artwork-filter-search-inline'>
                                  <semantic-table
                                      id="grid-result"
                                      prefetch-labels="false"
                                      query='
                                        SELECT DISTINCT ?subject WHERE {
                                        } ORDER BY DESC(?ql_score_subject) LIMIT 100'
                                      number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}25{{/if}}"
                                      tuple-template="{{> subjectCellTemplate}}"
                                      options='{"showTableHeading": false, "showFilter":false}'
                                      no-result-template='[[> CardNoResult ]]'
                                      prefetch-labels="false"
                                    >
                                    <template id="subjectCellTemplate">
                                      <semantic-context repository='default'>
                                        [[> CardArtwork artwork="true"]]
                                      </semantic-context>
                                    </template>
                                </semantic-table>
                              </div>
                      </bs-tab>
                      <bs-tab event-key="2" title="Tabular">
                        <div id="tableView">
                          [[> SearchResultTableWorkSolr]]
                        </div>
                        <div class="animated-background-sm tableView"></div>
                      </bs-tab>
                  </bs-tabs>
              </semantic-search-result>
            </div>
          </semantic-search-result-holder>
          [[> NumberOfRowsSelector]]
        </bs-col>
      </template>
    </mp-event-target-template-render>
  </div>
  </div>

  </template>
  </semantic-query>
  </semantic-context>
  
  
