<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Artworks depicting Women Saints</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> :collectionfiltersearch  searchQuery='?subject a pharosfc:work. ?subject pharosfr:Work_shows_Subject <https://pharos.artresearch.net/resource/itatti/subject/11307035>.' ]]
  </div>
</div>  
