<div class="CookieMessageContainer">
  <!-- <h2>
    This website uses cookies to improve your experience.
    <mp-overlay-dialog title='Learn more'>
      <mp-overlay-dialog-trigger>
        <a>
          <mp-label iri='http://example.org/rs#LearnMore'></mp-label>
      </a>
      </mp-overlay-dialog-trigger>
      <mp-overlay-dialog-content>
        <mp-knowledge-panel iri='http://example.org/rs#LearnMore'> GDPR Policy </mp-knowledge-panel>
      </mp-overlay-dialog-content>
    </mp-overlay-dialog> 
  </h2> -->
  <cookie-message></cookie-message>
</div>