<!-- This template displays a table of photographs with related info -->
[[#if (ask "ASK {?? crm:P138i_is_represented_by ?visual_item. ?visual_item crm:P128i_is_carried_by ?photo. ?photo crm:P129i_is_subject_of ?verso. ?verso crm:P2_has_type ?typev .?typev rdfs:label 'verso'. }") ]]         
<semantic-table 
query='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
 PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
  PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

  SELECT distinct ?photo ?photo_label ?keeper ?keeper_label ?photographer ?photographer_label ?rectoImage ?versoImage WHERE 
{
    ?? crm:P138i_is_represented_by ?visual_item.
    ?visual_item crm:P128i_is_carried_by ?photo.
    ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
    ?photo rdfs:label ?photo_label.
    ?photo crm:P50_has_current_keeper ?keeper.
    ?keeper rdfs:label ?keeper_label.
    ?photo crm:P108i_was_produced_by ?production .
    ?production crm:P14_carried_out_by ?photographer.
    ?photographer rdfs:label ?photographer_label.
     
    ?photo crm:P129i_is_subject_of ?recto.
    ?recto crm:P2_has_type ?typer .
    ?typer rdfs:label "recto".
    ?photo crm:P129i_is_subject_of ?verso.
    ?verso crm:P2_has_type ?typev .
    ?typev rdfs:label "verso".
   
    BIND(REPLACE(STR(?recto),"full/full","full/100,") AS ?rectoImage).
    BIND(REPLACE(STR(?verso),"full/full","full/100,") AS ?versoImage).

}' 
options='{"showFilter": false, "showTableHeading": false}'
tuple-template='{{> photos}}'
>

<template id='photos'>
<table class='table'>
  <tr>
    <td>
       <semantic-link iri="{{photo.value}}"> 
       <img src={{rectoImage.value}} style="max-height:70px; max-width:70px; margin: 0 auto;" class="img-rounded">
       </semantic-link>
    </td>
    <td>
       <semantic-link iri="{{photo.value}}"> 
         <img src={{versoImage.value}} style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
       </semantic-link>
    </td>
    <td>
       Photograph:
       <semantic-link iri="{{photo.value}}"> 
       {{photo_label.value}}
      </semantic-link> <br>
      Photographer:
       <semantic-link iri="{{photographer.value}}"> 
       {{photographer_label.value}}
      </semantic-link> <br>
      Keeper:
      <semantic-link iri="{{keeper.value}}"> 
      {{keeper_label.value}}
       </semantic-link>
     </td>
  </tr>
</table>

</template>    
</semantic-table>
[[else]]
   <semantic-table 
query='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
 PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
  PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

  SELECT distinct ?photo ?photo_label ?keeper ?keeper_label ?photographer ?photographer_label ?rectoImage WHERE 
{
    ?? crm:P138i_is_represented_by ?visual_item.
    ?visual_item crm:P128i_is_carried_by ?photo.
    ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
    ?photo rdfs:label ?photo_label.
    ?photo crm:P50_has_current_keeper ?keeper.
    ?keeper rdfs:label ?keeper_label.
    ?photo crm:P108i_was_produced_by ?production .
    ?production crm:P14_carried_out_by ?photographer.
    ?photographer rdfs:label ?photographer_label.
    ?photo crm:P129i_is_subject_of ?recto.

    BIND(REPLACE(STR(?recto),"full/full","full/100,") AS ?rectoImage).
  
}' 
options='{"showFilter": false, "showTableHeading": false}'
tuple-template='{{> photos}}'
>
     
<template id='photos'>
<table class='table'>
  <tr>
    <td>
       <semantic-link iri="{{photo.value}}"> 
       <img src={{rectoImage.value}} style="max-height:70px; max-width:70px; margin: 0 auto;" class="img-rounded">
       </semantic-link>
    </td>
    <td>
       Photograph:
       <semantic-link iri="{{photo.value}}"> 
       {{photo_label.value}}
      </semantic-link> <br>
      Photographer:
       <semantic-link iri="{{photographer.value}}"> 
       {{photographer_label.value}}
      </semantic-link> <br>
      Keeper:
      <semantic-link iri="{{keeper.value}}"> 
      {{keeper_label.value}}
       </semantic-link>
     </td>
  </tr>
</table>

</template>    
</semantic-table>
[[/if]] 