<semantic-context repository="ephedra">
    <semantic-search>
        <semantic-search-query-keyword
            query=' PREFIX solr: <http://custom.solr/ontology#>
                    SELECT ?subject WHERE {
                        BIND(REPLACE(?__token__,"(?<!^)(?<!\\s)\\s+(?!\\s+)(?!$)", " AND ") as ?token)
                        SERVICE <http://www.researchspace.org/resource/system/service/custom#solrworks> {
                            ?solrApi solr:setQuery ?token;
                                    solr:setDefType "dismax";
                                    solr:setFilter "id";
                                    solr:setRowsNumber 1000;
                                    solr:hasResults ?subject
                        }
                    }'
        ></semantic-search-query-keyword>
        <semantic-search-result-holder>
        
            <semantic-search-result>
                <semantic-query id="rslt"
                    query=" SELECT DISTINCT ?subject WHERE {
                        } LIMIT 1000 "
                    no-result-template='[[> CardNoResult ]]'
                    template="{{>tupleTemplate}}"
                    >
                        <template id="tupleTemplate">
                            {{#each bindings}}
                                {{subject.value}}
                            {{/each}}
                        </template>
                </semantic-query>
            </semantic-search-result>
        </semantic-search-result-holder>
    </semantic-search>
</semantic-context>
