<!-- <mp-selection-action-choice  selection='resource-selection' title='With selected ...'>
   <bs-menu-item>
         <mp-overlay-dialog title="Delete annotation" >
            <mp-overlay-dialog-trigger
              >
               <button class='btn btn-default btn-xs pull-right' title='Delete Annotation' style='margin-right: 15px; '>
                <i class='fa fa-trash'></i>Delete
              </button>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content>
              <h1>Are you sure you would like to delete this annotation?</h1>
              <mp-ldp-remove-from-container-action 
                  container="http://www.researchspace.org/resource/system/formContainer"
                 iri='??'
                  post-action='reload'>
                    <button class="btn btn-danger pull-right" title="Delete annotation" 
                        style="margin-left: 35px;font-size: 22px;">
                        <i class="fa fa-trash"></i> Yes delete
                      </button>
              </mp-ldp-remove-from-container-action>
            </mp-overlay-dialog-content>
          </mp-overlay-dialog>
    </bs-menu-item>
   
  </mp-selection-action-choice> -->

  <div class="row">
    <div class="col-sm-7">
      <header>
        <h1>My Photo Annotations</h1>
      </header>
    </div>
  </div>
  
  <semantic-table 
    id='resources-results'
    number-of-displayed-rows=10
    query='SELECT ?document ?documentTitle ?image  ?username ?time  WHERE{
      GRAPH ?g {
        <http://www.researchspace.org/resource/system/formContainer> <http://www.w3.org/ns/ldp#contains> ?y.
          ?document <http://www.w3.org/ns/prov#generatedAtTime> ?time.
          ?document <http://www.w3.org/ns/prov#wasAttributedTo> ?username.
          ?document rdf:type <http://www.w3.org/ns/ldp#Resource>.
          ?r <http://www.researchspace.org/ontology/displayLabel> ?documentTitle.
          ?r <http://www.ics.forth.gr/isl/CRMdig/L49_is_primary_area_of> ?image.
        }
        BIND ( ?__useruri__ as ?username)
      }'
  >
  <template id='Subject'>
    <span>{{log "here" this}}
      <semantic-context repository='assets'>
        {{#if label}}
          <semantic-link style='max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' uri='{{image.value}}' title='{{image.value}}'>{{image.value}}</semantic-link>
        {{else}}
          <semantic-link style='max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' uri='{{image.value}}'></semantic-link>
        {{/if}}
      </semantic-context>
    </span>
  </template>
  <template id='Annotation'>
    <span>{{log "here" this}}
      <mp-selection-toggle selection="resource-selection" tag="{{document.value}}"></mp-selection-toggle>
      <semantic-context repository='assets'>
        {{#if label}}
          <semantic-link iri="http://www.researchspace.org/resource/Field">{{documentTitle.value}}</semantic-link>
        {{else}}
          <semantic-link> {{documentTitle.value}}</semantic-link>
        {{/if}}
      </semantic-context>
    </span>
  </template>
  <template id='actions'>
    <div style="display: flex;">
      <semantic-link iri="{{document.value}}">
          <button class='btn btn-default btn-xs pull-right' title='View Annotation' style='margin-right: 15px; '>
              <i class='fa fa-folder-open'></i> View 
          </button>          
        </semantic-link>
      <mp-ldp-duplicate-resource-action iri="{{document.value}}" container="http://www.researchspace.org/resource/system/formContainer">
        <button class='btn btn-default btn-xs pull-right' title='Duplicate Annotation' style='margin-right: 15px; '><i class="fa fa-files-o btn-icon-left" aria-hidden=true></i> Duplicate
        </button>
      </mp-ldp-duplicate-resource-action>

      <mp-ldp-export-resource iri="{{document.value}}">
        <button class='btn btn-default btn-xs pull-right' title='Export Annotation' style='margin-right: 15px; '>
          <i class='fa fa-download btn-icon-left' aria-hidden=true></i> Export
        </button>
      </mp-ldp-export-resource>

      <mp-overlay-dialog title="Delete annotation" >
        <mp-overlay-dialog-trigger>
          <button class='btn btn-default btn-xs pull-right' title='Delete Annotation' style='margin-right: 15px; '>
            <i class='fa fa-trash'></i>Delete
          </button>
        </mp-overlay-dialog-trigger>
        <mp-overlay-dialog-content>
          <h1>Are you sure you would like to delete this annotation?</h1>
          <mp-ldp-remove-from-container-action 
              container="http://www.researchspace.org/resource/system/formContainer"
              iri="{{document.value}}" 
              post-action='reload'>
                <button class="btn btn-danger pull-right" title="Delete annotation" 
                    style="margin-left: 35px;font-size: 22px;">
                    <i class="fa fa-trash"></i> Yes delete
                  </button>
          </mp-ldp-remove-from-container-action>
        </mp-overlay-dialog-content>
      </mp-overlay-dialog>
    </div>
  </template>
</semantic-table>
 