{
  "categories":  
  [
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "label":"Photographer"
  },
  {
    "iri":"<https://pharos.artresearch.net/resource/nypl/type/gender>",
    "label":"Gender"
  }, 
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E74_Group>",
    "label":"Nationality"
  }, 
  {
    "iri":"<http://www.w3.org/2001/XMLSchema#integer>",
    "label":"Year"
  }, 
  {
    "iri":"<https://pharos.artresearch.net/resource/fc/Type>",
    "label":"Type"
  }, 
  {
    "iri":"<https://pharos.artresearch.net/resource/fc/place>",
    "label":"Place"
  },
  {
    "iri":"<https://pharos.artresearch.net/resource/custom/fc/photo>",
    "label":"Photograph"
  },
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "label":"Photographer"
  },
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
    "label":"Person"
  },
  {
    "iri":"<https://pharos.artresearch.net/resource/fc/gender>",
    "label":"Gender"
  }, 
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E74_Group>",
    "label":"Nationality"
  }, 
  {
    "iri":"<http://www.w3.org/2001/XMLSchema#integer>",
    "label":"Year"
  }, 
  {
    "iri":"<https://pharos.artresearch.net/resource/fc/Type>",
    "label":"Type"
  }, 
  {
    "iri":"<https://pharos.artresearch.net/resource/fc/place>",
    "label":"Place"
  }
  ,{
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
      "label":"Painter"
    },
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
      "label":"Creator"
    },
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "label":"Artwork"
    },
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
      "label":"Concept"
    }, 
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>",
      "label":"Material"
    }, 
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>",
      "label":"Technique"
    }, 
    {
      "iri":"<https://pharos.artresearch.net/resource/fc/institution>",
      "label":"Institution"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/custom/fc/institution>",
      "label":"Institution"
    }, 
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
      "label":"Location"
    },
    {
      "iri":"<http://www.w3.org/2001/XMLSchema#date>",
      "label":"Date"
    }
  ],
  "relations":
  [
  {
    "iri": "<https://pharos.artresearch.net/resource/fr/Person_has_Gender>",
    "label":"Gender",
    "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "hasRange":"<https://pharos.artresearch.net/resource/nypl/type/gender>"
  },
  {
    "iri": "<https://pharos.artresearch.net/resource/fr/Person_has_Nationality>",
    "label":"Nationality",
    "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E74_Group>"
  },
  {
    "iri": "<https://pharos.artresearch.net/resource/fr/Person_has_Date_of_Birth>",
    "label":"Date of birth",
    "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "hasRange":"<http://www.w3.org/2001/XMLSchema#integer>"
  },
  {
    "iri":"<https://pharos.artresearch.net/resource/fr/Person_has_Date_of_Death>",
    "label":"Date of death",
    "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "hasRange":"<http://www.w3.org/2001/XMLSchema#integer>"
  },
  {
    "iri":"<https://pharos.artresearch.net/resource/fr/Person_has_Place_of_Birth>",
    "label":"Place of birth",
    "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "hasRange":"<https://pharos.artresearch.net/resource/fc/place>"
  },
  {
    "iri":"<https://pharos.artresearch.net/resource/fr/Person_has_Place_of_Death>",
    "label":"Place of death",
    "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "hasRange":"<https://pharos.artresearch.net/resource/fc/place>"
  },
  {
    "iri":"<https://pharos.artresearch.net/resource/fr/Event_has_Type>",
    "label":"Event type",
    "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "hasRange":"<https://pharos.artresearch.net/resource/fc/Type>"
  },
  {
    "iri":"<https://pharos.artresearch.net/resource/fr/Event_at_Place>",
    "label":"Event place",
    "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "hasRange":"<https://pharos.artresearch.net/resource/fc/place>"
  },
    {
      "iri": "<https://pharos.artresearch.net/resource/fr/Work_created_from_Artist>",
      "label":"Creator",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Work_shows_Subject>",
      "label":"Subject",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Work_consists_of_Material>",
      "label":"Material",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Work_produced_using_technique_Technique>",
      "label":"Technique",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Photo_created_by_Photographer>",
      "label":"Photographer",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Photo_depicts_Work>",
      "label":"Depicts work",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
    },
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/P2_has_type>",
      "label":"Concept",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Work_from_Place>",
      "label":"Location",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
    },
    {
      "iri": "<https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution>",
      "label":"Repository",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
    },
    {
      "iri": "<https://pharos.artresearch.net/resource/fr/Work_from_Date>",
      "label":"Date",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#date>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Work_has_provider_Institution>",
      "label":"Institution",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<https://pharos.artresearch.net/resource/custom/fc/institution>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Photo_has_provider_Institution>",
      "label":"Institution",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<https://pharos.artresearch.net/resource/custom/fc/institution>"
    },
    {
      "iri": "<https://pharos.artresearch.net/resource/fr/Person_has_Gender>",
      "label":"Gender",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
      "hasRange":"<https://pharos.artresearch.net/resource/fc/gender>"
    },
    {
      "iri": "<https://pharos.artresearch.net/resource/fr/Person_has_Nationality>",
      "label":"Nationality",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E74_Group>"
    },
    {
      "iri": "<https://pharos.artresearch.net/resource/fr/Person_has_Date_of_Birth>",
      "label":"Date of birth",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#integer>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Person_has_Date_of_Death>",
      "label":"Date of death",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#integer>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Person_has_Place_of_Birth>",
      "label":"Place of birth",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
      "hasRange":"<https://pharos.artresearch.net/resource/fc/place>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Person_has_Place_of_Death>",
      "label":"Place of death",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
      "hasRange":"<https://pharos.artresearch.net/resource/fc/place>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Event_has_Type>",
      "label":"Event type",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
      "hasRange":"<https://pharos.artresearch.net/resource/fc/Type>"
    },
    {
      "iri":"<https://pharos.artresearch.net/resource/fr/Event_at_Place>",
      "label":"Event place",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
      "hasRange":"<https://pharos.artresearch.net/resource/fc/place>"
    }
  ]
}