

<semantic-link-container uri="{{subject.value}}" target="_blank">
  <div class="artwork-card">
    <resource-info subject="{{subject.value}}" profile="photograph-card" template="{{> template}}">
      <template id="template">
          <div class="thumbnail-container">
            {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail]}}
              <img class="thumbnail-image" src="https://staging.artresearch.net{{data.[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
            {{else}}
              <span class="no-image-text">No image</span>
            {{/if}}
          </div>
          <div class="info-container cursor">
            <div class="photo-provider-icons">
              {{#each data.[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values}}
              <img class="provider-icon" title="{{label}}" src="{{[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
              {{/each}}
            </div>

            <span class="author-name">{{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/photographer" label="Photographer"}}</span>

            <span class="bold-text">{{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/photo_title" label="Title"}}</span>

            <span class="bold-text">{{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/photo_artwork" label="Depicts work"}}</span>
            {{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/photo_archive" label="Credit"}}

            {{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/photo_license" label="License"}}

            {{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/production_date" label="Date"}}
          </div>
      </template>

      <template id="fieldTemplate">
        {{#if (lookup data field)}}
          <div class="field">
            <div class="field-label">{{label}}</div>
            <div class="field-value">
              {{#each (lookup (lookup data field) 'values')}}
                {{#if [@id]}}
                  [[!-- <semantic-link iri="{{[@id]}}">{{label}}</semantic-link> --]]
                  {{label}}
                  {{#unless @last}} · {{/unless}}
                {{else}}
                    {{#if (eq ../field "https://artresearch.net/resource/field_definition/pharos_model/production_date")}}
                      {{dateRangeFormat [@value]}}
                    {{else}}
                      {{[@value]}}
                    {{/if}}
                  {{#unless @last}} · {{/unless}}
                {{/if}}
              {{/each}}
            </div>
          </div>
        {{/if}}
      </template>
    </resource-info>
  </div>
</semantic-link-container>
