{
  "rootsQuery": "
     select distinct ?item ?label ?hasChildren where {
      <http://www.bigdata.com/queryHints#Query> <http://www.bigdata.com/queryHints#optimizer> \"None\".
      BIND(?__range__ as ?range)
      BIND(IF(?range = rso:Concept, rso:Concept_has_broader_Concept, rso:Place_is_part_of_Place)	AS ?broader) .
       {
         ?item a ?__range__ .
         ?item skos:inScheme ?schema .
         FILTER(EXISTS { ?subject ?__relation__ ?item . }) .
         MINUS { ?item ?broader ?parent }
         ?item rso:displayLabel ?label .
       }
       OPTIONAL { ?child ?broader ?item . }
       BIND(bound(?child) as ?hasChildren)
     } order by ?label",
  "childrenQuery": "
    select distinct ?item ?label ?hasChildren where {
      <http://www.bigdata.com/queryHints#Query> <http://www.bigdata.com/queryHints#optimizer> \"None\".
      BIND(?__range__ as ?range)
      BIND(IF(?range = rso:Concept, rso:Concept_has_broader_Concept, rso:Place_is_part_of_Place)	AS ?broader) .
      {
        FILTER(EXISTS { ?subject ?__relation__ ?item . }) .
        ?item ?broader ?parent .
        ?item rso:displayLabel ?label .
      }
      OPTIONAL { ?child ?broader ?item . }
      BIND(bound(?child) as ?hasChildren)
    } order by ?label",
  "parentsQuery": "
    select distinct ?item ?parent ?parentLabel where {
       <http://www.bigdata.com/queryHints#Query> <http://www.bigdata.com/queryHints#optimizer> \"None\".
      BIND(?__range__ as ?range)
      BIND(IF(?range = rso:Concept, rso:Concept_has_broader_Concept, rso:Place_is_part_of_Place)	AS ?broader) .
      ?item ?broader ?parent .
      ?parent rso:displayLabel ?parentLabel .
    }",
  "searchQuery": [[#if solr]]
    "
SELECT DISTINCT ?item ?label ?score ?hasChildren WHERE {
         BIND(?__range__ AS ?range)
         BIND(IF(?range = rso:Concept, rso:Concept_has_broader_Concept, rso:Place_is_part_of_Place) AS ?broader)
         {
           SELECT DISTINCT ?item ?score ?label WHERE {
             {
               SELECT DISTINCT ?item ?score ?label WHERE {
                 BIND(CONCAT(\"defType=edismax&ps=100&pf=suggestionSearchText&fl=id,score&rows=50&q.op=AND&fq=scheme:*&fq=fc:\", REPLACE(str(?__range__), \":\", \"\\\\\\\\:\"), \"&fq=frs:\", REPLACE(str(?__relation__), \":\", \"\\\\\\\\:\")) as ?sFC)
                 BIND(CONCAT(\"(\",LCASE(?__token__),\")\") as ?lcasetoken)
                 SERVICE <http://www.bigdata.com/rdf/fts#search> {
                   ?item <http://www.bigdata.com/rdf/fts#search> ?lcasetoken.
                   ?item <http://www.bigdata.com/rdf/fts#endpoint> \"[[solrEndpoint]]\".
                   ?item <http://www.bigdata.com/rdf/fts#params> ?sFC.
                   ?item <http://www.bigdata.com/rdf/fts#scoreField> \"score\".
                   ?item <http://www.bigdata.com/rdf/fts#score> ?score.
                   ?item <http://www.bigdata.com/rdf/fts#fieldToSearch> \"suggestionSearchText\".
                   ?item <http://www.bigdata.com/rdf/fts#searchField> \"id\".
                   ?item <http://www.bigdata.com/rdf/fts#searchResultType> \"URI\".
                 }
               }
             }
             <http://www.bigdata.com/queryHints#Prior> <http://www.bigdata.com/queryHints#runFirst> \"true\"^^<http://www.w3.org/2001/XMLSchema#boolean>.
             ?item rso:displayLabel ?label.
             OPTIONAL {?item skos:inScheme ?schema .}
           } LIMIT 500
         }
         OPTIONAL { ?child ?broader ?item. }
         BIND(BOUND(?child) AS ?hasChildren)
       }
       ORDER BY DESC(?score) ?label
       LIMIT 200
     "
   [[else]]
     "
       SELECT DISTINCT ?item ?label ?score ?hasChildren WHERE {
         BIND(?__range__ AS ?range)
         BIND(IF(?range = rso:Concept, rso:Concept_has_broader_Concept, rso:Place_is_part_of_Place) AS ?broader)
         {
           SELECT DISTINCT ?item ?score ?label WHERE {
             {
               SELECT DISTINCT ?item ?score ?label WHERE {
                 SERVICE <http://www.bigdata.com/rdf/search#search> {
                   ?label bds:search ?__token__ ;
                   bds:relevance ?score ;
                   bds:minRelevance \"0.3\" ;
                   bds:maxRank \"50000\" ;
                   bds:matchAllTerms \"true\"  .
                 }
                 ?item rso:displayLabel ?label.
                 OPTIONAL {?item skos:inScheme ?schema .}
               }
             }
             OPTIONAL {
               ?subject ?__relation__ ?item .
             }
             FILTER(BOUND(?subject))
           } LIMIT 500
         }
         OPTIONAL { ?child ?broader ?item. }
         BIND(BOUND(?child) AS ?hasChildren)
       }
       ORDER BY DESC(?score) ?label
       LIMIT 200
     "
   [[/if]],
  "placeholder": "Search ... "
}