


    <semantic-search
      id="main-search"
      save-state-in-browser-history="false"
      limit=10000
      relations='[[> SearchSimpleRelations]]'
      search-profile='[[> SearchSimpleProfile]]'
      datasets-config='{"datasetPattern": "", "datasets": [{"label": "PHAROS", "isDefault": true, "alignments": [{"iri": "http://vocab.getty.edu/aat/", "label": "Getty", "isDefault": true}, {"iri": "https://artresearch.net/resource/midas/vocabulary", "label": "MIDAS"}, {"iri": "https://artresearch.net/resource/zeri/vocabulary", "label": "Zeri"}]}]}'
    >
      <div class="content-area">
        <div class="facet-column">
          <semantic-search-facet open-by-default='false' sortby='count-desc' facet-values-threshold="5000"
            default-value-queries='{
              "resource": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE { FILTER(?__facetRelationPattern__) } GROUP BY ?value ORDER BY DESC(?count)",
              "literal": "SELECT ?literal (COUNT(DISTINCT $subject) AS ?count) WHERE { FILTER(?__facetRelationPattern__) } GROUP BY ?literal ORDER BY DESC(?count)"
            }'
            value-relations='{
              "<https://artresearch.net/resource/fr/Work_from_Place>": {
                "kind":"hierarchy",
                "valuesQuery": "SELECT ?value WHERE {?subject crm:P55_has_current_location ?value .}",
                "queryPattern": "{
                    ?subject crm:P55_has_current_location ?place .
                    ?place crm:P89_falls_within* ?__value__ .
                    ?place ^custom:sameAs?/crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/geographical_entity> .
                }",
                "parentsPattern": "{
                    ?value crm:P89_falls_within ?parent .
                }",
                "childrenPattern": "{
                    ?value crm:P89i_contains ?child .
                }",
                "searchPattern": "{ ?text ql:contains-entity ?value; ql:contains-word ?__token__. }"
  						},
              "<https://artresearch.net/resource/fr/Work_created_by_Artist>": {
                "kind":"hierarchy",
                "valuesQuery": "SELECT ?value WHERE {?subject crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?value .}",
                "queryPattern": "{
                    ?subject crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?__value__.
                  }",
                "parentsPattern": "{
                  ?value crm:PXX ?parent .
                 }",
                "childrenPattern": "{
                  ?child crm:PXX ?value .
                }",
                "searchPattern": "{ ?text ql:contains-entity ?value; ql:contains-word ?__token__. }"
  						},
              "<https://artresearch.net/resource/fr/Work_has_Image>": {
                "kind": "resource",
                "valuesQuery": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE {
                OPTIONAL { ?subject custom:has_image ?has } . BIND(IF((BOUND(?has) && ?has = true), <http://www.w3.org/2001/XMLSchema#yes>, <http://www.w3.org/2001/XMLSchema#no>) AS ?value) . } GROUP BY ?value ORDER BY DESC(?count)"
              },
              "<https://artresearch.net/resource/fr/Photo_has_Image>": {
                "kind": "resource",
                "valuesQuery": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE {
                OPTIONAL { ?subject custom:has_image ?has } . BIND(IF((BOUND(?has) && ?has = true), <http://www.w3.org/2001/XMLSchema#yes>, <http://www.w3.org/2001/XMLSchema#no>) AS ?value) . } GROUP BY ?value ORDER BY DESC(?count)"
              },
              "<https://artresearch.net/resource/fr/Repository_from_Place>": {
                "kind":"hierarchy",
                "valuesQuery": "SELECT ?value WHERE {?subject crm:P74_has_current_or_former_residence ?value .}",
                "queryPattern": "{
                    ?subject crm:P74_has_current_or_former_residence/crm:P89_falls_within* ?__value__ .
                }",
                "parentsPattern": "{
                    ?value crm:P89_falls_within ?parent .
                }",
                "childrenPattern": "{
                    ?value crm:P89i_contains ?child .
                }",
                "searchPattern": "{ ?text ql:contains-entity ?value; ql:contains-word ?__token__. }"
  						}
                             [[!--
              "<https://artresearch.net/custom/is_matched_artworks>": {
                "kind": "resource",
                "valuesQuery": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE {
                OPTIONAL { ?subject custom:is_matched_artworks ?has } . BIND(IF(?has = true, <http://www.w3.org/2001/XMLSchema#yes>, <http://www.w3.org/2001/XMLSchema#no>) AS ?value) . } GROUP BY ?value ORDER BY DESC(?count)"
              },
              "<https://artresearch.net/custom/number_of_matched_artworks>": {
                "kind": "numeric-range",
                "valuesQuery": "SELECT ?numericRangeBeginValue ?numericRangeEndValue WHERE { ?subject <https://artresearch.net/custom/number_of_matched_artworks> ?value . BIND(?value as ?numericRangeBeginValue). BIND(?value as ?numericRangeEndValue) . }"
              }
--]]
            }'


          >
          </semantic-search-facet>
        </div>

        <div class="results-column">
          <div class="search-bar">
            <pharos-image-search-with-slider
              text-match-help='Metadata Full Text Search. <a>See more</a>'
              text-visual-match-help='Search in the image content. <a>See more</a>'
              text-similarity-help='Search in the metadata. <a>See more</a>'
              visual-match-help='Near exact image similarity. <a>See more</a>'
              visual-similarity-help='Semantic image similarity. <a>See more</a>'

              initial-input='{{query}}'
              enable-model-selection='{{enableModelSelection}}'

              domains='[
               {
                 "name": "Artwork",
                 "uri": "<https://artresearch.net/resource/custom/fc/work>",
                 "withAi": true,
                 "withImages": true,
                 "domainColor": "#70E7C5"
               },
               {
                 "name": "Photograph",
                 "uri": "<https://artresearch.net/resource/custom/fc/photograph>",
                 "withAi": true,
                 "withImages": true,
                 "domainColor": "#E8756F"
               },
               {
                 "name": "Artist",
                 "uri": "<https://artresearch.net/resource/custom/fc/artist>",
                 "domainColor": "#72827E"
               },
               {
                 "name": "Photographer",
                 "uri": "<https://artresearch.net/resource/custom/fc/photographer>",
                 "domainColor": "#E89F6F"
               },
               {
                 "name": "Repository",
                 "uri": "<https://artresearch.net/resource/custom/fc/repository>",
                 "domainColor": "#A09322"
               }
              ]'

              evaluate-on-change='true'
              initial-domain="{{#if domain}}<https://artresearch.net/resource/custom/fc/{{domain}}>{{else}}<https://artresearch.net/resource/custom/fc/work>{{/if}}"
              lock-domain="{{#if lock}}true{{else}}false{{/if}}"
              debounce="600"
              tokenize-lucene-query="true"
              escape-lucene-syntax="false"

              default-slider-value="0"

              default-query-0='
                SELECT ?subject WHERE {
                  ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                  ?subject custom:has_image ?hasImage .
                  BIND(IF(?hasImage, 2, 1) AS ?resultScore) .
                  {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                }
              '

              text-query-0='
                SELECT DISTINCT ?subject WHERE {
                  {
                      SELECT ?subject ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore) as ?score) WHERE {
                        ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                        {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        FILTER(?__textPattern__) .

                        {
                          SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                              ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                              FILTER(?__textPattern__) .
                          }
                          GROUP BY ?subject
                          ORDER BY DESC (?textMaxScore)
                          LIMIT 1
                        }
                      }
                      GROUP BY ?subject
                  }
                }
              '
              text-with-ai-query-0='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                    SELECT DISTINCT ?subject (SUM(?maxScore) AS ?score) (MAX(?photo) AS ?maxPhoto) (GROUP_CONCAT(?matchedModel ; separator=",") AS ?matchType) WHERE {
                      {
                        SELECT ?subject ((0.5 * ?similarity) as ?maxScore) ?matchedModel ?photo {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__token__ .
                                ?uri emb:request_type "text" .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:sensitivity ?__searchSensitivity__ .
                                ?uri emb:score ?similarity .
                                ?uri emb:matchedModel ?matchedModel .
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject) .
                          BIND(COALESCE(?clip_vit_large_patch14_336_maxScoreUri, ?siglip2_so400m_patch16_naflex_maxScoreUri) AS ?photo) .
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                      } UNION {
                        {
                        SELECT ?subject ((0.5 * ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore))) as ?maxScore) WHERE {
                          ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                          FILTER(?__textPattern__) .

                          {
                            SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                                ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                                {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                                FILTER(?__textPattern__) .
                            }
                            GROUP BY ?subject
                            ORDER BY DESC (?textMaxScore)
                            LIMIT 1
                          }
                        }
                        GROUP BY ?subject
                        HAVING (?maxScore > 0)
                        }
                        BIND("text_index" AS ?matchedModel) .
                      }
                    }
                    GROUP BY ?subject
                  }
                }
              '

              text-ai-query-0='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?photo AS ?maxPhoto) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__token__ .
                                ?uri emb:request_type "text" .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity ?__searchSensitivity__ .
                                ?uri emb:matchedModel ?matchedModel .
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)
                          BIND(COALESCE(?clip_vit_large_patch14_336_maxScoreUri, ?siglip2_so400m_patch16_naflex_maxScoreUri) AS ?photo) .

                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }
              '

              image-query-0='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?photo AS ?maxPhoto) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__data__ .
                                ?uri emb:request_type ?__dataType__ .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity "near-exact" .
                                ?uri emb:matchedModel ?matchedModel .
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)
                          BIND(COALESCE(?clip_vit_large_patch14_336_sift_rerank_maxScoreUri, ?siglip2_so400m_patch16_naflex_sift_rerank_maxScoreUri, ?clip_vit_large_patch14_336_maxScoreUri, ?siglip2_so400m_patch16_naflex_maxScoreUri) AS ?photo) .

                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }'


              image-ai-query-0='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?photo AS ?maxPhoto) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__data__ .
                                ?uri emb:request_type ?__dataType__ .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity ?__searchSensitivity__ .
                                ?uri emb:matchedModel ?matchedModel .
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)
                          BIND(COALESCE(?clip_vit_large_patch14_336_sift_rerank_maxScoreUri, ?siglip2_so400m_patch16_naflex_sift_rerank_maxScoreUri, ?clip_vit_large_patch14_336_maxScoreUri, ?siglip2_so400m_patch16_naflex_maxScoreUri) AS ?photo) .

                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }
              '
              image-with-ai-query-0='
              PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?photo AS ?maxPhoto) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__data__ .
                                ?uri emb:request_type ?__dataType__ .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity ?__searchSensitivity__ .
                                ?uri emb:matchedModel ?matchedModel .
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)
                          BIND(COALESCE(?clip_vit_large_patch14_336_sift_rerank_maxScoreUri, ?siglip2_so400m_patch16_naflex_sift_rerank_maxScoreUri, ?clip_vit_large_patch14_336_maxScoreUri, ?siglip2_so400m_patch16_naflex_maxScoreUri) AS ?photo) .

                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }'

          default-query-1='
            SELECT ?subject WHERE {
              ?subject crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph>  .
              ?subject custom:has_image ?hasImage .
              BIND(IF(?hasImage, 2, 1) AS ?score) .
              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
            }
          '

              text-query-1='
                SELECT DISTINCT ?subject WHERE {
                  {
                      SELECT ?subject ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore) as ?score) WHERE {
                        ?subject crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph>  .
                        {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        FILTER(?__textPattern__) .

                        {
                          SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                              ?subject crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph>  .
                              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                              FILTER(?__textPattern__) .
                          }
                          GROUP BY ?subject
                          ORDER BY DESC (?textMaxScore)
                          LIMIT 1
                        }
                      }
                      GROUP BY ?subject
                  }
                }
              '
              text-with-ai-query-1='
                SELECT DISTINCT ?subject WHERE {
                  {
                    SELECT DISTINCT ?subject (SUM(?maxScore) AS ?score) WHERE {
                      {
                        SELECT ?subject ((?__aiAssist__ / 100) * ((MAX(?similarity) / SAMPLE(?aiSimilarityMaxScore))) AS ?maxScore) (SAMPLE(?photo) AS ?maxPhoto) {
                          SERVICE <http://idios-sparql.private/sparql> {
                            ?photo <https://artresearch.net/vision/service> "idios" .
                            ?photo <https://artresearch.net/vision/request_type> "text" .
                            ?photo <https://artresearch.net/vision/data> ?__token__ .
                            ?photo <https://artresearch.net/vision/limit> 15000 .
                            ?photo <https://artresearch.net/vision/similarity> ?similarity .
                            ?photo <https://artresearch.net/vision/maxSimilarity> ?aiSimilarityMaxScore .
                            ?photo <https://artresearch.net/vision/work> ?work .
                          }
                          BIND(?photo as ?subject) .
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                        GROUP BY ?subject
                        HAVING (?maxScore > 0)
                      } UNION {
                        SELECT ?subject ((((100 - ?__aiAssist__) / 100) * ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore))) as ?maxScore) WHERE {
                          ?subject crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph>  .
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                          FILTER(?__textPattern__) .

                          {
                            SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                                ?subject crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph> .
                                {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                                FILTER(?__textPattern__) .
                            }
                            GROUP BY ?subject
                            ORDER BY DESC (?textMaxScore)
                            LIMIT 1
                          }
                        }
                        GROUP BY ?subject
                        HAVING (?maxScore > 0)
                      }
                    }
                    GROUP BY ?subject
                  }
                }
              '

              text-ai-query-1='
                # in this query for selecting maxPhoto we rely on the fact that when we order by score and do sample
                # qlever selects as sample the first result which exactly what we need because it has max score
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT DISTINCT ?subject ((?similarity / ?aiSimilarityMaxScore) AS ?score) {
                          SERVICE <http://idios-sparql.private/sparql> {
                            ?photo <https://artresearch.net/vision/service> "idios" .
                            ?photo <https://artresearch.net/vision/request_type> "text" .
                            ?photo <https://artresearch.net/vision/data> ?__token__ .
                            ?photo <https://artresearch.net/vision/limit> 15000 .
                            ?photo <https://artresearch.net/vision/similarity> ?similarity .
                            ?photo <https://artresearch.net/vision/maxSimilarity> ?aiSimilarityMaxScore .
                            ?photo <https://artresearch.net/vision/work> ?work .
                          }
                          BIND(?photo as ?subject) .
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }
              '

              image-query-1='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__data__ .
                                ?uri emb:request_type ?__dataType__ .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity "near-exact" .
                                ?uri emb:matchedModel ?matchedModel .
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)

                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }'


              image-ai-query-1='
                # in this query for selecting maxPhoto we rely on the fact that when we order by score and do sample
                # qlever selects as sample the first result which exactly what we need because it has max score
                SELECT DISTINCT ?subject WHERE {
                  {
                    SELECT DISTINCT ?subject ((?similarity / ?aiSimilarityMaxScore) AS ?score) {
                          SERVICE <http://idios-sparql.private/sparql> {
                            ?photo <https://artresearch.net/vision/service> "idios" .
                            ?photo <https://artresearch.net/vision/request_type> ?__dataType__ .
                            ?photo <https://artresearch.net/vision/data> ?__data__ .
                            ?photo <https://artresearch.net/vision/limit> 15000 .
                            ?photo <https://artresearch.net/vision/similarity> ?similarity .
                            ?photo <https://artresearch.net/vision/maxSimilarity> ?aiSimilarityMaxScore .
                            ?photo <https://artresearch.net/vision/work> ?work .
                          }
                          BIND(?photo as ?subject) .
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                      }
                    }
              '
              image-with-ai-query-1='
              SELECT ?subject WHERE {
                {
                  SELECT DISTINCT ?subject (SUM(?maxScore) AS ?score) WHERE {
                    {
                      SELECT DISTINCT ?subject (((?__aiAssist__ / 100) * (?similarity / ?aiSimilarityMaxScore)) AS ?maxScore) {
                            SERVICE <http://idios-sparql.private/sparql> {
                              ?photo <https://artresearch.net/vision/service> "idios" .
                              ?photo <https://artresearch.net/vision/request_type> ?__dataType__ .
                              ?photo <https://artresearch.net/vision/data> ?__data__ .
                              ?photo <https://artresearch.net/vision/limit> 15000 .
                              ?photo <https://artresearch.net/vision/similarity> ?similarity .
                              ?photo <https://artresearch.net/vision/maxSimilarity> ?aiSimilarityMaxScore .
                              ?photo <https://artresearch.net/vision/work> ?work .
                            }
                            BIND(?photo as ?subject) .
                            {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                          }
                    } UNION {
                      SELECT DISTINCT ?subject ((((100 - ?__aiAssist__) / 100)  * (?similarity /?aiSimilarityMaxScore)) AS ?maxScore) {

                                  SERVICE <http://idios-sparql.private/sparql> {
                                    ?photo <https://artresearch.net/vision/service> "pastec" .
                                    ?photo <https://artresearch.net/vision/request_type> ?__dataType__ .
                                    ?photo <https://artresearch.net/vision/data> ?__data__ .
                                    ?photo <https://artresearch.net/vision/maxSimilarity> ?aiSimilarityMaxScore .
                                    ?photo <https://artresearch.net/pastec/similarity> ?similarity .
                                  }
                                  BIND(?photo as ?subject) .
                                  {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                    }
                  }

                } GROUP BY ?subject
              }}'



          default-query-2='
            SELECT ?subject WHERE {
              ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
              ?work crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?subject .
              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
            }
          '

          text-query-2='
            SELECT DISTINCT ?subject WHERE {
              {
                      SELECT ?subject ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore) as ?score) WHERE {
                        ?work crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?subject .
                        {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        FILTER(?__textPattern__) .

                        {
                          SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                              ?work crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?subject .
                              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                              FILTER(?__textPattern__) .
                          }
                          GROUP BY ?subject
                          ORDER BY DESC (?textMaxScore)
                          LIMIT 1
                        }
                      }
                      GROUP BY ?subject
                  }
                  ?work crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?subject .
          }'


          default-query-3='
            SELECT ?subject WHERE {
              ?work crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph> .
              ?work crm:P108i_was_produced_by/crm:P14_carried_out_by/crm:P107i_is_current_or_former_member_of? ?subject .
            }
          '

          text-query-3='
            SELECT DISTINCT ?subject WHERE {
              {
                      SELECT ?subject ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore) as ?score) WHERE {
                        ?work crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph> .
                        ?work crm:P108i_was_produced_by/crm:P14_carried_out_by/crm:P107i_is_current_or_former_member_of? ?subject .
                        {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        FILTER(?__textPattern__) .

                        {
                          SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                              ?work crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph> .
                              ?work crm:P108i_was_produced_by/crm:P14_carried_out_by/crm:P107i_is_current_or_former_member_of? ?subject .
                              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                              FILTER(?__textPattern__) .
                          }
                          GROUP BY ?subject
                          ORDER BY DESC (?textMaxScore)
                          LIMIT 1
                        }
                      }
                      GROUP BY ?subject
                  }
                ?work crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph> .
                ?work crm:P108i_was_produced_by/crm:P14_carried_out_by/crm:P107i_is_current_or_former_member_of? ?subject .

          }'

          default-query-4='
            SELECT ?subject WHERE {
              ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
              ?work crm:P50_has_current_keeper ?subject .
            }
          '

          text-query-4='
            SELECT DISTINCT ?subject WHERE {
              {
                      SELECT ?subject ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore) as ?score) WHERE {
                        ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                        ?work crm:P50_has_current_keeper ?subject .
                        {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        FILTER(?__textPattern__) .

                        {
                          SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                              ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                              ?work crm:P50_has_current_keeper ?subject .
                              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                              FILTER(?__textPattern__) .
                          }
                          GROUP BY ?subject
                          ORDER BY DESC (?textMaxScore)
                          LIMIT 1
                        }
                      }
                      GROUP BY ?subject
                  }
                  ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                  ?work crm:P50_has_current_keeper ?subject .

          }'
            >
            </pharos-image-search-with-slider>

            [[!--
            <semantic-search-configuration-editor></semantic-search-configuration-editor>
            --]]
          </div>
          <semantic-search-result-holder>
            <semantic-search-result>
              <!-- <p class="bold-text">filters</p> -->
              <semantic-search-facet-breadcrumbs>

              </semantic-search-facet-breadcrumbs>

              <semantic-query
                id="result-count"
                query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {}'
                template="{{>currentResultCount}}"
              >
                <template id="currentResultCount">
                  <p><span class="bold-text">results</span> {{bindings.0.count.value}}</p>
                </template>
              </semantic-query>

              <mp-event-proxy id='search-results-refresh' on-event-source='main-search' on-event-type='Search.DomainSelected'
                    proxy-event-type='Component.TemplateUpdate' proxy-targets='["search-result-template"]'
              ></mp-event-proxy>

               <mp-event-target-template-render id='search-result-template' template='{{> template}}'>
                  <template id='template'>
                    {{#if (eq domain "https://artresearch.net/resource/custom/fc/work")}}
                    <semantic-search-result>
                      <semantic-query
                        id="grid-result"
                        prefetch-labels="false"
                        query='SELECT DISTINCT ?domain ?subject ?maxPhoto ?matchType WHERE {
                        } ORDER BY DESC(?score) DESC(?subject) LIMIT 10000'
                        template="{{> subjectCellTemplate}}"
                        no-result-template='[[> CardNoResult ]]'
                      >
                        <template id="subjectCellTemplate">
                          <div class="scrolable-area">
                            <infinite-scroll item-height="250px"  item-per-row="auto" item-width="550" batch-size="20" values='{{stringify bindings}}' profile="artwork-card">
                              <template id='template'>
                                <div class="result-item karla-regular">
                                  {{#each this}}
                                    {{> Default:CardArtwork photo=maxPhoto.value provider=provider matchType=matchType}}
                                  {{/each}}
                                </div>
                              </template>
                            </infinite-scroll>
                          </div>
                        </template>
                      </semantic-query>
                     </semantic-search-result>
                    {{else if (eq domain "https://artresearch.net/resource/custom/fc/photograph")}}
                    <semantic-search-result>
                      <semantic-query
                        id="grid-result"
                        prefetch-labels="false"
                        query='SELECT DISTINCT ?subject WHERE { } ORDER BY DESC(?score) DESC(?subject) LIMIT 2000'
                        template="{{> subjectCellTemplate}}"
                        no-result-template='[[> CardNoResult ]]'
                      >
                        <template id="subjectCellTemplate">
                          <div class="scrolable-area">
                            <infinite-scroll item-height="250px" item-per-row="auto" item-width="550" batch-size="20" values='{{stringify bindings}}'>
                              <template id='template'>
                                <div class="result-item karla-regular">
                                  {{#each this}}
                                    {{> Default:CardPhotograph }}
                                  {{/each}}
                                </div>
                              </template>
                            </infinite-scroll>
                          </div>
                        </template>
                      </semantic-query>
                    </semantic-search-result>
                    {{else if (eq domain "https://artresearch.net/resource/custom/fc/artist")}}
                    <semantic-search-result>
                      <semantic-query
                        id="grid-result"
                        prefetch-labels="false"
                        query='SELECT DISTINCT ?subject (COUNT(DISTINCT ?work) AS ?worksCount) WHERE { } GROUP BY ?subject ORDER BY DESC(?score) DESC(?worksCount) LIMIT 2000'
                        template="{{> subjectCellTemplate}}"
                        no-result-template='[[> CardNoResult ]]'
                      >
                        <template id="subjectCellTemplate">
                          <div class="scrolable-area">
                            <infinite-scroll item-height="200px" item-per-row="auto" item-width="500" batch-size="10" values='{{stringify bindings}}'>
                              <template id='template'>
                                <div class="result-item  karla-regular">
                                  {{#each this}}
                                    {{> Default:CardArtist}}
                                  {{/each}}
                                </div>
                              </template>
                            </infinite-scroll>
                          </div>
                        </template>
                      </semantic-query>
                    </semantic-search-result>
                    {{else if (eq domain "https://artresearch.net/resource/custom/fc/repository")}}
                    <semantic-search-result>
                        <semantic-query
                          id="grid-result"
                          prefetch-labels="false"
                          query='SELECT DISTINCT ?subject (COUNT(DISTINCT ?work) AS ?worksCount) WHERE { } GROUP BY ?subject ORDER BY DESC(?score) DESC(?worksCount) LIMIT 2000'
                          template="{{> subjectCellTemplate}}"
                          no-result-template='[[> CardNoResult ]]'
                        >
                          <template id="subjectCellTemplate">
                            <div class="scrolable-area">
                              <infinite-scroll item-height="120px" batch-size="10" values='{{stringify bindings}}'>
                                <template id='template'>
                                  <div class="result-item karla-regular">
                                    {{#each this}}
                                      {{> Default:CardRepository}}
                                    {{/each}}
                                  </div>
                                </template>
                              </infinite-scroll>
                           </div>
                          </template>
                        </semantic-query>
                    </semantic-search-result>
                    {{else if (eq domain "https://artresearch.net/resource/custom/fc/photographer")}}
                    <semantic-search-result>
                      <semantic-query
                        id="grid-result"
                        prefetch-labels="false"
                        query='SELECT DISTINCT ?subject (COUNT(DISTINCT ?work) AS ?worksCount) WHERE { } GROUP BY ?subject ORDER BY DESC(?score) DESC(?worksCount) LIMIT 2000'
                        template="{{> subjectCellTemplate}}"
                        no-result-template='[[> CardNoResult ]]'
                      >
                        <template id="subjectCellTemplate">
                          <div class="scrolable-area">
                            <infinite-scroll item-height="120px" batch-size="10" values='{{stringify bindings}}'>
                              <template id='template'>
                                <div class="result-item karla-regular">
                                  {{#each this}}
                                    {{> Default:CardArtist}}
                                  {{/each}}
                                </div>
                              </template>
                            </infinite-scroll>
                          </div>
                        </template>
                      </semantic-query>
                    </semantic-search-result>
                    {{/if}}
                    </template>
               </mp-event-target-template-render>
            </semantic-search-result>
          </semantic-search-result-holder>
        </div>
      </div>
    </semantic-search>
