<!-- Displays a row of IIIF photographs that are clickable (iiif mirador popup) -->
<div>
  <semantic-query
    query=' SELECT distinct ?imgURL ?image  WHERE {
        {
          ?artwork crm:P138i_is_represented_by ?visual_item.
          ?visual_item crm:P128i_is_carried_by ?? .
          ?? crm:P129i_is_subject_of ?image.
          BIND(REPLACE(STR(?image),"full/full","full/350,") AS ?imgURL).
        }UNION{
          ?? crm:P138i_is_represented_by ?visual_item.
          ?visual_item crm:P128i_is_carried_by ?photo.
          ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
          ?photo crm:P129i_is_subject_of ?image.
          BIND(REPLACE(STR(?image),"full/full","full/350,") AS ?imgURL).
        }UNION{ 
          ?originalSubject owl:sameAs ??.
          ?originalSubject crm:P138i_is_represented_by ?visual. 
          ?visual crm:P128i_is_carried_by ?fullsizeImgUrl .
          ?fullsizeImgUrl crm:P129i_is_subject_of ?image.
          BIND(REPLACE(STR(?image),"full/full","full/350,") AS ?imgURL).
      }
    }'
    template="{{> imageThumbnail}}"
  >
    <template id="imageThumbnail">
      <bs-tab-container id="imageViewTabs" default-active-key="grid">
        <div>
          <bs-nav class="navbar-flex-end" bs-style="tabs">
            <bs-nav-item event-key="grid">
              <span class="fa fa-th"></span>
            </bs-nav-item>
            <bs-nav-item event-key="single">
              <span class="fa fa-image"></span>
            </bs-nav-item>
          </bs-nav>
          <bs-tab-content animation="true">
            <bs-tab-pane event-key="grid">
              <div class="summaryImages">
                <div class="rs-page__summary-image">
                  {{#each bindings}}
                  <mp-overlay-dialog title="‎‎" type="lightbox">
                    <mp-overlay-dialog-trigger>
                      <img
                        class="imageThumbnail"
                        alt="Issue with image"
                        src="{{imgURL.value}}"
                      />
                    </mp-overlay-dialog-trigger>
                    <mp-overlay-dialog-content>
                      <semantic-query
                        query='SELECT ?fullsizeImgUrl ?iiifServer WHERE {
                        OPTIONAL
                        {
                          { 
                            ??  <https://pharos.artresearch.net/custom/has_provider> ?provider.
                            ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.
                          }UNION{
                            ?originalSubject owl:sameAs ??.
                            ?originalSubject  <https://pharos.artresearch.net/custom/has_provider> ?provider.
                            ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.
                          }
                        }
                        BIND(str(REPLACE("{{image.value}}","320px","2048px")) as ?fullsizeImgUrlHertziana)
                        BIND(str(?fullsizeImgUrlHertziana) as ?fullsizeImgUrl)
                    }LIMIT 1'
                        template="{{> fullSizeImageTemplate}}"
                      >
                        <template id="fullSizeImageTemplate">
                          {{#each bindings}} {{#ifCond iiifServer.value "!=="
                          undefined}}
                          <div>
                            <div style="width: 100vw; height: 86vh">
                              <rs-iiif-mirador
                                image-or-region="[[this]]"
                                image-id-pattern='
                                    BIND("image" AS ?type). BIND(?subject AS ?imageIRI). 
                                    ?subject crm:P138i_is_represented_by ?visual_item.
                                    ?visual_item crm:P128i_is_carried_by ?photo.
                                    ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                                    ?photo crm:P129i_is_subject_of <{{fullsizeImgUrl.value}}>.
                                    <{{fullsizeImgUrl.value}}> crm:P2_has_type <http://iiif.io/api/image>.
                                    BIND(REPLACE(STR(REPLACE(STR("{{fullsizeImgUrl.value}}"),"/full/full/0/*","")), "(^.*)\\/(.*)$", "$2") AS ?idWithDefaultNative).
                                    BIND(REPLACE(?idWithDefaultNative,"default.jpg","") AS ?idWithNative).
                                    BIND(REPLACE(?idWithNative,"native.jpg","") AS ?imageID).
                                    '
                                iiif-server-url="{{iiifServer.value}}"
                              >
                              </rs-iiif-mirador>
                            </div>
                          </div>
                          {{else}}
                          <img
                            style="
                              width: 100%;
                              height: 100%;
                              object-fit: contain;
                            "
                            src="{{fullsizeImgUrl.value}}"
                          />
                          {{/ifCond}} {{/each}}
                        </template>
                      </semantic-query>
                    </mp-overlay-dialog-content>
                  </mp-overlay-dialog>
                  {{/each}}
                </div>
              </div>
            </bs-tab-pane>

            <bs-tab-pane event-key="single">
              <div
                class="rs-page__summary-image summaryImages summary-image-with-thumbs"
              >
                <mp-event-target-template-render
                  id="event-target"
                  template="{{> mainImageTemplate}}"
                >
                  <template id="mainImageTemplate">
                    <mp-overlay-dialog title="‎‎" type="lightbox">
                      <mp-overlay-dialog-trigger>
                        <div class="summary-image-main">
                        {{#ifCond imgURL "!==" undefined}}
                          <img
                            class="imageThumbnail"
                            alt="Issue with image"
                            src="{{imgURL}}"
                          />
                        {{/ifCond}} {{#ifCond imgURL "===" undefined}}
                        <semantic-query
                          query='SELECT DISTINCT ?imageUrl ?iiifImage WHERE{
                                BIND(REPLACE(STR("{{bindings.0.imgURL.value}}"),"full/350,","full/full") AS ?iiifImage).
                                BIND(("{{bindings.0.imgURL.value}}") AS ?imageUrl).
          
                                }'
                          template="{{> mediumImageSize}}"
                        >
                          <template id="mediumImageSize">
                            <img
                              class="imageThumbnail"
                              alt="Issue with image"
                              src="{{bindings.0.imageUrl.value}}"
                            />
                          </template>
                        </semantic-query>
                        {{/ifCond}}
                      </div>
                      </mp-overlay-dialog-trigger>
                      <mp-overlay-dialog-content>
                        <semantic-query
                          query='SELECT ?fullsizeImgUrl ?iiifServer WHERE {
                                OPTIONAL
                                {
                                  { 
                                    ??  <https://pharos.artresearch.net/custom/has_provider> ?provider.
                                    ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.
                                  }UNION{
                                    ?originalSubject owl:sameAs ??.
                                    ?originalSubject  <https://pharos.artresearch.net/custom/has_provider> ?provider.
                                    ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.
                                  }
                                }
                                {{#ifCond imgURL "!==" undefined}}
                                BIND(REPLACE(STR("{{imgURL}}"),"320px","2048px") AS ?fullsizeImgUrlHertziana).
                                BIND(STR(?fullsizeImgUrlHertziana) AS ?fullsizeImgUrl).
                                {{/ifCond}}
                                {{#ifCond imgURL "===" undefined}}
                                BIND(REPLACE(STR("{{bindings.0.imgURL.value}}"),"320px","2048px") AS ?fullsizeImgUrlHertziana).
                                BIND(REPLACE(STR(?fullsizeImgUrlHertziana),"full/350,","full/full") AS ?fullsizeImgUrl).
                                {{/ifCond}}
                            }LIMIT 1'
                          template="{{> fullSizeImageTemplate}}"
                        >
                          <template id="fullSizeImageTemplate">
                            {{#each bindings}} {{#ifCond iiifServer.value "!=="
                            undefined}}
                            <div>
                              <div style="width: 100vw; height: 86vh">
                                <rs-iiif-mirador
                                  image-or-region="[[this]]"
                                  image-id-pattern='
                                            BIND("image" AS ?type). BIND(?subject AS ?imageIRI). 
                                            ?subject crm:P138i_is_represented_by ?visual_item.
                                            ?visual_item crm:P128i_is_carried_by ?photo.
                                            ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                                            ?photo crm:P129i_is_subject_of <{{fullsizeImgUrl.value}}>.
                                            <{{fullsizeImgUrl.value}}> crm:P2_has_type <http://iiif.io/api/image>.
                                            BIND(REPLACE(STR(REPLACE(STR("{{fullsizeImgUrl.value}}"),"/full/full/0/*","")), "(^.*)\\/(.*)$", "$2") AS ?idWithDefaultNative).
                                            BIND(REPLACE(?idWithDefaultNative,"default.jpg","") AS ?idWithNative).
                                            BIND(REPLACE(?idWithNative,"native.jpg","") AS ?imageID).
                                            '
                                  iiif-server-url="{{iiifServer.value}}"
                                >
                                </rs-iiif-mirador>
                              </div>
                            </div>
                            {{else}}
                            <img
                              style="
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                              "
                              src="{{fullsizeImgUrl.value}}"
                            />
                            {{/ifCond}} {{/each}}
                          </template>
                        </semantic-query>
                      </mp-overlay-dialog-content>
                    </mp-overlay-dialog>
                  </template>
                </mp-event-target-template-render>
                <div class="summary-image-thumbs">
                  {{#each bindings}}
                  <mp-event-trigger
                    id="event-trigger"
                    type="Component.TemplateUpdate"
                    data='{"imgURL":"{{imgURL.value}}"}'
                    targets='["event-target"]'
                  >
                    <img
                      class="object-representations__image--rep"
                      src="{{imgURL.value}}"
                    />
                  </mp-event-trigger>
                  {{/each}}
                </div>
              </div>
            </bs-tab-pane>
          </bs-tab-content>
        </div>
      </bs-tab-container>
    </template>
  </semantic-query>
</div>
<style>
  .mirador .researchspace-mirador.mirador-container .mirador-viewer {
    background-color: #f5f5f5 !important;
  }
  .mirador .researchspace-mirador.mirador-container .book-view,
  .mirador .researchspace-mirador.mirador-container .image-view,
  .mirador .researchspace-mirador.mirador-container .mirador-osd,
  .mirador .researchspace-mirador.mirador-container .scroll-view,
  .mirador .researchspace-mirador.mirador-container .thumbnail-view {
    background-color: #f5f5f5;
  }
  .modal-body img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  .navbar-flex-end{
    display: flex;
    justify-content: flex-end;
  }
  .summaryImages {
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    border-radius: 4px !important;
    max-height: 45vh;
    overflow-y: scroll;
  }
  .rs-page__summary-image{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .summary-image-with-thumbs {
    flex-direction: column;
    max-height: unset !important;
    overflow-y: unset !important;
  }
  .summary-image-main{
    display: flex;
    justify-content: center;
  }
  .summary-image-main img{
    object-fit: contain;
  }
  .summary-image-thumbs {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .imageThumbnail {
    height: 40vh;
    max-height: 400px;
    margin: 1vw;
    cursor: pointer;
    background-position: center;
  }

  .modal-content {
    background-color: #f5f5f5 !important;
  }
  button.close {
    color: black !important;
    opacity: 1;
    font-size: 55px !important;
  }
  .overlay-lightbox__body {
    padding: 0px !important;
  }
  .modal-content {
    border: none !important;
    box-shadow: none !important;
  }
</style>
