<div class="page artists-page">

  <div class="main-container">


    <semantic-search
      save-state-in-browser-history="false"
      limit=10000
      categories='{
        "<http://www.w3.org/2001/XMLSchema#date>": [{
          "kind": "date-range",
          "datatype": "http://www.w3.org/2001/XMLSchema#date",
          "queryPattern": "
            {
              $subject ?__relation__ ?date .
              FILTER(?date <= ?__dateEndValue__) .
              FILTER(?date >= ?__dateBeginValue__) .
            }"
          }]
      }'
      relations='[[> PersonSearchRelations]]'
      search-profile='[[> PersonSearchProfile]]'

      datasets-config='{"datasetPattern": "", "datasets": [{"label": "PHAROS", "isDefault": true, "alignments": [{"iri": "http://vocab.getty.edu/aat/", "label": "Getty", "isDefault": true}, {"iri": "https://artresearch.net/resource/midas/vocabulary", "label": "MIDAS"}, {"iri": "https://artresearch.net/resource/zeri/vocabulary", "label": "Zeri"}]}]}'
    >
      <div class="search-bar">
        <semantic-search-query-keyword
          evaluate-on-change='true'
          domain="<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          debounce="600"
          tokenize-lucene-query="true"
          escape-lucene-syntax="false"

          default-query='
            SELECT ?subject WHERE {
              {
                ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                ?work crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by/custom:sameAs ?subject .
              } UNION {
                ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                ?work crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?subject .
                FILTER NOT EXISTS {
                  ?subject custom:sameAs ?reconciled .
                }
              }
              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}

              BIND(0 as ?score) .
            }
          '
          query='
          PREFIX ql: <http://qlever.cs.uni-freiburg.de/builtin-functions/>
          SELECT DISTINCT ?subject WHERE {
              {
                ?work crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by/custom:sameAs ?subject .
              } UNION {
                ?work crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?subject .
                FILTER NOT EXISTS {
                  ?subject custom:sameAs ?reconciled .
                }
              }
              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
              {
                ?text ql:contains-entity ?subject .
                ?text ql:contains-word ?__token__ .
              }
          }
          '>
        </semantic-search-query-keyword>

        [[!--
        <semantic-search-configuration-editor></semantic-search-configuration-editor>
        --]]
      </div>

      <div class="content-area">
        <div class="facet-column">
          <semantic-search-facet open-by-default='false' sortby='count-desc' facet-values-threshold="5000"
            default-value-queries='{
              "resource": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE { FILTER(?__facetRelationPattern__) } GROUP BY ?value ORDER BY DESC(?count)",
              "literal": "SELECT ?literal (COUNT(DISTINCT $subject) AS ?count) WHERE { FILTER(?__facetRelationPattern__) } GROUP BY ?literal ORDER BY DESC(?count)"
            }'
          >
          </semantic-search-facet>
        </div>

        <div class="results-column">
          <semantic-search-result-holder>
            <semantic-search-result>
              <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
              <semantic-query
                id="result-count"
                query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {}'
                template="{{>currentResultCount}}"
              >
                <template id="currentResultCount">
                  <p><span class="bold-text">results</span> {{bindings.0.count.value}}</p>
                </template>
              </semantic-query>


              <semantic-query
                id="grid-result"
                prefetch-labels="false"
                query='SELECT DISTINCT ?subject (COUNT(DISTINCT ?work) AS ?worksCount) WHERE { } GROUP BY ?subject ORDER BY DESC(?score) DESC(?worksCount) LIMIT 2000'
                template="{{> subjectCellTemplate}}"
                no-result-template='[[> CardNoResult ]]'
              >
                <template id="subjectCellTemplate">
                    <infinite-scroll item-height="100px" batch-size="10" values='{{stringify bindings}}'>
                      <template id='template'>
                        <div class="result-item">
                          {{> Default:CardArtist}}
                        </div>
                      </template>
                    </infinite-scroll>
                </template>
              </semantic-query>
            </semantic-search-result>
          </semantic-search-result-holder>
        </div>
      </div>
    </semantic-search>
  </div>
</div>
