<div class="row row-center">
    <div
      id="main-containers"
      style="max-width: 1300px"
      class="col-md-10 col-xs-10">
      <!-- Title -->
          <div class="row">
            <div class="col-sm-7">
              <header>
                <h1 style="display: flex;"><div style="color: #dd3737;">art</div>research.net News</h1>
              </header>
            </div>
          </div>
          <div class="news-content">
                <semantic-table id='resources-results'
                number-of-displayed-rows=10
                options='{"pageSizeSelection": true, "showColumnFilters": true}'
                query=' PREFIX ldp: <http://www.w3.org/ns/ldp#>
                        SELECT ?parent ?newscontainer ?newsLink ?newsTitle ?image ?doc ?description ?date WHERE{
                          GRAPH ?g {
                            ?parent ldp:contains ?newscontainer.
                            ?newsLink a fc:news.
                            ?newsLink fr:hasTitle ?newsTitle.
                            ?newsLink fr:hasDate ?date.
                            OPTIONAL{
                              ?newsLink fr:hasDescription ?description.
                            }
                            OPTIONAL {
                              ?newsLink fr:hasAttachedImage ?image .
                            }
                            OPTIONAL {
                              ?newsLink fr:hasAttachedDocument ?doc.
                            }
                          }
                        }ORDER BY DESC (?date)'
                 no-result-template='<h1 style="color:#d13239 ">There are no News to Display</h1>'
                 column-configuration='[
                              {"variableName":"newsTitle","displayName":"News", "cellTemplate": "{{>Title}}"},
                              {"variableName":"Description","displayName":"Description", "cellTemplate": "{{>Description}}"},
                              {"variableName":"Date","displayName":"Date", "cellTemplate": "{{dateTimeFormat date.value \"LLL\"}}" ,"visible": "false" },
                              {"displayName":"Actions", "cellTemplate": "{{> actions}}"}
                          ]'
            
                        
>
     <template id='actions'>
          <div style="display: flex;">
                  <semantic-link iri="{{newsLink.value}}">
                    <button class='btn btn-default btn-xs pull-right' title='View More' style='margin-right: 15px; '>
                      <i class='fa fa-folder-open'></i> View More
                    </button>          
              </semantic-link>

            <mp-overlay-dialog title="Delete News" >
                    <mp-overlay-dialog-trigger>
                      <button class='btn btn-default btn-xs pull-right' title='Delete News' style='margin-right: 15px; '>
                        <i class='fa fa-trash'></i>Delete News
                      </button>
                    </mp-overlay-dialog-trigger>
                    <mp-overlay-dialog-content>
                      <h1>Are you sure you would like to delete this News?</h1>
                        <mp-ldp-remove-from-container-action 
                            container="{{parent.value}}"
                            iri="{{newscontainer.value}}" 
                            post-action='reload'>
                              <button class="btn btn-danger pull-right" title="Delete annotation" 
                                  style="margin-left: 35px;font-size: 22px;">
                                  <i class="fa fa-trash"></i> Yes delete
                                </button>
                        </mp-ldp-remove-from-container-action>
                    </mp-overlay-dialog-content>
            </mp-overlay-dialog>
          </div>
      </template>
<template id="Title">
    <semantic-link iri="{{newsLink.value}}">
      {{newsTitle.value}}
    </semantic-link>
</template>
<template id="Description">
  <semantic-link iri="{{newsLink.value}}">
    <div style="  width: 250px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;" >
          {{description}}</div>
  </semantic-link>
</template>
</semantic-table>
         </div>
    </div>
</div>