<semantic-table
id="grid-result"
prefetch-labels="false"
options='{"showFilter":false}'
number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}25{{/if}}"
query='
SELECT DISTINCT ?subject (SAMPLE(?placeName) AS ?placeName)
WHERE {
  {{#ifCond withImages "===" "true"}}
    ?subject fr:Place_depicted_by ?photo.
  {{/ifCond}}
  ?subject a fc:place.
  ?subject rdfs:label ?placeName
} GROUP BY (?subject) LIMIT 1000'
tuple-template="{{>tupleTemplate}}"
>
  <template id="tupleTemplate">
      [[> CardPlace]]
  </template>
</semantic-table>