<semantic-table
  id="semantic-search-result-table"
  query='SELECT DISTINCT 
?subject
(SAMPLE(?image) as ?image)  
(SAMPLE(?creator) as ?creator) 
(SAMPLE(?date) as ?date) 
(SAMPLE(?repository) as ?repository) 
(SAMPLE(?provider) as ?provider) WHERE {

    OPTIONAL{
      ?subject fr:Work_has_provider_Institution ?provider.
    }
    OPTIONAL{
      ?subject fr:Work_created_from_Artist ?creator.
    }
    OPTIONAL{
      ?subject fr:Work_from_Date ?date.
    }
    OPTIONAL{
      ?originalSubject owl:sameAs ?subject.
      ?originalSubject  crm:P50_has_current_keeper ?repository.
    }
    OPTIONAL{
        ?subject fr:Work_depicted_by_Photo ?photo.
        ?photo crm:P129i_is_subject_of ?fullsizeImgUrl.
        ?fullsizeImgUrl crm:P2_has_type <http://vocab.getty.edu/aat/300078817>.
        BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/!100,100") as ?smallerImgUrl)
      }
    BIND("/assets/images/media/image_placeholder.jpg" as ?default_imageUrl)
    BIND(coalesce(?smallerImgUrl, ?default_imageUrl) as ?image)
}GROUP BY(?subject) LIMIT 100'
  options='{"showFilter":true, "pageSizeSelection": true,"resultsPerPage":10}'
  number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}10{{/if}}"
  column-configuration='[
{
  "displayName": "Image", 
  "cellTemplate": "{{>tableImageTemplate}}"
},
{"variableName": "subject", "displayName": "Title","cellTemplate": "{{>titleTemplate}}"},
{"variableName": "date", "displayName": "Date"},
{"variableName": "creator", "displayName": "Creator"},
{"variableName": "repository", "displayName": "Repository"},
{"variableName": "provider", "displayName": "Photo archive"}
]'
>
<template id="titleTemplate">
  <semantic-context repository='default'>
    <span><semantic-link iri="{{subject.value}}"></semantic-link></span>
  </semantic-context>
</template>

  <template id="tableImageTemplate">
    <div class="thumbnailImageContainerTabular">
      <scroll-to-top querySelector=".pagination li"></scroll-to-top>
      <img alt="   " class="thumbnailImageTabular" src="{{image.value}}" />
    </div>
  </template>
</semantic-table>
