<div id="institution-filter-search">
  <semantic-search
    search-profile='{
        "categories":  
        [
          {
            "iri":"<https://pharos.artresearch.net/resource/fc/institution>",
            "label":"Repository"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fc/place>",
            "label":"Location"
          },
          {
            "iri":"<https://pharos.artresearch.net/custom/Provider>",
            "label":"Photo archive"
          }
        ],
        "relations":
        [
          {
            "iri": "<https://pharos.artresearch.net/resource/fr/Institution_from_Place>",
            "label":"Place",
            "hasDomain":"<https://pharos.artresearch.net/resource/fc/institution>",
            "hasRange":"<https://pharos.artresearch.net/resource/fc/place>"
          }
        ]
      }'
  >
    <div id="header-search" class="search-page">
        <mp-event-target-template-render
          id="event-target-place"
          template="{{> placeEventTargetTemplate}}"
        >
          <template id="placeEventTargetTemplate">
            {{#if placeIri}}
            <div style="width:100%;display: flex; flex-direction: column;" > 
              <semantic-search-query-keyword
              placeholder="Search for a repository e.g. Royal Library"
              escape-lucene-syntax="false"
              domain="<https://pharos.artresearch.net/resource/fc/institution>"
              default-query="
                    SELECT DISTINCT ?subject ?institutionImage
                    WHERE {
                      ?subject a pharosfc:institution.   
                      ?subject pharosfr:Institution_from_Place <{{placeIri}}>
                    }LIMIT 100"
              query='
                            SELECT DISTINCT ?subject WHERE {
                            ?subject a pharosfc:institution.   
                            ?subject rdfs:label ?someLabel.
                            ?someLabel bds:search ?__token__ .
                            ?someLabel bds:minRelevance "0.3"^^xsd:double;
                            bds:matchAllTerms "true"  .
                            } 
                          '
              ></semantic-search-query-keyword>
              <semantic-query
              id="view-more"
              query="SELECT (COUNT( DISTINCT ?subject) as ?count) WHERE {
                ?subject a pharosfc:institution.   
                ?subject pharosfr:Institution_from_Place <{{placeIri}}>
              }"
              template="{{>currentResultCount}}"
            >
              <template id="currentResultCount">
                <h2>
                  {{#ifCond bindings.0.count.value "==" 1}}
                  Found 1 repository in <mp-label iri="{{placeIri}}"></mp-label>
                  {{else}}
                  Found {{bindings.0.count.value}} repositories in <mp-label iri="{{placeIri}}"></mp-label>
                  {{/ifCond}}
                </h2>
              </template>
              </semantic-query>
            </div>
            {{else}}
              <semantic-search-query-keyword
              placeholder="Search for a repository e.g. Royal Library"
              escape-lucene-syntax="false"
              domain="<https://pharos.artresearch.net/resource/fc/institution>"
              default-query="
                    SELECT DISTINCT ?subject ?institutionImage
                    WHERE {
                      ?subject a pharosfc:institution.   
                    }LIMIT 100"
              query='
                            SELECT DISTINCT ?subject WHERE {
                            ?subject a pharosfc:institution.   
                            ?subject rdfs:label ?someLabel.
                            ?someLabel bds:search ?__token__ .
                            ?someLabel bds:minRelevance "0.3"^^xsd:double;
                            bds:matchAllTerms "true"  .
                            } 
                          '
            ></semantic-search-query-keyword>
            {{/if}}

        </template>
      </mp-event-target-template-render>
    </div>
    <div class="row">
      <bs-col
        lg="3"
        md="4"
        sm="5"
        class="fade-in-fwd filters-container"
        style="margin-top: 8px"
      >
      <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
        <semantic-tree 
        collapsed="true"
        query="
        PREFIX : <http://help.metaphacts.com/resource/>
        SELECT ?node ?parent WHERE {
          ?subject a pharosfc:institution. 
          ?subject pharosfr:Institution_from_Place ?parent.
          ?parent rdfs:label ?label.
          ?subject pharosfr:Institution_from_Place ?node. 
          ?parent crm:P2_has_type <http://vocab.getty.edu/aat/300387506>.
          ?node <http://www.geonames.org/ontology#parentCountry> ?parent.
        }order by(?label)"
        tuple-template="{{>placeTuple}}"
        >
        <template id="placeTuple">
            <mp-event-trigger
            id="event-trigger-place"
            type="Component.TemplateUpdate"
            data='{"placeIri":"{{node.value}}"}'
            targets='["event-target-place"]'>
            <div>
            <mp-label iri='{{node.value}}'></mp-label>
            </div>
          </mp-event-trigger>
        </template>
      </semantic-tree>
      </bs-panel>
      </bs-col>
      <bs-col lg="9" md="8" sm="7">
        <semantic-search-result-holder>
          <bs-tabs unmount-on-exit="true" id="search-results" animation="false">
            <bs-tab event-key="2" title="Grid">
              <semantic-search-result>
                <div id="card-results">
                  <bs-tab-container
                    id="tab-container"
                    class="page__body-navtabs--borderless"
                    default-active-key="defaultView"
                  >
                    <div>
                      <bs-nav bs-style="tabs">
                        <bs-nav-item event-key="defaultView">
                          Default view
                        </bs-nav-item>
                        <bs-nav-item event-key="mapView">
                          Map view
                        </bs-nav-item>
                      </bs-nav>

                      <bs-tab-content unmount-on-exit="true">
                        <bs-tab-pane event-key="defaultView">
                          <semantic-table
                            id="grid-result"
                            options='{
                              "showFilter":false
                            }'
                            number-of-displayed-rows="9"
                            query="
                          SELECT DISTINCT ?subject WHERE {
                             OPTIONAL{
                              ?subject pharosfr:Institution_depicted_by ?institutionImage
                            }     
                          }ORDER BY DESC(?institutionImage) LIMIT 100
                        "
                            tuple-template="{{>tupleTemplate}}"
                            no-result-template='[[> :CardNoResult ]]'
                          >
                            <template id="tupleTemplate">
                              [[> :CardInstitution]]
                            </template>
                          </semantic-table>
                        </bs-tab-pane>
                        <bs-tab-pane event-key="mapView">
                          <div class="mapContainer">
                            <semantic-map
                              id="repository-map"
                              query="SELECT ?subject ?label ?lat ?lng WHERE {
                                ?subject pharosfr:Institution_from_Place ?place.
                                ?place <http://www.w3.org/2003/01/geo/wgs84_pos#lat> ?lat.
                                ?place <http://www.w3.org/2003/01/geo/wgs84_pos#long> ?lng.
                                ?subject rdfs:label ?label.
                                ?place crm:P2_has_type <http://vocab.getty.edu/aat/300008389>
                              } LIMIT 1000"
                              tuple-template='<p></p><a style="text-decoration: none;"  href="https://artresearch.net/resource/?uri={{subject.value}}" target="_blank"><b style="color: #6b0000;">{{label.value}}</b><p></p><p></p></a><hr>'
                            >
                            </semantic-map>
                          </div>
                        </bs-tab-pane>
                      </bs-tab-content>
                    </div>
                  </bs-tab-container>
                </div>
              </semantic-search-result>
            </bs-tab>
          </bs-tabs>
        </semantic-search-result-holder>
      </bs-col>
    </div>
  </semantic-search>
</div>
