<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">Partners</li>
</ol>

<!-- <mp-event-trigger id="breadcrumbs" type='Component.TemplateUpdate' on='["mounted"]' targets='["top-header-breadcrumbs"]'
  data='{"breadcrumb": "Partners"}'>
</mp-event-trigger> -->

<div class="page-content scrollable-content with-breadcrumbs">
  <div class="static-centered-content">
    <!-- Title -->
    <section class="page-title-and-intro">
      <h1>
        <span class="thin-text">Partner</span>
        <span class="bold-text">Institutions</span>
      </h1>
      <div class="about-content">
        <p class="bold-text">
          PHAROS is an international association that currently brings together
          thirteen art historical photo archives based in Europe and North
          America.
        </p>
      </div>
    </section>
    <section class="page-section partners-section">
      <section class="col-md-6" id="partners-hertziana">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_hertziana.jpg" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/hertziana">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_hertziana.png" alt="logo">
          <h3>Bibliotheca Hertziana</h3>
          <p class="partners-detail">website | catalogue</p>
          <p class="partners-detail">mail</p>
        </section>
      </section>
      <section class="col-md-6" id="partners-marburg">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_marburg.jpg" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/marburg">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_marburg.png" alt="logo">
          <h3>Bildarchiv Foto Marburg</h3>
          <p class="partners-detail">website | catalogue</p>
          <p class="partners-detail">mail</p>
        </section>
      </section>
    </section>
    <section class="page-section partners-section">
      <section class="col-md-6" id="partners-zeri">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_zeri.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/zeri">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_zeri.png" alt="logo">
          <h3>Fondazione Federico Zeri</h3>
          <p class="partners-detail">website | catalogue</p>
          <p class="partners-detail">mail</p>
        </section>
      </section>
      <section class="col-md-6" id="partners-frick">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_frick.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/frick">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_frick.png" alt="logo">
          <h3>Frick Photo Archive</h3>
          <p class="partners-detail">website | catalogue</p>
          <p class="partners-detail">mail</p>
        </section>
      </section>
    </section>
    <section class="page-section partners-section">
      <section class="col-md-6" id="partners-itatti">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_itatti.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/itatti">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_itatti.png" alt="logo">
          <h3>I Tatti</h3>
          <p class="partners-detail">website | catalogue</p>
          <p class="partners-detail">mail</p>
        </section>
      </section>
      <section class="col-md-6" id="partners-kunst">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_khi.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/khi">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_khi.png" alt="logo">
          <h3>Kunsthistorisches Institut in Florenz</h3>
          <p class="partners-detail">website | catalogue</p>
          <p class="partners-detail">mail</p>
        </section>
      </section>
    </section>
    <section class="page-section partners-section">
      <section class="col-md-6" id="partners-pmc">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_pmc.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/pmc">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/PMC.ico" alt="logo">
          <h3>Paul Mellon Centre for Studies in British Art</h3>
          <p class="partners-detail">website | catalogue</p>
          <p class="partners-detail">mail</p>
        </section>
      </section>
      <section class="col-md-6" id="partners-nga">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_nga.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/nga">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/NGA.ico" alt="logo">
          <h3>National Gallery of Art</h3>
          <p class="partners-detail">website | catalogue</p>
          <p class="partners-detail">mail</p>
        </section>
      </section>
    </section>
    <section class="page-section partners-section">
      <section class="col-md-6" id="partners-rkd">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_rkd.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/rkd">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/RKD.ico" alt="logo">
          <h3>RKD Netherlands Institute for Art History</h3>
          <p class="partners-detail">website | catalogue</p>
          <p class="partners-detail">mail</p>
        </section>
      </section>
      <section class="col-md-6" id="partners-ycba">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_yalecenter.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/ycba">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/ycba.ico" alt="logo">
          <h3>Yale Center for British Art</h3>
          <p class="partners-detail">website | catalogue</p>
          <p class="partners-detail">mail</p>
        </section>
      </section>
    </section>
  </div>
</div>
