<div class="rs-page__summary-image summaryImages summary-image-with-thumbs" >
  <div class="summary-image-main">
    <mp-event-target-template-render
      id="event-target"
      template="{{> mainImageTemplate}}"
    >
      <template id="mainImageTemplate">
        <div>
          <semantic-query
            query='SELECT DISTINCT ?photo ?rectoVersoImage ?rectoVersoImageThumbnail ?imageManifest WHERE{
                # Previously we selected only rectos, now we expand to include versos
                {{#ifCond image "===" undefined}}
                  ?photo crm:P129i_is_subject_of <{{bindings.0.image.value}}>; #Default first
                    {{else}}
                  ?photo crm:P129i_is_subject_of <{{image}}>; #User clicked on a thumbnail
                {{/ifCond}}
                crm:P129i_is_subject_of ?rectoVersoImage.
                ?rectoVersoImage crm:P2_has_type ?type.
                ?type rdfs:label ?typeLabel.
                OPTIONAL{
                  ?rectoVersoImage crm:P129i_is_subject_of ?imageManifest.
                  FILTER NOT EXISTS{
                    ?imageManifest crm:P2_has_type <https://artresearch.net/resource/hertziana/type/presentation_api_manifest>
                  }
                }
                FILTER(?typeLabel = "verso" || ?typeLabel = "recto"  ).
                BIND(REPLACE(STR(?rectoVersoImage),"full/full","full/!650,650") AS ?rectoVersoImageThumbnail).
              }ORDER BY ASC(?typeLabel)'
            template="{{> mediumImageSize}}"
          >
              <template id="mediumImageSize">
                  <div>
                    <div>
                    <mp-overlay-dialog title="‎‎" type="lightbox">
                      <mp-overlay-dialog-trigger>
                          <div class="summary-image-main imageAndSourceContainer">  
                            <semantic-query
                              query="     
                                SELECT ?provider ?photo WHERE{   
                                  # Get the little icon on the top left to please providers
                                  ?photo crm:P129i_is_subject_of <{{bindings.0.rectoVersoImage.value}}>.
                                  ?photo custom:has_provider ?provider.
                                }"
                              template="{{> imageSourceIcon}}"
                            >
                              <template id="imageSourceIcon">
                                {{#each bindings}}
                                  <div class="imageSourceIcon fade-in">
                                    [[> SourceIcon sub=true]]
                                  </div>
                                {{/each}}
                              </template>
                            </semantic-query>
                            {{#ifCond (objectLength bindings) ">" 2 }}
                                {{#each bindings}}
                                  <img
                                    class="imageThumbnailSingle tripleThumb"
                                    alt="   "
                                    onerror="url(/assets/images/media/image_placeholder_broken.jpg);"
                                    src="{{rectoVersoImageThumbnail.value}}"
                                  />
                                {{/each}}
                              {{else}}
                              {{#ifCond (objectLength bindings) "===" 2 }}
                              {{#each bindings}}
                                <img
                                  class="imageThumbnailSingle doubleThumb"
                                  alt="    "
                                  onerror="url(/assets/images/media/image_placeholder_broken.jpg);"
                                  src="{{rectoVersoImageThumbnail.value}}"
                                />
                              {{/each}}
                            {{else}}
                                {{#each bindings}}
                                  <img
                                    class="imageThumbnailSingle "
                                    alt="    "
                                    onerror="url(/assets/images/media/image_placeholder_broken.jpg);"
                                    src="{{rectoVersoImageThumbnail.value}}"
                                  />
                                {{/each}}
                              {{/ifCond}}
                              {{/ifCond}}
                          </div>
                      </mp-overlay-dialog-trigger>
                      <mp-overlay-dialog-content>
                        {{#ifCond  bindings.0.imageManifest.value "!==" undefined}}
                          [[> SummaryImagesWorkIIIFModal]]
                        {{else}}
                          [[> SummaryImagesWorkImageModal]]
                        {{/ifCond}}
                      </mp-overlay-dialog-content>
                    </mp-overlay-dialog>
                    <div>
                      [[#if (ask "ASK{ ?? a cfc:photo.}")]]
                      [[else]]
                           <semantic-query 
                                query="SELECT * WHERE{
                                  <{{bindings.0.photo.value}}> crm:P104_is_subject_to  ?right
                                }"
                                template="{{>CopyrightImg}}"
                                no-result-template="{{>noCopyrightImg}}">
                                <template id="CopyrightImg">
                                  <mp-popover>
                                  <mp-popover-trigger placement='bottom' trigger='["click"]'>
                                  <div class="container-copyright-img">
                                  <img
                                    class="imageCopyright"
                                    alt="    "
                                    src="/assets/images/copyright/in-copyright.svg"
                                  />
                                  </div>
                                  </mp-popover-trigger>
                                  <mp-popover-content>
                                    <div>
                                      <h8 class="copyright-info-text">This Rights Statement can be used for an Item that is in copyright. Using this statement implies that the organization making this Item available has determined that the Item is in copyright and either is the rights-holder, has obtained permission from the rights-holder(s) to make their Work(s) available, or makes the Item available under an exception or limitation to copyright (including Fair Use) that entitles it to make the Item available.</h8>
                                      <div class="copyright-uri">
                                        <h3>URI:</h3>
                                       <a class="copyright-stmt-link" target="_blank" href="http://rightsstatements.org/vocab/InC/1.0/">View rights statements</a>
                                     </div>
                                    </div>

                                  </mp-popover-content>
                                  </mp-popover>
                                </template>
                                <template id="noCopyrightImg">
                                     <mp-popover>
                                  <mp-popover-trigger placement='bottom' trigger='["click"]'>
                                  <div class="container-copyright-img">
                                  <img
                                    class="imageCopyright"
                                    alt="    "
                                    src="/assets/images/copyright/no-copyright.svg"
                                  />
                                  </div>
                                  </mp-popover-trigger>
                                  <mp-popover-content>
                                    <div>
                                      <h8 class="copyright-info-text">This Rights Statement should be used for Items for which the copyright status is unknown and for which the organization that has made the Item available has undertaken an (unsuccessful) effort to determine the copyright status of the underlying Work. Typically, this Rights Statement is used when the organization is missing key facts essential to making an accurate copyright status determination.</h8>
                                      <div class="copyright-uri">
                                        <h3>URI:</h3>
                                        <a class="copyright-stmt-link" target="_blank" href="http://rightsstatements.org/vocab/UND/1.0/">View rights statements</a>
                                     </div>
                                    </div>
                                  </mp-popover-content>
                                  </mp-popover>
                                </template>
                                </semantic-query>
                        </div> -->
                      <div class="metadataButton">
                        <semantic-link iri="{{bindings.0.photo.value}}" target="_black" class="metadataText" >View photo metadata</semantic-link>
                      </div>
                      [[/if]]
                      <mp-anonymous-hidden>
                                <semantic-query
                                          query='SELECT DISTINCT ?download  WHERE {
                                                    <{{bindings.0.photo.value}}> <http://www.cidoc-crm.org/cidoc-crm/P129i_is_subject_of> ?y .
                                                    FILTER NOT EXISTS{
                                                      ?y crm:P2_has_type <https://artresearch.net/resource/hertziana/type/presentation_api_manifest>
                                                    }
                                                    BIND(REPLACE(STR(?y),"full/full","full/!350,350") AS ?nmew).
                                                    
                                                    BIND(IRI(?nmew) as ?download)
                                                    
                                                  }LIMIT 1'
                                          template="{{> DownloadButton}}">
                                  <template id="DownloadButton">
                                      <a class="downloadButton" href='{{bindings.0.download.value}}?download&caption' target="_null" > <button class="btn btn-secondary">download this photo</button></a>
                                  </template>
                                </semantic-query>
                        </mp-anonymous-hidden>
                    </div>
                   
              </template>
          </semantic-query>
          <div class="animated-background mediumImageSizeAnimate"></div>
        </div>
      </template>
    </mp-event-target-template-render>
  </div>

  <div class="summary-image-thumbs">
    {{#ifCond (objectLength bindings) ">" 1 }}
      {{#each bindings}}
          <mp-event-trigger
            id="event-trigger"
            type="Component.TemplateUpdate"
            data='{"image":"{{image.value}}"}'
            targets='["event-target"]'
          >
            <img
              class="object-representations__image--rep smallThumbsSingle"
              src="{{thumbnail.value}}"
              alt="unavailable"
            />
          </mp-event-trigger>
      {{/each}}
    {{/ifCond}}
  </div>
</div>