<div class="page-content scrollable-content">
<div id="new-start-page">
<div style="background: linear-gradient(25deg, #e3e3e3, white) !important;">
  <section style="background-image:linear-gradient(rgb(28 28 28 / 36%), rgb(182 182 182 / 23%) 92.86%), url(/assets/images/home-hero-bg.jpg);
    background-size: cover;
    color: #fff;
    margin-bottom: -5rem;
    padding-bottom: 3rem;">
    <mp-overlay-dialog id="info-beta-modal" title="‎‎" type="lightbox">
      <mp-overlay-dialog-trigger>
        <img style="height: 30vh; position: absolute; right: 0; padding-top: 15px; cursor: pointer;" src="/assets/images/logos/beta.svg"/>
      </mp-overlay-dialog-trigger>
      <mp-overlay-dialog-content>
              <style>
              .modal-dialog.overlay-lightbox__dialog.modal-dialog{
                height: 50%;
                width: 35%;
                /* display: flex; */
                left: auto;
                right: auto;
                margin: 0 auto;
                padding: 10px;
                position: relative;
              }
              .modal-content .modal-header, .modal-header{
                padding: none;
              }
            </style>
        <div>
          <div class ="info-beta-container">
            <h1 style="font-size: 24px !important;
                       margin-top: 10px !important;
                       margin-bottom: 10px !important;
                       ">Please Note:</h1>
                       <h2 style="font-weight:500">
                 <p>ArtResearch.net provides access to images and data from multiple sources in different languages and formats.</p>
                 <p>Curators of partner institutions are currently aligning artists, repositories, photographers, techniques and other data to improve search results.</p>
                 <p>Search builder and facet functionalities are <span style="color: rgb(220, 54, 54) !important;">in progress</span></p></h2>
         </div>
        </div>
      </mp-overlay-dialog-content>
      </mp-overlay-dialog>

        <div class="search-actions" >
         <div class="text-with-image banner">
        <div>
         <div style="font-size: 26px;">Explore, connect and contextualize art histories</div>
        </div>
      </div>
         <div
        data-intro="This is the search-bar. Use this to make simple queries by keywords"
        data-position="top"
      >
        <div class="searchbar-switch">
          <div class="button-simple-search">
                  [[> Searchbar selectedCategory="Artwork/Monument"]]
          </div>
           <!-- <div style="display: none;" class="button-visual-search">
                  [[> VisionSearchBar]]
                </div>
            <mp-event-trigger type="Component.TemplateUpdate"  targets='["my-render"]' data='{"iri": "{{iri}}"}' >
              <button class="switch-visual-search">
                <div style="color:white">Open Visual Searchbar</div>
              </button>
            </mp-event-trigger>
            <mp-event-trigger type="Component.TemplateUpdate"  targets='["my-render2"]' data='{"iri": "{{iri}}"}' >
              <button style="display:none;" class="switch-simple-search">
                <div style=" color:white">Open Simple Searchbar</div>
              </button>
            </mp-event-trigger> -->
        </div>
            <!-- <mp-event-target-template-render id="my-render" template="{{> combined}}">
              <template id="combined">
                {{#if iri}}
               <style>
                 .button-simple-search{
                   display: none !important;
                 }
                 .button-visual-search
                 {
                   display: block !important;
                 }
                 .switch-simple-search{
                   display: block !important;
                 }
                 .switch-visual-search{
                   display: none !important;
                 }
               </style>
                {{/if}}

              </template>
            </mp-event-target-template-render>
            <mp-event-target-template-render id="my-render2" template="{{> combined2}}">
              <template id="combined2">
                {{#if iri}}
               <style>
                 .button-simple-search{
                   display: block !important;
                 }
                 .button-visual-search
                 {
                   display: none !important;
                 }
                 .switch-visual-search{
                   display: block !important;
                 }
                 .switch-simple-search{
                   display: none !important;
                 }
               </style>
                {{/if}}

              </template>
            </mp-event-target-template-render> -->

        <div class="linksTo">
          <div>
            <semantic-link title="Browse All Artworks" iri="https://artresearch.net/resource/AllArtworks">Browse All Artworks</semantic-link>
          </div>
          <div>
            <semantic-link title="Search with AI" iri="https://artresearch.net/resource/search-collection-with-ai">Search artworks with AI</semantic-link>
          </div>
          <div>
            <semantic-link title="Search with AI" iri="https://artresearch.net/resource/search-photos-with-ai">Search photographs with AI</semantic-link>
          </div>
          <!-- <div>
           <a title="Advanced Search" href="/resource/SearchAdvanced">Advanced Search</a>
          </div> -->
        </div>
        <div class="linksTo">
          <div>
              <semantic-link title="Search with AI" iri="https://artresearch.net/resource/search-photos-with-pastec">Search similar photogrophs (pastec)</semantic-link>
          </div>
          <div>
              <semantic-link title="Search with AI" iri="https://artresearch.net/resource/search-photos-with-ai-image">Search similar photogrophs (clip)</semantic-link>
          </div>
        </div>
      </div>
    </div>
    </section>
</div>
   <div class="benner-text">
     <!--
			<div>
      <img src="/assets/images/logos/logotransparent2.png" style="
      margin-bottom: 15px;
      max-width: 70vw;
      object-fit: contain;
      height: 150px;
      padding: 10px;">

     </div>
			-->
     <!--<div class="introText">
    <p style="font-size:16px">Discover artworks through the lens of photo archives.</p>
     <p style="font-size:12px">The collections of Pharos, the International Association of Photo Archives, document works of art and architecture and the history of photography itself. They contain more than of a century of scholarly documentation.  <span style="color: rgb(220, 54, 54);">art</span>research.net provides the tools to access, research, and contextualize these resources for the 21st century.</p>
    </div>-->
     <div class="introText">
    <!--<p style="font-size:1.2em; font-weight:500">Discover artworks through the lens of photo archives</p>
    --> <p style="font-size:20px"><span style="color: rgb(220, 54, 54);">art</span>research.net is the free, open access discovery platform for the combined collections of  <semantic-link iri="https://artresearch.net/resource/About" target="_blank"><b>PHAROS: The International Association of Photo Archives</b></semantic-link>. Using computer vision and linked open data, <span style="color: rgb(220, 54, 54);">art</span>research.net provides interoperable access to millions of photographs of works of art, and over a century of art historical documentation.
</p>
    </div>

   </div>
  <section title="Browse the collections">
    <div class="section-title">Browse Across Collections</div>
    <div class="section-body">
      <div class="tall-card-list">
        <div class="tall-card disabled">
            <div class="tall-card-body">
              <div class="tall-card-title">Artists</div>
                <div class="tall-card-subtitle">Over 25,000 records</div>
            </div>
        </div>
        <div class="tall-card disabled">
            <div class="tall-card-body">
              <div class="tall-card-title">Photographers</div>
                       <div class="tall-card-subtitle">Over 7,000 records</div>
            </div>
        </div>
        <div class="tall-card disabled">
            <div class="tall-card-body">
              <div class="tall-card-title">Repositories</div>
              <div class="tall-card-subtitle">around the world</div>
            </div>
        </div>
        <div class="tall-card">
          <semantic-link-container uri="https://artresearch.net/resource/Partners">
              <div class="tall-card-body">
              <div class="tall-card-button">Discover</div>
              <div class="tall-card-title">Partners</div>
              <div class="tall-card-subtitle">14 photo archives</div>
            </div>
          </semantic-link-container>
        </div>
        <div class="tall-card">
          <semantic-link-container uri="https://artresearch.net/resource/AllPhotographs">
              <div class="tall-card-body">
              <div class="tall-card-button">Discover</div>
              <div class="tall-card-title">Photographs</div>
              <div class="tall-card-subtitle"></div>
            </div>
          </semantic-link-container>
        </div>
      </div>
    </div>
  </section>
    <section class="cool-background" title="Explore Possibilities">
    <div class="section-title">Explore Possibilities</div>

    <div class="section-body">
      <div class="grid-card-list">
        <div class="grid-card disabled" style="background: url(/assets/images/media/cooper.jpg) center no-repeat;">
          [[!-- <semantic-link-container uri="https://artresearch.net/resource/DisplayCollectionCooper">  --]]
            <div class="grid-card-body">
              <div class="grid-card-title">A. C. Cooper</div>
              <div class="grid-card-subtitle">Photographs</div>
            </div>
          [[!--</semantic-link-container>--]]
        </div>
        <div class="grid-card" style="background: url(/assets/images/media/red-chalk.jpg) center no-repeat;">
          <semantic-link-container uri="https://artresearch.net/resource/DisplayCollectionRedChalkDrawings">
            <div class="grid-card-body">
              <div class="grid-card-title">Red Chalk</div>
              <div class="grid-card-subtitle">Drawings</div>
            </div>
          </semantic-link-container>
        </div>
        <div class="grid-card disabled" style="background: url(/assets/images/media/builtworks_middleast.jpg) center no-repeat;">
          [[!--<semantic-link-container uri="https://artresearch.net/resource/DisplayCollectionBuiltworksMiddleEast">  --]]
            <div class="grid-card-body">
              <div class="grid-card-title">Built Works</div>
              <div class="grid-card-subtitle">In the Middle-East</div>
            </div>
          [[!--</semantic-link-container>--]]
        </div>
        <div class="grid-card disabled" style="background: url(/assets/images/media/kahlo.jpg) center no-repeat;">
          [[!--<semantic-link-container uri="https://artresearch.net/resource/DisplayCollectionWomenArtists">--]]
            <div class="grid-card-body">
              <div class="grid-card-title">Women Artists</div>
              <div class="grid-card-subtitle">Across centuries</div>
            </div>
          [[!--</semantic-link-container>--]]
        </div>
        <div class="grid-card" style="background: url(/assets/images/media/sculpture.jpg) center no-repeat;">
          <semantic-link-container uri="https://artresearch.net/resource/DisplayCollectionBronzeSculptures">
            <div class="grid-card-body">
              <div class="grid-card-title">Bronze Sculptures</div>
              <div class="grid-card-subtitle">from Antiquity to Modernity</div>
            </div>
          </semantic-link-container>
        </div>
        <div class="grid-card" style="background: url(/assets/images/media/portrait.jpg) center no-repeat;">
          <semantic-link-container uri="https://artresearch.net/resource/DisplayCollectionSelfPortraits">
            <div class="grid-card-body">
              <div class="grid-card-title">Self Portraits</div>
              <div class="grid-card-subtitle"></div>
            </div>
          </semantic-link-container>
        </div>
        <div class="grid-card disabled" style="background: url(/assets/images/media/datedphotographs.jpg) center no-repeat;">
          [[!--<semantic-link-container uri="https://artresearch.net/resource/DisplayCollectionPhotoDatedBetween">--]]
            <div class="grid-card-body">
              <div class="grid-card-title">1839-1900 AD</div>
              <div class="grid-card-subtitle">19th century photographs</div>
            </div>
          [[!--</semantic-link-container>--]]
        </div>
      </div>
    </div>
  </section>
    <!-- <section class="sectionDocumentation" title="How can I use Artresearch.net?">
    <div class="section-title">How can I use <span style="color: rgb(220, 54, 54);">art</span>research.net ?</div>
    <div class="section-body">
      <div class="tall-card-list" style=" text-align: center;">
        <div class="doc-tall-card">
          <a href="/resource/Documentation">
            <div class="doc-tall-card-body">
              <img  class="imagesDoc" src="/assets/images/icons/search.svg"/>
              <div class="doc-tall-card-title">Search in platform</div>
              <div class="doc-tall-card-subtitle">There are many ways to search your favorite artwork through artresearch.</div>
            </div>
          </a>
        </div>
        <div class="doc-tall-card">
          <a href="/resource/DocumentationCards">
            <div class="doc-tall-card-body">
              <img class="imagesDoc" src="/assets/images/icons/viewer.svg"/>
              <div class="doc-tall-card-title">IIIF Viewer</div>
              <div class="doc-tall-card-subtitle">Compare and View images with deep zoom</div>
            </div>
          </a>
        </div>
        <div class="doc-tall-card">
          <a href="/resource/DocumentationCards">
            <div class="doc-tall-card-body">
              <img  class="imagesDoc"  src="/assets/images/icons/vision.svg"/>
              <div class="doc-tall-card-title">Vision Instance</div>
              <div class="doc-tall-card-subtitle">Find Similar Artworks</div>
            </div>
          </a>
        </div>
        <div class="doc-tall-card">
          <a href="/resource/DocumentationCards">
            <div class="doc-tall-card-body">
              <img  class="imagesDoc" src="/assets/images/icons/history-book.svg"/>
              <div class="doc-tall-card-title">Photo Archive Curator?</div>
              <div class="doc-tall-card-subtitle">Get familiar with the platform's functionality for curators</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="DocTextWrapper">
      <a href="/resource/DocumentationCards">
      <div class="view-guides">
        <h2>View all guides</h2>
      </div></a>
    </div>
  </section> -->
    <section  title="Connect Visually Similar Images">
    <div class="section-title">Connect Visually Similar Images</div>
    <!--<div class="section-subtitle">Use machine learning and computer vision to explore similarities between artworks, images, and data</div> -->
    <div class="section-body">
      <semantic-context repository="qlever">
        <div id="featured-selections">
            <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/0c477197149519beb0072507b8ff277cb9cc10a8">
              <div id="zeri-itatti" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div class="front-back-img-holder"  >
                      [[!-- https://iiif.artresearch.net/iiif/3/zeri/80000/71200/70925.jpg/full/!500,500/0/default.jpg --]]
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://staging.artresearch.net/cache/images/preview/zeri/aHR0cHM6Ly9paWlmLmFydHJlc2VhcmNoLm5ldC9paWlmLzMvemVyaS84MDAwMC83MTIwMC83MDkyNS5qcGcvZnVsbC9mdWxsLzAvZGVmYXVsdC5qcGc.jpg"
                      />
                      <div class="title">Nascita di Maria Vergine</div>
                      <small>Zeri</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      [[!-- https://ids.lib.harvard.edu/ids/iiif/42662040/full/!500,500/0/native.jpg --]]
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://staging.artresearch.net/cache/images/preview/itatti/aHR0cHM6Ly9pZHMubGliLmhhcnZhcmQuZWR1L2lkcy9paWlmLzQyNjYyMDQwL2Z1bGwvZnVsbC8wL25hdGl2ZS5qcGc.jpg"
                      />
                      <div class="title">Birth of the Virgin</div>
                      <small>I Tatti</small>
                    </div>
                  </div>
                </div>
              </div>
            </semantic-link-container>
            <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/298d5478cda58be94ca09410e93c00c1eb0123ed">
              <div id="hertziana-itatti" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://hertz-foto-os1.biblhertz.it/iiif/2/320px%2Fbh002968.jpg/full/full/0/default.jpg"
                      />
                      <div class="title">Profilbildnis einer jungen Frau</div>
                      <small>Hertziana</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://iiif.itatti.harvard.edu/iiif/2/fotoindex!028_recto_d!028_recto_box01_d!028_recto_box01_d_00022.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Profile portrait of a lady</div>
                      <small>I Tatti</small>
                    </div>
                  </div>
                </div>
              </div>
            </semantic-link-container>
            <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/03a875cea5fe7ad54543b70523e81b63d8332c2b">
              <div id="khi-hertziana" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://iiif.khi.fi.it/iiif/2/thumbnails%2Ffld0006864x_p.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">	Maria mit dem Christuskind</div>
                      <small>KHI</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://ids.lib.harvard.edu/ids/iiif/420715656/full/!500,500/0/native.jpg"
                      />
                      <div class="title">Madonna Colonna</div>
                      <small>I Tatti</small>
                    </div>
                  </div>
                </div>
              </div>
            </semantic-link-container>
            <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/a9ecffbe012c680b16e72f570620f4b1a78fbff6">
              <div id="itatti-zeri" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://ids.lib.harvard.edu/ids/iiif/474707461/full/!500,500/0/native.jpg"
                      />
                      <div class="title">Portrait of a youth</div>
                      <small>I Tatti</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://iiif.artresearch.net/iiif/3/zeri/80000/74000/73954.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Ritratto maschile</div>
                      <small>Zeri</small>
                    </div>
                  </div>
                </div>
              </div>
            </semantic-link-container>
            <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/047e1093c0c7b87613f915a7d8eb0d4999ced0eb">
              <div id="khi-marburg" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://iiif.khi.fi.it/iiif/2/thumbnails%2Fflc0584693z_p.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Tod des heiligen Franziskus</div>
                      <small>KHI</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://iiif.artresearch.net/iiif/3/zeri/40000/12400/12030.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">	Morte e verifica delle sti..</div>
                      <small>Zeri</small>
                    </div>
                  </div>
                </div>
              </div>
            </semantic-link-container>
     <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/8872b1ae30eaf6d0257b325c2579d1188eeab2dc">
              <div id="zeri-mar" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div  class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://iiif.artresearch.net/iiif/3/zeri/160000/127200/127189.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Scena pastorale</div>
                      <small>Zeri</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://iiif.artresearch.net/iiif/3/marburg/fmc660037.jpg/full/!400,400/0/default.jpg"
                      />
                      <div class="title">Ländlicher Spaziergang / Strandidylle</div>
                      <small>Marburg</small>
                    </div>
                  </div>
                </div>
              </div>
            </semantic-link-container>
            <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/5f0b63f851773198521b240d201de73784ae5763">
              <div id="itatti-zeri-2" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div  class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://ids.lib.harvard.edu/ids/iiif/25091201/full/!500,500/0/native.jpg"
                      />
                      <div class="title">Portrait of a gentleman</div>
                      <small>I Tatti</small>
                    </div>
                  </div>
                  <div class="back">
                    <div  class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://iiif.artresearch.net/iiif/3/zeri/120000/85200/84998.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Ritratto di gentiluomo</div>
                      <small>Zeri</small>
                    </div>
                  </div>
                </div>
              </div>
            </semantic-link-container>
           <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/0c27c192081ef96e9a67a8ddc4c610de13d0cef4">
              <div id="marburg-zeri" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div  class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://iiif.artresearch.net/iiif/3/zeri/120000/86400/86254.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Ritratto di Eleonora di Toledo</div>
                      <small>Zeri</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://iiif.itatti.harvard.edu/iiif/2/fotoindex!064_recto_d!064-recto_box02_d!064-recto_box02_d_00121.jpg/full/!650,650/0/default.jpg"
                      />
                      <div class="title">Eleonora di Toledo</div>
                      <small>I Tatti</small>
                    </div>
                  </div>
                </div>
              </div>
            </semantic-link-container>
            <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/07ce3e0d2bdabb4537f313c800cc69303aa11600">
              <div id="hertziana-itatti-2" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://ids.lib.harvard.edu/ids/iiif/406557781/full/!500,500/0/native.jpg"
                      />
                      <div class="title">The Virgin appearing to the patrician John and his wife</div>
                      <small>I Tatti</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        class="img-flip"
                        alt="  "
                        src="https://iiif.artresearch.net/iiif/3/zeri/80000/45600/45340.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Apparizione della Madonna in sogno al patrizio Giovanni </div>
                      <small>Zeri</small>
                    </div>
                  </div>
                </div>
              </div>
            </semantic-link-container>

          	<!-- empty card -->
          	<a target="vision_new_tab" href="#">

            </a>
        </div>
      </semantic-context>
    </div>
  </section>
    <section class="cool-background">
    <div class="section-title">View, Analyze and Compare Images</div>
    <!-- <div class="section-subtitle">Using a <img src="/assets/images/logos/iiif.png"> viewer you can view, analyze, compare & annotate images </div>-->
    <div class="section-body">
      <div class="mirador-container">
        <div class="mirador">
        <single-image-iiif-viewer
                        id="candidateAmirador"
                        iiif-manifest-url='https://iiif.artresearch.net/iiif/3/zeri/80000/72400/72337.jpg/info.json'
                        >
        </single-image-iiif-viewer>
        </div>
        <div class="mirador">
        <single-image-iiif-viewer
                        id="candidateBmirador"
                        iiif-manifest-url='https://iiif.artresearch.net/iiif/3/marburg/fmc661227.jpg/info.json'
        >
        </single-image-iiif-viewer>
        </div>
        <div class="mirador">
        <single-image-iiif-viewer
                        id="candidateCmirador"
                        iiif-manifest-url='https://ids.lib.harvard.edu/ids/iiif/420714604/info.json'
        >
        </single-image-iiif-viewer>
        </div>
        <div class="mirador">
        <single-image-iiif-viewer
                        id="candidateDmirador"
                        iiif-manifest-url='https://iiif.itatti.harvard.edu/iiif/2/fotoindex!159_recto_d!159_recto_box04_d!159_recto_box04_d_00113.jpg/info.json'
        >
        </single-image-iiif-viewer>
        </div>
      </div>
    </div>
  </section>
     <section   title="Contextualized & connected histories">
    <!--<div class="section-title" id ="Contextualtitle" >Contextualized & connected histories</div>
    --><div class="section-body">
      <div class="text-with-image column">
        <div class="info-circle-container">
          <div class="info-circle">
            <div class="info-circle-title">Digitize </div>
            <div class="info-circle-subtitle"> Photograph Collections</div>
          </div>
          <div class="info-circle">
            <div class="info-circle-title">Explore</div>
            <div class="info-circle-subtitle">New technologies</div>
          </div>
          <div class="info-circle">
            <div class="info-circle-title">Enrich</div>
            <div class="info-circle-subtitle">Records with data from multiple sources</div>
          </div>
          <div class="info-circle">
            <div class="info-circle-title">Convert</div>
            <div class="info-circle-subtitle">Metadata to the CIDOC-CRM ontology</div>
          </div>
          <div class="info-circle">
            <div class="info-circle-title">Connect</div>
            <div class="info-circle-subtitle">Using linked open data</div>
          </div>
        </div>
        <div class="text">
          <!--<div>
            We are committed to creating an open and freely accessible digital research platform allowing for comprehensive consolidated access to photo archive images and their associated scholarly documentation.
          </div>
          <div>
            The PHAROS collections collectively contain an estimated 25 million images documenting works of art and architecture and the history of photography itself. Please visit our statistics page to view the number of records that are currently available online.
          </div>-->
        </div>
      </div>
    </div>
  </section>
</div>
</div>

<style>

.benner-text {
      box-shadow: 1px 8px 10px #d4d4d4;
    font-size: 1.5em;
    width: 60%;
    margin-top: 4vh;
    text-align: center;
    margin-bottom: 4vh;
  	border-radius: 5px;
}
  .text-with-image.banner {
    font-weight: 500;
    margin-bottom: 4vh;
    margin-top: 7vh;
    font-size: 18px;
    text-align: center;
}

.benner-text{
  margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
#new-start-page{
  top: -2vh;
}
  .page-holder {
    overflow: hidden;
  }
  .unwanted-grid{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2,1fr);
  }

  @media (max-width:800px) {
    .benner-text ,
  .text-with-image.banner {
    width: 100%;
    justify-content: center;
  }
  }
  @media (max-width:720px) {
    .unwanted-grid{
    grid-template-columns: repeat(1,1fr);
  }
  }

  ul {
list-style: none;
}
</style>
