
<div id="photograph-lightbox" data-flex-layout="row center-stretch">

  <div>
  <h1>All photographs</h1>
  <h2>You can click on images to display in lightbox</h2>
  <div id="photo-cards">

    <semantic-table
    options='{
  "showFilter":true
}'
      number-of-displayed-rows="5"
    query='  
SELECT distinct ?photo (GROUP_CONCAT(STR(?label);SEPARATOR=" , ") AS ?allLabels) WHERE 
{
    ?? pharosfr:Work_depicted_by_Photo ?photo.
    ?photo ?a ?b.
    ?b rdfs:label ?label
}GROUP BY(?photo) '
    tuple-template="{{> photos}}"
    no-result-template='<h2>No photographs found</h2>'
  >
    <template id="photos">
        <div
          class="card"
        >
        <td class="rectoVersoCell">
          <semantic-query
            query='
      SELECT  ?photoUri ?rectoImage ?fullsizeImages where{
        BIND(str(<{{photo.value}}>) as ?photoUri).
        <{{photo.value}}> crm:P129i_is_subject_of ?fullsizeImages.
        BIND(REPLACE(STR(?fullsizeImages),"full/full","full/!100,100") AS ?rectoImage).
        FILTER NOT EXISTS { 
          ?fullsizeImages crm:P2_has_type ?type.
          ?type rdfs:label "verso"
        }
      }
    '
            template="{{>rectoImageThumb}}"
          >
            <template id="rectoImageThumb">
              <mp-event-trigger id='event-trigger' type='Component.TemplateUpdate' data='{"imgURL":"{{bindings.0.fullsizeImages.value}}"}' targets='["event-target"]'>
                <img
                  src="{{bindings.0.rectoImage.value}}"
                  style="max-height: 100px; margin: 0 auto"
                  class="img-rounded"
                />
            </mp-event-trigger>
            </template>
          </semantic-query>
          <semantic-query
            query='
  SELECT ?photoUri ?versoImage ?fullsizeImages where{
    BIND(str(<{{photo.value}}>) as ?photoUri).
    <{{photo.value}}> crm:P129i_is_subject_of ?fullsizeImages.
    BIND(REPLACE(STR(?fullsizeImages),"full/full","full/!100,100") AS ?versoImage).
    FILTER NOT EXISTS { 
      ?fullsizeImages crm:P2_has_type ?type.
      ?type rdfs:label "recto"
    }
  }
'
            template="{{>versoImageThumb}}"
          >
            <template id="versoImageThumb">
              <mp-event-trigger id='event-trigger' type='Component.TemplateUpdate' data='{"imgURL":"{{bindings.0.fullsizeImages.value}}"}' targets='["event-target"]'>
                <img
                  src="{{bindings.0.versoImage.value}}"
                  style="max-height: 70px; max-width: 70px"
                  class="img-rounded vercoCell"
                />
              </mp-event-trigger>
            </template>
          </semantic-query>
        </td>
        <div class="photographFieldViewData">
          <!-- //TODO make query -->
          <mp-field-visualization
            subject="{{photo.value}}"
            fields='[[fieldDefinitions  
              Title="https://pharos.artresearch.net/fieldDefinition/2"  
              Photographer="https://pharos.artresearch.net/fieldDefinition/123"
              Repository="https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution" 
            ]]'
            template="{{>productionInfo}}"
          >
            <template id="productionInfo">
              {{#if noData}}
              <div id="rsbv" class="table-responsive rs-table">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>No quick preview available. Click on the photo to view details.</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              {{else}} [[> :ResourceFieldBasedVisualization subject=[[this]]
              ]] {{/if}}
            </template>
          </mp-field-visualization>
        </div>


        <semantic-link iri="{{photo.value}}">
          <div style="
          position: absolute;
          top: 0;
          right: 0;
      " class="btn"><h4>View photograph</h4></div>
      </div>
    </semantic-link>
    </template>
  </semantic-table>
  </div>
</div>
<div class="grid-demo">
  <div id="photograph-lightbox-viewer"  style="width: 50vw; height: 80vh">
    <mp-event-target-template-render id='event-target' template='{{> mainImageTemplate}}'>
      <template id='mainImageTemplate'>
        <rs-iiif-mirador
        image-or-region="[[this]]" 
        image-api-manifest-pattern='
          {{#ifCond imgURL "!==" undefined}}
            <{{imgURL}}> crm:P129i_is_subject_of ?manifestUrl
          {{else}}
            ?? pharosfr:Work_depicted_by_Photo ?photo.
            ?photo crm:P129i_is_subject_of ?fullsizeImgUrl.
            ?fullsizeImgUrl crm:P129i_is_subject_of ?manifestUrl.
            ?fullsizeImgUrl crm:P2_has_type ?imageType.
            ?imageType rdfs:label ?typeLabel.
            FILTER(?typeLabel = "recto")  
          {{/ifCond}}
        '
        >
        </rs-iiif-mirador>
    </template>
    </semantic-query>
    </template>
    </mp-event-target-template-render>
  </div>
</div>
</div>