{
  "<https://artresearch.net/resource/fr/Work_created_from_Artist>": [{
              "kind":"hierarchy",
              "queryPattern": "{
                  {
                    ?subject crm:P108i_was_produced_by/crm:P14_carried_out_by/crm:P107i_is_current_or_former_member_of* ?photographer .
                    ?photographer custom:sameAs ?__value__ .
                  } UNION {
                    ?subject crm:P108i_was_produced_by/crm:P14_carried_out_by/crm:P107i_is_current_or_former_member_of* ?__value__.
                    FILTER NOT EXISTS { ?__value__ custom:sameAs ?wikidata. }
                  }
              }",
              "parentsPattern": "{ ?value custom:sameAs?/crm:P107i_is_current_or_former_member_of/custom:sameAs? ?parent . }",
              "childrenPattern": "{ ?child custom:sameAs?/crm:P107i_is_current_or_former_member_of/custom:sameAs? ?value . }",
              "searchPattern": "{ ?text ql:contains-entity ?value; ql:contains-word ?__token__. }"
  }],
  "<https://artresearch.net/resource/fr/Work_consists_of_Material>":[{
              "kind":"hierarchy",
              "queryPattern": "{
                ?subject crm:P45_consists_of/crm:P127_has_broader_term* ?__value__ .
                ?__value__ crm:P71i_is_listed_in <https://artresearch.net/resource/pharos/vocabulary/materials>
              }",
              "parentsPattern": "{ ?parent crm:P71i_is_listed_in <https://artresearch.net/resource/pharos/vocabulary/materials>. ?value crm:P127_has_broader_term ?parent . }",
              "childrenPattern": "{  ?child crm:P71i_is_listed_in <https://artresearch.net/resource/pharos/vocabulary/materials> . ?child crm:P127_has_broader_term ?value . }",
              "searchPattern": "{ ?text ql:contains-entity ?value; ql:contains-word ?__token__. }"
  }],
  "<https://artresearch.net/resource/fr/Work_produced_using_technique_Technique>":[{
              "kind":"hierarchy",
              "queryPattern": "{
                ?subject crm:P108i_was_produced_by/crm:P9i_forms_part_of*/crm:P32_used_general_technique ?techinque .
                ?techinque crm:P127_has_broader_term* ?__value__ .   
                ?__value__ crm:P71i_is_listed_in <https://artresearch.net/resource/pharos/vocabulary/techniques> .
              }",
              "parentsPattern": "{ ?value crm:P127_has_broader_term ?parent . ?parent crm:P71i_is_listed_in <https://artresearch.net/resource/pharos/vocabulary/techniques> .}",
              "childrenPattern": "{ ?child crm:P127_has_broader_term ?value . ?child crm:P71i_is_listed_in <https://artresearch.net/resource/pharos/vocabulary/techniques> .}",
              "searchPattern": "{ ?text ql:contains-entity ?value; ql:contains-word ?__token__. }"
  }],
  "<https://artresearch.net/resource/fr/Work_shows_Subject>":[{
              "kind":"resource",
              "queryPattern": "
                ?subject crm:P65_shows_visual_item ?__value__ .
              "
  }],
  "<https://artresearch.net/resource/fr/Work_from_Place>":[{
              "kind":"resource",
              "queryPattern": "
  						  ?subject crm:P55_has_current_location ?__value__ .
              "
  }],
  "<https://artresearch.net/resource/fr/Work_kept_by_Institution>":[{
              "kind":"resource",
              "queryPattern": "
                ?subject crm:P70i_is_documented_in ?__value__.
              "
  }],
  "<https://artresearch.net/resource/fr/Work_has_Image>":[{
              "kind":"resource",
              "queryPattern": "{
                BIND(IF(?__value__ = <http://www.w3.org/2001/XMLSchema#yes>, true, false) AS ?has) .
                ?subject custom:has_image ?has .
              }"
  }],
  "<https://artresearch.net/resource/fr/Photo_has_License>": [{
              "kind":"resource",
              "queryPattern": "{
                ?subject crm:P104_is_subject_to ?right .
                ?right crm:P2_has_type ?__value__ .
              }"
  }]
}