[[#if multiple]]
    <semantic-query
    query='
    SELECT * WHERE {
      {
        BIND(IRI(IF(CONTAINS("{{value.binding.providerLabel.value}}","I Tatti"),"https://artresearch.net/resource/itatti/source/ITatti", false)) AS ?provider)
        BIND("I Tatti" as ?providerLabel)
        FILTER(BOUND(?provider))
      } UNION {
        BIND(IRI(IF(CONTAINS("{{value.binding.providerLabel.value}}","Frick"),"https://artresearch.net/resource/frick/source/Frick", false)) AS ?provider)
        BIND("Frick" as ?providerLabel)
        FILTER(BOUND(?provider))
      }UNION {
        BIND(IRI(IF(CONTAINS("{{value.binding.providerLabel.value}}","Pharos"),"https://artresearch.net/resource/pharos/source/Pharos", false)) AS ?provider)
        BIND("Pharos" as ?providerLabel)
        FILTER(BOUND(?provider))
      }UNION {
        BIND(IRI(IF(CONTAINS("{{value.binding.providerLabel.value}}","ULAN"),"https://artresearch.net/resource/ulan/source/ULAN", false)) AS ?provider)
        BIND("ULAN" as ?providerLabel)
        FILTER(BOUND(?provider))
      }UNION {
        BIND(IRI(IF(CONTAINS("{{value.binding.providerLabel.value}}","AAT"),"https://artresearch.net/resource/getty/source/Getty", false)) AS ?provider)
        BIND("AAT" as ?providerLabel)
        FILTER(BOUND(?provider))
      }UNION {
        BIND(IRI(IF(CONTAINS("{{value.binding.providerLabel.value}}","Hertziana"),"https://artresearch.net/resource/hertziana/source/Hertziana", false)) AS ?provider)
        BIND("Hertziana" as ?providerLabel)
        FILTER(BOUND(?provider))
      }UNION {
        BIND(IRI(IF(CONTAINS("{{value.binding.providerLabel.value}}","Marburg"),"https://artresearch.net/resource/marburg/source/Marburg", false)) AS ?provider)
        BIND("Marburg" as ?providerLabel)
        FILTER(BOUND(?provider))
      }UNION {
        BIND(IRI(IF(CONTAINS("{{value.binding.providerLabel.value}}","Zeri"),"https://artresearch.net/resource/zeri/source/Zeri", false)) AS ?provider)
        BIND("Zeri" as ?providerLabel)
        FILTER(BOUND(?provider))
      }UNION {
        BIND(IRI(IF(CONTAINS("{{value.binding.providerLabel.value}}","KHI"),"https://artresearch.net/resource/khi/source/KHI", false)) AS ?provider)
        BIND("KHI" as ?providerLabel)
        FILTER(BOUND(?provider))
      }UNION {
        BIND(IRI(IF(CONTAINS("{{value.binding.providerLabel.value}}","PMC"),"https://artresearch.net/resource/pmc/source/PMC", false)) AS ?provider)
        BIND("PMC" as ?providerLabel)
        FILTER(BOUND(?provider))
      }
      UNION {
        BIND(IRI(IF(CONTAINS("{{value.binding.providerLabel.value}}","Wikidata"),"https://artresearch.net/resource/wikidata/source/Wikidata", false)) AS ?provider)
        BIND("Wikidata" as ?providerLabel)
        FILTER(BOUND(?provider))
      }
       UNION {
        BIND(IRI(IF(CONTAINS("{{value.binding.providerLabel.value}}","PMC"),"https://artresearch.net/resource/pmc/source/PMC", false)) AS ?provider)
        BIND("PMC" as ?providerLabel)
        FILTER(BOUND(?provider))
      }
    }
      '
    template="{{> multipleProv}}">
      <template id="multipleProv">
          {{#each bindings}}
            <div title="{{providerLabel.value}}">
              <semantic-link  iri="{{provider.value}}">
                <img
                  title="{{providerLabel.value}}"
                  class="sourceIcon"
                  src="/assets/images/{{providerLabel.value}}.ico"
                />
              </semantic-link>
            </div>
          {{/each}}
      </template>
    </semantic-query>
[[else]]
    <div title="{{value.binding.providerLabel.value}}">
      <semantic-link  iri="{{value.binding.provider.value}}">

        <img
          title="{{value.binding.providerLabel.value}}"
          class="sourceIcon"
          src="/assets/images/{{value.binding.providerLabel.value}}.ico"
        />
      </semantic-link>
    </div>
[[/if]]