<semantic-context repository="geonames">
  <div>
    <h2>Country:</h2>
    <semantic-tree
        query=" SELECT ?node ?parent WHERE {
                                  OPTIONAL{
                                    ??  <http://www.geonames.org/ontology#parentCountry>  ?parent.
                                  }
                                  BIND(?? as ?node)
                              }" 
          tuple-template="{{> treeLeafTemplate}}">
      <template id="treeLeafTemplate">
        <h2>
          <semantic-context repository="default">
            <semantic-link iri="{{node.value}}">
              <semantic-context repository="geonames">
                <semantic-query 
                  query="SELECT ?name WHERE{
                        <{{node.value}}> <http://www.geonames.org/ontology#name> ?name.
                      }">
                </semantic-query>
              </semantic-context>
            </semantic-link>
          </semantic-context>
        </h2>
      </template>
    </semantic-tree>
  </div>
</semantic-context>