<!-- card Header and  with TYPE and ID -->
[[#if customHeader]]
  [[#block "customHeader"]][[/block]]
[[else]]
<div data-flex-layout="row top-center" class="card-header">
    <div data-flex-self="left" class="d-flex rs-default-card__header-left">
      <i class="rs-icon {{getValueByKey typeToIcon allTypes 'rs-icon-entity'}}" alt="{{directTypesLabels}}"></i>
      <span class="text-truncate" style="margin-left:4px;">{{directTypesLabels}}</span>
    </div>
  
    {{#if id}}
    <div data-flex-self="right" class="text-truncate rs-default-card__header-right">{{id}}</div>
    {{/if}}
</div>
[[/if]]

<!-- Card Image -->
<div class="rs-default-card__img-container {{getValueByKey entityBgColor allTypes 'rs-entity-bg-thing'}}">
  <mp-resource-thumbnail iri='{{iri}}' class='rs-default-card__img'>
      <mp-resource-thumbnail-fallback>
        <span class="rs-icon {{getValueByKey typeToImage allTypes 'rs-icon-entity_no-image'}} {{getValueByKey entityIconColor allTypes 'rs-entity-icon-thing'}}"></span>
      </mp-resource-thumbnail-fallback>
  </mp-resource-thumbnail>
</div>
<div class="rs-default-card__hover">
  <div class="rs-default-card__hover-DigImg">

  [[#if hoverContent]]
    [[#block "hoverContent"]][[/block]]
  [[/if]]

    <div class="rs-default-card__hover-options">
      {{#if (hasKey allTypes "http://spinrdf.org/sp#Query")}}
      <div class="rs-default-card__hover-icon">
        <semantic-query query="SELECT ?searchState WHERE{
          <{{iri}}> <http://www.researchspace.org/resource/system/searchState> ?searchState 
        }limit 1"
        template="{{>linkWithSearchState}}"
        >
      <template id="linkWithSearchState">
        <div class="linkWithSearchStateWrapper">
        <semantic-link urlqueryparam-semantic-Search="{{bindings.0.searchState.value}}" iri="{{iri}}" >
            <button type="button" class="rs-button" title="View search">
              <i class="rs-icon rs-icon-page"></i>
            </button>
        </semantic-link>
      </div>
      </template>
    </semantic-query>
    <div class="animated-background linkWithSearchStateWrapper"></div>
    
      </div>
      {{else if (hasKey allTypes "https://pharos.artresearch.net/resource/fc/person")}}
      <div class="rs-default-card__hover-icon">

        <semantic-link  iri="{{iri}}" >
            <button type="button" class="rs-button" title="View person">
              <i class="rs-icon rs-icon-page"></i>
            </button>
        </semantic-link>
    
      </div>
      {{else if (hasKey allTypes "https://pharos.artresearch.net/resource/fc/place")}}
      <div class="rs-default-card__hover-icon">

        <semantic-link  iri="{{iri}}" >
            <button type="button" class="rs-button" title="View place">
              <i class="rs-icon rs-icon-page"></i>
            </button>
        </semantic-link>
    
      </div>
      {{else}}
        <div class="rs-default-card__hover-icon">
            <semantic-link iri="{{iri}}">
                <button type="button" class="rs-button" title="View page">
                  <i class="rs-icon rs-icon-page"></i>
                </button>
            </semantic-link>
        </div>
        <mp-overlay-dialog title="View images" type="modal" class="modal-xlSize">
            <mp-overlay-dialog-trigger>
                <div class="rs-default-card__hover-icon">
                    <button type="button" class="rs-button" title="Explore Media">
                      <i class="rs-icon rs-icon-media"></i>
                    </button>
                </div>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content>
              [[> :SummaryImagesWorkPopup subject="{{iri}}"]]
            </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      {{/if}}
    </div>
  </div> 
</div> 
 
        
<!-- Card Footer with Object Titles (ja and English) and Artist -->
<div class="rs-default-card__footer"
    style="padding:{{#if footer-paddingY}}{{footer-paddingY}}{{else}}11{{/if}}px {{#if footer-paddingX}}{{footer-paddingX}}{{else}}12{{/if}}px;">
    <div class="rs-default-card__footer-titles">
        [[#if customFooter]]
          [[#block "customFooter"]][[/block]]
        [[else]]
          {{#if label}}
            <span class="rs-body-s-M">{{label}}</span>
          {{else}}
            <mp-label iri='{{iri}}' class="rs-body-s-M" highlight='{{highlight}}' highlight-props='{"style": {"color": "#dc8a4b"}}'></mp-label>
          {{/if}}
        [[/if]]
    </div>
</div>
