<div class="page">
  <div class="jumbotron">
    <h1 style="margin-left: 2vw" class="display-4">Statistics</h1>
    <p style="margin-left: 2vw" class="lead">
      Statistics are updated daily. Click on the tabs bellow to browse
      statistics about artworks, photos, artists & more.
    </p>
  </div>
  <bs-tabs
    class="page__body-navtabs--borderless-no-image"
    unmount-on-exit="true"
  >
    <bs-tab event-key="1" title="Artworks">
      <div class="totalLabel">
        <h1>
          <div class="totalLabelDescription">Total number of Artworks:</div>
        </h1>
        <h1>
          [[> rsp:StatisticsTotal property="https://pharos.artresearch.net/custom/numOfWorks"]]
        </h1>
      </div>
      <div class="chartContainer">
      <div class="chartObject">
        [[> rsp:StatisticsEntity property="https://pharos.artresearch.net/custom/numOfWorks" datasetLabel="Works"]]
     </div>
      <div class="chartObject">
        [[> rsp:StatisticsTimeline property="https://pharos.artresearch.net/custom/numOfWorks" datasetLabel="Works"]]
      </div>
      <br />
      <br />
    </bs-tab>
    <bs-tab event-key="2" title="Photos">
      <div class="totalLabel">
        <h1>
          <div class="totalLabelDescription">Total number of Photographs:</div>
        </h1>
        <h1>
          [[> rsp:StatisticsTotal property="https://pharos.artresearch.net/custom/numOfPhotos"]]
        </h1>
      </div>
      <div class="chartContainer">
      <div class="chartObject">
        [[> rsp:StatisticsEntity property="https://pharos.artresearch.net/custom/numOfPhotos" datasetLabel="Photos"]]
     </div>
      <div class="chartObject">
        [[> rsp:StatisticsTimeline property="https://pharos.artresearch.net/custom/numOfPhotos" datasetLabel="Photos"]]
      </div>
      <br />
    </bs-tab>
    <bs-tab event-key="3" title="Artists">
      <div class="totalLabel">
        <h1>
          <div class="totalLabelDescription">Total number of Artists:</div>
        </h1>
        <h1>
          [[> rsp:StatisticsTotal property="https://pharos.artresearch.net/custom/numOfArtists"]]
        </h1>
      </div>
      <div class="chartContainer">
      <div class="chartObject">
        [[> rsp:StatisticsEntity property="https://pharos.artresearch.net/custom/numOfArtists" datasetLabel="Artists"]]
     </div>
      <div class="chartObject">
        [[> rsp:StatisticsTimeline property="https://pharos.artresearch.net/custom/numOfArtists" datasetLabel="Artists"]]
      </div>
      <br />
    </bs-tab>
    <bs-tab event-key="4" title="Photographers">
      <div class="totalLabel">
        <h1>
          <div class="totalLabelDescription">
            Total number of Photographers:
          </div>
        </h1>
        <h1>
          [[> rsp:StatisticsTotal property="https://pharos.artresearch.net/custom/numOfPhotographers"]]
        </h1>
      </div>
      <div class="chartContainer">
      <div class="chartObject">
        [[> rsp:StatisticsEntity property="https://pharos.artresearch.net/custom/numOfPhotographers" datasetLabel="Photographers"]]
     </div>
      <div class="chartObject">
        [[> rsp:StatisticsTimeline property="https://pharos.artresearch.net/custom/numOfPhotographers" datasetLabel="Photographers"]]
      </div>
      <br />
    </bs-tab>
    <bs-tab event-key="5" title="Repositories">
      <div class="totalLabel">
        <h1>
          <div class="totalLabelDescription">
            Total number of Repositories:
          </div>
        </h1>
        <h1>
          [[> rsp:StatisticsTotal property="https://pharos.artresearch.net/custom/numOfInstitutions"]]
        </h1>
      </div>
      <div class="chartContainer">
      <div class="chartObject">
        [[> rsp:StatisticsEntity property="https://pharos.artresearch.net/custom/numOfInstitutions" datasetLabel="Institutions"]]
     </div>
      <div class="chartObject">
        [[> rsp:StatisticsTimeline property="https://pharos.artresearch.net/custom/numOfInstitutions" datasetLabel="Institutions"]]
      </div>
      <br />
    </bs-tab>
    <bs-tab event-key="6" title="Places">
      <div class="totalLabel">
        <h1>
          <div class="totalLabelDescription">Total number of Places:</div>
        </h1>
        <h1>
          [[> rsp:StatisticsTotal property="https://pharos.artresearch.net/custom/numOfPlaces"]]
        </h1>
      </div>
      <div class="chartContainer">
      <div class="chartObject">
        [[> rsp:StatisticsEntity property="https://pharos.artresearch.net/custom/numOfPlaces" datasetLabel="Places"]]
     </div>
      <div class="chartObject">
        [[> rsp:StatisticsTimeline property="https://pharos.artresearch.net/custom/numOfPlaces" datasetLabel="Places"]]
      </div>
      <br />
    </bs-tab>
    <bs-tab event-key="7" title="Techniques">
      <div class="totalLabel">
        <h1>
          <div class="totalLabelDescription">Total number of Techniques:</div>
        </h1>
        <h1>
          [[> rsp:StatisticsTotal property="https://pharos.artresearch.net/custom/numOfTechniques"]]
        </h1>
        </h1>
      </div>
      <div class="chartContainer">
      <div class="chartObject">
        [[> rsp:StatisticsEntity property="https://pharos.artresearch.net/custom/numOfTechniques" datasetLabel="Techniques"]]
     </div>
      <div class="chartObject">
        [[> rsp:StatisticsTimeline property="https://pharos.artresearch.net/custom/numOfTechniques" datasetLabel="Techniques"]]
      </div>
      <br />
    </bs-tab>
    <bs-tab event-key="8" title="Materials">
      <div class="totalLabel">
        <h1>
          <div class="totalLabelDescription">Total number of Materials:</div>
        </h1>
        <h1>
          [[> rsp:StatisticsTotal property="https://pharos.artresearch.net/custom/numOfMaterials"]]
        </h1>
      </div>
      <div class="chartContainer">
      <div class="chartObject">
        [[> rsp:StatisticsEntity property="https://pharos.artresearch.net/custom/numOfMaterials" datasetLabel="Materials"]]
     </div>
      <div class="chartObject">
        [[> rsp:StatisticsTimeline property="https://pharos.artresearch.net/custom/numOfMaterials" datasetLabel="Materials"]]
      </div>
      <br />
    </bs-tab>
    <bs-tab event-key="9" title="Types">
      <div class="totalLabel">
        <h1>
          <div class="totalLabelDescription">Total number of Types:</div>
        </h1>
        <h1>
          [[> rsp:StatisticsTotal property="https://pharos.artresearch.net/custom/numOfTypes"]]
        </h1>
      </div>
      <div class="chartContainer">
      <div class="chartObject">
        [[> rsp:StatisticsEntity property="https://pharos.artresearch.net/custom/numOfTypes" datasetLabel="Types"]]
     </div>
      <div class="chartObject">
        [[> rsp:StatisticsTimeline property="https://pharos.artresearch.net/custom/numOfTypes" datasetLabel="Types"]]
      </div>
      <br />
    </bs-tab>
  </bs-tabs>
</div>
<style>
  .page{
    padding-top: 0  !important;
  }
  .totalLabel{
    display: flex;
    text-align: left; 
    width: 100%;
    margin-left: 0.4vw;
    margin-bottom: 1vh;
  }
  .totalLabel h1{
   margin-left: 0.7vw;
  }

  .totalLabel .totalLabelDescription{
    color: #5a5a5a;
  }

  .chartContainer{
    display: flex;
    flex-wrap: wrap;
  }
  .chartObject{
    width: 49vw;
    min-width: 460px;
  }
  .popover {
    color: black !important;
  }
  .jumbotron {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .jumbotron h1 {
    font-size: 48px;
  }
  .ComponentToolbar--actions {
    margin-left: 1vw;
  }
</style>
