<div id="start-page">
  <div id="underDevAlert" class="alert alert-info" role="alert">
    <i>This instance is <b>under development</b> and will publicly launch in January
      2022</i>
  </div>
  <div class="landing-top">
    <div class="welcome" data-flex-layout="column center-center">
      <img src="../../assets/images/ar.png"/>
      <h2>The Pharos Digital Collections</h2>
    </div>

    <div class="search-actions">
        <div>
          [[> rsp:Searchbar selectedCategory="Artworks"]]
        </div>
        <div style="margin-top: 15px"> or use </div>
      <div style="margin-top: 15px">
        <div data-flex-layout="row center-center">
          <semantic-link iri='rsp:Search'>
            <div title="Make use of the artresearch full power!" class="btn btn-primary advancedBtn">
              Advanced Search
            </div>
          </semantic-link>
        </div>
      </div>
    </div>
  </div>

  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1 style="margin-left: 13vw" class="display-13">Collection Highlights</h1>
    </div>
    <div class="card-list">


      <semantic-link iri='rsp:DisplayPharosArtists'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/michelangelo_portrait.jpg" />
          <div class="title">Artists</div>
        </div>
      </semantic-link>

      <semantic-link iri='rsp:DisplayPharosPhotographers'>
        <div class="card">
          <img class="photo photo-3" src="../../assets/images/media/fratelli.jpg" />
          <div class="title">Photographers</div>
        </div>
      </semantic-link>

      <semantic-link iri='rsp:DisplayPharosInstitutions'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/british_museum.jpg" />
          <div class="title">Repositories</div>
        </div>
      </semantic-link>

      <semantic-link iri='rsp:DisplayCollectionBuiltworksMiddleEast'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/builtworks_middleast.jpg" />
          <div class="title">Built Works in Middle East</div>
        </div>
      </semantic-link>

      <semantic-link iri='rsp:DisplayCollectionNonWesternRepos'>
        <div class="card">
          <img class="photo photo-7" src="../../assets/images/media/non_western_repo.jpg" />
          <div class="title">Non-Western Repositories</div>
        </div>
      </semantic-link>

      <semantic-link iri='rsp:DisplayCollectionNonWesternArtists'>
        <div class="card">
          <img class="photo photo-3" src="../../assets/images/media/banjo_player.jpg" />
          <div class="title">Non-Western Artists</div>
        </div>
      </semantic-link>

      <semantic-link iri='rsp:DisplayCollectionAfricanAmerican'>
        <div class="card">
          <img class="photo photo-6" src="../../assets/images/media/ossawa.jpg" />
          <div class="title">African American Artists</div>
        </div>
      </semantic-link>

      <semantic-link iri='rsp:DisplayCollectionFemaleArtists'>
        <div class="card">
          <img class="photo photo-6" src="../../assets/images/media/kahlo.jpg" />
          <div class="title">Female Artists</div>
        </div>
      </semantic-link>


      <semantic-link iri='rsp:DisplayCollectionMadonnaAndChild'>
        <div class="card">
          <img class="photo photo-3" src="../../assets/images/media/madonna.jpg" />
          <div class="title">Madonna and child</div>
        </div>
      </semantic-link>

      <semantic-link iri='rsp:DisplayCollectionWomenSaints'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/women_saints.jpg" />
          <div class="title">Women Saints</div>
        </div>
      </semantic-link>

      <semantic-link iri='rsp:DisplayCollectionOilOnWood'>
        <div class="card">
          <img class="photo photo-8" src="../../assets/images/media/oil_on_wood_dali.jpg" />
          <div class="title">Oil on wood</div>
        </div>
      </semantic-link>
      <semantic-link iri='rsp:DisplayCollectionItalian'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/italian_ren.jpg" />
          <div class="title">Italian Renaissance</div>
        </div>
      </semantic-link>

    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
</div>
