<div class="row row-center">
  <div
    id="main-container"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Artworks from Italian Renaissance</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> rsp:collectionfiltersearch  searchQuery='?subject <https://pharos.artresearch.net/resource/fr/Work_from_Date> ?date. ?date rdfs:label ?date_label. ?subject <https://pharos.artresearch.net/resource/fr/Work_to_Date> ?date2. ?date2 rdfs:label ?date2_label. FILTER ( ?date_label > "1500"). FILTER ( ?date2_label < "1700"). FILTER NOT EXISTS{ ?subject crm:P2_has_type <https://pharos.artresearch.net/resource/type/pharos> }' ]]
  </div>
</div>  
