<!-- Checks provider and return an icon -->
<semantic-query
  query="
     SELECT distinct ?provider ?providerLabel   WHERE 
   {
    <{{value.binding.graph.value}}> <https://pharos.artresearch.net/custom/has_provider> ?provider . 
    ?provider rdfs:label ?providerLabel
}LIMIT 1"
  template="{{>sourceIconTemplate}}"
>
  <template id="sourceIconTemplate">
    <semantic-link uri="{{bindings.0.provider.value}}">
      <img
        title="{{bindings.0.providerLabel.value}}"
        class="sourceIcon"
        src="../../assets/images/{{bindings.0.providerLabel.value}}.ico"
      />
    </semantic-link>
  </template>
</semantic-query>
