<div class="page search-with-image-page">
  <mp-event-trigger id="breadcrumbs" type='Component.TemplateUpdate' on='["mounted"]' targets='["top-header-breadcrumbs"]'
    data='{"breadcrumb": "Search"}'>
  </mp-event-trigger>


  <div class="main-container">

    <semantic-search
      save-state-in-browser-history="false"
      limit=10000
      categories='{
        "<http://www.w3.org/2001/XMLSchema#date>": [{
          "kind": "date-range",
          "datatype": "http://www.w3.org/2001/XMLSchema#date",
          "queryPattern": "
            {
              $subject ?__relation__ ?date .
              FILTER(?date <= ?__dateEndValue__) .
              FILTER(?date >= ?__dateBeginValue__) .
            }"
          }]
      }'
      relations='[[> SearchSimpleRelationsMidas]]'
      search-profile='[[> SearchSimpleProfile]]'

      datasets-config='{"datasetPattern": "", "datasets": [{"label": "PHAROS", "isDefault": true, "alignments": [{"iri": "http://vocab.getty.edu/aat/", "label": "Getty", "isDefault": true}, {"iri": "https://artresearch.net/resource/midas/vocabulary", "label": "MIDAS"}, {"iri": "https://artresearch.net/resource/zeri/vocabulary", "label": "Zeri"}]}]}'
    >
      <div class="search-bar">
        <pharos-image-search-with-slider
          with-inital-file-url='[[urlParam "query"]]'
          with-initial-file-data='[[urlParam "withFile"]]'

          evaluate-on-change='true'
          domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
          debounce="600"
          tokenize-lucene-query="false"
          escape-lucene-syntax="false"

          min="0"
          max="100"
          step="1"
          marks='{"0": "0%", "5": "5%", "50": "50%", "100": "100%"}'
          default-slider-value="5"
          query='
SELECT ?subject WHERE {
  {
    SELECT DISTINCT ?subject (SUM(?maxScore) AS ?score) (SAMPLE(?maxPhoto) AS ?photoToShow) WHERE {
      {
        SELECT ?subject (((?__aiAssist__ / 100) * (MAX(?similarity) / SAMPLE(?similarityMaxScore))) AS ?maxScore) (SAMPLE(?photo) AS ?maxPhoto) {
          {
            SELECT ?subject ?photo ?similarity ?similarityMaxScore {
              SERVICE <http://idios-sparql.private/sparql> {
                ?photo <https://artresearch.net/vision/service> "idios" .
                ?photo <https://artresearch.net/vision/request_type> ?__dataType__ .
                ?photo <https://artresearch.net/vision/data> ?__data__ .
                ?photo <https://artresearch.net/vision/limit> 5000 .
                ?photo <https://artresearch.net/vision/similarity> ?similarity .
                ?photo <https://artresearch.net/vision/work> ?work .
              }
              BIND(?work as ?subject) .

              {
                SELECT (?similarity AS ?similarityMaxScore) WHERE {
                  SERVICE <http://idios-sparql.private/sparql> {
                    ?photo <https://artresearch.net/vision/service> "idios" .
                    ?photo <https://artresearch.net/vision/request_type> ?__dataType__ .
                    ?photo <https://artresearch.net/vision/data> ?__data__ .
                    ?photo <https://artresearch.net/vision/limit> 5000 .
                    ?photo <https://artresearch.net/vision/similarity> ?similarity .
                    ?photo <https://artresearch.net/vision/work> ?work .
                  }
                }
                ORDER BY DESC(?similarity)
                LIMIT 1
              }
            }
            ORDER BY ?similarity
          }
        } GROUP BY ?subject
        HAVING (?maxScore > 0)
      } UNION {
        SELECT ?subject ((((100 - ?__aiAssist__) / 100)  * (MAX(?score) / SAMPLE(?scoreMaxScore))) AS ?maxScore) (SAMPLE(?photo) AS ?maxPhoto) {
          {
            SELECT ?subject ?photo ?score ?scoreMaxScore {
              SERVICE <http://idios-sparql.private/sparql> {
                ?photo <https://artresearch.net/vision/service> "pastec" .
                ?photo <https://artresearch.net/vision/request_type> ?__dataType__ .
                ?photo <https://artresearch.net/vision/data> ?__data__ .
                ?photo <https://artresearch.net/pastec/score> ?score .
              }
              {
                ?subject crm:P138i_has_representation/crm:P128i_is_carried_by/crm:P56i_is_found_on ?photo .
              } UNION {
                ?subject crm:P138i_has_representation/crm:P128i_is_carried_by ?photo .
              }

              {
                SELECT (?score AS ?scoreMaxScore) WHERE {
                  SERVICE <http://idios-sparql.private/sparql> {
                    ?photo <https://artresearch.net/vision/service> "pastec" .
                    ?photo <https://artresearch.net/vision/request_type> ?__dataType__ .
                    ?photo <https://artresearch.net/vision/data> ?__data__ .
                    ?photo <https://artresearch.net/pastec/score> ?score .
                  }
                }
                ORDER BY DESC(?score)
                LIMIT 1
              }
            }
          }
        } GROUP BY ?subject
        HAVING (?maxScore > 0)
      }
    }
    GROUP BY ?subject
  }
}

          '>
        </pharos-image-search-with-slider>

        [[!--
        <semantic-search-configuration-editor></semantic-search-configuration-editor>
        --]]
      </div>

      <div class="content-area">
        <div class="facet-column">
          <semantic-search-facet open-by-default='true' sortby='count-desc' facet-values-threshold="5000"
            default-value-queries='{
              "resource": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE { FILTER(?__facetRelationPattern__) } GROUP BY ?value ORDER BY DESC(?count)",
              "literal": "SELECT ?literal (COUNT(DISTINCT $subject) AS ?count) WHERE { FILTER(?__facetRelationPattern__) } GROUP BY ?literal ORDER BY ?literal"
            }'
            value-relations='{
              "<https://artresearch.net/resource/fr/Work_shows_Subject>": {
                "kind": "resource",
                "valuesQuery": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE { ?subject crm:P65_shows_visual_item ?value . ?value crm:P2_has_type <http://vocab.getty.edu/aat/300404126> . } GROUP BY ?value ORDER BY DESC(?count)"
              },
              "<https://artresearch.net/resource/fr/Work_has_Image>": {
                "kind": "resource",
                "valuesQuery": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE {
                OPTIONAL { ?subject custom:has_image ?has } . BIND(IF(?has = true, <http://www.w3.org/2001/XMLSchema#yes>, <http://www.w3.org/2001/XMLSchema#no>) AS ?value) . } GROUP BY ?value ORDER BY DESC(?count)"
              },
                                           "<https://artresearch.net/resource/fr/Work_kept_by_Institution>": {
                "kind":"hierarchy",
                "valuesQuery": "SELECT ?value WHERE {?subject crm:P50_has_current_keeper ?value .}",
                "queryPattern": "{
                    ?subject crm:P50_has_current_keeper ?keeper .
                    ?keeper custom:sameAs ?__value__ .
                  } UNION {
                    ?subject crm:P50_has_current_keeper ?__value__.
                    FILTER NOT EXISTS { ?value custom:sameAs ?wikidata. }
                  }",
                "parentsPattern": "{
                  ?value crm:PXX ?parent .
                 }",
                "childrenPattern": "{
                  ?child crm:PXX ?value .
                }",
                "searchPattern": "{ ?text ql:contains-entity ?value; ql:contains-word ?__token__. }"
              },
              "<https://artresearch.net/resource/fr/Work_from_Place>": {
                "kind":"hierarchy",
                "valuesQuery": "SELECT ?value WHERE {?subject crm:P55_has_current_location ?value .}",
                "queryPattern": "{
                  {
                    ?subject crm:P55_has_current_location ?place .
                    ?place custom:sameAs/crm:P89_falls_within* ?__value__ .
                    ?__value__ crm:P71i_is_listed_in <https://artresearch.net/resource/pharos/authority> .
                  } UNION {
                    ?subject crm:P55_has_current_location ?place .
                    ?place (custom:sameAs?/(crm:P89_falls_within*)) ?value.
                    MINUS {
                      ?value custom:sameAs ?reconciledPlace1 .
                    }
                  }
                }",
                "parentsPattern": "{
                  {
                    ?value crm:P89_falls_within ?parent .
                    ?value crm:P71i_is_listed_in <https://artresearch.net/resource/pharos/authority> .
                    ?parent crm:P71i_is_listed_in <https://artresearch.net/resource/pharos/authority> .
                  }
                  UNION
                  {
                    ?value crm:P89_falls_within ?place.
                    ?place custom:sameAs ?parent.
                    ?parent crm:P71i_is_listed_in <https://artresearch.net/resource/pharos/authority> .

                    MINUS { ?value custom:sameAs ?reconciledPlace3. }
                  }
                  UNION {
                    ?reconciledPlace5 custom:sameAs ?value .
                    ?reconciledPlace5 crm:P89_falls_within ?parent .
                  }
                  UNION
                  {
                    ?value crm:P89_falls_within ?parent.
                    MINUS { ?value custom:sameAs ?reconciledPlace4. }
                  }
                }",
                "childrenPattern": "{
                  {
                    ?value crm:P89i_contains ?child .
                    ?child crm:P71i_is_listed_in <https://artresearch.net/resource/pharos/authority> .
                  } UNION {
                    ?place custom:sameAs ?value .
                    ?place crm:P89i_contains ?child .
                    MINUS {
                      ?child custom:sameAs ?reconciledPlace3
                    }
                  } UNION {
                    ?value crm:P89i_contains ?child .
                    MINUS {
                      ?child custom:sameAs ?reconciledPlace4 .
                    }
                  }
                }",
                "searchPattern": "{ ?text ql:contains-entity ?value; ql:contains-word ?__token__. }"
  						},
              "<https://artresearch.net/resource/fr/Work_created_from_Artist>": {
                "kind":"hierarchy",
                "valuesQuery": "SELECT ?value WHERE {?subject crm:P50_has_current_keeper ?value .}",
                "queryPattern": "{
                    ?subject crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?artist .
                    ?artist custom:sameAs ?__value__ .
                  } UNION {
                    ?subject crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?__value__.
                    FILTER NOT EXISTS { ?value custom:sameAs ?some. }
                  }",
                "parentsPattern": "{
                  ?value crm:PXX ?parent .
                 }",
                "childrenPattern": "{
                  ?child crm:PXX ?value .
                }",
                "searchPattern": "{ ?text ql:contains-entity ?value; ql:contains-word ?__token__. }"
  						}
                             [[!--
              "<https://artresearch.net/custom/is_matched_artworks>": {
                "kind": "resource",
                "valuesQuery": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE {
                OPTIONAL { ?subject custom:is_matched_artworks ?has } . BIND(IF(?has = true, <http://www.w3.org/2001/XMLSchema#yes>, <http://www.w3.org/2001/XMLSchema#no>) AS ?value) . } GROUP BY ?value ORDER BY DESC(?count)"
              },
              "<https://artresearch.net/custom/number_of_matched_artworks>": {
                "kind": "numeric-range",
                "valuesQuery": "SELECT ?numericRangeBeginValue ?numericRangeEndValue WHERE { ?subject <https://artresearch.net/custom/number_of_matched_artworks> ?value . BIND(?value as ?numericRangeBeginValue). BIND(?value as ?numericRangeEndValue) . }"
              }
--]]
            }'
          >
          </semantic-search-facet>
        </div>

        <div class="results-column">
          <semantic-search-result-holder>
            <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
            <semantic-search-result>
              <semantic-query
                id="result-count"
                query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {}'
                template="{{>currentResultCount}}"
              >
                <template id="currentResultCount">
                  <p><span class="bold-text">results</span> {{bindings.0.count.value}}</p>
                </template>
              </semantic-query>


              <semantic-query
                id="grid-result"
                prefetch-labels="false"
                query='SELECT DISTINCT ?subject ?maxPhoto WHERE { } ORDER BY DESC(?score) DESC(?subject) LIMIT 2000'
                template="{{> subjectCellTemplate}}"
                no-result-template='[[> CardNoResult ]]'
              >
                <template id="subjectCellTemplate">
                    <infinite-scroll item-height="250px" batch-size="10" values='{{stringify bindings}}'>
                      <template id='template'>
                        <div class="result-item">
                          {{> Default:CardArtwork photo=maxPhoto.value}}
                        </div>
                      </template>
                    </infinite-scroll>
                </template>
              </semantic-query>
            </semantic-search-result>
          </semantic-search-result-holder>
        </div>
      </div>
    </semantic-search>
  </div>
</div>
