<div class="text-center panel panel-default ListOfMatchedStyle" >
<h4 align="center"><b>List of Zeri artists matched with ULAN artists</b></h4>
</div>
 <semantic-table  query='SELECT distinct * WHERE {
                          ?artist custom:has_provider <https://pharos.artresearch.net/resource/zeri/source/Zeri>.
                          ?artist owl:sameAs ?ulan.
                          ?ulan <https://pharos.artresearch.net/custom/has_type> <https://pharos.artresearch.net/resource/type/pharos>.
                          ?artist a crm:E21_Person.
                          ?artist rdfs:label ?artist_label.
                          GRAPH <https://pharos.artresearch.net/resource/pharos/matched/artists/graph> {
                            ?ulan rdfs:label ?ulan_label
                          }
  												BIND(STR(?artist) AS ?artist_uri)
  												BIND(STR(?ulan) AS ?ulan_uri)
                        }' 
                id="table-result" 
                number-of-displayed-rows= 100
                options='{"showFilter": false, "showTableHeading": true}'
                column-configuration='[
                  {"variableName": "artist", "displayName": "Zeri Artist"},
                  {"variableName": "artist_uri", "displayName": "Zeri URI"},
                  {"variableName": "ulan", "displayName": "ULAN Artist"},
                  {"variableName": "ulan_uri", "displayName": "ULAN URI"},
                  {"variableName": "ID", "displayName": "ID"}
                ]'>
</semantic-table>


<br>
<br>