<div class='page__header-body' data-flex-layout='row top-left'>
  [[#if notDraggable]]
  [[else]]
  <div class="page__header-draggable-title">
    <mp-draggable iri='[[this]]'>
      <h2 data-flex-layout='row center-left'>
        <span class="page__header-gripper"></span>
        
         <!-- <mp-label iri='[[singleValueFromSelect 'SELECT distinct ?title WHERE {{?? crm:P1_is_identified_by ?titleuri. ?titleuri  crm:P2_has_type <http://vocab.getty.edu/aat/300417193> . ?titleuri rdfs:label ?title} UNION {?subject owl:sameAs ??. ?subject crm:P1_is_identified_by ?titleuri. ?titleuri  crm:P2_has_type <http://vocab.getty.edu/aat/300417193> . ?titleuri rdfs:label ?title}}']]' class='page__header-gripper-label'></mp-label> -->
        
  			<mp-label iri='[[this]]' class='page__header-gripper-label'></mp-label>
        
      </h2>
      

      
    </mp-draggable>
  </div>
  [[/if]]
  <h2 data-flex-layout='row center-left' class="page__header-tagline">
    <span class="icon-fc--header-title icon-fc--[[#if fc]][[fc]][[/if]]"></span>
    <small>
      [[#if fcLabel]]
      <semantic-query
        query='
              SELECT ?dataset ?providerLabel WHERE {
                ?? <http://www.cidoc-crm.org/cidoc-crm/P50_has_current_keeper> ?repo .
                ?repo rdfs:label ?repo_label.
                ?? <https://pharos.artresearch.net/custom/has_provider> ?provider.
                ?provider rdfs:label ?providerLabel
                OPTIONAL {
                ?? <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?type .
                ?type rdfs:label ?type_label.
                ?type <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <https://pharos.artresearch.net/resource/vocab/maintype>}
                  BIND(IF(BOUND(?repo), concat(?type_label," (Provider: ",str(?providerLabel),")"), "(Repository: Unknown)") as ?dataset) .
              } LIMIT 1
                             '
        template='{{> fcLabelTemplate}}'
      >
          <template id="fcLabelTemplate">
              <div>
                <span>
                  {{#each bindings}}
                  {{#ifCond providerLabel.value "!==" undefined }} 
                    
                   {{#ifCond providerLabel.value "===" "I Tatti" }}
                      <img src="../../assets/itatti.ico">
                   {{/ifCond}}
                      
                   {{#ifCond providerLabel.value "===" "I Tatti" }}
                      <img src="../../assets/itatti.ico">
                   {{/ifCond}}

                  {{/ifCond}}
                {{/each}}
                </span>
                <h3>{{bindings.0.dataset.value}}</h3>
                  {{log bindings}}
                
              </div>
          </template>
    </semantic-query>
      [[else]]
      [[#if subLabel]][[subLabel]][[/if]]
      [[#if labelChild]][[> @partial-block]][[/if]]
      [[/if]]
    </small>
  </h2>
</div>
