<div id="search-bar">
          <form>
            <input
              required
              minlength="2"
              class="form-control"
              placeholder="Provide the URL of an image to search for similar images"
              type="search"
              title="Type at least 2 characters"
              id="site-search"
              name="image"
              aria-label="Search through site content"
              
            />
            <input type="hidden" name="uri" value="Default:VisionSearch" />
            <button
            type="submit"
            style="background: white; height: 39px"
            class="btn searchBtn"
          >
            Search<i class="fa fa-search" style="margin-left: 5px;"></i>
          </button>
          </form>
</div>