<mp-event-trigger id="breadcrumbs"
                  type='Component.TemplateUpdate'
                  on='["mounted"]'
                  targets='["top-header-breadcrumbs"]'
                  data='{"breadcrumbs": [{"label": "Partners", "iri": "https://artresearch.net/resource/Partners"}, {"label": "<span>{{providerTitle}}  <img title=\"{{provider}}\" class=\"provider-icon\" src=\"/assets/images/minilogo_{{provider}}.png\" /></span>"}]}'>
</mp-event-trigger>


<div class="partner-page page-content scrollable-content with-breadcrumbs">
  <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="summary">
      <div>
          <bs-nav bs-style="tabs">
            <bs-nav-item event-key="summary">Summary</bs-nav-item>
            {{#if dataAvailable}}
              <bs-nav-item event-key="artworks">
                  <div style="display:flex;">Artworks<span class="work-count"> (
                    <semantic-query
                      query='SELECT (COUNT(DISTINCT ?work) AS ?count) WHERE {
                        ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                        ?work crm:P70i_is_documented_in <{{providerIri}}> .
                      }'>
                    </semantic-query>
                    )</span>
                  </div>
              </bs-nav-item>
              <bs-nav-item event-key="photographs">
                <div style="display:flex;">Photographs<span class="work-count"> (
                      <semantic-query
                        query='
                          SELECT (COUNT(DISTINCT ?photo) AS ?count) WHERE {
                            ?photo crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph>  .
                            ?photo crm:P70i_is_documented_in <{{providerIri}}> .
                          }
                        '>
                      </semantic-query>
                  )</span>
                </div>
              </bs-nav-item>
            {{/if}}
          </bs-nav>
          <bs-tab-content unmount-on-exit=true>
              <bs-tab-pane event-key="summary">
                <div class="main-container partner-page-title-and-intro">
                  <div class="provider-links">
                    <a class="outside-link" href="{{website}}" target="_blank">Website</a> |
                    <a style="margin-left: 10px;" class="outside-link" href="{{onlineCatalogue}}" target="_blank">Online catalogue</a>
                    {{#if email}}
                     | <a class="outside-link" href='mailto:{{email}}' style="margin-left: 10px;">{{email}}</a>
                    {{/if}}
                  </div>
                  <h1><img class="partner-logo-title" src="/assets/images/minilogo_{{provider}}.png" alt="">{{providerTitle}}</h1>



                  <div id="printableInfo" class="workAndProductionInfo">
                    <!-- Fields for Work (Artwork or photograph) -->
                        <div class="workInfoContainer">
                          <!-- <h2>Institute</h2> -->
                          <div class="partnerDescription">
                            <p class="bold-text">{{descriptionGeneral}}</p>
                          </div>
                        </div>
                        {{#if image}}
                        <div id="work-summary-images">
                          <div  id="printableImages"  class="summaryImages">
                            <div class="rs-page__summary-image">
                              <div class="imageAndSourceContainer">
                                <img
                                  class="imageThumbnail"
                                  alt="   "
                                  onerror="url(/assets/images/media/image_placeholder_broken.jpg);"
                                  src="{{image}}"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        {{/if}}
                        {{#if images}}
                        <div id="work-summary-images">
                          <div  id="printableImages"  class="summaryImages">
                            <div class="rs-page__summary-image">
                              <div class="carousel-container">
                                <div class="imageAndSourceContainer">
                                    <semantic-carousel
                                        query="
                                            SELECT ?thumbnail  WHERE {
                                              VALUES (?thumbnail){
                                                {{images}}
                                              }
                                            }"
                                        options='{ "dots":true, "draggable":false, "infinite": true, "autoplay":true,"autoplaySpeed":6000, "fade": true }'
                                        tuple-template='<img src="{{thumbnail.value}}" style="max-height:260px; margin: 0 auto;" alt="Temporarily unvailable" class="img-rounded">'
                                    ></semantic-carousel>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        {{/if}}
                    <!-- Fields for Production -->
                        <div class="productionInfoContainer">
                              <h2 class="static-h2">Photo Archive</h2>
                              <div class="partnerDescription">
                                <p>{{descriptionArchive}}</p>
                              </div>
                        </div>
                  </div>
                  [[> Default:footer]]
                </div>
              </bs-tab-pane>
              <bs-tab-pane event-key="artworks">
                <div class="main-container">
                  <inline-template template-iri="Default:SearchTemplate" options='{"searchRestrictions":"?subject crm:P70i_is_documented_in <{{providerIri}}> .", "provider": "https://artresearch.net/resource/provider/{{provider}}"}'></inline-template>
                </div>
              </bs-tab-pane>
              <bs-tab-pane event-key="photographs">
                <div class="main-container">
                  <inline-template template-iri="Default:SearchTemplate" options='{"searchRestrictions":"?subject crm:P70i_is_documented_in <{{providerIri}}> .", "domain": "photograph", "lock": "true"}'></inline-template>
                </div>
              </bs-tab-pane>
          </bs-tab-content>
      </div>
    </bs-tab-container>

</div>
