<mp-sparql-result-counts
id="semantic-search-result-count"
query="SELECT DISTINCT ?subject WHERE {
        {
          ?subjects owl:sameAs ?subject. 
        } UNION {
          ?subject a pharoscustom:photo.  
        } UNION { 
          ?subject a pharoscustom:photographer.  
        } UNION { 
          ?subject a pharosfc:artist.  
        } UNION { 
          ?subject a pharosfc:place.  
        }
      }"
template="{{> template}}"
>
<template id="template">
  {{#if hasLimit}}
  <bs-alert bs-style="warning" class="search-results__alert">
    <i
      class="fa fa-exclamation-triangle"
      aria-hidden="true"
    ></i>
    <span class="num-results"
      >Found {{numberOfResults}} matches</span
    >
    of {{totalNumberOfResults}} matches.
    <strong>Please, refine your search.</strong>
  </bs-alert>
  {{else}}
  <span class="num-results"
    >Found {{numberOfResults}} matches</span
  >
  {{/if}}
</template>
</mp-sparql-result-counts>