<div id="artwork-filter-search">
  [[#if searchQuery]]
  <semantic-search
    relations='{
    "<https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution>":[
    {
      "kind": "resource",
      "queryPattern": "
          ?subject owl:sameAs ?s.
          ?s crm:P50_has_current_keeper ?__value__."
    }]
      }'
    search-profile='{
        "categories":  
        [
          {
            "iri":"<https://pharos.artresearch.net/resource/fc/artist>",
            "label":"Painter"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "label":"Creator"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fc/work>",
            "label":"Artwork"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
            "label":"Type"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>",
            "label":"Material"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>",
            "label":"Technique"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label":"Location"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "label":"Artwork"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/custom/fc/photographer>",
            "label":"Photographer"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/custom/fc/institution>",
            "label":"Photo archive"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fc/institution>",
            "label":"Photo archive"
          }
         
          ],
        "relations":
        [
          {
            "iri": "<https://pharos.artresearch.net/resource/fr/Work_created_from_Artist>",
            "label":"Creator",
            "hasDomain":"<https://pharos.artresearch.net/resource/fc/work>",
            "hasRange":"<https://pharos.artresearch.net/resource/fc/artist>"
          },
          {
            "iri": "<https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution>",
            "label":"Repository",
            "hasDomain":"<https://pharos.artresearch.net/resource/fc/work>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_shows_Subject>",
            "label":"Subject",
            "hasDomain":"<https://pharos.artresearch.net/resource/fc/work>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_consists_of_Material>",
            "label":"Material",
            "hasDomain":"<https://pharos.artresearch.net/resource/fc/work>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_produced_using_technique_Technique>",
            "label":"Technique",
            "hasDomain":"<https://pharos.artresearch.net/resource/fc/work>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_from_Place>",
            "label":"Location",
            "hasDomain":"<https://pharos.artresearch.net/resource/fc/work>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
          }, 
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Photo_created_by_Photographer>",
            "label":"Photographer",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<https://pharos.artresearch.net/resource/custom/fc/photographer>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Photo_depicts_Work>",
            "label":"Depicts work",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
          },
          {
            "iri":"<https://pharos.artresearch.net/custom/has_provider>",
            "label":"Photo archive",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<https://pharos.artresearch.net/resource/custom/fc/institution>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_has_provider_Institution>",
            "label":"Photo archive",
            "hasDomain":"<https://pharos.artresearch.net/resource/fc/work>",
            "hasRange":"<https://pharos.artresearch.net/resource/fc/institution>"
          }
        ]
      }'
  >
    <div id="header-search" class="search-page">
      <semantic-search-query-keyword
        domain="[[domain]]"
        placeholder="Search for any field (e.g. a creator or title)"
        escape-lucene-syntax="false"
        default-query='SELECT DISTINCT ?subject WHERE {
          [[searchQuery]]
        }'
        query='
            SELECT DISTINCT ?subject WHERE {
              [[searchQuery]]
              ?subject ?p ?o.
              ?o rdfs:label ?someLabel.
              ?someLabel bds:search ?__token__  .
              ?someLabel bds:minRelevance "0.3"^^xsd:double;
              bds:matchAllTerms "true".
            } 
          '
      ></semantic-search-query-keyword>
    </div>

    <div class="row">
      <bs-col
        lg="3"
        md="4"
        sm="5"
        class="fade-in-fwd filters-container"
        style="margin-top: 8px"
      >
      <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
        <semantic-search-facet open-by-default="true"></semantic-search-facet>
      </bs-panel>
      </bs-col>
      <bs-col lg="9" md="8" sm="7">
        <semantic-search-result-holder>
              <semantic-search-result>
                <div id="card-results">
                  <bs-tab-container
                    id="tab-container"
                    class="page__body-navtabs--borderless"
                    default-active-key="all"
                  >
                    <div>
                      <bs-nav bs-style="tabs">
                        <bs-nav-item event-key="all">All</bs-nav-item>
                        <bs-nav-item event-key="photosOnly"
                          >Must include photograph</bs-nav-item
                        >
                      </bs-nav>
                      <bs-tab-content unmount-on-exit="true">
                        <bs-tab-pane event-key="all">
                          <semantic-table
                            id="grid-result"
                            options='{
                          "showFilter":false
                        }'
                              number-of-displayed-rows="10"
                            query="SELECT DISTINCT ?subject WHERE {}LIMIT 100"
                            tuple-template="{{>tupleTemplate}}"
                            no-result-template='[[> :CardNoResult ]]'
                          >
                            <template id="tupleTemplate">
                              [[> :CardArtwork]]
                            </template>
                          </semantic-table>
                        </bs-tab-pane>
                        <bs-tab-pane event-key="photosOnly">
                          <semantic-table
                            id="grid-result-2"
                            options='{
                          "showFilter":false
                        }'
                              number-of-displayed-rows="10"
                            query="
                      SELECT DISTINCT ?subject
                       WHERE {
                         {
                            ?subject fr:Work_depicted_by_Photo ?photo.
                            ?photo crm:P129i_is_subject_of ?image.
                         }UNION{
                            ?work fr:Work_depicted_by_Photo ?subject.
                            ?subject crm:P129i_is_subject_of ?image.
                         }
                       }LIMIT 100
                    "
                            tuple-template="{{>tupleTemplate}}"
                            no-result-template='[[> :CardNoResult ]]'
                          >
                            <template id="tupleTemplate">
                              [[> :CardArtwork]]
                            </template>
                          </semantic-table>
                        </bs-tab-pane>
                      </bs-tab-content>
                    </div>
                  </bs-tab-container>
                </div>
              </semantic-search-result>
        </semantic-search-result-holder>
      </bs-col>
    </div>
  </semantic-search>
  [[else]] No search query, please enter searchQuery in your :FilterSearchArtwork (must include ?subject)
  !!add!!>>>><b> searchQuery="?subject ?query ?withoutSelect" </b>
  [[/if]]
</div>
<style>
  #header-search .form-group {
    margin: 0 !important;
    display: flex;
  }
</style>