<div id="start-page">
  <div id="underDevAlert" class="alert alert-info" role="alert">
    <i>This instance is <b>under development</b> and will publicly launch in January
      2022</i>
  </div>
  <div class="landing-top">
    <div class="welcome" data-flex-layout="column center-center">
      <img src="../../assets/images/ar.png"/>
      <h2>The Pharos Digital Collections</h2>
    </div>

    <div class="search-actions">
        <div>
          [[> :Searchbar]]
        </div>
        <div style="margin-top: 15px"> or use </div>
      <div style="margin-top: 15px">
        <div data-flex-layout="row center-center">
          <semantic-link iri='Default:Search'>
            <div title="Make use of the artresearch full power!" class="btn btn-primary advancedBtn">
              Advanced Search
            </div>
          </semantic-link>
        </div>
      </div>
    </div>
  </div>

  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1 style="margin-left: 13vw" class="display-13">Thank you for taking the time to test this!</h1>
    </div>
    <div class="card-list">


      <semantic-link iri='Default:DisplayPharosArtistsTest'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/michelangelo_portrait.jpg" />
          <div class="title">Artists - just :</div>
        </div>
      </semantic-link>
      <semantic-link iri='[[resolvePrefix ":DisplayPharosArtistsTest"]]'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/michelangelo_portrait.jpg" />
          <div class="title">Artists - resolvePrefix</div>
        </div>
      </semantic-link>
      
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
</div>
