<div id="noResults">
    <p><i><span class="wrap-line">No results found.</span> Please refine your search criteria. </i></p>
    <!-- <img
      height="50vh"
      class="no-results-image1"
      src="/assets/images/media/frenchman.jpg"
      style="height: 41vh; box-shadow: 1px 1px 1px 1px"
    />
    <img
      height="50vh"
      class="no-results-image2"
      src="/assets/images/media/desert.jpg"
      style="height: 41vh; box-shadow: 1px 1px 1px 1px"
    />
        <img
      height="50vh"
      class="no-results-image2"
      src="/assets/images/media/island.jpg"
      style="height: 41vh; box-shadow: 1px 1px 1px 1px"
    />
    <!-- <h4>Artworks of Eberle, Abastenia St. Leger</h4> -->
    <!-- <div class="View-women-collection">
      <a href="/resource/DisplayCollectionPhotoDatedBetween">View the 19th century photographs collection</a>
    </div>  -->
</div>
<style>

  @media (max-width:800px) {
    #noResults{
      padding-bottom: 45px !important;
    }
    .no-results-image1{
      height: 24vh !important;
    }
    .no-results-image2{
      height: 42vh !important;
    }
  }
</style>
