<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header style="margin-left: 20px">
          <h1>Browse Repositories</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> rsp:institutionfiltersearchpharos]]
  </div>
</div>
<semantic-map query='SELECT ?subject ?label ?wkt WHERE {
  ?subject <https://pharos.artresearch.net/resource/fr/Institution_has_Wkt> ?wkt.
  ?subject rdfs:label ?label.
} LIMIT 1000'
tuple-template='<p></p><a style="text-decoration: none;"  href="https://artresearch.net/resource/?uri={{subject.value}}" target="_blank"><b style="color: #6b0000;">{{label.value}}</b><p></p><p></p></a><hr>'
>
</semantic-map> 