<div
class="rs-grid-element panel panel-default personCard fade-in-fwd "
>
<scroll-to-top querySelector=".pagination li"></scroll-to-top>

<semantic-link iri="{{subject.value}}">
  <div class="panel-body">
    <bs-col
      class="thumbnailImageContainer"
      lg="4"
      md="12"
      xs="12"
    >
     <!-- see commit at September 6 2021 for thumbnail code -->
    </bs-col>
    <bs-col class="cardInfo" lg="12">
      <div
        data-flex-layout="row md-column center-stretch"
      >
        <bs-row class="cardInfoFields">
          <h4>
            
            <div>
            <semantic-link
              iri="{{subject.value}}"
            ></semantic-link>
          </div>

            <div class="animated-background-circle"></div>
            
           
            <div 
            style="
            display: flex; 
            justify-content: center;  
            min-height: 29px;
            margin-top: 15px;">

            <semantic-query query='SELECT ?date WHERE{
              <{{subject.value}}> fr:Person_has_Date_of_Birth ?date
            }'
            template='{{> birthTemplate}}'
            >
            <template id="birthTemplate">
              <div date="{{dateTimeFormat bindings.0.date.value "YYYY"}}">
                {{dateTimeFormat bindings.0.date.value "YYYY"}}
              </div>
            </template>
            </semantic-query>
            
            
            <semantic-query query='SELECT ?date WHERE{
              <{{subject.value}}> fr:Person_has_Date_of_Death ?date
            }'
            template='{{> deathTemplate}}'
            >
            <template id="deathTemplate">
              <div>
              <div date="{{dateTimeFormat bindings.0.date.value "YYYY"}}">
                -{{dateTimeFormat bindings.0.date.value "YYYY"}}
              </div>
              </div>
            </template>
            </semantic-query>

            
           
             
              <div 
              style="
              display: flex; 
              justify-content: center;  
              min-height: 14px;
            ">
            
            <semantic-query query='SELECT ?nationalityLabel WHERE{
              <{{subject.value}}> fr:Person_has_Nationality ?nationality.
              ?nationality rdfs:label ?nationalityLabel
            }LIMIT 1'
            >
            </semantic-query>
               </div>
          </h4>
        </bs-row>
      </div>
    </bs-col>
  </div>
</semantic-link>

</div>