<div class="page">
    <div  class="jumbotron">
      <h1 style="margin-left:2vw" class="display-4">Data Providers</h1>
      <p style="margin-left:2vw" class="lead">Use the table bellow to view data from each data provider.</p>
    </div>
  <div style="margin-top:10px;">
    <div  data-flex-layout="column center-center">
      <div class="dataProviderTable">
        <br>
        <div data-flex-layout="column center-center">   
          <h3><b>Browse Data Providers Collections</b></h3>
        </div>
        
         <table>
           <tr>
            <td></td>
            <td><img src="https://fundit.fr/sites/default/files/actors/876-villa-i-tatti.jpg" style="max-height:140px; max-width:140px;"></td>
            <td><img src="https://www.sps.nyu.edu/content/dam/sps/real-world/logos/frick_logo.png/_jcr_content/renditions/cq5dam.web.1280.1280.png" style="max-height:140px; max-width:140px;"></td>
            <td><img src="https://www.biblhertz.it/assets/institutes/headers/biblhertz-mobile-de-76a8f71a39070c201826115920af8491595bddcefe8ea1907f1e0498ad5368ff.svg" style="height:70px; "></td>
            <td><img src="https://www.smartupds.com/images/logos/zeri.png" style="max-height:140px; max-width:140px;"></td>
            <td><img src="https://www.smartupds.com/images/logos/marb.png" style="max-height:140px; max-width:140px;"></td>
            <td><img src="https://dfk-paris.org/sites/default/files/khi-florenz.png" style="max-height:140px; max-width:140px;"></td>
          </tr>
          <tr>
            <td><h4><b>Artworks</b></h4></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayArtworksITattiSS>View (SS)</a> | <a class="btn" href=/resource/DisplayArtworksITattiFI>View (FI)</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayArtworksFrick>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayArtworksHertziana>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayArtworksZeri>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayArtworksMarburg>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayArtworksKHI>View</a></td>
          </tr>
          <tr>
            <td><h4><b>Photographs</b></h4></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotosITattiSS>View (SS)</a> | <a class="btn" href=/resource/DisplayPhotosITattiFI>View (FI)</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotosFrick>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotosHertziana>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotosZeri>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotosMarburg>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotosKHI>View</a></td>
          </tr>
          <tr>
            <td><h4><b>Built Works</b></h4></td>
            <td style="text-align:center"> - </td>
            <td style="text-align:center"> - </td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayBuiltworksHertziana>View</a></td>
            <td style="text-align:center"> - </td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayBuiltworksMarburg>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayBuiltworksKHI>View</a></td>
          </tr>
          <tr>
            <td><h4><b>Artists</b></h4></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPersonsITattiSS>View (SS)</a> | <a class="btn" href=/resource/DisplayPersonsITattiFI>View (FI)</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPersonsFrick>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPersonsHertziana>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPersonsZeri>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPersonsMarburg>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPersonsKHI>View</a></td>
          </tr>
          <tr>
            <td><h4><b>Repositories</b></h4></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayInstitutionsITattiSS>View (SS)</a> | <a class="btn" href=/resource/DisplayInstitutionsITattiFI>View (FI)</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayInstitutionsFrick>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayInstitutionsHertziana>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayInstitutionsZeri>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayInstitutionsMarburg>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayInstitutionsKHI>View</a></td>
          </tr>
          <tr>
            <td><h4><b>Photographers</b></h4></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotographersITattiSS>View (SS)</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotographersFrick>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotographersHertziana>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotographersZeri>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotographersMarburg>View</a></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotographersKHI>View</a></td>
          </tr>
         </table>
  
      </div>
    </div>
  </div>
  
  <div style="margin-top:10px;">
    <div  data-flex-layout="column center-center">
      <div class="dataProviderTable">
        <br>
        <div data-flex-layout="column center-center">   
          <h3><b>Browse Pharos Collections</b></h3>
        </div>
        
         <table>
           <tr>
            <td></td>
            <td><img src="../../assets/images/pharos.png" style="max-height:140px; max-width:140px;"></td>
          </tr>
          <tr>
            <td><h4><b>Artworks Pharos</b></h4></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPharosArtworks>View</a></td>
          </tr>
          <tr>
            <td><h4><b>Artists Pharos</b></h4></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPharosArtists>View</a></td>
          </tr>
          <tr>
            <td><h4><b>Photographers(NYPL)</b></h4></td>
            <td style="text-align:center"><a class="btn" href=/resource/DisplayPhotographersNYPL>View</a></td>
          </tr>
          <tr>
            <td><h4><b>Pharos Namedgraphs</b></h4></td>
            <td style="text-align:center"><a class="btn" href=/resource/NamedGraphs>View</a></td>
          </tr>
          <tr>
            <td><h4><b>Pharos Parent Namedgraphs</b></h4></td>
            <td style="text-align:center"><a class="btn" href=/resource/ParentNamedGraphs>View</a></td>
          </tr>
         </table>
         <br>
  
      </div>
    </div>
  </div>

</div>
<style>
  .page{
    padding-top: 0 !important;
  }
  .jumbotron {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .jumbotron h1 {
      font-size: 48px;
  }
  .dataProviderTable{
    padding: 2vh;
    box-shadow: 0px 0px 20px 1px #f8f8f8;
  }
</style>