<div id="partner-page">
  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1 style="margin-left: 13vw" class="display-13">Documentation</h1>
    </div>
    <div style="margin-left: 13vw">
            <div id="SimpleSearch" class="docSection">
                <h1>Simple Search</h1>
                <div class="doctext">
                    Simple Search is a simple search engine to find Artworks, Artists, and many other things in our platform.
                    We use the solar engine to provide you the best results to your input search.
                </div>
            </div>
            <div id="AdvancedSearch" class="docSection">
                <h1>Advanced Search</h1>
                <div class="doctext">
                    Advanced Search is a more complicated search engine for you to add more info to your search.
                    You can add the info in specific topics you you want to include in your search. 
                </div>
            </div>
            <div id="ContextualSearch" class="docSection">
                <h1>Contextual Search</h1>
                <div class="doctext">
                    Contextual Search is a Structured Search functionality where you can choose the subject you want to search and eliminate the
                    results with extra arguments.
                </div>
            </div>
            <div id="IIIF" class="docSection">
                <h1>IIIF Viewer</h1>
                <div class="doctext">
                 Compare images with deep zoom. Using a <img src="/assets/images/logos/iiif.png"> viewer you can view, analyze, compare & annotate images
                </div>
            </div>
            <div id="Statistics" class="docSection">
                <h1>View Statistics</h1>
                <div class="doctext">
                    We have collected all the statistics about artworks, photos, artists & more subjects. You can view/download them <mp-link style="color:blue !important" url="resource/Statistics">here</mp-link>
                </div>
            </div>
            <div id="Partner" class="docSection">
                <h1>Become a Partner!</h1>
                <div class="doctext">
                    Become an Artresearch partner now! 
                </div>
            </div>

           <div id="CuratorHelp" class="docSection">
                <h1>Additional Help For Collection Curators</h1>
                <div class="doctext">
                    Below you can view additional info for Collection Curators.
                </div>
            </div>
              <div id="ReportError" class="docSection">
                <h1>Report Error in the Platform</h1>
                <div class="doctext">
                    From any artwork you can report an error in from the yellow button "Report Error" on the top-right of the info.
                    <br>You can add an Error providing the Type of Error you want. 
                    <br>There are 4 Types of Error for the Artworks for the moment, "Data Error", "License Error", "Image Error", "Matching Error" and "Other".
                    <br>In each of them you need to provide a Title and a Description, and press Save to submit your Error. 
                    <br>Then other Collection Curators will view the error and find a solution to the error.
                </div>
            </div>
 
    </div>
    &nbsp;&nbsp;
    <br>
    &nbsp;&nbsp;
    <br>
    &nbsp;&nbsp;
    </div>
</div>
<style>
    .docSection{
        padding-top: 4vh;
    }
</style>