<div id="printableInfo" class="workAndProductionInfo">
  <mp-field-visualization
    subject="[[this]]"
    additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
    fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE { ?field <http://www.researchspace.org/resource/system/fields/category> <http://www.researchspace.org/ontologies/platform/FieldCategories/photograph_info>.   OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)}} ORDER BY ASC(?orderNo)"]]'
    template="{{>photographInfo}}"
  >
    <template id="photographInfo">
        {{#if noData}} 
          <div></div>
        {{else}}
        <div class="workInfoContainer">
          <h2>Photograph</h2>
          [[> ResourceFieldBasedVisualization showSourceIcon="true"  subject=[[this]] ]]
        </div>
        {{/if}}
    </template>
    <div class="animated-background workInfoContainer"></div>
  </mp-field-visualization>

  <div class="productionInfoContainer">
    <mp-field-visualization
      subject="[[this]]"
      additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
      fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/photographer>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
      template="{{>productionInfo}}"
    >
      <template id="productionInfo">
        {{#if noData}}
        <div></div>
        {{else}}
          <h2>Photographer</h2>
          [[> ResourceFieldBasedVisualization showSourceIcon="true"  subject=[[this]] ]] 
        {{/if}}
      </template>
      <div class="animated-background productionInfoContainer"></div>
    </mp-field-visualization>

    <mp-field-visualization
      subject="[[this]]"
      additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
      fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/physical_properties>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
      template="{{>generalInfo}}"
    >
        <template id="generalInfo">
          <div class="generalInfoContainer">
          {{#if noData}} 
            <div></div>
            {{else}}
              <h2 style="margin-top: 4vh">Physical Properties</h2>
              [[> ResourceFieldBasedVisualization showSourceIcon="true"  subject=[[this]] ]]
            {{/if}}
          </div>
        </template>
        <div class="animated-background generalInfoContainer"></div>
    </mp-field-visualization>

    <mp-field-visualization
      subject="[[this]]"
      additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
      fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/provenance>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
      template="{{>generalInfo}}"
    >
      <template id="generalInfo">
        <div class="generalInfoContainer">
        {{#if noData}} 
          <div></div>
          {{else}}
            <h2 style="margin-top: 4vh">Provenance</h2>
            [[> ResourceFieldBasedVisualization showSourceIcon="true"  subject=[[this]] ]]
          {{/if}}
        </div>
      </template>
    <div class="animated-background generalInfoContainer"></div>
    </mp-field-visualization>

    <mp-field-visualization
      subject="[[this]]"
      additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
      fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/subjects>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
      template="{{>generalInfo}}"
  >
      <template id="generalInfo">
          <div class="generalInfoContainer">
            {{#if noData}} 
              <div></div>
            {{else}}
              <h2 style="margin-top: 4vh">Subjects</h2>
              [[> ResourceFieldBasedVisualization showSourceIcon="true"  subject=[[this]] ]]
            {{/if}}
          </div>
      </template>
      <div class="animated-background generalInfoContainer"></div>
    </mp-field-visualization>

    <mp-field-visualization
      subject="[[this]]"
      additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
      fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/dating>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
      template="{{>generalInfo}}"
    >
      <template id="generalInfo">
        <div class="generalInfoContainer">
          {{#if noData}} 
            <div></div>
          {{else}}
            <h2 style="margin-top: 4vh">Dating</h2>
            [[> ResourceFieldBasedVisualization showSourceIcon="true"  subject=[[this]] ]]
          {{/if}}
        </div>
      </template>
      <div class="animated-background generalInfoContainer"></div>
    </mp-field-visualization>

    <mp-field-visualization
        subject="[[this]]"
        additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
        fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/notes>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
        template="{{>generalInfo}}"
      >
      <template id="generalInfo">
        <div class="generalInfoContainer">
          {{#if noData}} 
            <div></div>
          {{else}}
            <h2 style="margin-top: 4vh">Notes</h2>
            [[> ResourceFieldBasedVisualization showSourceIcon="true"  subject=[[this]] ]]
          {{/if}}
        </div>
      </template>
      <div class="animated-background generalInfoContainer"></div>
    </mp-field-visualization>
  </div>
</div>
