<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Photographs dated between 1839 and 1900</h1>
        </header>
      </div>
    </div>
    [[> FilterSearchCollection domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"  searchQuery='GRAPH <https://artresearch.net/resource/collection/dated_between/graph> { ?subject fr:Photo_from_Date ?s.}']]
  </div>
</div>  
