<div class="mainContent">
    [[> PhotoTiles]]
    <div id="photoSearch" data-flex-layout="column center-center">
      <div class="logoLarge">
      <h1 style="display:flex;color: white;">Pharos <div style="color: #d13e3e ;">Visual</div> Search</h1>
      </div>
      <div style="margin-top: 5vh">[[> VisionSearchBar]]</div>
      <div class="image-uploader-section">
        <upload-image></upload-image>
      </div>
    </div>
</div>

<style>
  div#search-bar {
  width: 54vw  !important;
}
</style>