<div id="filter-search" class="row row-center no-margin">
  <div id="main-containers" class="col-md-10">
<h1>Search for Artworks</h1>
<h2>All options must be filled. If you do not need one option simply click on remove.</h2>


<mp-event-trigger
id="reset-form"
data='{}'
type="Component.TemplateUpdate"
targets='["event-target-form-query"]'
>
<span style="margin-left: 6px"><strong>Reset form</strong></span>
</mp-event-trigger>
    <mp-event-target-template-render
  id="event-target-form-query"
  template="{{> tableEventTargetFormQueryTemplate}}"
>  <template id="tableEventTargetFormQueryTemplate"> 
    <semantic-search-form-query
      query-template='{
                      "queryString": "
                        PREFIX ex: <http://example.com/resource/>
                        SELECT ?subject WHERE {
                        {{#ifCond titleHidden "!==" "true" }}
                            ?subject rdfs:label ?title .
                        {{/ifCond}}
                        {{#ifCond creatorHidden "!==" "true" }}
                            ?subject fr:Work_created_from_Artist ?creator .
                        {{/ifCond}}
                        }
                      ",
                      "arguments": {
                        "secretInput":{"type": "xsd:string", "optional": true}
                       {{#ifCond creatorHidden "!==" "true" }}
                       ,"creator": {"type": "xsd:anyURI"}
                        {{/ifCond}}
                        {{#ifCond titleHidden "!==" "true" }}
                        ,"title": {"type": "xsd:string"}
                        {{/ifCond}}
                      }
                    }'
      fields='[
        { "id": "secretInput",
        "label": "Secret Input",
        "xsdDatatype": "xsd:string",
        "autosuggestionPattern": "
          PREFIX fts: <http://www.bigdata.com/rdf/fts#>
          SELECT DISTINCT ?value ?label  WHERE {
            ?value rdfs:label ?label
          }LIMIT 1"
        }
        {{#ifCond creatorHidden "!==" "true" }}
        ,{
          "id": "creator",
          "label": "Creator",
          "minOccurs":1,
          "xsdDatatype": "xsd:anyURI",
          "autosuggestionPattern": "
            PREFIX fts: <http://www.bigdata.com/rdf/fts#>
            SELECT DISTINCT ?value ?label  WHERE {
              ?value fts:search ?__token__ .
              ?value fts:endpoint \"http://213.171.209.34:8983/solr/artists_weighted/select\".
              ?value fts:endpointType \"SOLR\" .
              ?value fts:params \"rows=10\" .
              ?value fts:searchField \"uri\" .
              ?value fts:fieldToSearch \"*\" .
              ?value fts:snippetField \"*\" .
              ?value fts:searchResultType \"URI\" ;
              <http://www.bigdata.com/rdf/fts#scoreField>    \"field_score\";
              <http://www.bigdata.com/rdf/fts#score>   ?score;
              rdfs:label ?label.
            }"
        }
        {{/ifCond}}
        {{#ifCond titleHidden "!==" "true" }}
        ,{
          "id": "title",
          "label": "Title",
          "minOccurs":1,
          "xsdDatatype": "xsd:string",
          "selectPattern": "
            PREFIX fts: <http://www.bigdata.com/rdf/fts#>
            SELECT DISTINCT ?value ?label  WHERE {
              ?value fts:search ?__token__ .
              ?value fts:endpoint \"http://213.171.209.34:8983/solr/artworks_weighted/select\".
              ?value fts:endpointType \"SOLR\" .
              ?value fts:params \"rows=10\" .
              ?value fts:searchField \"uri\" .
              ?value fts:fieldToSearch \"*\" .
              ?value fts:snippetField \"*\" .
              ?value fts:searchResultType \"URI\" ;
              <http://www.bigdata.com/rdf/fts#scoreField>    \"field_score\";
              <http://www.bigdata.com/rdf/fts#score>   ?score;
              rdfs:label ?label.
            }"
        }
        {{/ifCond}}
    ]'
    >

    {{#ifCond titleHidden "!==" "true" }}
      <semantic-form-text-input for="title"></semantic-form-text-input>
      <mp-event-trigger
      id="remove-title"
      data='{"titleHidden":"true",
      "creatorHidden":"{{#if creatorHidden}}{{creatorHidden}}{{else}}false{{/if}}",
      "materialHidden":"{{#if materialHidden}}{{materialHidden}}{{else}}false{{/if}}",
      "techniqueHidden":"{{#if techniqueHidden}}{{techniqueHidden}}{{else}}false{{/if}}",
      "typeHidden":"{{#if typeHidden}}{{typeHidden}}{{else}}false{{/if}}",
      "creationDateHidden":"{{#if creationDateHidden}}{{creationDateHidden}}{{else}}false{{/if}}",
      "subjectHidden":"{{#if subjectHidden}}{{subjectHidden}}{{else}}false{{/if}}",
      "repositoryHidden":"{{#if repositoryHidden}}{{repositoryHidden}}{{else}}false{{/if}}",
      "historyHidden":"{{#if historyHidden}}{{historyHidden}}{{else}}false{{/if}}"}'
      type="Component.TemplateUpdate"
      targets='["event-target-form-query"]'
    >
      <span style="margin-left: 6px"><strong>Remove title</strong></span>
    </mp-event-trigger>
    {{/ifCond}}
    {{#ifCond creatorHidden "!==" "true" }}
      <semantic-form-autocomplete-input
        for="creator"
      ></semantic-form-autocomplete-input>
      <mp-event-trigger
      id="remove-title"
      data='{"titleHidden":"{{#if titleHidden}}{{titleHidden}}{{else}}false{{/if}}",
      "creatorHidden":"true",
      "materialHidden":"{{#if materialHidden}}{{materialHidden}}{{else}}false{{/if}}",
      "techniqueHidden":"{{#if techniqueHidden}}{{techniqueHidden}}{{else}}false{{/if}}",
      "typeHidden":"{{#if typeHidden}}{{typeHidden}}{{else}}false{{/if}}",
      "creationDateHidden":"{{#if creationDateHidden}}{{creationDateHidden}}{{else}}false{{/if}}",
      "subjectHidden":"{{#if subjectHidden}}{{subjectHidden}}{{else}}false{{/if}}",
      "repositoryHidden":"{{#if repositoryHidden}}{{repositoryHidden}}{{else}}false{{/if}}",
      "historyHidden":"{{#if historyHidden}}{{historyHidden}}{{else}}false{{/if}}"}'
      type="Component.TemplateUpdate"
      targets='["event-target-form-query"]'
    >
      <span style="margin-left: 6px"><strong>Remove creator</strong></span>
    </mp-event-trigger>
    {{/ifCond}}
    <semantic-form-hidden-input for="secretInput" default-value='nope'></semantic-form-hidden-input>
      <button type="button" name="submit" class="btn btn-secondary">
        Search
      </button>
    </semantic-search-form-query>
  </template>
  </mp-event-target-template-render>
  </div>
</div>
<style>
  .navbar-default {
    box-shadow: none !important;
  }
</style>