<div id="printableInfo"  class="workAndProductionInfo">

      <mp-field-visualization
          subject="[[this]]"
          additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
          fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/person_info>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
          template='{{>workInfo}}'
          >
        <template id="workInfo">
          <div class="workInfoContainer">
          <h2>Person info</h2>
            [[> :ResourceFieldBasedVisualizationCardPerson subject=[[this]] showSourceIcon="true" ]]
          </div>
        </template>
        </mp-field-visualization>


   <mp-field-visualization
          subject="[[this]]"
          additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
          fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/person_relationships>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
          template='{{>RelationshipsInfo}}'
          >
        <template id="RelationshipsInfo">
          <div class="workInfoContainer">
          <h2>Relationships</h2>
            [[> :ResourceFieldBasedVisualization subject=[[this]] showSourceIcon="true" ]]
          </div>
        </template>
        </mp-field-visualization>

        <div class="PersonBioCard">
          <semantic-query
             query=''
                no-result-template='<div></div>'
                template="{{> workTitleTemplate}}"
                >
          </semantic-query>
        </div>
        
  </div>