<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Photographs using technique Carbon print</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> :FilterSearchCollection domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>" searchQuery=' ?subject <https://pharos.artresearch.net/resource/fr/Photo_produced_using_Technique> <http://vocab.getty.edu/aat/300127138>.' ]]
  
  </div>
</div>