  [[!--
    To include this page within you application, you can optionally pass in the following parameters:
    
    searchPattern="?subject rdfs:label|skos:prefLabel ?label . ?label bds:search ?__token__ ;"
		searchPlaceholder="Type to search for X"
    searchLimit="100"
  ---]]
  <div id="simple-search-include">
        <semantic-search limit=[[#if searchLimit]][[searchLimit]][[else]]10[[/if]]>
      [[!-- heuristics to check whether we have a blazegraph instance and can apply bds search --]]
      [[#if (ask "ASK {  <http://www.bigdata.com/queryHints#Query> <http://www.bigdata.com/queryHints#optimizer> 'None' . ?x ?y ?z . }") ]]
        <semantic-search-query-keyword 
          [[#if searchPlaceholder]]placeholder='[[searchPlaceholder]]'[[/if]]                                 
          domain='<http://www.w3.org/2000/01/rdf-schema#Resource>'
          query='
            PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
						PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
						PREFIX bds: <http://www.bigdata.com/rdf/search#>
            SELECT ?subject WHERE {
              [[#if searchPattern]]
                [[searchPattern]]
              [[else]]                      
              ?subject a crm:E22_Man-Made_Object. 
              ?subject crm:P2_has_type <https://pharos.artresearch.net/resource/type/pharos>. 
              ?subject rdfs:label ?label .
              ?label bds:search ?__token__ ;
              bds:minRelevance "0.3" ;
              bds:relevance ?score ;
              bds:matchAllTerms "false" .
              BIND(STRLEN(?label) as ?length)
               [[/if]]
            } ORDER BY DESC(?score) ?length
          '
        ></semantic-search-query-keyword>
      [[else]]
        <semantic-search-query-keyword 
          [[#if searchPlaceholder]]placeholder='[[searchPlaceholder]]'[[/if]]                          
          domain='<http://www.w3.org/2000/01/rdf-schema#Resource>'
          escape-lucene-syntax='false'
          query='
            PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
						PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
            SELECT ?subject WHERE {
              [[#if searchPattern]]
                              [[searchPattern]]
              [[else]]
                ?subject a crm:E39_Actor. 
                ?subject rdfs:label ?label .
                ?label bds:search ?_token_ ; bds:minRelevance \"0.3\" ; bds:relevance ?score ; bds:matchAllTerms \"true\" . 
                FILTER(REGEX(?label, ?__token__, "i"))
                BIND(STRLEN(?label) as ?length)
              [[/if]]
            }ORDER BY DESC(?score) ?length
          '
        ></semantic-search-query-keyword>
      [[/if]]
  <div data-flex-layout="row stretch-stretch">
    <semantic-search-result-holder>
      <div data-flex-self="md-full">
        <semantic-search-result>
          
          <semantic-table id='grid-result'
                    query='SELECT DISTINCT ?subject (SAMPLE(?rawDesc) as ?description) WHERE {
                                  OPTIONAL { ?subject rdfs:comment ?rawDesc . }
                            } GROUP BY ?subject LIMIT [[#if searchLimit]][[searchLimit]][[else]]50[[/if]]'

                            number-of-displayed-rows="12"
         
                   tuple-template="{{> subjectCellTemplate}}"
                    options='{"showTableHeading": false, "showFilter":false}'
                    no-result-template='<div style="text-align: center;">No results. Please refine your keyword.</div>'>
            <template id="subjectCellTemplate">
            <div
                    class="rs-grid-element panel panel-default artwork-card fade-in-fwd"
                  >
                    <semantic-link iri="{{subject.value}}">
                      <div class="panel-body">
                        <bs-col
                          class="thumbnailImageContainer"
                          lg="4"
                          md="12"
                          xs="12"
                        >
                        <semantic-query
                        query='SELECT DISTINCT ?imgUrl WHERE{
                                bind("_" as ?default_imageUrl)
                                OPTIONAL{
                                  {
                                    # Artwork Image #
                                    <{{subject.value}}>  <http://www.cidoc-crm.org/cidoc-crm/P138i_is_represented_by> ?visual. 
                                    ?visual crm:P128i_is_carried_by ?image .
                                    ?image crm:P129i_is_subject_of ?fullsizeImgUrl.
                                    BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/200,") AS ?smallerImgUrl).
                                  }UNION{
                                    # Pharos Artwork Image #
                                    ?originalSubject owl:sameAs <{{subject.value}}> .
                                    ?originalSubject <http://www.cidoc-crm.org/cidoc-crm/P138i_is_represented_by> ?visual. 
                                    ?visual crm:P128i_is_carried_by ?image .
                                    ?image crm:P129i_is_subject_of ?fullsizeImgUrl.
                                    BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/200,") AS ?smallerImgUrl).
                                  }UNION{
                                    # Pharos Photo Image #
                                    ?originalSubject owl:sameAs <{{subject.value}}> .
                                    ?artwork crm:P138i_is_represented_by ?visual_item.
                                    ?visual_item crm:P128i_is_carried_by ?originalSubject.
                                    ?artwork <http://www.cidoc-crm.org/cidoc-crm/P138i_is_represented_by> ?visual. 
                                    ?visual crm:P128i_is_carried_by ?image .
                                    ?image crm:P129i_is_subject_of ?fullsizeImgUrl.
                                    FILTER(?image = ?originalSubject).
                                    BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/200,") AS ?smallerImgUrl).
                                  }UNION{
                                    # Photo Image #
                                    ?artwork crm:P138i_is_represented_by ?visual_item.
                                    ?visual_item crm:P128i_is_carried_by <{{subject.value}}> .
                                    ?artwork <http://www.cidoc-crm.org/cidoc-crm/P138i_is_represented_by> ?visual. 
                                    ?visual crm:P128i_is_carried_by ?image .
                                    ?image crm:P129i_is_subject_of ?fullsizeImgUrl.
                                    FILTER(?image = <{{subject.value}}>).
                                    BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/200,") AS ?smallerImgUrl).
                                  }
                                }
                                BIND(coalesce(?smallerImgUrl, ?default_imageUrl) as ?imgUrl)      
                              }LIMIT 1'
                        template="{{> imageThumbnail}}"
                        >
                        <template id="imageThumbnail">
                          <img
                            alt='   '
                            class="thumbnailImage"
                            src="{{bindings.0.imgUrl.value}}"
                            />
                        </template>
                      </semantic-query>


                        </bs-col>
                        <bs-col class="cardInfo" lg="7" md="10" xs="10">
                          <div data-flex-layout="row md-column center-stretch">
                            <bs-row class="cardInfoFields">
                                <h4><semantic-link iri="{{subject.value}}"></semantic-link></h4>
                                <!-- <h2>Original record</h2>
                                <h4><semantic-link iri="{{originalSubject.value}}"></semantic-link></h4> -->
                            </bs-row>
                          </div>
                        </bs-col>
                      </div>
                    </semantic-link>
                  </div>
            </template>
					</semantic-table>          
				</semantic-search-result>
      </div>
    </semantic-search-result-holder>
  </div>
</semantic-search>
</div>
