<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<div class="page rs-page">
  [[#> rsp:ClipboardSidebar]]
  <div class="page__header-navtabs">
    [[> rsp:Header fc=fc fcLabel=fcLabel]]
  </div>

  [[#if (urlParam "tab")]]
  <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="[[urlParam 'tab']]">
    [[else]]
    <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="summary">
      [[/if]]
      <div>
        <bs-nav bs-style="tabs">
          <bs-nav-item event-key="summary">Summary</bs-nav-item>
          [[#if (ask "ASK {?? crm:P2_has_type <http://vocab.getty.edu/aat/300046300> }") ]] 
          <bs-nav-item event-key="IIIF">Image Lightbox</bs-nav-item>
          [[/if]]
          [[#if (ask "ASK {?? crm:P2_has_type <http://vocab.getty.edu/aat/300133025> }") ]] 
          <bs-nav-item event-key="IIIFInspect">Image Lightbox</bs-nav-item>
          [[/if]]
          [[#if (ask "ASK {?? a crm:E21_Person }") ]] 
           <bs-nav-item event-key="artworks">Artworks</bs-nav-item>
           [[/if]]
          <!-- <bs-nav-item event-key="annotations">
            Annotations <semantic-context repository='assets'><semantic-query query="SELECT (COUNT(DISTINCT ?s) AS ?count) WHERE {
              ?s <http://www.ics.forth.gr/isl/CRMdig/L43_annotates> ??;
              }"
              template='{{#each bindings}}<span class="badge">{{count.value}}</span>{{/each}}'></semantic-query></semantic-context>
          </bs-nav-item> -->
          <!-- <bs-nav-item event-key="related">Explore Related</bs-nav-item> -->
        </bs-nav>

        <bs-tab-content unmount-on-exit=true>
          <bs-tab-pane event-key="summary">
            [[#if (ask 'ASK {{?? rso:PX_has_main_representation ?mainImage .} UNION {?? crm:P138i_has_representation ?representationImage .} UNION {?? <http://www.cidoc-crm.org/cidoc-crm/P16i_was_used_for> ?creation .}  UNION {?? <http://www.cidoc-crm.org/cidoc-crm/P138i_is_represented_by> ?vi .} UNION {?source owl:sameAs ?? . ?source crm:P138i_is_represented_by ?vi. } BIND(COALESCE(?mainImage, ?representationImage) AS ?image) .}')]]
          <div class="rs-page__summary-image">
                <mp-overlay-dialog title="‎‎" class="miradorViewerPopup">
                  <mp-overlay-dialog-trigger>
                    <div class="rs-page__summary-image">
                      <semantic-query query='
                      SELECT distinct ?imgURL  WHERE {
                                  ?? crm:P138i_is_represented_by ?visual_item.
                                  ?visual_item crm:P128i_is_carried_by ?photo.
                                  ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                                  ?photo crm:P129i_is_subject_of ?imgURL.
                                  ?imgURL crm:P2_has_type <http://iiif.io/api/image> .
                            }' template='{{> imageThumbnail}}'>
                        <template id="imageThumbnail">
                          {{#each bindings}}
                            <img class="thumbnailImage"  src="{{imgURL.value}}"/>
                          {{/each}}                                     
                        </template>
                      </semantic-query>
              </div>
                  </mp-overlay-dialog-trigger>
                  <mp-overlay-dialog-content>
                      <div style='height: 80vh; width: 100%;'>
                          <rs-iiif-mirador
                            image-or-region="[[this]]" 
                            image-id-pattern='BIND("image" AS ?type). BIND( ?? AS ?imageIRI). 
                            ?? crm:P138i_is_represented_by ?visual_item.
                            ?visual_item crm:P128i_is_carried_by ?photo.
                            ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                            ?photo crm:P129i_is_subject_of ?image.
                            ?image crm:P2_has_type <http://iiif.io/api/image>.
                            BIND(REPLACE(STR(REPLACE(STR(?image),"/full/full/0/native.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                          
                            iiif-server-url="https://ids.lib.harvard.edu/ids/iiif/" 
                              
                          />
                      </div>
                  </mp-overlay-dialog-content>
                </mp-overlay-dialog>
          </div>
          [[/if]]
          
<semantic-if query='ASK {<[[this]]> <https://pharos.artresearch.net/custom/has_provider> ?institute . ?institute rdfs:label ?instituteLabel . }'
  then='{{> then}}' else='{{> else}}'>

  <template id="then">
      <semantic-query
          query='SELECT ?instituteLabel WHERE {<[[this]]> <https://pharos.artresearch.net/custom/has_provider> ?institute . ?institute rdfs:label ?instituteLabel . }'
          template='{{> institute}}'>
          <template id='institute'>
              <span class="rs-h1 rs-resource-section--header">
                  {{#each bindings}}
                  {{#if @first}}{{else}} - {{/if}}
                  {{instituteLabel.value}}
                  {{/each}}
                  Dataset</span>
          </template>
      </semantic-query>
      <mp-field-visualization
          subject="[[this]]"
          fields='[[fieldDefinitionsFromQuery "SELECT ?field WHERE { ?field <http://www.researchspace.org/resource/system/fields/domain> crm:E22_Man-Made_Object. ?field <http://www.researchspace.org/resource/system/fields/order> ?order} ORDER BY ASC(?order) ?field"]]'
          template='{{>sixtyone_edition_field_table}}'
          >
        <template id="sixtyone_edition_field_table">
            [[> rsp:ResourceFieldBasedVisualization subject=[[this]]  ]]
        </template>
      </mp-field-visualization>
  </template>
  <template id="else">
      <span class="rs-h1 rs-resource-section--header">Dataset</span>
            <mp-field-visualization
          subject="[[this]]"
          fields='[[fieldDefinitionsFromQuery "SELECT ?field WHERE { ?field <http://www.researchspace.org/resource/system/fields/domain> crm:E22_Man-Made_Object. ?field <http://www.researchspace.org/resource/system/fields/order> ?order} ORDER BY ASC(?order) ?field"]]'
          template='{{>sixtyone_edition_field_table}}'
          >
        <template id="sixtyone_edition_field_table">
            [[> rsp:ResourceFieldBasedVisualization subject=[[this]]  ]]
        </template>
      </mp-field-visualization>
  </template>
</semantic-if>
            <div>
       <semantic-table 
      query='
					 	 SELECT distinct ?record ?image WHERE 
						{
              {
              ?s owl:sameAs ?? . 
              ?s <https://pharos.artresearch.net/custom/has_original_record> ?record . 
              ?s <https://pharos.artresearch.net/custom/has_provider> ?provider . 
              ?provider crm:image ?image.
              }
              UNION
              {
              ?? <https://pharos.artresearch.net/custom/has_original_record> ?record . 
              ?? <https://pharos.artresearch.net/custom/has_provider> ?provider . 
              ?provider crm:image ?image.
              }
            }' 
            options='{"showFilter": false, "showTableHeading": false}'
      tuple-template='{{> tupleTemplate}}'
>
  <template id='tupleTemplate'>

        <p align="right"><a href={{record.value}} style="margin-top:18px;margin-right:20px;">  
          <img src={{image.value}} style="max-height:16px; max-width:16px; margin: 0 auto;" class="img-rounded">
          </a> </p>
    
  </template>
</semantic-table>

        <mp-field-visualization subject='[[this]]' additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
                                fields='[[fieldDefinitionsFromQuery  "SELECT DISTINCT ?field WHERE {?field <http://www.metaphacts.com/ontology/fields#domain> <http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>. OPTIONAL {?field <https://pharos.artresearch.net/field/order> ?w}} ORDER BY ASC(?w)"]]'
                                template='{{> template}}'>
            <template id="template">{{> rsp:FieldBasedVisualization subject="[[this]]"}}</template>

        </mp-field-visualization>

            
            <semantic-table 
      query='
					 	 SELECT distinct ?photo ?photo_label ?keeper ?keeper_label ?photographer ?photographer_label ?verso ?recto WHERE 
						{
  							<[[this]]> crm:P138i_is_represented_by ?visual_item.
  							?visual_item crm:P128i_is_carried_by ?photo.
  							?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                ?photo rdfs:label ?photo_label.
                ?photo crm:P50_has_current_keeper ?keeper.
                ?keeper rdfs:label ?keeper_label.
                ?photo crm:P108i_was_produced_by ?production .
                ?production crm:P14_carried_out_by ?photographer.
                ?photographer rdfs:label ?phototographer_label.
   
                ?photo crm:P138i_has_representation ?recto.
  							?recto crm:P2_has_type ?typer .
                ?typer rdfs:label "recto".
              
                ?photo crm:P138i_has_representation ?verso.
  							?verso crm:P2_has_type ?typev .
                ?typev rdfs:label "verso".
        			
            }' 
            options='{"showFilter": false, "showTableHeading": false}'
            tuple-template='{{> photos}}'
>
 <template id='photos'>
				<table class='table'>
              <tr>
                <td>
                 	<semantic-link iri="{{photo.value}}"> 
          				 <img src={{recto.value}} style="max-height:70px; max-width:70px; margin: 0 auto;" class="img-rounded">
         					</semantic-link>
                </td>
                <td>
                 	<semantic-link iri="{{photo.value}}"> 
           					<img src={{verso.value}} style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
         					</semantic-link>
                </td>
                <td>
                   Photograph:
                 	<semantic-link iri="{{photo.value}}"> 
          				 {{photo_label.value}}
                  </semantic-link> <br>
                  Photographer:
                 	<semantic-link iri="{{photographer.value}}"> 
          				 {{photographer_label.value}}
                  </semantic-link> <br>
                  Keeper:
                  <semantic-link iri="{{keeper.value}}"> 
          				{{keeper_label.value}}
         					</semantic-link>
                 </td>
              </tr>
            </table>
        
  </template>    
</semantic-table>
               
            
     [[#if (ask "ASK {?? crm:P2_has_type <https://pharos.artresearch.net/resource/type/pharos> }") ]]         
     <semantic-table 
      query='
      		SELECT distinct ?photo ?photo_label ?keeper ?keeper_label ?photographer ?photographer_label ?recto ?verso WHERE 
						{
  							?original owl:sameAs ??.
                ?original crm:P138i_is_represented_by ?visual_item.
  							?visual_item crm:P128i_is_carried_by ?photo.
  							?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.

                ?photo crm:P108i_was_produced_by ?production .
                ?production crm:P14_carried_out_by ?photographer.
                ?photographer rdfs:label ?phototographer_label.
                ?photo crm:P138i_has_representation ?recto.
            }
            ' 
            options='{"showFilter": false, "showTableHeading": false}'
            tuple-template='{{> photos}}'
>
 <template id='photos'>
				<table class='table'>
              <tr>
                <td style="text-align:left">
                 	<semantic-link iri="{{photo.value}}"> 
          				 <img src={{recto.value}} style="max-height:100px; max-width:100px; margin: 0 auto;" class="img-rounded">
         					</semantic-link>
                </td>
                 <td style="width:1000px;text-align:left">
                  Photograph:
                 	<semantic-link iri="{{photo.value}}"> 
          				 {{photo_label.value}}
                  </semantic-link> <br>
                  Photographer:
                 	<semantic-link iri="{{photographer.value}}"> 
          				 {{photographer_label.value}}
                  </semantic-link> <br>
                 </td>
              </tr>
            </table>
        
  	</template>    
	</semantic-table>
				[[/if]]
</div>
          </bs-tab-pane>
          <bs-tab-pane event-key="IIIFInspect">
            [[> IIIFInspect record=(this)]]
          </bs-tab-pane>
           <bs-tab-pane event-key="IIIF">
            [[> IIIF record=(this)]]
          </bs-tab-pane>
          <bs-tab-pane event-key="artworks">
            [[> Artworks]]
          </bs-tab-pane>
          <bs-tab-pane event-key="annotations">
            [[> rsp:EntityAnnotations]]
          </bs-tab-pane>
  
        </bs-tab-content>
      </div>
    </bs-tab-container>
    [[/rsp:ClipboardSidebar]]
</div>

<style>
  .thumbnailImage{
    height:20vh; 
    margin:1vw;
    cursor: pointer;
  }
  .miradorViewerPopup .grid-demo{
    height: 92vh;
}
  .miradorViewerPopup .modal-dialog{
      width: 85%;
  }
  .miradorViewerPopup .modal-title{
      text-align: center;
  }
  .mirador-main-menu-bar{
    display: none !important;
    }

    .mirador-viewer{
        top: 0px !important;
    }
    .mirador-osd-annotation-controls{
        display: none !important;
    }
    a.mirador-icon-window-menu{
        display: none !important;
    }
    

</style>