<div class="text-center panel panel-default" style="border:none;margin-right:20px;font-size:12px;height:20px;width: 33%;display:inline;">
<h4 align="center"><b>Repositories (Frick)</b></h4>
</div>

 <semantic-table 
                query='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
											 PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
		 									 PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

											 SELECT  distinct ?repository

											 WHERE {
                        ?artwork <https://pharos.artresearch.net/custom/has_provider> <https://pharos.artresearch.net/resource/frick/source/DC39276C-638D-3D19-87B1-569DF8193B34>.
                        ?artwork crm:P50_has_current_keeper ?repository

  											} limit 1000' 
                id="table-result"
                number-of-displayed-rows= 100
                options='{"showFilter": false, "showTableHeading": true}'
                column-configuration='[
 							  {"variableName": "repository", "displayName": "Repository"}
                ]'>
</semantic-table>

<br>
<br>