<div class="row row-center">
    <div
      id="main-containers"
      style="max-width: 1600px"
      class="col-md-10 col-xs-10"
    >
        <div class="row">
              <div class="col-sm-7">
                <header>
                  <h1>Browse Copyrights</h1>
                </header>
                <p><h6>Those images are made available by the contributing PHAROS Member. The PHAROS Consortium has not screened, selected, or cleared any rights to them and are acting as online service provider. Should you have any legal objection to the use of this image, please use <a href="https://artresearch.net/rouserce/contact">this form</a> to contact us.</h6></p>
              </div>
        </div>
        <bs-tab-container id="tab-container" class="user-tabs" default-active-key="withcopyrights">
              <div>
                    <bs-nav bs-style="tabs">
                        <bs-nav-item event-key="withoutcopyrights">
                                    Without Copyrights
                                    <semantic-query 
                                      query='SELECT DISTINCT ((?countPhotos-?countCopyrights) as ?count) WHERE {
                                        {
                                          SELECT ?graph ?date WHERE {
                                            ?graph custom:has_date ?date.
                                            BIND(STRBEFORE(STR(?date), "-") AS ?day)
                                            BIND(STRAFTER(STR(?date), "-") AS ?tmp)
                                            BIND(STRBEFORE(?tmp, "-") AS ?month)
                                            BIND(STRAFTER(STR(?tmp), "-") AS ?year)
                                          }
                                          ORDER BY DESC (?year) DESC (?month) DESC (?day)
                                          LIMIT 1
                                        }
                                        ?graph custom:consists_of ?n.
                                        GRAPH ?n { ?provider custom:numOfCopyrightPhotos ?countCopyrights. }
                                        GRAPH ?n { ?provider custom:numOfPhotos ?countPhotos. }
                                        FILTER(STRSTARTS(STR(?provider), "https://artresearch.net/resource/total"))
                                      } LIMIT 1'
                                      template='{{#each bindings}}<span class="badge">{{count.value}}</span>{{/each}}'>\
                                  </semantic-query>
                        </bs-nav-item>
                        <bs-nav-item event-key="withcopyrights">
                                With Copyrights
                          <semantic-query 
                              query='SELECT DISTINCT ?count WHERE {
                                {
                                  SELECT ?graph ?date WHERE {
                                    ?graph custom:has_date ?date.
                                    BIND(STRBEFORE(STR(?date), "-") AS ?day)
                                    BIND(STRAFTER(STR(?date), "-") AS ?tmp)
                                    BIND(STRBEFORE(?tmp, "-") AS ?month)
                                    BIND(STRAFTER(STR(?tmp), "-") AS ?year)
                                  }
                                  ORDER BY DESC (?year) DESC (?month) DESC (?day)
                                  LIMIT 1
                                }
                                ?graph custom:consists_of ?n.
                                GRAPH ?n { ?provider custom:numOfCopyrightPhotos ?count. }
                                FILTER(STRSTARTS(STR(?provider), "https://artresearch.net/resource/total"))
                              } LIMIT 1'
                              template='{{#each bindings}}<span class="badge">{{count.value}}</span>{{/each}}'>\
                          </semantic-query>
                        </bs-nav-item>

                    </bs-nav>
                <bs-tab-content unmount-on-exit=true>
                        <bs-tab-pane event-key="withoutcopyrights">
                          [[> CopyrightsNeeded]]
                        </bs-tab-pane>
                        <bs-tab-pane event-key="withcopyrights">
                          [[> CopyrightsAsserted]]
                        </bs-tab-pane>
                </bs-tab-content>
              </div>
          </bs-tab-container>
  </div>
</div>


<style>
  .user-tabs .nav-tabs>li:nth-child(4){
    float: left !important;
  }
</style>