<!-- Displays a list of similar artworks -->
<div id="similar-artwork-list">
  <h1>Search for similar artworks</h1>
  <h2>Click on search to go to vision.artresearch.net</h2>
  <semantic-query
    query='SELECT distinct ?photo ?thumb ?image WHERE { 
      # Artwork
      ?? <https://pharos.artresearch.net/resource/fr/Work_depicted_by_Photo> ?photo.
      ?photo crm:P129i_is_subject_of ?image.
      BIND(REPLACE(STR(?image), "full/full", "full/!350,350") AS ?thumb)
      
    }'
    template="{{>similarArtworkTemplate}}"
    no-result-template='<i style="text-align:center">
      <h3>No similar artworks were found for this work.</h3></i>'
  >
    <template id="similarArtworkTemplate">
      <div class="similarArtworkCardContainer">
        {{#each bindings}}
        <div class="similarArtworkCard">
        <div class="card" style="width: 36rem; padding: 1vh;">
          <img
            class="card-img-top"
            src="{{thumb.value}}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h3 class="card-title"><semantic-link iri="{{photo.value}}"></semantic-link></h3>
            <a href="https://vision.artresearch.net/resource/?image={{image.value}}&uri=rsp%3ASearch" target="_similar_artworks">
              <div
              class="btn btn-info"
            >
              Search
            </div>
          </div>
        </div>
        </div>
        {{/each}}
      </div>
    </template>
  </semantic-query>
</div>
