<div class="text-center panel panel-default" style="border:none;margin-right:20px;font-size:12px;height:20px;width: 33%;display:inline;">
<div class="result-title">Photographs (Hertziana)</div>
</div>

 <semantic-table 
                 query='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
											 PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
		 									 PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

 											 SELECT  distinct $subject ?artwork
											 WHERE {
                          ?artwork crm:P138i_is_represented_by ?visual_item.
  											  ?visual_item crm:P128i_is_carried_by $subject.
  												$subject crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                          $subject <https://pharos.artresearch.net/custom/has_provider> <https://pharos.artresearch.net/resource/hertziana/source/Hertziana>.
                          $subject rdfs:label ?label .
        								 } order by(?subject) limit 1000' 
                id="table-result"
                number-of-displayed-rows= 100
                options='{"showFilter": false, "showTableHeading": true}'
                column-configuration='[
 							  {"variableName": "subject", "displayName": "Photograph"},             
                {"variableName": "artwork", "displayName": "Artwork"}
                ]'>
</semantic-table>

<br>
<br>