<semantic-query query='
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX bds: <http://www.bigdata.com/rdf/search#>
PREFIX hint: <http://www.bigdata.com/queryHints#>
SELECT (COUNT(?subject)as ?count)  WHERE {                
  [[#if sameAs]]
  ?someOther owl:sameAs ?subject.
  [[/if]]
  ?subject a <[[type]]>.
  hint:Prior hint:runLast true .
  ?subject rdfs:label ?label .
  ?label bds:search "[[urlParam "keyword"]]" ;
  bds:minRelevance "0.3" ;
  bds:relevance ?score ;
  bds:matchAllTerms "true" .
  }'
  template="{{>countTemplate}}"
  >
  <template id="countTemplate">
    <div class="countTemplateWrapper">
    {{#ifCond count ">" 10000 }}
     (>{{bindings.0.count.value}})
    {{else}}
    ({{bindings.0.count.value}})
    {{/ifCond}}
  </div>
  </template>
  </semantic-query>
  <div class=" animated-background countTemplateWrapper"></div>