  <div id="variant-attribution-dropdown">
    <semantic-query
      query='SELECT DISTINCT ?attribution WHERE { 
        {
            ?? fr:Work_influenced_by_Artist|fr:Work_created_from_Artist ?attribution.
        }UNION{
          ?work owl:sameAs ??.
          ?work fr:Work_influenced_by_Artist|fr:Work_created_from_Artist ?attribution.
        }
      }'
      template='{{> variantAttributions }}'
      no-result-template='{{> invariantAttributions}}'
      >
       <template id='variantAttributions'>
         <bs-panel header="Variant Attributions" collapsible="true">
            <semantic-query
              query='SELECT DISTINCT ?attribution ?providerLabel WHERE{
                      {
                        ?? fr:Work_influenced_by_Artist|fr:Work_created_from_Artist ?attribution.
                      } UNION {
                        ?work owl:sameAs ??.
                        ?work ((crm:P108i_was_produced_by|crm:P19i_motivated)/crm:P140i_was_attributed_by/<http://www.cidoc-crm.org/cidoc-crm/P141_assigned>/crm:P02_has_range)|cfr:Work_influenced_by_Artist|cfr:Work_created_from_Artist ?attribution.
                      }
                      GRAPH ?graph {
                        ?s ((crm:P108i_was_produced_by|crm:P19i_motivated)/crm:P140i_was_attributed_by/<http://www.cidoc-crm.org/cidoc-crm/P141_assigned>/crm:P02_has_range)|cfr:Work_influenced_by_Artist|cfr:Work_created_from_Artist|fr:Work_influenced_by_Artist|fr:Work_created_from_Artist ?attribution.
                      }
                      ?graph <https://artresearch.net/custom/has_provider>/rdfs:label ?provLabel.
                      BIND(IF( CONTAINS(STR(?attribution),"ulan"), "ULAN", ?provLabel) AS ?providerLabel)
                  }'
              template='{{> byAttribution }}'>
                <template id='byAttribution'>
                  {{#each bindings}}
                  <div class="attribution-wrapper">
                    <img title="{{providerLabel.value}}" class="sourceIcon" src="/assets/images/{{providerLabel.value}}.ico"/>
                    <div class="attribution"><semantic-link iri="{{attribution.value}}"></semantic-link></div>
                  </div>
                  {{/each}}
                </template>
            </semantic-query>
        
          </bs-panel>
       </template>
       <template id='invariantAttributions'>
         <div class="creators-attribution">
          <semantic-query
            query='SELECT DISTINCT ?creator (SAMPLE(?creatorLabel) AS ?creatorLabel) WHERE { 
              {
               ?? fr:Work_created_from_Artist ?creator.
               ?creator rdfs:label ?creatorLabel 
              }UNION{
               ?work owl:sameAs ??.
               ?work fr:Work_created_from_Artist ?creator.
               ?creator rdfs:label ?creatorLabel 
              }
              GRAPH ?graph {
                 ?s fr:Work_created_from_Artist ?attribution.
                }
                ?graph <https://artresearch.net/custom/has_provider> ?prov .
                ?prov rdfs:label ?provLabel.
                BIND(IF( CONTAINS(STR(?attribution),"ulan"), "ULAN", ?provLabel) AS ?providerLabel)
                BIND(IF( CONTAINS(STR(?attribution),"ulan"), IRI("https://artresearch.net/resource/getty/source/Getty"), ?prov) AS ?provider)
           }GROUP BY ?creator'
         >
          </semantic-query>
        </div>
        </template>
    </semantic-query>
  </div>