<div id="start-page">
  <div id="underDevAlert" class="alert alert-info" role="alert">
    <i>This instance is <b>under development</b> and will publicly launch in January
      2022</i>
  </div>
  <div class="landing-top">
    <div class="welcome" data-flex-layout="column center-center">
      <div class="message">Welcome to the Pharos Digital Collections</div>
      <div class="welcomeActions">
        <semantic-link iri='[[resolvePrefix "rsp:Statistics"]]'>
          <h4 class="welcomeAction">Statistics</h4>
        </semantic-link>
        <semantic-link iri='[[resolvePrefix "rsp:DataProviders"]]'>
          <h4 class="welcomeAction">Providers</h4>
        </semantic-link>
      </div>
    </div>

    <div style="margin-top: 0px">
      <div data-flex-layout="column center-center">
        [[> :SimpleSearchInclude searchPlaceholder="Search the collection - Type at least 3 characters" ]]
      </div>
      <div style="margin-top: 15px">
        <div data-flex-layout="row center-center">
          <semantic-link iri='[[resolvePrefix "rsp:Search"]]'>
            <div class="btn">
              Use <b>Structured Search</b> to discover Pharos Digital Collections
            </div>
          </semantic-link>
        </div>
      </div>
    </div>
  </div>

  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1 style="margin-left: 13vw" class="display-13">Collection Highlights</h1>
    </div>
    <div class="card-list">
      <semantic-link iri='[[resolvePrefix "rsp:DisplayPharosArtworks"]]'>
        <div class="card">
          <img class="photo photo-1" src="../../assets/images/media/lucretia.jpg" />
          <div class="title">Artworks</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayPharosBuiltworks"]]'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/builtworks.jpg" />
          <div class="title">Built Works</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayPharosArtists"]]'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/michelangelo_portrait.jpg" />
          <div class="title">Artists</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayPharosPhotographers"]]'>
        <div class="card">
          <img class="photo photo-3" src="../../assets/images/media/fratelli.jpg" />
          <div class="title">Photographers</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayPharosInstitutions"]]'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/british_museum.jpg" />
          <div class="title">Repositories</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayCollectionBuiltworksMiddleEast"]]'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/builtworks_middleast.jpg" />
          <div class="title">Built Works in Middle East</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayCollectionNonWesternRepos"]]'>
        <div class="card">
          <img class="photo photo-7" src="../../assets/images/media/non_western_repo.jpg" />
          <div class="title">Non-Western Repositories</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayCollectionNonWesternArtists"]]'>
        <div class="card">
          <img class="photo photo-3" src="../../assets/images/media/banjo_player.jpg" />
          <div class="title">Non-Western Artists</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayCollectionAfricanAmerican"]]'>
        <div class="card">
          <img class="photo photo-6" src="../../assets/images/media/ossawa.jpg" />
          <div class="title">African American Artists</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayCollectionFemaleArtists"]]'>
        <div class="card">
          <img class="photo photo-6" src="../../assets/images/media/kahlo.jpg" />
          <div class="title">Female Artists</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayCollectionLeonardoDaVinci"]]'>
        <div class="card">
          <img class="photo photo-4" src="../../assets/images/media/leonardo.png" />
          <div class="title">Leonardo da Vinci</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayCollectionMichelangelo"]]'>
        <div class="card">
          <img class="photo photo-3" src="../../assets/images/media/michelangelo_collection.jpg" />
          <div class="title">Michelangelo</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayCollectionAlbrechtDurer"]]'>
        <div class="card">
          <img class="photo photo-5" src="../../assets/images/media/durer.jpg" />
          <div class="title">Albrecht Dürer</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayCollectionMadonnaAndChild"]]'>
        <div class="card">
          <img class="photo photo-3" src="../../assets/images/media/madonna.jpg" />
          <div class="title">Madonna and child</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayCollectionWomenSaints"]]'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/women_saints.jpg" />
          <div class="title">Women Saints</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayCollectionOilOnWood"]]'>
        <div class="card">
          <img class="photo photo-8" src="../../assets/images/media/oil_on_wood_dali.jpg" />
          <div class="title">Oil on wood</div>
        </div>
      </semantic-link>
      <semantic-link iri='[[resolvePrefix "rsp:DisplayCollectionItalianRenaissance"]]'>
        <div class="card">
          <img class="photo photo-2" src="../../assets/images/media/italian_ren.jpg" />
          <div class="title">Italian Renaissance</div>
        </div>
      </semantic-link>
      <semantic-link iri='[[resolvePrefix "rsp:DisplayArtworksITattiSS"]]'>
        <div class="card">
          <img src="../../assets/images/logos/itatti.png" />
          <div class="title">Artworks - I Tatti (Sharedshelf)</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayArtworksITattiFI"]]'>
        <div class="card">
          <img src="../../assets/images/logos/itatti.png" />
          <div class="title">Artworks - I Tatti (Fotoindex)</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayArtworksFrick"]]'>
        <div class="card">
          <img src="../../assets/images/logos/frick.png" />
          <div class="title">Artworks - The Frick Collection</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayArtworksHertziana"]]'>
        <div class="card">
          <img src="../../assets/images/logos/hertziana.svg" />
          <div class="title">Artworks - Bibliotheca Hertziana</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayArtworksZeri"]]'>
        <div class="card">
          <img src="../../assets/images/logos/zeri.png" />
          <div class="title">Artworks - Fondazione Federico Zeri</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayArtworksMarburg"]]'>
        <div class="card">
          <img src="../../assets/images/logos/marb.png" />
          <div class="title">Artworks - Bildarchiv Foto Marburg</div>
        </div>
      </semantic-link>

      <semantic-link iri='[[resolvePrefix "rsp:DisplayArtworksKHI"]]'>
        <div class="card">
          <img src="../../assets/images/logos/khi.png" />
          <div class="title">
            Artworks - Kunsthistoricsches Institut in Florenz
          </div>
        </div>
      </semantic-link>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
</div>