<div style="display: flex; align-items: center; justify-content: space-between;">   
    <div style="overflow: hidden;">
      <semantic-link-container uri="{{iri.value}}" draggable=false>
        <span style="display: flex; align-items: center; flex: 1;">
          <with-types fixed-key='map-card-{{iri.value}}' iri='{{iri.value}}'
            template='{{>template}}'
            [[> TypeMappings]]
          >
            <template id='template'>
              <span style="display: flex; align-items: center; flex: 1; width: 100%;">
                <i class="rs-icon {{getValueByKey typeToIcon allTypes 'rs-icon-entity'}}" alt="{{directTypesLabels}}" title='{{directTypesLabels}}'></i>
                <semantic-link style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" iri="{{iri.value}}"></semantic-link>
              </span>
            </template>
          </with-types>          
        </span>
      </semantic-link-container>
    </div>
  

    <mp-popover class="clipboard-listview-popover">
      <mp-popover-trigger placement="right" trigger='["click"]' root-close='true'>
        <div class='clipboard-popover-trigger'>
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
      </mp-popover-trigger>

      <mp-popover-content>
        <div class="set-management__item-popover">
  
{{#if (hasKey allTypes "http://spinrdf.org/sp#Query")}}
<div class="rs-default-card__hover-icon">
  <semantic-query query="SELECT ?searchState WHERE{
    <{{iri}}> <http://www.researchspace.org/resource/system/searchState> ?searchState 
  }limit 1"
  template="{{>linkWithSearchState}}"
      >
    <template id="linkWithSearchState">
      <semantic-link urlqueryparam-semantic-Search="{{bindings.0.searchState.value}}" iri="{{iri}}" >
        <div event-key=resource class="set-management__item-popover-item">
          <i class="rs-icon rs-icon-page"></i>
          <span>View search</span>
        </div>
      </semantic-link>
    </template>
    </semantic-query>

</div>
{{else if (hasKey allTypes "https://artresearch.net/resource/fc/person")}}
<div class="rs-default-card__hover-icon">

  <semantic-link  iri="{{iri}}" >
    <div event-key=resource class="set-management__item-popover-item">
      <i class="rs-icon rs-icon-page"></i>
      <span>View person</span>
    </div>
  </semantic-link>

</div>
{{else if (hasKey allTypes "https://artresearch.net/resource/fc/place")}}
<div class="rs-default-card__hover-icon">

  <semantic-link  iri="{{iri}}" >
    <div event-key=resource class="set-management__item-popover-item">
      <i class="rs-icon rs-icon-page"></i>
      <span>View place</span>
    </div>
  </semantic-link>

</div>
{{else}}

<semantic-link  iri="{{iri}}" >
  <div event-key=resource class="set-management__item-popover-item">
    <i class="rs-icon rs-icon-page"></i>
    <span>View page</span>
  </div>
</semantic-link>
  <mp-overlay-dialog title="Resource Media" type="modal" class="modal-xlSize">
    <mp-overlay-dialog-trigger>
      <div event-key=media class="set-management__item-popover-item">
        <i class="rs-icon rs-icon-media"></i>
        <span>View images</span>
      </div>
    </mp-overlay-dialog-trigger>
    <mp-overlay-dialog-content>
      <mp-page-loader urlqueryparam-frame=true iri='http://www.researchspace.org/resource/ItemCardMedia' context='{{iri.value}}'>
      </mp-page-loader>
    </mp-overlay-dialog-content>
  </mp-overlay-dialog>
{{/if}}



          {{#if isSetItem}}
          <mp-anonymous-hidden>
            <mp-set-management-action-remove-set-item>
              <div event-key=remove class="set-management__item-popover-item">
                <i class="rs-icon rs-icon-delete_round"></i>
                <span>Remove</span>
              </div>
            </mp-set-management-action-remove-set-item>
          </mp-anonymous-hidden>
          {{/if}}
        </div>
      </mp-popover-content>
  </mp-popover>

</div>
