{
  "rootsQuery": "
  SELECT DISTINCT ?item ?label where {
    ?item a  ?__range__.
    ?item rdfs:label ?label.
    ?item crm:P2_has_type <http://vocab.getty.edu/aat/300387506>.
    FILTER(EXISTS { ?subject ?__relation__ ?item . }) .
   }order by ?label",
   
  "childrenQuery": "
    SELECT distinct ?item ?label ?hasChildren WHERE {
      OPTIONAL { 
        ?item a  ?__range__.
        ?item  <http://www.geonames.org/ontology#parentCountry>  ?parent.
        ?item rdfs:label ?label.
        FILTER(EXISTS { ?subject ?__relation__ ?item . }) .
      }
      BIND(bound(?child) as ?hasChildren)
    } order by ?label",
  "parentsQuery": "
  SELECT distinct ?item ?parent ?parentLabel WHERE {
      ?item a  ?__range__.
      ?item  <http://www.geonames.org/ontology#parentCountry>  ?parent.
      ?parent <http://www.geonames.org/ontology#name> ?parentLabel
    }",
  "searchQuery":"
     SELECT DISTINCT ?hasChildren ?item ?label WHERE {
       ?item a ?__range__.
       ?item rdfs:label ?label.
       ?label bds:search ?__token__ .
       ?label bds:minRelevance \"0.3\"^^xsd:double.
       ?label bds:matchAllTerms \"true\".
       OPTIONAL { 
          ?item  <http://www.geonames.org/ontology#parentCountry>  ?child.
          ?child crm:P2_has_type <http://vocab.getty.edu/aat/300387506>.
        }
      BIND(BOUND(?child) AS ?hasChildren)
      FILTER(EXISTS { ?subject ?__relation__ ?item . }) 
     }ORDER BY DESC (?label)
     "
}