<div id="person-filter-search">
<semantic-search
  relations='{
  "<https://pharos.artresearch.net/resource/fr/Person_has_Gender>":[
  {
    "kind": "resource",
    "queryPattern": "
      $subject <https://pharos.artresearch.net/resource/fr/Person_has_Gender> ?__value__.
      "
  }
],
  "<https://pharos.artresearch.net/resource/fr/Artist_has_Nationality>":[
  {
    "kind": "resource",
    "queryPattern": "
      $subject <https://pharos.artresearch.net/resource/fr/Artist_has_Nationality> ?__value__."
  }
],
  "<https://pharos.artresearch.net/resource/fr/Artist_has_Date_of_Birth>":[
  {
    "kind": "numeric-range",
    "queryPattern": "
      $subject <https://pharos.artresearch.net/resource/fr/Artist_has_Date_of_Birth> ?gYear .
        FILTER(?literal >= ?__numericRangeBeginValue__) .
        FILTER(?literal <= ?__numericRangeEndValue__) .
        BIND(xsd:integer(str(?gYear)) as ?literal)."
  }],
  "<https://pharos.artresearch.net/resource/fr/Artist_has_Date_of_Death>": [
  {
    "kind": "numeric-range",
    "queryPattern": "
      $subject <https://pharos.artresearch.net/resource/fr/Artist_has_Date_of_Death> ?gYear .
        FILTER(?literal >= ?__numericRangeBeginValue__) .
        FILTER(?literal <= ?__numericRangeEndValue__) .
        BIND(xsd:integer(str(?gYear)) as ?literal)."
  }],
  "<https://pharos.artresearch.net/resource/fr/Artist_has_Place_of_Birth>": [
  {
    "kind": "resource",
    "queryPattern": "
      $subject <https://pharos.artresearch.net/resource/fr/Artist_has_Place_of_Birth> ?__value__ ."
  }],
  "<https://pharos.artresearch.net/resource/fr/Artist_has_Place_of_Death>": [
  {
    "kind": "resource",
    "queryPattern": "
      $subject <https://pharos.artresearch.net/resource/fr/Artist_has_Place_of_Death> ?__value__ ."
  }],
  "<https://pharos.artresearch.net/resource/fr/Event_has_Type>": [
  {
    "kind": "resource",
    "queryPattern": "
      $subject <https://pharos.artresearch.net/resource/fr/Artist_has_Event> ?event.
        ?event <https://pharos.artresearch.net/resource/fr/Event_has_Type> ?__value__ ."
  }],
  "<https://pharos.artresearch.net/resource/fr/Event_at_Place>": [
  {
    "kind": "resource",
    "queryPattern": "
      $subject <https://pharos.artresearch.net/resource/fr/Artist_has_Event> ?event.
        ?event <https://pharos.artresearch.net/resource/fr/Event_at_Place> ?__value__ ."
  }]
    }'
  search-profile='{
      "categories":  
      [
        {
          "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
          "label":"Photographer"
        },
        {
          "iri":"<https://pharos.artresearch.net/resource/nypl/type/gender>",
          "label":"Gender"
        }, 
        {
          "iri":"<http://www.cidoc-crm.org/cidoc-crm/E74_Group>",
          "label":"Nationality"
        }, 
        {
          "iri":"<http://www.w3.org/2001/XMLSchema#integer>",
          "label":"Year"
        }, 
        {
          "iri":"<https://pharos.artresearch.net/resource/fc/Type>",
          "label":"Type"
        }, 
        {
          "iri":"<https://pharos.artresearch.net/resource/fc/Place>",
          "label":"Place"
        }
      ],
      "relations":
      [
        {
          "iri": "<https://pharos.artresearch.net/resource/fr/Person_has_Gender>",
          "label":"Gender",
          "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
          "hasRange":"<https://pharos.artresearch.net/resource/nypl/type/gender>"
        },
        {
          "iri": "<https://pharos.artresearch.net/resource/fr/Artist_has_Nationality>",
          "label":"Nationality",
          "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
          "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E74_Group>"
        },
        {
          "iri": "<https://pharos.artresearch.net/resource/fr/Artist_has_Date_of_Birth>",
          "label":"Date of birth",
          "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
          "hasRange":"<http://www.w3.org/2001/XMLSchema#integer>"
        },
        {
          "iri":"<https://pharos.artresearch.net/resource/fr/Artist_has_Date_of_Death>",
          "label":"Date of death",
          "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
          "hasRange":"<http://www.w3.org/2001/XMLSchema#integer>"
        },
        {
          "iri":"<https://pharos.artresearch.net/resource/fr/Artist_has_Place_of_Birth>",
          "label":"Place of birth",
          "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
          "hasRange":"<https://pharos.artresearch.net/resource/fc/Place>"
        },
        {
          "iri":"<https://pharos.artresearch.net/resource/fr/Artist_has_Place_of_Death>",
          "label":"Place of death",
          "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
          "hasRange":"<https://pharos.artresearch.net/resource/fc/Place>"
        },
        {
          "iri":"<https://pharos.artresearch.net/resource/fr/Event_has_Type>",
          "label":"Event type",
          "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
          "hasRange":"<https://pharos.artresearch.net/resource/fc/Type>"
        },
        {
          "iri":"<https://pharos.artresearch.net/resource/fr/Event_at_Place>",
          "label":"Event place",
          "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
          "hasRange":"<https://pharos.artresearch.net/resource/fc/Place>"
        }
      ]
    }'
>
  <div id="header-search" class="search-page">
            <semantic-search-query-keyword
              placeholder="Search for a photographer e.g. Fratelli Alinari"
              escape-lucene-syntax="false"
              domain="<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
              default-query="
              SELECT  ?subject  
              WHERE {
                ?someOther owl:sameAs ?subject.
                ?subject a <https://pharos.artresearch.net/resource/fc/photographer>.
              }LIMIT 100"
              query='
                      SELECT ?subject WHERE {
                      ?someOther owl:sameAs ?subject.
                      ?subject a <https://pharos.artresearch.net/resource/fc/photographer>.
                      ?subject rdfs:label ?someLabel.
                      ?someLabel bds:search ?__token__ .
                      ?someLabel bds:minRelevance "0.3"^^xsd:double;
                      bds:matchAllTerms "true"  .
                      } 
                    '
            ></semantic-search-query-keyword>
  </div>

  <div class="row">
    <bs-col
      lg="3"
      md="4"
      sm="5"
      class="fade-in-fwd filters-container"
      style="margin-top: 8px"
    >
      <div class="filter-title">Filters</div>
      <semantic-search-facet open-by-default="true"></semantic-search-facet>
    </bs-col>
    <bs-col lg="9" md="8" sm="7">
      <semantic-search-result-holder>
        <bs-tabs unmount-on-exit="true" id="search-results" animation="false">
          <bs-tab event-key="2" title="Grid">
            <semantic-search-result>
              <div id="card-results">
                <bs-tab-container
                  id="tab-container"
                  class="page__body-navtabs--borderless"
                  default-active-key="defaultView"
                >
                  <div>
                    <bs-nav bs-style="tabs">
                      <bs-nav-item event-key="defaultView"
                        >Default view</bs-nav-item
                      >
                      <bs-nav-item event-key="eventsMap"
                        >Events map</bs-nav-item
                      >
                      <bs-nav-item event-key="birthplaceMap"
                        >Birthplace map</bs-nav-item
                      >
                      <bs-nav-item event-key="deathplaceMap"
                        >Deathplace map</bs-nav-item
                      >
                    </bs-nav>

                    <bs-tab-content unmount-on-exit="true">
                      <bs-tab-pane event-key="defaultView">
                        <semantic-table
                          id="grid-result"
                          options='{
                                  "showFilter":false
                                }'
                          number-of-displayed-rows="12"
                          query='SELECT DISTINCT ?subject ?artistName
                          WHERE {
                           ?subject rdfs:label ?personName.
                           BIND(REPLACE(STR(?personName),"@en","") AS ?artistName).
                          }LIMIT 100'
                          tuple-template="{{>tupleTemplate}}"
                        >
                          <template id="tupleTemplate">
                            [[> :photographerCard]]
                          </template>
                        </semantic-table>
                      </bs-tab-pane>
                      <bs-tab-pane event-key="eventsMap">
                        <div class="mapContainer">
                          <semantic-map
                            id="event-map"
                            query="SELECT DISTINCT ?subject ?place ?typeLabel ?lat ?lng WHERE {
                              ?subject <https://pharos.artresearch.net/resource/fr/Artist_has_Event> ?event.
                              ?event <https://pharos.artresearch.net/resource/fr/Event_has_Type> ?eventType.
                              ?eventType rdfs:label ?typeLabel.
                              ?event <https://pharos.artresearch.net/resource/fr/Event_at_Place> ?place .
                              ?place <http://pharos.artresearch.net/resource/fr/Place_has_Latitude> ?lat.
                              ?place <http://pharos.artresearch.net/resource/fr/Place_has_Longitude> ?lng.
                            }"
                            no-result-template='<h3>No results were found to be visualized on map</h3>'
                            tuple-template='<div style="width:20vw">
                              <h4> 
                                <semantic-link style="color:#6b0000;" iri="{{subject.value}}"></semantic-link>,
                                {{typeLabel.value}}, <semantic-query query="SELECT ?label WHERE { <{{place.value}}> rdfs:label ?label }LIMIT 1"></semantic-query>  
                              </h4>
                            </div>'
                          >
                          </semantic-map>
                        </div>
                      </bs-tab-pane>
                      <bs-tab-pane event-key="birthplaceMap">
                        <div class="mapContainer">
                          <semantic-map
                            id="birthplace-map"
                            query="SELECT DISTINCT ?subject ?place ?lat ?lng WHERE {
                              ?subject <https://pharos.artresearch.net/resource/fr/Artist_has_Place_of_Birth> ?place .
                              ?place <http://pharos.artresearch.net/resource/fr/Place_has_Latitude> ?lat.
                              ?place <http://pharos.artresearch.net/resource/fr/Place_has_Longitude> ?lng.
                            }"
                            no-result-template='<h3>No results were found to be visualized on map</h3>'
                            tuple-template='<div style="width:20vw">
                              <h4> 
                                <semantic-link style="color:#6b0000;" iri="{{subject.value}}"></semantic-link>,
                                born at <semantic-query query="SELECT ?label WHERE { <{{place.value}}> rdfs:label ?label }LIMIT 1"></semantic-query>
                              </h4>
                            </div>'
                          >
                          </semantic-map>
                        </div>
                      </bs-tab-pane>
                      <bs-tab-pane event-key="deathplaceMap">
                        <div class="mapContainer">
                          <semantic-map
                            id="deathplace-map"
                            query="SELECT DISTINCT ?subject ?place ?lat ?lng WHERE {
                              ?subject <https://pharos.artresearch.net/resource/fr/Artist_has_Place_of_Death> ?place .
                              ?place <http://pharos.artresearch.net/resource/fr/Place_has_Latitude> ?lat.
                              ?place <http://pharos.artresearch.net/resource/fr/Place_has_Longitude> ?lng.
                            }"
                            no-result-template='<h3>No results were found to be visualized on map</h3>'
                            tuple-template='<div style="width:20vw">
                              <h4> 
                                <semantic-link style="color:#6b0000;" iri="{{subject.value}}"></semantic-link>,
                                died at <semantic-query query="SELECT ?label WHERE { <{{place.value}}> rdfs:label ?label }LIMIT 1"></semantic-query>
                              </h4>
                            </div>'
                          >
                          </semantic-map>
                        </div>
                      </bs-tab-pane>
                    </bs-tab-content>
                  </div>
                </bs-tab-container>
              </div>
            </semantic-search-result>
          </bs-tab>
        </bs-tabs>
      </semantic-search-result-holder>
    </bs-col>
  </div>
</semantic-search>
</div>
