<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Photographs created by Fratelli Alinari</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> :FilterSearchCollection domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"  searchQuery='?subject <https://pharos.artresearch.net/resource/fr/Photo_created_by_Photographer> <http://www.wikidata.org/entity/Q644689>.']]
  </div>
</div>  
