[[> :Breadcrumb category="Artworks" categoryUrl="/" ]]
<div class="page rs-page">
  [[#> :ClipboardSidebar]]
  <div class="page__header-navtabs">
    [[> :Header ]]
  </div>

  [[#if (urlParam "tab")]]
  <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="[[urlParam 'tab']]">
    [[else]]
    <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="summary">
      [[/if]]
      <div>
        <bs-nav bs-style="tabs">
          <bs-nav-item event-key="summary">Summary</bs-nav-item>
          [[#if (ask "ASK { {?? <https://pharos.artresearch.net/custom/has_provider> ?provider. ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer. }UNION{?original owl:sameAs ??. ?original <https://pharos.artresearch.net/custom/has_provider> ?provider. ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.} }") ]] 
            [[#if (ask "ASK {?? crm:P2_has_type <http://vocab.getty.edu/aat/300046300> }") ]] 
              <bs-nav-item event-key="IIIF">Photograph Lightbox</bs-nav-item>
            [[/if]]
            [[#if (ask "ASK {?? crm:P2_has_type <http://vocab.getty.edu/aat/300133025> }") ]] 
              <bs-nav-item event-key="PhotographLightbox">Photograph Lightbox</bs-nav-item>
            [[/if]]
          [[/if]]
           [[#if (ask "ASK {?? a crm:E22_Man-Made_Object }") ]] 
           <bs-nav-item event-key="similar">Visually similar artworks</bs-nav-item>
           [[/if]]
          <!-- <bs-nav-item event-key="annotations">
            Annotations <semantic-context repository='assets'><semantic-query query="SELECT (COUNT(DISTINCT ?s) AS ?count) WHERE {
              ?s <http://www.ics.forth.gr/isl/CRMdig/L43_annotates> ??;
              }"
              template='{{#each bindings}}<span class="badge">{{count.value}}</span>{{/each}}'></semantic-query></semantic-context>
          </bs-nav-item> -->
          <!-- <bs-nav-item event-key="related">Explore Related</bs-nav-item> -->
        </bs-nav>

        <bs-tab-content unmount-on-exit=true>
          <bs-tab-pane event-key="summary">
            <!-- Loads all IIIF images as 500px thumbnails (clickable with mirador popup) -->
            [[#if (ask "ASK {?? a crm:E22_Man-Made_Object }") ]] 
              [[> :SummaryImagesWork]]
            <!-- Loads two tables with information regarding work & production -->
            <!-- Loads photographs with info (id, photographer, keeper) -->
              [[> :InfoWorkAndProduction]]
            
            [[/if]]     
          </bs-tab-pane>
          <bs-tab-pane event-key="PhotographLightbox">
            [[> PhotographLightbox record=(this)]]
          </bs-tab-pane>
           <bs-tab-pane event-key="IIIF">
            [[> IIIF record=(this)]]
          </bs-tab-pane>
          <bs-tab-pane event-key="similar">
            <!-- Show similar artworks -->
              [[> :SimilarArtworks]]
          </bs-tab-pane>
          <bs-tab-pane event-key="annotations">
            [[> :EntityAnnotations]]
          </bs-tab-pane>
  
        </bs-tab-content>
      </div>
    </bs-tab-container>
    [[/:ClipboardSidebar]]
</div>

<style>
  button.close {
  opacity: 1;
  font-size: 55px !important;
}
 .modal-content {
  border: none !important;
  box-shadow: none !important;
}
.modal-content {
  background-color: #f5f5f5 !important;
}

.component-page-toolbar {
    display: none !important;
  }
  
  .miradorViewerPopup .grid-demo{
    height: 92vh;
}
  .miradorViewerPopup .modal-dialog{
      width: 85%;
  }
  .miradorViewerPopup .modal-title{
      text-align: center;
  }
  .mirador-main-menu-bar{
    display: none !important;
    }

.navbar-default {
    box-shadow: none !important
}

    .mirador-viewer{
        top: 0px !important;
    }
    .mirador-osd-annotation-controls{
        display: none !important;
    }

</style>