[[#if repo]]
  <semantic-query
    query="SELECT DISTINCT  ?institution (group_concat( distinct ?pLabel ;Separator=', ') as ?placeLabel) WHERE {
      BIND( ?? as ?institution )
      {
        ?institution (fr:Institution_from_Place) ?place.
        ?place rdfs:label ?pLabel.
      }
      UNION
      {
        ?original owl:sameAs ?institution;
          (crm:P74_has_current_or_former_residence|crm:P55_has_current_location) ?place.
        ?place rdfs:label ?pLabel.
      }
    } group by (?institution)"
    no-result-template="<div></div>"
    template="{{> fcLabelTemplate}}"
  >
    <template id="fcLabelTemplate">
        <div class="repository-location">
          {{#ifCond  placeLabel.value "!==" null}}
            <span>{{bindings.0.placeLabel.value}}</span>
          {{/ifCond}}
        </div>
    </template>
  </semantic-query>
[[else]]
  <semantic-query
    query='SELECT DISTINCT ?repo (concat(?repository_label,(GROUP_CONCAT(DISTINCT ?place_label;SEPARATOR=", ")))as ?value)  ?provider  WHERE {
            {
              BIND(?? as ?subject)
            }UNION{
              ?subject owl:sameAs ??
            }
            ?subject a cfc:work.
            {
              ?subject crm:P50_has_current_keeper ?repo.
              ?repo rdfs:label ?repo_label.
              {
                ?repo crm:P74_has_current_or_former_residence/rdfs:label ?place_l.
              } UNION {
                ?subject (crm:P74_has_current_or_former_residence|crm:P55_has_current_location)/rdfs:label ?place_l.
              }
              BIND(concat(?repo_label,", ") as ?repository_label)
            } UNION {
              ?subject (crm:P74_has_current_or_former_residence|crm:P55_has_current_location)/rdfs:label ?place_l.
              FILTER NOT EXISTS { ?subject crm:P50_has_current_keeper ?repo. }
              BIND("" as ?repository_label)
            }
            BIND( REPLACE(?place_l,"\\?","") as ?place_label)
            ?subject <https://artresearch.net/resource/custom/fr/Work_has_provider_Institution> ?provider.
          } group by ?repo ?repository_label ?provider'
    no-result-template="{{> noRepoResult}}"
    template="{{> fcLabelTemplate}}"
  >
    <template id="fcLabelTemplate">
        <div class="repository-location">
          <semantic-link iri="{{bindings.0.repo.value}}">
            {{bindings.0.value.value}}
          </semantic-link>
        </div>
    </template>
    <template id="noRepoResult">
      <div>
          <semantic-query
            query="
                SELECT DISTINCT ?repoLabel WHERE {
                  ?? fr:Photo_has_provider_Institution ?repo.
                  ?? a cfc:photo.
                  ?repo skos:prefLabel ?repoLabel.
                }"
            template="{{> fcLabelTemplate_second}}"
            no-result-template='<div></div>'
          >
            <template id="fcLabelTemplate_second">
                <div>
                    <h4 class="fc-label">
                      <div class="repoLink">
                        {{bindings.0.repoLabel.value}}
                      </div>
                    </h4>
                </div>
            </template>
          </semantic-query>
      </div>
    </template>
  </semantic-query>
[[/if]]
