<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">Self Portrait Artworks</li>
</ol>

<div class="page">    
  <div class="main-container">
    <inline-template template-iri="Default:SearchTemplate" options='{"pageTitle":"Self Portrait Artworks", "searchRestrictions": "?subject crm:P65_shows_visual_item/rdfs:label ?label. FILTER REGEX(?label,\".*(self portrait|self-portrait|autoritratto|selbestbildnis|selbstportrait|selbstdarstellung)\",\"i\")", "keyword": ""}'></inline-template>
  </div>
</div>