[[!-- Syria, Turkey, Lebanon, Egypt, Libya, Iran, Israel, Iraq, Sudan --]]

<inline-template template-iri="Default:SearchAllTemplate" 
                 options='{
                            "pageTitle":"Built Works from the Middle East", 
                            "searchRestrictions": "{
                              ?subject crm:P2_has_type <https://artresearch.net/resource/pharos/vocab/meta/built_work> . 
                              ?subject crm:P55_has_current_location/custom:sameAs?/crm:P89_falls_within* ?place . 
                              FILTER(?place IN (
                                <http://vocab.getty.edu/tgn/1000140>,
                                <http://vocab.getty.edu/tgn/1000144>,
                                <http://vocab.getty.edu/tgn/1000126>,
                                <http://vocab.getty.edu/tgn/7016833>,
                                <http://vocab.getty.edu/tgn/1000172>,
                                <http://vocab.getty.edu/tgn/7000231>,
                                <http://vocab.getty.edu/tgn/1000119>,
                                <http://vocab.getty.edu/tgn/1000118>,
                                <http://vocab.getty.edu/tgn/1000201>
                              )) .
                             }"
                          }'></inline-template>