<semantic-query
  query='SELECT ?fullsizeImages ?iiifServer WHERE {
        {{#ifCond imgURL "!==" undefined}}
        ?photo crm:P129i_is_subject_of ?fullsizeImgUrl.
        ?photo crm:P129i_is_subject_of ?fullsizeImages.
        BIND(IRI(REPLACE(STR("{{imgURL}}"),"full/!350,350","full/full")) AS ?fullsizeImgUrl).
        {{/ifCond}}
        {{#ifCond imgURL "===" undefined}}
          ?photo crm:P129i_is_subject_of ?fullsizeImgUrl.
          ?photo crm:P129i_is_subject_of ?fullsizeImages.
          BIND(IRI(REPLACE(STR("{{bindings.0.imgURL.value}}"),"full/!350,350","full/full")) AS ?fullsizeImgUrl).
        {{/ifCond}}
        BIND(<[[iiifServer]]> as ?iiifServer)
    }LIMIT 2'
  template="{{> fullSizeImageTemplate}}"
>
  <template id="fullSizeImageTemplate">
    <div>
      {{#ifCond (objectLength bindings) "===" 1}}
      <div style="width: 96vw; height: 80vh">
        <rs-iiif-mirador
          image-or-region="[[this]]"
          image-id-pattern='
                    BIND("image" AS ?type). BIND(?subject AS ?imageIRI). 
                    ?subject pharosfr:Work_depicted_by_Photo ?photo.
                    ?photo crm:P129i_is_subject_of <{{bindings.0.fullsizeImages.value}}>.
                    <{{bindings.0.fullsizeImages.value}}> crm:P2_has_type <http://iiif.io/api/image>.
                    BIND(REPLACE(STR("{{bindings.0.fullsizeImages.value}}"), "full/!700,700", "full/full") AS ?fotoIndexId).
                    BIND(REPLACE(STR(REPLACE(STR(?fotoIndexId), "/full/full/0/*", "")), "(^.*)\\/(.*)$", "$2") AS ?idWithDefaultNative)      BIND(REPLACE(?idWithDefaultNative,"default.jpg","") AS ?idWithNative).
                    BIND(REPLACE(?idWithNative,"native.jpg","") AS ?imageID).
                    '
          iiif-server-url="{{bindings.0.iiifServer.value}}"
        >
        </rs-iiif-mirador>
      </div>
      {{else}}
      <div class="rectoVersoMirador">
        <div style="width: 50vw; height: 80vh">
          <rs-iiif-mirador
            id="rectoMirador"
            image-or-region="[[this]]"
            image-id-pattern='
                        BIND("image" AS ?type). BIND(?subject AS ?imageIRI). 
                        ?subject pharosfr:Work_depicted_by_Photo ?photo.
                        ?photo crm:P129i_is_subject_of <{{bindings.0.fullsizeImages.value}}>.
                        <{{bindings.0.fullsizeImages.value}}> crm:P2_has_type <http://iiif.io/api/image>.
                        BIND(REPLACE(STR("{{bindings.0.fullsizeImages.value}}"), "full/!700,700", "full/full") AS ?fotoIndexId).
                        BIND(REPLACE(STR(REPLACE(STR(?fotoIndexId), "/full/full/0/*", "")), "(^.*)\\/(.*)$", "$2") AS ?idWithDefaultNative)    BIND(REPLACE(?idWithDefaultNative,"default.jpg","") AS ?idWithNative).
                        BIND(REPLACE(?idWithNative,"native.jpg","") AS ?imageID).
                        '
            iiif-server-url="{{bindings.0.iiifServer.value}}"
          >
          </rs-iiif-mirador>
        </div>
        <div style="width: 50vw; height: 80vh">
          <rs-iiif-mirador
            id="versoMirador"
            image-or-region="[[this]]"
            image-id-pattern='
                        BIND("image" AS ?type). BIND(?subject AS ?imageIRI). 
                        ?subject pharosfr:Work_depicted_by_Photo ?photo.
                        ?photo crm:P129i_is_subject_of <{{bindings.1.fullsizeImages.value}}>.
                        <{{bindings.1.fullsizeImages.value}}> crm:P2_has_type <http://iiif.io/api/image>.
                        BIND(REPLACE(STR("{{bindings.1.fullsizeImages.value}}"), "full/!700,700", "full/full") AS ?fotoIndexId).
                        BIND(REPLACE(STR(REPLACE(STR(?fotoIndexId), "/full/full/0/*", "")), "(^.*)\\/(.*)$", "$2") AS ?idWithDefaultNative)
                        BIND(REPLACE(?idWithDefaultNative,"default.jpg","") AS ?idWithNative).
                        BIND(REPLACE(?idWithNative,"native.jpg","") AS ?imageID).
                        '
            iiif-server-url="{{bindings.0.iiifServer.value}}"
          >
          </rs-iiif-mirador>
        </div>
      </div>
      {{/ifCond}}
    </div>
  </template>
</semantic-query>