<mp-event-trigger id="breadcrumbs" type='Component.TemplateUpdate' on='["mounted"]' targets='["top-header-breadcrumbs"]'
  data='{"breadcrumb": "Women Artists"}'>
</mp-event-trigger>


<div class="page">    
  <div class="main-container">
    <inline-template template-iri="Default:SearchTemplate" options='{"presetFacets": [{"relation": "https://artresearch.net/resource/fr/Artist_has_Gender", "values": ["https://artresearch.net/resource/pharos/vocab/meta/female"]}], "domain": "artist", "lock": "true"}'></inline-template>
  </div>
</div>