<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10">
    <!-- Title -->
        <div class="row">
          <div class="col-sm-7">
            <header>
              <h1>Intellectual Property</h1>
            </header>
          </div>
        </div>
        <div  class="about-content">
          <h3>Open Access</h3>
          <p></p>
          <h3>Privacy Policy</h3>
          <p></p>
          <h3>Terms of Use</h3>
        </div>
  </div>
</div>
<style>
.about-content{
  align-items: unset !important;
}
</style>