{
  "categories":  
  [
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "label":"Institution"
  },
  {
    "iri":"<https://artresearch.net/resource/fc/Gender>",
    "label":"Gender"
  },
  {
    "iri":"<http://www.w3.org/2001/XMLSchema#dateTime>",
    "label":"Life Dates"
  }
  ],
  "relations":
  [
    {
      "iri":"<https://artresearch.net/resource/fr/Person_has_Gender>",
      "label":"Gender",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
      "hasRange":"<https://artresearch.net/resource/fc/Gender>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Person_has_Life_Dates>",
      "label":"Life Dates",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#dateTime>"
    }
  ]
}