<semantic-table
  id="grid-result-institution"
  options='{
              "showFilter":false
            }'
  number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}10{{/if}}"
  query='
    SELECT DISTINCT ?subject
    WHERE {
        {{#ifCond withImages "===" "true"}}
          ?subject fr:Institution_depicted_by ?photo.
        {{/ifCond}}
        ?subject a fc:institution.
        } LIMIT 100'
  tuple-template="{{>tupleTemplate}}"
>
  <template id="tupleTemplate"> [[> :CardInstitution]] </template>
</semantic-table>
