<mp-event-trigger id="breadcrumbs" type='Component.TemplateUpdate' on='["mounted"]' targets='["top-header-breadcrumbs"]'
  data='{"breadcrumb": "Intellectual property"}'>
</mp-event-trigger>
<div class="page-content scrollable-content with-breadcrumbs" key="ip">
  <div class="static-centered-content">
    <!-- Title -->
    <section class="page-title-and-intro">
      <h1>
        <span class="thin-text">Intellectual</span>
        <span class="bold-text">Property</span></h1>
      <div class="about-content">
        <p class="bold-text">
          Open Access has been an objective of PHAROS since its inception.
          In the development of <semantic-link iri="https://artresearch.net/">artresearch.net</semantic-link>,
          PHAROS has explored and defined its intellectual property
          obligations alongside its scholarly objectives, balancing
          the benefits of the free and open exchange of knowledge
          and culture with the interests of rightsholders.
        </p>
      </div>
    </section>
    <section class="page-section bg-line">
      <p>As part of PHAROS’ intellectual property considerations,
        the consortium has examined the differences in copyright
        laws and conventions across the countries and territories
        of its member institutions, among other issues. Results of these
        inquiries have been openly published in the report International
        Copyright Workshop: Providing Online Access to Art Historical
        Research Photography Collections.</p>
      <p>PHAROS' <semantic-link iri="https://artresearch.net/resource/OpenAccessPolicy">Open Access Policy</semantic-link>
        outlines the consortium’s approach to open access and how
        to differentiate what content you can use, and under what terms.
        All material in the PHAROS platform, from metadata to images,
        is free to access, view and read.  Importantly, PHAROS members
        claim no new or additional rights in digitized material,
        including images, that they have contributed to the platform.
        However, your use of digitized material is subject to the rights
        status of the underlying items depicted in the material, which may
        include not only copyright status of art objects, but contractual
        terms governing the original analog photography. You may freely
        reuse any metadata contributed to the platform, which members
        have published under a CC0 1.0 Public Domain Dedication.</p>
      <p>It is also important to note that under the
        platform’s <semantic-link iri="https://artresearch.net/resource/TermsofUse">Terms of Use</semantic-link >,
          any user contributions you make are published under a
          CC0 1.0 Public Domain Dedication as well.
          The tenets of the
          <semantic-link iri="https://artresearch.net/resource/OpenAccessPolicy">Open Access Policy</semantic-link>,
          in conjunction with the platform’s <semantic-link iri="https://artresearch.net/resource/TermsofUse">Terms of Use</semantic-link>,
          ensure that all content contributed to artresearch.net
          remains freely accessible moving forward.</p>
      <p>If you do not agree with the
        <semantic-link iri="https://artresearch.net/resource/OpenAccessPolicy">Open Access Policy</semantic-link>,
        <semantic-link iri="https://artresearch.net/resource/TermsofUse">Terms of Use</semantic-link>,
        and <semantic-link iri="https://artresearch.net/resource/PrivacyNotice">Privacy Notice</semantic-link>,
        you may not use the PHAROS Platform or services.</p>
    </section>
  </div>
  [[> Default:footer]]
</div>
