<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
  <div class="row">
    <div class="col-sm-7">
      <header style="margin-left: 20px">
        <h1>Locations of FotoIndex repositories</h1>
      </header>
    </div>
  </div>
  <div>
    <semantic-map query='SELECT ?subject ?label ?lat ?lng WHERE {
                          ?subject pharosfr:Institution_has_Latitude ?lat.
                          ?subject pharosfr:Institution_has_Longitude ?lng.
                          ?subject pharosfr:Institution_has_Label ?label.
                        }'
                  tuple-template='<b>{{label.value}}</b><br><a href="https://artresearch.net/resource/?uri={{subject.value}}" target="_blank">Open in Pharos</a>'
                  >
    </semantic-map> 
  </div>
 </div>
</div>