<!-- Displays a row of IIIF photographs that are clickable (iiif mirador popup) -->
<div>
  <semantic-query
    query='SELECT distinct ?imgURL ?image WHERE {
        {
          # Photo object
          ?artwork crm:P138i_is_represented_by ?visual_item.
          ?visual_item crm:P128i_is_carried_by ?? .
          ?? crm:P129i_is_subject_of ?image.
          OPTIONAL{
            ?image crm:P2_has_type ?imageType.
          }
          BIND(REPLACE(STR(?image),"full/full","full/350,") AS ?imgURL).
        }UNION{
          # Artwork
          ?? crm:P138i_is_represented_by ?visual_item.
          ?visual_item crm:P128i_is_carried_by ?photo.
          ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
          ?photo crm:P129i_is_subject_of ?image.
          OPTIONAL{
            ?image crm:P2_has_type ?imageType.
          }
          BIND(REPLACE(STR(?image),"full/full","full/350,") AS ?imgURL).
        }UNION{ 
          # Pharos artwork
          ?originalSubject owl:sameAs ??.
          ?originalSubject crm:P138i_is_represented_by ?visual. 
          ?visual crm:P128i_is_carried_by ?photo .
          ?photo crm:P129i_is_subject_of ?image.
          OPTIONAL{
            ?image crm:P2_has_type ?imageType.
          }
          BIND(REPLACE(STR(?image),"full/full","full/350,") AS ?imgURL).
        }
     } ORDER BY str(?photo) DESC(?imageType)'
    template="{{> imageThumbnail}}"
  >
    <template id="imageThumbnail">
      <bs-tab-container id="imageViewTabs" default-active-key="single">
        <div>
          <bs-nav class="navbar-flex-end" bs-style="tabs">
            <bs-nav-item event-key="single">
              <span class="fa fa-image"></span>
            </bs-nav-item>
            <bs-nav-item event-key="grid">
              <span class="fa fa-th"></span>
            </bs-nav-item>
            <bs-nav-item event-key="timeline">
              <span class="fa fa-calendar"></span>
            </bs-nav-item>
          </bs-nav>
          <bs-tab-content animation="true">
            <bs-tab-pane event-key="grid">
              <div class="summaryImages">
                <div class="rs-page__summary-image">
                  {{#each bindings}}
                  <mp-overlay-dialog title="‎‎" type="lightbox">
                    <mp-overlay-dialog-trigger>
                      <div class="imageAndSourceContainer">
                        <semantic-query
                          query="     
                          SELECT ?providerLabel WHERE{    
                            ?photo crm:P129i_is_subject_of <{{image.value}}>.
                            ?photo <https://pharos.artresearch.net/custom/has_provider> ?provider.
                            ?provider rdfs:label ?providerLabel.
                          }limit 1
                            "
                          template="{{> imageSourceIcon}}"
                        >
                          <template id="imageSourceIcon">
                            <div class="imageSourceIcon fade-in">
                              <img
                                title="{{bindings.0.providerLabel.value}}"
                                class="sourceIcon"
                                src="../../assets/images/{{bindings.0.providerLabel.value}}.ico"
                              />
                            </div>
                          </template>
                        </semantic-query>
                        <img
                          class="imageThumbnail"
                          alt="Issue with image"
                          src="{{imgURL.value}}"
                        />
                      </div>
                    </mp-overlay-dialog-trigger>
                    <mp-overlay-dialog-content>
                      <semantic-query
                        query='SELECT ?fullsizeImgUrl ?iiifServer WHERE {
                        OPTIONAL
                        {
                          { 
                            ??  <https://pharos.artresearch.net/custom/has_provider> ?provider.
                            ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.
                          }UNION{
                            ?originalSubject owl:sameAs ??.
                            ?originalSubject  <https://pharos.artresearch.net/custom/has_provider> ?provider.
                            ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.
                          }
                        }
                        BIND(str(REPLACE("{{image.value}}","320px","2048px")) as ?fullsizeImgUrlHertziana)
                        BIND(str(?fullsizeImgUrlHertziana) as ?fullsizeImgUrl)
                    }LIMIT 1'
                        template="{{> fullSizeImageTemplate}}"
                      >
                        <template id="fullSizeImageTemplate">
                          {{#each bindings}} {{#ifCond iiifServer.value "!=="
                          undefined}}
                          <div>
                            <div style="width: 100vw; height: 86vh">
                              <rs-iiif-mirador
                                image-or-region="[[this]]"
                                image-id-pattern='
                                    BIND("image" AS ?type). BIND(?subject AS ?imageIRI). 
                                    ?subject crm:P138i_is_represented_by ?visual_item.
                                    ?visual_item crm:P128i_is_carried_by ?photo.
                                    ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                                    ?photo crm:P129i_is_subject_of <{{fullsizeImgUrl.value}}>.
                                    <{{fullsizeImgUrl.value}}> crm:P2_has_type <http://iiif.io/api/image>.
                                    BIND(REPLACE(STR(REPLACE(STR("{{fullsizeImgUrl.value}}"),"/full/full/0/*","")), "(^.*)\\/(.*)$", "$2") AS ?idWithDefaultNative).
                                    BIND(REPLACE(?idWithDefaultNative,"default.jpg","") AS ?idWithNative).
                                    BIND(REPLACE(?idWithNative,"native.jpg","") AS ?imageID).
                                    '
                                iiif-server-url="{{iiifServer.value}}"
                              >
                              </rs-iiif-mirador>
                            </div>
                          </div>
                          {{else}}
                          <img
                            style="
                              width: 100%;
                              height: 100%;
                              object-fit: contain;
                            "
                            src="{{fullsizeImgUrl.value}}"
                          />
                          {{/ifCond}} {{/each}}
                        </template>
                      </semantic-query>
                    </mp-overlay-dialog-content>
                  </mp-overlay-dialog>
                  {{/each}}
                </div>
              </div>
            </bs-tab-pane>

            <bs-tab-pane event-key="single">
              <div
                class="rs-page__summary-image summaryImages summary-image-with-thumbs"
              >
                <mp-event-target-template-render
                  id="event-target"
                  template="{{> mainImageTemplate}}"
                >
                  <template id="mainImageTemplate">
                    <mp-overlay-dialog title="‎‎" type="lightbox">
                      <mp-overlay-dialog-trigger>
                        <div class="summary-image-main imageAndSourceContainer">
                          {{#ifCond imgURL "!==" undefined}}
                          <semantic-query
                            query='     
                          SELECT ?providerLabel WHERE{    
                            ?photo crm:P129i_is_subject_of ?image.
                            ?photo <https://pharos.artresearch.net/custom/has_provider> ?provider.
                            ?provider rdfs:label ?providerLabel.
                            BIND(IRI(REPLACE(STR("{{imgURL}}"),"full/350,","full/full")) AS ?image)
                          }limit 1
                            '
                            template="{{> imageSourceIcon}}"
                          >
                            <template id="imageSourceIcon">
                              <div class="imageSourceIcon fade-in">
                                <img
                                  title="{{bindings.0.providerLabel.value}}"
                                  class="sourceIcon"
                                  src="../../assets/images/{{bindings.0.providerLabel.value}}.ico"
                                />
                              </div>
                            </template>
                          </semantic-query>
                          <semantic-query
                            query='SELECT ?images WHERE{
                              BIND(IRI(REPLACE(STR("{{imgURL}}"),"full/350,","full/full")) AS ?imgURL).
                              ?photo crm:P129i_is_subject_of ?imgURL; 
                              crm:P129i_is_subject_of ?rectoVerso;
                              BIND(REPLACE(STR(?rectoVerso), "full/full", "full/350,") AS ?images)
                          }'
                            template="{{>rectoVerso}}"
                          >
                            <template id="rectoVerso">
                              {{#each bindings}}
                              <img
                                class="imageThumbnailSingle"
                                alt="Issue with image"
                                src="{{images.value}}"
                              />
                              {{/each}}
                            </template>
                          </semantic-query>
                          {{/ifCond}} {{#ifCond imgURL "===" undefined}}
                          <semantic-query
                            query='SELECT DISTINCT ?iiifImage ?images WHERE{
                                BIND(iri(REPLACE(STR("{{bindings.0.imgURL.value}}"),"full/350,","full/full")) AS ?iiifImage).
                                BIND(("{{bindings.0.imgURL.value}}") AS ?imageUrl).
                                ?photo crm:P129i_is_subject_of ?iiifImage;
                                      crm:P129i_is_subject_of ?rectoVerso.
                                BIND(REPLACE(STR(?rectoVerso), "full/full", "full/350,") AS ?images)   
                                }'
                            template="{{> mediumImageSize}}"
                          >
                            <template id="mediumImageSize">
                              <semantic-query
                                query="     
                                SELECT ?providerLabel WHERE{    
                                  ?photo crm:P129i_is_subject_of <{{bindings.0.iiifImage.value}}>.
                                  ?photo <https://pharos.artresearch.net/custom/has_provider> ?provider.
                                  ?provider rdfs:label ?providerLabel.
                                }limit 1
                                "
                                template="{{> imageSourceIcon}}"
                              >
                                <template id="imageSourceIcon">
                                  <div class="imageSourceIcon fade-in">
                                    <img
                                      title="{{bindings.0.providerLabel.value}}"
                                      class="sourceIcon"
                                      src="../../assets/images/{{bindings.0.providerLabel.value}}.ico"
                                    />
                                  </div>
                                </template>
                              </semantic-query>
                              {{#each bindings}}
                              <img
                                class="imageThumbnailSingle"
                                alt="Issue with image"
                                src="{{images.value}}"
                              />
                              {{/each}}
                            </template>
                          </semantic-query>
                          {{/ifCond}}
                        </div>
                      </mp-overlay-dialog-trigger>
                      <mp-overlay-dialog-content>
                        <semantic-query
                          query='SELECT ?fullsizeImages ?iiifServer WHERE {
                                OPTIONAL
                                {
                                  { 
                                    ??  <https://pharos.artresearch.net/custom/has_provider> ?provider.
                                    ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.
                                  }UNION{
                                    ?originalSubject owl:sameAs ??.
                                    ?originalSubject  <https://pharos.artresearch.net/custom/has_provider> ?provider.
                                    ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.
                                  }
                                }
                                {{#ifCond imgURL "!==" undefined}}
                                BIND(REPLACE(STR("{{imgURL}}"),"320px","2048px") AS ?fullsizeImgUrlHertziana).
                                BIND(REPLACE(STR(?fullsizeImgUrlHertziana),"full/350,","full/full") AS ?fullsizeImgUrl).
                                BIND(iri(?fullsizeImgUrl) AS ?fullsizeImgUrlIri).
                                optional{
                                  ?photo crm:P129i_is_subject_of ?fullsizeImgUrlIri;
                                         crm:P129i_is_subject_of ?fullsizeImages.
                                }
                                {{/ifCond}}
                                {{#ifCond imgURL "===" undefined}}
                                BIND(REPLACE(STR("{{bindings.0.imgURL.value}}"),"320px","2048px") AS ?fullsizeImgUrlHertziana).
                                BIND(REPLACE(STR(?fullsizeImgUrlHertziana),"full/350,","full/full") AS ?fullsizeImgUrl).
                                BIND(iri(?fullsizeImgUrl) AS ?fullsizeImgUrlIri).
                                optional{
                                  ?photo crm:P129i_is_subject_of ?fullsizeImgUrlIri;
                                         crm:P129i_is_subject_of ?fullsizeImages.
                                }
                                {{/ifCond}}
                            }LIMIT 2'
                          template="{{> fullSizeImageTemplate}}"
                        >
                          <template id="fullSizeImageTemplate">
                            {{#ifCond bindings.0.iiifServer.value "!==" undefined}}
                            <div>
                              {{#ifCond (objectLength bindings) "===" 1}}
                              <div style="width: 100vw; height: 86vh">
                                <rs-iiif-mirador
                                  image-or-region="[[this]]"
                                  image-id-pattern='
                                            BIND("image" AS ?type). BIND(?subject AS ?imageIRI). 
                                            ?subject crm:P138i_is_represented_by ?visual_item.
                                            ?visual_item crm:P128i_is_carried_by ?photo.
                                            ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                                            ?photo crm:P129i_is_subject_of <{{bindings.0.fullsizeImages.value}}>.
                                            <{{bindings.0.fullsizeImages.value}}> crm:P2_has_type <http://iiif.io/api/image>.
                                            BIND(REPLACE(STR(REPLACE(STR("{{bindings.0.fullsizeImages.value}}"),"/full/full/0/*","")), "(^.*)\\/(.*)$", "$2") AS ?idWithDefaultNative).
                                            BIND(REPLACE(?idWithDefaultNative,"default.jpg","") AS ?idWithNative).
                                            BIND(REPLACE(?idWithNative,"native.jpg","") AS ?imageID).
                                            '
                                  iiif-server-url="{{bindings.0.iiifServer.value}}"
                                >
                                </rs-iiif-mirador>
                              </div>
                              {{else}}
                              <div class="rectoVersoMirador">
                                <div style="width: 50vw; height: 86vh">
                                  <rs-iiif-mirador
                                    id="rectoMirador"
                                    image-or-region="[[this]]"
                                    image-id-pattern='
                                                BIND("image" AS ?type). BIND(?subject AS ?imageIRI). 
                                                ?subject crm:P138i_is_represented_by ?visual_item.
                                                ?visual_item crm:P128i_is_carried_by ?photo.
                                                ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                                                ?photo crm:P129i_is_subject_of <{{bindings.0.fullsizeImages.value}}>.
                                                <{{bindings.0.fullsizeImages.value}}> crm:P2_has_type <http://iiif.io/api/image>.
                                                BIND(REPLACE(STR(REPLACE(STR("{{bindings.0.fullsizeImages.value}}"),"/full/full/0/*","")), "(^.*)\\/(.*)$", "$2") AS ?idWithDefaultNative).
                                                BIND(REPLACE(?idWithDefaultNative,"default.jpg","") AS ?idWithNative).
                                                BIND(REPLACE(?idWithNative,"native.jpg","") AS ?imageID).
                                                '
                                    iiif-server-url="{{bindings.0.iiifServer.value}}"
                                  >
                                  </rs-iiif-mirador>
                                </div>
                                <div style="width: 50vw; height: 86vh">
                                  <rs-iiif-mirador
                                    id="versoMirador"
                                    image-or-region="[[this]]"
                                    image-id-pattern='
                                                BIND("image" AS ?type). BIND(?subject AS ?imageIRI). 
                                                ?subject crm:P138i_is_represented_by ?visual_item.
                                                ?visual_item crm:P128i_is_carried_by ?photo.
                                                ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                                                ?photo crm:P129i_is_subject_of <{{bindings.1.fullsizeImages.value}}>.
                                                <{{bindings.1.fullsizeImages.value}}> crm:P2_has_type <http://iiif.io/api/image>.
                                                BIND(REPLACE(STR(REPLACE(STR("{{bindings.1.fullsizeImages.value}}"),"/full/full/0/*","")), "(^.*)\\/(.*)$", "$2") AS ?idWithDefaultNative).
                                                BIND(REPLACE(?idWithDefaultNative,"default.jpg","") AS ?idWithNative).
                                                BIND(REPLACE(?idWithNative,"native.jpg","") AS ?imageID).
                                                '
                                    iiif-server-url="{{bindings.0.iiifServer.value}}"
                                  >
                                  </rs-iiif-mirador>
                                </div>
                              </div>
                              {{/ifCond}}
                            </div>
                            {{else}}
                            <img
                              style="
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                              "
                              src="{{bindings.0.fullsizeImages.value}}"
                            />
                            {{/ifCond}}
                          </template>
                        </semantic-query>
                      </mp-overlay-dialog-content>
                    </mp-overlay-dialog>
                  </template>
                </mp-event-target-template-render>
                <div class="summary-image-thumbs">
                  {{#each bindings}}
                  <semantic-query
                    query='
                   SELECT ?imgURL WHERE{ 
                     {{image}} crm:P2_has_type ?imageType. 
                      ?imageType rdfs:label ?label. 
                      filter(?label != "verso")
                    } '
                    template="{{> onlyRectos}}"
                  >
                    <template id="onlyRectos">
                      <mp-event-trigger
                        id="event-trigger"
                        type="Component.TemplateUpdate"
                        data='{"imgURL":"{{imgURL.value}}"}'
                        targets='["event-target"]'
                      >
                        <img
                          class="object-representations__image--rep smallThumbsSingle"
                          src="{{imgURL.value}}"
                        />
                      </mp-event-trigger>
                    </template>
                  </semantic-query>
                  {{/each}}
                </div>
              </div>
            </bs-tab-pane>

            <bs-tab-pane event-key="timeline">
              <div class="summaryImages">
                <div class="rs-page__summary-image">
                  <semantic-timeline
                    options='{"height":"39vh"}'
                    query='PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
                    SELECT ?start ?end ?photo ?imgUrl WHERE {
                    {
                      # Artwork
                      ?? crm:P138i_is_represented_by ?visual_item.
                      ?visual_item crm:P128i_is_carried_by ?photo.      
                      ?photo crm:P129i_is_subject_of ?image.
                      BIND(REPLACE(STR(?image),"full/full","full/150,") AS ?imgUrl).
                      ?photo <https://pharos.artresearch.net/resource/fr/Photo_from_Date> ?timespan_from.
                      ?timespan_from rdfs:label ?start.
                      ?photo <https://pharos.artresearch.net/resource/fr/Photo_to_Date> ?timespan_to.
                      ?timespan_to rdfs:label ?end.      
                    }UNION{ 
                      # Pharos artwork
                      ?originalSubject owl:sameAs ??.
                      ?originalSubject crm:P138i_is_represented_by ?visual. 
                      ?visual crm:P128i_is_carried_by ?photo.      
                      ?photo crm:P129i_is_subject_of ?image.
                      BIND(REPLACE(STR(?image),"full/full","full/150,") AS ?imgUrl).
                      ?photo <https://pharos.artresearch.net/resource/fr/Photo_from_Date> ?timespan_from.
                      ?timespan_from rdfs:label ?start.
                      ?photo <https://pharos.artresearch.net/resource/fr/Photo_to_Date> ?timespan_to.
                      ?timespan_to rdfs:label ?end.                  
                    }
                  }'
                    tuple-template="{{> template}}"
                    tuple-template-height="42"
                  >
                    <template id="template">
                      <div class="timeline-card">
                        <img
                          style="
                            height: 100px;
                            object-fit: contain;
                            width: 100px;
                          "
                          src="{{imgUrl.value}}"
                        />
                        <semantic-link iri="{{photo.value}}"></semantic-link>
                        <div>{{start.value}} - {{end.value}}</div>
                      </div>
                    </template>
                  </semantic-timeline>
                </div>
              </div>
            </bs-tab-pane>
          </bs-tab-content>
        </div>
      </bs-tab-container>
    </template>
  </semantic-query>
</div>
<style>
  .SemanticTimeline--timeline {
    width: 90vw;
    min-height: 40vh;
    top: 0.5vh;
  }

  .vis-item {
    border-color: transparent !important;
    background-color: #ffffff !important;
    box-shadow: 0px 0px 20px 1px #cdcdcd;
  }

  .timeline-card a {
    margin-left: 15px;
    color: var(--color-icon-primary) !important;
  }

  .timeline-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .system-spinner {
    display: none !important;
  }
  .imageAndSourceContainer:hover .imageSourceIcon {
    display: block;
  }

  .imageSourceIcon {
    position: relative;
    height: 0;
    width: 0;
    top: 2vh;
    left: 1vw;
    display: none;
  }
  .imageSourceIcon .sourceIcon {
    box-shadow: none !important;
    background: white;
    opacity: 0.7;
  }

  .rectoVersoMirador {
    display: flex;
  }

  .mirador .researchspace-mirador.mirador-container .mirador-viewer {
    background-color: #f5f5f5 !important;
  }
  .mirador .researchspace-mirador.mirador-container .book-view,
  .mirador .researchspace-mirador.mirador-container .image-view,
  .mirador .researchspace-mirador.mirador-container .mirador-osd,
  .mirador .researchspace-mirador.mirador-container .scroll-view,
  .mirador .researchspace-mirador.mirador-container .thumbnail-view {
    background-color: #f5f5f5;
  }
  .modal-body img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  .navbar-flex-end {
    display: flex;
    justify-content: flex-end;
  }
  .summaryImages {
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    border-radius: 4px !important;
    max-height: 45vh;
    overflow-y: scroll;
  }
  .rs-page__summary-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .summary-image-with-thumbs {
    flex-direction: column;
    max-height: unset !important;
    overflow-y: unset !important;
  }
  .summary-image-main {
    display: flex;
    justify-content: center;
  }
  .summary-image-main img {
    object-fit: contain;
  }
  .summary-image-thumbs {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
  }
  .imageThumbnailSingle {
    height: 45vh;
    margin: 1vw;
    cursor: pointer;
    background-position: center;
  }
  .smallThumbsSingle {
    height: 7vh;
    max-width: unset;
    max-height: unset;
  }
  .imageThumbnail {
    height: 40vh;
    max-height: 400px;
    margin: 1vw;
    cursor: pointer;
    background-position: center;
  }
  .modal-content {
    background-color: #f5f5f5 !important;
  }
  button.close {
    opacity: 1;
    font-size: 55px !important;
  }
  .overlay-lightbox__body {
    padding: 0px !important;
  }
  .modal-content {
    border: none !important;
    box-shadow: none !important;
  }
</style>
