<semantic-table
  id="grid-result-photographer"
  options='{
              "showFilter":false
            }'
  number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}10{{/if}}"
  query='
    SELECT DISTINCT ?subject
    WHERE {
        {{#ifCond withImages "===" "true"}}
          ?wikiPerson rdfs:label ?photographerName.
          ?wikiPerson fr:Person_depicted_by ?imgUrl.
          ?subject  rdfs:label ?photographerName.
        {{/ifCond}}
        ?subject a fc:photographer.
        ?subject <https://artresearch.net/custom/has_type> <https://artresearch.net/resource/type/pharos>.
        } LIMIT 1000'
  tuple-template="{{>tupleTemplate}}"
>
  <template id="tupleTemplate">
    <semantic-link iri="{{subject.value}}">
      <mp-draggable iri="{{subject.value}}"> [[> CardPerson]] </mp-draggable>
    </semantic-link>
  </template>
</semantic-table>
