<!-- To enable source icons, simply add showSourceIcon="true" -->
{{#if noData}}
<div id="rsbv" class="table-responsive rs-table">
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>No data available</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{{else}}
<div id="rsbv" class="table-responsive rs-table">
  <table class="table table-hover">
    [[#if showSourceIcon]]
    <thead role="header">
      <td class="rs-page-resource__field-label-holder">
        <span class="rs-page-resource__field-label">
          {{field.label.0.value}}
        </span>
      </td>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>
              <span class="rs-page-resource__field-value">
                <div class="visualizationValue"></div>
              </span>
            </td>
            <td class="multiValueTd" style="text-align: right;">
              <b style="margin-right: 5px">Information Source</b>
            </td>
          </tr>
        </tbody>
      </table>
    </thead>
    [[/if]]
    <tbody>
      {{#each fields as |field|}} 
      {{#if field.values}}
      {{#ifCond (objectLength field.values) '===' 1}}
        [[#if showSourceIcon]]
          {{#if ../selectedTab}}
              {{#ifCond ../selectedTab "!==" "All" }}
                {{#ifCond ../selectedTab "!==" field.values.0.binding.providerLabel.value }}
                  <div class="hide-next-row">hiding next row</div>
                {{/ifCond}}
              {{/ifCond}}
          {{/if}}
        [[/if]]
        <tr class="rs-page-resource__field">
          <td class="rs-page-resource__field-label-holder headLine">
            <span class="rs-page-resource__field-label">
              {{field.label.0.value}}
            </span>
          </td>

          <table class="table table-hover">
            <tbody>
              [[#if showSourceIcon]]
                <tr  class="rs-page-resource__field">
                  <td class="rsbv-value-cell">
                    {{#each field.values as |value|}}
                  {{> Default:ResourceFieldValueVisualization field=field
                  value=value }}
                    {{/each}}
                  </td>
                  <td class="sourceIcon-badge">
                    <div class="sourceIcons">
                      {{#each field.values as |value|}} [[> SourceIcon multiple=true ]]
                      {{/each}}
                    </div>
                  </td>
                  <td class="center createAssertion">
                      <semantic-link
                        iri="Default:Field"
                        urlqueryparam-tab="assertions"
                        urlqueryparam-field="{{field.iri}}"
                        urlqueryparam-subject="[[this]]"
                        class="plus-sign"
                        title="Create an annotation or assertion"
                      >
                       +
                        <i
                          title="Create an annotation or assertion"
                          > </i>
                      </semantic-link>
                  </td>

                </tr>
              [[else]]
              <tr  class="rs-page-resource__field">
                <td class="rsbv-value-cell">
                  {{#each field.values as |value|}}
                    {{> Default:ResourceFieldValueVisualization field=field
                      value=value }}
                  {{/each}}
                </td>
              </tr>
              [[/if]]
            </tbody>
          </table>
          </tr>
       {{/ifCond}}

       {{#ifCond (objectLength field.values) '>' 1}}
       [[#if showSourceIcon]]
       {{#each field.values as |value|}}
        {{#if ../../selectedTab}}
          {{#ifCond ../../selectedTab "!==" "All" }}
            {{#ifCond ../../selectedTab "!==" value.binding.providerLabel.value }}
              <div class="hide-next-row">hiding next row</div>
            {{/ifCond}}
          {{/ifCond}}
        {{/if}}
       {{/each}}
       {{#each field.values as |value|}}
        {{#if ../../selectedTab}}
          {{#ifCond ../../selectedTab "!==" "All" }}
            {{#ifCond ../../selectedTab "===" value.binding.providerLabel.value }}
              <div class="no-hide-next-row">no hiding next row</div>
            {{/ifCond}}
          {{/ifCond}}
        {{/if}}
       {{/each}}
       [[/if]]

          <tr class="rs-page-resource__field">
            <td class="rs-page-resource__field-label-holder headLine">
              <span class="rs-page-resource__field-label">
                {{field.label.0.value}}
              </span>
            </td>
            <table class="table table-hover">
              <tbody>
                {{#ifCond (objectLength field.values) '>' 5}}


                {{#each field.values as |value|}}
                {{#ifCond @index "===" 0 }}
                [[#if showSourceIcon]]
                  {{#if ../../selectedTab}}
                    {{#ifCond ../../selectedTab "!==" "All" }}
                      {{#ifCond ../../selectedTab "!==" value.binding.providerLabel.value }}
                        <div class="hide-next-row">hiding next row</div>
                      {{/ifCond}}
                    {{/ifCond}}
                  {{/if}} 
                  <tr class="rs-page-resource__field">
                    <td class="rsbv-value-cell">
                           {{> Default:ResourceFieldValueVisualization field=field
                            value=value }}
                    </td>
                    <td>
                      <div class="sourceIcons">[[> SourceIcon  multiple=true ]]</div>
                    </td>
                    <td class="center createAssertion">
                      <semantic-link
                        iri="Default:Field"
                        urlqueryparam-tab="assertions"
                        urlqueryparam-field="{{field.iri}}"
                        urlqueryparam-subject="[[this]]"
                        class="plus-sign"
                        title="Create an annotation or assertion"
                      >
                      +
                        <i
                          title="Create an annotation or assertion"
                          > </i>
                      </semantic-link>
                  </td>
                  </tr>
                [[else]]
                  <tr class="rs-page-resource__field">
                    <td class="rsbv-value-cell">
                          {{> Default:ResourceFieldValueVisualization field=field
                            value=value }}
                    </td>
                  </tr>
                [[/if]]
              {{/ifCond}}

                {{#ifCond @index "===" 1 }}
                  [[#if showSourceIcon]]
                    {{#if ../../selectedTab}}
                      {{#ifCond ../../selectedTab "!==" "All" }}
                        {{#ifCond ../../selectedTab "!==" value.binding.providerLabel.value }}
                          <div class="hide-next-row">hiding next row</div>
                        {{/ifCond}}
                      {{/ifCond}}
                    {{/if}} 
                    <tr class="rs-page-resource__field">
                      <td class="rsbv-value-cell">
                            {{> Default:ResourceFieldValueVisualization field=field
                              value=value }}
                      </td>
                      <td>
                        <div class="sourceIcons">[[> SourceIcon  multiple=true ]]</div>
                      </td>
                      <td class="center createAssertion">
                      <semantic-link
                        iri="Default:Field"
                        urlqueryparam-tab="assertions"
                        urlqueryparam-field="{{field.iri}}"
                        urlqueryparam-subject="[[this]]"
                        class="plus-sign"
                        title="Create an annotation or assertion"
                      >
                       +
                        <i
                          title="Create an annotation or assertion"
                          > </i>
                      </semantic-link>
                  </td>
                    </tr>
                  [[else]]
                    <tr class="rs-page-resource__field">
                      <td class="rsbv-value-cell">
                            {{> Default:ResourceFieldValueVisualization field=field
                              value=value }}
                      </td>
                    </tr>
                  [[/if]]
                {{/ifCond}}
                {{#ifCond @index "===" 2 }}
                [[#if showSourceIcon]]
                  {{#if ../../selectedTab}}
                    {{#ifCond ../../selectedTab "!==" "All" }}
                      {{#ifCond ../../selectedTab "!==" value.binding.providerLabel.value }}
                        <div class="hide-next-row">hiding next row</div>
                      {{/ifCond}}
                    {{/ifCond}}
                  {{/if}} 
                  <tr class="rs-page-resource__field">
                    <td class="rsbv-value-cell">
                          {{> Default:ResourceFieldValueVisualization field=field
                            value=value }}
                    </td>
                    <td>
                      <div class="sourceIcons">[[> SourceIcon  multiple=true]]</div>
                    </td>
                    <td class="center createAssertion">
                      <semantic-link
                        iri="Default:Field"
                        urlqueryparam-tab="assertions"
                        urlqueryparam-field="{{field.iri}}"
                        urlqueryparam-subject="[[this]]"
                        class="plus-sign"
                        title="Create an annotation or assertion"
                      >
                      +
                        <i
                          title="Create an annotation or assertion"
                          > </i>
                      </semantic-link>
                  </td>
                  </tr>
                [[else]]
                  <tr class="rs-page-resource__field">
                    <td class="rsbv-value-cell">
                          {{> Default:ResourceFieldValueVisualization field=field
                            value=value }}
                    </td>
                  </tr>
                [[/if]]
              {{/ifCond}}
              {{#ifCond @index "===" 3 }}
              [[#if showSourceIcon]]
                {{#if ../../selectedTab}}
                  {{#ifCond ../../selectedTab "!==" "All" }}
                    {{#ifCond ../../selectedTab "!==" value.binding.providerLabel.value }}
                      <div class="hide-next-row">hiding next row</div>
                    {{/ifCond}}
                  {{/ifCond}}
                {{/if}} 
                <tr class="rs-page-resource__field">
                  <td class="rsbv-value-cell">
                       {{> Default:ResourceFieldValueVisualization field=field
                          value=value }}
                  </td>
                  <td>
                    <div class="sourceIcons">[[> SourceIcon  multiple=true ]]</div>
                  </td>
                  <td class="center createAssertion">
                      <semantic-link
                        iri="Default:Field"
                        urlqueryparam-tab="assertions"
                        urlqueryparam-field="{{field.iri}}"
                        urlqueryparam-subject="[[this]]"
                        class="plus-sign"
                        title="Create an annotation or assertion"
                      >
                        +
                        <i
                          title="Create an annotation or assertion"
                          > </i>
                      </semantic-link>
                  </td>
                </tr>
              [[else]]
                <tr class="rs-page-resource__field">
                  <td class="rsbv-value-cell">
                       {{> Default:ResourceFieldValueVisualization field=field
                          value=value }}
                  </td>
                </tr>
              [[/if]]
            {{/ifCond}}
            {{#ifCond @index "===" 4 }}
            [[#if showSourceIcon]]
              {{#if ../../selectedTab}}
                {{#ifCond ../../selectedTab "!==" "All" }}
                  {{#ifCond ../../selectedTab "!==" value.binding.providerLabel.value }}
                    <div class="hide-next-row">hiding next row</div>
                  {{/ifCond}}
                {{/ifCond}}
              {{/if}} 
              <tr class="rs-page-resource__field">
                <td class="rsbv-value-cell">
                  {{> Default:ResourceFieldValueVisualization field=field
                  value=value }}
                </td>
                <td>
                  <div class="sourceIcons">[[> SourceIcon  multiple=true]]</div>
                  </td>
                  <td class="center createAssertion">
                      <semantic-link
                        iri="Default:Field"
                        urlqueryparam-tab="assertions"
                        urlqueryparam-field="{{field.iri}}"
                        urlqueryparam-subject="[[this]]"
                        class="plus-sign"
                        title="Create an annotation or assertion"
                      >
                       +
                        <i
                          title="Create an annotation or assertion"
                          > </i>
                      </semantic-link>
                  </td>
                </tr>
                [[else]]
                  <tr class="rs-page-resource__field">
                    <td class="rsbv-value-cell">
                      {{> Default:ResourceFieldValueVisualization field=field
                      value=value }}
                    </td>
                  </tr>
                [[/if]]
              {{/ifCond}}
              {{/each}}

                <tr class="rs-page-resource__field rsbv-viewmore-panel">
                <bs-panel header="View more" collapsible="true">
                  <table class="table table-hover">
                    <tbody>
                {{#each field.values as |value|}}
                  {{#ifCond @index '>=' 5}}
                    [[#if showSourceIcon]]
                      {{#if ../../selectedTab}}
                        {{#ifCond ../../selectedTab "!==" "All" }}
                          {{#ifCond ../../selectedTab "!==" value.binding.providerLabel.value }}
                            <div class="hide-next-row">hiding next row</div>
                          {{/ifCond}}
                        {{/ifCond}}
                      {{/if}} 
                      <tr class="rs-page-resource__field">
                        <td class="rsbv-value-cell">
                              {{> Default:ResourceFieldValueVisualization field=field
                                value=value }}
                        </td>
                        <td>
                          <div class="sourceIcons">[[> SourceIcon  multiple=true ]]</div>
                        </td>
                        <td class="center createAssertion">
                      <semantic-link
                        iri="Default:Field"
                        urlqueryparam-tab="assertions"
                        urlqueryparam-field="{{field.iri}}"
                        urlqueryparam-subject="[[this]]"
                        class="plus-sign"
                        title="Create an annotation or assertion"
                      >
                       +
                        <i
                          title="Create an annotation or assertion"
                          > </i>
                      </semantic-link>
                  </td>
                      </tr>
                    [[else]]
                      <tr class="rs-page-resource__field">
                        <td class="rsbv-value-cell">
                              {{> Default:ResourceFieldValueVisualization field=field
                                value=value }}
                        </td>
                      </tr>
                    [[/if]]
                  {{/ifCond}}
                {{/each}}
                </tbody>
                </table>
                      </bs-panel>
                    </tr>

             {{else}}

             
             {{#each field.values as |value|}}
             [[#if showSourceIcon]]
             {{#if ../../selectedTab}}
               {{#ifCond ../../selectedTab "!==" "All" }}
                 {{#ifCond ../../selectedTab "!==" value.binding.providerLabel.value }}
                   <div class="hide-next-row">hiding next row</div>
                 {{/ifCond}}
               {{/ifCond}}
             {{/if}} 
             <tr class="rs-page-resource__field">
               <td class="rsbv-value-cell">
                     {{> Default:ResourceFieldValueVisualization field=field
                       value=value }}
               </td>
       
               <td>
                 <div class="sourceIcons">[[> SourceIcon  multiple=true ]]</div>
               </td>
               <td class="center createAssertion">
                      <semantic-link
                        iri="Default:Field"
                        urlqueryparam-tab="assertions"
                        urlqueryparam-field="{{field.iri}}"
                        urlqueryparam-subject="[[this]]"
                        class="plus-sign"
                        title="Create an annotation or assertion"
                      >
                       +
                        <i
                          title="Create an annotation or assertion"
                          > </i>
                      </semantic-link>
                  </td>
             </tr>
             [[else]]
             <tr class="rs-page-resource__field">
               <td class="rsbv-value-cell">
                    {{> Default:ResourceFieldValueVisualization field=field
                       value=value }}
               </td>
             </tr>
             [[/if]]
             {{/each}}

             {{/ifCond}}

             
              </tbody>
            </table>
            {{/ifCond}}
          </tr>
      {{/if}} 
      
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}
