<semantic-table
id="semantic-search-result-table"
query='SELECT DISTINCT ?image ?subject ?work ?creator ?photographer ?repository ?provider WHERE {
    ?work pharosfr:Work_depicted_by_Photo ?subject.
    ?subject pharosfr:Photo_created_by_Photographer ?photographer.
    ?work pharosfr:Work_depicted_by_Photo ?subject.
    ?work pharosfr:Work_created_from_Artist ?creator.
    ?subject pharosfr:Photo_has_provider_Institution ?provider.
    ?subject a pharoscustom:photo
    OPTIONAL{
      ?subject crm:P129i_is_subject_of ?fullsizeImgUrl.
      ?fullsizeImgUrl crm:P2_has_type <http://vocab.getty.edu/aat/300078817>.
      BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/!100,100") as ?smallerImgUrl)
    }
    BIND("_" as ?default_imageUrl)
    BIND(coalesce(?smallerImgUrl, ?default_imageUrl) as ?image)
  }LIMIT 100'
  options='{"showFilter":true, "resultsPerPage":10}'
  column-configuration='[
  {
    "displayName": "Image", 
    "cellTemplate": "<div class=\"thumbnailImageContainerTabular\"> <img  alt=\"   \"  class=\"thumbnailImageTabular\" src=\"{{image.value}}\"/></div>" 
  },
  {"variableName": "subject", "displayName": "Title"},
  {"variableName": "work", "displayName": "Depicts"},
  {"variableName": "photographer", "displayName": "Photographer"},
  {"variableName": "creator", "displayName": "Artist"},
  {"variableName": "provider", "displayName": "Provider"}
  ]'
>
</semantic-table>