{
  "<https://artresearch.net/resource/fr/Repository_documented_in_Institution>":[{
              "kind":"resource",
              "queryPattern": "
                { {
                  ?work crm:P50_has_current_keeper/custom:sameAs? ?subject .
                  ?work crm:P70i_is_documented_in/crm:P104_is_subject_to  ?ownership. 
                  ?__value__ crm:P75_possesses ?ownership .
                } }
              " 

    }],
  "<https://artresearch.net/resource/fr/Repository_from_Place>":[{
              "kind":"resource",
              "queryPattern": "{?subject crm:P55_has_current_location/(custom:sameAs?)/(crm:P89_falls_within*) ?__value__ .}"
  }]
}