<semantic-query
id="count-artist"
query='SELECT (COUNT( DISTINCT ?subject) as ?count) WHERE {
  {{#ifCond withImages "===" "true"}}
  {
    ?subject crm:P129i_is_subject_of ?fullsizeImgUrl.
    ?subject a cfc:photo
  }UNION{
    ?subject fr:Work_depicted_by_Photo ?photo.
    ?photo crm:P129i_is_subject_of ?fullsizeImgUrl.
     ?subject a fc:work
   }
  {{/ifCond}}
  }'
template="{{>currentResultCount}}"
>
<template id="currentResultCount">
  <div>
      <h2>
        {{#ifCond bindings.0.count.value "==" 1000}}
        Found more than 1000 matches, please refine your search
        {{else}}
          Found {{bindings.0.count.value}} matches
        {{/ifCond}}
      </h2>
  </div>
</template>
</semantic-query>
<div class="animated-background-xs"></div>