
<div data-flex-layout="row center-stretch">
  <div class="grid-demo">
    <div style="width: 60vw; height: 70vh">
      <mp-event-target-template-render id='event-target' template='{{> mainImageTemplate}}'>
        <template id='mainImageTemplate'>
            <semantic-query query='SELECT DISTINCT ?imageUrl ?iiifServer WHERE{
                {
                ?? <https://pharos.artresearch.net/custom/has_provider> ?provider.
                ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.
                BIND(STR("{{imgURL}}") AS ?imageUrl).
                }union{
                  ?original owl:sameAs ??.
                  ?original <https://pharos.artresearch.net/custom/has_provider> ?provider.
                  ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.
                  BIND(STR("{{imgURL}}") AS ?imageUrl).

                }
                }' template='{{> iiifViewer}}'>
                <template id="iiifViewer">
                 
                  {{#ifCond  (objectLength bindings.0.imageUrl.value) "!==" 0}}  
                    <rs-iiif-mirador
                    image-or-region="[[this]]" 
                    image-id-pattern='
                    ?subject crm:P138i_is_represented_by ?visual_item.
                    ?visual_item crm:P128i_is_carried_by ?photo.
                    ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                    ?photo crm:P129i_is_subject_of <{{bindings.0.imageUrl.value}}>.
                    <{{bindings.0.imageUrl.value}}> crm:P2_has_type <http://iiif.io/api/image>.
                    BIND("image" AS ?type). 
                    BIND(?subject AS ?imageIRI). 
                    BIND(REPLACE(STR(REPLACE(STR("{{bindings.0.imageUrl.value}}"),"/full/full/0/*","")), "(^.*)\\/(.*)$", "$2") AS ?idWithDefaultNative).
                    BIND(REPLACE(?idWithDefaultNative,"default.jpg","") AS ?idWithNative).
                    BIND(REPLACE(?idWithNative,"native.jpg","") AS ?imageID).
                    '                                                                       
                    iiif-server-url="{{bindings.0.iiifServer.value}}" 
                    >
                    </rs-iiif-mirador>
                  {{/ifCond}}
                  {{#ifCond (objectLength bindings.0.imageUrl.value) "===" 0}}  
                    <rs-iiif-mirador
                    image-or-region="[[this]]" 
                    image-id-pattern='
                    {
                      ?? crm:P138i_is_represented_by ?visual_item.
                      ?visual_item crm:P128i_is_carried_by ?photo.
                      ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                      ?photo crm:P129i_is_subject_of ?image.
                      ?image crm:P2_has_type <http://iiif.io/api/image>.
                      BIND(?? AS ?imageIRI). 
                    }UNION{
                      ?original owl:sameAs ??.
                      ?original crm:P138i_is_represented_by ?visual_item.
                      ?visual_item crm:P128i_is_carried_by ?photo.
                      ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                      ?photo crm:P129i_is_subject_of ?image.
                      ?image crm:P2_has_type <http://iiif.io/api/image>.
                      BIND(?original AS ?imageIRI). 
                    }
                    BIND("image" AS ?type).
                    BIND(REPLACE(STR(REPLACE(STR(?image),"/full/full/0/*","")), "(^.*)\\/(.*)$", "$2") AS ?idWithDefaultNative).
                    BIND(REPLACE(?idWithDefaultNative,"default.jpg","") AS ?idWithNative).
                    BIND(REPLACE(?idWithNative,"native.jpg","") AS ?imageID).
                    '                                                                       
                    iiif-server-url="{{bindings.0.iiifServer.value}}" 
                    >
                    </rs-iiif-mirador>
                    {{/ifCond}}
      </template>
      </semantic-query>
      </template>
      </mp-event-target-template-render>
    </div>
  </div>
  <div id="photo-cards">
    <semantic-table
      query='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
						 PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
		 				 PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

					 	 SELECT distinct ?photo ?photo_label ?keeper ?keeper_label ?recto ?rectoImage ?json WHERE 
						{
              {             
                ?? crm:P138i_is_represented_by ?visual_item.
                ?visual_item crm:P128i_is_carried_by ?photo.
                ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                ?photo rdfs:label ?photo_label.
                OPTIONAL
                {
                  ?photo crm:P50_has_current_keeper ?keeper.
                  ?keeper rdfs:label ?keeper_label.
                }
                OPTIONAL
                {
                  ?photo crm:P108i_was_produced_by ?production .
                  ?production crm:P14_carried_out_by ?photographer.
                  ?photographer rdfs:label ?photographer_label.
                }
                ?photo crm:P129i_is_subject_of ?recto.
                OPTIONAL{
                  ?recto crm:P2_has_type <http://iiif.io/api/image> .
                  ?recto crm:P2_has_type ?typer .
                  ?typer rdfs:label "recto".
                  ?recto crm:P129i_is_subject_of ?json .
                }
              }UNION{
                ?originalSubject owl:sameAs ??.
                ?originalSubject crm:P138i_is_represented_by ?visual_item.
                ?visual_item crm:P128i_is_carried_by ?photo.
                ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                ?photo rdfs:label ?photo_label.
                OPTIONAL
                {
                  ?photo crm:P50_has_current_keeper ?keeper.
                  ?keeper rdfs:label ?keeper_label.
                }
                OPTIONAL
                {
                  ?photo crm:P108i_was_produced_by ?production .
                  ?production crm:P14_carried_out_by ?photographer.
                  ?photographer rdfs:label ?photographer_label.
                }
                ?photo crm:P129i_is_subject_of ?recto.
                OPTIONAL{
                  ?recto crm:P2_has_type <http://iiif.io/api/image> .
                  ?recto crm:P2_has_type ?typer .
                  ?typer rdfs:label "recto".
                  ?recto crm:P129i_is_subject_of ?json .
                }
              }
              BIND(REPLACE(STR(?recto),"full/full","full/350,") AS ?rectoImage).			
            }'
      options='{"showFilter": false, "showTableHeading": false}'
      tuple-template="{{> photos}}"
    >
      <template id="photos">
        <mp-event-trigger id='event-trigger' type='Component.TemplateUpdate' data='{"imgURL":"{{recto.value}}","label":"{{imageLabel.value}}"}' targets='["event-target"]'>
        <div
          href="{{json.value}}"
          class="card"
          title="Click to view in IIIF viewer"
        >
          <bs-col md="4" sm="12">
            <img src="{{rectoImage.value}}" />
          </bs-col>
          <bs-col md="8" sm="12">
            <h4>Photograph:</h4>
            <semantic-link iri="{{photo.value}}">
              {{photo.value}}
            </semantic-link>
            <br />
            <!-- <h4>Photographer:</h4>
            <semantic-link iri="{{photographer.value}}">
              {{photographer_label.value}}
            </semantic-link>
            <br /> -->
            <h4>IIIF Image:</h4>
            <a
              target="_null"
              href="{{recto.value}}"
              style="margin-top: 18px; margin-right: 20px"
            >
              {{recto.value}}
            </a>
            <br />
            <h4>IIIF Image Json:</h4>
            <a
              target="_null"
              href="{{json.value}}"
              style="margin-top: 18px; margin-right: 20px"
            >
              {{json.value}}
            </a>
          </bs-col>
        </div>
        </mp-event-trigger>
      </template>
    </semantic-table>
  </div>
</div>

<style>
  .mirador .researchspace-mirador .qtip-dark {
    background-color: white !important;
  }

  #photo-cards {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70vh;
  }

  #photo-cards .card {
    cursor: pointer;
    width: 30vw;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    padding: 1vh;
  }

  #photo-cards .card img {
    height: 6vw;
    max-height: 170px;
    max-width: 170px;
    object-fit: contain;
    user-select: none;
  }

  #photo-cards .card a {
    user-select: none;
  }

  #photo-cards .card:active {
    cursor: grabbing !important;
  }

  #photo-cards .card h4 {
    line-height: 0.6 !important;
    font-weight: bold !important;
    color: #8b2e32 !important ;
    user-select: none;
  }

  .mirador-main-menu-bar {
    display: block !important;
  }

  .mirador-viewer {
    top: 0px !important;
  }
</style>
