<inline-template template-iri="Default:Partner"
                 options='{
                          "provider":"khi",
                          "providerTitle": "Kunsthistorisches Institut in Florenz",
                          "email":"fototeca@khi.fi.it",
                          "providerIri": "https://artresearch.net/resource/e31/khi",
                          "website": "https://www.khi.fi.it/en/photothek/index.php",
                          "onlineCatalogue": "http://photothek.khi.fi.it/",
                          "descriptionGeneral": "The Kunsthistorisches Institut in Florenz practices and promotes basic research in art history in
dialogue with other disciplines. Founded in 1897, it has been an institute of the Max Planck Society
since 2002. Its research is dedicated to the histories of art and architecture in a transcultural and
global perspective, with a focus on Italy, Europe and the Mediterranean. Historical research is
combined with a critical engagement in current debates and challenges, such as ecology, heritage,
urbanization, migration and diversity; aesthetic and artistic practices; media and material cultures;
the digital transformation and the future of museums.",
                          "descriptionArchive": "With its 640,000 photographic prints and 55,000 negatives (2024), the Photothek of the
Kunsthistorisches Institut in Florenz is one of the most important collections of documentary
photographs on the ​history of Italian art and architecture. Also after the move to a new building in
Via Modena 13 in Florence, its holdings are accessible on open shelves to the scholarly community. As
a research facility and laboratory, it plays a leading role in the international and transdisciplinary
debate on the function of photo archives in the 21st-century. Its research activities are inseparable
from the daily work of collection expansion, cataloguing and digitization.
The Photothek is dedicated to the interaction between photographic, archival and academic
practices. In this way, it contributes to a general theory of the photo archive. Photographic objects
and archival structures have an effect in the ecosystem of the Photothek, but they also instigate
reflections on materiality, value systems and taxonomy, which in turn refer to contemporary issues
such as cultural heritage or migration. In this context, the Photothek has become an experimental
space for artists.​ This scholarly approach has a correspondence in the digitization and cataloguing
practices of the Photothek, which focus not only on the works of art depicted in the photographs, but
also on the historical and material aspects of the photographic objects.",
                          "image": "/assets/images/media/banner_khi.png",
                          "dataAvailable": "true"}'></inline-template>
