<semantic-query
  query='SELECT ?document ?documentTitle ?user ?time WHERE{
    ?document rdf:type rs:Semantic_Narrative.
    ?document rdfs:label ?documentTitle.
    ?document prov:wasAttributedTo ?user.
    ?document prov:generatedAtTime ?time.
  }'
  template="{{>superDocuments}}"
  >
  <template id="superDocuments">
    <div class="documents-panel">
    <bs-panel  header="Documents"  collapsible="true" default-expanded="true">
      <div>
        <ol>
          {{#each bindings}}
          <li style="display: flex; font-size: 16px; margin-top: 20px; align-items: center;">
            <mp-event-trigger id='assert-new-value' type='Component.TemplateUpdate' targets='["annotation-editor"]' data='{"document": "{{document.value}}","editMode":"false"}'>
              <button class='btn btn-default btn-xs pull-right' title='Edit annotation' style='margin-right: 15px; '>
                <i class='fa fa-folder-open'></i> View
              </button>
            </mp-event-trigger>
            [[#if (hasPermission "api:ldp:container:<http://www.researchspace.org/resource/system/fieldDefinitionContainer>:create:any")]]
            <mp-event-trigger id='assert-new-value' type='Component.TemplateUpdate' targets='["annotation-editor"]' data='{"document": "{{document.value}}","editMode":"true"}'>
              <button class='btn btn-default btn-xs pull-right' title='Edit annotation' style='margin-right: 15px; '>
                <i class='fa fa-pencil'></i> Edit
              </button>
            </mp-event-trigger>
          [[/if]]

          [[#if (hasPermission "api:ldp:container:<http://www.researchspace.org/resource/system/fieldDefinitionContainer>:delete:any")]]
          <mp-overlay-dialog title="Delete annotation" >
            <mp-overlay-dialog-trigger
              >
              <button class='btn btn-default btn-xs pull-right' title='Delete annotation' style='margin-right: 15px; '>
                <i class='fa fa-trash'></i>Delete
              </button>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content>
              <h1>Are you sure you would like to delete this annotation?</h1>
              <mp-ldp-remove-from-container-action 
              container="http://www.researchspace.org/resource/system/fileContainer"
              iri="{{document.value}}" 
            post-action='reload'>
            <button class="btn btn-danger pull-right" title="Delete annotation" 
            style="margin-left: 35px;font-size: 22px;"><i class="fa fa-trash"
              ></i> Yes delete
              </button>
              </mp-ldp-remove-from-container-action>
            </mp-overlay-dialog-content>
          </mp-overlay-dialog>
          [[/if]]
            <p style="margin:0;" class="fa fa-file">
              Annotation <b>
                "{{documentTitle.value}}"</b>
                about field 
                <b>
                <semantic-context repository='assets'>
                  <mp-label iri='[[urlParam "field"]]' class="field-type-title"></mp-label>
                </semantic-context>
          </b>
                by <mp-label iri='{{user.value}}'></mp-label>, {{dateTimeFormat time.value "LLL"}}
              </p>
          </li>
          {{/each}}
        </ol>
      </div>
    </bs-panel>
    </div>
  </template>
  </semantic-query>