<div id="underDevAlert" class="alert alert-info" role="alert">
  <i
    >This instance is <b>under development</b> and will publicly launch in
    January 2022</i
  >
</div>
<div id="new-start-page">
  <div class="search-actions">
    <div
      style="width: 100%"
      data-intro="This is the search-bar. Use this to make simple queries by keywords"
      data-position="top"
    >
      [[> :Searchbar selectedCategory="Artworks"]]
    </div>
    <div style="margin-top: 15px">or use</div>
    <div style="margin-top: 15px">
      <div data-flex-layout="row center-center">
        <semantic-link iri="Default:Search">
          <div
            title="Make use of the artresearch full power!"
            class="advancedBtn"
            data-intro="Click here to go to the Advanced Search page. There you can create complex queries and explore data in new-found ways."
            data-position="right"
          >
            <li class="fa">
              <img src="../../assets/images/icons/concept.svg" />
            </li>
            Advanced Search
          </div>
        </semantic-link>
      </div>
    </div>
  </div>
  <section title="Browse the photo archive section">
    <div class="section-title">The photo archives</div>
    <div class="section-body">
      <div class="tall-card-list">
        <div class="tall-card">
          <div class="tall-card-body">
            <div class="tall-card-button">Discover</div>
            <div class="tall-card-title">Artists</div>
            <div class="tall-card-subtitle">More than 28.000</div>
          </div>
        </div>
        <div class="tall-card">
          <div class="tall-card-body">
            <div class="tall-card-button">Discover</div>
            <div class="tall-card-title">Photographers</div>
            <div class="tall-card-subtitle">129.000 photographers</div>
          </div>
        </div>
        <div class="tall-card">
          <div class="tall-card-body">
            <div class="tall-card-button">Discover</div>
            <div class="tall-card-title">Repositories</div>
            <div class="tall-card-subtitle">From all over the world</div>
          </div>
        </div>
        <div class="tall-card">
          <div class="tall-card-body">
            <div class="tall-card-button">Discover</div>
            <div class="tall-card-title">Partners</div>
            <div class="tall-card-subtitle">Meet our partners</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section title="About this platform">
    <div class="cool-background"></div>
    <div class="section-title">What it is about</div>
    <div class="section-body">
      <div class="text-with-image">
        <div class="text">
          <div>
            <b><span style="color: rgb(220 54 54)">art</span>research.net </b
            >provides open and consolidated access to images and metadata from
            partners of PHAROS, the International Consortium of Photo Archives.
          </div>
          <div>
            The collections document works of art and architecture and the
            history of photography itself, together with nearly a century of
            associated scholarly documentation.
          </div>
          <semantic-link iri="Default:About">
            See our <b style="margin-right: 2px">about page</b> for more
            information and a guide to using the platform.</semantic-link
          >
        </div>
        <div class="image"></div>
      </div>
    </div>
  </section>
  <section title="In the spotlight">
    <div class="section-title">In the Spotlight</div>
    <div class="section-body">
      <div class="grid-card-list">
        <div
          class="grid-card"
          style="
            background: url(/assets/images/media/alinari.jpg) center no-repeat;
          "
        >
          <div class="grid-card-body">
            <div class="grid-card-title">Artists</div>
            <div class="grid-card-subtitle">More than 28.000</div>
          </div>
        </div>
        <div
          style="
            background: url(/assets/images/media/oil_on_wood_dali.jpg) center
              no-repeat;
          "
          class="grid-card"
        >
          <div class="grid-card-body">
            <div class="grid-card-title">Oil on wood</div>
            <div class="grid-card-subtitle">Explore vibrant colors</div>
          </div>
        </div>
        <div
          style="
            background: url(/assets/images/media/builtworks_middleast.jpg)
              center no-repeat;
          "
          class="grid-card"
        >
          <div class="grid-card-body">
            <div class="grid-card-title">Built Works </div>
            <div class="grid-card-subtitle">In the Middle-East</div>
          </div>
        </div>
        <div
          style="
            background: url(/assets/images/media/kahlo.jpg) center no-repeat;
          "
          class="grid-card"
        >
          <div class="grid-card-body">
            <div class="grid-card-title">Partners</div>
            <div class="grid-card-subtitle">Meet our partners</div>
          </div>
        </div>
        <div
          style="
            background: url(/assets/images/media/madonna.jpg) center no-repeat;
          "
          class="grid-card"
        >
          <div class="grid-card-body">
            <div class="grid-card-title">Madonna and Child</div>
            <div class="grid-card-subtitle">Artworks from 12th - 15th century</div>
          </div>
        </div>
        <div
          style="
            background: url(/assets/images/media/women_saints.jpg) center
              no-repeat;
          "
          class="grid-card"
        >
          <div class="grid-card-body">
            <div class="grid-card-title">Women Saints</div>
            <div class="grid-card-subtitle">Across centuries</div>
          </div>
        </div>
        <div
          style="
            background: url(/assets/images/media/italian_ren.jpg) center no-repeat;
          "
          class="grid-card"
        >
          <div class="grid-card-body">
            <div class="grid-card-title">Italian Renaissance</div>
            <div class="grid-card-subtitle">Discover masterpieces</div>
          </div>
        </div>
        <div
          style="
            background: url(/assets/images/media/datedphotographs.jpg) center no-repeat;
          "
          class="grid-card"
        >
          <div class="grid-card-body">
            <div class="grid-card-title">1800-1900 AD</div>
            <div class="grid-card-subtitle">A century of 
              photographs</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<style>
  .page-holder {
    overflow: hidden;
  }
</style>
