<div class="rs-grid-element panel panel-default personCard fade-in-fwd">
  <semantic-link iri="{{subject.value}}">
    <div class="panel-body">
      <bs-col class="thumbnailImageContainer" lg="4" md="12" xs="12">
        <!-- Thumbnail for Person (fetch from wikidata (good luck)) -->
            <semantic-query
              query='
                SELECT DISTINCT ?imgUrl WHERE {
                  BIND("_" AS ?default_imageUrl)
                  OPTIONAL{
                    ?wikiPerson rdfs:label ?photographerName.
                    ?wikiPerson <https://pharos.artresearch.net/resource/fr/Person_depicted_by> ?imgUrl.
                    <{{subject.value}}> rdfs:label ?photographerName.
                  }
                  BIND(COALESCE(?imgUrl, ?default_imageUrl) AS ?imgUrl)
                }
                LIMIT 1'
              template="{{> imageThumbnail}}"
            >
              <template id="imageThumbnail">
                <img
                  alt="   "
                  class="thumbnailImage"
                  src="{{bindings.0.imgUrl.value}}?width=150"
                />
              </template>
            </semantic-query>
      </bs-col>
      <bs-col class="cardInfo" lg="12">
        <div data-flex-layout="row md-column center-stretch">
          <bs-row class="cardInfoFields">
            <h4>
              <semantic-link iri="{{subject.value}}"></semantic-link>
            </h4>
          </bs-row>
        </div>
      </bs-col>
    </div>
  </semantic-link>
</div>
