<div id="photoTiles">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img class="face" src="/assets/images/media/1_a.png" />
      </div>
      <div class="flip-card-back">
        <img class="back" src="/assets/images/media/1_b.png" />
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img class="face" src="/assets/images/media/2_a.jpg" />
      </div>
      <div class="flip-card-back">
        <img class="back" src="/assets/images/media/2_b.jpg" />
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img class="face" src="/assets/images/media/3_a.jpg" />
      </div>
      <div class="flip-card-back">
        <img class="back" src="/assets/images/media/3_b.jpg" />
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img class="face" src="/assets/images/media/4_a.png" />
      </div>
      <div class="flip-card-back">
        <img class="back" src="/assets/images/media/4_b.jpg" />
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img class="face" src="/assets/images/media/5_a.jpg" />
      </div>
      <div class="flip-card-back">
        <img class="back" src="/assets/images/media/5_b.png" />
      </div>
    </div>
  </div>
</div>
