<!-- Displays a row of photographs that are clickable (full size image popup) -->
<div id="institution-summary-images">
  <semantic-query query='SELECT ?placeName WHERE{
    ?? rdfs:label ?name.
    BIND(REPLACE(str(?name),"@en","") as ?placeName)
  }LIMIT 1'
  template="{{> placeNameTemplate}}">
  <template id="placeNameTemplate">
    <semantic-query query='PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
      PREFIX wd: <http://www.wikidata.org/entity/>
      PREFIX wdt: <http://www.wikidata.org/prop/direct/>

      SELECT DISTINCT ?imgUrl WHERE{
          SERVICE <https://query.wikidata.org/sparql> 
            {
              { 
                # It is a country
                ?place wdt:P31 wd:Q6256. 
                ?place wdt:P571 ?date. 
                ?place rdfs:label "{{bindings.0.placeName.value}}"@en .
                ?place wdt:P18 ?placeImage
              }UNION{
                # It is part of a country
                ?place wdt:P17 ?someCountry.
                ?place wdt:P571 ?date. 
                ?place rdfs:label "{{bindings.0.placeName.value}}"@en .
                ?place wdt:P18 ?placeImage.
              }
            }
            }LIMIT 1' template='{{> imageThumbnail}}'>
              <template id="imageThumbnail">
                <!-- Only show image if imgUrl !== the _ character (aka 1 character length) -->
                {{#ifCond (objectLength bindings.0.imgUrl.value) "!==" 1}} 
                  <div class="rs-page__summary-image summaryImages">
                    <div class="rs-page__summary-image">
                    <mp-overlay-dialog title="Image from Wikidata‎‎"  type="lightbox">
                      <mp-overlay-dialog-trigger>
                              <img class="imageThumbnail" alt="Issue with image provider"  src="{{bindings.0.imgUrl.value}}"/>                         
                      </mp-overlay-dialog-trigger>
                      <mp-overlay-dialog-content>
                          <img style="width: 100%; height:100%; object-fit: contain;" src="{{bindings.0.imgUrl.value}}"/>
                      </mp-overlay-dialog-content>
                    </mp-overlay-dialog>
                  </div>    
                </div>     
              {{/ifCond}}  
      </template>
    </semantic-query>
</template>
</semantic-query>
  </div>