<div class="form-head" style="margin-top:0 ;">
<mp-event-trigger
id="reset-form"
data='{}'
type="Component.TemplateUpdate"
targets='["event-target-form-query"]'
>
<span class="fa fa-repeat clickable"><strong >Reset form</strong></span>
</mp-event-trigger>
</div>
<semantic-context repository='ephedra'>
  <semantic-search
  relations='[[> :SearchSimpleRelations]]'
  search-profile='[[> :SearchSimpleProfile]]'
  >
    <mp-event-target-template-render
    id="event-target-form-query"
    template="{{> tableEventTargetFormQueryTemplate}}"
  >  <template id="tableEventTargetFormQueryTemplate"> 
    <div class="advanced-search-form">
      <semantic-search-form-query
      multi=true
      domain='<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>'
      query-template='{
                    "queryString": "
                      PREFIX solr: <http://custom.solr/ontology#>
                      SELECT ?subject WHERE {
                      BIND(REPLACE(str(?title), \"(?<!^)(?<!\\\\s)\\\\s+(?!\\\\s+)(?!$)\",\" AND \") as ?token).
                      SERVICE <http://www.researchspace.org/resource/system/service/custom#solrworks>{
                        ?solrApi solr:setQuery ?token;
                                solr:setDefType \"dismax\";
                                solr:setFilter \"id\";
                                solr:setRowsNumber 1000;
                                solr:hasResults ?subject.
                      }
                      {{#ifCond creatorVisible "===" "true" }}
                          ?subject fr:Work_created_from_Artist ?creator .
                      {{/ifCond}}
                      {{#ifCond materialVisible "===" "true" }}
                      ?subject fr:Work_consists_of_Material ?material .
                      {{/ifCond}}
                      {{#ifCond techniqueVisible "===" "true" }}
                      ?subject fr:Work_produced_using_technique_Technique ?technique .
                      {{/ifCond}}
                      {{#ifCond typeVisible "===" "true" }}
                      ?subject crm:P2_has_type ?technique .
                      {{/ifCond}}
                      {{#ifCond creationDateVisible "===" "true" }}
                      ?subject fr:Work_from_Date ?creationDate.
                      {{/ifCond}}
                      {{#ifCond subjectVisible "===" "true" }}
                      ?subject fr:Work_shows_Subject ?workSubject.
                      {{/ifCond}}
                      {{#ifCond repositoryVisible "===" "true" }}
                      ?subject fr:Work_kept_by_Institution ?repository.
                      {{/ifCond}}
                      {{#ifCond historyVisible "===" "true" }}
                      {
                          ?subject crm:P67i_is_referred_to_by ?information_object.
                          ?information_object crm:P2_has_type <http://vocab.getty.edu/aat/300055863>.
                          ?information_object crm:P190_has_symbolic_content ?label.
                      } UNION {
                          ?subject crm:P24i_changed_ownership_through ?acquisition.
                          ?acquisition crm:P22_transferred_title_from|crm:P23_transferred_title_from ?value_uri.
                          ?value_uri rdfs:label ?label.
                      }
                      ?label bds:search ?history .
                      ?label bds:minRelevance \"0.3\"^^xsd:double.
                      ?label bds:matchAllTerms \"true\".
                      {{/ifCond}}
                      }LIMIT 1000
                    ",
                    "arguments": {
                    "secretInput":{"type": "xsd:string", "optional": true}
                    ,"title": {"type": "xsd:string"}
                    {{#ifCond creatorVisible "===" "true" }}
                    ,"creator": {"type": "xsd:anyURI"}
                    {{/ifCond}}
                    {{#ifCond materialVisible "===" "true" }}
                    ,"material": {"type": "xsd:anyURI"}
                    {{/ifCond}}
                    {{#ifCond techniqueVisible "===" "true" }}
                    ,"technique": {"type": "xsd:anyURI"}
                    {{/ifCond}}
                    {{#ifCond typeVisible "===" "true" }}
                    ,"type": {"type": "xsd:anyURI"}
                    {{/ifCond}}
                    {{#ifCond creationDateVisible "===" "true" }}
                    ,"creationDate": {"type": "xsd:date"}
                    {{/ifCond}}
                    {{#ifCond subjectVisible "===" "true" }}
                    ,"workSubject": {"type": "xsd:anyURI"}
                    {{/ifCond}}
                    {{#ifCond repositoryVisible "===" "true" }}
                    ,"repository": {"type": "xsd:anyURI"}
                    {{/ifCond}}
                    {{#ifCond historyVisible "===" "true" }}
                    ,"history": {"type": "xsd:string"}
                    {{/ifCond}}
                    }
                  }'
        fields='[
          { "id": "secretInput",
          "label": "Secret Input",
          "xsdDatatype": "xsd:string",
          "autosuggestionPattern": "
            PREFIX fts: <http://www.bigdata.com/rdf/fts#>
            SELECT DISTINCT ?value ?label  WHERE {
              ?value rdfs:label ?label
            }LIMIT 1"
          }
          ,{
            "id": "title",
            "label": "Title",
            "minOccurs":1,
            "maxOccurs":100,
            "xsdDatatype": "xsd:string"
          }
        {{#ifCond creatorVisible "===" "true" }}
          ,{
            "id": "creator",
            "label": "Creator",
            "minOccurs":1,
            "maxOccurs":100,
            "xsdDatatype": "xsd:anyURI",
            "autosuggestionPattern": "
              PREFIX fts: <http://www.bigdata.com/rdf/fts#>
              SELECT DISTINCT ?value ?label  WHERE {
                ?value fts:search ?__token__ .
                ?value fts:endpoint \"http://213.171.209.34:8983/solr/artists_weighted/select\".
                ?value fts:endpointType \"SOLR\" .
                ?value fts:params \"rows=10\" .
                ?value fts:searchField \"uri\" .
                ?value fts:fieldToSearch \"*\" .
                ?value fts:snippetField \"*\" .
                ?value fts:searchResultType \"URI\" ;
                <http://www.bigdata.com/rdf/fts#scoreField>    \"field_score\";
                <http://www.bigdata.com/rdf/fts#score>   ?score;
                rdfs:label ?label.
                FILTER EXISTS{ ?sub fr:Work_created_from_Artist ?value}
              }"
          }
          {{/ifCond}}
          {{#ifCond materialVisible "===" "true" }}
          ,{
            "id": "material",
            "label": "Material",
            "minOccurs":1,
            "maxOccurs":100,
            "xsdDatatype": "xsd:anyURI",
            "treePatterns": {
            "type": "full",
            "rootsQuery": "
            SELECT DISTINCT ?item ?label where {
              ?item a  fc:material.
              ?item a <http://vocab.getty.edu/ontology#Facet>.
              ?item <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
              FILTER ( lang(?label) = \"en\" ). 
              FILTER(EXISTS {  ?subject fr:Work_consists_of_Material ?item . }) .
            }order by ?label",
            
            "childrenQuery": "
              SELECT distinct ?item ?label ?hasChildren WHERE {
                ?item a  fc:material.
                ?item <http://vocab.getty.edu/ontology#broaderPreferred> ?parent.
                ?item <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
                FILTER ( lang(?label) = \"en\" ). 
                FILTER(EXISTS { ?subject fr:Work_consists_of_Material ?item . }) .
                BIND(bound(?item) as ?hasChildren)
              } order by ?label",
            "parentsQuery": "
            SELECT distinct ?item ?parent ?parentLabel WHERE {
              ?item a fc:material.
              ?item a <http://www.w3.org/2004/02/skos/core#ConceptScheme>.
              ?item  <http://vocab.getty.edu/ontology#broaderPreferred> ?parent.
              ?parent <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
              FILTER ( lang(?label) = \"en\" ). 
            }",
            "searchQuery":"
              SELECT DISTINCT ?hasChildren ?item ?label WHERE {
                ?item a fc:material.
                ?item <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
                ?label bds:search ?__token__ .
                ?label bds:minRelevance \"0.3\"^^xsd:double.
                ?label bds:matchAllTerms \"true\".
                ?child  <http://vocab.getty.edu/ontology#broaderPreferred> ?item.
                BIND(BOUND(?child) AS ?hasChildren)
                FILTER ( lang(?label) = \"en\" ). 
                FILTER(EXISTS { 
                  ?subject fr:Work_consists_of_Material ?item . 
                }) 
              }ORDER BY DESC (?label)
              "
              }
          }
          {{/ifCond}}
          {{#ifCond techniqueVisible "===" "true" }}
          ,{
            "id": "technique",
            "label": "Technique",
            "minOccurs":1,
            "maxOccurs":100,
            "xsdDatatype": "xsd:anyURI",
            "treePatterns": {
            "type": "full",
            "rootsQuery": "
            SELECT DISTINCT ?item ?label where {
              ?item a  fc:technique.
              ?item a <http://vocab.getty.edu/ontology#Facet>.
              ?item <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
              FILTER ( lang(?label) = \"en\" ). 
              FILTER(EXISTS {  ?subject fr:Work_produced_using_technique_Technique ?item . }) .
            }order by ?label",
            
            "childrenQuery": "
              SELECT distinct ?item ?label ?hasChildren WHERE {
                ?item a  fc:technique.
                ?item <http://vocab.getty.edu/ontology#broaderPreferred> ?parent.
                ?item <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
                FILTER ( lang(?label) = \"en\" ). 
                FILTER(EXISTS { ?subject fr:Work_produced_using_technique_Technique ?item . }) .
                BIND(bound(?item) as ?hasChildren)
              } order by ?label",
            "parentsQuery": "
            SELECT distinct ?item ?parent ?parentLabel WHERE {
              ?item a fc:technique.
              ?item a <http://www.w3.org/2004/02/skos/core#ConceptScheme>.
              ?item  <http://vocab.getty.edu/ontology#broaderPreferred> ?parent.
              ?parent <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
              FILTER ( lang(?label) = \"en\" ). 
            }",
            "searchQuery":"
              SELECT DISTINCT ?hasChildren ?item ?label WHERE {
                ?item a fc:technique.
                ?item <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
                ?label bds:search ?__token__ .
                ?label bds:minRelevance \"0.3\"^^xsd:double.
                ?label bds:matchAllTerms \"true\".
                ?child  <http://vocab.getty.edu/ontology#broaderPreferred> ?item.
                BIND(BOUND(?child) AS ?hasChildren)
                FILTER ( lang(?label) = \"en\" ). 
                FILTER(EXISTS { 
                  ?subject fr:Work_produced_using_technique_Technique ?item . 
                }) 
              }ORDER BY DESC (?label)
              "
              }
          }
          {{/ifCond}}
          {{#ifCond typeVisible "===" "true" }}
          ,{
            "id": "type",
            "label": "Type",
            "minOccurs":1,
            "maxOccurs":100,
            "xsdDatatype": "xsd:anyURI",
            "treePatterns": {
            "type": "full",
            "rootsQuery": "
            SELECT DISTINCT ?item ?label where {
              ?item a  crm:E55_Type.
              ?item a <http://vocab.getty.edu/ontology#Facet>.
              ?item <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
              FILTER ( lang(?label) = \"en\" ). 
              FILTER(EXISTS {  ?subject crm:P2_has_type ?item . }) .
            }order by ?label",
            
            "childrenQuery": "
              SELECT distinct ?item ?label ?hasChildren WHERE {
                ?item a  crm:E55_Type.
                ?item <http://vocab.getty.edu/ontology#broaderPreferred> ?parent.
                ?item <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
                FILTER ( lang(?label) = \"en\" ). 
                FILTER(EXISTS { ?subject crm:P2_has_type ?item . }) .
                BIND(bound(?item) as ?hasChildren)
              } order by ?label",
            "parentsQuery": "
            SELECT distinct ?item ?parent ?parentLabel WHERE {
              ?item a crm:E55_Type.
              ?item a <http://www.w3.org/2004/02/skos/core#ConceptScheme>.
              ?item  <http://vocab.getty.edu/ontology#broaderPreferred> ?parent.
              ?parent <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
              FILTER ( lang(?label) = \"en\" ). 
            }",
            "searchQuery":"
              SELECT DISTINCT ?hasChildren ?item ?label WHERE {
                ?item a crm:E55_Type.
                ?item <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
                ?label bds:search ?__token__ .
                ?label bds:minRelevance \"0.3\"^^xsd:double.
                ?label bds:matchAllTerms \"true\".
                ?child  <http://vocab.getty.edu/ontology#broaderPreferred> ?item.
                FILTER ( lang(?label) = \"en\" ). 
                BIND(BOUND(?child) AS ?hasChildren)
                FILTER(EXISTS { 
                  ?subject crm:P2_has_type ?item . 
                }) 
              }ORDER BY DESC (?label)
              "
              }
          }
          {{/ifCond}}
          {{#ifCond creationDateVisible "===" "true" }}
          ,{
            "id": "creationDate",
            "label": "Creation date",
            "minOccurs":1,
            "maxOccurs":100,
            "xsdDatatype": "xsd:date"
          }
          {{/ifCond}}
          {{#ifCond subjectVisible "===" "true" }}
          ,{
            "id": "workSubject",
            "label": "Subject",
            "minOccurs":1,
            "maxOccurs":100,
            "xsdDatatype": "xsd:anyURI",
            "autosuggestionPattern": "
              SELECT DISTINCT ?value ?label  WHERE {
                ?value a custom:subject.
                ?value rdfs:label ?label.
                ?label bds:search ?__token__ .
                ?label bds:minRelevance \"0.3\"^^xsd:double.
                ?label bds:matchAllTerms \"true\".
                FILTER(EXISTS { 
                  ?subject fr:Work_shows_Subject ?value . 
                }) 
              }ORDER BY DESC (?label)"
          }
          {{/ifCond}}
          {{#ifCond repositoryVisible "===" "true" }}
          ,{
            "id": "repository",
            "label": "Repository",
            "minOccurs":1,
            "maxOccurs":100,
            "xsdDatatype": "xsd:anyURI",
            "autosuggestionPattern": "
              SELECT DISTINCT ?value ?label  WHERE {
                ?value a fc:institution.
                ?value rdfs:label ?label.
                ?label bds:search ?__token__ .
                ?label bds:minRelevance \"0.3\"^^xsd:double.
                ?label bds:matchAllTerms \"true\".
                FILTER(EXISTS { 
                  ?subject fr:Work_kept_by_Institution ?value . 
                }) 
              }ORDER BY DESC (?label)"
          }
          {{/ifCond}}
          {{#ifCond historyVisible "===" "true" }}
          ,{
            "id": "history",
            "label": "History of ownership",
            "minOccurs":1,
            "maxOccurs":100,
            "xsdDatatype": "xsd:string"
          }
          {{/ifCond}}
      ]'
      >
      <div class="input-boxes">
        <div class="input-trigger-group">
          <semantic-form-text-input for="title"></semantic-form-text-input>
        </div>

        {{#ifCond creatorVisible "===" "true" }}
          <div
          class="input-trigger-group">
          <semantic-form-autocomplete-input
          for="creator"
        ></semantic-form-autocomplete-input>
          <mp-event-trigger
          id="remove-creator"
          data='{
          "creatorVisible":"false",
          "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
          "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
          "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
          "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
          "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
          "repositoryVisible":"{{#if repositoryVisible}}{{repositoryVisible}}{{else}}false{{/if}}",
          "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
          type="Component.TemplateUpdate"
          targets='["event-target-form-query"]'
        >
          <span class="fa fa-remove clickable"><strong>Remove</strong></span>
          </mp-event-trigger>
      </div>
      {{/ifCond}}
      {{#ifCond materialVisible "===" "true" }}
      <div class="input-trigger-group">
        <semantic-form-tree-picker-input
          for="material"
        ></semantic-form-tree-picker-input>
        <mp-event-trigger
        id="remove-material"
        data='{
        "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
        "materialVisible":"false",
        "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
        "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
        "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
        "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
        "repositoryVisible":"{{#if repositoryVisible}}{{repositoryVisible}}{{else}}false{{/if}}",
        "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-remove clickable"><strong>Remove</strong></span>
        </mp-event-trigger>
      </div>
      {{/ifCond}}

      {{#ifCond techniqueVisible "===" "true" }}
      <div class="input-trigger-group">
        <semantic-form-tree-picker-input
          for="technique"
        ></semantic-form-tree-picker-input>
        <mp-event-trigger
        id="remove-technique"
        data='{
        "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
        "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
        "techniqueVisible":"false",
        "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
        "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
        "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
        "repositoryVisible":"{{#if repositoryVisible}}{{repositoryVisible}}{{else}}false{{/if}}",
        "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-remove clickable"><strong>Remove</strong></span>
        </mp-event-trigger>
      </div>
      {{/ifCond}}

      {{#ifCond typeVisible "===" "true" }}
      <div class="input-trigger-group">
        <semantic-form-tree-picker-input
          for="type"
        ></semantic-form-tree-picker-input>
        <mp-event-trigger
        id="remove-type"
        data='{
        "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
        "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
        "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
        "typeVisible":"false",
        "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
        "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
        "repositoryVisible":"{{#if repositoryVisible}}{{repositoryVisible}}{{else}}false{{/if}}",
        "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-remove clickable"><strong>Remove</strong></span>
        </mp-event-trigger>
      </div>
      {{/ifCond}}

      {{#ifCond creationDateVisible "===" "true" }}
      <div class="input-trigger-group">
        <semantic-form-datetime-input
          for="creationDate"
        ></semantic-form-datetime-input>
        <mp-event-trigger
        id="remove-creationDate"
        data='{
        "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
        "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
        "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
        "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
        "creationDateVisible":"false",
        "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
        "repositoryVisible":"{{#if repositoryVisible}}{{repositoryVisible}}{{else}}false{{/if}}",
        "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-remove clickable"><strong>Remove</strong></span>
        </mp-event-trigger>
      </div>
      {{/ifCond}}

      {{#ifCond subjectVisible "===" "true" }}
      <div class="input-trigger-group">
        <semantic-form-autocomplete-input
          for="workSubject"
        ></semantic-form-autocomplete-input>
        <mp-event-trigger
        id="remove-subject"
        data='{
        "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
        "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
        "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
        "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
        "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
        "subjectVisible":"false",
        "repositoryVisible":"{{#if repositoryVisible}}{{repositoryVisible}}{{else}}false{{/if}}",
        "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-remove clickable"><strong>Remove</strong></span>
        </mp-event-trigger>
      </div>
      {{/ifCond}}

      {{#ifCond repositoryVisible "===" "true" }}
      <div class="input-trigger-group">
        <semantic-form-autocomplete-input
          for="repository"
        ></semantic-form-autocomplete-input>
        <mp-event-trigger
        id="remove-repository"
        data='{
        "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
        "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
        "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
        "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
        "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
        "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
        "repositoryVisible":"false",
        "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-remove clickable"><strong>Remove</strong></span>
        </mp-event-trigger>
      </div>
      {{/ifCond}}

      {{#ifCond historyVisible "===" "true" }}
      <div class="input-trigger-group">
        <semantic-form-text-input
          for="history"
        ></semantic-form-text-input>
        <mp-event-trigger
        id="remove-history"
        data='{
        "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
        "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
        "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
        "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
        "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
        "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
        "repositoryVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}",
        "historyVisible":"false"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-remove clickable"><strong>Remove</strong></span>
        </mp-event-trigger>
      </div>
      {{/ifCond}}

      {{#ifCond creatorVisible "!==" "true" }}
              <mp-event-trigger
        id="add-creator"
        data='{
        "creatorVisible":"true",
        "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
        "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
        "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
        "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
        "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
        "repositoryVisible":"{{#if repositoryVisible}}{{repositoryVisible}}{{else}}false{{/if}}",
        "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-plus clickable"><strong>Add Creator</strong></span>
        </mp-event-trigger>
      {{/ifCond}}
      {{#ifCond materialVisible "!==" "true" }}
     
              <mp-event-trigger
        id="add-material"
        data='{
          "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
          "materialVisible":"true",
          "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
          "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
          "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
          "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
          "repositoryVisible":"{{#if repositoryVisible}}{{repositoryVisible}}{{else}}false{{/if}}",
          "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-plus clickable"><strong>Add Material</strong></span>
        </mp-event-trigger>
      {{/ifCond}}
      {{#ifCond techniqueVisible "!==" "true" }}
     
              <mp-event-trigger
        id="add-technique"
        data='{
          "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
          "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
          "techniqueVisible":"true",
          "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
          "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
          "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
          "repositoryVisible":"{{#if repositoryVisible}}{{repositoryVisible}}{{else}}false{{/if}}",
          "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-plus clickable"><strong>Add Technique</strong></span>
        </mp-event-trigger>
      {{/ifCond}}
      {{#ifCond typeVisible "!==" "true" }}
     
              <mp-event-trigger
        id="add-type"
        data='{
          "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
          "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
          "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
          "typeVisible":"true",
          "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
          "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
          "repositoryVisible":"{{#if repositoryVisible}}{{repositoryVisible}}{{else}}false{{/if}}",
          "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-plus clickable"><strong>Add Type</strong></span>
        </mp-event-trigger>
      {{/ifCond}}
      {{#ifCond creationDateVisible "!==" "true" }}
     
      <mp-event-trigger
        id="remove-creationDate"
        data='{
          "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
          "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
          "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
          "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
          "creationDateVisible":"true",
          "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
          "repositoryVisible":"{{#if repositoryVisible}}{{repositoryVisible}}{{else}}false{{/if}}",
          "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-plus clickable"><strong>Add Creation Date </strong></span>
        </mp-event-trigger>
      {{/ifCond}}
      {{#ifCond subjectVisible "!==" "true" }}
     
              <mp-event-trigger
        id="remove-subject"
        data='{
          "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
          "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
          "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
          "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
          "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
          "subjectVisible":"true",
          "repositoryVisible":"{{#if repositoryVisible}}{{repositoryVisible}}{{else}}false{{/if}}",
          "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-plus clickable"><strong>Add Subject </strong></span>
        </mp-event-trigger>
      {{/ifCond}}
      {{#ifCond repositoryVisible "!==" "true" }}
     
              <mp-event-trigger
        id="remove-repository"
        data='{
          "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
          "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
          "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
          "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
          "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
          "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
          "repositoryVisible":"true",
          "historyVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-plus clickable"><strong>Add Repository </strong></span>
        </mp-event-trigger>
      {{/ifCond}}
      {{#ifCond historyVisible "!==" "true" }}
     
              <mp-event-trigger
        id="remove-creator"
        data='{
          "creatorVisible":"{{#if creatorVisible}}{{creatorVisible}}{{else}}false{{/if}}",
          "materialVisible":"{{#if materialVisible}}{{materialVisible}}{{else}}false{{/if}}",
          "techniqueVisible":"{{#if techniqueVisible}}{{techniqueVisible}}{{else}}false{{/if}}",
          "typeVisible":"{{#if typeVisible}}{{typeVisible}}{{else}}false{{/if}}",
          "creationDateVisible":"{{#if creationDateVisible}}{{creationDateVisible}}{{else}}false{{/if}}",
          "subjectVisible":"{{#if subjectVisible}}{{subjectVisible}}{{else}}false{{/if}}",
          "repositoryVisible":"{{#if historyVisible}}{{historyVisible}}{{else}}false{{/if}}",
          "historyVisible":"true"}'
        type="Component.TemplateUpdate"
        targets='["event-target-form-query"]'
      >
        <span class="fa fa-plus clickable"><strong>Add History of Ownership</strong></span>
        </mp-event-trigger>
      {{/ifCond}}
    </div>
      <semantic-form-hidden-input for="secretInput" default-value='nope'></semantic-form-hidden-input>
        <button type="button" name="submit" class="btn btn-secondary">
          Search   <span class="fa fa-search" style="margin-left:5px"></span>
        </button>
      </semantic-search-form-query>
    </div>
    </template>
    </mp-event-target-template-render>
    <div class="row">
      <bs-col lg="9" md="8" sm="7"
      class="results-container"
      >
        <semantic-search-result-holder>
          <div>
          <semantic-search-result>
            <semantic-query
              id="view-more"
              query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {
              } LIMIT 1'
              template="{{>currentResultCount}}"
            >
              <template id="currentResultCount">
                <h2>
                    Found {{bindings.0.count.value}} relevant results
                </h2>
              </template>
            </semantic-query>
            <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
            <bs-tabs
            default-active-key="1"
            unmount-on-exit="true"
            id="search-results"
            animation="false"
            class="tabs-right"
          >
            <bs-tab event-key="1" title="List">
              <div id='artwork-filter-search-inline'>
              <semantic-table
              id="grid-result"
              query='SELECT DISTINCT ?subject WHERE {
              }LIMIT 100'
              number-of-displayed-rows="10"
              tuple-template="{{> subjectCellTemplate}}"
              options='{"showTableHeading": false, "showFilter":false}'
              no-result-template='[[> :CardNoResult ]]'
            >
              <template id="subjectCellTemplate">
                <semantic-context repository='default'>
                  [[> :CardArtwork]]
                </semantic-context>
              </template>
            </semantic-table>
            </div>
          </bs-tab>
            <bs-tab event-key="2" title="Tabular">
              <div id="tableView">
                [[> :SearchResultTableWorkSolr]]
              </div>
            </bs-tab>
            </bs-tabs>
          </semantic-search-result>
          </div>
        </semantic-search-result-holder>
      </bs-col>
    <bs-col
      lg="3"
      md="4"
      sm="5"
      class="fade-in-fwd filters-container"
      style="margin-top: 8px"
      id="artwork-filter-search"
    >
    <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
      <semantic-search-facet open-by-default="true"></semantic-search-facet>
    </bs-panel>
    </bs-col>

    </div>

  </semantic-search>
</semantic-context>
<style>
  .navbar-default {
    box-shadow: none !important;
  }
  .input-trigger-group {
    margin-bottom: 40px;
  }
  .form-head {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .input-trigger-group {
      /* margin-bottom: 40px;
      box-shadow: 0px 0px 10px 1px #dedede;
      padding: 10px;
      border-radius: 5px; */

      margin-bottom: 40px;
    border: 1px solid #ededed;
    padding: 10px;
    border-radius: 5px;

  }
.clickable{
  cursor: pointer;
}

  span.fa.fa-remove.clickable{
    margin-top: 25px;
  }
  span.fa.fa-remove strong {
    margin-left: 5px;
}

span.fa.fa-repeat.clickable{
    margin-top: 25px;
  }
  span.fa.fa-repeat strong {
    margin-left: 5px;
}

span.fa.fa-plus{
  font-size: 16px;
  margin-top: 20px;
  margin-right: 60px;
  margin-bottom: 20px;
}

h2 {
  font-weight: 500;
}
/* .input-boxes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
} */
.results-container:empty + .filters-container{
  display: none !important;

}
.semantic-form {
    height: fit-content;
}
.semantic-form + .row{
  margin-top: 50px;
}
button.btn.btn-secondary {
    height: 45px;
    width: 115px;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    background: #ffffff;
}
button.btn.btn-secondary:active {
box-shadow: none !important;
-webkit-box-shadow: none !important;
}
button.btn.btn-secondary:hover {
box-shadow: none !important;
-webkit-box-shadow: none !important;
}

</style>