<div class="row row-center">
  <div
    id="main-containers"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Built Works from the Middle East</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> :FilterSearchCollection domain="<https://pharos.artresearch.net/resource/fc/work>"  searchQuery='{ ?subject crm:P2_has_type <http://forum.jstor.org/oai/AAT/300265418>. } UNION { ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300265418>. ?ogs owl:sameAs ?subject. ?ogs <http://www.cidoc-crm.org/cidoc-crm/P55_has_current_location> ?loc. ?loc crm:P89_falls_within ?country. { ?country rdfs:label "Ägypten". } UNION { ?country rdfs:label "Ägypten / Sudan". } UNION { ?country rdfs:label "Irak". } UNION { ?country rdfs:label "Iran". } UNION { ?country rdfs:label "Israel". } UNION { ?country rdfs:label "Israel & Staat Palästina". } UNION { ?country rdfs:label "Jordanien". } UNION { ?country rdfs:label "Libanon". } UNION { ?country rdfs:label "Palästinensische Autonomiegebiete". } UNION { ?country rdfs:label "Syrien". } UNION { ?country rdfs:label "Türkei". } }' ]]
  </div>
</div>