
<div id="partner-page">
  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
          <h1 style="margin-left: 13vw; display: flex;">Documentation for&nbsp<div style="color: #dd3737;">art</div>research.net</h1>
    </div>
     <h1 style="margin-left: 13vw" class="display-13">We have created a documentation for your better experience in our artreaserch and vision platforms</h1>
    <div class="card-list">
      <mp-link url="/resource/">
        <div class="card partner-card">
          <img class="partner-photo" src="/assets/images/media/.png" />
          <div class="title">Simple Search</div>
        </div>
      </mp-link>
      <mp-link url="/resource/">
        <div class="card partner-card">
          <img class="partner-photo" src="/assets/images/media/.png" />
          <div class="title">Advance Search</div>
        </div>
      </mp-link>
      <mp-link url="/resource/">
        <div class="card partner-card">
          <img class="partner-photo" src="/assets/images/media/.png" />
          <div class="title">Contextual Search</div>
        </div>
      </mp-link>
    </div>
     <div class="card-list">
      <mp-link url="/resource/">
        <div class="card partner-card">
          <img class="partner-photo" src="/assets/images/media/.png" />
          <div class="title">Compare images with IIIF tool</div>
        </div>
      </mp-link>
      <mp-link url="/resource/">
        <div class="card partner-card">
          <img class="partner-photo" src="/assets/images/media/.png" />
          <div class="title">View Statistics</div>
        </div>
      </mp-link>
      <mp-link url="/resource/">
        <div class="card partner-card">
          <img class="partner-photo" src="/assets/images/media/.png" />
          <div class="title">Become a partner HERE!</div>
        </div>
      </mp-link>
    </div>
    
    <div class="card-list">
      <mp-link url="/resource/">
        <div class="card partner-card">
          <img class="partner-photo" src="/assets/images/media/.png" />
          <div class="title">Compare images with IIIF tool</div>
        </div>
      </mp-link>
      <mp-link url="/resource/">
        <div class="card partner-card">
          <img class="partner-photo" src="/assets/images/media/.png" />
          <div class="title">View Statistics</div>
        </div>
      </mp-link>
      <mp-link url="/resource/">
        <div class="card partner-card">
          <img class="partner-photo" src="/assets/images/media/.png" />
          <div class="title">Become a partner HERE!</div>
        </div>
      </mp-link>
    </div>
</div>