<!-- To enable source icons, simply add showSourceIcon="true" -->
{{#if noData}}
<div class="table-responsive rs-table">
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>No data available</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{{else}}
<div class="table-responsive rs-table">
  <table class="table table-hover">
    <!-- <thead>
      <tr>
        <th scope="col" style="width: 30%">Field</th>
        <th scope="col">Value</th>
      </tr>
    </thead>-->
    <tbody>
      {{#each fields as |field|}} {{#if field.values}}
      <tr class="rs-page-resource__field">
        <td class="rs-page-resource__field-label-holder">
          <span class="rs-page-resource__field-label">
            {{field.label.0.value}}
          </span>
        </td>
        {{#ifCond (objectLength field.values) '===' 1}}
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>
                {{#each field.values as |value|}}
                <span class="rs-page-resource__field-value"
                  >{{> rsp:ResourceFieldValueVisualization field=field
                  value=value }}
                </span>
                {{/each}}
              </td>
              [[#if showSourceIcon]]
              <td>
                <div class="sourceIcons">
                  {{#each field.values as |value|}} [[> rsp:SourceIcon ]]
                  {{/each}}
                </div>
              </td>
              [[/if]]
              <td class="center rs-page__count--title">
                <div class="rs-page__count--field-annotation">
                  <semantic-link
                    title="View existing annotations"
                    uri="http://www.researchspace.org/resource/Field"
                    urlqueryparam-tab="annotations"
                    urlqueryparam-field="test"
                    urlqueryparam-subject="test"
                  >
                    <semantic-context repository="assets">
                      <semantic-query
                        query="SELECT (COUNT(DISTINCT ?annotation) AS ?count) WHERE {
                              BIND(0 as ?count) .
                            }"
                        template="{{> template}}"
                      >
                        <template id="template">
                          <span
                            class='fa-pencil fa badge{{#ifCond bindings.0.count.value ">" 0}} active{{/ifCond}}'
                            >{{bindings.0.count.value}}</span
                          >
                        </template>
                      </semantic-query>
                    </semantic-context>
                  </semantic-link>
                </div>
              </td>
              <td class="center rs-page__count--title">
                <div class="rs-page__count--field-assertion">
                  <semantic-link
                    title="View existing assertions"
                    uri="http://www.researchspace.org/resource/Field"
                    urlqueryparam-field="test"
                    urlqueryparam-subject="test"
                  >
                    <semantic-context repository="assets">
                      <semantic-query
                        query="
                            SELECT * WHERE {
                              BIND(0 as ?count)
                            }LIMIT 1
                          "
                        template="{{> template}}"
                      >
                        <template id="template">
                          <span
                            class='fa fa-commenting-o badge{{#ifCond bindings.0.count.value ">" 0}} active{{/ifCond}}'
                            >{{bindings.0.count.value}}</span
                          >
                        </template>
                      </semantic-query>
                    </semantic-context>
                  </semantic-link>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        {{/ifCond}} {{#ifCond (objectLength field.values) '>' 1}}
        <table class="table table-hover">
          <tbody>
            {{#each field.values as |value|}}
            <tr class="rs-page-resource__field">
              <td class="multivalueTd rs-page-resource__field">
                <div style="display: flex; flex-direction: column">
                  <td>
                    <span class="rs-page-resource__field-value"
                      >{{> rsp:ResourceFieldValueVisualization field=field
                      value=value }}
                    </span>
                  </td>
                </div>
              </td>
              [[#if showSourceIcon]]
              <td>
                <div class="sourceIcons">[[> rsp:SourceIcon ]]</div>
              </td>
              <td class="center rs-page__count--title">
                <div class="rs-page__count--field-annotation">
                  <semantic-link
                    title="View existing annotations"
                    uri="http://www.researchspace.org/resource/Field"
                    urlqueryparam-tab="annotations"
                    urlqueryparam-field="test"
                    urlqueryparam-subject="test"
                  >
                    <semantic-context repository="assets">
                      <semantic-query
                        query="SELECT (COUNT(DISTINCT ?annotation) AS ?count) WHERE {
                              BIND(0 as ?count) .
                            }"
                        template="{{> template}}"
                      >
                        <template id="template">
                          <span
                            class='fa-pencil fa badge{{#ifCond bindings.0.count.value ">" 0}} active{{/ifCond}}'
                            >{{bindings.0.count.value}}</span
                          >
                        </template>
                      </semantic-query>
                    </semantic-context>
                  </semantic-link>
                </div>
              </td>
              <td class="center rs-page__count--title">
                <div class="rs-page__count--field-assertion">
                  <semantic-link
                    title="View existing assertions"
                    uri="http://www.researchspace.org/resource/Field"
                    urlqueryparam-field="test"
                    urlqueryparam-subject="test"
                  >
                    <semantic-context repository="assets">
                      <semantic-query
                        query="
                            SELECT * WHERE {
                              BIND(0 as ?count)
                            }LIMIT 1
                          "
                        template="{{> template}}"
                      >
                        <template id="template">
                          <span
                            class='fa fa-commenting-o badge{{#ifCond bindings.0.count.value ">" 0}} active{{/ifCond}}'
                            >{{bindings.0.count.value}}</span
                          >
                        </template>
                      </semantic-query>
                    </semantic-context>
                  </semantic-link>
                </div>
              </td>
              [[/if]]
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{/ifCond}}
      </tr>
      {{/if}} {{/each}}
    </tbody>
  </table>
</div>
{{/if}}
<style>
  .rs-page-resource__field-label {
    font-size: medium !important;
    font-weight: 600;
    color: #616161;
  }

  .sourceIcons {
    display: flex;
    flex-direction: column;
  }
  .multivalueTd {
    padding: 0 !important;
  }
  .visualizationValue {
    font-size: medium !important;
    min-width: 20vw;
  }
  #search-results .rs-grid-element a {
    color: #6b0000 !important;
  }
  .visualizationValue a {
    color: #6b0000 !important;
    text-decoration: none !important;
  }
  .rs-page-resource__field-value {
    white-space: normal !important;
  }
  .sourceIcon {
    height: 18px;
    width: 18px;
    padding: 2px;
    margin: 4px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 1px 1px 3px 1px #e7e7e7;
  }

  .fa:before {
    margin-right: 2px;
  }
  .badge {
    background: transparent !important;
  }
  .rs-page__count--title{
    padding: 0 !important;
  }
  .rs-page__count--field-assertion a {
    text-decoration: none !important;
  }
  .rs-page__count--field-annotation a {
    text-decoration: none !important;
  }
</style>
