<semantic-query
id="count-artist"
query='SELECT (COUNT( DISTINCT ?subject) as ?count) WHERE {
  {{#ifCond withImages "===" "true"}}
    {
      ?photo crm:P129i_is_subject_of ?fullsizeImgUrl.
      ?subject fr:Work_depicted_by_Photo ?photo.
    }UNION{
      ?subject fr:Work_depicted_by_Photo ?photo.
    }
   {{/ifCond}}
  FILTER NOT EXISTS{?subject a custom:photographer}.
  }'
template="{{>currentResultCount}}"
>
<template id="currentResultCount">
  <h2>
    {{#ifCond bindings.0.count.value "==" 10000}}
    Found more than 10000 matches, please refine your search using filters
    {{else}}
      Found {{bindings.0.count.value}} matches
    {{/ifCond}}
  </h2>
</template>
</semantic-query>