<div class="row">
        <bs-col
        lg="3"
        md="4"
        sm="5"
        class="fade-in-fwd filters-container"
        style="margin-top: 8px"
      >
      <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
        <semantic-search-facet open-by-default='true' sortby='count-desc'></semantic-search-facet>
      </bs-panel>
      </bs-col>
      <bs-col lg="9" md="8" sm="7">
          <semantic-search-result-holder>
            <bs-tabs unmount-on-exit="true" id="search-results" animation="false">
              <bs-tab event-key="2" title="Grid">
                <div>
                  <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
                  <semantic-search-result id="semantic-search-result">
                    [[> SearchResultCount]]
                  </semantic-search-result>
                  <mp-event-target-template-render
                  id="event-target-tables"
                  template="{{> tableEventTargetTemplate}}"
                >
                  <template id="tableEventTargetTemplate">
                <semantic-search-result>
                  <div id="card-results">
                    <bs-tab-container
                      id="tab-container"
                      class="page__body-navtabs--borderless"
                      default-active-key="all"
                    >
                      <div>
                        <bs-nav bs-style="tabs">
                          <bs-nav-item event-key="all">All</bs-nav-item>
                          <bs-nav-item event-key="photosOnly"
                            >Must include photograph</bs-nav-item
                          >
                        </bs-nav>

                        <bs-tab-content unmount-on-exit="true">
                          <bs-tab-pane event-key="all">
                            <semantic-table
                              id="grid-result"
                              options='{
                            "showFilter":false
                          }'
                              number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}10{{/if}}"
                              query="
                              SELECT DISTINCT ?subject 
                              WHERE {
                                ?subject rdfs:label ?label.
                              }ORDER BY DESC(?label) LIMIT 1000 
                      "
                              no-result-template='[[> CardNoResult ]]'
                              tuple-template="{{>tupleTemplate}}"
                            >
                              <template id="tupleTemplate">
                                <semantic-context repository='default'>
                                  [[> CardArtwork]]
                                </semantic-context>
                              </template>
                            </semantic-table>
                          </bs-tab-pane>
                          <bs-tab-pane event-key="photosOnly">
                            <semantic-table
                              id="grid-result-2"
                              options='{
                            "showFilter":false
                          }'
                              number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}10{{/if}}"
                              query="
                        SELECT DISTINCT ?subject
                        WHERE {
                          ?subject fr:Work_depicted_by_Photo ?photo.
                          ?photo crm:P129i_is_subject_of ?image.
                        }LIMIT 1000
                      "
                              no-result-template='[[> CardNoResult ]]'
                              tuple-template="{{>tupleTemplate}}"
                            >
                              <template id="tupleTemplate">
                                <semantic-context repository='default'>
                                  [[> CardArtwork]]
                                </semantic-context>
                              </template>
                            </semantic-table>
                          </bs-tab-pane>
                            [[> NumberOfRowsSelector]]
                        </bs-tab-content>
                      </div>
                    </bs-tab-container>
                  </div>
                </semantic-search-result>
                </template>
                </mp-event-target-template-render>
                </div>
              </bs-tab>
            </bs-tabs>
          </semantic-search-result-holder>
        </bs-col>
      </div>
  