<semantic-query
id="count-artist"
query='SELECT (COUNT( DISTINCT ?subject) as ?count) WHERE {
  [[#if withImages]]
  {
    ?subject crm:P129i_is_subject_of ?fullsizeImgUrl.
    ?subject a cfc:photo
  }UNION{
    ?subject fr:Work_depicted_by_Photo ?photo.
    ?photo crm:P129i_is_subject_of ?fullsizeImgUrl.
     ?subject a fc:work
   }
  [[/if]]
  }'
template="{{>currentResultCount}}"
>
<template id="currentResultCount">
  <div>
      <h2>
                Found
                {{#ifCond bindings.0.count.value "==" 1000 }}
                   more than 1000 matches, please refine your search
                {{else}}
                  {{bindings.0.count.value}} matches 
                {{/ifCond}}
              </h2>
              <small>
                Displaying 
                {{#ifCond bindings.0.count.value ">=" 1000 }}
                the first 1000 results
                {{else}}
                all results
                {{/ifCond}}
              </small>
  </div>
</template>
</semantic-query>
<div class="animated-background-xs"></div>