<div
class="rs-page__summary-image summaryImages summary-image-with-thumbs"
>
  <div class="summary-image-main">
    <mp-event-target-template-render
      id="event-target"
      template="{{> mainImageTemplate}}"
    >
      <template id="mainImageTemplate">
        <div class="mainImageTemplateWrapper">
        <semantic-query
          query='SELECT DISTINCT ?rectoVersoImage ?rectoVersoImageThumbnail ?imageManifest WHERE{
            # Previously we selected only rectos, now we expand to include versos
            {{#ifCond image "===" undefined}}
              ?photo crm:P129i_is_subject_of <{{bindings.0.image.value}}>; #Default first
                {{else}}
              ?photo crm:P129i_is_subject_of <{{image}}>; #User clicked on a thumbnail
            {{/ifCond}}
            crm:P129i_is_subject_of ?rectoVersoImage.
            ?rectoVersoImage crm:P2_has_type ?type.
            ?type rdfs:label ?typeLabel.
            OPTIONAL{
              ?rectoVersoImage crm:P129i_is_subject_of ?imageManifest.
              FILTER NOT EXISTS{
                ?imageManifest crm:P2_has_type <https://pharos.artresearch.net/resource/hertziana/type/presentation_api_manifest>
              }
            }
            FILTER(?typeLabel = "verso" || ?typeLabel = "recto"  ).
            BIND(REPLACE(STR(?rectoVersoImage),"full/full","full/!350,350") AS ?rectoVersoImageThumbnail).
          }ORDER BY ASC(?typeLabel)'
          template="{{> mediumImageSize}}"
        >
          <template id="mediumImageSize">
            <div class="mediumImageSizeWrapper">
              <mp-overlay-dialog title="‎‎" type="lightbox">
                <mp-overlay-dialog-trigger>
                  <div class="summary-image-main imageAndSourceContainer">  
                    <semantic-query
                      query="     
                      SELECT ?providerLabel WHERE{   
                        # Get the little icon on the top left to please providers
                        ?photo crm:P129i_is_subject_of <{{bindings.0.rectoVersoImage.value}}>.
                        ?photo custom:has_provider ?provider.
                        ?provider rdfs:label ?providerLabel.
                      }limit 1
                      "
                      template="{{> imageSourceIcon}}"
                    >
                      <template id="imageSourceIcon">
                        <div class="imageSourceIconWrapper">
                        <div class="imageSourceIcon fade-in">
                          <img
                            title="{{bindings.0.providerLabel.value}}"
                            class="sourceIcon"
                            src="../../assets/images/{{bindings.0.providerLabel.value}}.ico"
                          />
                        </div>
                      </div>
                      </template>
                    </semantic-query>
                    <div class="animated-background imageSourceIconWrapper"></div>
                      {{#each bindings}}
                        <img
                          class="imageThumbnailSingle"
                          alt="Issue with image provider"
                          src="{{rectoVersoImageThumbnail.value}}"
                        />
                      {{/each}}
                  </div>
                </mp-overlay-dialog-trigger>
                <mp-overlay-dialog-content>
                  {{#ifCond  bindings.0.imageManifest.value "!==" undefined}}
                    [[> :SummaryImagesWorkIIIFModal]]
                  {{else}}
                    [[> :SummaryImagesWorkImageModal]]
                  {{/ifCond}}
                </mp-overlay-dialog-content>
              </mp-overlay-dialog>
              </div>
            </template>
          </semantic-query>
          <div class="animated-background mediumImageSizeWrapper"></div>
        </div>
      </template>
      <div class="animated-background mainImageTemplateWrapper"></div>
    </mp-event-target-template-render>
  </div>
  <div class="summary-image-thumbs">
    {{#ifCond (objectLength bindings) ">" 1 }}
      {{#each bindings}}
          <mp-event-trigger
            id="event-trigger"
            type="Component.TemplateUpdate"
            data='{"image":"{{image.value}}"}'
            targets='["event-target"]'
          >
            <img
              class="object-representations__image--rep smallThumbsSingle"
              src="{{thumbnail.value}}"
            />
          </mp-event-trigger>
      {{/each}}
    {{/ifCond}}
  </div>
</div>