{
  "rootsQuery": "
  SELECT DISTINCT ?item ?label where {
    ?item a  ?__range__.
    ?item rdfs:label ?label
    FILTER(EXISTS { ?subject ?__relation__ ?item . }) .
   }order by ?label",
   
  "childrenQuery": "
    SELECT distinct ?item ?label ?hasChildren WHERE {
      OPTIONAL { 
        ?item a  ?__range__.
        SERVICE <http://213.171.209.34:10085/blazegraph/sparql> {
          ?child  <http://www.geonames.org/ontology#parentCountry>  ?item.
        }
      }
      FILTER(EXISTS { ?subject ?__relation__ ?item . }) .
      BIND(bound(?child) as ?hasChildren)
    } order by ?label",
  "parentsQuery": "
  SELECT distinct ?item ?parent ?parentLabel WHERE {
      ?item a  ?__range__.
      SERVICE <http://213.171.209.34:10085/blazegraph/sparql> {
        ?item  <http://www.geonames.org/ontology#parentCountry>  ?parent.
        ?parent <http://www.geonames.org/ontology#name> ?parentLabel
      }
    }",
  "searchQuery":"
     SELECT DISTINCT ?hasChildren ?item ?label WHERE {
       ?item a ?__range__.
       ?item rdfs:label ?label.
       ?label bds:search ?__token__ .
       ?label bds:minRelevance \"0.3\"^^xsd:double.
       ?label bds:matchAllTerms \"true\".
       OPTIONAL { 
         SERVICE <http://213.171.209.34:10085/blazegraph/sparql> {
           ?item  <http://www.geonames.org/ontology#parentCountry>  ?child.
          }
        }
      FILTER(EXISTS { ?subject ?__relation__ ?item . }) .
      BIND(BOUND(?child) AS ?hasChildren)
     }ORDER BY DESC (?label)
     "
}