<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Artworks depicting Madonna and Child</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> FilterSearchCollection domain="<https://artresearch.net/resource/fc/work>"  searchQuery='?subject fr:Work_shows_Subject ?suggestion. ?suggestion a cfc:subject. ?subject a fc:work. ?suggestion rdfs:label ?label. FILTER REGEX(?label,"madonna.*(child|bambino)","i")' ]]
  </div>
</div>