<div class="form-head" style="margin-top:0 ;">
  <mp-event-trigger
  id="reset-form"
  data='{}'
  type="Component.TemplateUpdate"
  targets='["event-target-form-query"]'
  >
  <span class="fa fa-repeat clickable"><strong >Reset form</strong></span>
  </mp-event-trigger>
  </div>
  <semantic-context repository='ephedra'>
    <semantic-search
    relations='[[> :SearchSimpleRelations]]'
    search-profile='[[> :SearchSimpleProfile]]'
    >
      <mp-event-target-template-render
      id="event-target-form-query"
      template="{{> tableEventTargetFormQueryTemplate}}"
    >  <template id="tableEventTargetFormQueryTemplate"> 
      <div class="advanced-search-form">
        <semantic-search-form-query
        multi=true
        domain='<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>'
        query-template='{
                      "queryString": "
                        PREFIX solr: <http://custom.solr/ontology#>
                        SELECT ?subject WHERE {
                        {{#ifCond photographerHidden "!==" "true" }}
                            ?subject fr:Photo_created_by_Photographer ?photographer .
                        {{/ifCond}}
                        {{#ifCond techniqueHidden "!==" "true" }}
                        ?subject fr:Photo_produced_using_Technique ?technique .
                        {{/ifCond}}
                        {{#ifCond repositoryHidden "!==" "true" }}
                        ?subject fr:Photo_kept_by_Institution ?repository.
                        {{/ifCond}}
                        {{#ifCond creationDate "!==" "true" }}
                        ?subject fr:Photo_from_Date ?date.
                         FILTER(?date >= ?creationDateFrom)
                         FILTER(?date <= ?creationDateTo)
                        {{/ifCond}}
                        }LIMIT 1000
                      ",
                      "arguments": {
                      "secretInput":{"type": "xsd:string", "optional": true}
                      {{#ifCond photographerHidden "!==" "true" }}
                        ,"photographer": {"type": "xsd:anyURI"}
                      {{/ifCond}}
                      {{#ifCond techniqueHidden "!==" "true" }}
                      ,"technique": {"type": "xsd:anyURI"}
                      {{/ifCond}}
                      {{#ifCond creationDate "!==" "true" }}
                      ,"creationDateFrom": {"type": "xsd:date"}
                      ,"creationDateTo": {"type": "xsd:date"}
                      {{/ifCond}}
                      {{#ifCond repositoryHidden "!==" "true" }}
                      ,"repository": {"type": "xsd:anyURI"}
                      {{/ifCond}}
                      }
                    }'
          fields='[
            { "id": "secretInput",
            "label": "Secret Input",
            "xsdDatatype": "xsd:string",
            "autosuggestionPattern": "
              PREFIX fts: <http://www.bigdata.com/rdf/fts#>
              SELECT DISTINCT ?value ?label  WHERE {
                ?value rdfs:label ?label
              }LIMIT 1"
            }
            {{#ifCond photographerHidden "!==" "true" }}
            ,{
              "id": "photographer",
              "label": "Photographer",
              "minOccurs":1,
              "maxOccurs":100,
              "xsdDatatype": "xsd:anyURI",
              "autosuggestionPattern": "
                PREFIX fts: <http://www.bigdata.com/rdf/fts#>
                SELECT DISTINCT ?value ?label  WHERE {
                  ?value rdfs:label ?label.
                  ?label bds:search ?__token__ .
                  ?label bds:minRelevance \"0.3\"^^xsd:double.
                  ?label bds:matchAllTerms \"true\".
                  FILTER EXISTS{ ?sub fr:Photo_created_by_Photographer ?value}
                }order by ?label"
            }
            {{/ifCond}}
            {{#ifCond techniqueHidden "!==" "true" }}
            ,{
              "id": "technique",
              "label": "Technique",
              "minOccurs":1,
              "maxOccurs":100,
              "xsdDatatype": "xsd:anyURI",
              "treePatterns": {
              "type": "full",
              "rootsQuery": "
              SELECT DISTINCT ?item ?label where {
                ?item a  fc:technique.
                ?item a <http://vocab.getty.edu/ontology#Facet>.
                ?item <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
                FILTER ( lang(?label) = \"en\" ). 
                FILTER(EXISTS {  ?subject fr:Photo_produced_using_Technique ?item . }) .
              }order by ?label",
              
              "childrenQuery": "
                SELECT distinct ?item ?label ?hasChildren WHERE {
                  ?item a  fc:technique.
                  ?item <http://vocab.getty.edu/ontology#broaderPreferred> ?parent.
                  ?item <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
                  FILTER ( lang(?label) = \"en\" ). 
                  FILTER(EXISTS { ?subject fr:Photo_produced_using_Technique ?item . }) .
                  BIND(bound(?item) as ?hasChildren)
                } order by ?label",
              "parentsQuery": "
              SELECT distinct ?item ?parent ?parentLabel WHERE {
                ?item a fc:technique.
                ?item a <http://www.w3.org/2004/02/skos/core#ConceptScheme>.
                ?item  <http://vocab.getty.edu/ontology#broaderPreferred> ?parent.
                ?parent <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
                FILTER ( lang(?label) = \"en\" ). 
              }",
              "searchQuery":"
                SELECT DISTINCT ?hasChildren ?item ?label WHERE {
                  ?item a fc:technique.
                  ?item <http://www.w3.org/2004/02/skos/core#prefLabel> ?label.
                  ?label bds:search ?__token__ .
                  ?label bds:minRelevance \"0.3\"^^xsd:double.
                  ?label bds:matchAllTerms \"true\".
                  ?child  <http://vocab.getty.edu/ontology#broaderPreferred> ?item.
                  BIND(BOUND(?child) AS ?hasChildren)
                  FILTER ( lang(?label) = \"en\" ). 
                  FILTER(EXISTS { 
                    ?subject fr:Photo_produced_using_Technique ?item . 
                  }) 
                }ORDER BY DESC (?label)
                "
                }
            }
            {{/ifCond}}
            {{#ifCond creationDate "!==" "true" }}
            ,{
              "id": "creationDateFrom",
              "label": "Creation date (From)",
              "minOccurs":1,
              "maxOccurs":1,
              "xsdDatatype": "xsd:date"
            }
            {{/ifCond}}
            {{#ifCond creationDateToHidden "!==" "true" }}
            ,{
              "id": "creationDateTo",
              "label": "Creation date (To)",
              "minOccurs":1,
              "maxOccurs":1,
              "xsdDatatype": "xsd:date"
            }
            {{/ifCond}}
            {{#ifCond repositoryHidden "!==" "true" }}
            ,{
              "id": "repository",
              "label": "Repository",
              "minOccurs":1,
              "maxOccurs":100,
              "xsdDatatype": "xsd:anyURI",
              "autosuggestionPattern": "
                SELECT DISTINCT ?value ?label  WHERE {
                  ?value rdfs:label ?label.
                  ?label bds:search ?__token__ .
                  ?label bds:minRelevance \"0.3\"^^xsd:double.
                  ?label bds:matchAllTerms \"true\".
                  FILTER(EXISTS { 
                    ?subject fr:Photo_kept_by_Institution ?value . 
                  }) 
                }ORDER BY DESC (?label)"
            }
            {{/ifCond}}
        ]'
        >
        <div class="input-boxes">
          {{#ifCond repositoryHidden "!==" "true" }}
          <div class="input-trigger-group">
            <semantic-form-autocomplete-input
              for="repository"
            ></semantic-form-autocomplete-input>
            <mp-event-trigger
            id="remove-repository"
            data='{
            "photographerHidden":"{{#if photographerHidden}}{{photographerHidden}}{{else}}false{{/if}}",
            "techniqueHidden":"{{#if techniqueHidden}}{{techniqueHidden}}{{else}}false{{/if}}",
            "creationDate":"{{#if creationDate}}{{creationDate}}{{else}}false{{/if}}",
            "repositoryHidden":"true"}'
            type="Component.TemplateUpdate"
            targets='["event-target-form-query"]'
          >
            <span class="fa fa-remove clickable"><strong>Remove</strong></span>
            </mp-event-trigger>
          </div>
          {{/ifCond}}
        {{#ifCond photographerHidden "!==" "true" }}
        <div class="input-trigger-group">
          <semantic-form-autocomplete-input
            for="photographer"
          ></semantic-form-autocomplete-input>
          <mp-event-trigger
          id="remove-photographer"
          data='{
          "photographerHidden":"true",
          "techniqueHidden":"{{#if techniqueHidden}}{{techniqueHidden}}{{else}}false{{/if}}",
          "creationDate":"{{#if creationDate}}{{creationDate}}{{else}}false{{/if}}",
          "repositoryHidden":"{{#if repositoryHidden}}{{repositoryHidden}}{{else}}false{{/if}}"}'
          type="Component.TemplateUpdate"
          targets='["event-target-form-query"]'
        >
          <span class="fa fa-remove clickable"><strong>Remove</strong></span>
          </mp-event-trigger>
        </div>
        {{/ifCond}}
        {{#ifCond creationDate "!==" "true" }}
        <div class="input-trigger-group">
          <semantic-form-datetime-input
            for="creationDateFrom"
          ></semantic-form-datetime-input>
          <semantic-form-datetime-input
            for="creationDateTo"
          ></semantic-form-datetime-input>
          <mp-event-trigger
          id="remove-creationDateTo"
          data='{
          "photographerHidden":"{{#if photographerHidden}}{{photographerHidden}}{{else}}false{{/if}}",
          "techniqueHidden":"{{#if techniqueHidden}}{{techniqueHidden}}{{else}}false{{/if}}",
          "creationDate":"true",
          "repositoryHidden":"{{#if repositoryHidden}}{{repositoryHidden}}{{else}}false{{/if}}"}'
          type="Component.TemplateUpdate"
          targets='["event-target-form-query"]'
        >
          <span class="fa fa-remove clickable"><strong>Remove</strong></span>
          </mp-event-trigger>
        </div>
        {{/ifCond}}
        {{#ifCond techniqueHidden "!==" "true" }}
        <div class="input-trigger-group">
          <semantic-form-tree-picker-input
            for="technique"
          ></semantic-form-tree-picker-input>
          <mp-event-trigger
          id="remove-technique"
          data='{
          "photographerHidden":"{{#if photographerHidden}}{{photographerHidden}}{{else}}false{{/if}}",
          "techniqueHidden":"true",
          "creationDate":"{{#if creationDate}}{{creationDate}}{{else}}false{{/if}}",
          "repositoryHidden":"{{#if repositoryHidden}}{{repositoryHidden}}{{else}}false{{/if}}"}'
          type="Component.TemplateUpdate"
          targets='["event-target-form-query"]'
        >
          <span class="fa fa-remove clickable"><strong>Remove</strong></span>
          </mp-event-trigger>
        </div>
        {{/ifCond}}
      </div>
        <semantic-form-hidden-input for="secretInput" default-value='nope'></semantic-form-hidden-input>
          <button type="button" name="submit" class="btn btn-secondary">
            Search   <span class="fa fa-search" style="margin-left:5px"></span>
          </button>
        </semantic-search-form-query>
      </div>
      </template>
      </mp-event-target-template-render>
      <div class="row">
        <bs-col lg="9" md="8" sm="7"
        class="results-container"
        >
          <semantic-search-result-holder>
            <div>
            <semantic-search-result>
              <semantic-query
                id="view-more"
                query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {
                } LIMIT 1'
                template="{{>currentResultCount}}"
              >
                <template id="currentResultCount">
                  <h2>
                      Found {{bindings.0.count.value}} relevant results
                  </h2>
                </template>
              </semantic-query>
              <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
              <bs-tabs
              default-active-key="1"
              unmount-on-exit="true"
              id="search-results"
              animation="false"
              class="tabs-right"
            >
              <bs-tab event-key="1" title="List">
                <div id='artwork-filter-search-inline'>
                <semantic-table
                id="grid-result"
                query='SELECT DISTINCT ?subject WHERE {
                }LIMIT 100'
                number-of-displayed-rows="10"
                tuple-template="{{> subjectCellTemplate}}"
                options='{"showTableHeading": false, "showFilter":false}'
                no-result-template='[[> :CardNoResult ]]'
              >
                <template id="subjectCellTemplate">
                  <semantic-context repository='default'>
                    [[> :CardArtwork]]
                  </semantic-context>
                </template>
              </semantic-table>
              </div>
            </bs-tab>
              <bs-tab event-key="2" title="Tabular">
                <div id="tableView">
                  [[> :SearchResultTablePhotoSolr]]
                </div>
              </bs-tab>
              </bs-tabs>
            </semantic-search-result>
            </div>
          </semantic-search-result-holder>
        </bs-col>
      <bs-col
        lg="3"
        md="4"
        sm="5"
        class="fade-in-fwd filters-container"
        style="margin-top: 8px"
        id="artwork-filter-search"
      >
      <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
        <semantic-search-facet open-by-default="true"></semantic-search-facet>
      </bs-panel>
      </bs-col>
  
      </div>
  
    </semantic-search>
  </semantic-context>
  <style>
    .navbar-default {
      box-shadow: none !important;
    }
    .input-trigger-group {
      margin-bottom: 40px;
    }
    .form-head {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .input-trigger-group {
        /* margin-bottom: 40px;
        box-shadow: 0px 0px 10px 1px #dedede;
        padding: 10px;
        border-radius: 5px; */
  
        margin-bottom: 40px;
      border: 1px solid #ededed;
      padding: 10px;
      border-radius: 5px;
  
    }
  
  
    span.fa.fa-remove.clickable{
      margin-top: 25px;
      cursor: pointer;
    }
    span.fa.fa-remove strong {
      margin-left: 5px;
  }
  
  span.fa.fa-repeat.clickable{
      margin-top: 25px;
      cursor: pointer;
    }
    span.fa.fa-repeat strong {
      margin-left: 5px;
  }
  
  
  h2 {
    font-weight: 500;
  }
  /* .input-boxes {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 25px;
  } */
  .results-container:empty + .filters-container{
    display: none !important;
  
  }
  .semantic-form {
      height: fit-content;
  }
  .semantic-form + .row{
    margin-top: 50px;
  }
  button.btn.btn-secondary {
      height: 45px;
      width: 115px;
      color: black;
      font-size: 16px;
      border-radius: 5px;
      background: #ffffff;
  }
  button.btn.btn-secondary:active {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  }
  button.btn.btn-secondary:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  }
  
  </style>