<semantic-table
id="semantic-search-result-table"
query="SELECT DISTINCT ?subject ?creator ?date ?repository ?provider WHERE {
    OPTIONAL{
      ?subject pharosfr:Work_from_Date ?date.
    }
    OPTIONAL{
      ?originalSubject owl:sameAs ?subject.
      ?originalSubject  crm:P50_has_current_keeper ?repository.
    }
    ?subject pharosfr:Work_has_provider_Institution ?provider.
    ?subject pharosfr:Work_created_from_Artist ?creator.
    ?subject a pharosfc:work.
}LIMIT 100"
options='{"showFilter":true, "resultsPerPage":10}'
column-configuration='[
{"variableName": "subject", "displayName": "Title"},
{"variableName": "date", "displayName": "Date"},
{"variableName": "creator", "displayName": "Creator"},
{"variableName": "repository", "displayName": "Repository"},
{"variableName": "provider", "displayName": "Provider"}
]'
>
</semantic-table>