<div class="row" style="margin-top: 40px;">
 
  <bs-col sm="1"></bs-col>
  <bs-col sm="10">
     <h1>
    Reconcield Photographers
  </h1>
 <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="itatti">
  <div>
    <bs-nav bs-style='tabs'>
      <bs-nav-item event-key='auto'><div style="display: flex;">Auto</div>
      </bs-nav-item>
      <bs-nav-item event-key='itatti'><div style="display: flex;">Itatti</div>
      </bs-nav-item>
      <bs-nav-item event-key='frick'><div style="display: flex;">Frick</div>
      </bs-nav-item>
      <bs-nav-item event-key='hertz'><div style="display: flex;">Hertziana</div>
      </bs-nav-item>
      <bs-nav-item event-key='zeri'><div style="display: flex;">Zeri</div>
      </bs-nav-item>
      <bs-nav-item event-key='marburg'><div style="display: flex;">Marburg</div>
      </bs-nav-item>
      <bs-nav-item event-key='khi'><div style="display: flex;">KHI</div>
      </bs-nav-item>
      <bs-nav-item event-key='pmc'><div style="display: flex;">PMC</div>
      </bs-nav-item>
    </bs-nav>
    <bs-tab-content unmount-on-exit=true>
      <div>
        <bs-tab-pane event-key='auto'>
          [[> ReconciliationVocab photographers=true automatic=true]]
        </bs-tab-pane>
        <bs-tab-pane event-key='itatti'>
          [[> ReconciliationVocab photographers=true provider='https://artresearch.net/resource/itatti/source/ITatti']]
        </bs-tab-pane>
        <bs-tab-pane event-key='frick'>
          [[> ReconciliationVocab photographers=true  provider='https://artresearch.net/resource/frick/source/Frick']]
        </bs-tab-pane>
        <bs-tab-pane event-key='hertz'>
          [[> ReconciliationVocab photographers=true provider='https://artresearch.net/resource/hertziana/source/Hertziana']]
        </bs-tab-pane>
        <bs-tab-pane event-key='zeri'>
          [[> ReconciliationVocab photographers=true provider='https://artresearch.net/resource/zeri/source/Zeri']]
        </bs-tab-pane>
        <bs-tab-pane event-key='marburg'>
          [[> ReconciliationVocab photographers=true provider='https://artresearch.net/resource/marburg/source/Marburg']]
        </bs-tab-pane>
        <bs-tab-pane event-key='khi'>
          [[> ReconciliationVocab photographers=true provider='https://artresearch.net/resource/khi/source/KHI']]
        </bs-tab-pane>
        <bs-tab-pane event-key='pmc'>
          [[> ReconciliationVocab photographers=true provider='https://artresearch.net/resource/pmc/source/PMC']]
        </bs-tab-pane>
      </div>
    </bs-tab-content>
      </div>
 </bs-tab-container>
  </bs-col>
  <bs-col sm="1"></bs-col>
</div>

<style>
  .actions{
  gap: 150px;
  }
  .matchingImage {
    height: 18vh !important;
    margin: 0vw !important;
  }
</style>