<div id="start-page">
  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1 style="margin-left: 13vw" class="display-13">Partner institutions</h1>
    </div>
    <h1 style="margin-left: 13vw" class="display-13">Pilot programme participants</h1>
    <div class="card-list">
      <semantic-link
        iri="https://pharos.artresearch.net/resource/hertziana/source/Hertziana"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_hertziana.png" />
          <div class="title">Bibliotheca Hertziana</div>
        </div>
      </semantic-link>
      <semantic-link
        iri="https://pharos.artresearch.net/resource/marburg/source/Marburg"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_marburg.png" />
          <div class="title">Bildarchiv Foto Marburg</div>
        </div>
      </semantic-link>
      <semantic-link
        iri="https://pharos.artresearch.net/resource/zeri/source/Zeri"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_zeri.png" />
          <div class="title">Fondazione Federico Zeri</div>
        </div>
      </semantic-link>
    </div>
    <div class="card-list">
      <semantic-link
        iri="https://pharos.artresearch.net/resource/frick/source/Frick"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_frick.png" />
          <div class="title">The Frick Collection</div>
        </div>
      </semantic-link>

      <semantic-link
        iri="https://pharos.artresearch.net/resource/itatti/source/ITatti"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_itatti.png" />
          <div class="title">I Tatti</div>
        </div>
      </semantic-link>

      <semantic-link
        iri="https://pharos.artresearch.net/resource/khi/source/KHI"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_khi.png" />
          <div class="title">Kunsthistoricsches Institut in Florenz</div>
        </div>
      </semantic-link>
    </div>
    <h1 style="margin-left: 13vw" class="display-13">Collections available in 2023</h1>
    <div class="card-list">
      <semantic-link
        iri="https://pharos.artresearch.net/resource/courtauld/source/Courtauld"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_courtald.png" />
          <div class="title">Courtauld Institute of Art</div>
        </div>
      </semantic-link>
      <semantic-link
        iri="https://pharos.artresearch.net/resource/getty/source/Getty"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_getty.png" />
          <div class="title">Getty Research Institute</div>
        </div>
      </semantic-link>
      <semantic-link
        iri="https://pharos.artresearch.net/resource/inha/source/INHA"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_inha.png" />
          <div class="title">Institut National d’Histoire de l’Art</div>
        </div>
      </semantic-link>
    </div>
    <div class="card-list">
      <semantic-link
        iri="https://pharos.artresearch.net/resource/nga/source/NGA"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_nga.png" />
          <div class="title">National Gallery of Art</div>
        </div>
      </semantic-link>

      <semantic-link
        iri="https://pharos.artresearch.net/resource/pmc/source/PMC"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_pmc.png" />
          <div class="title">Paul Mellon Centre</div>
        </div>
      </semantic-link>

      <semantic-link
        iri="https://pharos.artresearch.net/resource/rkd/source/RKD"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_rkd.png" />
          <div class="title">RKD – Netherlands Institute for Art History</div>
        </div>
      </semantic-link>
    </div>
    <div class="card-list">
      <semantic-link
        iri="https://pharos.artresearch.net/resource/warburg/source/Warburg"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_warburg.png" />
          <div class="title">Warburg Institute</div>
        </div>
      </semantic-link>

      <semantic-link
        iri="https://pharos.artresearch.net/resource/yalecenter/source/Yalecenter"
      >
        <div class="card ">
          <img class="partner-photo" src="../../assets/images/media/tile_yalecenter.png" />
          <div class="title">Yale Center for British Art</div>
        </div>
      </semantic-link>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
</div>
