<div id="photograph-lightbox" data-flex-layout="row center-stretch">
  <mp-splitpane min-size="50"  max-size="600" default-size="50vw" default-open="true"  always-render="true" persist-resize="false">
    <div data-flex-layout='column top-stretch' style="border-right: 1px solid #a2a2a2; background: white !important;">
         <mp-splitpane-toggle-on>
            <button style="border: none; background: transparent; padding: 15px 2px; outline: none; width: 100%;">
              <i class="fa fa-angle-double-right" style="font-size: 20px;" aria-hidden="true"></i>
            </button>
          </mp-splitpane-toggle-on>
          <mp-splitpane-toggle-off>
            <button data-flex-layout="row center-left" style="border: none; border-bottom: 1px solid #999; background: #fff; padding: 15px; outline: none; width: 100%;">
              <h4 style="margin: 0px;">All photographs</h4>
              <div class="fa fa-angle-double-left" style="font-size: 20px; margin-left: auto;" aria-hidden="true"></div>
            </button>
          </mp-splitpane-toggle-off>
          <mp-splitpane-sidebar-open style=' min-width:50px; display: flex; flex-direction: column; flex: auto; background: white !important ;' >
            <div class="LeftSideLightbox"style=" padding-left : 15px; background: white;">
              <div id="photo-cards">
                <h2 style="
                  font-size: 22px !important;
                  padding: 25px 0px 15px 15px;
                  border-bottom: 2px solid #be3535;
                  position: sticky;
                  top: 0px;
                  z-index: 15;
                  background: white;
                  display: flex;
                  width: 100%;
                  justify-content: flex-start;">
                  <mp-label iri="[[this]]"></mp-label>
                </h2>
                <semantic-table
                    options='{"showFilter":true}'
                    prefetch-labels="false"
                    number-of-displayed-rows="200"
                    query='SELECT distinct ?photo WHERE 
                      {
                        [[#if photo]]
                           BIND(?? as ?photo)
                        [[else if artwork]]
                          ?? fr:Work_depicted_by_Photo ?photo
                            
                        [[else]]
                         {
                           BIND(?? as ?photo)
                          }UNION{
                           ?? fr:Work_depicted_by_Photo ?photo
                         }
                        [[/if]]
                      }'
                    tuple-template="{{> photos}}"
                    no-result-template='<h2>No photographs found</h2>'
                >
                  <template id="photos">
                      <div class="card">
                        <div class="table-wrapp">
                          <td class="rectoVersoCell">
                            <semantic-query
                              query='
                              SELECT  ?photoUri ?rectoImage ?fullsizeImages where{
                                BIND(str(<{{photo.value}}>) as ?photoUri).
                                <{{photo.value}}> crm:P129i_is_subject_of ?fullsizeImages.
                                BIND(REPLACE(STR(?fullsizeImages),"full/full","full/!100,100") AS ?rectoImage).
                                FILTER NOT EXISTS { 
                                  ?fullsizeImages crm:P2_has_type ?type.
                                  ?type rdfs:label "verso"
                                }
                              }'
                              no-result-template="<div></div>"
                              template="{{>rectoImageThumb}}"
                            >
                              <template id="rectoImageThumb">
                                <div>
                                  <mp-event-target-template-render
                                    id="event-target-add-mirador"
                                    template="{{> addaMiradorTemplateSec}}"
                                    >
                                    <template id="addaMiradorTemplateSec">
                                      <mp-event-trigger
                                        id="event-trigger-add-mirador"
                                        type="Component.TemplateUpdate"
                                        data='[[> MiradorTriggerAdder myImage="{{bindings.0.fullsizeImages.value}}"]]'
                                        targets='["event-target-miradors","event-target-add-mirador"]'>
                                            {{#if images}}
                                            <img
                                                src="{{bindings.0.rectoImage.value}}"
                                                style="max-height: 100px; margin: 0 auto"
                                                class="img-rounded "
                                                alt="Temporarily unvailable"
                                              />
                                            {{else}}
                                              <img
                                                src="{{bindings.0.rectoImage.value}}"
                                                style="max-height: 100px; margin: 0 auto"
                                                class="img-rounded grab-attention"
                                                alt="Temporarily unvailable"
                                              />
                                            {{/if}}
                                      </mp-event-trigger>
                                    </template>
                                  </mp-event-target-template-render>
                                </div>
                              </template>
                            </semantic-query>
                          
                            <semantic-query
                              query='
                                SELECT ?photoUri ?versoImage ?fullsizeImages where{
                                  BIND(str(<{{photo.value}}>) as ?photoUri).
                                  <{{photo.value}}> crm:P129i_is_subject_of ?fullsizeImages.
                                  BIND(REPLACE(STR(?fullsizeImages),"full/full","full/!100,100") AS ?versoImage).
                                  FILTER NOT EXISTS { 
                                    ?fullsizeImages crm:P2_has_type ?type.
                                    ?type rdfs:label "recto"
                                  }
                                }
                              '
                              no-result-template="<div></div>"
                              template="{{>versoImageThumb}}"
                            >
                              <template id="versoImageThumb">
                                <div>
                                  <mp-event-target-template-render
                                    id="event-target-add-mirador"
                                    template="{{> addaMiradorTemplateSec}}"
                                    >
                                    <template id="addaMiradorTemplateSec">
                                      <mp-event-trigger
                                        id="event-trigger-add-mirador"
                                        type="Component.TemplateUpdate"
                                        data='[[> MiradorTriggerAdder myImage="{{bindings.0.fullsizeImages.value}}"]]'
                                        targets='["event-target-miradors","event-target-add-mirador"]'>
                                      <img
                                        src="{{bindings.0.versoImage.value}}"
                                        style="max-height: 70px; max-width: 70px"
                                        class="vercoCell img-rounded"
                                        alt="Temporarily unvailable"
                                      />
                                      </mp-event-trigger>
                                    </template>
                                  </mp-event-target-template-render>
                                </div>
                              </template>
                            </semantic-query>
                          </td>
                          <div class="photographFieldViewData">
                            <mp-field-visualization
                              subject="{{photo.value}}"
                              fields='[[fieldDefinitions  
                                Title="https://artresearch.net/fieldDefinition/2"  
                                Photographer="https://artresearch.net/fieldDefinition/123"
                                Repository="https://artresearch.net/resource/fr/Work_kept_by_Institution" 
                              ]]'
                              template="{{>productionInfo}}"
                            >
                              <template id="productionInfo">
                                <div>
                                  {{#if noData}}
                                    <div id="rsbv" class="table-responsive rs-table">
                                      <table class="table table-hover">
                                        <tbody>
                                          <tr>
                                            <td>No quick preview available. Click on the photo to view details.</td>
                                            <td></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  {{else}} [[> ResourceFieldBasedVisualization showSourceIcon="true"  subject=[[this]]
                                  ]] {{/if}}
                                </div>
                              </template>
                            </mp-field-visualization>
                          </div>
                          </div>
                          <semantic-link iri="{{photo.value}}">
                                <div class="btn"><h4>View photograph</h4></div>
                          </semantic-link>
                      </div>
                  </template>
                </semantic-table>

                <h2 style="
                  font-size: 22px;
                  padding: 15px 15px 15px 0px;
                  border-bottom: 2px solid #be3535;
                  position: sticky;
                  top: 0px;
                  z-index: 15;
                  background: white;
                  display: flex;
                  width: 100%;
                  justify-content: flex-end;">From your clipboard
                </h2>
                <semantic-table
                    options='{"showFilter":true}'
                    number-of-displayed-rows="200"
                    prefetch-labels="false"
                    query='  
                      PREFIX Platform: <http://www.researchspace.org/resource/system/>
                      PREFIX ldp: <http://www.w3.org/ns/ldp#>
                      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                      PREFIX prov: <http://www.w3.org/ns/prov#>
                      PREFIX fr: <https://artresearch.net/resource/fr/>
                      PREFIX cfc: <https://artresearch.net/resource/custom/fc/>
                      SELECT DISTINCT ?photo WHERE 
                      {
                        ?set a Platform:Set ;
                        prov:wasAttributedTo ?__useruri__ ;
                        ldp:contains ?container.
                        {
                          ?container Platform:setItem ?work.
                          ?work fr:Work_depicted_by_Photo ?photo
                        }UNION{
                          ?container Platform:setItem ?photo.
                          ?photo a cfc:photo
                        }
                      }'
                    tuple-template="{{> photos}}"
                    no-result-template='<h2>No photographs found</h2>'
              >
                <template id="photos">
                    <div
                      class="card"
                    >
                    <td class="rectoVersoCell">
                      <semantic-query
                        query='
                        SELECT  ?photoUri ?rectoImage ?fullsizeImages where{
                          BIND(str(<{{photo.value}}>) as ?photoUri).
                          <{{photo.value}}> crm:P129i_is_subject_of ?fullsizeImages.
                          BIND(REPLACE(STR(?fullsizeImages),"full/full","full/!100,100") AS ?rectoImage).
                          FILTER NOT EXISTS { 
                            ?fullsizeImages crm:P2_has_type ?type.
                            ?type rdfs:label "verso"
                          }
                        }
                      '
                        no-result-template="<div></div>"
                        template="{{>rectoImageThumb}}"
                      >
                        <template id="rectoImageThumb">
                          <div >
                          <mp-event-target-template-render
                          id="event-target-add-mirador"
                          template="{{> addaMiradorTemplateSec}}"
                          >
                            <template id="addaMiradorTemplateSec">
                              <mp-event-trigger
                                id="event-trigger-add-mirador"
                                type="Component.TemplateUpdate"
                                data='[[> MiradorTriggerAdder myImage="{{bindings.0.fullsizeImages.value}}"]]'
                                targets='["event-target-miradors","event-target-add-mirador"]'>
                              {{#if images}}
                              <img
                                  src="{{bindings.0.rectoImage.value}}"
                                  style="max-height: 100px; margin: 0 auto"
                                  class="img-rounded "
                                  alt="Temporarily unvailable"
                                />
                              {{else}}
                                <img
                                  src="{{bindings.0.rectoImage.value}}"
                                  style="max-height: 100px; margin: 0 auto"
                                  class="img-rounded grab-attention"
                                  alt="Temporarily unvailable"
                                />
                              {{/if}}
                              </mp-event-trigger>
                            </template>
                          </mp-event-target-template-render>
                        </div>
                        </template>
                      </semantic-query>
                    
                      <semantic-query
                        query='
                          SELECT ?photoUri ?versoImage ?fullsizeImages where{
                            BIND(str(<{{photo.value}}>) as ?photoUri).
                            <{{photo.value}}> crm:P129i_is_subject_of ?fullsizeImages.
                            BIND(REPLACE(STR(?fullsizeImages),"full/full","full/!100,100") AS ?versoImage).
                            FILTER NOT EXISTS { 
                              ?fullsizeImages crm:P2_has_type ?type.
                              ?type rdfs:label "recto"
                            }
                          }
                        '
                        no-result-template="<div></div>"
                        template="{{>versoImageThumb}}"
                      >
                        <template id="versoImageThumb">
                          <div>
            
                          <mp-event-target-template-render
                          id="event-target-add-mirador"
                          template="{{> addaMiradorTemplateSec}}"
                          >
                            <template id="addaMiradorTemplateSec">
                              <mp-event-trigger
                                id="event-trigger-add-mirador"
                                type="Component.TemplateUpdate"
                                data='[[> MiradorTriggerAdder myImage="{{bindings.0.fullsizeImages.value}}"]]'
                                targets='["event-target-miradors","event-target-add-mirador"]'>
                              <img
                                src="{{bindings.0.versoImage.value}}"
                                style="max-height: 70px; max-width: 70px"
                                class="vercoCell img-rounded"
                                alt="Temporarily unvailable"
                              />
                              </mp-event-trigger>
                            </template>
                          </mp-event-target-template-render>
                        </div>
                        </template>
                      </semantic-query>
                    
                    </td>
                    <div class="photographFieldViewData">
                      <div>
                        <h2>Artwork</h2>
                        <semantic-query query='SELECT DISTINCT ?work WHERE {
                          ?work a fc:work.
                          ?work fr:Work_depicted_by_Photo <{{photo.value}}>.
                        }'>

                        </semantic-query>
                      </div>
                      <!-- //TODO make query -->
                      <mp-field-visualization
                        subject="{{photo.value}}"
                        fields='[[fieldDefinitions  
                          Title="https://artresearch.net/fieldDefinition/2"  
                          Photographer="https://artresearch.net/fieldDefinition/123"
                          Repository="https://artresearch.net/resource/fr/Work_kept_by_Institution" 
                        ]]'
                        template="{{>productionInfo}}"
                      >
                        <template id="productionInfo">
                          <div>
                          {{#if noData}}
                          <div id="rsbv" class="table-responsive rs-table">
                            <table class="table table-hover">
                              <tbody>
                                <tr>
                                  <td>No quick preview available. Click on the photo to view details.</td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          {{else}}
                          [[> ResourceFieldBasedVisualization showSourceIcon="true"  subject=[[this]]]]
                            {{/if}}
                        </div>
                        </template>
                      </mp-field-visualization>
                    </div>
                    <semantic-link iri="{{photo.value}}">
                      <div class="btn"><h4>View photograph</h4></div>
                </semantic-link>
                  </div>
                </template>
                </semantic-table>
              </div>
            </div>
          </mp-splitpane-sidebar-open>
    </div>
    
    <div>
      <div id="photograph-lightbox-viewer"  style="width: 100%; height: 82vh; overflow-y: hidden; ">
       <mp-event-target-template-render
          id="event-target-miradors"
          template="{{> miradorsTemplate}}"
          >
          <template id="miradorsTemplate">
            {{#if images}}
                {{#ifCond (objectLength images) "===" 1 }}
                  <div style="display: grid; grid-template-columns: repeat(1, 1fr); gap: 0.2em 0.2em; width: inherit; height: inherit; margin-top: 10px;" class="miradors-container">
                {{else}}
                  <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 0.2em 0.2em; width: inherit; height: inherit; margin-top: 10px;" class="miradors-container">
                {{/ifCond}}
                {{#each images as |image|}}
                  <div style="width:100%; height: 100%">
                    <rs-iiif-mirador
                      id="mira-{{@index}}"
                      image-or-region="{{image}}"
                      image-api-manifest-pattern="           
                        <{{image}}> crm:P129i_is_subject_of ?manifestUrl.
                        FILTER NOT EXISTS{
                          ?manifestUrl crm:P2_has_type <https://artresearch.net/resource/hertziana/type/presentation_api_manifest>
                        }"
                    >
                    </rs-iiif-mirador>
                  </div>
                {{/each}}
                  </div>
              <mp-event-trigger
                id="event-trigger-add-mirador"
                type="Component.TemplateUpdate"
                data='{"images":[]}'
                targets='["event-target-miradors","event-target-add-mirador"]'>
                  <div class="clear-miradors fa fa-repeat">
                    Clear
                  </div>
              </mp-event-trigger>
            {{else}}
              <h1 style="height: 90%; width: 90%; margin-left: 5%; display: flex; text-align: center; align-items:center;">
                Add an image to the lightbox by clicking on one of the thumbnails</h1>
            {{/if}}
          </template>
       </mp-event-target-template-render>  
      </div>
    </div>
  </mp-splitpane>
</div>

<style>
.mirador-btn.mirador-icon-metadata-view.mirador-tooltip{
  display: none;
}

</style>