{
  "categories":  
  [
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "label":"Institution"
  },
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
    "label":"Location"
  }
  ],
  "relations":
  [
    {
      "iri":"<https://artresearch.net/resource/fr/Repository_from_Place>",
      "label":"Location",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Repository_documented_in_Institution>",
      "label":"Photo Archive",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
    }
  ]
}