<div class="header-options artistAdditionalOptions">
      <semantic-query
        query='SELECT ?tLabel ?link WHERE {             
            ?subject owl:sameAs <http://vocab.getty.edu/ulan/500023578>.
            ?subject crm:P1_is_identified_by ?value.
            ?value <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?type.
            ?type rdfs:label "GND or ULAN".
            ?type rdfs:label ?tLabel.
            ?value rdfs:label ?id.
            BIND(IRI(REPLACE(?id,"gnd", "https://d-nb.info/gnd/")) AS ?link)
            FILTER CONTAINS(?id,"gnd")
        }'
        no-result-template="<div></div>"
        template="{{> GNDLink}}"
      >
        <template id="GNDLink">
          <div>
            <h2 class="fc-label" style="width: 60vw;">
              {{#each bindings}}
              <a
                style="margin-left: 5px"
                href="{{link.value}}"
                target="_null"
              >
                <div class="fc-label original-linkGND">
                  <div class="linkImageWrapper">
                  <img
                    
                    class="sourceIconGND"
                    src="../../assets/images/GND.ico"
                  />
                  <h2 class="text">View {{tLabel.value}} record</h2>
                  </div>
                </div>
              </a>
              {{/each}}
            </h2>
          </div>
        </template>
      </semantic-query>
      </div>
<div id="printableInfo"  class="workAndProductionInfo">

      <mp-field-visualization
          subject="[[this]]"
          additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
          fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/person_info>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
          template='{{>workInfo}}'
          >
        <template id="workInfo">
          <div class="workInfoContainer">
          <h2>Person info</h2>
            [[> :ResourceFieldBasedVisualizationCardPerson subject=[[this]] showSourceIcon="true" ]]
          </div>
        </template>
        </mp-field-visualization>
<div class="WrapperBioRelations">

     <div class="PersonBioCard">
          <semantic-query
              
             query='
                SELECT ?value ?provider ?providerLabel WHERE {
                  graph ?graph{
                     <[[this]]> <https://pharos.artresearch.net/resource/fr/Person_has_Description> ?value.
                  }
                  ?graph <https://pharos.artresearch.net/custom/has_provider> ?provider .
                  ?provider rdfs:label ?providerLabel.
                }'
                no-result-template='<div></div>'
                template="{{> Bio}}"
                >
                  <template id="Bio">
                    <div class= "bioTemplate " >
                     
                      <div class="BioText">
                        <h2 class=" fa fa-quote-left">{{bindings.0.value.value}}</h2>
                      </div>
                    </div>
                  </template>
           </semantic-query>
      </div>
   <mp-field-visualization
          subject="[[this]]"
          additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
          fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/person_relationships>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
          template='{{>RelationshipsInfo}}'
          >
        <template id="RelationshipsInfo">
          <div class="RelationshipsContainer">
          <h2>Relationships</h2>
            [[> :ResourceFieldBasedVisualization subject=[[this]] showSourceIcon="true" ]]
          </div>
        </template>
        </mp-field-visualization>

     
        
  </div>
<style>
    .fa-quote-left:before {
    margin-right: 10px;
    color: #933439;
  }
</style>