<div class="form-head" style="margin-top:0 ;">
  <mp-event-trigger
  id="reset-form"
  data='{}'
  type="Component.TemplateUpdate"
  targets='["event-target-form-query"]'
  >
  <span class="fa fa-repeat clickable"><strong >Reset form</strong></span>
  </mp-event-trigger>
  </div>
  <semantic-context repository='ephedra'>
    <semantic-search
    relations='[[> :SearchSimpleRelations]]'
    search-profile='[[> :SearchSimpleProfile]]'
    >
      <mp-event-target-template-render
      id="event-target-form-query"
      template="{{> tableEventTargetFormQueryTemplate}}"
    >  <template id="tableEventTargetFormQueryTemplate"> 
      <div class="advanced-search-form">
        <semantic-search-form-query
        multi=true
        domain='<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>'
        query-template='{
                      "queryString": "
                        PREFIX solr: <http://custom.solr/ontology#>
                        SELECT ?subject WHERE {
                        {{#ifCond nameHidden "!==" "true" }}
                        BIND(REPLACE(str(?name), \"(?<!^)(?<!\\\\s)\\\\s+(?!\\\\s+)(?!$)\",\" AND \") as ?token).
                        SERVICE <http://www.researchspace.org/resource/system/service/custom#solrartists>{
                          ?solrApi solr:setQuery ?token;
                                  solr:setDefType \"dismax\";
                                  solr:setFilter \"id\";
                                  solr:setRowsNumber 1000;
                                  solr:hasResults ?subject.
                        }
                        {{/ifCond}}
                        {{#ifCond dobHidden "!==" "true" }}
                        ?subject fr:Person_has_Date_of_Birth ?dobDate .
                        FILTER(?dobDate >= ?dobFrom)
                        FILTER(?dobDate <= ?dobTo)
                        {{/ifCond}}
                        {{#ifCond dodHidden "!==" "true" }}
                        ?subject fr:Person_has_Date_of_Death ?dodDate .
                        FILTER(?dodDate >= ?dodFrom)
                        FILTER(?dodDate <= ?dodTo)
                        {{/ifCond}}
                        {{#ifCond nationalityHidden "!==" "true" }}
                        ?subject fr:Person_has_Nationality ?nationality .
                        {{/ifCond}}
                        {{#ifCond genderHidden "!==" "true" }}
                        ?subject fr:Person_has_Gender ?gender.
                        {{/ifCond}}
                        {{#ifCond locationHidden "!==" "true" }}
                        ?subject fr:Person_active_at_Place ?location.
                        {{/ifCond}}
                        }LIMIT 1000
                      ",
                      "arguments": {
                      "secretInput":{"type": "xsd:string", "optional": true}
                      {{#ifCond nameHidden "!==" "true" }}
                      ,"name": {"type": "xsd:string"}
                      {{/ifCond}}
                      {{#ifCond dobHidden "!==" "true" }}
                      ,"dobFrom": {"type": "xsd:date"}
                      ,"dobTo": {"type": "xsd:date"}
                      {{/ifCond}}
                      {{#ifCond dodHidden "!==" "true" }}
                      ,"dodFrom": {"type": "xsd:date"}
                      ,"dodTo": {"type": "xsd:date"}
                      {{/ifCond}}
                      {{#ifCond nationalityHidden "!==" "true" }}
                      ,"nationality": {"type": "xsd:anyURI"}
                      {{/ifCond}}
                      {{#ifCond genderHidden "!==" "true" }}
                      ,"gender": {"type": "xsd:anyURI"}
                      {{/ifCond}}
                      {{#ifCond locationHidden "!==" "true" }}
                      ,"location": {"type": "xsd:anyURI"}
                      {{/ifCond}}
                      }
                    }'
          fields='[
            { "id": "secretInput",
            "label": "Secret Input",
            "xsdDatatype": "xsd:string",
            "autosuggestionPattern": "
              PREFIX fts: <http://www.bigdata.com/rdf/fts#>
              SELECT DISTINCT ?value ?label  WHERE {
                ?value rdfs:label ?label
              }LIMIT 1"
            }
            {{#ifCond nameHidden "!==" "true" }}
            ,{
              "id": "name",
              "label": "Name",
              "minOccurs":1,
              "maxOccurs":100,
              "xsdDatatype": "xsd:string"
            }
            {{/ifCond}}
            {{#ifCond dobHidden "!==" "true" }}
            ,{
              "id": "dobFrom",
              "label": "Date of Birth (From)",
              "minOccurs":1,
              "maxOccurs":1,
              "xsdDatatype": "xsd:date"
            }
            ,{
              "id": "dobTo",
              "label": "Date of Birth (To)",
              "minOccurs":1,
              "maxOccurs":1,
              "xsdDatatype": "xsd:date"
            }
            {{/ifCond}}
            {{#ifCond dodHidden "!==" "true" }}
            ,{
              "id": "dodFrom",
              "label": "Date of Death (From)",
              "minOccurs":1,
              "maxOccurs":1,
              "xsdDatatype": "xsd:date"
            }
            ,{
              "id": "dodTo",
              "label": "Date of Death (To)",
              "minOccurs":1,
              "maxOccurs":1,
              "xsdDatatype": "xsd:date"
            }
            {{/ifCond}}
            {{#ifCond nationalityHidden "!==" "true" }}
            ,{
              "id": "nationality",
              "label": "Nationality",
              "minOccurs":1,
              "maxOccurs":100,
              "xsdDatatype": "xsd:anyURI",
              "autosuggestionPattern": "
              SELECT DISTINCT ?value ?label  WHERE {
                ?value rdfs:label ?label.
                ?label bds:search ?__token__ .
                ?label bds:minRelevance \"0.3\"^^xsd:double.
                ?label bds:matchAllTerms \"true\".
                FILTER(EXISTS { 
                  ?person fr:Person_has_Nationality ?value . 
                }) 
              }ORDER BY ?label LIMIT 10"
            }
            {{/ifCond}}
            {{#ifCond genderHidden "!==" "true" }}
            ,{
              "id": "gender",
              "label": "Gender",
              "minOccurs":1,
              "maxOccurs":100,
              "xsdDatatype": "xsd:anyURI",
              "valueSetPattern":"
              SELECT DISTINCT ?value ?label  WHERE {
                VALUES(?value ?label){
                  (<http://vocab.getty.edu/aat/300189557> \"female\")
                  (<http://vocab.getty.edu/aat/300189559> \"male\")
                  (<http://vocab.getty.edu/aat/300400512> \"unavailable (information indicator)\")
                }
              }
              "
            }
            {{/ifCond}}
            {{#ifCond locationHidden "!==" "true" }}
            ,{
              "id": "location",
              "label": "Active Location",
              "minOccurs":1,
              "maxOccurs":100,
              "xsdDatatype": "xsd:anyURI",
              "autosuggestionPattern": "
                SELECT DISTINCT ?value ?label  WHERE {
                  ?value rdfs:label ?label.
                  ?label bds:search ?__token__ .
                  ?label bds:minRelevance \"0.3\"^^xsd:double.
                  ?label bds:matchAllTerms \"true\".
                  FILTER(EXISTS { 
                    ?subject fr:Person_active_at_Place ?value . 
                  }) 
                }ORDER BY DESC (?label)"
            }
            {{/ifCond}}
        ]'
        >
        <div class="input-boxes">
        {{#ifCond nameHidden "!==" "true" }}
          <div class="input-trigger-group">
            <semantic-form-text-input for="name"></semantic-form-text-input>
            <mp-event-trigger
              id="remove-name"
              data='{"nameHidden":"true",
              "dobHidden":"{{#if dobHidden}}{{dobHidden}}{{else}}false{{/if}}",
              "dodHidden":"{{#if dodHidden}}{{dodHidden}}{{else}}false{{/if}}",
              "nationalityHidden":"{{#if nationalityHidden}}{{nationalityHidden}}{{else}}false{{/if}}",
              "genderHidden":"{{#if genderHidden}}{{genderHidden}}{{else}}false{{/if}}",
              "locationHidden":"{{#if locationHidden}}{{locationHidden}}{{else}}false{{/if}}"}'
              type="Component.TemplateUpdate"
              targets='["event-target-form-query"]'
            >
              <span class="fa fa-remove clickable"><strong>Remove</strong></span>
            </mp-event-trigger>
          </div>
        {{/ifCond}}
        {{#ifCond dobHidden "!==" "true" }}
        <div class="input-trigger-group">
          <semantic-form-datetime-input
            for="dobFrom"
          ></semantic-form-datetime-input>
            <semantic-form-datetime-input
            for="dobTo"
          ></semantic-form-datetime-input>
          <mp-event-trigger
          id="remove-dob"
          data='{"nameHidden":"{{#if nameHidden}}{{nameHidden}}{{else}}false{{/if}}",
          "dobHidden":"true",
          "dodHidden":"{{#if dodHidden}}{{dodHidden}}{{else}}false{{/if}}",
          "nationalityHidden":"{{#if nationalityHidden}}{{nationalityHidden}}{{else}}false{{/if}}",
          "genderHidden":"{{#if genderHidden}}{{genderHidden}}{{else}}false{{/if}}",
          "locationHidden":"{{#if locationHidden}}{{locationHidden}}{{else}}false{{/if}}"
          }'
          type="Component.TemplateUpdate"
          targets='["event-target-form-query"]'
        >
          <span class="fa fa-remove clickable"><strong>Remove</strong></span>
          </mp-event-trigger>
        </div>
        {{/ifCond}}
        {{#ifCond dodHidden "!==" "true" }}
        <div class="input-trigger-group">
          <semantic-form-datetime-input
            for="dodFrom"
          ></semantic-form-datetime-input>
          <semantic-form-datetime-input
          for="dodTo"
        ></semantic-form-datetime-input>
          <mp-event-trigger
          id="remove-dod"
          data='{"nameHidden":"{{#if nameHidden}}{{nameHidden}}{{else}}false{{/if}}",
          "dobHidden":"{{#if dobHidden}}{{dobHidden}}{{else}}false{{/if}}",
          "dodHidden":"true",
          "nationalityHidden":"{{#if nationalityHidden}}{{nationalityHidden}}{{else}}false{{/if}}",
          "genderHidden":"{{#if genderHidden}}{{genderHidden}}{{else}}false{{/if}}",
          "locationHidden":"{{#if locationHidden}}{{locationHidden}}{{else}}false{{/if}}"}'
          type="Component.TemplateUpdate"
          targets='["event-target-form-query"]'
        >
          <span class="fa fa-remove clickable"><strong>Remove</strong></span>
          </mp-event-trigger>
        </div>
        {{/ifCond}}
        {{#ifCond nationalityHidden "!==" "true" }}
        <div class="input-trigger-group">
          <semantic-form-autocomplete-input
            for="nationality"
          ></semantic-form-autocomplete-input>
          <mp-event-trigger
          id="remove-nationality"
          data='{"nameHidden":"{{#if nameHidden}}{{nameHidden}}{{else}}false{{/if}}",
          "dobHidden":"{{#if dobHidden}}{{dobHidden}}{{else}}false{{/if}}",
          "dodHidden":"{{#if dodHidden}}{{dodHidden}}{{else}}false{{/if}}",
          "nationalityHidden":"true",
          "genderHidden":"{{#if genderHidden}}{{genderHidden}}{{else}}false{{/if}}",
          "locationHidden":"{{#if locationHidden}}{{locationHidden}}{{else}}false{{/if}}"}'
          type="Component.TemplateUpdate"
          targets='["event-target-form-query"]'
        >
          <span class="fa fa-remove clickable"><strong>Remove</strong></span>
          </mp-event-trigger>
        </div>
        {{/ifCond}}
        {{#ifCond genderHidden "!==" "true" }}
        <div class="input-trigger-group">
          <semantic-form-select-input
            for="gender"
          ></semantic-form-select-input>
          <mp-event-trigger
          id="remove-gender"
          data='{"nameHidden":"{{#if nameHidden}}{{nameHidden}}{{else}}false{{/if}}",
            "dobHidden":"{{#if dobHidden}}{{dobHidden}}{{else}}false{{/if}}",
            "dodHidden":"{{#if dodHidden}}{{dodHidden}}{{else}}false{{/if}}",
            "nationalityHidden":"{{#if nationalityHidden}}{{nationalityHidden}}{{else}}false{{/if}}",
            "genderHidden":"true",
            "locationHidden":"{{#if locationHidden}}{{locationHidden}}{{else}}false{{/if}}"}'
          type="Component.TemplateUpdate"
          targets='["event-target-form-query"]'
        >
          <span class="fa fa-remove clickable"><strong>Remove</strong></span>
          </mp-event-trigger>
        </div>
        {{/ifCond}}
        {{#ifCond locationHidden "!==" "true" }}
        <div class="input-trigger-group">
          <semantic-form-autocomplete-input
            for="location"
          ></semantic-form-autocomplete-input>
          <mp-event-trigger
          id="remove-subject"
          data='{"nameHidden":"{{#if nameHidden}}{{nameHidden}}{{else}}false{{/if}}",
          "dobHidden":"{{#if dobHidden}}{{dobHidden}}{{else}}false{{/if}}",
          "dodHidden":"{{#if dodHidden}}{{dodHidden}}{{else}}false{{/if}}",
          "nationalityHidden":"{{#if nationalityHidden}}{{nationalityHidden}}{{else}}false{{/if}}",
          "genderHidden":"{{#if genderHidden}}{{genderHidden}}{{else}}false{{/if}}","locationHidden":"true"}'
          type="Component.TemplateUpdate"
          targets='["event-target-form-query"]'
        >
          <span class="fa fa-remove clickable"><strong>Remove</strong></span>
          </mp-event-trigger>
        </div>
        {{/ifCond}}
      </div>
        <semantic-form-hidden-input for="secretInput" default-value='nope'></semantic-form-hidden-input>
          <button type="button" name="submit" class="btn btn-secondary">
            Search   <span class="fa fa-search" style="margin-left:5px"></span>
          </button>
        </semantic-search-form-query>
      </div>
      </template>
      </mp-event-target-template-render>
      <div class="row">
        <bs-col lg="9" md="8" sm="7"
        class="results-container"
        >
          <semantic-search-result-holder>
            <div>
            <semantic-search-result>
              <semantic-query
                id="view-more"
                query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {
                } LIMIT 1'
                template="{{>currentResultCount}}"
              >
                <template id="currentResultCount">
                  <h2>
                      Found {{bindings.0.count.value}} relevant results
                  </h2>
                </template>
              </semantic-query>
              <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
              <bs-tabs
              default-active-key="1"
              unmount-on-exit="true"
              id="search-results"
              animation="false"
              class="tabs-right"
            >
              <bs-tab event-key="1" name="List">
                <div id='artwork-filter-search-inline'>
                <semantic-table
                id="grid-result"
                query='SELECT DISTINCT ?subject WHERE {
                }LIMIT 100'
                number-of-displayed-rows="10"
                tuple-template="{{> subjectCellTemplate}}"
                options='{"showTableHeading": false, "showFilter":false}'
                no-result-template='[[> :CardNoResult ]]'
              >
                <template id="subjectCellTemplate">
                  <semantic-context repository='default'>
                    [[> :CardPerson]]
                  </semantic-context>
                </template>
              </semantic-table>
              </div>
            </bs-tab>
  
              </bs-tabs>
            </semantic-search-result>
            </div>
          </semantic-search-result-holder>
        </bs-col>
      <bs-col
        lg="3"
        md="4"
        sm="5"
        class="fade-in-fwd filters-container"
        style="margin-top: 8px"
        id="artwork-filter-search"
      >
      <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
        <semantic-search-facet open-by-default="true"></semantic-search-facet>
      </bs-panel>
      </bs-col>
  
      </div>
  
    </semantic-search>
  </semantic-context>
  <style>
    .navbar-default {
      box-shadow: none !important;
    }
    .input-trigger-group {
      margin-bottom: 40px;
    }
    .form-head {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .input-trigger-group {
        /* margin-bottom: 40px;
        box-shadow: 0px 0px 10px 1px #dedede;
        padding: 10px;
        border-radius: 5px; */
  
        margin-bottom: 40px;
      border: 1px solid #ededed;
      padding: 10px;
      border-radius: 5px;
  
    }
  
  
    span.fa.fa-remove.clickable{
      margin-top: 25px;
      cursor: pointer;
    }
    span.fa.fa-remove strong {
      margin-left: 5px;
  }
  
  span.fa.fa-repeat.clickable{
      margin-top: 25px;
      cursor: pointer;
    }
    span.fa.fa-repeat strong {
      margin-left: 5px;
  }
  
  
  h2 {
    font-weight: 500;
  }
  /* .input-boxes {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 25px;
  } */
  .results-container:empty + .filters-container{
    display: none !important;
  
  }
  .semantic-form {
      height: fit-content;
  }
  .semantic-form + .row{
    margin-top: 50px;
  }
  button.btn.btn-secondary {
      height: 45px;
      width: 115px;
      color: black;
      font-size: 16px;
      border-radius: 5px;
      background: #ffffff;
  }
  button.btn.btn-secondary:active {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  }
  button.btn.btn-secondary:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  }
  
  </style>