{
  "categories":  
  [
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "label":"Photographer"
  },
    {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor2>",
    "label":"Repository" 
  },
  {
    "iri":"<https://artresearch.net/resource/nypl/type/gender>",
    "label":"Gender"
  }, 
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E74_Group>",
    "label":"Nationality"
  }, 
  {
    "iri":"<http://www.w3.org/2001/XMLSchema#integer>",
    "label":"Year"
  }, 
  {
    "iri":"<https://artresearch.net/resource/fc/Type>",
    "label":"Type"
  }, 
  {
    "iri":"<https://artresearch.net/resource/fc/place>",
    "label":"Place"
  },
  {
    "iri":"<https://artresearch.net/resource/custom/fc/photo>",
    "label":"Photograph"
  },
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
    "label":"Photographer"
  },
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
    "label":"Person"
  },
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person2>",
    "label":"Photographer"
  },
  {
    "iri":"<https://artresearch.net/resource/fc/gender>",
    "label":"Gender"
  }, 
  {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E74_Group>",
    "label":"Nationality"
  }, 
  {
    "iri":"<http://www.w3.org/2001/XMLSchema#integer>",
    "label":"Year"
  },
  {
    "iri":"<http://www.w3.org/2001/XMLSchema#string>",
    "label":"label"
  }, 
  {
    "iri":"<https://artresearch.net/resource/fc/Type>",
    "label":"Type"
  }, 
  {
    "iri":"<https://artresearch.net/resource/fc/place>",
    "label":"Place"
  }
  ,{
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
      "label":"Painter"
    },
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
      "label":"Creator"
    },
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "label":"Artwork"
    },
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
      "label":"Type"
    }, 
     {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E55_Subject>",
      "label":"Subject"
    }, 
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>",
      "label":"Material"
    }, 
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>",
      "label":"Technique"
    }, 
    {
      "iri":"<https://artresearch.net/resource/fc/institution>",
      "label":"Photo archive"
    },
    {
      "iri":"<https://artresearch.net/resource/custom/fc/institution>",
      "label":"Photo archive"
    }, 
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
      "label":"Location"
    },
    {
    "iri":"<http://www.cidoc-crm.org/cidoc-crm/E30_Right>",
    "label":"Right"
    },
    {
      "iri":"<http://www.w3.org/2001/XMLSchema#date>",
      "label":"Date"
    },
    {
      "iri":"<http://www.w3.org/2001/XMLSchema#boolean>",
      "label":"Boolean"
    },
    {
      "iri":"<http://www.w3.org/2001/XMLSchema#number>",
      "label":"Number"
    }
  ],
  "relations":
  [
    {
      "iri":"<https://artresearch.net/resource/fr/Work_has_Image>",
      "label":"Has Image",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#boolean>"
    },
     {
      "iri":"<https://artresearch.net/resource/fr/Work_consists_of_Material>",
      "label":"Material",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>"
    },
    {
      "iri": "<https://artresearch.net/resource/fr/Work_created_from_Artist>",
      "label":"Photographer",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Work_shows_Subject>",
      "label":"Subject",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Work_produced_using_technique_Technique>",
      "label":"Technique",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Work_from_Place>",
      "label":"Location",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
    },
    {
      "iri": "<https://artresearch.net/resource/fr/Work_kept_by_Institution>",
      "label":"Repository",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor2>"
    },
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/P2_has_type>",
      "label":"Type",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
    },
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/P70i_is_documented_in>",
      "label":"Photo Archive",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
    }
  ]
}