<div
  id="artwork-header"
  class="page__header-body"
  style="  
  z-index: 100;
  width: -webkit-fit-content;
  width: fit-content;
  position: sticky;
  top: 12vh;"
  data-flex-layout="row top-left"
>
   <!-- <semantic-query
      query='SELECT ?creator WHERE { 
                  <[[this]]> fr:Photo_depicts_Work ?work.
                  ?work fr:Work_created_from_Artist ?creator
                }'
      template="{{>Variant}}"
    >
      <template id="Variant"> -->
          <div class="CreatorList">
            <bs-navbar>
              <bs-nav>
                <bs-nav-dropdown title="Variant Attributions" id="basic-nav-dropdown">
                  <h2 style="color: rgb(55 88 167);">Variant Attributions</h2>
                  <bs-menu-item class="square-attr">
                    <div class="Wrapper"> 
                    <div class="attr">by</div>
                    <div class="attr-by">{{bindings.0.subject.value}}</div>
                    </div>
                  </bs-menu-item>
                    <bs-menu-item class="square-attr">
                    <div class="Wrapper"> 
                    <div class="attr">copy of</div>
                    <div class="attr-by">{{bindings.0.subject.value}}</div>
                    </div>
                  </bs-menu-item>
                    <bs-menu-item class="square-attr">
                    <div class="Wrapper"> 
                    <div class="attr">School of</div>
                    <div class="attr-by">{{bindings.0.subject.value}}</div>
                    </div>
                  </bs-menu-item>
                </bs-nav-dropdown>
              </bs-nav>
            </bs-navbar>
          </div>
      <!-- </template>
    </semantic-query> -->
  <div class="page__header-draggable-title">
    <mp-draggable iri="[[this]]">
      <h2 data-flex-layout="row center-left">
        <span class="page__header-gripper"></span>
        <mp-label iri="[[this]]" class="page__header-gripper-label"></mp-label>
      </h2>
    </mp-draggable>
    <semantic-query
      query='SELECT ?title WHERE{
      ?? rdfs:label ?label. 
      BIND(REPLACE(str(?label),"[-!$%^&*()_+|~=`{}\\[\\]:\";<>?,.\\/\\\\]"," ") as ?title).
    }'
      template="{{>copyTemplate}}"
    >
      <template id="copyTemplate">
        <div>
          <mp-copy-to-clipboard
            text="{{bindings.0.title.value}}"
            message="Copied title"
          >
            <li class="titleCopy fa fa-copy"></li>
          </mp-copy-to-clipboard>
        </div>
      </template>
    </semantic-query>
    <div class="animated-background-sm"></div>
  </div>
  <div class="animated-background-sm"></div>

  <h2 style="margin-left: 5px; margin-top: 10px" class="fc-label">
    <semantic-query
      query="SELECT ?artwork WHERE{
      ?? fr:Photo_depicts_work ?artwork.
      ?artwork a fc:work
    }"
      template="{{>relArtwork}}"
    >
      <template id="relArtwork">
        <div>
          Related to artwork: {{#each bindings}}
          <semantic-link
            class="artwork-link"
            iri="{{artwork.value}}"
          ></semantic-link>
          {{/each}}
        </div>
      </template>
    </semantic-query>
  </h2>
  [[> :InfoTypeRepository work=(urlParam "uri") ]]

  </div>


<style>
  .dropdown-menu{
    width: 20vw !important;
    padding: 14px !important;
  }
  .square-attr{
    border:1px solid lightgray;
    margin: 10px;
    width: 3vw !important;
    border-radius: 15px;
  }
  .attr-by{
    padding: 5px; 
    white-space: initial; 
    text-align: center;
    padding-left:50px;

  }
.attr{
  padding:5px; 
   white-space: initial; 
   text-align: center;
   width: 3vw;
}
  .Wrapper{
    width: fit-content;
    display: flex;
  }
  .dropdown-menu > li > a{
    padding: unset !important;
  }
  .navbar-default .dropdown-menu >li>a {
    padding: unset !important;
  }

  #basic-nav-dropdown > #text {
   
     height: unset !important; 
     border: aqua solid 1px; 
     padding: unset; 
     margin: unset; 

  }
 
  #basic-nav-dropdown{
    height: 25px !important;
    border: lightgrey solid 1px;
     border-radius: 20px !important;
     color: rgb(55 88 167) !important;
  }
.collapse.navbar-collapse, .navbar-header, .navbar-nav, .navbar-nav > li, .navbar-nav > li > a, .rs-header {
  line-height: unset !important;

}
  .navbar  .container{
    height: unset !important;
  }
  .dropdown-menu{
    position: absolute;
  }
  .navbar{
    min-height: unset !important;
  }
</style>