[[#>:ClipboardSidebar]]
<div id="filter-search" class="row row-center no-margin">
  <div id="main-containers" class="col-md-10">
    <!-- Title -->
    <div class="form-head">
    <h1>Advanced Search</h1>

  
  </div>

    <div id="simple-search-include"  class="super-tabs advanced">

        <bs-tab-container
          id="tab-container"
          class="page__body-navtabs--borderless"
          default-active-key='Artworks'
        >
          <div>
            <bs-nav bs-style="tabs">
              <bs-nav-item event-key="Artworks">Artworks</bs-nav-item>
              <bs-nav-item event-key="Photographs">Photographs</bs-nav-item>
              <bs-nav-item event-key="Artists">Artists</bs-nav-item>
              <!-- <bs-nav-item event-key="Photographers">Photographers</bs-nav-item> -->
            </bs-nav>

            <bs-tab-content unmount-on-exit="true">
              <bs-tab-pane event-key="Artworks">
                [[> :SearchAdvancedArtwork]]
              </bs-tab-pane>
              <bs-tab-pane event-key="Photographs">
                [[> :SearchAdvancedPhotograph]]
              </bs-tab-pane>
              <bs-tab-pane event-key="Artists">
                [[> :SearchAdvancedArtist]]
              </bs-tab-pane>
              <bs-tab-pane event-key="Photographers">
                [[> :SearchAdvancedPhotographer]]
              </bs-tab-pane>
            </bs-tab-content>
          </div>
        </bs-tab-container>
    </div>
  </div>
</div>
[[/:ClipboardSidebar]]
<style>
.panel-default{
  box-shadow: none !important;
}
.search-form-container .advanced-search-form {
    width: 100%;
    height: 100%;
}

.search-form-container .panel-heading {
  background: none !important;
}

.search-form-container .panel-heading .panel-title a::before {
  color: gray !important;
  margin-right: 2px;
  text-transform: none;
  transition: 0.3s;
  content: "▼ Collapse";
}

.search-form-container .panel-heading .panel-title a.collapsed::before {
  text-transform: none;
  content: "▲ Expand";
}


.clickable{
  cursor: pointer;
}

  span.fa.fa-remove.clickable{
    margin-top: 25px;
  }
  span.fa.fa-remove strong {
    margin-left: 5px;
}

span.fa.fa-repeat.clickable{
    margin-top: 25px;
  }
  span.fa.fa-repeat strong {
    margin-left: 5px;
}

span.fa.fa-plus{
  font-size: 16px;
  margin-top: 20px;
  margin-right: 60px;
  margin-bottom: 20px;
}
</style>