<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Bronze Sculptures </h1>
        </header>
      </div>
    </div>
    [[> FilterSearchCollection domain="<https://artresearch.net/resource/fc/work>"  searchQuery=' ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300047090>. ?subject <https://artresearch.net/resource/fr/Work_consists_of_Material> <http://vocab.getty.edu/aat/300010957> .']]
  </div>
</div>  
