<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">About</li>
</ol>


<div class="page-content scrollable-content with-breadcrumbs">
  <div class="static-centered-content">
    <!-- Title -->
    <section class="page-title-and-intro">
      <h1>
        <span class="thin-text">About</span>
        <span class="bold-text">PHAROS</span></h1>
      <div class="about-content">
        <p class="bold-text">
          PHAROS is an international association that currently brings together
          thirteen art historical photo archives based in Europe and North
          America. It is committed to creating a freely available digital research
          platform that provides interoperable access to millions of photo
          archive images and associated scholarly documentation.
        </p>
      </div>
    </section>
    <section class="page-section">
      <p>
        Established in 2013, PHAROS intends to make the rich visual and
        textual material held in art historical photo archives – most of which is
        unpublished and accessible only on site – available to a global
        community of researchers. Photo archives have long been the
        laboratories of art history students and scholars, curators, and
        dealers. As Pharos partners, we are now digitizing our analog
        photographs, consolidating our records of images and works of art,
        and enriching them through linked open data. We are also drawing on
        new technologies such as computer vision and artificial intelligence.
        Through these means we are opening our collections, creating
        connections between them, and facilitating new research through the
        artresearch.net discovery platform.
      </p>
    </section>
    <section id="about-scope" class="page-section bg-wave">
      <h2 class="static-h2">Scope</h2>
      <p>The holdings of the current partners deal primarily with the cultural
        heritage of Europe and North America. Expanding this scope is a
        major objective of PHAROS, and we are actively seeking to involve
        photo archive collections and institutions based in other regions of the
        world and whose emphasis is on non-Western art and architecture.
        We recognize that photo archive collections reflect and respond to the interests, biases and tastes of the archivists, librarians and custodians
        that gathered them together.</p>
    </section>
    <section class="page-section bg-line">
      <h2 class="static-h2">Research objectives</h2>
      <p>The partners of PHAROS maintain that open access to millions of
        images of works of art and architecture as well as to their metadata
        will be of immeasurable value to research and teaching for a wide
        range of art-historical issues and for the humanities in general.
        Possible areas of research include – but are not limited to –
        provenance, attribution, iconography, conservation, material culture,
        exhibition research, publication history, the history of photography and
        imaging techniques, as well as the history of art history and other
        disciplines. The project will also foster a greater understanding of the
        photograph as physical object and its critical role in the dissemination
        of knowledge. PHAROS aims to provide an essential resource for
        those engaged with new research methodologies within the framework
        of digital humanities.</p>
    </section>
    <section class="page-section bg-dot-bottom-right">
      <h2 class="static-h2">DEAI statement</h2>
      <p>
        PHAROS is committed to the values of diversity, equity, accessibility,
        and inclusion (DEAI) as well as to cultivating a culture of care,
        collaboration, and community for all researchers regardless of
        individual identity or background.
        <!-- At its first meeting, supported by a grant from the Samuel H. Kress
        Foundation, directors and staff of the research institutes responsible
        for fourteen major photo archives in Europe and the United States
        prepared a statement of purpose&nbsp;that outlined both long- and
        short-term goals. Since that first meeting, a technology working group
        determined that the most promising solution for achieving consolidated
        access to the documentation on roughly 31 million images of works of art
        held by PHAROS institutions would be to map the data to the
        <u><a href="http://www.cidoc-crm.org/" target="_blank">CIDOC CRM</a></u>
        &nbsp;ontology and transform it into linked open data (LOD) for eventual
        contribution to
        <u><a href="http://www.researchspace.org/" target="_blank">ResearchSpace</a></u>
        . In 2014-2016, with funding from the Samuel H. Kress Foundation, Pharos
        collaborated with John Resig, the creator of JQuery and the Dean of
        Computer Science at Kahn Academy, to create an image recognition
        tool&nbsp;for the association’s Italian images similar to the one he
        created for
        <u><a href="http://ukiyo-e.org" target="_blank">Japanese Woodblock prints</a></u>
        . The PHAROS Art Research Database
        , &nbsp;launched in September 2016, enabled searching image to image without the mediation of language, using an interface that allowed users to perform searches for their own images against those held in the PHAROS database, as well as to find multiple images of the same work of art along with accompanying documentation from multiple photo archives. This functionality has been incorporated into the pilot project platform as <u><mp-link url="/resource/VisualSearch" target="_blank"> Visual Search </mp-link></u> -->
      </p>
      <p>Our organization acknowledges that photo archive collections are
        shaped by the histories of collecting and creating knowledge about art
        and are also inextricably linked with the people and institutions that
        have amassed these data banks of images over many decades. The
        Eurocentric focus of academic and collecting institutions has been
        complicit in creating and perpetuating bias. As part of its mission,
        PHAROS is engaged in scholarly communication and dialogue that contributes to the ongoing work of undoing discriminatory systems
        based on race, gender, sexuality, class, religion, and ability—both in
        our organization and in the fields of art history, collecting studies,
        photography studies, and museology at large.</p>
    </section>
    <section class="page-section bg-dot-top-left">
      <h2 class="static-h2">Governance and Organization</h2>
      <p>Pharos is registered as a non-profit corporation [501 (c) 3] in the
        United States. The Association is governed by a Board of Directors
        who represent each partner institution. The Board employs an
        Executive Director who reports to the Board, attends to daily
        operations, and attends all meetings but does not have a vote in
        Board meetings. The Board also elects executive officers from its
        membership to govern the Association. At present the Executive Team
        consists of:
      </p>
      <ul class="bold-text">
        <li>President: Gregory P. J. Most, National Gallery of Art</li>
        <li>Treasurer: Kraig Binkowski, Yale Center for British Art</li>
        <li>Secretary: Rembrandt Duits, The Warburg Institute</li>
        <li>Executive Director: Louisa Wood Ruby</li>
      </ul>
      <p>The Association has a number of committees and working groups that
        are responsible for the formation of the artresearch.net platform and
        the operation of the Association.</p>
        <ul>
          <li>Editorial Committee</li>
          <li>Finance Committee</li>
          <li>Intellectual Property Working Group</li>
          <li>Membership Committee</li>
          <li>Metadata Working Group</li>
          <li>Research Committee</li>
          <li>Technical Working Group</li>
        </ul>
      <p>For inquiries or further information about becoming a member of
          PHAROS please contact info@artresearch.net.</p>
    </section>


  </div>
</div>
