<div id="search-bar">
            <form method="GET" action="/resource">
              <div class="form-group form-group-lg">
                <span class="input-group">
                <input
                  required
                  minlength="4"
                  spellcheck="true"
                  class="form-control"
                  pattern='[^!@#$%^*()"{}<>]|^[A-ZÀ-Ýa-zà-ý0-9_,ß\s]+$'
                  placeholder="Search the collection"
                  type="search"
                  title="Type at least 4 characters, only alphanumeric e.g. (Mona Lisa 1503)"
                  id="site-search"
                  name="keyword"
                  aria-label="Search through site content"
                />
              <input type="hidden" name="uri" value="https://artresearch.net/resource/AllArtworks" />
                  <span class="input-group-btn">
              <button
                type="submit"
                style="background: white; height: 39px"
                class="btn searchBtn"
              >
                <i class="fa fa-search"></i>
              </button>
                  </span>
                </span>
              </div>
            </form>
</div>