  [[!--
    To include this page within you application, you can optionally pass in the following parameters:
    
    searchPattern="?subject rdfs:label|skos:prefLabel ?label . ?label bds:search ?__token__ ;"
		searchPlaceholder="Type to search for X"
    searchLimit="100"
  ---]]
    <semantic-search limit=[[#if searchLimit]][[searchLimit]][[else]]10[[/if]]>
      [[!-- heuristics to check whether we have a blazegraph instance and can apply bds search --]]
      [[#if (ask "ASK {  <http://www.bigdata.com/queryHints#Query> <http://www.bigdata.com/queryHints#optimizer> 'None' . ?x ?y ?z . }") ]]
        <semantic-search-query-keyword 
          [[#if searchPlaceholder]]placeholder='[[searchPlaceholder]]'[[/if]]                                 
          domain='<http://www.w3.org/2000/01/rdf-schema#Resource>'
          query='
            PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
						PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
						PREFIX bds: <http://www.bigdata.com/rdf/search#>
            SELECT ?subject WHERE {
              [[#if searchPattern]]
                [[searchPattern]]
              [[else]]                      
              ?subject a crm:E22_Man-Made_Object. 
              ?subject rdfs:label ?label .
              ?label bds:search ?__token__ ;
              bds:minRelevance "0.3" ;
              bds:relevance ?score ;
              bds:matchAllTerms "false" .
              BIND(STRLEN(?label) as ?length)
               [[/if]]
            } ORDER BY DESC(?score) ?length
          '
        ></semantic-search-query-keyword>
      [[else]]
        <semantic-search-query-keyword 
          [[#if searchPlaceholder]]placeholder='[[searchPlaceholder]]'[[/if]]                          
          domain='<http://www.w3.org/2000/01/rdf-schema#Resource>'
          escape-lucene-syntax='false'
          query='
            PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
						PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
            SELECT ?subject WHERE {
              [[#if searchPattern]]
                              [[searchPattern]]
              [[else]]
                ?subject a crm:E39_Actor. 
                ?subject rdfs:label ?label .
                ?label bds:search ?_token_ ; bds:minRelevance \"0.3\" ; bds:relevance ?score ; bds:matchAllTerms \"true\" . 
                FILTER(REGEX(?label, ?__token__, "i"))
                BIND(STRLEN(?label) as ?length)
              [[/if]]
            }ORDER BY DESC(?score) ?length
          '
        ></semantic-search-query-keyword>
      [[/if]]
  <div data-flex-layout="row stretch-stretch">
    <semantic-search-result-holder>
      <div data-flex-self="md-full">
        <semantic-search-result>
          <semantic-table id='grid-result'
                    query='SELECT DISTINCT ?subject (SAMPLE(?rawDesc) as ?description) WHERE {
                                  OPTIONAL { ?subject rdfs:comment ?rawDesc . }
                            } GROUP BY ?subject LIMIT [[#if searchLimit]][[searchLimit]][[else]]50[[/if]]'

                            number-of-displayed-rows="12"
         
                   tuple-template="{{> subjectCellTemplate}}"
                    options='{"showTableHeading": false, "showFilter":false}'
                    no-result-template='<div style="text-align: center;">No results. Please refine your keyword.</div>'>
            <template id="subjectCellTemplate">
            <div
                    class="rs-grid-element panel panel-default artwork-card fade-in"
                  >
                    <semantic-link-container uri="{{subject.value}}">
                      <div class="panel-body">
                        <bs-col
                          class="thumbnailImageContainer"
                          lg="4"
                          md="12"
                          xs="12"
                        >
                        <semantic-query
                        query='SELECT DISTINCT ?imgUrl WHERE{
                                bind("_" as ?default_imageUrl)
                                OPTIONAL{
                                  {
                                    # Artwork Image #
                                    <{{subject.value}}>  <http://www.cidoc-crm.org/cidoc-crm/P138i_is_represented_by> ?visual. 
                                    ?visual crm:P128i_is_carried_by ?image .
                                    ?image crm:P129i_is_subject_of ?fullsizeImgUrl.
                                    BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/200,") AS ?smallerImgUrl).
                                  }UNION{
                                    # Pharos Artwork Image #
                                    ?originalSubject owl:sameAs <{{subject.value}}> .
                                    ?originalSubject <http://www.cidoc-crm.org/cidoc-crm/P138i_is_represented_by> ?visual. 
                                    ?visual crm:P128i_is_carried_by ?image .
                                    ?image crm:P129i_is_subject_of ?fullsizeImgUrl.
                                    BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/200,") AS ?smallerImgUrl).
                                  }UNION{
                                    # Pharos Photo Image #
                                    ?originalSubject owl:sameAs <{{subject.value}}> .
                                    ?artwork crm:P138i_is_represented_by ?visual_item.
                                    ?visual_item crm:P128i_is_carried_by ?originalSubject.
                                    ?artwork <http://www.cidoc-crm.org/cidoc-crm/P138i_is_represented_by> ?visual. 
                                    ?visual crm:P128i_is_carried_by ?image .
                                    ?image crm:P129i_is_subject_of ?fullsizeImgUrl.
                                    FILTER(?image = ?originalSubject).
                                    BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/200,") AS ?smallerImgUrl).
                                  }UNION{
                                    # Photo Image #
                                    ?artwork crm:P138i_is_represented_by ?visual_item.
                                    ?visual_item crm:P128i_is_carried_by <{{subject.value}}> .
                                    ?artwork <http://www.cidoc-crm.org/cidoc-crm/P138i_is_represented_by> ?visual. 
                                    ?visual crm:P128i_is_carried_by ?image .
                                    ?image crm:P129i_is_subject_of ?fullsizeImgUrl.
                                    FILTER(?image = <{{subject.value}}>).
                                    BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/200,") AS ?smallerImgUrl).
                                  }
                                }
                                BIND(coalesce(?smallerImgUrl, ?default_imageUrl) as ?imgUrl)      
                              }LIMIT 1'
                        template="{{> imageThumbnail}}"
                        >
                        <template id="imageThumbnail">
                          <img
                            alt='   '
                            class="thumbnailImage"
                            src="{{bindings.0.imgUrl.value}}"
                            />
                        </template>
                      </semantic-query>


                        </bs-col>
                        <bs-col class="cardInfo" lg="7" md="10" xs="10">
                          <div data-flex-layout="row md-column center-stretch">
                            <bs-row class="cardInfoFields">
                                <h4><semantic-link iri="{{subject.value}}"></semantic-link></h4>
                                <!-- <h2>Original record</h2>
                                <h4><semantic-link iri="{{originalSubject.value}}"></semantic-link></h4> -->
                            </bs-row>
                          </div>
                        </bs-col>
                      </div>
                    </semantic-link-container>
                  </div>
            </template>
					</semantic-table>          
				</semantic-search-result>
      </div>
    </semantic-search-result-holder>
  </div>
</semantic-search>
<style>
  table.table {
    min-width: 100%;
  }

  tr.standard-row {
    border: none!important;
  }

  .table > tbody + tbody {
    border: none!important;
  }

  .table > tbody + tbody > tr {
    border: none!important;
  }


  .res-label {
    float: left;
  }

  .res-comment {
    clear: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .res-img-thumbnail {
    display: inline;
    float: left;
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  input#semantic-search-text-input {
    margin-top: 10vh!important;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
  }

  .cardInfo {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center !important;
    bottom: 35%;
    background: #ffffffe8;
  }

  .cardInfoFields {
    padding: 1vh;
  }

  .thumbnailImageContainer {
    display: flex;
    overflow: hidden;
    height: 100%;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    padding: 0;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    left: 0;
    top: 0;
    min-height: 23vh;
    width: 100%;
    position: absolute;
  }
  #search-results .rs-grid-element a {
    color: #6b0000 !important;
  }

  .thumbnailImage {
    width: 100%;
    min-height: 23vh;
    height: unset;
    max-height: unset;
    min-width: unset;
    object-fit: cover;
  }


  .drawingInfo {
    margin-bottom: 2vh;
  }

  .grid-info {
    font-size: 16px !important;
  }

  .fade-in {
    -webkit-animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .grid-demo b {
    font-weight: normal;
    color: #777777;
  }
  .facet__relation__values__value:hover {
    background-color: #f5f5f5;
  }
  .facet__relation__values__filter {
    filter: none !important;
    border: none;
  }

  #search-results .rs-grid-element.panel-default {
    border-color: #e9e9e9;
    overflow: hidden;
    padding: 0;
  }
  #search-results .rs-grid-element .panel-body {
    cursor: pointer;
    font-size: large;
    align-items: center;
    display: flex !important;
  }
  .rs-application .table > tbody > tr > td {
    border-color: white !important;
    padding: 4px 8px;
  }
  .rs-page__field {
    display: flex;
    justify-content: flex-start;
  }
  .rs-page__field-label {
    font-weight: normal;
    color: #777777;
  }
  .rs-page__field-label-holder {
    min-width: 10vw;
  }

  .artwork-card {
    width: 12vw !important;
    border-radius: 4px !important;
    height: 12vw !important;
    min-width: 200px;
    min-height: 200px;
    max-width: 280px;
    max-height: 280px;
    margin: 1vh;
  }
  #search-results .rs-grid-element.panel {
    background: white !important;
  }
  #search-results .rs-grid-element:hover {
    box-shadow: 1px 2px 8px 0 #761f0e35, 1px 3px 12px 2px rgba(0, 0, 0, 0.07);
  }
  .panel-body {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    user-select: unset !important;
  }


  @media (max-width: 800px) {
    .thumbnailImageContainer {
      justify-content: center;
    }
    .cardInfo {
      left: 0vw;
      top: 0vh;
    }
    .rs-page__field {
      flex-direction: column;
    }
    .table-responsive > .table {
      overflow: hidden;
    }
  }
</style>