<div id="artwork-filter-search">
  <semantic-search
    limit="1000"
    relations='{
    "<https://artresearch.net/resource/fr/Work_created_from_Artist>":[
      {
        "kind": "resource",
        "queryPattern": "
         
            $subject fr:Work_created_from_Artist ?__value__.
          "
      }
    ],
    "<https://artresearch.net/resource/fr/Work_kept_by_Institution>":[
    {
      "kind": "resource",
      "queryPattern": "
       
          $subject fr:Work_kept_by_Institution ?__value__.
       "
    }],
    "<https://artresearch.net/resource/fr/Work_shows_Subject>": [
    {
      "kind": "resource",
      "queryPattern": "
       
          $subject fr:Work_shows_Subject  ?__value__.
        "
    }],
    "<https://artresearch.net/resource/fr/Work_consists_of_Material>":[{
      "kind":"resource",
       "queryPattern": "
        ?subject <https://artresearch.net/resource/fr/Work_consists_of_Material> ?__value__ .
        FILTER NOT EXISTS {   
          ?subject <https://artresearch.net/resource/fr/Work_consists_of_Material>/<http://vocab.getty.edu/ontology#broaderPreferred> ?__value__.
        }
         "
    }],
    "<https://artresearch.net/resource/fr/Work_produced_using_technique_Technique>":[{
      "kind":"resource",
       "queryPattern": "
        ?subject <https://artresearch.net/resource/fr/Work_produced_using_technique_Technique> ?__value__ .
        FILTER NOT EXISTS {   
          ?subject <https://artresearch.net/resource/fr/Work_produced_using_technique_Technique>/<http://vocab.getty.edu/ontology#broaderPreferred> ?__value__.
        }
         "
    }],
    "<https://artresearch.net/resource/fr/Work_from_Place>": [
    {
      "kind": "resource",
      "queryPattern": "
       
          $subject fr:Work_from_Place ?__value__
        "
    }]
      }'
    search-profile='{
        "categories":  
        [
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
            "label":"Painter"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "label":"Creator/Institution"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "label":"Artwork"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
            "label":"Type"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>",
            "label":"Material"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>",
            "label":"Technique"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label":"Location"
          }
        ],
        "relations":
        [
          {
            "iri": "<https://artresearch.net/resource/fr/Work_created_from_Artist>",
            "label":"Creator",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
          },
          {
            "iri": "<https://artresearch.net/field/fcrs_Institution>",
            "label":"Photo archive",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          },
          {
            "iri": "<https://artresearch.net/resource/fr/Work_kept_by_Institution>",
            "label":"Repository",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          },
          {
            "iri":"<https://artresearch.net/resource/fr/Work_shows_Subject>",
            "label":"Subject",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
          },
          {
            "iri":"<https://artresearch.net/resource/fr/Work_consists_of_Material>",
            "label":"Material",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/P2_has_type>",
            "label":"Type",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
          },
          {
            "iri":"<https://artresearch.net/resource/fr/Work_produced_using_technique_Technique>",
            "label":"Technique",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>"
          },
          {
            "iri":"<https://artresearch.net/resource/fr/Work_from_Place>",
            "label":"Location",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
          }
        ]
      }'
  >
    <div id="header-search" class="search-page">
      <semantic-search-query-keyword
        domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
        placeholder="Search for an artwork title"
        escape-lucene-syntax="false"
        default-query="
            SELECT ?subject WHERE{
              ?originalSubject owl:sameAs ?subject.
              ?subject a fc:work.
            }"
        query='
            SELECT DISTINCT ?subject WHERE {
              ?originalSubject owl:sameAs ?subject.
              ?subject a fc:work.
              ?subject rdfs:label ?someLabel.
              ?someLabel bds:search ?__token__ .
              ?someLabel bds:minRelevance "0.3"^^xsd:double;
              bds:matchAllTerms "true" .
              }
          '
      ></semantic-search-query-keyword>
    </div>
    <div class="row">
        <bs-col
          lg="3"
          md="4"
          sm="5"
          class="fade-in-fwd"
          style="margin-top: 8px"
          id="artwork-filter-search"
        >
            <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
              <semantic-search-facet open-by-default='true' sortby='count-desc' facet-values-threshold="1000"></semantic-search-facet>
            </bs-panel>
        </bs-col>
        <mp-event-target-template-render id="my-render" template="{{> combined}}">
          <template id='combined'>
              <bs-col lg="9" md="8" sm="7">
                <semantic-search-result-holder>
                    <mp-event-target-template-render
                      id="event-target-tables"
                      template="{{> tableEventTargetTemplate}}"
                    >
                      <template id="tableEventTargetTemplate">
                            <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
                            <semantic-search-result id="semantic-search-result">
                              [[> SearchResultCount]]
                            </semantic-search-result>
                            <semantic-search-result>
                              <div id="card-results">
                                <bs-tab-container
                                  id="tab-container"
                                  class="page__body-navtabs--borderless"
                                  default-active-key="photosOnly"
                                >
                                  <div>
                                    <bs-nav bs-style="tabs">
                                        <bs-nav-item event-key="all">All</bs-nav-item>
                                        <bs-nav-item event-key="photosOnly">
                                          Must include photograph
                                        </bs-nav-item>
                                    </bs-nav>
                                    <bs-tab-content unmount-on-exit="true">
                                        <bs-tab-pane event-key="all">
                                          <semantic-table
                                            id="grid-result"
                                            prefetch-labels="false"
                                            options='{"showFilter":false}'
                                            number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}10{{/if}}"
                                            query=" SELECT DISTINCT ?subject
                                                    WHERE {}LIMIT 1000"
                                            tuple-template="{{>tupleTemplate}}"
                                            no-result-template='[[> CardNoResult ]]'
                                          >
                                              <template id="tupleTemplate">
                                                [[> CardArtwork artwork="true"]]
                                              </template>
                                          </semantic-table>
                                        </bs-tab-pane>
                                        <bs-tab-pane event-key="photosOnly">
                                          <semantic-table
                                            id="grid-result-2"
                                            prefetch-labels="false"
                                            options='{ "showFilter":false }'
                                            number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}10{{/if}}"
                                            query="
                                                SELECT DISTINCT ?subject
                                                WHERE {
                                                  ?subject fr:Work_depicted_by_Photo ?photo.
                                                  ?photo crm:P129i_is_subject_of ?image.
                                                }LIMIT 1000
                                              "
                                            tuple-template="{{>tupleTemplate}}"
                                            no-result-template='[[> CardNoResult ]]'
                                          >
                                              <template id="tupleTemplate">
                                                [[> CardArtwork artwork="true"]]
                                              </template>
                                          </semantic-table>
                                        </bs-tab-pane>
                                    </bs-tab-content>
                                  </div>
                                </bs-tab-container>
                              </div>
                              [[> NumberOfRowsSelector]]
                            </semantic-search-result>
                      </template>
                    </mp-event-target-template-render>
                </semantic-search-result-holder>       
              </bs-col>
          </template>
        </mp-event-target-template-render>
    </div>
  </semantic-search>
</div>
