<div style="display: flex;justify-content: center; flex-direction: column;" >
  <h3 style="text-align:center"><b>Instance Matching</b></h3>
  <table>
    <thead>
      <tr>
        <td><h5><b>Category</b></h5></td>
        <td><h5><b>Matches</b></h5></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h5><b>Artists</b></h5></td>
        <div style="display: flex;flex-direction: column;">
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedItattiArtists>I Tatti</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedZeriArtists>Zeri</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedFrickArtists>Frick</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedMarburgArtists>Marburg</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedKHIArtists>KHI</td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedHertzianaArtists>Hertziana</semantic-link></td>
        </div>
      </tr>
      <tr>
        <td><h5><b>Artworks</b></h5></td>
        <div style="display: flex;flex-direction: column;">
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedItattiArtworks>I Tatti</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedZeriArtworks>Zeri</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedFrickArtworks>Frick</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedMarburgArtworks>Marburg</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedKHIArtworks>KHI</td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedHertzianaArtworks>Hertziana</semantic-link></td>
        </div>
      </tr>
      <!-- <tr>
        <td><h5><b>Institutions</b></h5></td>
        <div style="display: flex;flex-direction: column;">
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedItattiInstitutions>I Tatti</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedZeriInstitutions>Zeri</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedFrickInstitutions>Frick</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedMarburgInstitutions>Marburg</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedKHIInstitutions>KHI</td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedHertzianaInstitutions>Hertziana</semantic-link></td>
        </div>
      </tr> -->
      <tr>
        <td><h5><b>Photographers</b></h5></td>
        <div style="display: flex;flex-direction: column;">
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedItattiPhotographers>I Tatti</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedZeriPhotographers>Zeri</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedFrickPhotographers>Frick</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedMarburgPhotographers>Marburg</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedKHIPhotographers>KHI</td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedHertzianaPhotographers>Hertziana</semantic-link></td>
        </div>
      </tr>
      <!-- <tr>
        <td><h5><b>Places</b></h5></td>
        <div style="display: flex;flex-direction: column;">
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedItattiPlaces>I Tatti</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedZeriPlaces>Zeri</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedFrickPlaces>Frick</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedMarburgPlaces>Marburg</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedKHIPlaces>KHI</td>
          <td style="text-align:left"><semantic-link iri=rsp:ListOfMatchedHertzianaPlaces>Hertziana</semantic-link></td>
        </div> -->
      </tr>
    </tbody>
  </table>
</div>