    
<div data-flex-layout="row center-stretch">
       	<div class="grid-demo">
      
   
  <div style='height: 65vh;'>

   <rs-iiif-mirador
  image-or-region="[[#if record]][[record]][[else]]{{record}}[[/if]]" 

image-id-pattern='BIND("image" AS ?type). BIND( ?? AS ?imageIRI). ?? <http://www.cidoc-crm.org/cidoc-crm/P129i_is_subject_of> ?image . ?image crm:P2_has_type <http://iiif.io/api/image> .
  
BIND(REPLACE(STR(REPLACE(STR(?image),"/full/full/0/native.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
  
iiif-server-url="https://ids.lib.harvard.edu/ids/iiif" 
       
  />

  </div>

  </div> 
  	<div class="grid-demo">
  
  <semantic-table 
      query='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
						 PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
		 				 PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

					 	 SELECT distinct ?photo ?photo_label ?keeper ?keeper_label ?photographer ?photographer_label ?verso ?recto ?json WHERE 
						{
  							?? crm:P138i_is_represented_by ?visual_item.
  							?visual_item crm:P128i_is_carried_by ?photo.
  							?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
              
                ?photo crm:P50_has_current_keeper ?keeper.
                ?keeper rdfs:label ?keeper_label.
                ?photo crm:P108i_was_produced_by ?production .
                ?production crm:P14_carried_out_by ?photographer.
                ?photographer rdfs:label ?phototographer_label.
   
                ?photo crm:P129i_is_subject_of ?recto.
                ?recto crm:P2_has_type <http://iiif.io/api/image> .
  							?recto crm:P2_has_type ?typer .
                ?typer rdfs:label "recto".
 								?recto crm:P129i_is_subject_of ?json .
        			
            }' 
            options='{"showFilter": false, "showTableHeading": false}'
            tuple-template='{{> photos}}'
>
 <template id='photos'>
				<table class='table'>
              <tr>
                <td>
       
                <a href={{json.value}} style="margin-top:18px;margin-right:20px;">  
          				 <img src={{recto.value}} style="max-height:170px; max-width:170px; margin: 0 auto;" class="img-rounded">
         				</a>
                </td>
                <td>
                   Photograph:
                 	<semantic-link iri="{{photo.value}}"> 
          				{{photo.value}}
                  </semantic-link> <br>
                  Photographer:
                 	<semantic-link iri="{{photographer.value}}"> 
          				 {{photographer_label.value}}
                  </semantic-link> <br>
                  IIIF Image:
                  <a href={{recto.value}} style="margin-top:18px;margin-right:20px;">  
          			  {{recto.value}}
         				  </a>
                  <br>
                  IIIF Image Json:
                  <a href={{json.value}} style="margin-top:18px;margin-right:20px;">  
          			  {{json.value}}
         				  </a>
 
         				
                 </td>
              </tr>
            </table>
        
  </template>    
</semantic-table>
  
  
  
  </div>
        
  
       
   

</div>












               





