<div id="noResults">
  <h1>
    <i> No results found. Please refine your search criteria. </i>
  </h1>
  <img
    height="50vh"
    src="../../assets/images/media/3107100151869_001.jpg"
    style="height: 41vh; box-shadow: 1px 1px 1px 1px"
  /><img
    height="50vh"
    src="../../assets/images/media/3107100151871_001.jpg"
    style="height: 41vh; box-shadow: 1px 1px 1px 1px"
  />
  <h4>Artworks of Eberle, Abastenia St. Leger</h4>
  <semantic-link  iri="Default:DisplayCollectionFemaleArtists"
    >View the female artists collection</semantic-link>
</div>
<style>
  #noResults a {
    color:#641418 !important
  }
</style>