<semantic-query
  query='
  SELECT ?dataset ?repositoryLabel WHERE {
    {
      {
        [[this.iri]] crm:P50_has_current_keeper ?repo.
        ?repo rdfs:label ?repositoryLabel
      }union{
        [[this.iri]] <https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution> ?repo.
        ?repo rdfs:label ?repositoryLabel
      }
      OPTIONAL {
      [[this.iri]] <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?type .
      ?type rdfs:label ?type_label.
      ?type <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <https://pharos.artresearch.net/resource/vocab/maintype>}
  
    }UNION{
      ?originalSubject owl:sameAs [[this.iri]]
      {
        ?originalSubject crm:P50_has_current_keeper ?repo.
        ?repo rdfs:label ?repositoryLabel
      }union{
        ?originalSubject <https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution> ?repo.
        ?repo rdfs:label ?repositoryLabel
      }
      OPTIONAL {
      ?originalSubject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?type .
      ?type rdfs:label ?type_label.
      ?type <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <https://pharos.artresearch.net/resource/vocab/maintype>}
    }
    BIND(IF(BOUND(?repo), concat(?type_label," (Repository: ",str(?repositoryLabel),")"), "(Repository: Unknown)") as ?dataset) .
  } LIMIT 1
                       '
  template="{{> fcLabelTemplate}}"
>
  <template id="fcLabelTemplate">
    <h4 class="fc-label">{{bindings.0.dataset.value}}</h4>
  </template>
</semantic-query>


