<div style='display: flex; align-items: center; justify-content: space-between;'>
  <div style='overflow: hidden;'>
    <span style='display: flex;'>
      <mp-label 	 iri='{{iri.value}}'
               
                style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'
      ></mp-label>
    </span>
  </div>
  <div class='set-management__item-actions' style='margin-left: auto;'>
    <bs-dropdown-button 
        pull-right=true 
        bs-style='link' 
        title=''                  
        id='set-actions-{{iri.value}}'>

      [[#if (hasPermission "forms:ldp:*")]]
        <mp-set-management-action-rename-set>
          <bs-menu-item event-key='rename'>Rename set</bs-menu-item>
        </mp-set-management-action-rename-set>
        <mp-set-management-action-remove-set>
          <bs-menu-item event-key='remove'>Remove set</bs-menu-item>
        </mp-set-management-action-remove-set>
      [[/if]]
    </bs-dropdown-button>
  </div>
</div>
