<section class="container-fluid relative">
  <section class="home-section">
    <section class="row" id="hero">
      <section id="home-title" class="col-md-6">
        <h1>
          <span class="wrap-line">art</span>
          <span class="wrap-line">research</span>
          <span class="wrap-line">.net</span>
        </h1>
        <section id="search-collections">
          <section class="row" id="search-collections-launcher">
              <h3 class="col-md-5">Search the collections</h3>
              <section class="arrow-link col-md-5">
                <div class="search-collections-arrow">
                  <img src="/assets/images/arrow.png" alt="arrow">
                </div>
                <div class="search-collections-arrow-hover">
                  <img src="/assets/images/arrow-hover.png" alt="Profile Image">
                </div>
              </section>
              <p class="col-md-12" id="search-collections-payoff">
                <span class="wrap-line">explore, connect and contextualize</span>
                <span class="bold">art histories</span>
              </p>
          </section>

        </section>
      </section>
      <section class="col-md-6" id="home-images-carousel">
        <p>pictures</p>
      </section>

    </section>
  </section>
  <section class="home-section">
    <section class="row" id="intro">
      <h2>artresearch.net</h2>
      <p class="extra-big">artresearch.net is the free, open access discovery platform for the
        combined collections of 
        <a href="https://artresearch.net/resource/About">PHAROS: The International Association of Photo Archives</a>
        which provides access to millions of photographs of works of art,
        and over a century of art historical documentation.</p>
      <section class="buttons-group">
        <a class="green-btn">About PHAROS <img src="/assets/images/arrow_black.png" alt="arrow"/></a>
        <a class="black-btn">Partners <img src="/assets/images/arrow_cream.png" alt="arrow"/></a>
        <a class="transparent-btn">visit PHAROS website <img src="/assets/images/arrow_green.png" alt="arrow"/></a>
      </section>
    </section>
  </section>
  <section class="home-section">
    <section class="row" id="browse-collections">
      <h2 class="section-title col-md-6">
        <span class="wrap-line black-text thin-text">Browse across</span>
        <span class="white-text bold-text">collections</span>
      </h2>
      <p class="col-md-5">artresearch.net tools allow for research
        across PHAROS partners' collections for artworks, artists,
        photographs, photographers, studios, and repositories.</p>
      <section class="collections-cards col-md-12">
        <section class="collection-card col-md-2">
          <h3>Artworks</h3>
          <p class="white-text">1.5 Million</p>
          <img src="/assets/images/browse_artworks.png" alt="arnolfini">
        </section>
        <section class="collection-card col-md-2">
          <h3>Artists</h3>
          <p class="white-text">25000</p>
          <img src="/assets/images/browse_artists.png" alt="michelangelo">
        </section>
        <section class="collection-card col-md-2">
          <h3>Photographers</h3>
          <p class="white-text">7500</p>
          <img src="/assets/images/browse_photographers.png" alt="sansoni">
        </section>
        <section class="collection-card col-md-2">
          <h3>Photographs</h3>
          <p class="white-text">2.8 Million</p>
          <img src="/assets/images/browse_photographs.png" alt="photo mount">
        </section>
        <section class="collection-card col-md-2">
          <h3>Repositories</h3>
          <p class="white-text">8000</p>
          <img src="/assets/images/browse_repositories.png" alt="british museum">
        </section>
      </section>
    </section>
  </section>
  <section class="home-section">
    <section class="row justify-content-md-center" id="explore-possibilities">
      <h2 class="section-title col-md-12">
        <span class="wrap-line black-text thin-text">Start by exploring</span>
        <span class="black-text bold-text">possibilities</span>
      </h2>
      <p class="col-md-12 underline">
        <span class="wrap-line">See a few examples of the types of in-depth
        searches</span>
        <span>you can perform on artresearch.net</span>
      </p>
      <section class="explore-cards col-md-12">
        <section class="col-md-1"> </section>
          <section class="col-md-2 explore-card">
            <img class="col-md-12" src="/assets/images/explore_cooper.png" alt="">
            <p>A. C. Cooper</p>
            <p>photographers</p>
          </section>
          <section class="col-md-2 explore-card">
            <img class="col-md-12" src="/assets/images/explore_builtworks_middleast.png" alt="">
            <p>Built works</p>
            <p>in the Middle-East</p>
          </section>
          <section class="col-md-2 explore-card">
            <img class="col-md-12" src="/assets/images/explore_portrait.png" alt="">
            <p>Self portraits</p>
            <p>artists</p>
          </section>
          <section class="col-md-2 explore-card">
            <img class="col-md-12" src="/assets/images/explore_red-chalk.png" alt="">
            <p>Red chalk</p>
            <p>drawings</p>
          </section>
          <section class="col-md-2 explore-card">
            <img class="col-md-12" src="/assets/images/explore_sculpture.png" alt="">
            <p>Bronze sculpture</p>
            <p>from Antiquity to Modernity</p>
          </section>

      </section>
    </section>
  </section>
  <section class="home-section">
    <section class="row" id="create-stories">
      <section class="col-md-4">
        <h2 class="section-title">
          <span class="wrap-line black-text thin-text">Create</span>
          <span class="black-text bold-text">stories</span>
        </h2>
        <p class="">Thanks to ongoing work on
          record reconciliation across photo
          archives, you can compare
          images, bibliographic resources,
          attributions, and reconstruct the
          histories of artworks and
          photographs in one place.</p>
      </section>
      <section class="col-md-8">
        <section class="story col-md-12" id="story-1">
          <section class="col-md-9 story-images">
            <img class="story-image" src="/assets/images/stories1_1.jpg" alt="">
            <img class="story-image" src="/assets/images/stories1_2.jpg" alt="">
            <img class="story-image" src="/assets/images/stories1_3.jpg" alt="">
            <img class="story-image" src="/assets/images/stories1_4.jpg" alt="">
          </section>
          <section id="pollaiolo-info" class="col-md-3 story-text">
            <p class="bold-text">Compare scholarly images and data from different sources</p>
            <section class="arrow-link">
              <div class="search-collections-arrow accordion-button"  data-bs-toggle="collapse" data-bs-target="#pollaiolo-detail" aria-expanded="true" aria-controls="pollaiolo-detail">
                <img src="/assets/images/icons/info_green.png" alt="info"/>
              </div>
              <div class="search-collections-arrow-hover">
                <img src="/assets/images/icons/info_hover.png" alt="info"/>
              </div>
            </section>
          </section>
          <section id="pollaiolo-detail" class="story-detail hidden col-md-12">
            <p>Portrait of a young lady, Pollaiolo (c. 1465)</p>
            <p>Studying different reproductions of Pollaiolo’s Portrait
              of a young lady from multiple photo archives allows
              researchers to compare variations in inscriptions,
              attributions, provenance, mounts, printing techniques
              and framing, thus giving a more complete research history
              of the painting.</p>
          </section>

        </section>
        <section class="story col-md-12" id="story-2">
          <section class="col-md-7 story-images">
            <img class="story-image" src="/assets/images/stories2_1.jpg" alt="">
            <img class="story-image" src="/assets/images/stories2_2.jpg" alt="">
            <img class="story-image" src="/assets/images/stories2_3.jpeg" alt="">
          </section>
          <section class="col-md-3 story-text">
            <p class="bold-text">See changes in artworks over time</p>
            <section class="arrow-link">
              <div class="search-collections-arrow">
                <img src="/assets/images/icons/info_green.png" alt="info"/>
              </div>
              <div class="search-collections-arrow-hover">
                <img src="/assets/images/icons/info_hover.png" alt="info"/>
              </div>
            </section>
          </section>
        </section>
        <section class="story col-md-12" id="story-3">
          <section class="col-md-10 story-images">
            <img class="story-image" src="/assets/images/stories3_1.jpg" alt="">
            <img class="story-image" src="/assets/images/stories3_2.jpg" alt="">
            <img class="story-image" src="/assets/images/stories3_3.jpg" alt="">
            <img class="story-image" src="/assets/images/stories3_4.jpg" alt="">

          </section>

          <section class="col-md-2 story-text">
            <p class="bold-text">Connect artworks in their original context</p>
            <section class="arrow-link">
              <div class="search-collections-arrow">
                <img src="/assets/images/icons/info_green.png" alt="info"/>
              </div>
              <div class="search-collections-arrow-hover">
                <img src="/assets/images/icons/info_hover.png" alt="info"/>
              </div>
            </section>

          </section>
        </section>
      </section>
    </section>
  </section>
  <section class="home-section">
    <section class="row" id="analyze-images">
      <section class="col-md-12">
        <h2 class="section-title col-md-5">
          <span class="black-text thin-text">Analyze </span>
          <span class="black-text bold-text">images</span>
        </h2>
        <p class="col-md-6">Use the IIIF viewer to examine
          and compare images from multiple sources.</p>
      </section>


    </section>
  </section>
  <section class="home-section">
    <section class="row" id="how-technologies">
      <section class="col-md-8">
        <h2 class="section-title col-md-12">
          <span class="wrap-line black-text thin-text">How we use </span>
          <span class="wrap-line black-text thin-text">state-of-the-art </span>
          <span class="black-text bold-text">technologies</span>
        </h2>
        <p class="col-md-10">Our digitized photographic collections go on a long
        journey to reach artresearch.net. We explore state-ofthe-
        art technologies, like computer vision and linked
        open data, to enrich records with data from multiple
        sources, reconcile artworks, people, and places, and
        share data with the scholarly community in
        interoperable formats according to the CIDOC-CRM
        ontology.
        </p>
      </section>
      <section class="col-md-3">
        <img src="/assets/images/technologies.png" alt="technologies used in artresearch">
      </section>
    </section>
  </section>

  <section class="home-section">
    <section class="row" id="contacts-more">
      <section class="col-md-6">
          <h2 class="section-title col-md-12">
            <span class="black-text thin-text">Contact </span>
            <span class="white-text bold-text">us</span>
          </h2>
          <p class="col-md-10">For more information about PHAROS, including
            joining our consortium, please send an email to:
            <a href="mailto:info@artresearch.net?subject=feedback">info@artresearch.net</a>.</p>
      </section>
      <section class="col-md-6">
        <h2 class="section-title col-md-12">
          <span class="black-text thin-text">Learn </span>
          <span class="white-text bold-text">more</span>
        </h2>
        <p class="col-md-10">Read about the PHAROS consortium,
          meet partners and the advisory board at artresearch.net.</p>
      </section>
    </section>
  </section>
  <section class="home-section only-bg">

  </section>
</section>
