<mp-event-trigger id="breadcrumbs" type='Component.TemplateUpdate' on='["mounted"]' targets='["top-header-breadcrumbs"]'
  data='{"breadcrumb": "Advisory board"}'>
</mp-event-trigger>
<div class="page-content scrollable-content with-breadcrumbs" key="advisory">
  <div class="static-centered-content">
    <!-- Title -->
    <section class="page-title-and-intro">
      <h1>
        <span class="thin-text">Advisory</span>
        <span class="bold-text">Board</span>
      </h1>
    </section>
    <section class="page-section">
      <ul>
        <li><span class="bold-text">Andrea Wallace</span>, Associate Professor in Law and Technology at the University of Exeter.</li>
        <li><span class="bold-text">Anne Helmreich</span>, Director, Archives of American Art, Washington, D.C.</li>
        <li><span class="bold-text">Gregg P.J. Most</span>, Curator Emeritus, National Gallery of Art Library. Past President, PHAROS.</li>        
        <li><span class="bold-text">Lily Pregill</span>, Assistant Director, Collection & Content Management Systems, J. Paul Getty Trust, Los Angeles.</li>
        <li><span class="bold-text">Louisa Wood Ruby</span>, Past President and Executive Director, PHAROS.</li>
        <li><span class="bold-text">Melissa Fournier</span>, Head of Imaging Services and Intellectual Property, Yale Center for British Art, New Haven.</li>
        <li><span class="bold-text">Michael Rocke</span>, Former Nicky Mariano Librarian and Director, Biblioteca Berenson, I Tatti – The Harvard University Center for Italian Renaissance Studies.</li>
        <li><span class="bold-text">Peter Bell</span>, Professor of Art History and Digital Humanities, Philipps University, Marburg.</li>
        <li><span class="bold-text">Robert G. La France</span>, Director and Chief Curator, David Owsley Museum of Art at Ball State University, Muncie, Indiana.</li>
        <li><span class="bold-text">Sarah Turner</span>, Director, Paul Mellon Centre for Studies in British Art, London.</li>
      </ul>
    </section>
  </div>
  [[> Default:footer]]
</div>
