<bs-dropdown-button title="[[dropdownTitle]]" no-caret="true">
  <mp-event-trigger
    id="event-trigger-tab-artwork"
    type="Component.TemplateUpdate"
    data='{"selectedTab":"Artworks","withImages":"{{#if withImages}}{{withImages}}{{else}}{{#ifCond (objectLength "[[urlParam "withimages"]]") "!==" 0}}[[urlParam "withimages"]]{{else}}false{{/ifCond}}{{/if}}"}'
    targets='["event-target-search-btn","event-target-search-switches","event-target-search-switches-container","event-target-tab-select"]'
  >
    <bs-menu-item active event-key="artwork">
      <h2>Artworks</h2>
      <h4>Search 1.343.631 artworks</h4>
    </bs-menu-item>
  </mp-event-trigger>
  <mp-event-trigger
    id="event-trigger-tab-photograph"
    type="Component.TemplateUpdate"
    data='{"selectedTab":"Photographs","withImages":"{{#if withImages}}{{withImages}}{{else}}{{#ifCond (objectLength "[[urlParam "withimages"]]") "!==" 0}}[[urlParam "withimages"]]{{else}}false{{/ifCond}}{{/if}}"}'
    targets='["event-target-search-btn","event-target-search-switches","event-target-search-switches-container","event-target-tab-select"]'
  >
    <bs-menu-item event-key="photograph">
      <h2>Photographs</h2>
      <h4>Search 2.662.877 photographs</h4>
    </bs-menu-item>
  </mp-event-trigger>
  <mp-event-trigger
    id="event-trigger-tab-artist"
    type="Component.TemplateUpdate"
    data='{"selectedTab":"Artists","withImages":"{{#if withImages}}{{withImages}}{{else}}{{#ifCond (objectLength "[[urlParam "withimages"]]") "!==" 0}}[[urlParam "withimages"]]{{else}}false{{/ifCond}}{{/if}}"}'
    targets='["event-target-search-btn","event-target-search-switches","event-target-search-switches-container","event-target-tab-select"]'
  >
    <bs-menu-item event-key="artist"> 
      <h2>Artists</h2>
      <h4>Search 85.427 artists</h4>  
    </bs-menu-item>
  </mp-event-trigger>
  <!-- <mp-event-trigger
    id="event-trigger-tab-photographer"
    type="Component.TemplateUpdate"
    data='{"selectedTab":"Photographers"}'
    targets='["event-target-search-btn","event-target-search-switches","event-target-search-switches-container","event-target-tab-select"]'
  >
    <bs-menu-item event-key="photographer"> 
      <h2>Photographers</h2>
      <h4>Search 6.603 photographers</h4>    
    </bs-menu-item>
  </mp-event-trigger> -->
</bs-dropdown-button>
