<div class="page">
  <div  class="jumbotron">
    <h1 style="margin-left:2vw" class="display-4">Statistics</h1>
    <p style="margin-left:2vw" class="lead">Statistics are updated daily. Click on the tabs bellow to browse statistics about artworks, photos, artists & more.</p>
  </div>
  <bs-tabs class="page__body-navtabs--borderless-no-image" unmount-on-exit=true>
    <bs-tab event-key="1" title="Artworks">
      
   <mp-component-toolbar>
       <mp-component-toolbar-actions>
         <semantic-chart-type-selector default="donut" types='["line", "bar", "radar", "pie", "donut"]' />
       </mp-component-toolbar-actions>
       <mp-component-toolbar-component>
         <semantic-chart
           type = 'pie'
           query='
             SELECT * WHERE {
                {
                  # Villa I Tatti
                  GRAPH <https://pharos.artresearch.net/resource/itatti/source/ITatti/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfWorks> ?count
                  }
                }
                union{           
                  # FotoIndex
                  GRAPH <https://pharos.artresearch.net/resource/itatti/source/FotoIndex/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfWorks> ?count
                  }
                }
                union{           
                  # SharedShelf
                  GRAPH <https://pharos.artresearch.net/resource/itatti/source/SharedShelf/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfWorks> ?count
                  }
                }             
                union{
                  # Zeri
                  GRAPH <https://pharos.artresearch.net/resource/zeri/source/Zeri/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfWorks> ?count
                  }
                }
                union{           
                  # Frick
                  GRAPH <https://pharos.artresearch.net/resource/frick/source/Frick/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfWorks> ?count
                  }
                }
                union{           
                  # KHI
                  GRAPH <https://pharos.artresearch.net/resource/khi/source/KHI/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfWorks> ?count
                  }
                }
                union{           
                  # Hertziana
                  GRAPH <https://pharos.artresearch.net/resource/hertziana/source/Hertziana/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfWorks> ?count
                  }
                }
                union{           
                  # Marburg
                  GRAPH <https://pharos.artresearch.net/resource/marburg/source/Marburg/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfWorks> ?count
                  }
                }
              } ORDER BY ASC(?person)'
           sets='[{"dataSetName": "Works", "category": "person", "value": "count"}]'>
         </semantic-chart>
       </mp-component-toolbar-component>
     </mp-component-toolbar>
   <br/>
   <br/>
     
    </bs-tab>
    <bs-tab event-key="2" title="Photos">
              
   <mp-component-toolbar>
       <mp-component-toolbar-actions>
         <semantic-chart-type-selector default="donut" types='["line", "bar", "radar", "pie", "donut"]' />
       </mp-component-toolbar-actions>
       <mp-component-toolbar-component>
         <semantic-chart
           type = 'pie'
           query='
             SELECT * WHERE {
                {
                  # Villa I Tatti
                  GRAPH <https://pharos.artresearch.net/resource/itatti/source/ITatti/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfPhotos> ?count
                  }
                }
                union{           
                  # FotoIndex
                  GRAPH <https://pharos.artresearch.net/resource/itatti/source/FotoIndex/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfPhotos> ?count
                  }
                }
                union{           
                  # SharedShelf
                  GRAPH <https://pharos.artresearch.net/resource/itatti/source/SharedShelf/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfPhotos> ?count
                  }
                }             
                union{
                  # Zeri
                  GRAPH <https://pharos.artresearch.net/resource/zeri/source/Zeri/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfPhotos> ?count
                  }
                }
                union{           
                  # Frick
                  GRAPH <https://pharos.artresearch.net/resource/frick/source/Frick/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfPhotos> ?count
                  }
                }
                union{           
                  # KHI
                  GRAPH <https://pharos.artresearch.net/resource/khi/source/KHI/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfPhotos> ?count
                  }
                }
                union{           
                  # Hertziana
                  GRAPH <https://pharos.artresearch.net/resource/hertziana/source/Hertziana/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfPhotos> ?count
                  }
                }
                union{           
                  # Marburg
                  GRAPH <https://pharos.artresearch.net/resource/marburg/source/Marburg/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfPhotos> ?count
                  }
                }
             } ORDER BY ASC(?person)'
           sets='[{"dataSetName": "Photos", "category": "person", "value": "count"}]'>
         </semantic-chart>
       </mp-component-toolbar-component>
     </mp-component-toolbar>
   <br/>
   
    </bs-tab>
    <bs-tab event-key="3" title="Artists">
              
   <mp-component-toolbar>
       <mp-component-toolbar-actions>
         <semantic-chart-type-selector default="donut" types='["line", "bar", "radar", "pie", "donut"]' />
       </mp-component-toolbar-actions>
       <mp-component-toolbar-component>
         <semantic-chart
           type = 'pie'
           query='
             SELECT * WHERE {
                {
                  # Villa I Tatti
                  GRAPH <https://pharos.artresearch.net/resource/itatti/source/ITatti/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfArtists> ?count
                  }
                }
                union{           
                  # FotoIndex
                  GRAPH <https://pharos.artresearch.net/resource/itatti/source/FotoIndex/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfArtists> ?count
                  }
                }
                union{           
                  # SharedShelf
                  GRAPH <https://pharos.artresearch.net/resource/itatti/source/SharedShelf/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfArtists> ?count
                  }
                }             
                union{
                  # Zeri
                  GRAPH <https://pharos.artresearch.net/resource/zeri/source/Zeri/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfArtists> ?count
                  }
                }
                union{           
                  # Frick
                  GRAPH <https://pharos.artresearch.net/resource/frick/source/Frick/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfArtists> ?count
                  }
                }
                union{           
                  # KHI
                  GRAPH <https://pharos.artresearch.net/resource/khi/source/KHI/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfArtists> ?count
                  }
                }
                union{           
                  # Hertziana
                  GRAPH <https://pharos.artresearch.net/resource/hertziana/source/Hertziana/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfArtists> ?count
                  }
                }
                union{           
                  # Marburg
                  GRAPH <https://pharos.artresearch.net/resource/marburg/source/Marburg/statistics/graph> {
                    ?person <https://pharos.artresearch.net/custom/numOfArtists> ?count
                  }
                }
             } ORDER BY ASC(?person)'
           sets='[{"dataSetName": "Photos", "category": "person", "value": "count"}]'>
         </semantic-chart>
       </mp-component-toolbar-component>
     </mp-component-toolbar>
   <br/>
   
    </bs-tab>
    <bs-tab event-key="4" title="Photographers">
              
   <mp-component-toolbar>
       <mp-component-toolbar-actions>
         <semantic-chart-type-selector default="donut" types='["line", "bar", "radar", "pie", "donut"]' />
       </mp-component-toolbar-actions>
       <mp-component-toolbar-component>
         <semantic-chart
           type = 'pie'
           query='
             SELECT * WHERE {
              {
                # Villa I Tatti
                GRAPH <https://pharos.artresearch.net/resource/itatti/source/ITatti/statistics/graph> {
                  ?person <https://pharos.artresearch.net/custom/numOfPhotographers> ?count
                }
              }
              union{           
                # FotoIndex
                GRAPH <https://pharos.artresearch.net/resource/itatti/source/FotoIndex/statistics/graph> {
                  ?person <https://pharos.artresearch.net/custom/numOfPhotographers> ?count
                }
              }
              union{           
                # SharedShelf
                GRAPH <https://pharos.artresearch.net/resource/itatti/source/SharedShelf/statistics/graph> {
                  ?person <https://pharos.artresearch.net/custom/numOfPhotographers> ?count
                }
              }             
              union{
                # Zeri
                GRAPH <https://pharos.artresearch.net/resource/zeri/source/Zeri/statistics/graph> {
                  ?person <https://pharos.artresearch.net/custom/numOfPhotographers> ?count
                }
              }
              union{           
                # Frick
                GRAPH <https://pharos.artresearch.net/resource/frick/source/Frick/statistics/graph> {
                  ?person <https://pharos.artresearch.net/custom/numOfPhotographers> ?count
                }
              }
              union{           
                # KHI
                GRAPH <https://pharos.artresearch.net/resource/khi/source/KHI/statistics/graph> {
                  ?person <https://pharos.artresearch.net/custom/numOfPhotographers> ?count
                }
              }
              union{           
                # Hertziana
                GRAPH <https://pharos.artresearch.net/resource/hertziana/source/Hertziana/statistics/graph> {
                  ?person <https://pharos.artresearch.net/custom/numOfPhotographers> ?count
                }
              }
              union{           
                # Marburg
                GRAPH <https://pharos.artresearch.net/resource/marburg/source/Marburg/statistics/graph> {
                  ?person <https://pharos.artresearch.net/custom/numOfPhotographers> ?count
                }
              }
             } ORDER BY ASC(?person)'
           sets='[{"dataSetName": "Photos", "category": "person", "value": "count"}]'>
         </semantic-chart>
       </mp-component-toolbar-component>
     </mp-component-toolbar>
   <br/>
   
    </bs-tab>    
    <bs-tab event-key="5" title="Repositories">
              
      <mp-component-toolbar>
          <mp-component-toolbar-actions>
            <semantic-chart-type-selector default="donut" types='["line", "bar", "radar", "pie", "donut"]' />
          </mp-component-toolbar-actions>
          <mp-component-toolbar-component>
            <semantic-chart
              type = 'pie'
              query='
                SELECT * WHERE {
                 {
                   # Villa I Tatti
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/ITatti/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfInstitutions> ?count
                   }
                 }
                 union{           
                   # FotoIndex
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/FotoIndex/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfInstitutions> ?count
                   }
                 }
                 union{           
                   # SharedShelf
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/SharedShelf/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfInstitutions> ?count
                   }
                 }             
                 union{
                   # Zeri
                   GRAPH <https://pharos.artresearch.net/resource/zeri/source/Zeri/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfInstitutions> ?count
                   }
                 }
                 union{           
                   # Frick
                   GRAPH <https://pharos.artresearch.net/resource/frick/source/Frick/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfInstitutions> ?count
                   }
                 }
                 union{           
                   # KHI
                   GRAPH <https://pharos.artresearch.net/resource/khi/source/KHI/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfInstitutions> ?count
                   }
                 }
                 union{           
                   # Hertziana
                   GRAPH <https://pharos.artresearch.net/resource/hertziana/source/Hertziana/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfInstitutions> ?count
                   }
                 }
                 union{           
                   # Marburg
                   GRAPH <https://pharos.artresearch.net/resource/marburg/source/Marburg/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfInstitutions> ?count
                   }
                 }
                } ORDER BY ASC(?person)'
              sets='[{"dataSetName": "Photos", "category": "person", "value": "count"}]'>
            </semantic-chart>
          </mp-component-toolbar-component>
        </mp-component-toolbar>
      <br/>
      
    </bs-tab>
    <bs-tab event-key="6" title="Places">
              
      <mp-component-toolbar>
          <mp-component-toolbar-actions>
            <semantic-chart-type-selector default="donut" types='["line", "bar", "radar", "pie", "donut"]' />
          </mp-component-toolbar-actions>
          <mp-component-toolbar-component>
            <semantic-chart
              type = 'pie'
              query='
                SELECT * WHERE {
                 {
                   # Villa I Tatti
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/ITatti/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfPlaces> ?count
                   }
                 }
                 union{           
                   # FotoIndex
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/FotoIndex/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfPlaces> ?count
                   }
                 }
                 union{           
                   # SharedShelf
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/SharedShelf/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfPlaces> ?count
                   }
                 }             
                 union{
                   # Zeri
                   GRAPH <https://pharos.artresearch.net/resource/zeri/source/Zeri/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfPlaces> ?count
                   }
                 }
                 union{           
                   # Frick
                   GRAPH <https://pharos.artresearch.net/resource/frick/source/Frick/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfPlaces> ?count
                   }
                 }
                 union{           
                   # KHI
                   GRAPH <https://pharos.artresearch.net/resource/khi/source/KHI/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfPlaces> ?count
                   }
                 }
                 union{           
                   # Hertziana
                   GRAPH <https://pharos.artresearch.net/resource/hertziana/source/Hertziana/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfPlaces> ?count
                   }
                 }
                 union{           
                   # Marburg
                   GRAPH <https://pharos.artresearch.net/resource/marburg/source/Marburg/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfPlaces> ?count
                   }
                 }
                } ORDER BY ASC(?person)'
              sets='[{"dataSetName": "Photos", "category": "person", "value": "count"}]'>
            </semantic-chart>
          </mp-component-toolbar-component>
        </mp-component-toolbar>
      <br/>
      
    </bs-tab>
    <bs-tab event-key="7" title="Techniques">           
      <mp-component-toolbar>
          <mp-component-toolbar-actions>
            <semantic-chart-type-selector default="donut" types='["line", "bar", "radar", "pie", "donut"]' />
          </mp-component-toolbar-actions>
          <mp-component-toolbar-component>
            <semantic-chart
              type = 'pie'
              query='
                SELECT * WHERE {
                 {
                   # Villa I Tatti
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/ITatti/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTechniques> ?count
                   }
                 }
                 union{           
                   # FotoIndex
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/FotoIndex/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTechniques> ?count
                   }
                 }
                 union{           
                   # SharedShelf
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/SharedShelf/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTechniques> ?count
                   }
                 }             
                 union{
                   # Zeri
                   GRAPH <https://pharos.artresearch.net/resource/zeri/source/Zeri/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTechniques> ?count
                   }
                 }
                 union{           
                   # Frick
                   GRAPH <https://pharos.artresearch.net/resource/frick/source/Frick/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTechniques> ?count
                   }
                 }
                 union{           
                   # KHI
                   GRAPH <https://pharos.artresearch.net/resource/khi/source/KHI/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTechniques> ?count
                   }
                 }
                 union{           
                   # Hertziana
                   GRAPH <https://pharos.artresearch.net/resource/hertziana/source/Hertziana/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTechniques> ?count
                   }
                 }
                 union{           
                   # Marburg
                   GRAPH <https://pharos.artresearch.net/resource/marburg/source/Marburg/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTechniques> ?count
                   }
                 }
                } ORDER BY ASC(?person)'
              sets='[{"dataSetName": "Photos", "category": "person", "value": "count"}]'>
            </semantic-chart>
          </mp-component-toolbar-component>
        </mp-component-toolbar>
      <br/>
      
    </bs-tab>
    <bs-tab event-key="8" title="Materials">           
      <mp-component-toolbar>
          <mp-component-toolbar-actions>
            <semantic-chart-type-selector default="donut" types='["line", "bar", "radar", "pie", "donut"]' />
          </mp-component-toolbar-actions>
          <mp-component-toolbar-component>
            <semantic-chart
              type = 'pie'
              query='
                SELECT * WHERE {
                 {
                   # Villa I Tatti
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/ITatti/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfMaterials> ?count
                   }
                 }
                 union{           
                   # FotoIndex
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/FotoIndex/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfMaterials> ?count
                   }
                 }
                 union{           
                   # SharedShelf
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/SharedShelf/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfMaterials> ?count
                   }
                 }             
                 union{
                   # Zeri
                   GRAPH <https://pharos.artresearch.net/resource/zeri/source/Zeri/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfMaterials> ?count
                   }
                 }
                 union{           
                   # Frick
                   GRAPH <https://pharos.artresearch.net/resource/frick/source/Frick/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfMaterials> ?count
                   }
                 }
                 union{           
                   # KHI
                   GRAPH <https://pharos.artresearch.net/resource/khi/source/KHI/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfMaterials> ?count
                   }
                 }
                 union{           
                   # Hertziana
                   GRAPH <https://pharos.artresearch.net/resource/hertziana/source/Hertziana/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfMaterials> ?count
                   }
                 }
                 union{           
                   # Marburg
                   GRAPH <https://pharos.artresearch.net/resource/marburg/source/Marburg/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfMaterials> ?count
                   }
                 }
                } ORDER BY ASC(?person)'
              sets='[{"dataSetName": "Photos", "category": "person", "value": "count"}]'>
            </semantic-chart>
          </mp-component-toolbar-component>
        </mp-component-toolbar>
      <br/>
      
    </bs-tab>
    <bs-tab event-key="9" title="Types">           
      <mp-component-toolbar>
          <mp-component-toolbar-actions>
            <semantic-chart-type-selector default="donut" types='["line", "bar", "radar", "pie", "donut"]' />
          </mp-component-toolbar-actions>
          <mp-component-toolbar-component>
            <semantic-chart
              type = 'pie'
              query='
                SELECT * WHERE {
                 {
                   # Villa I Tatti
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/ITatti/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTypes> ?count
                   }
                 }
                 union{           
                   # FotoIndex
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/FotoIndex/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTypes> ?count
                   }
                 }
                 union{           
                   # SharedShelf
                   GRAPH <https://pharos.artresearch.net/resource/itatti/source/SharedShelf/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTypes> ?count
                   }
                 }             
                 union{
                   # Zeri
                   GRAPH <https://pharos.artresearch.net/resource/zeri/source/Zeri/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTypes> ?count
                   }
                 }
                 union{           
                   # Frick
                   GRAPH <https://pharos.artresearch.net/resource/frick/source/Frick/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTypes> ?count
                   }
                 }
                 union{           
                   # KHI
                   GRAPH <https://pharos.artresearch.net/resource/khi/source/KHI/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTypes> ?count
                   }
                 }
                 union{           
                   # Hertziana
                   GRAPH <https://pharos.artresearch.net/resource/hertziana/source/Hertziana/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTypes> ?count
                   }
                 }
                 union{           
                   # Marburg
                   GRAPH <https://pharos.artresearch.net/resource/marburg/source/Marburg/statistics/graph> {
                     ?person <https://pharos.artresearch.net/custom/numOfTypes> ?count
                   }
                 }
                } ORDER BY ASC(?person)'
              sets='[{"dataSetName": "Photos", "category": "person", "value": "count"}]'>
            </semantic-chart>
          </mp-component-toolbar-component>
        </mp-component-toolbar>
      <br/>
      
    </bs-tab>
           </bs-tabs>
  <div style="margin-top:10px;">
    <div data-flex-layout="column center-center">
      <div>
        <br>
        <div data-flex-layout="column center-center">   
          <h3><b>Browse Data Providers Collections</b></h3>
        </div>
        
         <table>
           <tr>
            <td></td>
            <td><img src="https://fundit.fr/sites/default/files/actors/876-villa-i-tatti.jpg" style="max-height:140px; max-width:140px;"></td>
            <td><img src="https://www.sps.nyu.edu/content/dam/sps/real-world/logos/frick_logo.png/_jcr_content/renditions/cq5dam.web.1280.1280.png" style="max-height:140px; max-width:140px;"></td>
            <td><img src="https://www.biblhertz.it/assets/institutes/headers/biblhertz-mobile-de-76a8f71a39070c201826115920af8491595bddcefe8ea1907f1e0498ad5368ff.svg" style="height:70px; "></td>
            <td><img src="http://smartupds.com/wp-content/uploads/2019/12/logo-unibo-300x193.png" style="max-height:140px; max-width:140px;"></td>
            <td><img src="http://smartupds.com/wp-content/uploads/2019/12/marb-300x143.png" style="max-height:140px; max-width:140px;"></td>
            <td><img src="https://dfk-paris.org/sites/default/files/khi-florenz.png" style="max-height:140px; max-width:140px;"></td>
          </tr>
          <tr>
            <td><h5><b>Artworks</b></h5></td>
            <td style="text-align:center"><a href=/resource/DisplayArtworksVillaITattiSS>display (SS)</a> | <a href=/resource/DisplayArtworksVillaITattiFI>display (FI)</a></td>
            <td style="text-align:center"><a href=/resource/DisplayArtworksFrick>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayArtworksHertziana>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayArtworksZeri>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayArtworksMarburg>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayArtworksKHI>display</a></td>
          </tr>
          <tr>
            <td><h5><b>Photographs</b></h5></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotosVillaITattiSS>display (SS)</a> | <a href=/resource/DisplayPhotosVillaITattiFI>display (FI)</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotosFrick>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotosHertziana>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotosZeri>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotosMarburg>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotosKHI>display</a></td>
          </tr>
          <tr>
            <td><h5><b>Builtworks</b></h5></td>
            <td style="text-align:center"> - </td>
            <td style="text-align:center"> - </td>
            <td style="text-align:center"><a href=/resource/DisplayBuiltworksHertziana>display</a></td>
            <td style="text-align:center"> - </td>
            <td style="text-align:center"><a href=/resource/DisplayBuiltworksMarburg>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayBuiltworksKHI>display</a></td>
          </tr>
          <tr>
            <td><h5><b>Artists</b></h5></td>
            <td style="text-align:center"><a href=/resource/DisplayPersonsVillaITattiSS>display (SS)</a> | <a href=/resource/DisplayPersonsVillaITattiFI>display (FI)</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPersonsFrick>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPersonsHertziana>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPersonsZeri>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPersonsMarburg>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPersonsKHI>display</a></td>
          </tr>
          <tr>
            <td><h5><b>Artists (Stats)</b></h5></td>
            <td style="text-align:center"><a href=/resource/DisplayPersonsVillaITattiSS>display (SS)</a> | <a href=/resource/DisplayPersonsVillaITattiFI>display (FI)</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPersonsStatsFrick>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPersonsStatsHertziana>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPersonsStatsZeri>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPersonsStatsMarburg>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPersonsStatsKHI>display</a></td>
          </tr>
          <tr>
            <td><h5><b>Repositories</b></h5></td>
            <td style="text-align:center"><a href=/resource/DisplayInstitutionsVillaITattiSS>display (SS)</a> | <a href=/resource/DisplayInstitutionsVillaITattiFI>display (FI)</a></td>
            <td style="text-align:center"><a href=/resource/DisplayInstitutionsFrick>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayInstitutionsHertziana>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayInstitutionsZeri>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayInstitutionsMarburg>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayInstitutionsKHI>display</a></td>
          </tr>
          <tr>
            <td><h5><b>Repositories (Stats)</b></h5></td>
            <td style="text-align:center"><a href=/resource/DisplayInstitutionsStatsVillaITattiSS>display (SS)</a> | <a href=/resource/DisplayInstitutionsStatsVillaITattiFI>display (FI)</a></td>
            <td style="text-align:center"><a href=/resource/DisplayInstitutionsStatsFrick>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayInstitutionsStatsHertziana>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayInstitutionsStatsZeri>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayInstitutionsStatsMarburg>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayInstitutionsStatsKHI>display</a></td>
          </tr>
          <tr>
            <td><h5><b>Photographers</b></h5></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersVillaITattiSS>display (SS)</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersFrick>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersHertziana>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersZeri>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersMarburg>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersKHI>display</a></td>
          </tr>
          <tr>
            <td><h5><b>Photographers (Stats)</b></h5></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersVillaITattiSS>display (SS)</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersStatsFrick>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersStatsHertziana>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersStatsZeri>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersStatsMarburg>display</a></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersStatsKHI>display</a></td>
          </tr>
         </table>
  
      </div>
    </div>
  </div>
  
  <div style="margin-top:10px;">
    <div data-flex-layout="column center-center">
      <div>
        <br>
        <div data-flex-layout="column center-center">   
          <h3><b>Browse Pharos Collections</b></h3>
        </div>
        
         <table>
           <tr>
            <td></td>
            <td><img src="http://pharosartresearch.org/sites/default/files/styles/os_files_large/public/pharos/files/pharos_logo.png?m=1466952924&itok=GMzXchEE" style="max-height:140px; max-width:140px;"></td>
          </tr>
          <tr>
            <td><h5><b>Artworks Pharos</b></h5></td>
            <td style="text-align:center"><a href=/resource/DisplayPharosArtworks>display</a></td>
          </tr>
          <tr>
            <td><h5><b>Artists Pharos</b></h5></td>
            <td style="text-align:center"><a href=/resource/DisplayPharosArtists>display</a></td>
          </tr>
          <tr>
            <td><h5><b>Photographers(NYPL)</b></h5></td>
            <td style="text-align:center"><a href=/resource/DisplayPhotographersNYPL>display</a></td>
          </tr>
          <tr>
            <td><h5><b>Pharos Namedgraphs</b></h5></td>
            <td style="text-align:center"><a href=/resource/NamedGraphs>display</a></td>
          </tr>
          <tr>
            <td><h5><b>Pharos Parent Namedgraphs</b></h5></td>
            <td style="text-align:center"><a href=/resource/ParentNamedGraphs>display</a></td>
          </tr>
         </table>
         <br>
  
      </div>
    </div>
  </div>

</div>
<style>
  .jumbotron {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.jumbotron h1 {
    font-size: 48px;
}
</style>