
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">Advisory board</li>
</ol>

<div class="page-content scrollable-content with-breadcrumbs">
  <div class="static-centered-content">
    <!-- Title -->
    <section class="page-title-and-intro">
      <h1>
        <span class="thin-text">Advisory</span>
        <span class="bold-text">Board</span>
      </h1>
    </section>
    <section class="page-section">
      <ul>
        <li><span class="bold-text">Andrea Wallace</span>, Associate Professor in Law and Technology at the University of Exeter.</li>
        <li><span class="bold-text">Anne Helmreich</span>, Director, Archives of American Art, Washington, D.C.</li>
        <li><span class="bold-text">Chris Stolwijk</span>, General Director, RKD – Netherlands Institute for Art History, The Hague.</li>
        <li><span class="bold-text">Costanza Caraffa</span>, Head of Photothek, Kunsthistorisches Institut in Florenz, Max-Planck-Institut (KHI).</li>
        <li><span class="bold-text">Ellen Prokop</span>, Specialist, Department of Image Collections, National Gallery of Art, Washington, D.C.</li>
        <li><span class="bold-text">Francesca Mambelli</span>, Curator, Photographic Archive, Fondazione Federico Zeri, Bologna.</li>
        <li><span class="bold-text">Lily Pregill</span>, Assistant Director, Collection & Content Management Systems, J. Paul Getty Trust, Los Angeles.</li>
        <li><span class="bold-text">Melissa Fournier</span>, Head of Imaging Services and Intellectual Property, Yale Center for British Art, New Haven.</li>
        <li><span class="bold-text">Robert G. La France</span>, Director and Chief Curator, David Owsley Museum of Art at Ball State University, Muncie, Indiana.</li>
        <li><span class="bold-text">Sarah Turner</span>, Director, Paul Mellon Centre for Studies in British Art, London.</li>
      </ul>
    </section>
  </div>
</div>
