  <div class="artwork-card karla-regular">
    {{#if data}}
      <semantic-link-container uri="{{data.[@id]}}" target="_blank">
                  <div class="thumbnail-container cursor">
                    <div class="image-wrapper">
                    {{#if photo}}
                      {{#bind work=this}}
                      <resource-info subject="{{photo}}" profile="photograph-thumbnail" template="{{> template work=work}}">
                        <template id="template">
                          <img class="thumbnail-image" src="https://staging.artresearch.net{{data.[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                          [[!-- we show photoarchive icon over the thumbnail only if we have more than one photoarchive for this record --]]
                          {{#if work.data.[https://artresearch.net/resource/field_definition/pharos_model/original_record_catalog].values.[1]}}
                            <img class="provider-icon thumbnail-provider-icon" title="{{label}}" src="{{data.[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values.0.[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                          {{/if}}
                        </template>
                      </resource-info>
                      {{/bind}}
                    {{else if provider}}
                      {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos]}}
                        {{#with (getPreferredPhoto data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values provider)}}
                            <img class="thumbnail-image" src="https://staging.artresearch.net{{[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                            {{!-- Use ../data to access the parent context outside of the #with block --}}
                            {{#if ../data.[https://artresearch.net/resource/field_definition/pharos_model/original_record_catalog].values.[1]}}
                              <img class="provider-icon thumbnail-provider-icon" title="{{label}}" src="{{[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values.0.[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                            {{/if}}
                        {{/with}}
                      {{else}}
                        <span class="no-image-text">No image</span>
                      {{/if}}
                    {{else}}
                      {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos]}}
                        <img class="thumbnail-image" src="https://staging.artresearch.net{{data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values.0.[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                        {{!-- No context change here, so direct access is correct --}}
                        {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/original_record_catalog].values.[1]}}
                          <img class="provider-icon thumbnail-provider-icon" title="{{label}}" src="{{data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values.0.[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values.0.[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                        {{/if}}
                      {{else}}
                        <span class="no-image-text">No image</span>
                      {{/if}}
                    {{/if}}
                    </div>
                  </div>
            </semantic-link-container>

          <div class="info-container">
            <span class="author-name">{{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/creator" label="Creator"}}
            </span>
            <span class="bold-text">
               <div class="field field-Title">
                  <div class="field-label">Title</div>
                  <div class="field-value">
                    <semantic-link iri='{{data.[@id]}}' target='_blank'>{{data.label}}</semantic-link>
                  </div>
               </div>
            </span>
            [[!--
             {{#if provider}}
                            {{log "in if" this}}

                {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos]}}
                                          {{log "yes"}}

                  {{#with (getPreferredPhoto data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values provider)}}
                                                        {{log "with" this}}

                  <div class="field">
                    <div class="field-label">Photo Title</div>
                    <div class="field-value">
                      {{[https://artresearch.net/resource/field_definition/pharos_model/photo_title].values.0.label}}
                    </div>
                  </div>
                  {{/with}}
                {{/if}}

              {{else}}
              {{log "in else" this}}
                  {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values.0.[https://artresearch.net/resource/field_definition/pharos_model/photo_title].values.0.[@value]}}
                    <div class="field">
                      <div class="field-label">Photo Title</div>
                      <div class="field-value">
                        {{data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values.0.[https://artresearch.net/resource/field_definition/pharos_model/photo_title].values.0.label}}
                      </div>
                    </div>
                  {{/if}}
              {{/if}}
            --]]
            {{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/production_date" label="Date"}}
            {{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/current_keeper" label="Repository"}}
            {{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/part_of_builtwork" label="Is part of"}}
            {{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/location" label="Location"}}


            <div class="field">
              <div class="field-label karla-bold">{{data.[https://artresearch.net/resource/field_definition/pharos_model/original_record_catalog].label}}</div>
              <div class="field-value">
                <div class="provider-icons">
                  <span class="provider-icons-text bold-text">PHOTO ARCHIVES: </span>
                  {{#each data.[https://artresearch.net/resource/field_definition/pharos_model/original_record_catalog].values}}
                    <semantic-link-container uri='{{[@id]}}' target='_blank'>
                      <img class="provider-icon" title="{{label}}" src="{{[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                    </semantic-link-container>
                  {{/each}}
                </div>
              </div>
            </div>



            {{#if matchType.value}}
            <div class="field ai-results">
              <div class="field-value">
                  {{#each (split matchType.value ',')}}
                    {{#ifCond this '===' 'text_index'}}
                      <mp-popover>
                        <mp-popover-trigger placement="bottom" trigger='["hover"]'>
                          <span class='ai-result' style='margin-right: 5px'>Text Match</span>
                        </mp-popover-trigger>
                        <mp-popover-content>
                          This record is shown because its information contains your exact search terms.
                        </mp-popover-content>
                      </mp-popover>
                    {{/ifCond}}
                    {{#ifCond this '===' 'qwen3_8b'}}
                      <mp-popover>
                        <mp-popover-trigger placement="bottom" trigger='["hover"]'>
                          <span class='ai-result' style='margin-right: 5px'>Textual Similarity</span>
                        </mp-popover-trigger>
                        <mp-popover-content>
                          This record is shown because its descriptive text is conceptually similar to your search terms.
                        </mp-popover-content>
                      </mp-popover>                
                    {{/ifCond}}
                    {{#ifCond this '===' 'siglip2_so400m_patch16_naflex'}}
                      <mp-popover>
                        <mp-popover-trigger placement="bottom" trigger='["hover"]'>
                          <span class='ai-result' style='margin-right: 5px'>Visual Similarity</span>
                        </mp-popover-trigger>
                        <mp-popover-content>
                          This artwork is shown because it shares a similar aesthetic (style, mood, or composition) to your search terms.
                        </mp-popover-content>
                      </mp-popover>                  
                    {{/ifCond}}
                    {{#ifCond this '===' 'siglip2_so400m_patch16_naflex_sift_rerank'}}
                      <mp-popover>
                        <mp-popover-trigger placement="bottom" trigger='["hover"]'>
                          <span class='ai-result' style='margin-right: 5px'>Visual Match</span>
                        </mp-popover-trigger>
                        <mp-popover-content>
                          This image is a near-exact copy of the one you provided.
                        </mp-popover-content>
                      </mp-popover>  
                    {{/ifCond}}
                  {{/each}}
              </div>
            </div>
            {{/if}}




          </div>
    
    {{/if}}
  </div>
  {{#*inline "fieldTemplate"}}
        {{#if (lookup data field)}}
            <div class="field field-{{label}}">
              <div class="field-label">{{label}}</div>
              <div class="field-value">
                {{#each (mergeUniqueValues (lookup (lookup data field) 'values'))}}
                  {{#if (eq ../field "https://artresearch.net/resource/field_definition/pharos_model/production_date")}}
                      {{dateRangeFormat label}}
                      {{#unless @last}} · {{/unless}}
                  {{else if [@id]}}
                      <semantic-link target="_blank" iri="{{[@id]}}">{{label}}</semantic-link>
                    {{#unless @last}} · {{/unless}}
                  {{else}}
                    {{[@value]}}
                    {{#unless @last}} · {{/unless}}
                  {{/if}}
                {{/each}}


              </div>
            </div>
        {{/if}}
    {{/inline}}
