<div class="workAndProductionInfo">
  <!-- Fields for Artist (general info) -->
      <mp-field-visualization
          subject="[[this]]"
          additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
          fields='[[fieldDefinitions  
          Name="https://pharos.artresearch.net/fieldDefinition/3" 
          Identifiers="https://pharos.artresearch.net/fieldDefinition/19"
          Residence="https://pharos.artresearch.net/fieldDefinition/285"
          Active="https://pharos.artresearch.net/fieldDefinition/284"
          Institution="https://pharos.artresearch.net/fieldDefinition/286"
          DeathDate="https://pharos.artresearch.net/fieldDefinition/283"
          Nationality="https://pharos.artresearch.net/fieldDefinition/290"
          ]]'
          template='{{>workInfo}}'
          >
        <template id="workInfo">
          <div class="workInfoContainer">
          <h2>Work info</h2>
            [[> rsp:ResourceFieldBasedVisualization subject=[[this]] showSourceIcon="true" ]]
          </div>
        </template>
        </mp-field-visualization>

  <!-- Fields for Production -->
        <mp-field-visualization
        subject="[[this]]"
        additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
        fields='[[fieldDefinitions  
        Creator="https://pharos.artresearch.net/fieldDefinition/1" 
        ]]'template='{{>productionInfo}}'
        >
      <template id="productionInfo">
        <div class="productionInfoContainer">
        <h2>Production info</h2>
          [[> rsp:ResourceFieldBasedVisualization subject=[[this]] showSourceIcon="true"  ]]
        </div>
      </template>
    </mp-field-visualization>
  </div>