[[#>:ClipboardSidebar]]
<div id="filter-search" class="row row-center no-margin">
  <div id="main-containers" class="col-md-10">

    <div id="simple-search-include"  class="super-tabs">

        <bs-tab-container
          id="tab-container"
          class="page__body-navtabs--borderless"
          default-active-key='[[urlParam "selectedtab"]]'
        >
          <div>
            <bs-nav bs-style="tabs">
              <bs-nav-item event-key="Artworks">Artworks</bs-nav-item>
              <bs-nav-item event-key="Photographs">Photographs</bs-nav-item>
              <bs-nav-item event-key="Artists">Artists</bs-nav-item>
              <!-- <bs-nav-item event-key="Photographers">Photographers</bs-nav-item> -->
            </bs-nav>

            <bs-tab-content unmount-on-exit="true">
              <bs-tab-pane event-key="Artworks">
                <semantic-search>

                  <semantic-search-form-query
                    query-template='{
                      "queryString": "
                        PREFIX ex: <http://example.com/resource/>
                        SELECT ?subject WHERE {
                          OPTIONAL{
                            ?subject rdfs:label ?title .
                          }
                          OPTIONAL{
                            ?subject fr:Work_created_from_Artist ?creator .
                          }
                        }
                      ",
                      "arguments": {
                        "creator": {"type": "xsd:anyURI", "optional": true},
                        "title": {"type": "xsd:string", "optional": true}
                      }
                    }'
                    fields='[
                        {
                          "id": "creator",
                          "label": "Creator",
                          "xsdDatatype": "xsd:anyURI",
                          "autosuggestionPattern": "
                            PREFIX fts: <http://www.bigdata.com/rdf/fts#>
                            SELECT DISTINCT ?value ?label  WHERE {
                              ?value fts:search ?__token__ .
                              ?value fts:endpoint \"http://213.171.209.34:8983/solr/artists_weighted/select\".
                              ?value fts:endpointType \"SOLR\" .
                              ?value fts:params \"rows=10\" .
                              ?value fts:searchField \"uri\" .
                              ?value fts:fieldToSearch \"*\" .
                              ?value fts:snippetField \"*\" .
                              ?value fts:searchResultType \"URI\" ;
                              <http://www.bigdata.com/rdf/fts#scoreField>    \"field_score\";
                              <http://www.bigdata.com/rdf/fts#score>   ?score;
                              rdfs:label ?label.
                            }"
                        },
                        {
                          "id": "title",
                          "label": "Title",
                          "xsdDatatype": "xsd:string",
                          "selectPattern": "
                            PREFIX fts: <http://www.bigdata.com/rdf/fts#>
                            SELECT DISTINCT ?value ?label  WHERE {
                              ?value fts:search ?__token__ .
                              ?value fts:endpoint \"http://213.171.209.34:8983/solr/artworks_weighted/select\".
                              ?value fts:endpointType \"SOLR\" .
                              ?value fts:params \"rows=10\" .
                              ?value fts:searchField \"uri\" .
                              ?value fts:fieldToSearch \"*\" .
                              ?value fts:snippetField \"*\" .
                              ?value fts:searchResultType \"URI\" ;
                              <http://www.bigdata.com/rdf/fts#scoreField>    \"field_score\";
                              <http://www.bigdata.com/rdf/fts#score>   ?score;
                              rdfs:label ?label.
                            }"
                        }
                    ]'
            >

                      <semantic-form-text-input  for='title'></semantic-form-text-input>
                      <semantic-form-autocomplete-input for='creator'></semantic-form-autocomplete-input>
                      <button type='button' name='submit' class='btn btn-secondary'>Search</button>
                   </semantic-search-form-query>

                   
                [[> :SearchSimpleArtworkView]]
                  </semantic-search>
              </bs-tab-pane>
              <bs-tab-pane event-key="Photographs">
                <semantic-search
                relations='[[> :SearchSimpleRelations]]'
                search-profile='[[> :SearchSimpleProfile]]'
              >
                [[> :SearchSimplePhotoView]]
                </semantic-search>
              </bs-tab-pane>
              <bs-tab-pane event-key="Artists">
                <semantic-search
                relations='[[> :SearchSimpleRelations]]'
                search-profile='[[> :SearchSimpleProfile]]'
              >
                [[> :SearchSimpleArtistView]]
                </semantic-search>
              </bs-tab-pane>
              <bs-tab-pane event-key="Photographers">
                <semantic-search
                relations='[[> :SearchSimpleRelations]]'
                search-profile='[[> :SearchSimpleProfile]]'
              >
                [[> :SearchSimplePhotographerView]]
                </semantic-search>
              </bs-tab-pane>
            </bs-tab-content>
          </div>
        </bs-tab-container>
    </div>
  </div>
</div>
[[/:ClipboardSidebar]]
<style>
  .navbar-default {
  box-shadow: none !important
}
</style>