[[!-- reset breadcrumbs --]]
<mp-event-trigger id="breadcrumbs" type='Component.TemplateUpdate' on='["mounted"]' targets='["top-header-breadcrumbs"]'
  data='{}'>
</mp-event-trigger>

<section class="container-fluid relative start-page">
  <section class="home-section">
    <section class="row" id="hero">
      <section id="home-title" class="col-md-6 col-sm-6">
        <h1 class="karla-bold">
          <span class="wrap-line">art</span>
          <span class="wrap-line">research</span>
          <span class="wrap-line">.net</span>
        </h1>
        <section id="search-collections">
          <section class="row" id="search-collections-launcher">
              <!-- Main Search Button -->
              <mp-overlay-dialog id="search-overlay" type="lightbox">
                <mp-overlay-dialog-trigger>
                  <button class="main-search-button">
                    Search the collections
                    <img src="/assets/images/search_arrow.svg" class="search-icon" alt="">
                    <!-- <svg class="search-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="11" cy="11" r="8" stroke="#70E7C5" stroke-width="2"/>
                      <path d="M21 21L16.65 16.65" stroke="#70E7C5" stroke-width="2" stroke-linecap="round"/>
                    </svg> -->
                  </button>
                </mp-overlay-dialog-trigger>
                <mp-overlay-dialog-content>
                  <div id="search-overlay">
                    <div class="search-overlay-header">
                      <h2 class="search-overlay-title">
                        Search our
                        <span>collections</span>
                      </h2>
                      <mp-event-trigger id="close-search-overlay" type="OverlayDialog.Close" targets='["search-overlay"]'>
                        <button class="search-overlay-close">&times;</button>
                      </mp-event-trigger>
                    </div>

                    <div class="search-overlay-content">
                      <div class="search-overlay-text">
                        <p>You can search for artworks, photographs, people, repositories, iconographic themes, all in one place.</p>
                        <p>You can also start from an image. Paste here the URL of an online image or drag and drop one from your computer (accepted formats include .jpg, .png, .tiff).</p>
                        <p>See our <semantic-link iri="https://artresearch.net/resource/search-help">search guide</semantic-link> for examples and details.</p>
                      </div>

                      <div class="search-overlay-form">
                        <div class="search-input-container">
                          <form-with-event id="text-search-form">
                            <input name="query" type="text" class="search-input" placeholder="enter a text or an image URL">
                            <button class="search-button">
                              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="11" cy="11" r="8" stroke="currentColor" stroke-width="2"/>
                                <path d="M21 21L16.65 16.65" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                              </svg>
                            </button>
                          </form-with-event>

                          <mp-event-proxy id='text-search-proxy' on-event-source='text-search-form'
                                          on-event-data='{"inputType": "text"}'
                                          proxy-event-type='RedirectAction.perform' proxy-targets='["redirect-to-text-search"]'
                          ></mp-event-proxy>

                          <mp-event-target-redirect
                            id='redirect-to-text-search'
                            action='https://artresearch.net/resource/search'
                          ></mp-event-target-redirect>

                          <mp-event-proxy id='image-url-search-proxy' on-event-source='text-search-form'
                                          on-event-data='{"inputType": "imageUrl"}'
                                          proxy-event-type='RedirectAction.perform' proxy-targets='["redirect-to-image-search"]'
                          ></mp-event-proxy>

                          <mp-event-target-redirect
                            id='redirect-to-image-search'
                            action='https://artresearch.net/resource/search'
                          ></mp-event-target-redirect>

                          <mp-event-target-redirect
                            id='redirect-to-text-search'
                            action='https://artresearch.net/resource/search'
                          ></mp-event-target-redirect>
                        </div>

                        <pharos-drag-and-drop id="demo-search-dnd" image-storage="image-search">
                          <p>drag and drop</p>
                        </pharos-drag-and-drop>

                        <mp-event-proxy id='image-dnd-search-proxy' on-event-source='demo-search-dnd'
                          proxy-event-type='RedirectAction.perform' proxy-targets='["redirect-to-image-search"]'
                        ></mp-event-proxy>
                      </div>
                    </div>
                  </div>
                </mp-overlay-dialog-content>
              </mp-overlay-dialog>
              <p class="col-md-12" id="search-collections-payoff">
                <span class="wrap-line">explore, connect and contextualize</span>
                <span class="bold">art histories</span>
              </p>
          </section>
        </section>
      </section>
      <section class="col-md-6 col-sm-6" id="home-images-carousel">
        <div class="scroll-container">
          <div class="column">
            <div class="scroll-content">
              <semantic-link-container uri="https://artresearch.net/resource/midas/work/08055638">
                <img src="/assets/images/hero/RichMeier.jpg" alt="">
              </semantic-link-container>

              <img src="/assets/images/hero/32044156342453_1-removebg-preview.png" alt="">

              <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/d5035be5a18e1266fa530f4a2e15b032845364a288130411c24d96fd833f3c7c">
                <img src="/assets/images/hero/fle0618859a_p.png" alt="">
              </semantic-link-container>
              <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/475036cad7e3051808803966929d77b1240aef1e">
                <img src="/assets/images/hero/fld0009139x_p.png" alt="">
              </semantic-link-container>
              <semantic-link-container uri="https://artresearch.net/resource/midas/work/08197387">
                <img src="/assets/images/hero/bhex-2023-34-024.jpg" alt="">
              </semantic-link-container>

              <img src="/assets/images/hero/32044157489154_2-removebg-preview.png" alt="">

              <!-- Not correct photo, but the work seems to be correct -->
              <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/1273c36f081ec0f54ed1cbfad56b26a5af5373b8"">
                <img src="/assets/images/hero/123610_1-removebg-preview.png" alt="">
              </semantic-link-container>
              <semantic-link-container uri="https://artresearch.net/resource/frick/work/991011987199707141">
                <img src="/assets/images/hero/Bril-removebg-preview.png" alt="">
              </semantic-link-container>

              <!-- Repeat for looping effect -->
              <semantic-link-container uri="https://artresearch.net/resource/midas/work/08055638">
                <img src="/assets/images/hero/RichMeier.jpg" alt="">
              </semantic-link-container>
              <img src="/assets/images/hero/32044156342453_1-removebg-preview.png" alt="">
              <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/d5035be5a18e1266fa530f4a2e15b032845364a288130411c24d96fd833f3c7c">
                <img src="/assets/images/hero/fle0618859a_p.png" alt="">
              </semantic-link-container>
              <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/475036cad7e3051808803966929d77b1240aef1e"></semantic-link>
                <img src="/assets/images/hero/fld0009139x_p.png" alt="">
              </semantic-link-container>
              <semantic-link-container uri="https://artresearch.net/resource/midas/work/08197387">
                <img src="/assets/images/hero/bhex-2023-34-024.jpg" alt="">
              </semantic-link-container>
              <img src="/assets/images/hero/32044157489154_2-removebg-preview.png" alt="">
              <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/1273c36f081ec0f54ed1cbfad56b26a5af5373b8"">
                <img src="/assets/images/hero/123610_1-removebg-preview.png" alt="">
              </semantic-link-container>
              <semantic-link-container uri="https://artresearch.net/resource/frick/work/991011987199707141">
                <img src="/assets/images/hero/Bril-removebg-preview.png" alt="">
              </semantic-link-container>
            </div>
          </div>

          <div class="column none-small">
            <div class="scroll-content">
              <semantic-link-container uri="https://artresearch.net/resource/frick/work/991006980549707141">
                <img src="/assets/images/hero/Banjo_03.jpg" alt="">
              </semantic-link-container>
              <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/3020f3c61b081136baab5d3a7f548b10263acb5d" >
                <img src="/assets/images/hero/fld0020559x_p-removebg-preview.png" alt="">
              </semantic-link-container>

              <img src="/assets/images/hero/FZ_02.png" alt="">

              <semantic-link-container uri="https://artresearch.net/resource/midas/work/70016322">
                <img src="/assets/images/hero/fld0014630x_p.png" alt="">
              </semantic-link-container>
              <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/2cebfb005d5397bd8ede92911c2761941ea84951">
                <img src="/assets/images/hero/fld0020528x_p.png" alt="">
              </semantic-link-container>

              <img src="/assets/images/hero/FZ_5.png" alt="">

              <semantic-link-container uri="https://artresearch.net/resource/zeri/work/1264">
                <img src="/assets/images/hero/FZ_1.png" alt="">
              </semantic-link-container>              <!-- Repeat for looping effect -->
              <semantic-link-container uri="https://artresearch.net/resource/frick/work/991006980549707141">
                <img src="/assets/images/hero/Banjo_03.jpg" alt="">
              </semantic-link-container>
              <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/3020f3c61b081136baab5d3a7f548b10263acb5d" >
                <img src="/assets/images/hero/fld0020559x_p-removebg-preview.png" alt="">
              </semantic-link-container>
              <img src="/assets/images/hero/FZ_02.png" alt="">
              <semantic-link-container uri="https://artresearch.net/resource/midas/work/70016322">
                <img src="/assets/images/hero/fld0014630x_p.png" alt="">
              </semantic-link-container>
              <semantic-link-container uri="https://artresearch.net/resource/pharos/artwork/2cebfb005d5397bd8ede92911c2761941ea84951">
                <img src="/assets/images/hero/fld0020528x_p.png" alt="">
              </semantic-link-container>
              <img src="/assets/images/hero/FZ_5.png" alt="">
              <semantic-link-container uri="https://artresearch.net/resource/zeri/work/1264">
                <img src="/assets/images/hero/FZ_1.png" alt="">
              </semantic-link-container>
            </div>
          </div>

          <div class="column none-small">
            <div class="scroll-content">
              <semantic-link-container uri="/assets/images/hero/4107100442618_0002.jpg">
                <img src="/assets/images/hero/4107100442618_0002.jpg" alt="">
              </semantic-link-container>
              <img src="/assets/images/hero/32044156340879_1.png" alt="">
              <semantic-link-container uri="https://artresearch.net/resource/zeri/work/54854">
                <img src="/assets/images/hero/FZ_03.png" alt="">
              </semantic-link-container>
              <img src="/assets/images/hero/FZ_04-removebg-preview.png" alt="">
              <semantic-link-container uri="https://artresearch.net/resource/midas/work/07653241">
                <img src="/assets/images/hero/fle0004347x_p.png" alt="">
              </semantic-link-container>
              <!-- Repeat for looping effect -->
              <semantic-link-container uri="/assets/images/hero/4107100442618_0002.jpg">
                <img src="/assets/images/hero/4107100442618_0002.jpg" alt="">
              </semantic-link-container>

              <img src="/assets/images/hero/32044156340879_1.png" alt="">

              <semantic-link-container uri="https://artresearch.net/resource/zeri/work/54854">
                <img src="/assets/images/hero/FZ_03.png" alt="">
              </semantic-link-container>

              <img src="/assets/images/hero/FZ_04-removebg-preview.png" alt="">

              <semantic-link-container uri="https://artresearch.net/resource/midas/work/07653241">
                <img src="/assets/images/hero/fle0004347x_p.png" alt="">
              </semantic-link-container>
            </div>
          </div>
        </div>
      </section>

    </section>
  </section>
  <section class="home-section">
    <section class="row" id="intro">
      <h2>artresearch.net</h2>
      <p class="extra-big">artresearch.net is the free, open access discovery platform for the
        combined collections of 
        <semantic-link iri="https://artresearch.net/resource/About">PHAROS: The International Association of Photo Archives</semantic-link>
        which provides access to millions of photographs of works of art,
        and over a century of art historical documentation.</p>
      <section class="buttons-group">
        <semantic-link iri="https://artresearch.net/resource/About" class="green-btn">About PHAROS <img src="/assets/images/arrow_black.png" alt="arrow"/></semantic-link>
        <semantic-link iri="https://artresearch.net/resource/Partners" class="black-btn">Partners <img src="/assets/images/arrow_cream.png" alt="arrow"/></semantic-link>
        <a href="https://pharosartresearch.org/" target="_blank" class="transparent-btn">visit PHAROS website <img src="/assets/images/arrow_green.png" alt="arrow"/></a>
      </section>
    </section>
  </section>
  <section class="home-section">
    <section class="row" id="browse-collections">
      <h2 class="section-title col-md-6">
        <span class="wrap-line black-text thin-text">Browse across</span>
        <span class="white-text bold-text">collections</span>
      </h2>
      <p class="col-md-5">artresearch.net tools allow for research
        across PHAROS partners' collections for artworks, artists,
        photographs, photographers, studios, and repositories.</p>
      <section class="collections-cards col-md-12">
          <section class="collection-card col-md-2 col-lg-2">
            <semantic-link iri="https://artresearch.net/resource/search">
              <h3>Artworks <img src="/assets/images/arrow_cream_black.svg" alt="arrow"></h3>
              <p class="white-text">1.4 Million</p>
              <!-- <img src="/assets/images/browse_artworks.png" alt="arnolfini"> -->
            </semantic-link>
          </section>
        <section class="collection-card col-md-2 col-lg-2">
          <semantic-link iri="https://artresearch.net/resource/search" urlqueryparam-domain="artist">
            <h3>Artists <img src="/assets/images/arrow_cream_black.svg" alt="arrow"></h3>
            <p class="white-text">120000</p>
            <!-- <img src="/assets/images/browse_artists.png" alt="michelangelo"> -->
          </semantic-link>
        </section>
        <section class="collection-card col-md-2 col-lg-2">
          <semantic-link iri="https://artresearch.net/resource/search" urlqueryparam-domain="photographer">
            <h3>Photographers <img src="/assets/images/arrow_cream_black.svg" alt="arrow"></h3>
            <p class="white-text">6700</p>
            <!-- <img src="/assets/images/browse_photographers.png" alt="sansoni"> -->
          </semantic-link>
        </section>
        <section class="collection-card col-md-2 col-lg-2">
          <semantic-link iri="https://artresearch.net/resource/search" urlqueryparam-domain="photograph">
            <h3>Photographs <img src="/assets/images/arrow_cream_black.svg" alt="arrow"></h3>
            <p class="white-text">2.1 Million</p>
            <!-- <img src="/assets/images/browse_photographs.png" alt="photo mount"> -->
          </semantic-link>
        </section>
        <section class="collection-card col-md-2 col-lg-2">
          <semantic-link iri="https://artresearch.net/resource/search" urlqueryparam-domain="repository">
            <h3>Repositories <img src="/assets/images/arrow_cream_black.svg" alt="arrow"></h3>
            <p class="white-text">59000</p>
            <!-- <img src="/assets/images/browse_repositories.png" alt="british museum"> -->
          </semantic-link>
        </section>
      </section>
      <section class="collections-cards-banner col-md-12">
        <img src="/assets/images/browse_banner.png" alt="">
      </section>
    </section>
  </section>
  <section class="home-section">
    <section class="row justify-content-md-center" id="explore-possibilities">
      <h2 class="section-title col-md-12">
        <span class="wrap-line black-text thin-text">Start by exploring</span>
        <span class="black-text bold-text">possibilities</span>
      </h2>
      <p class="col-md-12 underline">
        <span class="wrap-line">See a few examples of the types of in-depth
        searches</span>
        <span>you can perform on artresearch.net</span>
      </p>
      <section class="explore-cards col-md-12">
          <section class="col-md-2 col-sm-10 explore-card">
            <semantic-link iri="http://www.wikidata.org/entity/Q104845454">
              <img class="col-md-12 col-sm-12" src="/assets/images/explore_cooper.png" alt="">
              <p class="col-md-12 col-sm-12">A. C. Cooper <img src="/assets/images/arrow.png" alt="arrow"></p>
              <p class="col-md-12 col-sm-12">photographers</p>
            </semantic-link>
          </section>
          <section class="col-md-2 col-sm-10 explore-card">
            <semantic-link iri="https://artresearch.net/resource/19th-century-photographs">
              <img class="col-md-12 col-sm-12" src="/assets/images/media/datedphotographs.jpg" alt="">
              <p class="col-md-12 col-sm-12">1839-1900 AD <img src="/assets/images/arrow.png" alt="arrow"></p>
              <p class="col-md-12 col-sm-12">photographs</p>
            </semantic-link>
          </section>
          <section class="col-md-2 col-sm-10 explore-card">
            <semantic-link iri="https://artresearch.net/resource/builtworks-middle-east">
              <img class="col-md-12 col-sm-12" src="/assets/images/explore_builtworks_middleast.png" alt="">
              <p class="col-md-12 col-sm-12">Built works <img src="/assets/images/arrow.png" alt="arrow"></p>
              <p class="col-md-12 col-sm-12">in the Middle-East</p>
            </semantic-link>
          </section>
          <section class="col-md-2 col-sm-10 explore-card">
            <semantic-link iri="https://artresearch.net/resource/self-portraits">
              <img class="col-md-12 col-sm-12" src="/assets/images/explore_portrait.png" alt="">
              <p class="col-md-12 col-sm-12">Self portraits <img src="/assets/images/arrow.png" alt="arrow"></p>
              <p class="col-md-12 col-sm-12">artists</p>
            </semantic-link>
          </section>
          <section class="col-md-2 col-sm-10 explore-card">
            <semantic-link iri="https://artresearch.net/resource/red-chalk-drawings">
              <img class="col-md-12 col-sm-12" src="/assets/images/explore_red-chalk.png" alt="">
              <p class="col-md-12 col-sm-12">Red chalk <img src="/assets/images/arrow.png" alt="arrow"></p>
              <p class="col-md-12 col-sm-12">drawings</p>
            </semantic-link>
          </section>
        [[!--
          <section class="col-md-2 col-sm-10 explore-card disabled">
            <semantic-link iri="https://artresearch.net/resource/DisplayCollectionBronzeSculptures">
              <img class="col-md-12 col-sm-10" src="/assets/images/explore_sculpture.png" alt="">
              <p>Bronze sculpture <img src="/assets/images/arrow.png" alt="arrow"></p>
              <p>from Antiquity to Modernity</p>
            </semantic-link>
          </section>
         --]]
          <section class="col-md-2 col-sm-10 explore-card">
            <semantic-link iri="https://artresearch.net/resource/women-artists">
              <img class="col-md-12 col-sm-12" src="/assets/images/media/kahlo.jpg" alt="">
              <p class="col-md-12 col-sm-12">Women Artists <img src="/assets/images/arrow.png" alt="arrow"></p>
              <p class="col-md-12 col-sm-12">across centuries</p>
            </semantic-link>
          </section>
      </section>
    </section>
  </section>
  <section class="home-section">
    <section class="row" id="create-stories">
      <section class="col-md-4">
        <h2 class="section-title">
          <span class="wrap-line black-text thin-text">Create</span>
          <span class="black-text bold-text">stories</span>
        </h2>
        <p class="">Thanks to ongoing work on
          record reconciliation across photo
          archives, you can compare
          images, bibliographic resources,
          attributions, and reconstruct the
          histories of artworks and
          photographs in one place.</p>
      </section>
      <section class="col-md-8">
        <section class="story col-md-12" id="story-1">
          <section class="col-md-9 col-sm-12 story-images">
            <img class="story-image" src="/assets/images/stories1_1.jpg" alt="">
            <img class="story-image" src="/assets/images/stories1_2.jpg" alt="">
            <img class="story-image" src="/assets/images/stories1_3.jpg" alt="">
            <img class="story-image" src="/assets/images/stories1_4.jpg" alt="">
          </section>
          <section id="pollaiolo-info" class="col-md-3 story-text popover__wrapper">
            <p class="bold-text">Compare scholarly images and data from different sources</p>
            <section class="arrow-link">
              <div class="search-collections-arrow">
                <img src="/assets/images/icons/info_green.png" alt="info"/>
              </div>
              <div class="search-collections-arrow-hover">
                <img src="/assets/images/icons/info_hover.png" alt="info"/>
              </div>
            </section>
            <section id="pollaiolo-detail" class="story-detail col-md-12 popover__content">
              <p>Portrait of a young lady, Pollaiolo (c. 1465)</p>
              <p>Studying different reproductions of Pollaiolo’s Portrait
                of a young lady from multiple photo archives allows
                researchers to compare variations in inscriptions,
                attributions, provenance, mounts, printing techniques
                and framing, thus giving a more complete research history
                of the painting.</p>
            </section>
          </section>
        </section>
        <section class="story col-md-12" id="story-2">
          <section class="col-md-7 story-images">
            <img class="story-image" src="/assets/images/stories2_1.jpg" alt="">
            <img class="story-image" src="/assets/images/stories2_2.jpg" alt="">
            <img class="story-image" src="/assets/images/stories2_3.jpeg" alt="">
          </section>
          <section id="gossaert-info" class="col-md-3 story-text popover__wrapper">
            <p class="bold-text">See changes in artworks over time</p>
            <section class="arrow-link">
              <div class="search-collections-arrow">
                <img src="/assets/images/icons/info_green.png" alt="info"/>
              </div>
              <div class="search-collections-arrow-hover">
                <img src="/assets/images/icons/info_hover.png" alt="info"/>
              </div>
            </section>
            <section id="gossaert-detail" class="story-detail col-md-12 popover__content">
              <p>Holy Family, Jan Gossaert (1478-1532)</p>
              <p>These photographs, from the 1920s, 30s, 60s,
                illustrate how paintings physically change over time.
                In the earliest photograph, a very old and decrepit St
                Joseph appears in the upper right. The next photograph
                shows St. Joseph painted out. The third photograph
                shows St. Joseph restored, but with a more benign
                appearance.</p>
            </section>
          </section>
        </section>
        <section class="story col-md-12" id="story-3">
          <section class="col-md-10 story-images">
            <img class="story-image" src="/assets/images/stories3_1.jpg" alt="">
            <img class="story-image" src="/assets/images/stories3_2.jpg" alt="">
            <img class="story-image" src="/assets/images/stories3_3.jpg" alt="">
            <img class="story-image" src="/assets/images/stories3_4.jpg" alt="">

          </section>

          <section id="medici-info" class="col-md-2 story-text popover__wrapper">
            <p class="bold-text">Connect artworks in their original context</p>
            <section class="arrow-link">
              <div class="search-collections-arrow">
                <img src="/assets/images/icons/info_green.png" alt="info"/>
              </div>
              <div class="search-collections-arrow-hover">
                <img src="/assets/images/icons/info_hover.png" alt="info"/>
              </div>
            </section>
            <section id="medici-detail" class="story-detail col-md-12 popover__content">
              <p>Palazzo Medici Riccardi (c. 1444)</p>
              <p>Photo archives contain images of all different aspects
                of large scale works of art, such as the Palazzo Medici
                Riccardi, Florence (started 1444). Images can include
                the exteriors and interiors of palaces and churches,
                as well as entire fresco series and minute details,
                thus providing  a complete view of the whole. </p>
            </section>

          </section>
        </section>
      </section>
    </section>
  </section>
  <section class="home-section">
    <section class="row" id="analyze-images">
      <section class="col-md-12">
        <h2 class="section-title col-md-5">
          <span class="black-text thin-text">Analyze </span>
          <span class="black-text bold-text">images</span>
        </h2>
        <p class="col-md-6">Use the IIIF viewer to examine
          and compare images from multiple sources.</p>
      </section>
    </section>


    <section class="row">
      <div class="mirador-container">
        <div class="mirador">
        <single-image-iiif-viewer
                        id="candidateAmirador"
                        iiif-manifest-url='https://iiif.artresearch.net/iiif/3/zeri/80000/72400/72337.jpg/info.json'
                        show-navigation-control='true'
                        >
        </single-image-iiif-viewer>
        </div>
        <div class="mirador">
        <single-image-iiif-viewer
                        id="candidateBmirador"
                        iiif-manifest-url='https://iiif.artresearch.net/iiif/3/marburg/fmc661227.jpg/info.json'
                        show-navigation-control='true'
        >
        </single-image-iiif-viewer>
        </div>
        <div class="mirador">
        <single-image-iiif-viewer
                        id="candidateCmirador"
                        iiif-manifest-url='https://ids.lib.harvard.edu/ids/iiif/420714604/info.json'
                        show-navigation-control='true'
        >
        </single-image-iiif-viewer>
        </div>
        <div class="mirador">
        <single-image-iiif-viewer
                        id="candidateDmirador"
                        iiif-manifest-url='https://iiif.itatti.harvard.edu/iiif/2/fotoindex!159_recto_d!159_recto_box04_d!159_recto_box04_d_00113.jpg/info.json'
                        show-navigation-control='true'
        >
        </single-image-iiif-viewer>
        </div>
      </div>
  </section>
  <section class="only-bg">

  </section>

  </section>
  <section class="home-section">
    <section class="row" id="how-technologies">
      <section class="col-md-8">
        <h2 class="section-title col-md-12">
          <span class="wrap-line black-text thin-text">How we use </span>
          <span class="wrap-line black-text thin-text">state-of-the-art </span>
          <span class="black-text bold-text small-devices">technologies</span>
        </h2>
        <p class="col-md-10">Our digitized photographic collections go on a long
        journey to reach artresearch.net. We explore state-ofthe-
        art technologies, like computer vision and linked
        open data, to enrich records with data from multiple
        sources, reconcile artworks, people, and places, and
        share data with the scholarly community in
        interoperable formats according to the CIDOC-CRM
        ontology.
        </p>
      </section>
      <section class="col-md-3">
        <img src="/assets/images/technologies.png" alt="technologies used in artresearch">
      </section>
    </section>
  </section>

  <section class="home-section">
    <section class="row" id="contacts-more">
      <section class="col-md-6">
          <h2 class="section-title col-md-12">
            <span class="black-text thin-text">Contact </span>
            <span class="white-text bold-text">us</span>
          </h2>
          <p class="col-md-10">For more information about PHAROS, including
            joining our consortium, please send an email to:
            <a href="mailto:info@artresearch.net?subject=feedback">info@artresearch.net</a>.</p>
      </section>
      <section class="col-md-6">
        <h2 class="section-title col-md-12">
          <span class="black-text thin-text">Learn </span>
          <span class="white-text bold-text">more</span>
        </h2>
        <p class="col-md-10">Read about the <semantic-link iri="https://artresearch.net/resource/About">PHAROS consortium</semantic-link>,
          meet <semantic-link iri="https://artresearch.net/resource/Partners">partners</semantic-link> and the <semantic-link iri="https://artresearch.net/resource/AdvisoryBoard">advisory board</semantic-link> at artresearch.net.</p>
      </section>
    </section>
  </section>
  <section class="home-section only-bg">

  </section>
</section>
[[> Default:footer]]
