<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Artworks created by Female Artists</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> rsp:collectionfiltersearch  searchQuery='?subject <https://pharos.artresearch.net/resource/fr/Work_created_from_Artist> ?artist. ?artist <https://pharos.artresearch.net/resource/fr/Person_has_Gender> <http://vocab.getty.edu/aat/300189557>.'  ]]
  </div>
</div>