<!-- Displays a list of similar artworks -->
<div>
  <semantic-query
    query='SELECT distinct ?subject WHERE { 
      # Artwork
      ?? <https://pharos.artresearch.net/resource/fr/Work_depicted_by_Photo> ?photo.
      ?photo crm:P129i_is_subject_of ?image.
      OPTIONAL{
        ?image crm:P2_has_type ?imageType.
        FILTER NOT EXISTS { ?imageType rdfs:label "verso". }
      }
      SERVICE <https://vision.artresearch.net/sparql> {
        ?image <http://purl.org/ontology/similarity/element> ?element.
        ?imageB <http://purl.org/ontology/similarity/element> ?element.
        ?subject <https://pharos.artresearch.net/custom/has_image> ?imageB.
      }
      FILTER(STR(?subject)!=STR(??))
    }'
    template="{{>similarArtworkTemplate}}"
    no-result-template='<i style="text-align:center">
      <h3>No similar artworks were found for this work.</h3></i>"
  >
    <template id="similarArtworkTemplate">
      <div class="similarArtworkCardContainer">
        {{#each bindings}}
        <div class="similarArtworkCard">
          <!-- Artwork Card really needs a ?subject -->
          [[> rsp:artworkCard]]
        </div>
        {{/each}}
      </div>
    </template>
  </semantic-query>
</div>
<style>
  .similarArtworkCardContainer {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .similarArtworkCard {
    width: 48.5%;
  }
  @media(max-width:1250px)
  {
    .similarArtworkCard {
      width: 80%;
    }
  }
</style>
