<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Self Portrait Artworks</h1>
        </header>
      </div>
    </div>
    [[> FilterSearchCollection domain="<https://artresearch.net/resource/fc/work>"  searchQuery='?subject fr:Work_shows_Subject ?suggestion. ?suggestion a cfc:subject. ?subject a fc:work. ?suggestion rdfs:label ?label. FILTER REGEX(?label,".*(self portrait|self-portrait|autoritratto|selbestbildnis|selbstportrait|selbstdarstellung)","i")' ]]
  </div>
</div>  
