<!-- Displays a row of IIIF photographs that are clickable (iiif mirador popup) -->
<div id="work-summary-images">
  <semantic-query
    query='SELECT distinct ?imgURL ?image ?iiifServer WHERE {
        {
          # Photo object
          ?? crm:P129i_is_subject_of ?image.
          OPTIONAL{
            ?? <https://pharos.artresearch.net/custom/has_provider> ?provider.
            ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.
          }
          ?image crm:P2_has_type ?imageType.
          ?imageType rdfs:label ?typeLabel.
          FILTER(?typeLabel = "verso" || ?typeLabel = "recto"  )  
        }UNION{
          # Original & Pharos Artwork
          ?? pharosfr:Work_depicted_by_Photo ?photo.
          ?photo crm:P129i_is_subject_of ?image.
          OPTIONAL{
          ?photo <https://pharos.artresearch.net/custom/has_provider> ?provider.
          ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.
          }
          ?image crm:P2_has_type ?imageType.
          ?imageType rdfs:label ?typeLabel.
          FILTER(?typeLabel = "verso" || ?typeLabel = "recto"  )  
        }
        BIND(REPLACE(STR(?image),"full/full","full/!350,350") AS ?imgURL).
     } ORDER BY str(?photo) ASC(?typeLabel)'
    template="{{> imageThumbnail}}"
  >
    <template id="imageThumbnail">
      <bs-tab-container id="imageViewTabs" default-active-key="single">
        <div>
          <bs-nav class="navbar-flex-end" bs-style="tabs">
            <bs-nav-item event-key="single">
              <span class="fa fa-image"></span>
            </bs-nav-item>
            <bs-nav-item event-key="grid">
              <span class="fa fa-th"></span>
            </bs-nav-item>
          </bs-nav>
          <bs-tab-content animation="true">
            <bs-tab-pane event-key="grid">
              [[> :WorkSummaryImagesGrid]]
            </bs-tab-pane>

            <bs-tab-pane event-key="single">
              [[> :WorkSummaryImagesSingle]]
            </bs-tab-pane>
          </bs-tab-content>
        </div>
      </bs-tab-container>
    </template>
  </semantic-query>
</div>