<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Artworks created by Albrecht Dürer</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> rsp:collectionfiltersearch  searchQuery='?subject pharosfr:Work_created_from_Artist <http://vocab.getty.edu/ulan/500115493>.'  ]]
  </div>
</div>