{
  "categories":  
  [
    {
      "iri":"<https://artresearch.net/resource/custom/fc/work>",
      "label":"Artwork"
    },
    {
      "iri":"<https://artresearch.net/resource/custom/fc/photograph>",
      "label":"Photograph"
    },
    {
      "iri":"<http://www.w3.org/2001/XMLSchema#dateTime>",
      "label":"Date"
    },
    {
      "iri":"<http://www.w3.org/2001/XMLSchema#boolean>",
      "label":"Boolean"
    },
    {
      "iri":"<https://artresearch.net/resource/custom/fc/material>",
      "label":"Material"
    },
    {
      "iri":"<https://artresearch.net/resource/custom/fc/artist>",
      "label":"Artist"
    },
    {
      "iri":"<https://artresearch.net/resource/custom/fc/photographer>",
      "label":"Photographer"
    },
    {
      "iri":"<https://artresearch.net/resource/custom/fc/subject>",
      "label":"Subject"
    },
    {
      "iri":"<https://artresearch.net/resource/custom/fc/technique>",
      "label":"Technique"
    },
    {
      "iri":"<https://artresearch.net/resource/custom/fc/place>",
      "label":"Place"
    },
    {
      "iri":"<https://artresearch.net/resource/custom/fc/repository>",
      "label":"Repository"
    },
    {
      "iri":"<https://artresearch.net/resource/custom/fc/type>",
      "label":"Type"
    },
    {
      "iri":"<https://artresearch.net/resource/custom/fc/photo_archive>",
      "label":"Photo Archive"
    },
    {
      "iri":"<https://artresearch.net/resource/custom/fc/license>",
      "label":"License"
    },
    {
      "iri": "<https://artresearch.net/resource/custom/fc/gender>",
      "label": "Gender"
    }
  ],
  "relations":
  [
    {
      "iri":"<https://artresearch.net/resource/fr/Work_has_production_Date>",
      "label":"Production Date",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/work>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#dateTime>"
    },
   {
      "iri":"<https://artresearch.net/resource/fr/Work_has_Image>",
      "label":"Has Image",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/work>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#boolean>"
    },
     {
      "iri":"<https://artresearch.net/resource/fr/Work_consists_of_Material>",
      "label":"Material",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/work>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/material>"
    },
    {
      "iri": "<https://artresearch.net/resource/fr/Work_created_by_Artist>",
      "label":"Creator",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/work>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/artist>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Work_shows_Subject>",
      "label":"Subject",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/work>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/subject>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Work_produced_using_technique_Technique>",
      "label":"Technique",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/work>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/technique>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Work_from_Place>",
      "label":"Location",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/work>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/place>"
    },
    {
      "iri": "<https://artresearch.net/resource/fr/Work_kept_by_Institution>",
      "label":"Repository",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/work>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/repository>"
    },
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/P2_has_type>",
      "label":"Type",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/work>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/type>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Work_has_Provider>",
      "label":"Photo Archive",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/work>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/photo_archive>"
    },
        
        
    [[!-- Photographs --]]
        
    {
      "iri":"<https://artresearch.net/resource/fr/Photo_has_Image>",
      "label":"Has Image",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/photograph>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#boolean>"
    },
    {
      "iri": "<https://artresearch.net/resource/fr/Photograph_created_by_Photographer>",
      "label":"Photographer",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/photograph>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/photographer>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Photograph_has_License>",
      "label":"License",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/photograph>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/license>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Photograph_has_Provider>",
      "label":"Photo Archive",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/photograph>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/photo_archive>"
    },
        
    [[!-- Artist --]]
        
    {
      "iri":"<https://artresearch.net/resource/fr/Artist_has_Gender>",
      "label":"Gender",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/artist>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/gender>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Artist_has_Life_Dates>",
      "label":"Life Dates",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/artist>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#dateTime>"
    },
        
    [[!-- Repository --]]
    {
      "iri":"<https://artresearch.net/resource/fr/Repository_from_Place>",
      "label":"Location",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/repository>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/place>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Repository_documented_in_Institution>",
      "label":"Photo Archive",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/repository>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/photo_archive>"
    },
        
    [[!-- Photographer --]]
        
    {
      "iri":"<https://artresearch.net/resource/fr/Photographer_has_Gender>",
      "label":"Gender",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/photographer>",
      "hasRange":"<https://artresearch.net/resource/custom/fc/gender>"
    },
    {
      "iri":"<https://artresearch.net/resource/fr/Photographer_has_Life_Dates>",
      "label":"Life Dates",
      "hasDomain":"<https://artresearch.net/resource/custom/fc/photographer>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#dateTime>"
    }
    [[!-- 
    {
      "iri":"<https://artresearch.net/custom/matched_in_collections>",
      "label":"Matched In Collections",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#string>"
    },
          {
      "iri":"<https://artresearch.net/custom/number_of_matched_artworks>",
      "label":"Number of Matches",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#number>"
    },
          {
      "iri":"<https://artresearch.net/custom/is_matched_artworks>",
      "label":"Has Match",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#boolean>"
    }
    --]]
  ]
}