<div id="artwork-header" class="page__header-body " style="display:flex" data-flex-layout="row top-left" >
  <div data-flex-layout="row center-left" class="page__header-tagline subtitleInfo" >
    <div class="header-options">
      <semantic-query
        query="
              SELECT DISTINCT ?providerRecord ?provider WHERE {
               [[#if artwork]]
                  ?originalSubject owl:sameAs ??.
                  ?originalSubject fr:Work_has_provider_Institution ?provider.
                  ?originalSubject <https://artresearch.net/custom/has_original_record> ?providerRecord.
                [[else if photo]]
                  ?? fr:Photo_depicts_Work  ?subject.
                  ?subject <https://artresearch.net/custom/has_original_record> ?providerRecord.
                  ?subject fr:Work_has_provider_Institution ?provider.
                [[else]]
                {
                  ?originalSubject owl:sameAs ??.
                  ?originalSubject fr:Work_has_provider_Institution ?provider.
                  ?originalSubject <https://artresearch.net/custom/has_original_record> ?providerRecord.
                }UNION{
                   ?? fr:Photo_depicts_Work  ?subject.
                  ?subject <https://artresearch.net/custom/has_original_record> ?providerRecord.
                  ?subject fr:Work_has_provider_Institution ?provider.
                }
                [[/if]]
              }"
        no-result-template="<div></div>"
        template="{{> originalRecords}}"
      >
        <template id="originalRecords">
              <div>
                <h2 class="fc-label">
                    {{#ifCond (objectLength bindings) '>' 1}}
                      View original records: 
                    {{/ifCond}}

                    {{#ifCond (objectLength bindings) '===' 1}}
                      View original record: 
                    {{/ifCond}}
                    
                    {{#each bindings}}
                      <a style="margin-left: 5px" href="{{providerRecord.value}}"  target="_null" >
                        [[> SourceIcon sub='{{provider.value}}']]
                      </a>
                    {{/each}}
                </h2>
              </div>
        </template>
      </semantic-query>
[[#if artwork]]
      <mp-event-target-template-render
          id="event-target-infowork"
          template="{{> filterRsbv}}"
      >
        <template id="filterRsbv">
            <div id="filter-dropdown">
              {{#if selectedTab}}
                [[> WorkInfoDropdown dropdownTitle="Source: {{selectedTabLabel}}"]] 
              {{else}} 
                [[> WorkInfoDropdown dropdownTitle="Source: All" ]] 
              {{/if}}
              
            </div>
        </template>
      </mp-event-target-template-render>
[[/if]]
    </div>
  </div>
</div>

<style>
  body{
    line-height: 0 !important;
  }


  .modal-dialog.overlay-lightbox__dialog.modal-dialog{
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
  }
</style>