<semantic-table
id="semantic-search-result-table"
query="SELECT DISTINCT ?subject ?work ?creator ?photographer ?repository ?provider WHERE {
    ?work pharosfr:Work_depicted_by_Photo ?subject.
    ?subject pharosfr:Photo_created_by_Photographer> ?photographer.
    ?work pharosfr:Work_depicted_by_Photo ?subject.
    ?work pharosfr:Work_created_from_Artist ?creator.
    ?subject pharosfr:Photo_has_provider_Institution ?provider.
    ?subject a <https://pharos.artresearch.net/resource/custom/fc/photo>
  }LIMIT 100"
  options='{"showFilter":true, "resultsPerPage":10}'
  column-configuration='[
  {"variableName": "subject", "displayName": "Title"},
  {"variableName": "work", "displayName": "Depicts"},
  {"variableName": "photographer", "displayName": "Photographer"},
  {"variableName": "creator", "displayName": "Artist"},
  {"variableName": "provider", "displayName": "Provider"}
  ]'
>
</semantic-table>