<div
  id="artwork-header"
  class="page__header-body displayFlex"
  data-flex-layout="row top-left"

>
  <div
    data-flex-layout="row center-left"
    class="page__header-tagline subtitleInfo"
  >
    <div class="header-options">
      <semantic-query
        query="
              SELECT DISTINCT ?providerRecord ?providerLabel WHERE {
              {
                # Artwork
                ?originalSubject owl:sameAs ??.
                ?originalSubject fr:Work_has_provider_Institution ?provider.
                ?originalSubject <https://pharos.artresearch.net/custom/has_original_record> ?providerRecord.
                ?provider rdfs:label ?providerLabel
              }UNION{
                # Pharos artwork
                ?? fr:Work_has_provider_Institution ?provider.
                ?? <https://pharos.artresearch.net/custom/has_original_record> ?providerRecord.
                ?provider rdfs:label ?providerLabel
              }UNION{
                # Photograph
                ?? fr:Photo_depicts_Work  ?subject.
                ?subject <https://pharos.artresearch.net/custom/has_original_record> ?providerRecord.
                ?subject fr:Work_has_provider_Institution ?provider.
                ?provider rdfs:label ?providerLabel
              }
              }"
        no-result-template="<div></div>"
        template="{{> originalRecords}}"
      >
        <template id="originalRecords">
          <div>
            <h2 class="fc-label">
              {{#each bindings}}
              <a
                style="margin-left: 5px"
                href="{{providerRecord.value}}"
                target="_null"
              >
                <div class="fc-label original-link">
                  <img
                    title="{{providerLabel.value}}"
                    class="sourceIcon"
                    src="../../assets/images/{{providerLabel.value}}.ico"
                  />
                  <div class="text">View {{providerLabel.value}} record</div>
                </div>
              </a>
              {{/each}}
            </h2>
          </div>
        </template>
      </semantic-query>
      <div class="animated-background"></div>

      <semantic-query
        query="SELECT ?websiteLink WHERE { ?? fr:Institution_has_Original_Link ?websiteLink 
        }LIMIT 10"
        template="{{> websiteLink }}"
      >
        <template id="websiteLink">
          <div>
            <h2 class="fc-label">
              {{#each bindings}}
              <a
                style="margin-left: 5px"
                href="{{websiteLink.value}}"
                target="_null"
              >
                <div class="fc-label original-link">
                  <div class="text">View website</div>
                  <div class="sourceIcon fa fa-external-link"></div>
                </div>
              </a>
              {{/each}}
            </h2>
          </div>
        </template>
      </semantic-query>
      <div class="animated-background"></div>
      <mp-event-target-template-render
      id="event-target-infowork"
      template="{{> filterRsbv}}"
    >
    <template id="filterRsbv">
      <div id="filter-dropdown">
        {{#if selectedTab}} 
          [[> :WorkInfoDropdown dropdownTitle="Source: {{selectedTab}}"]] 
          {{else}} 
          [[> :WorkInfoDropdown dropdownTitle="Source: All" ]] 
        {{/if}}
      </div>
    </template>
    </mp-event-target-template-render>

    </div>
  </div>
</div>
