<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<div class="page rs-page">
  [[#> rsp:ClipboardSidebar]]
  <div class="page__header-navtabs">
    [[> rsp:Header fc=fc fcLabel=fcLabel]]
  </div>

  [[#if (urlParam "tab")]]
  <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="[[urlParam 'tab']]">
    [[else]]
    <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="summary">
      [[/if]]
      <div>
        <bs-nav bs-style="tabs">
          <bs-nav-item event-key="summary">Summary</bs-nav-item>
          [[#if (ask "ASK {?? <https://pharos.artresearch.net/custom/has_provider> ?provider. ?provider <https://pharos.artresearch.net/custom/has_iiif_server> ?iiifServer.  }") ]] 
            [[#if (ask "ASK {?? crm:P2_has_type <http://vocab.getty.edu/aat/300046300> }") ]] 
            <bs-nav-item event-key="IIIF">Image Lightbox</bs-nav-item>
            [[/if]]
            [[#if (ask "ASK {?? crm:P2_has_type <http://vocab.getty.edu/aat/300133025> }") ]] 
            <bs-nav-item event-key="IIIFInspect">Image Lightbox</bs-nav-item>
            [[/if]]
          [[/if]]
          [[#if (ask "ASK {?? a crm:E21_Person }") ]] 
           <bs-nav-item event-key="artworks">Artworks</bs-nav-item>
           [[/if]]
          <!-- <bs-nav-item event-key="annotations">
            Annotations <semantic-context repository='assets'><semantic-query query="SELECT (COUNT(DISTINCT ?s) AS ?count) WHERE {
              ?s <http://www.ics.forth.gr/isl/CRMdig/L43_annotates> ??;
              }"
              template='{{#each bindings}}<span class="badge">{{count.value}}</span>{{/each}}'></semantic-query></semantic-context>
          </bs-nav-item> -->
          <!-- <bs-nav-item event-key="related">Explore Related</bs-nav-item> -->
        </bs-nav>

        <bs-tab-content unmount-on-exit=true>
          <bs-tab-pane event-key="summary">
            <!-- Loads all IIIF images as 500px thumbnails (clickable with mirador popup) -->
            [[> rsp:WorkSummaryImages]]
            <!-- Loads two tables with information regarding work & production -->
            [[> rsp:WorkAndProductionInfo]]
            <div>
              <semantic-table 
              query='
                    SELECT distinct ?record ?image WHERE 
                    {
                      {
                      ?s owl:sameAs ?? . 
                      ?s <https://pharos.artresearch.net/custom/has_original_record> ?record . 
                      ?s <https://pharos.artresearch.net/custom/has_provider> ?provider . 
                      ?provider crm:image ?image.
                      }
                      UNION
                      {
                      ?? <https://pharos.artresearch.net/custom/has_original_record> ?record . 
                      ?? <https://pharos.artresearch.net/custom/has_provider> ?provider . 
                      ?provider crm:image ?image.
                      }
                    }' 
                    options='{"showFilter": false, "showTableHeading": false}'
              tuple-template='{{> tupleTemplate}}'
              >
              <template id='tupleTemplate'>

                <p align="right"><a href={{record.value}} style="margin-top:18px;margin-right:20px;">  
                  <img src={{image.value}} style="max-height:16px; max-width:16px; margin: 0 auto;" class="img-rounded">
                  </a> </p>

              </template>
              </semantic-table>

              <!-- <mp-field-visualization subject='[[this]]' additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
                                      fields='[[fieldDefinitionsFromQuery  "SELECT DISTINCT ?field WHERE {?field rso:hasDomain <https://pharos.artresearch.net/resource/fc/work>. OPTIONAL {?field <https://pharos.artresearch.net/field/order> ?w}} ORDER BY ASC(?w)"]]'
                                      template='{{> artworkFields}}'>
                  <template id="artworkFields">{{> rsp:FieldBasedVisualization subject="[[this]]"}}</template>

              </mp-field-visualization> -->
                
              <!-- Loads photographs with info (id, photographer, keeper) -->
              [[> rsp:PhotographTable]]            
            </div>
          </bs-tab-pane>
          <bs-tab-pane event-key="IIIFInspect">
            [[> IIIFInspect record=(this)]]
          </bs-tab-pane>
           <bs-tab-pane event-key="IIIF">
            [[> IIIF record=(this)]]
          </bs-tab-pane>
          <bs-tab-pane event-key="artworks">
            [[> Artworks]]
          </bs-tab-pane>
          <bs-tab-pane event-key="annotations">
            [[> rsp:EntityAnnotations]]
          </bs-tab-pane>
  
        </bs-tab-content>
      </div>
    </bs-tab-container>
    [[/rsp:ClipboardSidebar]]
</div>

<style>

  .workAndProductionInfo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .workAndProductionInfo .workInfoContainer{
    width: 45%;
    margin: 10px;
    padding: 20px;
    min-width: 500px;
    box-shadow: 0px 0px 20px 1px #f8f8f8;
  }

  .workAndProductionInfo .productionInfoContainer{
    width: 45%;
    margin: 10px;
    padding: 20px;
    min-width: 500px;
    box-shadow: 0px 0px 20px 1px #f8f8f8;
  }

  .thumbnailImage{
    height:20vh; 
    margin:1vw;
    cursor: pointer;
  }
  .miradorViewerPopup .grid-demo{
    height: 92vh;
}
  .miradorViewerPopup .modal-dialog{
      width: 85%;
  }
  .miradorViewerPopup .modal-title{
      text-align: center;
  }
  .mirador-main-menu-bar{
    display: none !important;
    }

    .mirador-viewer{
        top: 0px !important;
    }
    .mirador-osd-annotation-controls{
        display: none !important;
    }

    

</style>