<div id="artwork-filter-search-inline">
  <semantic-search
  search-profile='{
    "categories":[
      {
        "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
        "label":"Person"
      },
      {
        "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
        "label":"Painter"
      },
      {
        "iri":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
        "label":"Artwork"
      },
      {
        "iri":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
        "label":"Type"
      }
    ],
    "relations":[
      {
        "iri":"<http://www.cidoc-crm.org/cidoc-crm/P2_has_type>",
        "label":"Type",
        "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
        "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
      },
      {
        "iri":"<https://artresearch.net/resource/fr/Photo_created_by_Photographer>",
        "label":"Photographer",
        "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
        "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
      },
      {
        "iri":"<https://artresearch.net/resource/fr/Photo_depicts_Work>",
        "label":"Depicts work",
        "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
        "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
      }
    ]
  }'
  >
    <div id="header-search" class="search-page">
      <semantic-search-query-keyword
        domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
        placeholder="Search for any field, a title, repository or any other identifier.."
        escape-lucene-syntax="false"
        default-query="
          PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
          PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
          SELECT DISTINCT ?subject WHERE {
            ?subject a cfc:photo.
            ?subject fr:Photo_created_by_Photographer ??
          }"
        query='
          SELECT DISTINCT ?subject WHERE {          
              ?subject fr:Photo_created_by_Photographer ??.
              ?subject ?p ?o.
              ?o rdfs:label ?someLabel.
              ?someLabel bds:search ?__token__  .
              ?someLabel bds:minRelevance "0.3"^^xsd:double;
              bds:matchAllTerms "true"  .
          } 
        '
      ></semantic-search-query-keyword>
    </div>
    <div class="row">
      <bs-col
        lg="3"
        md="4"
        sm="5"
        class="fade-in-fwd filters-container"
        style="margin-top: 8px"
      >
        <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
          <semantic-search-facet open-by-default='true' sortby='count-desc'></semantic-search-facet>
        </bs-panel>
      </bs-col>
      <bs-col lg="9" md="8" sm="7">
        <semantic-search-result-holder>
          <bs-tabs unmount-on-exit="true" id="search-results" animation="false">
            <bs-tab event-key="2" title="Grid">
                <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
                <semantic-search-result id="semantic-search-result">
                  [[> SearchResultCount]]
                </semantic-search-result>
                <semantic-search-result>
                  <div id="card-results">
                    <bs-tab-container
                      id="tab-container"
                      class="page__body-navtabs--borderless"
                      default-active-key="all"
                    >
                      <div>
                        <bs-nav bs-style="tabs">
                          <bs-nav-item event-key="all">All</bs-nav-item>
                          <bs-nav-item event-key="photosOnly"
                            >Must include photograph</bs-nav-item
                          >
                        </bs-nav>
                        <bs-tab-content unmount-on-exit="true">
                          <bs-tab-pane event-key="all">
                            <semantic-table
                              id="grid-result"
                              options='{ "showFilter":false }'
                              number-of-displayed-rows="10"
                              query=" SELECT DISTINCT ?subject WHERE {}LIMIT 1000"
                              tuple-template="{{>tupleTemplate}}"
                              no-result-template='[[> CardNoResult ]]'
                            >
                              <template id="tupleTemplate">
                                [[> CardArtwork]]
                              </template>
                            </semantic-table>
                          </bs-tab-pane>
                          <bs-tab-pane event-key="photosOnly">
                            <semantic-table
                              id="grid-result-2"
                              options='{ "showFilter":false }'
                              number-of-displayed-rows="10"
                              query="
                                  SELECT DISTINCT ?subject
                                  WHERE {
                                    ?subject fr:Work_depicted_by_Photo ?photo.
                                    ?photo crm:P129i_is_subject_of ?image.
                                  }LIMIT 1000
                                "
                              tuple-template="{{>tupleTemplate}}"
                              no-result-template='[[> CardNoResult ]]'
                            >
                              <template id="tupleTemplate">
                                [[> CardArtwork]]
                              </template>
                            </semantic-table>
                          </bs-tab-pane>
                        </bs-tab-content>
                      </div>
                    </bs-tab-container>
                  </div>
                </semantic-search-result>
            </bs-tab>
          </bs-tabs>
        </semantic-search-result-holder>
      </bs-col>
    </div>
  </semantic-search>
</div>
