  <div class="artwork-card artwork-image-card karla-regular">
    {{#if data}}
        <semantic-link-container uri="{{data.[@id]}}" target="_blank">
            <div class="thumbnail-container cursor">
              <div class="image-wrapper">
              {{#if photo}}
                {{#bind work=this}}
                  <resource-info subject="{{photo}}" profile="photograph-thumbnail" template="{{> template work=work}}">
                    <template id="template">
                      <img class="thumbnail-image" src="https://staging.artresearch.net{{data.[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                      
                      {{#if work.data.[https://artresearch.net/resource/field_definition/pharos_model/original_record_catalog].values.[1]}}
                        <img class="provider-icon thumbnail-provider-icon" title="{{label}}" src="{{data.[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values.0.[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                      {{/if}}
                    </template>
                  </resource-info>
                {{/bind}}
              {{else if provider}}
                {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos]}}
                  {{#with (getPreferredPhoto data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values provider)}}
                      <img class="thumbnail-image" src="https://staging.artresearch.net{{[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                      <img class="provider-icon thumbnail-provider-icon" title="{{label}}" src="{{[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values.0.[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                  {{/with}}
                {{else}}
                  <span class="no-image-text">No image</span>
                {{/if}}
              {{else}}
                {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos]}}
                  <img class="thumbnail-image" src="https://staging.artresearch.net{{data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values.0.[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                
                  {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/original_record_catalog].values.[1]}}
                    <img class="provider-icon thumbnail-provider-icon" title="{{label}}" src="{{data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values.0.[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values.0.[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                  {{/if}}
                {{else}}
                  <span class="no-image-text">No image</span>
                {{/if}}
              {{/if}}
              </div>
            </div>
           <div class="field">
              <div class="field-value">
                <div class="provider-icons">
                  {{#each data.[https://artresearch.net/resource/field_definition/pharos_model/original_record_catalog].values}}
                    <semantic-link-container uri='{{[@id]}}' target='_blank'>
                      <img class="provider-icon" title="{{label}}" src="{{[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                    </semantic-link-container>
                  {{/each}}
                </div>
              </div>
            </div>
      </semantic-link-container>

    {{/if}}
  </div>
