<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Artworks held at Non-Western Repositories</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> :FilterSearchCollection searchQuery='?subject a pharosfc:work. ?s owl:sameAs ?subject. { ?s pharosfr:Work_from_Place <https://pharos.artresearch.net/resource/itatti/place/4000000855>. } UNION{ ?s pharosfr:Work_from_Place <https://pharos.artresearch.net/resource/itatti/place/4000001890>. } UNION{ ?s pharosfr:Work_from_Place <https://pharos.artresearch.net/resource/zeri/place/06F62BDA-1D10-3334-9CD6-49092EEB9C3B>. } UNION{ ?s pharosfr:Work_from_Place <https://pharos.artresearch.net/resource/itatti/place/4000000860>. } UNION{ ?s pharosfr:Work_from_Place <https://pharos.artresearch.net/resource/itatti/place/4000005450>. } UNION{ ?s pharosfr:Work_from_Place <https://pharos.artresearch.net/resource/itatti/place/4000004706>. } UNION{ ?s pharosfr:Work_from_Place <https://pharos.artresearch.net/resource/zeri/place/62413A57-C5E3-3C51-9779-95FA175D3286>. } UNION{ ?s pharosfr:Work_from_Place <https://pharos.artresearch.net/resource/itatti/place/7004472>.}']] 
  </div>
</div>
