<div id="artwork-filter-search">
  [[#if provider]]
  <semantic-search
    relations='{
      "<https://pharos.artresearch.net/resource/fr/Work_created_from_Artist>":[
        {
          "kind": "resource",
          "queryPattern": "
            $subject <https://pharos.artresearch.net/resource/fr/Work_created_from_Artist> ?__value__."
        }
    ],
    "<https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution>":[
    {
      "kind": "resource",
      "queryPattern": "
        
          $subject <https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution> ?__value__."
    }],
    "<https://pharos.artresearch.net/resource/fr/Work_shows_Subject>": [
    {
      "kind": "resource",
      "queryPattern": "
        
          $subject <https://pharos.artresearch.net/resource/fr/Work_shows_Subject>  ?__value__."
    }],
    "<https://pharos.artresearch.net/resource/fr/Work_consists_of_Material>": [
    {
      "kind": "resource",
      "queryPattern": "
        
          $subject <https://pharos.artresearch.net/resource/fr/Work_consists_of_Material> ?__value__."
    }],
    "<https://pharos.artresearch.net/resource/fr/Work_produced_using_technique_Technique>": [
    {
      "kind": "resource",
      "queryPattern": "
        
         $subject <https://pharos.artresearch.net/resource/fr/Work_produced_using_technique_Technique> ?__value__."
    }],
    "<https://pharos.artresearch.net/resource/fr/Work_from_Place>": [
    {
      "kind": "resource",
      "queryPattern": "
        
          $subject <https://pharos.artresearch.net/resource/fr/Work_from_Place> ?__value__."
    }]
      }'
    search-profile='{
        "categories":  
        [
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
            "label":"Painter"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "label":"Creator"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "label":"Artwork"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
            "label":"Concept"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>",
            "label":"Material"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>",
            "label":"Technique"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label":"Location"
          }
        ],
        "relations":
        [
          {
            "iri": "<https://pharos.artresearch.net/resource/fr/Work_created_from_Artist>",
            "label":"Creator",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
          },
          {
            "iri": "<https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution>",
            "label":"Repository",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_shows_Subject>",
            "label":"Subject",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_consists_of_Material>",
            "label":"Material",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/P2_has_type>",
            "label":"Concept",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_produced_using_technique_Technique>",
            "label":"Technique",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_from_Place>",
            "label":"Location",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
          }
        ]
      }'
  >
    <div id="header-search" class="search-page">
              <semantic-search-query-keyword
                domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
                placeholder="Search for an artwork by title"
                escape-lucene-syntax="false"
                default-query='
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                SELECT DISTINCT ?subject WHERE {
                ?subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <[[type]]>.
                ?subject <https://pharos.artresearch.net/custom/has_provider>  <[[provider]]>.
                }
                '
                query='
                      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                      PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                      SELECT DISTINCT ?subject WHERE {
                      ?subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <[[type]]>.
                      ?subject <https://pharos.artresearch.net/custom/has_provider>  <[[provider]]>.
                      ?subject ?a ?value.
                      ?value rdfs:label ?someLabel.
                      ?someLabel bds:search ?__token__ .
                      ?someLabel bds:minRelevance "0.3"^^xsd:double;
                      bds:matchAllTerms "true".
                      } 
                    '
              ></semantic-search-query-keyword>
    </div>

    <div class="row">
      <bs-col lg="12">
        <semantic-search-result-holder>
          <bs-tabs unmount-on-exit="true" id="search-results" animation="false">
            <bs-tab event-key="2" title="Grid">
              <semantic-search-result>
                <div id="card-results">
                  <bs-tab-container
                    id="tab-container"
                    class="page__body-navtabs--borderless"
                    default-active-key="all"
                  >
                    <div>
                      <bs-nav bs-style="tabs">
                        <bs-nav-item event-key="all">All</bs-nav-item>
                        <bs-nav-item event-key="photosOnly"
                          >Must include photograph</bs-nav-item
                        >
                      </bs-nav>

                      <bs-tab-content unmount-on-exit="true">
                        <bs-tab-pane event-key="all">
                          <semantic-table
                            id="grid-result"
                            options='{
                          "showFilter":false
                        }'
                            number-of-displayed-rows="8"
                            query="
                      SELECT DISTINCT ?subject
                       WHERE {
                     
                       }LIMIT 100
                    "
                            tuple-template="{{>tupleTemplate}}"
                          >
                            <template id="tupleTemplate">
                              [[> rsp:artworkCard]]
                            </template>
                          </semantic-table>
                        </bs-tab-pane>
                        <bs-tab-pane event-key="photosOnly">
                          <semantic-table
                            id="grid-result-2"
                            options='{
                          "showFilter":false
                        }'
                            number-of-displayed-rows="8"
                            query="
                      SELECT DISTINCT ?subject
                       WHERE {
                        ?subject <https://pharos.artresearch.net/resource/fr/Work_depicted_by_Photo> ?photo.
                       }LIMIT 100
                    "
                            tuple-template="{{>tupleTemplate}}"
                          >
                            <template id="tupleTemplate">
                              [[> rsp:artworkCard]]
                            </template>
                          </semantic-table>
                        </bs-tab-pane>
                      </bs-tab-content>
                    </div>
                  </bs-tab-container>
                </div>
              </semantic-search-result>
            </bs-tab>
          </bs-tabs>
        </semantic-search-result-holder>
      </bs-col>
    </div>
  </semantic-search>
  [[else]] No provider enter a provider in your rsp:artworkfiltersearch
  !!add!!>>>><b> provider="https://some.provider.uri" </b>
  [[/if]]
</div>