<footer>
  <section class="row">
    <section class="col-md-3">
      <img class="footer-logo" src="/assets/images/logo_artresearch.png" alt="logo artresearch">
      <p>is developed by</p>
      <img class="footer-logo" src="/assets/images/pharos_logo.png" alt="">
      <p>and supported by</p>
    </section>
    <section class="col-md-2 footer-list">
      <ul>
        <li><semantic-link iri="https://artresearch.net/resource/search">Artworks</semantic-link></li>
        <li><semantic-link iri="https://artresearch.net/resource/artists">Artists</semantic-link></li>
        <li><semantic-link iri="https://artresearch.net/resource/search-photos">Photographs</semantic-link></li>
        <li><semantic-link iri="https://artresearch.net/resource/photographers">Photographers</semantic-link></li>
        <li><semantic-link iri="https://artresearch.net/resource/repositories">Repositories</semantic-link></li>
      </ul>
    </section>
    <section class="col-md-2 footer-list">
        <ul>
          <li><semantic-link iri="https://artresearch.net/resource/About">About</semantic-link></li>
          <li><semantic-link iri="https://artresearch.net/resource/Partners">Partners</semantic-link></li>
          <li><semantic-link iri="https://artresearch.net/resource/AdvisoryBoard">Advisory board</semantic-link></li>
          <li><semantic-link iri="https://artresearch.net/resource/IntellectualProperty">Intellectual property</semantic-link></li>
          <li><semantic-link iri="https://artresearch.net/resource/OpenAccessPolicy">Open Access Policy</semantic-link></li>
          <li><semantic-link iri="https://artresearch.net/resource/TermsAndConditions">Terms of use</semantic-link></li>
          <li><semantic-link iri="https://artresearch.net/resource/PrivacyNotice">Privacy notice</semantic-link></li>
        </ul>
    </section>
    <section class="col-md-2 footer-list">
        <ul>
          <li><a href="#">Technical documentation</a></li>
          <li><semantic-link iri="https://artresearch.net/resource/Statistics">Statistics</semantic-link></li>
        </ul>
    </section>

  </section>
  <section class="logos_sponsors row justify-content-md-center">
    <img class="footer-logo-small" src="/assets/images/logo_kress.png" alt="logo kress">
    <img class="footer-logo-small" src="/assets/images/logo_mellon.png" alt="logo mellon">
    <img class="footer-logo-small" src="/assets/images/logo_neh.png" alt="logo neh">
    <img class="footer-logo-small" src="/assets/images/logo_hertziana.png" alt="logo hertziana">
    <img class="footer-logo-small" src="/assets/images/logo_researchspace.png" alt="logo researchspace">
  </section>
</footer>
