<div id="artwork-header"  class="page__header-body" data-flex-layout="row top-left">
    <div class="page__header-draggable-title">
        <mp-draggable iri="[[this]]">
          <h2 data-flex-layout="row center-left">
            <span class="page__header-gripper"></span>
            <mp-label iri="[[this]]" class='page__header-gripper-label'></mp-label>
          </h2>
        </mp-draggable>
        <semantic-query 
            query='SELECT ?title WHERE{
                    ?? rdfs:label ?label. 
                    BIND(REPLACE(str(?label),"[-!$%^&*()_+|~=`{}\\[\\]:\";<>?,.\\/\\\\]"," ") as ?title).}' 
            template="{{>copyTemplate}}"
            no-result-template="<div></div>">
            <template id="copyTemplate">
              <div>
                <mp-copy-to-clipboard
                  text="{{bindings.0.title.value}}"
                  message="Copied title"
                >
                  <li class="titleCopy fa fa-copy"></li>
                </mp-copy-to-clipboard>
              </div>
            </template>
        </semantic-query>
    </div>
    <div class="animated-background-sm"></div>
    <div data-flex-layout='row center-left' class="page__header-tagline subtitleInfo">
        [[> InfoTypeRepository work=(urlParam "uri") ]]
        <div style="position: absolute; right: 0; top: 0;">
            <semantic-query
              query='SELECT ?websiteLink WHERE { ?? fr:Institution_has_Original_Link ?websiteLink }LIMIT 10'
              template='{{> websiteLink }}'
              no-result-template="<div></div>">
                  <template id='websiteLink'>
                    <div>
                      <h2 class="fc-label">
                        {{#each bindings}}
                            <a style="margin-left: 5px;" href="{{websiteLink.value}}" target="_null">
                                <div class="fc-label original-link">
                                    <div class="text">View website</div>
                                    <div class="sourceIcon fa fa-external-link"></div>
                                </div> 
                            </a>
                        {{/each}}
                      </h2>
                    </div>
                  </template>
            </semantic-query>
            <div class="animated-background"></div>
        </div>
    </div>
</div>

<style>
  body{
    line-height: 0 !important;
  }
</style>