
<semantic-query
query='  
SELECT distinct ?photo ?photo_label ?keeper ?keeper_label ?rectoImage WHERE 
{
    
    {
      ?? crm:P138i_is_represented_by ?visual_item.
      ?visual_item crm:P128i_is_carried_by ?photo.
      OPTIONAL
      {
      ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
      ?photo rdfs:label ?photo_label.
      }
      OPTIONAL
      {
        ?photo crm:P50_has_current_keeper ?keeper.
        ?keeper rdfs:label ?keeper_label.
      }
      OPTIONAL
      {
        ?photo crm:P108i_was_produced_by ?production .
        ?production crm:P14_carried_out_by ?photographer.
        ?photographer rdfs:label ?photographer_label.
      }
      ?photo crm:P129i_is_subject_of ?recto.
    }UNION{
      ?originalSubject owl:sameAs ??.
      ?originalSubject crm:P138i_is_represented_by ?visual_item.
      ?visual_item crm:P128i_is_carried_by ?photo.
      OPTIONAL
      {
      ?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
      ?photo rdfs:label ?photo_label.
      }
      OPTIONAL
      {
        ?photo crm:P50_has_current_keeper ?keeper.
        ?keeper rdfs:label ?keeper_label.
      }
      OPTIONAL
      {
        ?photo crm:P108i_was_produced_by ?production .
        ?production crm:P14_carried_out_by ?photographer.
        ?photographer rdfs:label ?photographer_label.
      }
      ?photo crm:P129i_is_subject_of ?recto.
    }
    BIND(REPLACE(STR(?recto),"full/full","full/100,") AS ?rectoImage).
}LIMIT 4' 
template='{{> photos}}'
>
     
<template id='photos'>
  <div style="margin-top:45px"> <h2>Photographs</h2></div>
  {{#each bindings}}
  <div class="photographFieldView">
    <td>
       <semantic-link iri="{{photo.value}}"> 
       <img src={{rectoImage.value}} style="max-height:70px; max-width:70px; margin: 0 auto;" class="img-rounded">
       </semantic-link>
    </td>
    <div class="photographFieldViewData">
        <td class="rs-page-resource__field-label">Photograph</td>
        <td>
          <span class="rs-page-resource__field-value">
            <div class="visualizationValue"> <semantic-link iri="{{photo.value}}"> 
              {{photo_label.value}}
             </semantic-link></div>
          </span>
        </td>
      </tr>
      {{#ifCond photographer_label.value "!==" undefined}}
      <tr>
        <td class="rs-page-resource__field-label">Photographer</td>
        <td>
          <span class="rs-page-resource__field-value">
            <div class="visualizationValue"> 
              <semantic-link iri="{{photographer.value}}"> 
              {{photographer_label.value}}
             </semantic-link>
            </div>
          </span>
        </td>
      </tr>
      {{/ifCond}}
      
      {{#ifCond keeper_label.value "!==" undefined}}
      <tr>
        <td class="rs-page-resource__field-label">Keeper</td>
        <td>
          <span class="rs-page-resource__field-value">
            <div class="visualizationValue"> 
              <semantic-link iri="{{keeper.value}}"> 
                {{keeper_label.value}}
              </semantic-link>
            </div>
          </span>
        </td>
      </tr>
      {{/ifCond}}
    </div>
</div>
{{/each}}
</template>    
</semantic-query>
<style>
  .photographFieldView{
    display: flex;
    margin-top: 25px;
  }
  .photographFieldViewData{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
</style>