<div id="photoTable">
  <semantic-query
    query='  
      SELECT distinct ?photo 
      {
        ?? fr:Work_depicted_by_Photo ?photo.
        {{#if selectedTab}}
          {{#ifCond selectedTab "!==" "All"}}
            ?photo fr:Photo_has_provider_Institution ?provider.
            ?provider rdfs:label "{{selectedTab}}"
          {{/ifCond}}
        {{/if}}
      }LIMIT 1'
    no-result-template="<div></div>"
    template="{{> showTitle}}"
  >
    <template id="showTitle">
      <div >
      <div style="margin-top: 45px"><h2>Photographs</h2></div>
    </div>
    </template>
  </semantic-query> 
  <!-- // TODO convert to ASK -->
  <div class="table-of-animation">
    <div class="animated-background-long-line rs-page-resource__field-label-holder"></div>
    <div class="animated-background-long-line rs-page-resource__field-label-holder"></div>
    <div class="animated-background-long-line rs-page-resource__field-label-holder"></div>
    <div class="animated-background-long-line rs-page-resource__field-label-holder"></div>
    <div class="animated-background-long-line rs-page-resource__field-label-holder"></div>
    <div class="animated-background-long-line rs-page-resource__field-label-holder"></div>
  </div>
  

  <semantic-table
    options='{
      "showFilter":false
    }'
    number-of-displayed-rows="4"
    query='
      SELECT distinct ?photo ?photo_label ?photographer ?keeper WHERE 
      {
          ?? fr:Work_depicted_by_Photo ?photo.
          # TODO add recto query, add optional verso query
          {{#if selectedTab}}
            {{#ifCond selectedTab "!==" "All"}}
              ?photo fr:Photo_has_provider_Institution ?provider.
              ?provider rdfs:label "{{selectedTab}}"
            {{/ifCond}}
          {{/if}}
      }'

    tuple-template="{{> photos}}"
    no-result-template=''

  >
    <template id="photos">
      <semantic-link class="photographFieldView" iri="{{photo.value}}">
        <td class="rectoVersoCell">
          <semantic-query
            query='
              SELECT  ?photoUri ?rectoImage where{
                BIND(str(<{{photo.value}}>) as ?photoUri).
                <{{photo.value}}> crm:P129i_is_subject_of ?fullsizeImages.
                BIND(REPLACE(STR(?fullsizeImages),"full/full","full/!100,100") AS ?rectoImage).
                FILTER NOT EXISTS { 
                  ?fullsizeImages crm:P2_has_type ?type.
                  ?type rdfs:label "verso"
                }
              }
            '
            template="{{>rectoImageThumb}}"
          >
            <template id="rectoImageThumb">
              <semantic-link iri="{{bindings.0.photoUri.value}}">
                <img
                  src="{{bindings.0.rectoImage.value}}"
                  style="max-height: 100px; margin: 0 auto"
                  class="img-rounded"
                />
              </semantic-link>
            </template>
          </semantic-query>
          <semantic-query
            query='
              SELECT ?photoUri ?versoImage where{
                BIND(str(<{{photo.value}}>) as ?photoUri).
                <{{photo.value}}> crm:P129i_is_subject_of ?fullsizeImages.
                BIND(REPLACE(STR(?fullsizeImages),"full/full","full/!100,100") AS ?versoImage).
                FILTER NOT EXISTS { 
                  ?fullsizeImages crm:P2_has_type ?type.
                  ?type rdfs:label "recto"
                }
              }
            '
            template="{{>versoImageThumb}}"
          >
            <template id="versoImageThumb">
              <semantic-link iri="{{bindings.0.photoUri.value}}">
                <img
                  src="{{bindings.0.versoImage.value}}"
                  style="max-height: 70px; max-width: 70px"
                  class="img-rounded vercoCell"
                />
              </semantic-link>
            </template>
          </semantic-query>
        </td>
        <div class="photographFieldViewData">
          <!-- //TODO make query -->
          <mp-field-visualization
            subject="{{photo.value}}"
            fields='[[fieldDefinitions  
              Title="https://artresearch.net/fieldDefinition/2"  
              Photographer="https://artresearch.net/fieldDefinition/123"
              Archive="http://www.researchspace.org/fieldDefinition/Photo_Archive" 
            ]]'
            template="{{>productionInfo}}"
          >
            <template id="productionInfo">
              {{#if noData}}
              <div id="rsbv" class="table-responsive rs-table">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>No quick preview available. Click on the photo to view details.</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              {{else}} 
              [[> ResourceFieldBasedVisualization subject=[[this]] ]]
               {{/if}}
            </template>
          </mp-field-visualization>
        </div>
      </semantic-link>
    </template>
  </semantic-table>
</div>
<style>

</style>
