<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Artworks from Italian Renaissance</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> rsp:collectionfiltersearch  searchQuery='?subject <https://pharos.artresearch.net/resource/fr/Work_from_Date> ?date.  ?subject <https://pharos.artresearch.net/resource/fr/Work_to_Date> ?date2. FILTER (?date > str(1500)). FILTER (?date2 <  str(1500)).' ]]
  </div>
</div>  
