<div class="header-options artistAdditionalOptions">
  <div style="display:flex; flex-wrap: wrap;">
          [[#if (ask "ASK { FILTER CONTAINS(STR(??),'geonames') }")]]
          <h2 class="fc-label" >
            <a style="margin-left: 5px" href="[[this]]" target="_null">
              <div class="fc-label original-linkDNB">
                <div class="linkImageWrapper">
                  <img class="sourceIconDNB" src="../../assets/images/Geonames.ico"/>
                  <h6 class="text">View Geonames record</h6>
                </div>
              </div>
            </a>
          </h2>
      [[/if]]
    </div>
    </div>

<div id="printableInfo"  class="workAndProductionInfo">
  <!-- Fields for Artist (other details) -->
      <mp-field-visualization
          subject="[[this]]"
          additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
          fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/place_info>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
          template='{{>workInfo}}'
          >
            <template id="workInfo">
              <div class="workInfoContainer">
                Place info</h2>
                [[> ResourceFieldBasedVisualization showSourceIcon="true"  subject=[[this]] ]]
              </div>
            </template>
            <div class="animated-background workInfoContainer"></div>
      </mp-field-visualization>
        <div class="productionInfoContainer">
          <h2>External info</h2>
            [[> PlaceMap]]
            [[> PlaceTree]]
        </div>
  </div>
