<div id="artwork-header" class="page__header-body " style="display:flex" data-flex-layout="row top-left" >
  <div data-flex-layout="row center-left" class="page__header-tagline subtitleInfo" >
    <div class="header-options">
      <semantic-query
        query="
              SELECT DISTINCT ?providerRecord ?providerLabel WHERE {
              {
                # Artwork
                ?originalSubject owl:sameAs ??.
                ?originalSubject fr:Work_has_provider_Institution ?provider.
                ?originalSubject <https://artresearch.net/custom/has_original_record> ?providerRecord.
                ?provider rdfs:label ?providerLabel
              }UNION{
                # Pharos artwork
                ?? fr:Work_has_provider_Institution ?provider.
                ?? <https://artresearch.net/custom/has_original_record> ?providerRecord.
                ?provider rdfs:label ?providerLabel
              }UNION{
                # Photograph
                ?? fr:Photo_depicts_Work  ?subject.
                ?subject <https://artresearch.net/custom/has_original_record> ?providerRecord.
                ?subject fr:Work_has_provider_Institution ?provider.
                ?provider rdfs:label ?providerLabel
              }
              }"
        no-result-template="<div></div>"
        template="{{> originalRecords}}"
      >
        <template id="originalRecords">
              <div>
                <h2 class="fc-label">
                    {{#ifCond (objectLength bindings) '>' 1}}
                      View records: 
                    {{/ifCond}}

                    {{#ifCond (objectLength bindings) '===' 1}}
                      View record: 
                    {{/ifCond}}
                    
                    {{#each bindings}}
                    <a style="margin-left: 5px" href="{{providerRecord.value}}"  target="_null" >
                        <div class="fc-label original-link">
                            <img
                              style="height: 26px; width: 26px;"
                              title="{{providerLabel.value}}"
                              class="sourceIcon"
                              src="/assets/images/{{providerLabel.value}}.ico"
                            />
                        </div>
                    </a>
                    {{/each}}
                </h2>
              </div>
        </template>
      </semantic-query>



      <semantic-query
        query="SELECT ?websiteLink WHERE { ?? fr:Institution_has_Original_Link ?websiteLink }LIMIT 10"
        template="{{> websiteLink }}"
      >
        <template id="websiteLink">
          <div>
            <h2 class="fc-label">
              {{#each bindings}}
                  <a style="margin-left: 5px"  href="{{websiteLink.value}}" target="_null">
                    <div class="fc-label original-link">
                      <div class="text">View website</div>
                      <div class="sourceIcon fa fa-external-link"></div>
                    </div>
                  </a>
              {{/each}}
            </h2>
          </div>
        </template>
      </semantic-query>

      <mp-event-target-template-render
          id="event-target-infowork"
          template="{{> filterRsbv}}"
      >
        <template id="filterRsbv">
            <div id="filter-dropdown">
              {{#if selectedTab}} 
                [[> WorkInfoDropdown dropdownTitle="Source: {{selectedTab}}"]] 
                {{else}} 
                [[> WorkInfoDropdown dropdownTitle="Source: All" ]] 
              {{/if}}
              
            </div>
        </template>
      </mp-event-target-template-render>
    </div>
  </div>
</div>

<style>
  body{
    line-height: 0 !important;
  }


  .modal-dialog.overlay-lightbox__dialog.modal-dialog{
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
  }
</style>