<div class="text-center panel panel-default" style="border:none;margin-right:20px;font-size:12px;height:20px;width: 33%;display:inline;">
<div class="result-title">Artists Pharos</div>
</div>

 <semantic-table 
                query='
											SELECT  distinct $subject 
											 WHERE {
     	                 	$subject a <http://www.cidoc-crm.org/cidoc-crm/E21_Person>.
                        $subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <https://pharos.artresearch.net/resource/type/pharos>.
                                 
  											} limit 1000' 
                id="table-result" 
                number-of-displayed-rows= 100
                options='{"showFilter": false, "showTableHeading": true}'
                column-configuration='[
 							  {"variableName": "subject", "displayName": "Artist"}          
                ]'>
</semantic-table>

<br>
<br>