  <div class="artwork-card karla-regular" style='width: 200px; height: 200px;'>
    {{#if data}}
        <semantic-link-container uri="{{data.[@id]}}" target="_blank">
            <div class="thumbnail-container cursor">
              <div class="image-wrapper">
              {{#if photo}}
                <resource-info subject="{{photo}}" profile="photograph-thumbnail" template="{{> template}}">
                  <template id="template">
                    <img class="thumbnail-image" src="https://staging.artresearch.net{{data.[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                    <img class="provider-icon thumbnail-provider-icon" title="{{label}}" src="{{data.[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values.0.[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                  </template>
                </resource-info>
              {{else if provider}}
                {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos]}}
                  {{#with (getPreferredPhoto data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values provider)}}
                      <img class="thumbnail-image" src="https://staging.artresearch.net{{[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                      <img class="provider-icon thumbnail-provider-icon" title="{{label}}" src="{{[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values.0.[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                  {{/with}}
                {{else}}
                  <span class="no-image-text">No image</span>
                {{/if}}
              {{else}}
                {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos]}}
                  <img class="thumbnail-image" src="https://staging.artresearch.net{{data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values.0.[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                  <img class="provider-icon thumbnail-provider-icon" title="{{label}}" src="{{data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values.0.[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values.0.[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                {{else}}
                  <span class="no-image-text">No image</span>
                {{/if}}
              {{/if}}
              <img class="image-work-link" src="/assets/images/arrow_cream_black.svg" alt="arrow">
              </div>
            </div>
      </semantic-link-container>    
    {{/if}}
  </div>