<semantic-table
id="semantic-search-result-table"
prefetch-labels="false"
query='SELECT DISTINCT 
?subject 
(SAMPLE(?photographer) AS ?photographer)
(SAMPLE(?provider) AS ?provider) 
(SAMPLE(?image) AS ?image) 
WHERE {
    ?subject a cfc:photo.
    OPTIONAL{
      ?subject fr:Photo_created_by_Photographer ?photographer.
    }
    OPTIONAL{
      ?subject fr:Photo_has_provider_Institution ?provider.
    }
    OPTIONAL{
      [[#if advancedSearch ]]
      # see PhotoView template
       ?subject crm:P129i_is_subject_of ?fullsizeImgUrl.
      [[/if]]
      ?fullsizeImgUrl crm:P2_has_type <http://vocab.getty.edu/aat/300078817>.
      BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/!100,100") as ?smallerImgUrl)
    }
    BIND("/assets/images/media/image_placeholder.jpg" as ?default_imageUrl)
    BIND(coalesce(?smallerImgUrl, ?default_imageUrl) as ?image)
  }GROUP BY(?subject) ORDER BY DESC (?score) LIMIT 1000'
  options='{"showFilter":true, "resultsPerPage":10}'
  number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}10{{/if}}"
  column-configuration='[
  {
    "displayName": "Image", 
    "cellTemplate": "{{>tableImageTemplate}}"
  },
  {"variableName": "subject", "displayName": "Title"},
  {"variableName": "photographer", "displayName": "Photographer"},
  {"variableName": "provider", "displayName": "Photo archive"}
  ]'
>
<template id="tableImageTemplate">
  <div class="thumbnailImageContainerTabular">
    <scroll-to-top querySelector=".pagination li"></scroll-to-top>
    <img alt="   " class="thumbnailImageTabular" src="{{image.value}}" />
  </div>
</template>
</semantic-table>