<img
  style="
    width: 100%;
    height: 100%;
    object-fit: contain;
  "
  src="{{bindings.0.rectoVersoImage.value}}"
/>
                  [[#if (ask "ASK{ ?? a cfc:photo.}")]]
                  [[else]]
                  {{#ifCond image '===' undefiend}}
                   <div class="metadataButton">
                    <semantic-link iri="{{bindings.0.photo.value}}" target="_black" class="metadataText" >View photo metadata</semantic-link>
                  </div>
                   {{else}}
                  <div class="metadataButton ">
                    <semantic-link iri="{{bindings.0.photo.value}}" target="_black" class="metadataText" >View photo metadata</semantic-link>
                  </div>
                  {{/ifCond}}
                  [[/if]]