<semantic-query
  query='
  SELECT DISTINCT ?count WHERE {
    {
        SELECT ?graph ?date WHERE {
          ?graph <https://pharos.artresearch.net/custom/has_date> ?date.
          BIND(strbefore(STR(?date),"-") as ?day)
          BIND(strafter(STR(?date),"-") as ?tmp)
          BIND(strbefore(?tmp,"-") as ?month)
          BIND(strafter(STR(?tmp),"-") as ?year)
        } order by DESC(?year) DESC(?month) DESC(?day) LIMIT 1
    }
    ?graph <https://pharos.artresearch.net/custom/consists_of> ?n
    GRAPH ?n {
      ?provider <[[property]]> ?count
    }
    FILTER(STRSTARTS(STR(?provider), "https://pharos.artresearch.net/resource/total"))
  }'
></semantic-query>
