<div id="search-bar">
            <form-with-event id="search-input-form">
              <div class="form-group form-group-lg">
                <span class="input-group">
                <input
                  required
                  minlength="4"
                  spellcheck="true"
                  class="form-control"
                  placeholder="Search the collections"
                  type="search"
                  title="Type at least 4 characters, only alphanumeric e.g. (Mona Lisa 1503)"
                  name="keyword"
                  aria-label="Search through site content"
                  style="margin: 0;"
                />
                  <span class="input-group-btn">
                    
              <button
                type="submit"
                style="color: white; height: 46px; background: #701919; border: 0; width: 85px; display: flex; align-items: center; justify-content: center;"
                class="btn searchBtn"
              >
                <i class="fa fa-search" style="color: white;"></i>
              </button>

                    
                  </span>
                </span>
              </div>
            </form-with-event>
  
  <mp-event-proxy id='search-button-clicked' on-event-source='search-input-form' on-event-type='FormWithEvent.Submit'
                  proxy-event-type='Component.TemplateUpdate' proxy-targets='["event-target"]'>
  </mp-event-proxy>

  <mp-event-target-template-render id='event-target' template='{{> template}}'>
    <template id='template'>
      {{log this}}
      {{#if keyword}}      
        <mp-event-trigger id='redirect-to-search-page-trigger' 
                          type='RedirectAction.perform' 
                          on='["mounted"]' 
                          targets='["redirect-to-search-page"]'
                          data='{"iri": "https://artresearch.net/resource/AllArtworks", "queryParams": {"keyword": "{{keyword}}"} }'></mp-event-trigger>
      {{/if}}
    </template>
  </mp-event-target-template-render>
  
  <mp-event-target-redirect
          id='redirect-to-search-page'
          action='redirect'
  ></mp-event-target-redirect>
</div>