<div id="artwork-filter-search-inline">
  <semantic-search>
    <div id="header-search" class="search-page">
      <semantic-search-query-keyword
        domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
        placeholder="Search for any field, a title, repository or any other identifier.."
        escape-lucene-syntax="false"
        default-query="
                SELECT DISTINCT ?subject WHERE {
                  <[[photographerIri]]> pharosfr:Photographer_created_Photo ?subject.
                  ?subject <>
                }LIMIT 100"
        query='        SELECT DISTINCT ?subject WHERE {          
                          <[[photographerIri]]> pharosfr:Photographer_created_Photo ?subject.
                        } 
                      '
      ></semantic-search-query-keyword>
    </div>
    <div class="row">
      <bs-col lg="12" md="12" sm="12">
        <semantic-search-result-holder>
          <bs-tabs unmount-on-exit="true" id="search-results" animation="false">
            <bs-tab event-key="2" title="Grid">
              <semantic-search-result>
                <div id="card-results">
                  <div>
                    <semantic-table
                      id="grid-result-2"
                      options='{
                          "showFilter":false
                        }'
                      number-of-displayed-rows="4"
                      query="
                      SELECT DISTINCT ?subject
                       WHERE {
                       }LIMIT 100
                    "
                      tuple-template="{{>tupleTemplate}}"
                      no-result-template='[[> :CardNoResult ]]'
                    >
                      <template id="tupleTemplate">
                        [[> :CardArtwork]]
                      </template>
                    </semantic-table>
                  </div>
                </div>
              </semantic-search-result>
            </bs-tab>
          </bs-tabs>
        </semantic-search-result-holder>
      </bs-col>
    </div>
  </semantic-search>
</div>
<style>
  #header-search {
    display: none !important;
  }
  .cardInfo {
    top: unset !important;
  }
</style>
