<div data-flex-layout="row md-column center-stretch">
 
  <bs-row class="cardInfoFields ">
<!-- Show information on subject & owl:sameAs     //TODO change to query-->
    <semantic-query
    query='
    SELECT (GROUP_CONCAT(STR(?originalSubject);SEPARATOR=" , ") AS ?additionalSubjects) WHERE{
      ?originalSubjects owl:sameAs <{{subject.value}}>.
      BIND(CONCAT("\"",str(?originalSubjects),"\"") as ?originalSubject)
      }
      '
    template="{{> combinedFields}}">
      <template id="combinedFields">
        <div class="templateWrapper">
        <mp-field-visualization
    
        subject='{{subject.value}}'
      
          fields='[[fieldDefinitions  
        Title="https://pharos.artresearch.net/fieldDefinition/2"
        Creator="https://pharos.artresearch.net/fieldDefinition/1"  
        ProductionDate="https://pharos.artresearch.net/fieldDefinition/8"
      ]]'
        template="{{>generalInfo}}"
      >
        <template id="generalInfo">
          [[> :ResourceFieldBasedVisualization
          subject=[[this]] ]]
        </template>
      </mp-field-visualization>
      <div>
        <mp-field-visualization
        additional-subjects='[
        {{bindings.0.additionalSubjects.value}}
        ]'
        subject='{{subject.value}}'
          fields='[[fieldDefinitions  
          Type="http://www.cidoc-crm.org/cidoc-crm/P2_has_type" 
      ]]'
        template="{{>typeInfo}}"
      >
        <template id="typeInfo">
          <div class="typeInfoValues">
          {{#each fields as |field|}}
            {{#each field.values as |value|}}
            <span class="badge badge-pill">
              <semantic-link class="typeLink" iri="{{value.value.value}}"></semantic-link>
            </span>
            {{/each}}
          {{/each}}
        </div>
        </template>
      </mp-field-visualization>
      </div>
      </div>
      </template>
    </semantic-query>
    <div class="templateWrapper animated-background"></div>
  </bs-row>
</div>