<!-- Displays a list of similar artworks -->
<div>
  <semantic-query
    query='SELECT distinct ?subject WHERE { 
      # Artwork
      ?? <https://pharos.artresearch.net/resource/fr/Work_depicted_by_Photo> ?photo.
      ?photo crm:P129i_is_subject_of ?image.
      OPTIONAL{
        ?image crm:P2_has_type ?imageType.
        FILTER NOT EXISTS { ?imageType rdfs:label "verso". }
      }
      SERVICE <https://vision.artresearch.net/sparql> {
        ?image <http://purl.org/ontology/similarity/element> ?element.
        ?imageB <http://purl.org/ontology/similarity/element> ?element.
        ?subject <https://pharos.artresearch.net/custom/has_image> ?imageB.
      }
      FILTER(STR(?subject)!=STR(??))
    }'
    template="{{>similarArtworkTemplate}}"
  >
  <template id="similarArtworkTemplate">
    {{#each bindings}}
    <!-- Artwork Card really needs a ?subject -->
    [[> rsp:artworkCard]] {{/each}}
  </template>
  </semantic-query>
</div>