<div class="page__header-thumbnail">
    <semantic-table
      query='SELECT (<[[urlParam "subject"]]> as ?iri) {}'
      tuple-template="{{>RecordThumbnail imageWidth=100 imageHeight=100}}"
      options='{"showFilter": false}'
    >
    <template id="RecordThumbnail">
      <semantic-context repository="default">
        <mp-resource-thumbnail
          iri="{{iri.value}}"
          style="max-height: {{#if imageHeight}}{{imageHeight}}{{else}}120{{/if}}px; min-width:50px; max-width: {{#if imageWidth}}{{imageWidth}}{{else}}120{{/if}}px;"
          class="img-rounded"
        >
          <mp-resource-thumbnail-fallback>
            <semantic-context repository="assets">
              <mp-resource-thumbnail
                repo="assets"
                iri="{{iri.value}}"
                style="max-height: {{#if imageHeight}}{{imageHeight}}{{else}}120{{/if}}px; max-width: {{#if imageWidth}}{{imageWidth}}{{else}}120{{/if}}px; border: 2px dotted #e6a375"
                class="img-rounded"
              >
                <mp-resource-thumbnail-fallback>
                  <div class="no-image-available" style="display: flex; flex-direction: column">
                    <img
                      style="width: 100%"
                      src="{{#if noImageThumbnail}} {{noImageThumbnail}} {{else}} https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg {{/if}}"
                    />
                  </div>
                </mp-resource-thumbnail-fallback>
              </mp-resource-thumbnail>
            </semantic-context>
          </mp-resource-thumbnail-fallback>
        </mp-resource-thumbnail>
      </semantic-context>
    </template>
    </semantic-table>
</div>
<div class="page__header-body" data-flex-layout="row columns-left">
  <h4 data-flex-layout="flex-column align-items-center flex-wrap">
      <mp-label
        iri='[[urlParam "subject"]]'
        class="page__header-gripper-label"
      ></mp-label>
      <!-- <small style="margin-left: 10px">
        [[> InfoTypeRepository work=(urlParam "subject") ]]
      </small> -->
  </h4>

  <h2>
      <i class="fa fa-list" aria-hidden="true"></i>
      <span style="margin: 0 5px">Field:</span>
        <semantic-context repository="assets">
            <mp-label
              iri='[[urlParam "field"]]'
              class="page__header-field-title"
            ></mp-label>
        </semantic-context>
  </h2>
</div>
