<div id="institution-filter-search">
<semantic-search
  relations='{
    "<https://pharos.artresearch.net/resource/fr/Institution_from_Place>":[
    {
      "kind": "resource",
      "queryPattern": "
          $subject <https://pharos.artresearch.net/resource/fr/Institution_from_Place> ?__value__."
    }],
    "<https://pharos.artresearch.net/custom/has_provider>":[
    {
      "kind": "resource",
      "queryPattern": "
          $subject <https://pharos.artresearch.net/custom/has_provider> ?__value__."
    }]
      }'
  search-profile='{
        "categories":  
        [
          {
            "iri":"<https://pharos.artresearch.net/resource/fc/institution>",
            "label":"Repository"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fc/place>",
            "label":"Location"
          },
          {
            "iri":"<https://pharos.artresearch.net/custom/Provider>",
            "label":"Provider"
          }
        ],
        "relations":
        [
          {
            "iri": "<https://pharos.artresearch.net/resource/fr/Institution_from_Place>",
            "label":"Place",
            "hasDomain":"<https://pharos.artresearch.net/resource/fc/institution>",
            "hasRange":"<https://pharos.artresearch.net/resource/fc/place>"
          },
          {
            "iri": "<https://pharos.artresearch.net/custom/has_provider>",
            "label":"Provider",
            "hasDomain":"<https://pharos.artresearch.net/resource/fc/institution>",
            "hasRange":"<https://pharos.artresearch.net/custom/Provider>"
          }
        ]
      }'
>
  <div id="header-search" class="search-page">
            <semantic-search-query-keyword
              placeholder="Search for a repository e.g. Royal Library"
              escape-lucene-syntax="false"
              domain="<https://pharos.artresearch.net/resource/fc/institution>"
              default-query="
              SELECT DISTINCT ?subject  
              WHERE {
                ?subject a <https://pharos.artresearch.net/resource/fc/institution>.        
              }LIMIT 100"
              query='
                      SELECT DISTINCT ?subject WHERE {
                      ?subject a <https://pharos.artresearch.net/resource/fc/institution>.   
                      ?subject rdfs:label ?someLabel.
                      ?someLabel bds:search ?__token__ .
                      ?someLabel bds:minRelevance "0.3"^^xsd:double;
                      bds:matchAllTerms "true"  .
                      } 
                    '
            ></semantic-search-query-keyword>

  </div>

  <div class="row">
    <bs-col
      lg="3"
      md="4"
      sm="5"
      class="fade-in-fwd filters-container"
      style="margin-top: 8px"
    >
      <div class="filter-title">Filters</div>
      <semantic-search-facet open-by-default="true"></semantic-search-facet>
    </bs-col>
    <bs-col lg="9" md="8" sm="7">
      <semantic-search-result-holder>
        <bs-tabs unmount-on-exit="true" id="search-results" animation="false">
          <bs-tab event-key="2" title="Grid">
            <semantic-search-result>
              <div id="card-results">
                <bs-tab-container
                  id="tab-container"
                  class="page__body-navtabs--borderless"
                  default-active-key="defaultView"
                >
                  <div>
                    <bs-nav bs-style="tabs">
                      <bs-nav-item event-key="defaultView">
                        Default view
                      </bs-nav-item>
                      <bs-nav-item event-key="mapView">
                        Map view
                      </bs-nav-item>
                    </bs-nav>

                    <bs-tab-content unmount-on-exit="true">
                      <bs-tab-pane event-key="defaultView">
                        <semantic-table
                        id="grid-result"
                        options='{
                              "showFilter":false
                            }'
                        number-of-displayed-rows="12"
                        query='
                          SELECT DISTINCT ?subject WHERE { ?subject a <https://pharos.artresearch.net/resource/fc/institution>. } LIMIT 100
                        '
                        tuple-template="{{>tupleTemplate}}"
                      >
                        <template id="tupleTemplate">
                          [[> :institutionCard]]
                        </template>
                      </semantic-table>
                      </bs-tab-pane>
                      <bs-tab-pane event-key="mapView">
                        <div class="mapContainer">
                          <semantic-map id="repository-map" query='SELECT ?subject ?label ?lat ?lng WHERE {
                            ?og owl:sameAs ?subject.
                            ?og <https://pharos.artresearch.net/resource/fr/Institution_has_Latitude> ?lat.
                            ?og <https://pharos.artresearch.net/resource/fr/Institution_has_Longitude> ?lng.
                            ?og rdfs:label ?label.
                          } LIMIT 1000'
                          tuple-template='<p></p><a style="text-decoration: none;"  href="https://artresearch.net/resource/?uri={{subject.value}}" target="_blank"><b style="color: #6b0000;">{{label.value}}</b><p></p><p></p></a><hr>'
                          >
                          </semantic-map> 
                        </div>
                      </bs-tab-pane>
                    </bs-tab-content>
                  </div>
                </bs-tab-container>
              </div>
            </semantic-search-result>
          </bs-tab>
        </bs-tabs>
      </semantic-search-result-holder>
    </bs-col>
  </div>
</semantic-search>
</div>