<div
  id="artwork-header"
  style="  
    position:relative;
    top:0;
    z-index:100;
    width: -webkit-fit-content;
    width: fit-content;"
  class="page__header-body sticky-artwork-header"
  data-flex-layout="row top-left"
>
  [[> StickyHeaderAttributions]]
  <div class="page__header-draggable-title">
    <mp-draggable iri="[[this]]">
      <h2 data-flex-layout="row center-left">
        <span class="page__header-gripper"></span>
        <mp-label iri="[[this]]" class="page__header-gripper-label"></mp-label>
      </h2>
    </mp-draggable>
    <semantic-query
      query='SELECT ?title WHERE{
          ?? rdfs:label ?label. 
          BIND(REPLACE(str(?label),"[-!$%^&*()_+|~=`{}\\[\\]:\";<>?,.\\/\\\\]"," ") as ?title). }'
      template="{{>copyTemplate}}"
      no-template-result="<div> </div>"
    >
      <template id="copyTemplate">
        <div>
          <mp-copy-to-clipboard
            text="{{bindings.0.title.value}}"
            message="Copied title"
          >
            <li class="titleCopy fa fa-copy"></li>
          </mp-copy-to-clipboard>
        </div>
      </template>
    </semantic-query>
  </div>
  <div class="animated-background-sm"></div>

    <semantic-query
      query="SELECT ?artwork WHERE{
          ?? fr:Photo_depicts_Work ?artwork.
          ?artwork a fc:work }"
      template="{{> relArtwork}}"
      no-result-template="<div></div>"
    >
      <template id="relArtwork">
        <div>
          <h2 style="margin-left: 5px; margin-top: 10px" class="fc-label">
            Depicts work: 
            {{#each bindings}}
              <semantic-link
                class="artwork-link"
                iri="{{artwork.value}}"
              ></semantic-link>
            {{/each}}
          </h2>
        </div>
      </template>
    </semantic-query>
  [[> InfoTypeRepository work=(urlParam "uri") ]]
</div>

