  <div class="artwork-card artwork-image-card karla-regular">
    {{#if data}}
        <semantic-link-container uri="{{data.[@id]}}" target="_blank">
            <div class="thumbnail-container cursor">
              <div class="image-wrapper">
                {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail]}}
                  <img class="thumbnail-image" src="https://artresearch.net{{data.[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                {{else}}
                  <span class="no-image-text">No image</span>
                {{/if}}
              </div>
            </div>
           <div class="field">
              <div class="field-value">
                <div class="provider-icons">
                  {{#each data.[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values}}
                    <semantic-link-container uri='{{[@id]}}' target='_blank'>
                      <img class="provider-icon" title="{{label}}" src="{{[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                    </semantic-link-container>
                  {{/each}}
                </div>
              </div>
            </div>
      </semantic-link-container>

    {{/if}}
  </div>
