
<div id="underDevAlert" class="alert alert-info" role="alert">
  <i
    >This instance is <b>under development</b> and will publicly launch in
    January 2022 & is under data refresh</i
  >
</div>

<div id="new-start-page">
  <div id="Cookiemessageid" class=" Cookiemessage alert alert-info" >
  [[> CookieMessage]]
</div>
<div style="background: linear-gradient(25deg, #e3e3e3, white) !important;">
  <section style="background-image: linear-gradient(rgba(105, 105, 105, 0.56), rgba(25, 25, 25, 0.73) 92.86%), url('/assets/images/home-hero-bg.png');
  background-size: cover;
    color: #fff;
    margin-bottom: -5rem;
    padding-bottom: 3rem;">
    <div class="search-actions" >
         <div class="text-with-image banner"> 
        <div>
         <div style="font-size: 26px;">explore, connect and contextualize art histories</div>
        </div>
      </div>
         <div
        data-intro="This is the search-bar. Use this to make simple queries by keywords"
        data-position="top"
      >
        [[> Searchbar selectedCategory="Artworks"]]
        <div class="linksTo">
          <div>
            <mp-link title="Documentation for New Users" url="/resource/SearchContextual">Contextual Search</mp-link>
          </div>
          <div>
           <mp-link title="Browse by Topic" url="/resource/SearchAdvanced">AdvancedSearch</mp-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
   <div class="benner-text">
     <div>
      <img src="/assets/images/logos/logotransparent2.png" style="
      margin-bottom: 15px;
      max-width: 70vw;
      object-fit: contain;
      height: 150px;
      padding: 10px;">
        <!-- <img src="/assets/images/monalisasmile.png" style="
            object-fit: contain;
            height: 20vh;"> -->
     
     </div>
     <div class="introText">
    <p style="font-size:16px">Discover artworks through the lens of historical photo archives.</p>
     <p style="font-size:12px">The collections of Pharos, the International Consortium of Photo Archives, document works of art and architecture and the history of photography itself, and contain nearly a century of scholarly documentation. Artresearch.net provides the tools to access, research, and contextualize these resources for the 21st century.</p>
    </div>
      
   </div>
  <section title="Browse the collections">
    <div class="section-title">Browse the collections</div>
    <div class="section-body">
      <div class="tall-card-list">
        <div class="tall-card">
          <mp-link url="/resource/DisplayPharosArtists">
            <div class="tall-card-body">
              <div class="tall-card-button">Discover</div>
              <div class="tall-card-title">Artists</div>
              <div class="tall-card-subtitle">28,000 records</div>
            </div>
          </mp-link>
        </div>
        <div class="tall-card">
          <mp-link url="/resource/DisplayPharosPhotographers">
            <div class="tall-card-body">
              <div class="tall-card-button">Discover</div>
              <div class="tall-card-title">Photographers</div>
              <div class="tall-card-subtitle">129,000 records</div>
            </div>
          </mp-link>
        </div>
        <div class="tall-card">
          <mp-link url="/resource/DisplayPharosInstitutions">
            <div class="tall-card-body">
              <div class="tall-card-button">Discover</div>
              <div class="tall-card-title">Repositories</div>
              <div class="tall-card-subtitle">Museums, Collections etc.</div>
            </div>
          </mp-link>
        </div>
        <div class="tall-card">
          <mp-link url="/resource/Partners">
            <div class="tall-card-body">
              <div class="tall-card-button">Discover</div>
              <div class="tall-card-title">Partners</div>
              <div class="tall-card-subtitle">Photo archive collections</div>
            </div>
          </mp-link>
        </div>
      </div>
    </div>
  </section>
    <section class="cool-background" title="Collection Spotlights">
    <div class="section-title">Collection Spotlights</div>

    <div class="section-body">
      <div class="grid-card-list">
        <div
          class="grid-card"
          style=" background: url(/assets/images/media/alinari.jpg) center no-repeat; "
        >
          <mp-link url="/resource/DisplayCollectionAlinari">  
            <div class="grid-card-body">
                <div class="grid-card-title">Fratelli Alinari</div>
                <div class="grid-card-subtitle">Browse one of the world's oldest photographic firms </div>
              </div>
        </div>
        <div
          style="
            background: url(/assets/images/media/oil_on_wood_dali.jpg) center
              no-repeat;
          "
          class="grid-card"
        >
      <mp-link url="/resource/DisplayCollectionOilOnWood">  
        <div class="grid-card-body">
            <div class="grid-card-title">Oil on wood</div>
            <div class="grid-card-subtitle">Explore using medium</div>
          </div>
        </mp-link>
        </div>
        <div
          style=" background: url(/assets/images/media/builtworks_middleast.jpg) center no-repeat; "
          class="grid-card"
        >
          <mp-link url="/resource/DisplayCollectionBuiltworksMiddleEast">  
            <div class="grid-card-body">
              <div class="grid-card-title">Built Works</div>
              <div class="grid-card-subtitle">In the Middle-East</div>
            </div>
          </mp-link>
        </div>
        <div
          style=" background: url(/assets/images/media/kahlo.jpg) center no-repeat; "
          class="grid-card"
        >
            <mp-link url="/resource/DisplayCollectionWomenArtists">  
              <div class="grid-card-body">
                <div class="grid-card-title">Women Artists</div>
                <div class="grid-card-subtitle">Across centuries</div>
              </div>
            </mp-link>
        </div>
        <div
          style=" background: url(/assets/images/media/madonna.jpg) center no-repeat; "
          class="grid-card"
        >
          <mp-link url="/resource/DisplayCollectionMadonnaAndChild">  
            <div class="grid-card-body">
                <div class="grid-card-title">Madonna and Child</div>
                <div class="grid-card-subtitle">
                  Artworks from 12th - 15th century
                </div>
            </div>
          </mp-link>
        </div>
        <div
          style=" background: url(/assets/images/media/italian_ren.jpg) center no-repeat; "
          class="grid-card"
        >
          <mp-link url="/resource/DisplayCollectionItalian">  
              <div class="grid-card-body">
                <div class="grid-card-title">Italian Renaissance</div>
                <div class="grid-card-subtitle">Discover masterpieces</div>
              </div>
          </mp-link>
        </div>
        <div
          style=" background: url(/assets/images/media/datedphotographs.jpg) center no-repeat;"
          class="grid-card"
        >
            <mp-link url="/resource/DisplayCollectionPhotoDatedBetween">  
              <div class="grid-card-body">
                  <div class="grid-card-title">1839-1900 AD</div>
                  <div class="grid-card-subtitle">19th century photographs</div>
              </div>
            </mp-link>
        </div>
      </div>
    </div>
  </section>
    <section title="How can I use Artresearch.net?">
    <div class="section-title">How can I use <span style="color: rgb(220, 54, 54);">art</span>research.net ?</div>
    <div class="section-body">
      <div class="tall-card-list" style=" height: 100%; text-align: center;">
        <div class="doc-tall-card">
          <mp-link url="/resource/Documentation">
            <div class="doc-tall-card-body">
              <img  class="imagesDoc" src="/assets/images/icons/search.svg"/>
              <div class="doc-tall-card-title">Search in platform</div>
              <div class="doc-tall-card-subtitle">They are many ways to search your favorite artwork through artresearch.</div>
            </div>
          </mp-link>
        </div>
        <div class="doc-tall-card">
          <mp-link url="/resource/DocumentationCards">
            <div class="doc-tall-card-body">
              <img class="imagesDoc" src="/assets/images/icons/viewer.svg"/>
              <div class="doc-tall-card-title">IIIF Viewer</div>
              <div class="doc-tall-card-subtitle">Compare and View images with deep zoom</div>
            </div>
          </mp-link>
        </div>
        <div class="doc-tall-card">
          <mp-link url="/resource/DocumentationCards">
            <div class="doc-tall-card-body">
              <img  class="imagesDoc"  src="/assets/images/icons/vision.svg"/>
              <div class="doc-tall-card-title">Vision Instance</div>
              <div class="doc-tall-card-subtitle">Find Similar artworks</div>
            </div>
          </mp-link>
        </div>
        <div class="doc-tall-card">
          <mp-link url="/resource/DocumentationCards">
            <div class="doc-tall-card-body">
              <img  class="imagesDoc" src="/assets/images/icons/history-book.svg"/>
              <div class="doc-tall-card-title">Collection Curator?</div>
              <div class="doc-tall-card-subtitle">Get familiar with the platform's functionality for curators</div>
            </div>
          </mp-link>
        </div>
      </div>
    </div>
    <div class="DocTextWrapper">
      <div class="DocTextIntro">
        <h2 style="text-align: center;">If you’re new to <span style="color: rgb(220, 54, 54);">art</span>research.net, these research guides will give you a head start using our site. 
        The guides reflect a few key activities that attract visitors to <span style="color: rgb(220, 54, 54);">art</span>research.net, but you can explore many other interests here too.</h2>
      </div>
      <mp-link url="/resource/DocumentationCards">
      <div class="view-guides">
        <h2>View all guides</h2>
      </div></mp-link>
    </div>
  </section>
    <section class="cool-background" title="Explore visually similar images">
    <div class="section-title">Explore visually similar images</div>
    <div class="section-subtitle">Use machine learning and computer vision to explore similarities between artworks, images, and data</a></div>
    <div class="section-body">
        <div id="featured-selections">
            <a target="vision_new_tab" href="https://vision.artresearch.net/resource/?providera=https%3A%2F%2Fartresearch.net%2Fresource%2Fzeri%2Fsource%2FZeri&providerb=https%3A%2F%2Fartresearch.net%2Fresource%2Fitatti%2Fsource%2FITatti&uri=https%3A%2F%2Fvision.artresearch.net%2Fresource%2FSimilarity%2F35545767782677875982682646">
              <div id="zeri-itatti" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div class="front-back-img-holder"  >
                      <img
                        src="https://iiif.artresearch.net/iiif/2/zeri!71200%2170925_g.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Nascita di Maria Vergine</div>
                      <small>Zeri</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        src="https://ids.lib.harvard.edu/ids/iiif/42662040/full/!500,500/0/native.jpg"
                      />
                      <div class="title">Birth of the Virgin</div>
                      <small>I Tatti</small>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a target="vision_new_tab" href="https://vision.artresearch.net/resource/?providera=https%3A%2F%2Fartresearch.net%2Fresource%2Fhertziana%2Fsource%2FHertziana&providerb=https%3A%2F%2Fartresearch.net%2Fresource%2Fitatti%2Fsource%2FITatti&uri=https%3A%2F%2Fvision.artresearch.net%2Fresource%2FSimilarity%2F85751267611980884191006045138">
              <div id="hertziana-itatti" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div class="front-back-img-holder" >
                      <img
                        src="http://fotothek.biblhertz.it/bh/320px/bh002968.jpg"
                      />
                      <div class="title">Profilbildnis einer jungen Frau</div>
                      <small>Hertziana</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        src="https://iiif.itatti.harvard.edu/iiif/2/fotoindex!028_recto_d!028_recto_box01_d!028_recto_box01_d_00022.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">W00012940</div>
                      <small>I Tatti</small>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a target="vision_new_tab" href="https://vision.artresearch.net/resource/?providera=https%3A%2F%2Fartresearch.net%2Fresource%2Fhertziana%2Fsource%2FHertziana&providerb=https%3A%2F%2Fartresearch.net%2Fresource%2Fkhi%2Fsource%2FKHI&uri=https%3A%2F%2Fvision.artresearch.net%2Fresource%2FSimilarity%2F6895545511920936845294872">
              <div id="khi-hertziana" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div class="front-back-img-holder" >
                      <img
                        src="https://iiif.khi.fi.it/iiif/2/thumbnails%2Ffld0006864x_p.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">	Maria mit dem Christuskind</div>
                      <small>KHI</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        src="http://fotothek.biblhertz.it/bh/320px/bh355316.jpg"
                      />
                      <div class="title">Madonna Colonna</div>
                      <small>Marburg</small>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a target="vision_new_tab" href="https://vision.artresearch.net/resource/?providera=https%3A%2F%2Fartresearch.net%2Fresource%2Fzeri%2Fsource%2FZeri&providerb=https%3A%2F%2Fartresearch.net%2Fresource%2Fitatti%2Fsource%2FITatti&uri=https%3A%2F%2Fvision.artresearch.net%2Fresource%2FSimilarity%2F93512608524766364099228484545">
              <div id="itatti-zeri" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div class="front-back-img-holder" >
                      <img
                        src="https://ids.lib.harvard.edu/ids/iiif/474707461/full/!500,500/0/native.jpg"
                      />
                      <div class="title">Portrait of a youth</div>
                      <small>I Tatti</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        src="https://iiif.artresearch.net/iiif/2/zeri!74000%2173954_g.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Ritratto maschile</div>
                      <small>Zeri</small>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a target="vision_new_tab" href="https://vision.artresearch.net/resource/?providera=https%3A%2F%2Fartresearch.net%2Fresource%2Fmarburg%2Fsource%2FMarburg&providerb=https%3A%2F%2Fartresearch.net%2Fresource%2Fitatti%2Fsource%2FITatti&uri=https%3A%2F%2Fvision.artresearch.net%2Fresource%2FSimilarity%2F8629648561661113822347745901">
              <div id="marburg-itatti" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div  class="front-back-img-holder" >
                      <img
                        src="https://iiif.artresearch.net/iiif/2/marburg!mi07407f01.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">	Bildnis einer Dame</div>
                      <small>Marburg</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        src="https://iiif.itatti.harvard.edu/iiif/2/fotoindex!105_recto_d!105_recto_box04_d!105_recto_box04_d_00119.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">W00026410</div>
                      <small>I Tatti</small>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a target="vision_new_tab" href="https://vision.artresearch.net/resource/?providera=https%3A%2F%2Fartresearch.net%2Fresource%2Fzeri%2Fsource%2FZeri&providerb=https%3A%2F%2Fartresearch.net%2Fresource%2Fitatti%2Fsource%2FITatti&uri=https%3A%2F%2Fvision.artresearch.net%2Fresource%2FSimilarity%2F41017735062430712915292637959">
              <div id="itatti-zeri-2" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div  class="front-back-img-holder" >
                      <img
                        src="https://ids.lib.harvard.edu/ids/iiif/25091201/full/!500,500/0/native.jpg"
                      />
                      <div class="title">Portrait of a gentleman</div>
                      <small>I Tatti</small>
                    </div>
                  </div>
                  <div class="back">
                    <div  class="front-back-img-holder" >
                      <img
                        src="https://iiif.artresearch.net/iiif/2/zeri!85200%2184998_g.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Ritratto di gentiluomo</div>
                      <small>Zeri</small>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a target="vision_new_tab" href="https://vision.artresearch.net/resource/?providera=https%3A%2F%2Fartresearch.net%2Fresource%2Fmarburg%2Fsource%2FMarburg&providerb=https%3A%2F%2Fartresearch.net%2Fresource%2Fzeri%2Fsource%2FZeri&uri=https%3A%2F%2Fvision.artresearch.net%2Fresource%2FSimilarity%2F6461928343777462435063">
              <div id="marburg-zeri" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div  class="front-back-img-holder" >
                      <img
                        src="https://iiif.artresearch.net/iiif/2/marburg!mi02293b08.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Paris</div>
                      <small>Marburg</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        src="https://iiif.artresearch.net/iiif/2/zeri!150800%21150760_g.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Paride</div>
                      <small>Zeri</small>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a target="vision_new_tab" href="https://vision.artresearch.net/resource/?providera=https%3A%2F%2Fartresearch.net%2Fresource%2Fhertziana%2Fsource%2FHertziana&providerb=https%3A%2F%2Fartresearch.net%2Fresource%2Fmarburg%2Fsource%2FMarburg&uri=https%3A%2F%2Fvision.artresearch.net%2Fresource%2FSimilarity%2F811720158214822544272120">
              <div id="hertziana-itatti-2" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div class="front-back-img-holder" >
                      <img
                        src="http://fotothek.biblhertz.it/bh/320px/bhfc152e24.jpg"
                      />
                      <div class="title">Porträt des Kardinals Radzielowski</div>
                      <small>Hertziana</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        src="https://iiif.artresearch.net/iiif/2/marburg!mi10015g09.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Bildnis des Kardinal-Erzbischo..</div>
                      <small>Marburg</small>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a target="vision_new_tab" href="https://vision.artresearch.net/resource/?providera=https%3A%2F%2Fartresearch.net%2Fresource%2Fmarburg%2Fsource%2FMarburg&providerb=https%3A%2F%2Fartresearch.net%2Fresource%2Fzeri%2Fsource%2FZeri&uri=https%3A%2F%2Fvision.artresearch.net%2Fresource%2FSimilarity%2F38912142686404744152404428041">
              <div id="zeri-mar" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div  class="front-back-img-holder" >
                      <img
                        src="https://iiif.artresearch.net/iiif/2/zeri!127200%21127189_g.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Scena pastorale</div>
                      <small>Zeri</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        src="https://iiif.artresearch.net/iiif/2/marburg!fmc660037.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Ländlicher Spaziergang / Strandidylle</div>
                      <small>Marburg</small>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a target="vision_new_tab" href="https://vision.artresearch.net/resource/?providera=https%3A%2F%2Fartresearch.net%2Fresource%2Fzeri%2Fsource%2FZeri&providerb=https%3A%2F%2Fartresearch.net%2Fresource%2Fkhi%2Fsource%2FKHI&uri=https%3A%2F%2Fvision.artresearch.net%2Fresource%2FSimilarity%2F64897944392668563009028">
              <div id="khi-marburg" class="flip-card-feature">
                <div class="content">
                  <div class="front">
                    <div class="front-back-img-holder" >
                      <img
                        src="https://iiif.khi.fi.it/iiif/2/thumbnails%2Fflc0584693z_p.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">Tod des heiligen Franziskus</div>
                      <small>KHI</small>
                    </div>
                  </div>
                  <div class="back">
                    <div class="front-back-img-holder" >
                      <img
                        src="https://iiif.artresearch.net/iiif/2/zeri!12400%2112030_g.jpg/full/!500,500/0/default.jpg"
                      />
                      <div class="title">	Morte e verifica delle sti..</div>
                      <small>Zeri</small>
                    </div>
                  </div>
                </div>
              </div>
            </a>
        </div>
    </div>
  </section>
    <section class="cool-background">
    <div class="section-title">Compare images with deep zoom</div>
    <div class="section-subtitle">Using a <img src="/assets/images/logos/iiif.png"> viewer you can view, analyze, compare & annotate images </div>
    <div class="section-body">
      <div class="mirador-container">
        <div class="mirador">
        <rs-iiif-mirador
                        id="candidateAmirador"
                        image-or-region="https://artresearch.net/resource/zeri/work/31583" 
                        image-api-manifest-pattern='
                                          BIND(<https://iiif.artresearch.net/iiif/2/zeri!78800!78415_g.jpg/info.json> AS ?manifestUrl)'
                        >
        </rs-iiif-mirador>
        </div>
        <div class="mirador">
        <rs-iiif-mirador
                        id="candidateBmirador"
                        image-or-region="https://artresearch.net/resource/itatti/work/W00018357" 
                        image-api-manifest-pattern='
                        BIND(<https://iiif.itatti.harvard.edu/iiif/2/fotoindex!034_recto_d!034_recto_box05_d!034_recto_box05_d_00016.jpg/info.json> AS ?manifestUrl)'
        >
        </rs-iiif-mirador>
        </div>
      </div>
    </div>
  </section> 
  <section  title="Contextualized & connected histories">
    <div class="section-title" id ="Contextualtitle" >Contextualized & connected histories</div>
    <div class="section-body">
      <div class="text-with-image column">
        <div class="info-circle-container">
          <div class="info-circle">
            <div class="info-circle-title">Digitize </div>
            <div class="info-circle-subtitle"> Photograph Collections</div>
          </div>
          <div class="info-circle">
            <div class="info-circle-title">Explore</div>
            <div class="info-circle-subtitle">New technologies</div>
          </div>
          <div class="info-circle">
            <div class="info-circle-title">Enrich</div>
            <div class="info-circle-subtitle">Records with data from multiple sources</div>
          </div>
          <div class="info-circle">
            <div class="info-circle-title">Convert</div>
            <div class="info-circle-subtitle">Metadata to the CIDOC-CRM ontology</div>
          </div>
          <div class="info-circle">
            <div class="info-circle-title">Connect</div>
            <div class="info-circle-subtitle">Using linked open data</div>
          </div>
        </div>
        <div class="text">
          <div>
            We are committed to creating an open and freely accessible digital research platform allowing for comprehensive consolidated access to photo archive images and their associated scholarly documentation. 
          </div>
          <div>
            The PHAROS collections collectively contain an estimated 25 million images documenting works of art and architecture and the history of photography itself. Please visit our statistics page to view the number of records that are currently available online.
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<style>

.benner-text {
      box-shadow: 1px 8px 10px #d4d4d4;
  font-weight: 500;
    font-size: 18px;
    width: 60%;
    margin-top: 4vh;
    text-align: center;
    margin-bottom: 4vh;
}
  .text-with-image.banner {
    font-weight: 500;
    margin-bottom: 4vh;
    margin-top: 7vh;
    font-size: 18px;
    text-align: center;
}

.benner-text{
  margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
#new-start-page{
  top: -2vh;
}
  .page-holder {
    overflow: hidden;
  }
  .unwanted-grid{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2,1fr);
  }

  @media (max-width:800px) {
    .benner-text ,
  .text-with-image.banner {
    width: 100%;
    justify-content: center;
  }
  }
  @media (max-width:720px) {
    .unwanted-grid{
    grid-template-columns: repeat(1,1fr);
  }
  }

  ul {
list-style: none;
}
</style>

