<div style="    position: sticky;
top: 10vh;" id="artwork-header"  class="page__header-body" data-flex-layout="row top-left">
  <div class="page__header-draggable-title">
    <mp-draggable iri="[[this]]">
      <h2 data-flex-layout="row center-left">
        <span class="page__header-gripper"></span>
         <mp-label iri="[[this]]" class='page__header-gripper-label'></mp-label>
      </h2>
    </mp-draggable>
  </div>
  <div data-flex-layout='row center-left' class="page__header-tagline subtitleInfo">
    [[> :InfoTypeRepository work=(urlParam "uri") ]]
    <semantic-query
      query="
            SELECT DISTINCT ?providerRecord ?providerLabel WHERE {
             {
              # Artwork
              ?originalSubject owl:sameAs ??.
              ?originalSubject pharosfr:Work_has_provider_Institution ?provider.
              ?originalSubject <https://pharos.artresearch.net/custom/has_original_record> ?providerRecord.
              ?provider rdfs:label ?providerLabel
            }UNION{
              # Pharos artwork
              ?? pharosfr:Work_has_provider_Institution ?provider.
              ?? <https://pharos.artresearch.net/custom/has_original_record> ?providerRecord.
              ?provider rdfs:label ?providerLabel
            }UNION{
              # Photograph
              ?? pharosfr:Photo_depicts_Work  ?subject.
              ?subject <https://pharos.artresearch.net/custom/has_original_record> ?providerRecord.
              ?subject pharosfr:Work_has_provider_Institution ?provider.
              ?provider rdfs:label ?providerLabel
            }
            }
                           "
      template="{{> originalRecords}}"
    >
      <template id="originalRecords">
        <h2 class="fc-label">
          {{#each bindings}}
          <a style="margin-left: 5px;" href="{{providerRecord.value}}" target="_null">
            <div class="fc-label original-link">
            <img
              title="{{providerLabel.value}}"
              class="sourceIcon"
              src="../../assets/images/{{providerLabel.value}}.ico"
          />
          <div class="text">View original record</div>
        </div> 
        </a>
        
          {{/each}}
        </h2>
      </template>
    </semantic-query>
  </div>
</div>