<mp-event-trigger id="breadcrumbs" type='Component.TemplateUpdate' on='["mounted"]' targets='["top-header-breadcrumbs"]'
  data='{"breadcrumb": "Partners"}'>
</mp-event-trigger>

<div class="page-content scrollable-content with-breadcrumbs">
  <div class="static-centered-content">
    <!-- Title -->
    <section class="page-title-and-intro">
      <h1>
        <span class="thin-text">Partner</span>
        <span class="bold-text">Institutions</span>
      </h1>
      <div class="about-content">
        <p class="bold-text">
          PHAROS is an international association that currently brings together
          thirteen art historical photo archives based in Europe and North
          America.
        </p>
      </div>
    </section>
    <section class="page-section partners-section">
      <section class="col-md-6" id="partners-hertziana">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_hertziana.jpg" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/hertziana">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_Hertziana.png" alt="logo">
          <h3>Bibliotheca Hertziana</h3>
          <p class="partners-detail"><a target="_blank" href="http://www.biblhertz.it/en/photographic-collection/">website</a> | <a href="https://foto.biblhertz.it/" target="_blank">catalogue</a></p>
          <p class="partners-detail"><a href="mailto:fototeca@biblhertz.it?subject=feedback">fototeca@biblhertz.it</a></p>
        </section>
      </section>
      <section class="col-md-6" id="partners-marburg">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_marburg.jpg" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/marburg">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_Marburg.png" alt="logo">
          <h3>Bildarchiv Foto Marburg</h3>
          <p class="partners-detail"><a href="http://www.fotomarburg.de/" target="_blank">website</a> | <a target="_blank" href="http://www.bildindex.de/">catalogue</a></p>
          <p class="partners-detail"><a href="mailto:bildarchiv@fotomarburg.de?subject=feedback">bildarchiv@fotomarburg.de</a></p>
        </section>
      </section>
    </section>
    <section class="page-section partners-section">
      <section class="col-md-6" id="partners-zeri">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_zeri.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/zeri">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_Zeri.png" alt="logo">
          <h3>Fondazione Federico Zeri</h3>
          <p class="partners-detail"><a href="https://fondazionezeri.unibo.it/en/photo-archive/photo-library" target="_blank">website</a> | <a target="_blank" href="https://catalogo.fondazionezeri.unibo.it/hp.jsp?decorator&#x3D;layout_resp&amp;apply&#x3D;true&amp;locale&#x3D;en">catalogue</a> </p>
          <p class="partners-detail"><a href="mailto:fondazionezeri.fototeca@unibo.it?subject=feedback">fondazionezeri.fototeca@unibo.it</a></p>
        </section>
      </section>
      <section class="col-md-6" id="partners-frick">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_frick.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/frick">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_Frick.png" alt="logo">
          <h3>Frick Photo Archive</h3>
          <p class="partners-detail"><a target="_blank" href="http://www.frick.org/research/photoarchive">website</a> | <a href="https://library.frick.org/discovery/search?vid&#x3D;01NYA_INST:Frick" target="_blank">catalogue</a></p>
          <p class="partners-detail"><a href="mailto:photoarchive@frick.org?subject=feedback">photoarchive@frick.org</a></p>
        </section>
      </section>
    </section>
    <section class="page-section partners-section">
      <section class="col-md-6" id="partners-itatti">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_itatti.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/itatti">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_ITatti.png" alt="logo">
          <h3>I Tatti</h3>
          <p class="partners-detail"><a href="http://itatti.harvard.edu/berenson-library/collections/photograph-archives" target="_blank">website</a> | <a target="_blank" href="http://images.hollis.harvard.edu/">catalogue</a></p>
          <p class="partners-detail"><a href="mailto:library@itatti.harvard.edu?subject=feedback">library@itatti.harvard.edu</a></p>
        </section>
      </section>
      <section class="col-md-6" id="partners-kunst">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_khi.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/khi">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_KHI.png" alt="logo">
          <h3>Kunsthistorisches Institut in Florenz</h3>
          <p class="partners-detail"><a href="https://www.khi.fi.it/en/photothek/index.php" target="_blank">website</a> | <a target="_blank" href="http://photothek.khi.fi.it/">catalogue</a></p>
          <p class="partners-detail"><a href="mailto:fototeca@khi.fi.it?subject=feedback">fototeca@khi.fi.it</a></p>
        </section>
      </section>
    </section>
    <section class="page-section partners-section">
      <section class="col-md-6" id="partners-pmc">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_pmc.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/pmc">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_PMC.png" alt="logo">
          <h3>Paul Mellon Centre for Studies in British Art</h3>
          <p class="partners-detail"><a target="_blank" href="https://www.paul-mellon-centre.ac.uk/archives-and-library/photographic-archive">website</a> | <a target="_blank" href="https://photoarchive.paul-mellon-centre.ac.uk/">catalogue</a></p>
          <p class="partners-detail"></p>
        </section>
      </section>
      <section class="col-md-6" id="partners-nga">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_nga.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/nga">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_NGA.png" alt="logo">
          <h3>National Gallery of Art</h3>
          <p class="partners-detail"><a href="https://www.nga.gov/research/library/imagecollections.html" target="_blank">website</a> | <a href="https://library.nga.gov/discovery/search?vid&#x3D;01NGA_INST:IMAGE" target="_blank">catalogue</a></p>
          <p class="partners-detail"><a href="mailto:Image-collections@nga.gov?subject=feedback">image-collections@nga.gov</a></p>
        </section>
      </section>
    </section>
    <section class="page-section partners-section">
      <section class="col-md-6" id="partners-rkd">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_rkd.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/rkd">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_RKD.png" alt="logo">
          <h3>RKD Netherlands Institute for Art History</h3>
          <p class="partners-detail"> <a href="https://www.rkd.nl/en" target="_blank">website</a> | <a target="_blank" href="https://research.rkd.nl/nl">catalogue</a></p>
          <p class="partners-detail"><a href="https://webshop.rkd.nl/contactformulier?___store=EN">contact form</a></p>
        </section>
      </section>
      <section class="col-md-6" id="partners-ycba">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_yalecenter.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/ycba">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_ycba.png" alt="logo">
          <h3>Yale Center for British Art</h3>
          <p class="partners-detail"><a href="https://britishart.yale.edu/reference-library-and-photograph-archives" target="_blank">website</a> | <a href="https://collections.britishart.yale.edu/" target="_blank">catalogue</a></p>
          <p class="partners-detail"><a href="mailto:kraig.binkowski@yale.edu?subject=feedback">kraig.binkowski@yale.edu</a></p>
        </section>
      </section>
    </section>
    <section class="page-section partners-section">
      <section class="col-md-6" id="partners-courtauld">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_courtald.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/courtauld">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_courtauld.png" alt="logo">
          <h3>Courtauld Institute of Art</h3>
          <p class="partners-detail"><a href="http://courtauld.ac.uk/" target="_blank">website</a> | <a href="http://courtauld.ac.uk/study/resources/image-libraries" target="_blank">catalogue</a></p>
          <p class="partners-detail"><a href="mailto:photocollections@courtauld.ac.uk?subject=feedback">photocollections@courtauld.ac.uk</a></p>
        </section>
      </section>
      <section class="col-md-6" id="partners-warburg">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_warburg.png" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/warburg">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_warburg.png" alt="logo">
          <h3>Warburg Institute</h3>
          <p class="partners-detail"><a href="https://warburg.sas.ac.uk/photographic-collection" target="_blank">website</a> | <a href="https://iconographic.warburg.sas.ac.uk/home" target="_blank">catalogue</a></p>
          <p class="partners-detail"><a href="mailto:photographic.collect@sas.ac.uk?subject=feedback">photographic.collect@sas.ac.uk</a></p>
        </section>
      </section>
    </section>
    <section class="page-section partners-section">
      <section class="col-md-6" id="partners-dumbarton">
        <section class="col-md-5">
          <img class="partner-thumbnail" src="/assets/images/media/tile_dumbarton.jpeg" alt="">
          <semantic-link iri="https://artresearch.net/resource/provider/dumbarton_oaks">
            <img class="arrow-overlay" src="/assets/images/arrow.png" alt="arrow">
          </semantic-link>
        </section>
        <section class="col-md-7">
          <img class="partners-logo" src="/assets/images/minilogo_dumbarton.png" alt="logo">
          <h3>Dumbarton Oaks</h3>
          <p class="partners-detail"><a href="https://www.doaks.org/" target="_blank">website</a> | <a href="https://www.doaks.org/research/library-archives/icfa" target="_blank">catalogue</a></p>
          <p class="partners-detail"><a href="mailto:Library@doaks.org?subject=feedback">Library@doaks.org</a></p>
        </section>
      </section>
      <section class="col-md-6" id="partners-newcoming">

    </section>
  </div>

  [[> Default:footer]]
</div>
