
  <div class="artwork-card karla-regular">
    <resource-info subject="{{subject.value}}" profile="artwork-card" template="{{> template}}">
      <template id="template">
        <semantic-link-container uri="{{subject}}" target="_blank">
            <div class="thumbnail-container">
              {{#if photo}}
                <resource-info subject="{{photo}}" profile="photograph-thumbnail" template="{{> template}}">
                  <template id="template">
                    <img class="thumbnail-image" src="https://staging.artresearch.net{{data.[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                  </template>
                </resource-info>
              {{else if provider}}
                {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos]}}
                  {{#with (getPreferredPhoto data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values provider)}}
                      <img class="thumbnail-image" src="https://staging.artresearch.net{{[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                      <img class="provider-icon thumbnail-provider-icon" title="{{label}}" src="{{[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values.0.[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                  {{/with}}
                {{else}}
                  <span class="no-image-text">No image</span>
                {{/if}}
              {{else}}
                {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos]}}
                  <img class="thumbnail-image" src="https://staging.artresearch.net{{data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values.0.[https://artresearch.net/resource/field_definition/pharos_model/photo_thumbnail].values.0.[@value]}}" alt="Artwork thumbnail" />
                  <img class="provider-icon thumbnail-provider-icon" title="{{label}}" src="{{data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values.0.[https://artresearch.net/resource/field_definition/pharos_model/photo_provider].values.0.[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                {{else}}
                  <span class="no-image-text">No image</span>
                {{/if}}
              {{/if}}
            </div>
      </semantic-link-container>

          <div class="info-container cursor">
            <span class="author-name">{{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/creator" label="Creator"}}
            </span>
            <span class="bold-text">
               <div class="field field-Title">
                  <div class="field-label">Title</div>
                  <div class="field-value">
                    {{data.label}}
                  </div>
               </div>
            </span>
            [[!--
             {{#if provider}}
                            {{log "in if" this}}

                {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos]}}
                                          {{log "yes"}}

                  {{#with (getPreferredPhoto data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values provider)}}
                                                        {{log "with" this}}

                  <div class="field">
                    <div class="field-label">Photo Title</div>
                    <div class="field-value">
                      {{[https://artresearch.net/resource/field_definition/pharos_model/photo_title].values.0.label}}
                    </div>
                  </div>
                  {{/with}}
                {{/if}}

              {{else}}
              {{log "in else" this}}
                  {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values.0.[https://artresearch.net/resource/field_definition/pharos_model/photo_title].values.0.[@value]}}
                    <div class="field">
                      <div class="field-label">Photo Title</div>
                      <div class="field-value">
                        {{data.[https://artresearch.net/resource/field_definition/pharos_model/work_preferred_photos].values.0.[https://artresearch.net/resource/field_definition/pharos_model/photo_title].values.0.label}}
                      </div>
                    </div>
                  {{/if}}
              {{/if}}
            --]]
            {{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/production_date" label="Date"}}
            {{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/current_keeper" label="Repository"}}
            {{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/part_of_builtwork" label="Is part of"}}
            {{> fieldTemplate data=data field="https://artresearch.net/resource/field_definition/pharos_model/location" label="Location"}}


            <div class="field">
              <div class="field-label karla-bold">{{data.[https://artresearch.net/resource/field_definition/pharos_model/original_record_catalog].label}}</div>
              <div class="field-value">
                <div class="provider-icons">
                  <span class="provider-icons-text bold-text">PHOTO ARCHIVES</span>
                  {{#each data.[https://artresearch.net/resource/field_definition/pharos_model/original_record_catalog].values}}
                    <img class="provider-icon" title="{{label}}" src="{{[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                  {{/each}}
                </div>
              </div>
            </div>



            <div class="field">
              <div class="field-value">
                  {{#each (split matchType.value ',')}}
                    {{#ifCond this '===' 'text_index'}}
                      <span class='label label-primary' style='margin-right: 5px'>Exact match (metadata)</span>
                    {{/ifCond}}
                    {{#ifCond this '===' 'qwen3_8b'}}
                      <span class='label label-primary' style='margin-right: 5px'>AI match (metadata)</span>
                    {{/ifCond}}
                    {{#ifCond this '===' 'qwen3_0_6b'}}
                      <span class='label label-primary' style='margin-right: 5px'>AI match (metadata)</span>
                    {{/ifCond}}
                    {{#ifCond this '===' 'clip_vit_large_patch14_336'}}
                      <span class='label label-primary' style='margin-right: 5px'>AI match (visual similarity)</span>
                    {{/ifCond}}
                    {{#ifCond this '===' 'siglip2_so400m_patch16_naflex'}}
                      <span class='label label-primary' style='margin-right: 5px'>AI match (visual similarity)</span>
                    {{/ifCond}}
                    {{#ifCond this '===' 'clip_vit_large_patch14_336_sift_rerank'}}
                      <span class='label label-primary' style='margin-right: 5px'>Exact match (visual similarity)</span>
                    {{/ifCond}}
                    {{#ifCond this '===' 'siglip2_so400m_patch16_naflex_sift_rerank'}}
                      <span class='label label-primary' style='margin-right: 5px'>Exact match (visual similarity)</span>
                    {{/ifCond}}
                  {{/each}}
              </div>
            </div>




          </div>
      </template>

      <template id="fieldTemplate">
        {{#if (lookup data field)}}
            <div class="field field-{{label}}">
              <div class="field-label">{{label}}</div>
              <div class="field-value">
                {{#each (mergeUniqueValues (lookup (lookup data field) 'values'))}}
                  {{#if [@id]}}
                      <semantic-link iri="{{[@id]}}"><img class="arrow-link-record-field" src="/assets/images/arrow_black.png" alt="alt">{{label}}</semantic-link>

                    {{#unless @last}} · {{/unless}}
                  {{else}}
                    {{#if (eq ../field "https://artresearch.net/resource/field_definition/pharos_model/production_date")}}
                      {{dateRangeFormat [@value]}}
                    {{else}}
                      {{[@value]}}
                    {{/if}}
                    {{#unless @last}} · {{/unless}}
                  {{/if}}
                {{/each}}


              </div>
            </div>
        {{/if}}
      </template>
    </resource-info>
  </div>
