<div id="printableInfo" class="workAndProductionInfo">
  <!-- Fields for Work (Artwork or photograph) -->
  <mp-field-visualization
    subject="[[this]]"
    additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
    fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {    ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/work_info>.   OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)}} ORDER BY ASC(?orderNo)"]]'
    template="{{>workInfo}}"
  >
    <template id="workInfo">
      {{#if noData}} {{else}}
      <div class="workInfoContainer">
        <h2>Work info</h2>
        [[> rsp:ResourceFieldBasedVisualization subject=[[this]]
        showSourceIcon="true" ]]
      </div>
      {{/if}}
    </template>
  </mp-field-visualization>

  <!-- Fields for Production -->
  <div class="productionInfoContainer">
    <mp-field-visualization
      subject="[[this]]"
      additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
      fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/production_info>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
      template="{{>productionInfo}}"
    >
      <template id="productionInfo">
        {{#if noData}}
        <div></div>
        {{else}}
        <h2>Production info</h2>
        [[> rsp:ResourceFieldBasedVisualization subject=[[this]]
        showSourceIcon="true" ]] {{/if}}
      </template>
    </mp-field-visualization>
    <!-- General fields -->
    <mp-field-visualization
      subject="[[this]]"
      additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
      fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/other_details>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
      template="{{>generalInfo}}"
    >
      <template id="generalInfo">
        {{#if noData}} {{else}}
        <h2 style="margin-top: 4vh">Other details</h2>
        [[> rsp:ResourceFieldBasedVisualization subject=[[this]]
        showSourceIcon="true" ]]

        <div class="locationMap">
          <semantic-map
            query=" PREFIX osm: <http://www.metaphacts.com/ontologies/osm#>
    PREFIX wdt: <http://www.wikidata.org/prop/direct/>
    PREFIX wd: <http://www.wikidata.org/entity/>
    SELECT ?lat ?lng WHERE {
      {
        ?subject owl:sameAs ??.
      } UNION {
        BIND (?? AS ?subject)
        ?subject owl:sameAs ?pharos.
        ?pharos crm:P2_has_type <https://pharos.artresearch.net/resource/type/pharos>.
      }
      ?subject crm:P50_has_current_keeper <https://pharos.artresearch.net/resource/zeri/actor/TOL5YBPD>.
      <https://pharos.artresearch.net/resource/zeri/actor/TOL5YBPD> crm:P74_has_current_or_former_residence ?location.
      ?location owl:sameAs ?geonames.
      ?geonames <http://www.w3.org/2003/01/geo/wgs84_pos#lat> ?lat .
      ?geonames <http://www.w3.org/2003/01/geo/wgs84_pos#long> ?lng .

    } LIMIT 1"
          >
          </semantic-map>
        </div>
        {{/if}}
      </template>
    </mp-field-visualization>
  </div>
  <div style="width: 93.5%" class="productionInfoContainer">
    <!-- Photographs detailed information -->
    [[> rsp:PhotographTable]]
  </div>
</div>
