<div class="no-results-select">
  <small>Results per page:</small>
  <mp-event-trigger
      type="Component.TemplateUpdate"
      data='{"noRows":10}'
      targets='["my-render"]'>
      <button
          style='{{#if noRows}}{{#ifCond noRows "===" 10}}color:#007bff; font-weight:bold;{{/ifCond}}{{else}}color:#007bff; font-weight:bold;{{/if}}'
          class="no-option">
        10
      </button>
  </mp-event-trigger>
  <mp-event-trigger
      type="Component.TemplateUpdate"
      data='{"noRows":25}'
      targets='["my-render"]'>
      <button 
          style='{{#ifCond noRows "===" 25}}color:#007bff; font-weight:bold;{{/ifCond}}'
          class="no-option">
          25
      </button>
  </mp-event-trigger>
  <mp-event-trigger
      type="Component.TemplateUpdate"
      data='{"noRows":50}'
      targets='["my-render"]'>
      <button 
          style='{{#ifCond noRows "===" 50}}color:#007bff; font-weight:bold;{{/ifCond}}'
          class="no-option">
          50
      </button>
  </mp-event-trigger>
</div>