{
  "<https://artresearch.net/resource/fr/Work_consists_of_Material>":[{
              "kind":"resource",
               "queryPattern": "
                  ?subject crm:P45_consists_of  ?__value__ .
               "
  }],
  "<https://artresearch.net/resource/fr/Work_produced_using_technique_Technique>":[{
              "kind":"resource",
              "queryPattern": "
                ?subject crm:P108i_was_produced_by/crm:P9i_forms_part_of*/crm:P32_used_general_technique ?__value__ .
              "
  }],
  "<https://artresearch.net/resource/fr/Work_created_from_Artist>":[{
              "kind":"resource",
              "queryPattern": "{
                ?subject crm:P108i_was_produced_by ?production .
                ?sub_production crm:P9i_forms_part_of ?production .

                ?sub_production crm:P01i_is_domain_of ?pc14 .
                ?pc14 a crm:PC14_carried_out_by .
                ?pc14 crm:P02_has_range ?__value__ .
              }"
  }],
  "<https://artresearch.net/resource/fr/Work_shows_Subject>":[{
              "kind":"resource",
              "queryPattern": "
                ?subject crm:P65_shows_visual_item ?__value__ .
              "
  }],
  "<https://artresearch.net/resource/fr/Work_from_Place>":[{
              "kind":"resource",
              "queryPattern": "
  						  ?subject crm:P55_has_current_location ?__value__ .
              "
  }],
  "<https://artresearch.net/resource/fr/Work_kept_by_Institution>":[{
              "kind":"resource",
              "queryPattern": "
                ?subject crm:P50_has_current_keeper ?__value__.
              "
  }],
  "<http://www.cidoc-crm.org/cidoc-crm/P2_has_type>":[{
              "kind":"resource",
              "queryPattern": "{
                ?subject crm:P2_has_type ?__value__.
                FILTER(?__value__ != <http://vocab.getty.edu/aat/300133025>)
              }"
  }]
}