<div id="photo-search-page">

  <a href="/resource/start">
    <div class="changesearch-btn">
      <i class="fa fa-arrow-left"></i>Change search
    </div>
  </a>
  
  <div class="search-section">

    <div class="selectedImageContainer">
      <img src='[[urlParam "image"]]' />
    </div>
  </div>

  <div data-flex-layout="row stretch-stretch" style="margin-bottom:150px;">
    <div id="resultHolder" data-flex-self="md-full">



      <semantic-context repository="pastec">
        <div>
          <div class="search-similar-title">Similar artworks</div>
          <div class="griddle-custom-row">
        
            <semantic-query query='
                  PREFIX example: <http://www.example.org/ontology#>
                  SELECT ?subject ?score ?id WHERE{
                    ?subject example:hasImageUrl "[[urlParam "image"]]".
                    ?subject example:hasScore ?score.
                    ?subject example:hasResultingIds ?id.
                  }ORDER BY DESC(?score)' no-result-template='
                  <div style="
                  font-size: 29px;
                  font-style: italic;">
                  No similar artworks found. Try another image or a higher resolution of your image.</div>
                  ' template="{{>pastecTemplate}}">
              <template id="pastecTemplate">
                {{#each bindings}}
                <semantic-context repository="default">
                  <semantic-query query='SELECT DISTINCT ?imgUrl ?subject ?title ?artist_label WHERE {
                          SERVICE <https://artresearch.net/sparql> {
                            BIND(iri(CONCAT("https://vision.artresearch.net:4212/index/images/",str({{id}}))) as ?idProperty) 
                            ?subject fr:Work_depicted_by_Photo ?photo.
                            ?photo crm:P129i_is_subject_of ?imgUri.
                            ?imgUri <https://artresearch.net/resource/vocab/vision/pastec/has_index> ?idProperty.
                            OPTIONAL {
                              ?subject rdfs:label ?title.
                            }
                            OPTIONAL {
                              ?subject fr:Work_influenced_by_Artist|fr:Work_created_from_Artist ?artist.
                              ?artist rdfs:label ?label.
                            }
                            BIND(REPLACE(STR(?imgUri),"full/full","full/!200,200") AS ?imgUrl).
                            BIND(REPLACE(?label,"@en","") AS ?artist_label)                                  
                          }
                        }' template="{{> imageTemplate }}">
                    <template id="imageTemplate">
                      <a href="https://artresearch.net/resource/?uri={{bindings.0.subject.value}}" target="_null">
                        <div class="similar-artwork-card fade-in-fwd">
                          <div class="panel-body">
                            <div class="thumbnailImageContainer">
                              <img alt="   " class="thumbnailImage" src="{{bindings.0.imgUrl.value}}" />
                            </div>
                            <div>
                              <h2 class="titleInfo opacityToLight">
                                {{bindings.0.title.value}}
                              </h2>
                              <h2 class="basicInfo opacityToLight">
                                {{bindings.0.artist_label.value}}
                              </h2>
                              <h1 class="pastecInfo opacityToLight">
                                Pastec score:
                                <semantic-query query="
                                select ?scoreText where {
                                    BIND(str({{score}}) as ?scoreText) 
                                }
                                "></semantic-query>
                              </h1>
                            </div>
                          </div>
                        </div>
                      </a>
                    </template>
                  </semantic-query>
                </semantic-context>
                {{/each}}
              </template>
            </semantic-query>
            <div class="searching animated-background">
              Searching for similar artworks
            </div>
          </div>
        </div>
      </semantic-context>

      </semantic-context>
    </div>
  </div>
</div>
<style>
  .changesearch-btn{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-left: 25px;
    align-items: center;
    padding: 8px;
    width: 130px;
    height: 45px;
    box-shadow: 0px 0px 8px 2px #dedede;
    border-radius: 5px
  }
  .searching {
    font-size: 30px;
    display: none;
    height: 30vh;
    width: 400px;
    text-align: center;
    height: 30vh;
  }

  .system-spinner+.searching {
    display: flex !important;
  }

  .system-spinner {
    display: none !important;
  }
</style>