<div class="mainContent">
    [[> photoTiles]]
    <div id="photoSearch" data-flex-layout="column center-center">
      <div class="logoLarge">
      <h1 style="display:flex;color: white;">Pharos <div style="color: #d13e3e ;">Visual</div> Search</h1>
      <div>Input the image url you want to search in our photo archive</div>
      <h3 style="color: white;">or</h3>
      <div>Drag & Drop your image from your computer</div>
      </div>
      <div style="margin-top: 5vh">[[> VisionSearchBar]]</div>
      <div class="image-uploader-section">
        <upload-image></upload-image>
      </div>
    </div>
</div>