<div>
  {{#ifCond (objectLength bindings) "===" 1}}
    <div style="width: 96vw; height: 80vh">
      <rs-iiif-mirador
        image-or-region="{{bindings.0.imageManifest.value}}"
        image-api-manifest-pattern="BIND(<{{bindings.0.imageManifest.value}}> as ?manifestUrl)"
      >
      </rs-iiif-mirador>
    </div>
  {{else}}
  {{#ifCond (objectLength bindings) "===" 2}}
    <div class="rectoVersoMirador">
      <div style="width: 50vw; height: 80vh">
        <rs-iiif-mirador
          id="rectoMirador"
          image-or-region="{{bindings.0.imageManifest.value}}"
          image-api-manifest-pattern="BIND(<{{bindings.0.imageManifest.value}}> as ?manifestUrl)"
        >
        </rs-iiif-mirador>
      </div>
      <div style="width: 50vw; height: 80vh">
        <rs-iiif-mirador
          id="versoMirador"
          image-or-region="{{bindings.1.imageManifest.value}}"
          image-api-manifest-pattern="BIND(<{{bindings.1.imageManifest.value}}> as ?manifestUrl)"
        >
        </rs-iiif-mirador>
      </div>
    </div>
  {{else}}
    <div class="rectoVersoMirador">
      <div style="width: 33vw; height: 80vh">
        <rs-iiif-mirador
          id="rectoMirador"
          image-or-region="{{bindings.0.imageManifest.value}}"
          image-api-manifest-pattern="BIND(<{{bindings.0.imageManifest.value}}> as ?manifestUrl)"
        >
        </rs-iiif-mirador>
      </div>
      <div style="width: 33vw; height: 80vh">
        <rs-iiif-mirador
          id="versoMirador"
          image-or-region="{{bindings.1.imageManifest.value}}"
          image-api-manifest-pattern="BIND(<{{bindings.1.imageManifest.value}}> as ?manifestUrl)"
        >
        </rs-iiif-mirador>
      </div>
      <div style="width: 33vw; height: 80vh">
        <rs-iiif-mirador
          id="versoMiradorSecond"
          image-or-region="{{bindings.2.imageManifest.value}}"
          image-api-manifest-pattern="BIND(<{{bindings.2.imageManifest.value}}> as ?manifestUrl)"
        >
        </rs-iiif-mirador>
      </div>
    </div>
  {{/ifCond}}
  {{/ifCond}}
                  [[#if (ask "ASK{ ?? a cfc:photo.}")]]
                  [[else]]
                  {{#ifCond image '===' undefiend}}
                   <div class="metadataButton">
                    <semantic-link iri="{{bindings.0.photo.value}}" target="_black" class="metadataText" >View photo metadata</semantic-link>
                  </div>
                   {{else}}
                  <div class="metadataButton ">
                    <semantic-link iri="{{bindings.0.photo.value}}" target="_black" class="metadataText" >View photo metadata</semantic-link>
                  </div>
                  {{/ifCond}}
                  [[/if]]
</div>