        <semantic-table 
      query='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
						 PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
		 				 PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

					 	 SELECT distinct ?photo ?artwork ?label ?recto WHERE 
						{
  							
              	?artwork  crm:P108i_was_produced_by ?production .
                ?artwork  rdfs:label ?label .
              
  							?production crm:P01i_is_domain_of ?carried .
  							?carried a crm:PC14_carried_out_by .
 								?carried crm:P02_has_range ??.
              
           			?artwork crm:P138i_is_represented_by ?visual_item.
  							?visual_item crm:P128i_is_carried_by ?photo.
  							?photo crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
                ?photo crm:P138i_has_representation ?recto.
								?recto crm:P2_has_type ?type.
                ?type rdfs:label "recto".
        			
            }' 
            options='{"showFilter": false, "showTableHeading": false}'
            tuple-template='{{> photos}}'
>

          <template id='photos'>
				<table class='table' >
              <tr>
                <td style="text-align:left">
                 	<semantic-link iri="{{artwork.value}}"> 
          				 <img src={{recto.value}} style="max-height:100px; max-width:100px" class="img-rounded">
         					</semantic-link>
                </td>
                <td style="width:1500px;text-align:left" >
                   Title:
                 	<semantic-link iri="{{photo.value}}"> 
          				 {{label.value}}
                  </semantic-link> 
                 </td>
              </tr>
            </table>
        
  </template>    
</semantic-table>