<inline-template template-iri="Default:SearchAllTemplate" 
                 options='{
                            "pageTitle":"Photographs dated between 1839 and 1900", 
                            "lock": "true",
                            "domain": "photograph",
                            "presetFacets": [
                              {
                                "relation": "https://artresearch.net/resource/fr/Photograph_has_shot_Date",
                                "values": [
                                  {"begin": "1839-01-01T00:00:00.000Z", "end": "1900-01-01T00:00:00.000Z"}
                                ]
                              }
                            ]
                          }'></inline-template>