<iframe name="dummyframe" id="dummyframe" style="display: none" src="https%3A%2F%2Fartresearch.net%2Fresource%2FThanksMessage.html"></iframe>
<div class="row row-center">
    <div
      id="main-containers"
      style="max-width: 1300px"
      class="col-md-10 col-xs-10">
          <div class="row">
            <div class="col-sm-7">
              <header>
                <h1>Contact Us</h1>
              </header>
            </div>
            <div class="col-md-8">
              <p>Submit your questions and suggestions in the form below:</p>
              <form action="http://localhost:5000/send/" target="dummyframe" method="POST">
                <label for="sender">Sender:</label><br>
                <input type="text" id="sender" name="sender" value="no-reply@artresearch.net"><br><br>
                <label for="recipient">Recipient:</label><br>
                <input type="text" id="recipient" name="recipient" value="mirto@advancesvs.com"><br><br>
                <label for="subject">Subject:</label><br>
                <input type="text" id="subject" name="subject"><br><br>
                <label for="message">Message:</label><br>
                <input type="text" id="message" name="message"><br><br>              
                <input class="btn btn-sm btn-success btn-block" type="submit" value="Submit">
              </form> 
            </div>
          </div>        
    </div>
</div>
