<!-- <mp-selection-action-choice  selection='resource-selection' title='With selected ...'>
   <bs-menu-item>
         <mp-overlay-dialog title="Delete annotation" >
            <mp-overlay-dialog-trigger
              >
               <button class='btn btn-default btn-xs pull-right' title='Delete Annotation' style='margin-right: 15px; '>
                <i class='fa fa-trash'></i>Delete
              </button>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content>
              <h1>Are you sure you would like to delete this annotation?</h1>
              <mp-ldp-remove-from-container-action 
                  container="http://www.researchspace.org/resource/system/fileContainer"
                 iri='??'
                  post-action='reload'>
                    <button class="btn btn-danger pull-right" title="Delete annotation" 
                        style="margin-left: 35px;font-size: 22px;">
                        <i class="fa fa-trash"></i> Yes delete
                      </button>
              </mp-ldp-remove-from-container-action>
            </mp-overlay-dialog-content>
          </mp-overlay-dialog>
    </bs-menu-item>
   
  </mp-selection-action-choice> -->

  
  <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>My Annotations</h1>
        </header>
      </div>
    </div>
  <semantic-table id='resources-results'
                number-of-displayed-rows=10
                query='SELECT ?document ?documentTitle ?field ?subject ?username ?time  WHERE{
                        ?document rdf:type rs:Semantic_Narrative.
                        ?document rdfs:label ?documentTitle.
                        ?document prov:wasAttributedTo ?username.
                        ?document prov:generatedAtTime ?time.
                        ?document <http://www.researchspace.org/ontology/targetsField> ?field.
                        ?document <http://www.researchspace.org/ontology/targetsRecord> ?subject.
                        BIND(?__useruri__ as ?username)
                      }'
                column-configuration='[
                              {"variableName":"Document","displayName":"Document", "cellTemplate": "{{> Annotation}}"},
                              {"variableName":"Subject","displayName":"Subject", "cellTemplate": "{{> Subject}}"},
                              {"variableName":"Field","displayName":"Field", "cellTemplate": "{{> Field}}"},
                              {"variableName":"ModificationDate","displayName":"Modified", "cellTemplate": "{{dateTimeFormat time.value \"LLL\"}}" },
                              {"variableName":"attribution","displayName":"Attribution", "cellTemplate": "<mp-label iri=\"{{username.value}}\"></mp-label>" },
                              {"displayName":"Actions", "cellTemplate": "{{> actions}}"}
                          ]'
>
<template id='Subject'>
  <span>{{log "here" this}}
    <semantic-context repository='assets'>
      {{#if label}}
        <semantic-link style='max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' uri='{{subject.value}}' title='{{label.value}}'>{{label.value}}</semantic-link>
      {{else}}
        <semantic-link style='max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' uri='{{subject.value}}'></semantic-link>
      {{/if}}
    </semantic-context>
  </span>
</template>
<template id='Field'>
  <span>{{log "here" this}}
    <semantic-context repository='assets'>
                  <mp-label iri='{{field.value}}' class="field-type-title"></mp-label>
                </semantic-context>
  </span>
</template>
<template id='Annotation'>
  <span>{{log "here" this}}
     <mp-selection-toggle selection="resource-selection" tag="{{document.value}}"></mp-selection-toggle>
    <semantic-context repository='assets'>
      {{#if label}}
     <semantic-link
                        iri="http://www.researchspace.org/resource/Field"
                        urlqueryparam-tab="annotations"
                        urlqueryparam-field="{{field.value}}"
                        urlqueryparam-subject="{{subject.value}}"
                      >{{documentTitle.value}}</semantic-link>
      {{else}}
         <semantic-link
                        iri="http://www.researchspace.org/resource/Field"
                        urlqueryparam-tab="annotations"
                        urlqueryparam-field="{{field.value}}"
                        urlqueryparam-subject="{{subject.value}}"
                      >
                  {{documentTitle.value}}</semantic-link>
      {{/if}}
    </semantic-context>
  </span>
</template>
<template id='actions'>
  <div style="display: flex;">
     <semantic-link
                        iri="http://www.researchspace.org/resource/Field"
                        urlqueryparam-tab="annotations"
                        urlqueryparam-field="{{field.value}}"
                        urlqueryparam-subject="{{subject.value}}"
                      >
                      <button class='btn btn-default btn-xs pull-right' title='View Annotation' style='margin-right: 15px; '>
                         <i class='fa fa-folder-open'></i> View 
                      </button>          
      </semantic-link>
    <mp-ldp-duplicate-resource-action iri="{{document.value}}" container="http://www.researchspace.org/resource/system/fileContainer">
      <button class='btn btn-default btn-xs pull-right' title='Duplicate Annotation' style='margin-right: 15px; '><i class="fa fa-files-o btn-icon-left" aria-hidden=true></i> Duplicate</button>
    </mp-ldp-duplicate-resource-action>

    <mp-ldp-export-resource iri="{{document.value}}">
       <button class='btn btn-default btn-xs pull-right' title='Export Annotation' style='margin-right: 15px; '>
        <i class='fa fa-download btn-icon-left' aria-hidden=true></i> Export
      </button>
    </mp-ldp-export-resource>

    <mp-overlay-dialog title="Delete annotation" >
            <mp-overlay-dialog-trigger
              >
               <button class='btn btn-default btn-xs pull-right' title='Delete Annotation' style='margin-right: 15px; '>
                <i class='fa fa-trash'></i>Delete
              </button>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content>
              <h1>Are you sure you would like to delete this annotation?</h1>
              <mp-ldp-remove-from-container-action 
                  container="http://www.researchspace.org/resource/system/fileContainer"
                  iri="{{document.value}}" 
                  post-action='reload'>
                    <button class="btn btn-danger pull-right" title="Delete annotation" 
                        style="margin-left: 35px;font-size: 22px;">
                        <i class="fa fa-trash"></i> Yes delete
                      </button>
              </mp-ldp-remove-from-container-action>
            </mp-overlay-dialog-content>
          </mp-overlay-dialog>
  </div>
</template>
</semantic-table>
 