<div  id="printableImages"  class="summaryImages">
  <div class="rs-page__summary-image">
    {{#each bindings}}
    <mp-overlay-dialog title="‎‎" type="lightbox">
      <mp-overlay-dialog-trigger>
        <div class="imageAndSourceContainer">
          <semantic-query
            query="     
            SELECT ?providerLabel WHERE{    
              ?photo crm:P129i_is_subject_of <{{image.value}}>.
              ?photo <https://pharos.artresearch.net/custom/has_provider> ?provider.
              ?provider rdfs:label ?providerLabel.
            }limit 1
              "
            template="{{> imageSourceIcon}}"
          >
            <template id="imageSourceIcon">
              <div class="imageSourceIcon fade-in">
                <img
                  title="{{bindings.0.providerLabel.value}}"
                  class="sourceIcon"
                  src="../../assets/images/{{bindings.0.providerLabel.value}}.ico"
                />
              </div>
            </template>
          </semantic-query>
          <img
            class="imageThumbnail"
            alt="Issue with image provider"
            src="{{imgURL.value}}"
          />
        </div>
      </mp-overlay-dialog-trigger>
      <mp-overlay-dialog-content>
      {{#ifCond  iiifServer.value "!==" undefined}}
          [[> :SummaryImagesWorkGridIIIFModal iiifServer="{{iiifServer.value}}"]]
        {{else}}
          [[> :SummaryImagesWorkGridImageModal]]
      {{/ifCond}}
      </mp-overlay-dialog-content>
    </mp-overlay-dialog>
    {{/each}}
  </div>
</div>