<div class="text-center panel panel-default" style="border:none;margin-right:20px;font-size:12px;height:20px;width: 33%;display:inline;">
<div class="result-title">Artists (Zeri)</div>
</div>

<div class="row row-center">
  <div
    id="main-container"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header style="margin-left: 20px">
          <h1>Artists by Fondazione Federico Zeri</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> rsp:personfiltersearch type="http://vocab.getty.edu/aat/300133025" provider="https://pharos.artresearch.net/resource/zeri/source/Zeri"]]
  </div>
</div>