[[#if repo]]
  <semantic-query
    query="SELECT DISTINCT  ?institution (group_concat( distinct ?pLabel ;Separator=', ') as ?placeLabel) WHERE {
      BIND( ?? as ?institution )
      {
        ?institution (fr:Institution_from_Place) ?place.
        ?place rdfs:label ?pLabel.
      }
      UNION
      {
        ?original owl:sameAs ?institution;
          (crm:P74_has_current_or_former_residence|crm:P55_has_current_location) ?place.
        ?place rdfs:label ?pLabel.
      }
    } group by (?institution)"
    no-result-template="<div></div>"
    template="{{> fcLabelTemplate}}"
  >
    <template id="fcLabelTemplate">
        <div class="repository-location">
          {{#ifCond  placeLabel.value "!==" null}}
            <span>{{bindings.0.placeLabel.value}}</span>
          {{/ifCond}}
        </div>
    </template>
  </semantic-query>
[[else]]
  <semantic-query
    query="SELECT ?institution (group_concat( distinct ?pLabel ;Separator=', ') as ?placeLabel) WHERE {
      ?? a fc:work.
      { 
        ?? fr:Work_kept_by_Institution ?institution.
         OPTIONAL {
           ?institution fr:Institution_from_Place ?place.
           ?place rdfs:label ?pLabel.
         }
       } UNION {
         ?og owl:sameAs ??.
         ?og cfr:Work_kept_by_Institution ?institution.
         OPTIONAL {
           ?institution cfr:Institution_from_Place ?place.
           ?place rdfs:label ?pLabel.
         }
       }
     } group by (?institution) LIMIT 1"
    no-result-template="{{> noRepoResult}}"
    template="{{> fcLabelTemplate}}"
  >
    <template id="fcLabelTemplate">
        <div class="repository-location">
          <mp-label iri="{{bindings.0.institution.value}}"></mp-label>
          {{#ifCond  placeLabel.value "!==" null}}
            {{#each bindings}}, 
              <span>{{placeLabel.value}}</span> 
            {{/each}}
          {{/ifCond}}
        </div>
    </template>
    <template id="noRepoResult">
      <div>
          <semantic-query
            query="
                SELECT DISTINCT ?repoLabel WHERE {
                  ?? fr:Photo_has_provider_Institution ?repo.
                  ?? a cfc:photo.
                  ?repo skos:prefLabel ?repoLabel.
                }"
            template="{{> fcLabelTemplate_second}}"
            no-result-template='<div></div>'
          >
            <template id="fcLabelTemplate_second">
                <div>
                    <h4 class="fc-label">
                      <div class="repoLink">
                        {{bindings.0.repoLabel.value}}
                      </div>
                    </h4>
                </div>
            </template>
          </semantic-query>
      </div>
    </template>
  </semantic-query>
[[/if]]
