


    <semantic-search
      id="main-search"
      save-state-in-browser-history="false"
      limit=10000
      relations='[[> SearchSimpleRelations]]'
      search-profile='[[> SearchSimpleProfile]]'
      datasets-config='{"datasetPattern": "", "datasets": [{"label": "PHAROS", "isDefault": true, "alignments": [{"iri": "http://vocab.getty.edu/aat/", "label": "Getty", "isDefault": true}, {"iri": "https://artresearch.net/resource/midas/vocabulary", "label": "MIDAS"}, {"iri": "https://artresearch.net/resource/zeri/vocabulary", "label": "Zeri"}]}]}'
    >
      <div class="search-controls-area">
        <div class="search-bar">
          <pharos-image-search-with-slider
              text-match-help='<b>Traditional Keyword Search.</b> Finds records containing your exact search terms. <semantic-link iri="https://artresearch.net/resource/search-help" fragment="text-match" target="_blank">See search documentation</semantic-link>'
              text-similarity-help='<b>Conceptual Search.</b> Finds records that are thematically related to your search terms, searching across all information and languages. <semantic-link iri="https://artresearch.net/resource/search-help" target="_blank">See search documentation</semantic-link>'
              text-visual-match-help='<b>Visual Concept Search.</b> Finds artworks that visually represent the concept of your search terms, even abstract terms or color in black-and-white photos. <semantic-link iri="https://artresearch.net/resource/search-help" target="_blank">See search documentation</semantic-link>'
              visual-match-help='<b>Near-Exact Copies.</b> Finds duplicates, prints, or different versions of your uploaded image. <semantic-link iri="https://artresearch.net/resource/search-help" target="_blank">See search documentation</semantic-link>'
              visual-similarity-help='<b>Aesthetic Search.</b> Finds artworks with a similar style, mood, or subject matter to your uploaded image. <semantic-link iri="https://artresearch.net/resource/search-help" target="_blank">See search documentation</semantic-link>'

              image-storage='image-search'
              initial-input='{{query}}'
              enable-model-selection='{{enableModelSelection}}'

              domains='[
                {
                  "name": "Artwork",
                  "domainColor": "#70E7C5",
                  "uri": "<https://artresearch.net/resource/custom/fc/work>",
                  "withAi": true,
                  "withImages": true,
                  "withTextualSimilarity": true,
                  "withVisualSimilarity": true,
                  "embeddingParams": {
                    "metadata": {},
                    "visual": {
                      "returnValues": "work",
                      "addMaxWork": true
                    },
                    "metadata_visual": {
                      "joinOn": "uri,work",
                      "returnValues": "uri,work",
                      "addMaxWork": true
                    }
                  }
                },
               {
                 "name": "Photograph",
                 "uri": "<https://artresearch.net/resource/custom/fc/photograph>",
                 "withAi": true,
                 "withImages": true,
                 "domainColor": "#E8756F",
                 "withTextualSimilarity": false,
                 "withVisualSimilarity": true,
                 "embeddingParams": {
                   "metadata": {},
                   "visual": {},
                   "metadata_visual": {}
                 }
               },
               {
                 "name": "Artist",
                 "uri": "<https://artresearch.net/resource/custom/fc/artist>",
                 "domainColor": "#72827E"
               },
               {
                 "name": "Photographer",
                 "uri": "<https://artresearch.net/resource/custom/fc/photographer>",
                 "domainColor": "#E89F6F"
               },
               {
                 "name": "Repository",
                 "uri": "<https://artresearch.net/resource/custom/fc/repository>",
                 "domainColor": "#A09322"
               }
              ]'

              evaluate-on-change='true'
              initial-domain="{{#if domain}}<https://artresearch.net/resource/custom/fc/{{domain}}>{{else}}<https://artresearch.net/resource/custom/fc/work>{{/if}}"
              lock-domain="{{#if lock}}true{{else}}false{{/if}}"
              debounce="600"
              tokenize-lucene-query="true"
              escape-lucene-syntax="false"

              default-slider-value="0"

              default-query-0='
                SELECT ?subject WHERE {
                  ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                  ?subject custom:has_image ?hasImage .
                  BIND(IF(?hasImage, 2, 1) AS ?resultScore) .
                  {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                }
              '

              text-query-0='
                SELECT DISTINCT ?subject WHERE {
                  {
                      SELECT ?subject ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore) as ?score) WHERE {
                        ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                        {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        FILTER(?__textPattern__) .

                        {
                          SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                              ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                              FILTER(?__textPattern__) .
                          }
                          GROUP BY ?subject
                          ORDER BY DESC (?textMaxScore)
                          LIMIT 1
                        }
                      }
                      GROUP BY ?subject
                  }
                }
              '
              text-with-ai-query-0='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                    SELECT DISTINCT ?subject (SUM(?maxScore) AS ?score) (MAX(?photo) AS ?maxPhoto) (GROUP_CONCAT(?matchedModel ; separator=",") AS ?matchType) WHERE {
                      {
                        SELECT ?subject ((0.5 * ?similarity) as ?maxScore) ?matchedModel ?photo {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__token__ .
                                ?uri emb:request_type "text" .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:sensitivity ?__searchSensitivity__ .
                                ?uri emb:score ?similarity .
                                ?uri emb:matchedModel ?matchedModel .
                                    
                                {{#if dataset}}
                                ?uri emb:filterBy "dataset" ;
                                     emb:filterValues "{{dataset}}" .
                                {{/if}}
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject) .
                          BIND(COALESCE(?clip_vit_large_patch14_336_maxScoreUri, ?siglip2_so400m_patch16_naflex_maxScoreUri) AS ?photo) .
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                      } UNION {
                        {
                        SELECT ?subject ((0.5 * ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore))) as ?maxScore) WHERE {
                          ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                          FILTER(?__textPattern__) .

                          {
                            SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                                ?subject crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                                {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                                FILTER(?__textPattern__) .
                            }
                            GROUP BY ?subject
                            ORDER BY DESC (?textMaxScore)
                            LIMIT 1
                          }
                        }
                        GROUP BY ?subject
                        HAVING (?maxScore > 0)
                        }
                        BIND("text_index" AS ?matchedModel) .
                      }
                    }
                    GROUP BY ?subject
                  }
                }
              '

              text-ai-query-0='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?photo AS ?maxPhoto) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__token__ .
                                ?uri emb:request_type "text" .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity ?__searchSensitivity__ .
                                ?uri emb:matchedModel ?matchedModel .
                               
                                {{#if dataset}}
                                ?uri emb:filterBy "dataset" ;
                                     emb:filterValues "{{dataset}}" .
                                {{/if}}
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)
                          BIND(COALESCE(?clip_vit_large_patch14_336_maxScoreUri, ?siglip2_so400m_patch16_naflex_maxScoreUri) AS ?photo) .

                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }
              '

              image-query-0='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?photo AS ?maxPhoto) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__data__ .
                                ?uri emb:request_type ?__dataType__ .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity "near-exact" .
                                ?uri emb:matchedModel ?matchedModel .
                             
                                {{#if dataset}}
                                ?uri emb:filterBy "dataset" ;
                                     emb:filterValues "{{dataset}}" .
                                {{/if}}
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)
                          BIND(COALESCE(?clip_vit_large_patch14_336_sift_rerank_maxScoreUri, ?siglip2_so400m_patch16_naflex_sift_rerank_maxScoreUri, ?clip_vit_large_patch14_336_maxScoreUri, ?siglip2_so400m_patch16_naflex_maxScoreUri) AS ?photo) .

                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }'


              image-ai-query-0='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?photo AS ?maxPhoto) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__data__ .
                                ?uri emb:request_type ?__dataType__ .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity ?__searchSensitivity__ .
                                ?uri emb:matchedModel ?matchedModel .
                                
                                {{#if dataset}}
                                ?uri emb:filterBy "dataset" ;
                                     emb:filterValues "{{dataset}}" .
                                {{/if}}
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)
                          BIND(COALESCE(?clip_vit_large_patch14_336_sift_rerank_maxScoreUri, ?siglip2_so400m_patch16_naflex_sift_rerank_maxScoreUri, ?clip_vit_large_patch14_336_maxScoreUri, ?siglip2_so400m_patch16_naflex_maxScoreUri) AS ?photo) .

                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }
              '
              image-with-ai-query-0='
              PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?photo AS ?maxPhoto) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__data__ .
                                ?uri emb:request_type ?__dataType__ .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity ?__searchSensitivity__ .
                                ?uri emb:matchedModel ?matchedModel .
                                     
                                {{#if dataset}}
                                ?uri emb:filterBy "dataset" ;
                                     emb:filterValues "{{dataset}}" .
                                {{/if}}
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)
                          BIND(COALESCE(?clip_vit_large_patch14_336_sift_rerank_maxScoreUri, ?siglip2_so400m_patch16_naflex_sift_rerank_maxScoreUri, ?clip_vit_large_patch14_336_maxScoreUri, ?siglip2_so400m_patch16_naflex_maxScoreUri) AS ?photo) .

                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }'

          default-query-1='
            SELECT ?subject WHERE {
              ?subject crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph>  .
              ?subject custom:has_image ?hasImage .
              BIND(IF(?hasImage, 2, 1) AS ?score) .
              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
            }
          '

              text-query-1='
                SELECT DISTINCT ?subject WHERE {
                  {
                      SELECT ?subject ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore) as ?score) WHERE {
                        ?subject crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph>  .
                        {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        FILTER(?__textPattern__) .

                        {
                          SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                              ?subject crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph>  .
                              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                              FILTER(?__textPattern__) .
                          }
                          GROUP BY ?subject
                          ORDER BY DESC (?textMaxScore)
                          LIMIT 1
                        }
                      }
                      GROUP BY ?subject
                  }
                }
              '
              text-with-ai-query-1='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                    SELECT DISTINCT ?subject (SUM(?maxScore) AS ?score) (GROUP_CONCAT(?matchedModel ; separator=",") AS ?matchType) WHERE {
                      {
                        SELECT ?subject ((0.5 * ?similarity) as ?maxScore) ?matchedModel ?photo {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__token__ .
                                ?uri emb:request_type "text" .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:sensitivity ?__searchSensitivity__ .
                                ?uri emb:score ?similarity .
                                ?uri emb:matchedModel ?matchedModel .
                                    
                                {{#if dataset}}
                                ?uri emb:filterBy "dataset" ;
                                    emb:filterValues "{{dataset}}" .
                                {{/if}}
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject) .
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                      } UNION {
                        {
                        SELECT ?subject ((0.5 * ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore))) as ?maxScore) WHERE {
                          ?subject crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph>  .
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                          FILTER(?__textPattern__) .

                          {
                            SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                              ?subject crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph>  .
                              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                                FILTER(?__textPattern__) .
                            }
                            GROUP BY ?subject
                            ORDER BY DESC (?textMaxScore)
                            LIMIT 1
                          }
                        }
                        GROUP BY ?subject
                        HAVING (?maxScore > 0)
                        }
                        BIND("text_index" AS ?matchedModel) .
                      }
                    }
                    GROUP BY ?subject
                  }
                }
              '

              text-ai-query-1='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__token__ .
                                ?uri emb:request_type "text" .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity ?__searchSensitivity__ .
                                ?uri emb:matchedModel ?matchedModel .
                              
                                {{#if dataset}}
                                ?uri emb:filterBy "dataset" ;
                                    emb:filterValues "{{dataset}}" .
                                {{/if}}
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }
              '

              image-query-1='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__data__ .
                                ?uri emb:request_type ?__dataType__ .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity "near-exact" .
                                ?uri emb:matchedModel ?matchedModel .
                            
                                {{#if dataset}}
                                ?uri emb:filterBy "dataset" ;
                                    emb:filterValues "{{dataset}}" .
                                {{/if}}
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }'


              image-ai-query-1='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__data__ .
                                ?uri emb:request_type ?__dataType__ .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity ?__searchSensitivity__ .
                                ?uri emb:matchedModel ?matchedModel .
                                
                                {{#if dataset}}
                                ?uri emb:filterBy "dataset" ;
                                    emb:filterValues "{{dataset}}" .
                                {{/if}}
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }
              '
              image-with-ai-query-1='
                PREFIX emb: <https://artresearch.net/embeddings/>
                SELECT DISTINCT ?subject WHERE {
                  {
                        SELECT ?subject (?similarity as ?score) (?matchedModel AS ?matchType) {
                          SERVICE <http://usearch-search.private:8545/sparql> {
                            SELECT * {
                              SERVICE emb:search {
                                ?uri emb:data ?__data__ .
                                ?uri emb:request_type ?__dataType__ .
                                FILTER(?__embeddingPattern__)
                                ?uri emb:score ?similarity .
                                ?uri emb:sensitivity ?__searchSensitivity__ .
                                ?uri emb:matchedModel ?matchedModel .
                                     
                                {{#if dataset}}
                                ?uri emb:filterBy "dataset" ;
                                     emb:filterValues "{{dataset}}" .
                                {{/if}}
                              }
                            } LIMIT 1000
                          }
                          BIND(?uri as ?subject)
                          {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        }
                  }
                }
              '



          default-query-2='
            SELECT ?subject WHERE {
              ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
              ?work crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?subject .
              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
            }
          '

          text-query-2='
            SELECT DISTINCT ?subject WHERE {
              {
                      SELECT ?subject ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore) as ?score) WHERE {
                        ?work crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?subject .
                        {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        FILTER(?__textPattern__) .

                        {
                          SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                              ?work crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?subject .
                              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                              FILTER(?__textPattern__) .
                          }
                          GROUP BY ?subject
                          ORDER BY DESC (?textMaxScore)
                          LIMIT 1
                        }
                      }
                      GROUP BY ?subject
                  }
                  ?work crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?subject .
          }'


          default-query-3='
            SELECT ?subject WHERE {
              ?work crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph> .
              ?work crm:P108i_was_produced_by/crm:P14_carried_out_by/crm:P107i_is_current_or_former_member_of? ?subject .
            }
          '

          text-query-3='
            SELECT DISTINCT ?subject WHERE {
              {
                      SELECT ?subject ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore) as ?score) WHERE {
                        ?work crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph> .
                        ?work crm:P108i_was_produced_by/crm:P14_carried_out_by/crm:P107i_is_current_or_former_member_of? ?subject .
                        {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        FILTER(?__textPattern__) .

                        {
                          SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                              ?work crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph> .
                              ?work crm:P108i_was_produced_by/crm:P14_carried_out_by/crm:P107i_is_current_or_former_member_of? ?subject .
                              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                              FILTER(?__textPattern__) .
                          }
                          GROUP BY ?subject
                          ORDER BY DESC (?textMaxScore)
                          LIMIT 1
                        }
                      }
                      GROUP BY ?subject
                  }
                ?work crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/photograph> .
                ?work crm:P108i_was_produced_by/crm:P14_carried_out_by/crm:P107i_is_current_or_former_member_of? ?subject .

          }'

          default-query-4='
            SELECT ?subject WHERE {
              ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
              ?work crm:P50_has_current_keeper ?subject .
            }
          '

          text-query-4='
            SELECT DISTINCT ?subject WHERE {
              {
                      SELECT ?subject ((?__textScoreSumPattern__) / SAMPLE(?textMaxScore) as ?score) WHERE {
                        ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                        ?work crm:P50_has_current_keeper ?subject .
                        {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                        FILTER(?__textPattern__) .

                        {
                          SELECT ((?__textScoreSumPattern__) AS ?textMaxScore) WHERE {
                              ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                              ?work crm:P50_has_current_keeper ?subject .
                              {{#if searchRestrictions}}{{searchRestrictions}}{{/if}}
                              FILTER(?__textPattern__) .
                          }
                          GROUP BY ?subject
                          ORDER BY DESC (?textMaxScore)
                          LIMIT 1
                        }
                      }
                      GROUP BY ?subject
                  }
                  ?work crm:P2_has_type <http://vocab.getty.edu/aat/300133025> .
                  ?work crm:P50_has_current_keeper ?subject .

          }'
            >
            </pharos-image-search-with-slider>

            [[!--
            <semantic-search-configuration-editor></semantic-search-configuration-editor>
            --]]
        </div>
      </div>
      <div class="search-content-area">
        <div class="facets-area">
          <div>
            <semantic-search-facet open-by-default='true' sortby='count-desc' facet-values-threshold="5000"
            default-value-queries='{
              "resource": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE { FILTER(?__facetRelationPattern__) } GROUP BY ?value ORDER BY DESC(?count)",
              "literal": "SELECT ?literal (COUNT(DISTINCT $subject) AS ?count) WHERE { FILTER(?__facetRelationPattern__) } GROUP BY ?literal ORDER BY DESC(?count)"
            }'
            value-relations='{
              "<https://artresearch.net/resource/fr/Work_from_Place>": {
                "kind":"hierarchy",
                "valuesQuery": "SELECT ?value WHERE {?subject crm:P55_has_current_location ?value .}",
                "queryPattern": "{
                    ?subject crm:P55_has_current_location ?place .
                    ?place crm:P89_falls_within* ?__value__ .
                    ?place ^custom:sameAs?/crm:P2_has_type/crm:P127_has_broader_term* <https://artresearch.net/resource/pharos/vocab/meta/geographical_entity> .
                }",
                "parentsPattern": "{
                    ?value crm:P89_falls_within ?parent .
                }",
                "childrenPattern": "{
                    ?value crm:P89i_contains ?child .
                }",
                "searchPattern": "{ ?text ql:contains-entity ?value; ql:contains-word ?__token__. }"
  						},
              "<https://artresearch.net/resource/fr/Work_created_by_Artist>": {
                "kind":"hierarchy",
                "valuesQuery": "SELECT ?value WHERE {?subject crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?value .}",
                "queryPattern": "{
                    ?subject crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by ?__value__.
                  }",
                "parentsPattern": "{
                  ?value crm:PXX ?parent .
                 }",
                "childrenPattern": "{
                  ?child crm:PXX ?value .
                }",
                "searchPattern": "{ ?text ql:contains-entity ?value; ql:contains-word ?__token__. }"
  						},
              "<https://artresearch.net/resource/fr/Work_has_Image>": {
                "kind": "resource",
                "valuesQuery": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE {
                OPTIONAL { ?subject custom:has_image ?has } . BIND(IF((BOUND(?has) && ?has = true), <http://www.w3.org/2001/XMLSchema#yes>, <http://www.w3.org/2001/XMLSchema#no>) AS ?value) . } GROUP BY ?value ORDER BY DESC(?count)"
              },
              "<https://artresearch.net/resource/fr/Photo_has_Image>": {
                "kind": "resource",
                "valuesQuery": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE {
                OPTIONAL { ?subject custom:has_image ?has } . BIND(IF((BOUND(?has) && ?has = true), <http://www.w3.org/2001/XMLSchema#yes>, <http://www.w3.org/2001/XMLSchema#no>) AS ?value) . } GROUP BY ?value ORDER BY DESC(?count)"
              },
              "<https://artresearch.net/resource/fr/Repository_from_Place>": {
                "kind":"hierarchy",
                "valuesQuery": "SELECT ?value WHERE {?subject crm:P74_has_current_or_former_residence ?value .}",
                "queryPattern": "{
                    ?subject crm:P74_has_current_or_former_residence/crm:P89_falls_within* ?__value__ .
                }",
                "parentsPattern": "{
                    ?value crm:P89_falls_within ?parent .
                }",
                "childrenPattern": "{
                    ?value crm:P89i_contains ?child .
                }",
                "searchPattern": "{ ?text ql:contains-entity ?value; ql:contains-word ?__token__. }"
  						}
                             [[!--
              "<https://artresearch.net/custom/is_matched_artworks>": {
                "kind": "resource",
                "valuesQuery": "SELECT ?value (COUNT(DISTINCT $subject) AS ?count) WHERE {
                OPTIONAL { ?subject custom:is_matched_artworks ?has } . BIND(IF(?has = true, <http://www.w3.org/2001/XMLSchema#yes>, <http://www.w3.org/2001/XMLSchema#no>) AS ?value) . } GROUP BY ?value ORDER BY DESC(?count)"
              },
              "<https://artresearch.net/custom/number_of_matched_artworks>": {
                "kind": "numeric-range",
                "valuesQuery": "SELECT ?numericRangeBeginValue ?numericRangeEndValue WHERE { ?subject <https://artresearch.net/custom/number_of_matched_artworks> ?value . BIND(?value as ?numericRangeBeginValue). BIND(?value as ?numericRangeEndValue) . }"
              }
--]]
            }'


          >
          </semantic-search-facet>
          </div>
        </div>
        <div class="results-area">
          <semantic-search-result-holder>
            <div class='search-result-holder'>
              <!-- <p class="bold-text">filters</p> -->
              <semantic-search-facet-breadcrumbs>

              </semantic-search-facet-breadcrumbs>

              <mp-event-proxy id='search-results-refresh' on-event-source='main-search' on-event-type='Search.DomainSelected'
                    proxy-event-type='Component.TemplateUpdate' proxy-targets='["search-result-template"]'
              ></mp-event-proxy>

               <mp-event-target-template-render id='search-result-template' template='{{> template}}'>
                  <template id='template'>
                    {{#if (eq domain "https://artresearch.net/resource/custom/fc/work")}}
                    <bs-tab-container default-active-key="work-list">
                      <div class='search-tab-container'>
                        <div class='search-tab-container--header-row'>
                          <semantic-search-result>
                            <semantic-query
                                            id="result-count"
                                            query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {}'
                                            template="{{>currentResultCount}}"
                                            >
                              <template id="currentResultCount">
                                <p><span class="bold-text">results</span> {{bindings.0.count.value}}</p>
                              </template>
                            </semantic-query>
                          </semantic-search-result>
  
                          <bs-nav class="icon-tabs">
                            <bs-nav-item event-key="work-list" title="List View">
                              <rs-icon icon-type="sharp" icon-name="view_list"></rs-icon>
                            </bs-nav-item>
                            <bs-nav-item event-key="work-grid" title="Grid View">
                              <rs-icon icon-type="sharp" icon-name="view_module"></rs-icon>
                            </bs-nav-item>
                            <bs-nav-item event-key="work-image-grid" title="Image View">
                              <rs-icon icon-type="sharp" icon-name="image"></rs-icon>
                            </bs-nav-item>
                          </bs-nav>
                        </div>
                       <bs-tab-content animation="true" mount-on-enter='true'>
                         <bs-tab-pane event-key="work-list" class="work-list-pane">
                          <semantic-search-result>
                            <semantic-query
                              id="grid-result"
                              prefetch-labels="false"
                              query='SELECT DISTINCT ?domain ?subject ?maxPhoto ?matchType WHERE {
                              } ORDER BY DESC(?score) DESC(?subject) LIMIT 10000'
                              template="{{> subjectCellTemplate}}"
                              no-result-template='[[> CardNoResult ]]'
                            >
                              <template id="subjectCellTemplate">
                                <div class="scrolable-area">
                                  <infinite-scroll item-height="250"  item-per-row="1" item-width="600" batch-size="20" values='{{stringify bindings}}' profile="artwork-card">
                                    <template id='template'>
                                      <div class="result-item karla-regular">
                                        {{#each this}}
                                          {{> Default:CardArtwork photo=maxPhoto.value provider=provider matchType=matchType}}
                                        {{/each}}
                                      </div>
                                    </template>
                                  </infinite-scroll>
                                </div>
                              </template>
                            </semantic-query>
                           </semantic-search-result>
                         </bs-tab-pane>
                         <bs-tab-pane event-key="work-grid" class="work-grid-pane">
                           <semantic-search-result>
                              <semantic-query
                                id="grid-result"
                                prefetch-labels="false"
                                query='SELECT DISTINCT ?domain ?subject ?maxPhoto ?matchType WHERE {
                                } ORDER BY DESC(?score) DESC(?subject) LIMIT 10000'
                                template="{{> subjectCellTemplate}}"
                                no-result-template='[[> CardNoResult ]]'
                              >
                                <template id="subjectCellTemplate">
                                  <div class="scrolable-area">
                                    <infinite-scroll item-height="250"  item-per-row="auto" item-width="550" batch-size="20" values='{{stringify bindings}}' profile="artwork-card">
                                      <template id='template'>
                                        <div class="result-item karla-regular">
                                          {{#each this}}
                                            {{> Default:CardArtwork photo=maxPhoto.value provider=provider matchType=matchType}}
                                          {{/each}}
                                        </div>
                                      </template>
                                    </infinite-scroll>
                                  </div>
                                </template>
                              </semantic-query>
                            </semantic-search-result>
                         </bs-tab-pane>
												 <bs-tab-pane event-key="work-image-grid" class="work-image-grid-pane">
                            <semantic-search-result>
                              <semantic-query
                                id="grid-result"
                                prefetch-labels="false"
                                query='SELECT DISTINCT ?domain ?subject ?maxPhoto ?matchType WHERE {
                                } ORDER BY DESC(?score) DESC(?subject) LIMIT 10000'
                                template="{{> subjectCellTemplate}}"
                                no-result-template='[[> CardNoResult ]]'
                              >
                                <template id="subjectCellTemplate">
                                  <div class="scrolable-area">
                                    <infinite-scroll item-height="200" item-per-row="auto" item-width="200" batch-size="40" values='{{stringify bindings}}' profile="artwork-card">
                                      <template id='template'>
                                        <div class="result-item karla-regular">
                                          {{#each this}}
                                            {{> Default:CardArtworkThumbnail photo=maxPhoto.value provider=provider matchType=matchType}}
                                          {{/each}}
                                        </div>
                                      </template>
                                    </infinite-scroll>
                                  </div>
                                </template>
                              </semantic-query>
                            </semantic-search-result>
                         </bs-tab-pane>
                       </bs-tab-content>
                      </div>
                    </bs-tab-container>
                    
                   
                    {{else if (eq domain "https://artresearch.net/resource/custom/fc/photograph")}}
                    <bs-tab-container default-active-key="work-list">
                      <div class='search-tab-container'>
                        <div class='search-tab-container--header-row'>
                          <semantic-search-result>
                            <semantic-query
                                            id="result-count"
                                            query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {}'
                                            template="{{>currentResultCount}}"
                                            >
                              <template id="currentResultCount">
                                <p><span class="bold-text">results</span> {{bindings.0.count.value}}</p>
                              </template>
                            </semantic-query>
                          </semantic-search-result>
  
                          <bs-nav class="icon-tabs">
                            <bs-nav-item event-key="work-list" title="List View">
                              <rs-icon icon-type="sharp" icon-name="view_list"></rs-icon>
                            </bs-nav-item>
                            <bs-nav-item event-key="work-grid" title="Grid View">
                              <rs-icon icon-type="sharp" icon-name="view_module"></rs-icon>
                            </bs-nav-item>
                            <bs-nav-item event-key="work-image-grid" title="Image View">
                              <rs-icon icon-type="sharp" icon-name="image"></rs-icon>
                            </bs-nav-item>
                          </bs-nav>
                        </div>
                       <bs-tab-content animation="true" mount-on-enter='true'>
                         <bs-tab-pane event-key="work-list" class="work-list-pane">
                          <semantic-search-result>
                            <semantic-query
                              id="grid-result"
                              prefetch-labels="false"
                              query='SELECT DISTINCT ?subject ?matchType WHERE { } ORDER BY DESC(?score) DESC(?subject) LIMIT 2000'
                              template="{{> subjectCellTemplate}}"
                              no-result-template='[[> CardNoResult ]]'
                            >
                              <template id="subjectCellTemplate">
                                <div class="scrolable-area">
                                  <infinite-scroll item-height="250" item-per-row="1" item-width="600" batch-size="20" values='{{stringify bindings}}' profile="photograph-card">
                                    <template id='template'>
                                      <div class="result-item karla-regular">
                                        {{#each this}}
                                          {{> Default:CardPhotograph matchType=matchType}}
                                        {{/each}}
                                      </div>
                                    </template>
                                  </infinite-scroll>
                                </div>
                              </template>
                            </semantic-query>
                           </semantic-search-result>
                         </bs-tab-pane>
                         <bs-tab-pane event-key="work-grid" class="work-grid-pane">
                           <semantic-search-result>
                              <semantic-query
                                id="grid-result"
                                prefetch-labels="false"
                                query='SELECT DISTINCT ?subject ?matchType WHERE { } ORDER BY DESC(?score) DESC(?subject) LIMIT 2000'
                                template="{{> subjectCellTemplate}}"
                                no-result-template='[[> CardNoResult ]]'
                              >
                                <template id="subjectCellTemplate">
                                  <div class="scrolable-area">
                                    <infinite-scroll item-height="250"  item-per-row="auto" item-width="550" batch-size="20" values='{{stringify bindings}}' profile="photograph-card">
                                      <template id='template'>
                                        <div class="result-item karla-regular">
                                          {{#each this}}
                                            {{> Default:CardPhotograph matchType=matchType}}
                                          {{/each}}
                                        </div>
                                      </template>
                                    </infinite-scroll>
                                  </div>
                                </template>
                              </semantic-query>
                            </semantic-search-result>
                         </bs-tab-pane>
												 <bs-tab-pane event-key="work-image-grid" class="work-image-grid-pane">
                            <semantic-search-result>
                              <semantic-query
                                id="grid-result"
                                prefetch-labels="false"
                                query='SELECT DISTINCT ?subject ?matchType WHERE { } ORDER BY DESC(?score) DESC(?subject) LIMIT 2000'
                                template="{{> subjectCellTemplate}}"
                                no-result-template='[[> CardNoResult ]]'
                              >
                                <template id="subjectCellTemplate">
                                  <div class="scrolable-area">
                                    <infinite-scroll item-height="200" item-per-row="auto" item-width="200" batch-size="40" values='{{stringify bindings}}' profile="photograph-card">
                                      <template id='template'>
                                        <div class="result-item karla-regular">
                                          {{#each this}}
                                            {{> Default:CardPhotographThumbnail matchType=matchType}}
                                          {{/each}}
                                        </div>
                                      </template>
                                    </infinite-scroll>
                                  </div>
                                </template>
                              </semantic-query>
                            </semantic-search-result>
                         </bs-tab-pane>
                       </bs-tab-content>
                      </div>
                    </bs-tab-container>
                    {{else if (eq domain "https://artresearch.net/resource/custom/fc/artist")}}
                    <div class='search-tab-container'>
                      <div class='search-tab-container--header-row'>
                        <semantic-search-result>
                          <semantic-query
                                          id="result-count"
                                          query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {}'
                                          template="{{>currentResultCount}}"
                                          >
                            <template id="currentResultCount">
                              <p><span class="bold-text">results</span> {{bindings.0.count.value}}</p>
                            </template>
                          </semantic-query>
                        </semantic-search-result>
                      </div>
                      <semantic-search-result>
                      <semantic-query
                        id="grid-result"
                        prefetch-labels="false"
                        query='SELECT DISTINCT ?subject (COUNT(DISTINCT ?work) AS ?worksCount) WHERE { } GROUP BY ?subject ORDER BY DESC(?score) DESC(?worksCount) LIMIT 2000'
                        template="{{> subjectCellTemplate}}"
                        no-result-template='[[> CardNoResult ]]'
                      >
                        <template id="subjectCellTemplate">
                          <div class="scrolable-area">
                            <infinite-scroll item-height="100" item-per-row="1" item-width="500" batch-size="20" values='{{stringify bindings}}' profile="artist-card">
                              <template id='template'>
                                <div class="result-item  karla-regular">
                                  {{#each this}}
                                    {{> Default:CardArtist}}
                                  {{/each}}
                                </div>
                              </template>
                            </infinite-scroll>
                          </div>
                        </template>
                      </semantic-query>
                    </semantic-search-result>
                    </div>
                    {{else if (eq domain "https://artresearch.net/resource/custom/fc/repository")}}
                    <div class='search-tab-container'>
                      <div class='search-tab-container--header-row'>
                        <semantic-search-result>
                          <semantic-query
                                          id="result-count"
                                          query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {}'
                                          template="{{>currentResultCount}}"
                                          >
                            <template id="currentResultCount">
                              <p><span class="bold-text">results</span> {{bindings.0.count.value}}</p>
                            </template>
                          </semantic-query>
                        </semantic-search-result>
                      </div>
                    <semantic-search-result>
                        <semantic-query
                          id="grid-result"
                          prefetch-labels="false"
                          query='SELECT DISTINCT ?subject (COUNT(DISTINCT ?work) AS ?worksCount) WHERE { } GROUP BY ?subject ORDER BY DESC(?score) DESC(?worksCount) LIMIT 2000'
                          template="{{> subjectCellTemplate}}"
                          no-result-template='[[> CardNoResult ]]'
                        >
                          <template id="subjectCellTemplate">
                            <div class="scrolable-area">
                              <infinite-scroll item-height="100" item-per-row="1" item-width="500" batch-size="20" values='{{stringify bindings}}' profile="repository-card">
                                <template id='template'>
                                  <div class="result-item karla-regular">
                                    {{#each this}}
                                      {{> Default:CardRepository}}
                                    {{/each}}
                                  </div>
                                </template>
                              </infinite-scroll>
                           </div>
                          </template>
                        </semantic-query>
                    </semantic-search-result>
                    </div>
                    {{else if (eq domain "https://artresearch.net/resource/custom/fc/photographer")}}
                    <div class='search-tab-container'>
                      <div class='search-tab-container--header-row'>
                        <semantic-search-result>
                          <semantic-query
                                          id="result-count"
                                          query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {}'
                                          template="{{>currentResultCount}}"
                                          >
                            <template id="currentResultCount">
                              <p><span class="bold-text">results</span> {{bindings.0.count.value}}</p>
                            </template>
                          </semantic-query>
                        </semantic-search-result>
                      </div>
                    <semantic-search-result>
                      <semantic-query
                        id="grid-result"
                        prefetch-labels="false"
                        query='SELECT DISTINCT ?subject (COUNT(DISTINCT ?work) AS ?worksCount) WHERE { } GROUP BY ?subject ORDER BY DESC(?score) DESC(?worksCount) LIMIT 2000'
                        template="{{> subjectCellTemplate}}"
                        no-result-template='[[> CardNoResult ]]'
                      >
                        <template id="subjectCellTemplate">
                          <div class="scrolable-area">
                            <infinite-scroll item-height="100" item-per-row="1" item-width="500" batch-size="20" values='{{stringify bindings}}' profile="artist-card">
                              <template id='template'>
                                <div class="result-item karla-regular">
                                  {{#each this}}
                                    {{> Default:CardArtist}}
                                  {{/each}}
                                </div>
                              </template>
                            </infinite-scroll>
                          </div>
                        </template>
                      </semantic-query>
                    </semantic-search-result>
                    </div>
                    {{/if}}
                    </template>
               </mp-event-target-template-render>
            </div>
          </semantic-search-result-holder>
        </div>
      </div>
    </semantic-search>
