<div class="workAndProductionInfo">
  <!-- Fields for Work (Artwork or photograph) -->
  <mp-field-visualization
    subject="[[this]]"
    additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
    fields='[[fieldDefinitions  
    Title="https://pharos.artresearch.net/fieldDefinition/2" 
    Type="https://pharos.artresearch.net/fieldDefinition/550" 
    Culture="https://pharos.artresearch.net/fieldDefinition/5" 
    Subject="https://pharos.artresearch.net/fieldDefinition/46" 
    SubjectDescription="https://pharos.artresearch.net/fieldDefinition/62" 
    Collection="https://pharos.artresearch.net/fieldDefinition/4" 
    Repository="https://pharos.artresearch.net/fieldDefinition/Repository" 
    CurrentLocation="https://pharos.artresearch.net/fieldDefinition/93" 
    MuseumCreditLine="https://pharos.artresearch.net/fieldDefinition/71" 
    Dimensions="https://pharos.artresearch.net/fieldDefinition/6" 
    ColorInformation="https://pharos.artresearch.net/fieldDefinition/67" 
    Material="https://pharos.artresearch.net/fieldDefinition/44" 
    Inscription="https://pharos.artresearch.net/fieldDefinition/33" 
    StateofPreservation="https://pharos.artresearch.net/fieldDefinition/203" 
    ConditionAssessmentDescription="https://pharos.artresearch.net/fieldDefinition/68" 
    IconclassInformation="https://pharos.artresearch.net/fieldDefinition/92"
    Artwork="https://pharos.artresearch.net/fieldDefinition/301"
    ]]'
    template="{{>workInfo}}"
  >
    <template id="workInfo">
      {{#if noData}}
      {{else}}
      <div class="workInfoContainer">
        <h2>Work info</h2>
        [[> rsp:ResourceFieldBasedVisualization subject=[[this]]
        showSourceIcon="true" ]]
      </div>
      {{/if}}
    </template>
  </mp-field-visualization>

  <!-- Fields for Production -->
  <mp-field-visualization
    subject="[[this]]"
    additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
    fields='[[fieldDefinitions  
  Creator="https://pharos.artresearch.net/fieldDefinition/1"
  Photographer="https://pharos.artresearch.net/fieldDefinition/123"
  ProductionParticipant="https://pharos.artresearch.net/fieldDefinition/73" 
  InfluencedBy="https://pharos.artresearch.net/fieldDefinition/20" 
  AttributionReason="https://pharos.artresearch.net/fieldDefinition/204" 
  AttributionNotes="https://pharos.artresearch.net/fieldDefinition/17" 
  ProductionDate="https://pharos.artresearch.net/fieldDefinition/8" 
  ProductionDateCentury="https://pharos.artresearch.net/fieldDefinition/78" 
  ProductionDatePartofCentury="https://pharos.artresearch.net/fieldDefinition/79" 
  ProductionDateAlternative="https://pharos.artresearch.net/fieldDefinition/146" 
  ProductionPlace="https://pharos.artresearch.net/fieldDefinition/145" 
  Technique="https://pharos.artresearch.net/fieldDefinition/42" 
  Attributions="https://pharos.artresearch.net/fieldDefinition/277" 
  ProductionType="https://pharos.artresearch.net/fieldDefinition/278" 
  ]]'
    template="{{>productionInfo}}"
  >
    <template id="productionInfo">
      {{#if noData}}
      <div class="productionInfoContainer">
      <!-- Photographs detailed information -->
        [[> rsp:PhotographTable]]
      </div>
      {{else}}
      <div class="productionInfoContainer">
        <h2>Production info</h2>
        [[> rsp:ResourceFieldBasedVisualization subject=[[this]]
        showSourceIcon="true" ]]
      [[> rsp:PhotographTable]]
      </div>

      {{/if}}
        
    </template>
  </mp-field-visualization>

  <!-- General fields -->
  <mp-field-visualization
    subject="[[this]]"
    additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
    fields='[[fieldDefinitions  
  Identifiers="https://pharos.artresearch.net/fieldDefinition/19" 
  HistoryofOwnership="https://pharos.artresearch.net/fieldDefinition/39" 
  PastOwnership="https://pharos.artresearch.net/fieldDefinition/18" 
  AcquisitionTimespan="https://pharos.artresearch.net/fieldDefinition/16" 
  AcquisitionType="https://pharos.artresearch.net/fieldDefinition/56" 
  Formerlocation="https://pharos.artresearch.net/fieldDefinition/205" 
  Exhibition="https://pharos.artresearch.net/fieldDefinition/37" 
  ExhibitionDescription="https://pharos.artresearch.net/fieldDefinition/34" 
  Modification="https://pharos.artresearch.net/fieldDefinition/90" 
  Destruction="https://pharos.artresearch.net/fieldDefinition/14" 
  Transformation="https://pharos.artresearch.net/fieldDefinition/15" 
  UseRestrictions="https://pharos.artresearch.net/fieldDefinition/201"
  RightHolder="https://pharos.artresearch.net/fieldDefinition/140"
  RightType="https://pharos.artresearch.net/fieldDefinition/45"
  Bibliography="https://pharos.artresearch.net/fieldDefinition/69"
  SourcedDocumentationDescription="https://pharos.artresearch.net/fieldDefinition/70"
  RelatedWorksDescription="https://pharos.artresearch.net/fieldDefinition/74"
  DescriptiveNotes="https://pharos.artresearch.net/fieldDefinition/128"
  CuratorialNote="https://pharos.artresearch.net/fieldDefinition/81"
  HasPart="https://pharos.artresearch.net/fieldDefinition/91"
  IsPartOf="https://pharos.artresearch.net/fieldDefinition/94"
  WorkLocation = "https://pharos.artresearch.net/fieldDefinition/geonames_name"
  ]]'
    template="{{>generalInfo}}"
  >
    <template id="generalInfo">
      {{#if noData}}
      {{else}}
      <div class="workInfoContainer">
        <h2>Other details</h2>
        [[> rsp:ResourceFieldBasedVisualization subject=[[this]]
        showSourceIcon="true" ]]
        
        <div style="height: 25vh;">
          <semantic-map
            query=" PREFIX osm: <http://www.metaphacts.com/ontologies/osm#>
    PREFIX wdt: <http://www.wikidata.org/prop/direct/>
    PREFIX wd: <http://www.wikidata.org/entity/>
    SELECT ?lat ?lng WHERE {
      {
        ?subject owl:sameAs ??.
      } UNION {
        BIND (?? AS ?subject)
        ?subject owl:sameAs ?pharos.
        ?pharos crm:P2_has_type <https://pharos.artresearch.net/resource/type/pharos>.
      }
      ?subject crm:P50_has_current_keeper <https://pharos.artresearch.net/resource/zeri/actor/TOL5YBPD>.
      <https://pharos.artresearch.net/resource/zeri/actor/TOL5YBPD> crm:P74_has_current_or_former_residence ?location.
      ?location owl:sameAs ?geonames.
      ?geonames <http://www.w3.org/2003/01/geo/wgs84_pos#lat> ?lat .
      ?geonames <http://www.w3.org/2003/01/geo/wgs84_pos#long> ?lng .

    } LIMIT 1"
          >
          </semantic-map> 
        </div>
      </div>
      {{/if}}
    </template>
  </mp-field-visualization>
</div>
