<div class='page page--assertion'>
    
      <h1>
        Assertion
      </h1>
      <label>Title</label>
      <p>
      	[[singleValueFromSelect "SELECT ?title WHERE { ?? rdfs:label ?title }"]]
      </p>
      <label>Description</label>
      <p>
        [[#if (ask "ASK { ?? crm:P3_has_note ?description }")]]
      		[[singleValueFromSelect "SELECT ?description WHERE { ?? crm:P3_has_note ?description }"]]
        [[else]]
        	n/a
        [[/if]]
      </p>
      <label>Narrative</label>
      <p>
        [[#if (ask "ASK { ?? crm:P70i_is_documented_in ?narrative }")]]
      		<semantic-link iri='[[singleValueFromSelect "SELECT ?narrative WHERE { ?? crm:P70i_is_documented_in ?narrative }"]]'></semantic-link>
        [[else]]
        	n/a
        [[/if]]
      </p>
     