<h3 style="margin-left: 1.1vw; color:#5a5a5a">
  Current <small style="text-transform:lowercase">per provider</small>
</h3>
<mp-component-toolbar>
  <mp-component-toolbar-actions>
    <semantic-chart-type-selector
      default="donut"
      types='["bar", "pie", "donut"]'
    />
  </mp-component-toolbar-actions>
  <mp-component-toolbar-component>
    <semantic-chart
      type="pie"
      query='
        SELECT DISTINCT ?provider ?count WHERE {
          ## This query returns the most recent count for a specific property
          ## e.g. (number of works) https://pharos.artresearch.net/custom/numOfWorks 
          {
          SELECT (MAX(?d) AS ?date) WHERE {
            ?a <https://pharos.artresearch.net/custom/has_date> ?d.
            } 
          }
          GRAPH <https://pharos.artresearch.net/resource/statistics/namedgraphs/graph> {
          ?x ?y ?z.
          }
          GRAPH ?z {
          ?l <https://pharos.artresearch.net/custom/has_date> ?date.
          ?l <https://pharos.artresearch.net/custom/consists_of> ?n
          
          }
          GRAPH ?n {
            ?provider <[[property]]> ?count
          }
          FILTER(!STRSTARTS(STR(?provider), "https://pharos.artresearch.net/resource/total"))
        } ORDER BY ASC(?provider)
      '
      sets='[{"dataSetName": "[[datasetLabel]]", "category": "provider", "value": "count"}]'
    >
    </semantic-chart>
  </mp-component-toolbar-component>
</mp-component-toolbar>
