<div id="start-page">
  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1 style="margin-left: 13vw" class="display-13">Partner institutions</h1>
    </div>
    <div class="card-list">
      <semantic-link
        iri="https://pharos.artresearch.net/resource/hertziana/source/Hertziana"
      >
        <div class="card">
          <img src="../../assets/images/logos/hertziana.svg" />
          <div class="title">Bibliotheca Hertziana</div>
        </div>
      </semantic-link>
      <semantic-link
        iri="https://pharos.artresearch.net/resource/marburg/source/Marburg"
      >
        <div class="card">
          <img src="../../assets/images/logos/marb.png" />
          <div class="title">Bildarchiv Foto Marburg</div>
        </div>
      </semantic-link>
      <semantic-link
        iri="https://pharos.artresearch.net/resource/zeri/source/Zeri"
      >
        <div class="card">
          <img src="../../assets/images/logos/zeri.png" />
          <div class="title">Fondazione Federico Zeri</div>
        </div>
      </semantic-link>
    </div>
    <div class="card-list">
      <semantic-link
        iri="https://pharos.artresearch.net/resource/frick/source/Frick"
      >
        <div class="card">
          <img src="../../assets/images/logos/frick.png" />
          <div class="title">The Frick Collection</div>
        </div>
      </semantic-link>

      <semantic-link
        iri="https://pharos.artresearch.net/resource/itatti/source/ITatti"
      >
        <div class="card">
          <img src="../../assets/images/logos/itatti.png" />
          <div class="title">I Tatti</div>
        </div>
      </semantic-link>

      <semantic-link
        iri="https://pharos.artresearch.net/resource/khi/source/KHI"
      >
        <div class="card">
          <img src="../../assets/images/logos/khi.png" />
          <div class="title">Kunsthistoricsches Institut in Florenz</div>
        </div>
      </semantic-link>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
</div>
