<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header style="margin-left: 20px">
          <h1>Artworks by I Tatti</h1>
          <h3>
            <i>FotoIndex Dataset</i>
          </h3>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> :artworkfiltersearch type="http://vocab.getty.edu/aat/300133025" provider="https://pharos.artresearch.net/resource/itatti/source/FotoIndex"]]
  </div>
</div>