<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Red Chalk Drawings</h1>
        </header>
      </div>
    </div>
      [[> FilterSearchCollection domain="<https://artresearch.net/resource/fc/work>"  searchQuery=' ?ogs owl:sameAs ?subject. ?subject a fc:work. {   ?subject fr:Work_consists_of_Material <http://vocab.getty.edu/aat/300080064>; crm:P2_has_type <http://vocab.getty.edu/aat/300033973>.}UNION{  ?ogs fr:Work_consists_of_Material <http://vocab.getty.edu/aat/300080064>; crm:P2_has_type <http://vocab.getty.edu/aat/300033973>. }' ]]
  </div>
</div>