<div id="artwork-filter-search-inline">
<semantic-search
  relations='{
    "<https://pharos.artresearch.net/resource/field/Artist_Attribution>":[
    {
      "kind": "resource",
      "queryPattern": "
        {
          $subject <https://pharos.artresearch.net/resource/fr/Work_created_from_Artist> ?__value__
        }"
    }
],
    "<https://pharos.artresearch.net/fieldDefinition/Repository>":[
    {
      "kind": "resource",
      "queryPattern": "
        {
          $subject <http://www.cidoc-crm.org/cidoc-crm/P50_has_current_keeper> ?__value__.
        }"
    }],
    "<https://pharos.artresearch.net/fieldDefinition/46>": [
    {
      "kind": "resource",
      "queryPattern": "
        {
          $subject crm:P65_shows_visual_item ?__value__.
          ?__value__ crm:P2_has_type <http://vocab.getty.edu/aat/300404126>
        }"
    }],
    "<https://pharos.artresearch.net/fieldDefinition/44>": [
    {
      "kind": "resource",
      "queryPattern": "
        {
          $subject crm:P45_consists_of ?__value__.
          ?__value__ a crm:E57_Material.
        }"
    }],
    "<https://pharos.artresearch.net/fieldDefinition/42>": [
    {
      "kind": "resource",
      "queryPattern": "
        {
          $subject crm:P108i_was_produced_by ?production.
          ?production crm:P33_used_specific_technique ?__value__.
        }"
    }],
    "<https://pharos.artresearch.net/resource/fr/Work_from_Place>": [
    {
      "kind": "resource",
      "queryPattern": "
        {
          $subject <https://pharos.artresearch.net/resource/fr/Work_from_Place> ?__value__
        }"
    }]
      }'
  search-profile='{
        "categories":  
        [
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
            "label":"Painter"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "label":"Creator/Institution"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "label":"Artwork"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
            "label":"Concept"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>",
            "label":"Material"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>",
            "label":"Technique"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label":"Location"
          }
        ],
        "relations":
        [
          {
            "iri": "<https://pharos.artresearch.net/resource/field/Artist_Attribution>",
            "label":"Creator",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
          },
          {
            "iri": "<https://pharos.artresearch.net/field/fcrs_Institution>",
            "label":"Institution",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          },
          {
            "iri": "<https://pharos.artresearch.net/fieldDefinition/Repository>",
            "label":"Repository",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          },
          {
            "iri":"<https://pharos.artresearch.net/fieldDefinition/46>",
            "label":"Subject",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
          },
          {
            "iri":"<https://pharos.artresearch.net/fieldDefinition/44>",
            "label":"Material",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>"
          },
          {
            "iri":"<https://pharos.artresearch.net/fieldDefinition/550>",
            "label":"Concept",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
          },
          {
            "iri":"<https://pharos.artresearch.net/fieldDefinition/42>",
            "label":"Technique",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_from_Place>",
            "label":"Location",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
          }
        ]
      }'
>
  <div id="header-search" class="search-page">
    <semantic-form
      new-subject-template="http://www.example.com/switch/actions/{{UUID}}"
      post-action="redirect"
      browser-persistence="true"
      form-id="example-8"
      fields='[
          {
            "id": "switch-action-type",
            "label": "Switch",
            "description": "Allows to select different forms",
            "xsdDatatype": "xsd:anyURI",
            "selectPattern": "SELECT $value WHERE { $subject <http://www.example.com/switch/has-action> $value }",
            "insertPattern": "INSERT { $subject <http://www.example.com/switch/has-action> $value } WHERE {}",
            "deletePattern": "DELETE { $subject <http://www.example.com/switch/has-action> $value } WHERE {}"
          }
        ]'
    >
      <semantic-form-switch
        for="switch-action-type"
        switch-on-field="switch-case-type"
      >
        <semantic-form-switch-case label="All fields">
          <semantic-form-composite-input
            for="switch-action-type"
            new-subject-template="http://www.example.com/switch/action/allfields"
            fields='[
                {
                  "id": "switch-case-type",
                  "xsdDatatype": "xsd:anyURI",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/switch/has-action-type> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/switch/has-action-type> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/switch/has-action-type> ?value } WHERE {}"
                }
              ]'
          >
            <semantic-form-hidden-input
              for="switch-case-type"
              default-value="http://www.example.com/switch/type/send"
            >
            </semantic-form-hidden-input>

            <semantic-search-query-keyword
              domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
              placeholder="Search for any field, a title, repository or any other identifier"
              escape-lucene-syntax="false"
              default-query='
              SELECT DISTINCT ?subject WHERE {
                ?subject a <http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>.
                ?subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ??.
              }LIMIT 100'
              query='
                      SELECT DISTINCT ?subject WHERE {
                        ?subject a <http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>.
                        ?subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ??.
                        ?entity ?p	?someLabel .
                        ?someLabel bds:search ?__token__  .
                        ?someLabel bds:minRelevance "0.3"^^xsd:double;
                        bds:matchAllTerms "true"  .
                      } ORDER BY ?q
                    '
            ></semantic-search-query-keyword>
          </semantic-form-composite-input>
        </semantic-form-switch-case>
        <semantic-form-switch-case label="Title">
          <semantic-form-composite-input
            for="switch-action-type"
            new-subject-template="http://www.example.com/switch/action/title"
            fields='[
                {
                  "id": "switch-case-type",
                  "xsdDatatype": "xsd:anyURI",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/switch/has-action-type> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/switch/has-action-type> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/switch/has-action-type> ?value } WHERE {}"
                }
              ]'
          >
            <semantic-form-hidden-input
              for="switch-case-type"
              default-value="http://www.example.com/switch/type/receive"
            >
            </semantic-form-hidden-input>

            <semantic-search-query-keyword
              domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
              placeholder="Search for a title e.g. Madonna and Chil.."
              escape-lucene-syntax="false"
              default-query='SELECT DISTINCT ?subject WHERE {
                ?subject a <http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>.
                ?subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ??.
               }'
              query='
                      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                      PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                      SELECT DISTINCT ?subject WHERE {
                      ?subject a <http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>.
                      ?subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ??.
                      ?subject crm:P1_is_identified_by ?value. 
                      ?value crm:P2_has_type <http://vocab.getty.edu/aat/300417193> .   
                      ?value rdfs:label ?someLabel.
                      ?someLabel bds:search ?__token__ .
                      ?someLabel bds:minRelevance "0.3"^^xsd:double;
                      bds:matchAllTerms "true"  .
                      BIND( xsd:integer(substr(str(?value), 33)) as ?q)
                      } ORDER BY ?q
                    '
            ></semantic-search-query-keyword>
          </semantic-form-composite-input>
        </semantic-form-switch-case>
        <semantic-form-switch-case label="Repository">
          <semantic-form-composite-input
            for="switch-action-type"
            new-subject-template="http://www.example.com/switch/action/inv.number"
            fields='[
                {
                  "id": "switch-case-type",
                  "xsdDatatype": "xsd:anyURI",
                  "minOccurs": "1",
                  "maxOccurs": "1",
                  "selectPattern": "SELECT ?value WHERE { $subject <http://www.example.com/switch/has-action-type> ?value }",
                  "insertPattern": "INSERT { $subject <http://www.example.com/switch/has-action-type> ?value } WHERE {}",
                  "deletePattern": "DELETE { $subject <http://www.example.com/switch/has-action-type> ?value } WHERE {}"
                }
              ]'
          >
            <semantic-form-hidden-input
              for="switch-case-type"
              default-value="http://www.example.com/switch/type/allfields"
            >
            </semantic-form-hidden-input>

            <semantic-search-query-keyword
              domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
              placeholder="Search for a repository e.g. British Museum"
              escape-lucene-syntax="false"
              default-query='SELECT DISTINCT ?subject WHERE {
                ?subject a <http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>.
                ?subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ??.
               }'
              query='
                      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                      PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                      SELECT DISTINCT ?subject ?someLabel WHERE {
                      ?subject a <http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>.
                      ?subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ??.
                      ?subject crm:P50_has_current_keeper ?value.
                      ?value rdfs:label ?someLabel.
                      ?someLabel bds:search ?__token__ .
                      ?someLabel bds:minRelevance "0.3"^^xsd:double;
                      bds:matchAllTerms "true"  .
                      BIND( xsd:integer(substr(str(?value), 33)) as ?q)
                      } ORDER BY ?q
                    '
            ></semantic-search-query-keyword>
          </semantic-form-composite-input>
        </semantic-form-switch-case>
      </semantic-form-switch>
    </semantic-form>
  </div>
  <div class="row">
    <bs-col
      lg="3"
      md="4"
      sm="5"
      class="fade-in-fwd filters-container"
      style="margin-top: 8px"
    >
      <div class="filter-title">Filters</div>
      <semantic-search-facet open-by-default="true"></semantic-search-facet>
    </bs-col>
    <bs-col lg="9" md="8" sm="7">
      <semantic-search-result-holder>
        <bs-tabs unmount-on-exit="true" id="search-results" animation="false">
          <bs-tab event-key="2" title="Grid">
            <semantic-search-result>
              <div id="card-results">
                <bs-tab-container id="tab-container" class="page__body-navtabs--borderless"
                  default-active-key="all">
                  <div>
                    <bs-nav bs-style="tabs">
                      <bs-nav-item event-key="all">All</bs-nav-item>
                      <bs-nav-item event-key="photosOnly">With photographs only</bs-nav-item>
                    </bs-nav>

                    <bs-tab-content unmount-on-exit=true>
                      <bs-tab-pane event-key="all">
                        <semantic-table id="grid-result" options='{
                          "showFilter":false
                        }' number-of-displayed-rows="10" query="
                      SELECT DISTINCT ?subject
                       WHERE {
                        {?subject a <http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>.   }
                        UNION
                        {?subject owl:sameAs ?another}
                        }LIMIT 100
                    " tuple-template="{{>tupleTemplate}}">
                          <template id="tupleTemplate"> [[> rsp:artworkCard]] </template>
                        </semantic-table>
                      </bs-tab-pane>
                      <bs-tab-pane event-key="photosOnly">
                        <semantic-table id="grid-result-2" options='{
                          "showFilter":false
                        }' number-of-displayed-rows="10" query="
                      SELECT DISTINCT ?subject
                       WHERE {
                        {?subject a <http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>.   }
                        UNION
                        {?subject owl:sameAs ?another}
                        ?subject <https://pharos.artresearch.net/resource/fr/Work_depicted_by_Photo> ?photo.
                       }LIMIT 100
                    " tuple-template="{{>tupleTemplate}}">
                          <template id="tupleTemplate"> [[> rsp:artworkCard]] </template>
                        </semantic-table>
                      </bs-tab-pane>
                    </bs-tab-content>
                  </div>
                </bs-tab-container>

              </div>
            </semantic-search-result>
          </bs-tab>
        </bs-tabs>
      </semantic-search-result-holder>
    </bs-col>
  </div>
</semantic-search>
</div>
