<div class="row row-center">
    <div
      id="main-container"
      style="max-width: 1300px"
      class="col-md-10 col-xs-10"
    >
      <!-- Title -->
      <div class="row">
        <div class="col-sm-7">
          <header style="margin-left: 20px">
            <h1>Artists by I Tatti</h1>
            <h3>
              <i>FotoIndex Dataset</i>
            </h3>
          </header>
        </div>
      </div>
      <!-- Filter search component -->
      [[> rsp:personfiltersearch provider="https://pharos.artresearch.net/resource/itatti/source/FotoIndex"]]
    </div>
  </div>