<semantic-context repository="assets">
  <semantic-form
  new-subject-template='[[urlParam"field"]]'
  browser-persistance="false"
  persistence='{
    "type": "ldp",
    "containerIri": "https://artresearch.net/container/rootContainer/Annotations_Container"
 }'
  post-action="reload"
  form-id="annotation-form"
  fields='[[  fieldDefinitions
              annotate="http://www.researchspace.org/fieldDefinition/Annotation_URI"
          ]]'>
  <semantic-form-text-input for="annotate">
  </semantic-form-text-input>
  <button
    id="12345"
    name="submit"
    class="btn action approve"
    title="Click to crete a new annotation"
  >Save Annotation</button>
  </semantic-form>
</semantic-context>