<div class="row row-center">
  <div
    id="main-containers"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Artworks created by Women Artists</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> :FilterSearchCollection domain="<https://pharos.artresearch.net/resource/fc/work>"  searchQuery='?subject a fc:work. ?subject fr:Work_created_from_Artist ?artist. ?artist fr:Person_has_Gender <http://vocab.getty.edu/aat/300189557>.'  ]]
  </div>
</div>