<semantic-table
id="semantic-search-result-table"
query='SELECT DISTINCT ?image ?subject ?creator ?date ?repository ?provider WHERE {
    ?subject fr:Work_has_provider_Institution ?provider.
    ?subject fr:Work_created_from_Artist ?creator.
    ?subject a fc:work.
    OPTIONAL{
      ?subject fr:Work_from_Date ?date.
    }
    OPTIONAL{
      ?originalSubject owl:sameAs ?subject.
      ?originalSubject  crm:P50_has_current_keeper ?repository.
    }
    OPTIONAL{
      ?subject fr:Work_depicted_by_Photo ?photo.
      ?photo crm:P129i_is_subject_of ?fullsizeImgUrl.
      ?fullsizeImgUrl crm:P2_has_type <http://vocab.getty.edu/aat/300078817>.
      BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/!100,100") as ?smallerImgUrl)
    }
    BIND("_" as ?default_imageUrl)
    BIND(coalesce(?smallerImgUrl, ?default_imageUrl) as ?image)
}ORDER BY DESC (?score) LIMIT 100'
options='{"showFilter":true, "pageSizeSelection": true,"resultsPerPage":10}'
column-configuration='[
{
  "displayName": "Image", 
  "cellTemplate": "<div class=\"thumbnailImageContainerTabular\"> <img  alt=\"   \"  class=\"thumbnailImageTabular\" src=\"{{image.value}}\"/></div>" 
},
{"variableName": "subject", "displayName": "Title"},
{"variableName": "date", "displayName": "Date"},
{"variableName": "creator", "displayName": "Creator"},
{"variableName": "repository", "displayName": "Repository"},
{"variableName": "provider", "displayName": "Photo archive"}

]'
>

</semantic-table>
