<div>
  {{#ifCond (objectLength bindings) "===" 1}}
  <div class="iiifMiradorCustom">
    <rs-iiif-mirador
      image-or-region="{{bindings.0.imageManifest.value}}"
      image-api-manifest-pattern="BIND(<{{bindings.0.imageManifest.value}}> as ?manifestUrl)"
    >
    </rs-iiif-mirador>
  </div>
  {{else}}
  {{#ifCond (objectLength bindings) "===" 2}}
  <div class="rectoVersoMirador">
    <div class="iiifMiradorCustom">
      <rs-iiif-mirador
        id="rectoMirador"
        image-or-region="{{bindings.0.imageManifest.value}}"
        image-api-manifest-pattern="BIND(<{{bindings.0.imageManifest.value}}> as ?manifestUrl)"
      >
      </rs-iiif-mirador>
    </div>
    <div class="iiifMiradorCustom">
      <rs-iiif-mirador
        id="versoMirador"
        image-or-region="{{bindings.1.imageManifest.value}}"
        image-api-manifest-pattern="BIND(<{{bindings.1.imageManifest.value}}> as ?manifestUrl)"
      >
      </rs-iiif-mirador>
    </div>
  </div>
  {{else}}
  <div class="rectoVersoMirador">
    <div class="iiifMiradorCustomSec">
      <rs-iiif-mirador
        id="rectoMirador"
        image-or-region="{{bindings.0.imageManifest.value}}"
        image-api-manifest-pattern="BIND(<{{bindings.0.imageManifest.value}}> as ?manifestUrl)"
      >
      </rs-iiif-mirador>
    </div>
    <div class="iiifMiradorCustomSec">
      <rs-iiif-mirador
        id="versoMirador"
        image-or-region="{{bindings.1.imageManifest.value}}"
        image-api-manifest-pattern="BIND(<{{bindings.1.imageManifest.value}}> as ?manifestUrl)"
      >
      </rs-iiif-mirador>
    </div>
    <div class="iiifMiradorCustomSec">
      <rs-iiif-mirador
        id="versoMiradorSecond"
        image-or-region="{{bindings.2.imageManifest.value}}"
        image-api-manifest-pattern="BIND(<{{bindings.2.imageManifest.value}}> as ?manifestUrl)"
      >
      </rs-iiif-mirador>
    </div>
  </div>
  {{/ifCond}}
  {{/ifCond}}

</div>