<div class="no-results-select">
  <small>Results per page:</small>
  <mp-event-trigger
      id="event-trigger-rows-no"
      type="Component.TemplateUpdate"
      data='{"noRows":10}'
      targets='["event-target-tables"]'>
      <div
      style='{{#if noRows}}{{#ifCond noRows "===" 10}}color:#007bff; font-weight:bold;{{/ifCond}}{{else}}color:#007bff; font-weight:bold;{{/if}}'
      class="no-option">
    10
  </div>
  </mp-event-trigger>
  <mp-event-trigger
      id="event-trigger-rows-no"
      type="Component.TemplateUpdate"
      data='{"noRows":25}'
      targets='["event-target-tables"]'>
      <div 
      style='{{#ifCond noRows "===" 25}}color:#007bff; font-weight:bold;{{/ifCond}}'
      class="no-option">
    25
  </div>
  </mp-event-trigger>
  <mp-event-trigger
      id="event-trigger-rows-no"
      type="Component.TemplateUpdate"
      data='{"noRows":50}'
      targets='["event-target-tables"]'>
      <div 
      style='{{#ifCond noRows "===" 50}}color:#007bff; font-weight:bold;{{/ifCond}}'
      class="no-option">
    50
  </div>
  </mp-event-trigger>
</div>