<bs-dropdown-button class="fa fa-chevron-down" title="[[dropdownTitle]]" no-caret="true">
  <mp-event-trigger
    id="event-trigger-tab-artwork"
    type="Component.TemplateUpdate"
    data='{"selectedTab":"Artworks","withImages":"{{#if withImages}}{{withImages}}{{else}}{{#ifCond (objectLength "[[urlParam "withimages"]]") "!==" 0}}[[urlParam "withimages"]]{{else}}false{{/ifCond}}{{/if}}"}'
    targets='["event-target-search-btn","event-target-search-switches","event-target-search-switches-container","event-target-tab-select"]'
  >
    <bs-menu-item active event-key="artwork">
      <div class="PopoverWrapp">
          <h2>Artworks</h2>
          <mp-popover>
              <mp-popover-trigger placement="top"  trigger='["hover","focus"]'> 
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </mp-popover-trigger>
              <mp-popover-content style="background:white;">
                <div class="DescriptionPopUp">Brings records about paintings, architecture, drawings, and other artworks. Metadata may include the name of the creator, dates, repository, provenance history, bibliography, etc.</div>
              </mp-popover-content>
          </mp-popover>
      </div>
        <div>
         <div> [[> StatisticsTotal property="https://artresearch.net/custom/numOfWorks"]]&ensp;artworks</div>
        </div>
        <div class="animated-background-x-sm"></div>
    </bs-menu-item>
  </mp-event-trigger>
  <mp-event-trigger
    id="event-trigger-tab-photograph"
    type="Component.TemplateUpdate"
    data='{"selectedTab":"Photographs","withImages":"{{#if withImages}}{{withImages}}{{else}}{{#ifCond (objectLength "[[urlParam "withimages"]]") "!==" 0}}[[urlParam "withimages"]]{{else}}false{{/ifCond}}{{/if}}"}'
    targets='["event-target-search-btn","event-target-search-switches","event-target-search-switches-container","event-target-tab-select"]'
  >
    <bs-menu-item event-key="photograph">
       <div class="PopoverWrapp">
          <h2>Photographs</h2>
          <mp-popover>
              <mp-popover-trigger placement="top"  trigger='["hover","focus"]'> 
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </mp-popover-trigger>
              <mp-popover-content style="background:white;">
                <div class="DescriptionPopUp">Brings records about photograph objects and metadata related to them such as the name of the photographer, dates, photographic technique, negative number, etc.</div>
              </mp-popover-content>
          </mp-popover>
      </div>
      <div>[[> StatisticsTotal property="https://artresearch.net/custom/numOfPhotos"]]&ensp;photographs</div>
      <div class="animated-background-x-sm"></div>
    </bs-menu-item>
  </mp-event-trigger>
  <mp-event-trigger
    id="event-trigger-tab-artist"
    type="Component.TemplateUpdate"
    data='{"selectedTab":"Artists","withImages":"{{#if withImages}}{{withImages}}{{else}}{{#ifCond (objectLength "[[urlParam "withimages"]]") "!==" 0}}[[urlParam "withimages"]]{{else}}false{{/ifCond}}{{/if}}"}'
    targets='["event-target-search-btn","event-target-search-switches","event-target-search-switches-container","event-target-tab-select"]'
  >
    <bs-menu-item event-key="artist"> 
      <div class="PopoverWrapp">
           <h2>Artists</h2>
          <mp-popover>
              <mp-popover-trigger placement="top"  trigger='["hover","focus"]'> 
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </mp-popover-trigger>
              <mp-popover-content style="background:white;">
                <div class="DescriptionPopUp">Brings records of artists and architects. The metadata related to them may include name, dates, place of birth/death, gender, nationality, relationships with patrons, family, and other artists (students, teachers, assistants, etc.).</div>
              </mp-popover-content>
          </mp-popover>
      </div>
      <div>[[> StatisticsTotal property="https://artresearch.net/custom/numOfArtists"]]&ensp;artists </div>
      <div class="animated-background-x-sm"></div>
    </bs-menu-item>
  </mp-event-trigger>
  <mp-event-trigger
    id="event-trigger-tab-photographer"
    type="Component.TemplateUpdate"
    data='{"selectedTab":"Photographers"}'
    targets='["event-target-search-btn","event-target-search-switches","event-target-search-switches-container","event-target-tab-select"]'
  >
    <bs-menu-item event-key="photographer"> 
       <div class="PopoverWrapp">
            <h2>Photographers</h2>
          <mp-popover>
              <mp-popover-trigger placement="top"  trigger='["hover","focus"]'> 
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </mp-popover-trigger>
              <mp-popover-content style="background:black;">
                <div class="DescriptionPopUp">Brings records of photographers. The metadata related to them may include name, dates, place of birth/death, gender, nationality, relationships with patrons, family, and other photographers (students, teachers, assistants, etc.).</div>
              </mp-popover-content>
          </mp-popover>
      </div>
      <div>[[> StatisticsTotal property="https://artresearch.net/custom/numOfPhotographers"]]&ensp;photographers</div>
      <div class="animated-background-x-sm"></div>
    </bs-menu-item>
  </mp-event-trigger>
</bs-dropdown-button>
