<div id="underDevAlert" class="alert alert-info" role="alert">
  <i
    >This instance is <b>under development</b> and will publicly launch in
    January 2022 & is under data refresh</i
  >
</div>

<div id="new-start-page">
  <div id="Cookiemessageid" class=" Cookiemessage alert alert-info" >
  [[> CookieMessage]]
</div>
<div class="backgroundImg">

</div>
<div class="centerColumnStart">
    <div >
      <div class="logoStart">
         <img src="/assets/images/pharos.png" style="
            margin-bottom: 25px;
            max-width: 65vw;
            object-fit: contain;
            height: 115px;
            padding: 10px;">
      </div>
      <div>
        Call in action button
      </div>
    </div>
    <div>
      <b>
          <span style="color: rgb(220, 54, 54);">art</span>research.net </b>provides open and consolidated access to images and metadata from
        partners of PHAROS, the International Consortium of Photo Archives.  The collections document works of art and architecture and the
          history of photography itself, together with nearly a century of
          associated scholarly documentation.
    </div>
    <div>
      <div
        data-intro="This is the search-bar. Use this to make simple queries by keywords"
        data-position="top"
      >
        [[> Searchbar selectedCategory="Artworks"]]
      </div>
    </div>
    <div>
      Browse by Topic
    </div>
    <div>
      New? Start Here 
    </div>
    <div class="squareText">

    </div>
    <div class="Carousel">
      Carousel with browse ? or the one we have already 
    </div>
    <div class="Carousel">
      Carousel with collections ? or the one we have already 
    </div>
    <div class="Documentation">
      <h1>How can I use <div style="color:brown">art</div>research?</h1>
      <div class="docCards">
        <div class="docElement">

        </div>
         <div class="docElement">

        </div>
         <div class="docElement">

        </div>
         <div class="docElement">

        </div>
      </div>
      <div class="infoDoc">
        If you’re new to <div style="color:brown">art</div>research?</h1>, these research guides will give you a head start using our site. The guides reflect a few key activities that attract visitors to DPLA, but you can explore many other interests here too.
      </div>
      <div class="viewAllDoc">
        <!-- link to all user guides -->
      </div>
    </div>
    <div class="newsSeaction">
      <!-- 3 Latest news and a button to view them all -->
    </div>

</div>


<style>

.benner-text {
  font-weight: 500;
    font-size: 18px;
    width: 60%;
    margin-top: 4vh;
    text-align: center;
    margin-bottom: 4vh;
}
  .text-with-image.banner {
    font-weight: 500;
    gap: 20px;
    width: 60%;
    margin-top: 6vh;
    font-size: 18px;
    text-align: center;
}
  .page-holder {
    overflow: hidden;
  }
  .unwanted-grid{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2,1fr);
  }

  @media (max-width:800px) {
    .benner-text ,
  .text-with-image.banner {
    width: 100%;
    justify-content: center;
  }
  }
  @media (max-width:720px) {
    .unwanted-grid{
    grid-template-columns: repeat(1,1fr);
  }
  }
</style>

