<!-- 
# Solr score performance hack

For solr requests that generate many results the data that is transferred from solr to blazegraph is huge, to minimize that we need to make sure that we request score from solr only when it is actually needed. And currently it is only in the actual result visualization components (list, table, etc.).

To do that we make use "?params" variable in the fts:params property inside <semantic-search-query-keyword>, and then BIND this variable to the actual value in all components that use this query. Something like BIND(\"fl=id&defType=dismax&rows=100000\" AS ?params) when we don't need score and BIND(\"fl=id,score&defType=dismax&rows=100000\" AS ?params) when we do need it.

When solr parameters list need to be changed, make sure to modify it everywhere where it is used - facet, semantic-query and semantic-table that is used for result visualisation and semantic-query for result counts.
-->

<semantic-context repository='default'>
  <semantic-query query='
  SELECT ?token WHERE{
    BIND(REPLACE("[[urlParam "keyword"]]","(?<!^)(?<!\\s)\\s+(?!\\s+)(?!$)", " AND ") as ?token)
  }
  '
  template="{{>addAndTemplate}}"
  >
  <template id="addAndTemplate">
  
  <div>
    <mp-event-target-template-render
    id="event-target-tables"
    template="{{> tableEventTargetTemplate}}"
  >
    <template id="tableEventTargetTemplate">
      <semantic-search-query-keyword
  placeholder='You searched for [[urlParam "keyword"]], but you can search for anything!'
  domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
  default-query='
  PREFIX fts: <http://www.bigdata.com/rdf/fts#>
  PREFIX fr: <https://artresearch.net/resource/fr/>
  PREFIX fc: <https://artresearch.net/resource/fc/>
  PREFIX cfc: <https://artresearch.net/resource/custom/fc/>
    SELECT DISTINCT ?subject WHERE {
      # The actual fts:params string is defined in all places where this query is injected, it is a performance improvement hack, see "Solr score performance hack" at the top of the page"
      SERVICE <http://www.bigdata.com/rdf/fts#search> {   
        ?subject fts:search "{{bindings.0.token.value}}" .
        ?subject fts:endpoint "http://solr:8983/solr/artworks_v8/select" .
        ?subject fts:fieldToSearch "_text_" .
        ?subject fts:params ?params .
        ?subject fts:searchField "id" .
        ?subject fts:searchResultType "URI" .
        ?subject fts:scoreField "score" .
        ?subject fts:score ?score .
      }
            
      {{#ifCond withImages "!==" "true"}}
        ?subject fr:Work_depicted_by_Photo ?photograph.
        
      {{/ifCond}}
    }
    '
  query='
  SELECT ?nothing WHERE{
    ?nothing a <http://this_is_hidden_and_will_never_run>
  }
  '
  class="hiddenSearchbar"
  >
</semantic-search-query-keyword>
  </template>
</mp-event-target-template-render>
  <div class="row">
    <bs-col
      lg="3"
      md="4"
      sm="5"
      class="fade-in-fwd filters-container"
      style="margin-top: 8px"
      id="artwork-filter-search"
    >
      
        <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
          <!-- BINDs in the facet default queryies is performance improvement hack, see Solr score performance hack at the top of the page
 -->
          <semantic-search-facet open-by-default='true' sortby='count-desc'  facet-values-threshold="10000" 
                                 default-value-queries='{
                                                          "resource": "
                                                             SELECT ?value ?label (COUNT(DISTINCT $subject) AS ?count) WHERE {
                                                               BIND(\"fl=id&defType=dismax&rows=100000\" AS ?params) .
                                                               FILTER(?__facetRelationPattern__) 
                                                               OPTIONAL {
                                                                 ?value <http://www.researchspace.org/ontology/displayLabel> ?label .
                                                               }
                                                             }
                                                             GROUP BY ?value ?label
                                                             ORDER BY DESC(?count)
                                                          ",
                                                          "literal": "
                                                            SELECT ?literal (COUNT(DISTINCT $subject) AS ?count) WHERE {
                                                              BIND(\"fl=id&defType=dismax&rows=100000\" AS ?params) .
                                                              FILTER(?__facetRelationPattern__)
                                                            }
                                                            GROUP BY ?literal
                                                            ORDER BY ?literal
                                                          "
                                                        }'
          ></semantic-search-facet>
        </bs-panel>
    </bs-col>
    <mp-event-target-template-render id="my-render" template="{{> combined}}">
      <template id='combined'>
        <bs-col lg="9" md="8" sm="7">
          <semantic-search-result-holder>
            <div>
                 <semantic-query
                    query='SELECT ?keywords WHERE {
                      BIND(REPLACE(str("[[urlParam "keyword"]]"),"\\+"," ") as ?keywords)} LIMIT 1'
                    template="{{>currentSearchText}}"
                  >
                      <template id="currentSearchText">
                        <h2>
                          Searched in artworks for:
                          <i>{{bindings.0.keywords.value}}</i>
                        </h2>
                      </template>
                 </semantic-query>

              <semantic-search-result>
                  <semantic-query
                    id="view-more"
                    query='
                      SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {
                        # this BIND is performance improvement hack, see "Solr score performance hack" at the top of the page"
                        BIND("fl=id&defType=dismax&rows=100000" AS ?params) .
                      } LIMIT 1
                    '
                    template="{{>currentResultCount}}"
                  >
                      <template id="currentResultCount">
                          <h2>
                                  Found
                            {{#ifCond bindings.0.count.value "==" 100 }}
                              displaying the first 1000 results, please refine your search
                            {{else}}
                              {{bindings.0.count.value}} relevant results 
                            {{/ifCond}}
                          </h2>
                          <small>
                            Displaying 
                            {{#ifCond bindings.0.count.value ">=" 100 }}
                            the first 100 results
                            {{else}}
                            all results
                            {{/ifCond}}
                          </small>
                      </template>
                  </semantic-query>
                  <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
                  [[> SearchbarSwitches]]
                  <bs-tabs
                        default-active-key="1"
                        unmount-on-exit="true"
                        id="search-results"
                        animation="false"
                        class="tabs-right"
                      >
                      <bs-tab event-key="1" title="List">
                              <div id='artwork-filter-search-inline'>
                                  <semantic-table
                                      id="grid-result"
                                      prefetch-labels="false"
                                      query='
                                        SELECT DISTINCT ?subject WHERE {
                                          # this BIND is performance improvement hack, see "Solr score perf. hack at the top of the page"
                                          BIND("fl=id,score&defType=dismax&rows=100000" AS ?params) .
                                        } ORDER BY DESC(?score) LIMIT 100'
                                      number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}25{{/if}}"
                                      tuple-template="{{> subjectCellTemplate}}"
                                      options='{"showTableHeading": false, "showFilter":false}'
                                      no-result-template='[[> CardNoResult ]]'
                                      prefetch-labels="false"
                                    >
                                    <template id="subjectCellTemplate">
                                      <semantic-context repository='default'>
                                        [[> CardArtwork artwork="true"]]
                                      </semantic-context>
                                    </template>
                                </semantic-table>
                              </div>
                      </bs-tab>
                      <bs-tab event-key="2" title="Tabular">
                        <div id="tableView">
                          [[> SearchResultTableWorkSolr]]
                        </div>
                        <div class="animated-background-sm tableView"></div>
                      </bs-tab>
                  </bs-tabs>
              </semantic-search-result>
            </div>
          </semantic-search-result-holder>
          [[> NumberOfRowsSelector]]
        </bs-col>
      </template>
    </mp-event-target-template-render>
  </div>
  </div>

  </template>
  </semantic-query>
  </semantic-context>
  
  
