<div style="display: flex;justify-content: center; flex-direction: column;" >
  <h3 style="text-align:center"><b>Instance Matching</b></h3>
  <table>
    <thead>
      <tr>
        <td><h5><b>Category</b></h5></td>
        <td><h5><b>Matches</b></h5></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h5><b>Artists</b></h5></td>
        <div style="display: flex;flex-direction: column;">
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedItattiArtists>I Tatti</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedZeriArtists>Zeri</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedFrickArtists>Frick</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedMarburgArtists>Marburg</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedKHIArtists>KHI</td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedHertzianaArtists>Hertziana</semantic-link></td>
        </div>
      </tr>
      <tr>
        <td><h5><b>Artworks</b></h5></td>
        <div style="display: flex;flex-direction: column;">
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedItattiArtworks>I Tatti</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedZeriArtworks>Zeri</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedFrickArtworks>Frick</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedMarburgArtworks>Marburg</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedKHIArtworks>KHI</td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedHertzianaArtworks>Hertziana</semantic-link></td>
        </div>
      </tr>
      <!-- <tr>
        <td><h5><b>Institutions</b></h5></td>
        <div style="display: flex;flex-direction: column;">
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedItattiInstitutions>I Tatti</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedZeriInstitutions>Zeri</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedFrickInstitutions>Frick</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedMarburgInstitutions>Marburg</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedKHIInstitutions>KHI</td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedHertzianaInstitutions>Hertziana</semantic-link></td>
        </div>
      </tr> -->
      <tr>
        <td><h5><b>Photographers</b></h5></td>
        <div style="display: flex;flex-direction: column;">
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedItattiPhotographers>I Tatti</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedZeriPhotographers>Zeri</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedFrickPhotographers>Frick</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedMarburgPhotographers>Marburg</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedKHIPhotographers>KHI</td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedHertzianaPhotographers>Hertziana</semantic-link></td>
        </div>
      </tr>
      <!-- <tr>
        <td><h5><b>Places</b></h5></td>
        <div style="display: flex;flex-direction: column;">
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedItattiPlaces>I Tatti</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedZeriPlaces>Zeri</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedFrickPlaces>Frick</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedMarburgPlaces>Marburg</semantic-link></td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedKHIPlaces>KHI</td>
          <td style="text-align:left"><semantic-link iri=:ListOfMatchedHertzianaPlaces>Hertziana</semantic-link></td>
        </div> -->
      </tr>
    </tbody>
  </table>
</div>