<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">About</li>
</ol>


<div class="page-content scrollable-content with-breadcrumbs">
  <div class="static-centered-content">
    <!-- Title -->
        <h1>About</h1>
        <div class="about-content">
          <p>
            PHAROS is an international association of fourteen art historical photo archives based in Europe and North America. It is committed to creating a freely available digital research platform that provides consolidated access to the millions of photo archive images and the associated scholarly documentation held in these collections.
          </p>
          <p></p>
          <p>
            <img
              alt="Group portrait of PHAROS members convened at The Frick Collection in 2013."
              title="Group portrait of PHAROS members convened at The Frick Collection in 2013."
              class="media-element file-default file-os-files-xlarge"
              src="/assets/images/media/photoarchive_conference_photo.jpg"/>
          </p>
          <p>
            Established in 2013, PHAROS responds to the need for the rich visual and textual material held in art historical photo archives to be made accessible to a global community of researchers, much of it being unpublished and uniquely accessed through these repositories. Photo archives have long been essential to the activities of students and scholars of art history, curators, and dealers. Through digitisation, we want to open up access to our collections and create connections between them.  We hope that the PHAROS platform will be a springboard for new research to take place.
          </p>
          <p></p>
          <p>The primary scope of the original fourteen institutions’ photo archive holdings concentrates on the cultural heritage of Europe and North America and represents the formation of the discipline of art history in these geographical regions. Once the platform is established, PHAROS would like to expand its membership to include photo archive collections based in other regions of the world, as well as European and North American institutions with photo archive collections documenting cultures from around the globe. We acknowledge that photo archives collections are shaped by the histories of collecting and creating knowledge about art, and are also inextricably linked with the people and institutions who have amassed these data banks of images. These collections are shaped by the interests, biases and tastes of the archivists, librarians and custodians that gathered them together. 
          </p>
          <p></p>
          <p>Consolidated open access to tens of millions of images of works of art will be of immeasurable value to research and teaching for a wide range of art-historical issues. These include provenance and attribution, conservation research, exhibition research, publication history, the history of photography, as well as the history of art history. The project will also foster a greater understanding of the photograph as physical object and its critical role in the dissemination of knowledge.  Above all, PHAROS aims to provide an essential resource for those engaged with new research methodologies within the framework of digital humanities.  
          </p>
          <p></p>
          <strong>Brief History</strong>
          <p></p>
          <p>
            At its first meeting, supported by a grant from the Samuel H. Kress
            Foundation, directors and staff of the research institutes responsible
            for fourteen major photo archives in Europe and the United States
            prepared a statement of purpose&nbsp;that outlined both long- and
            short-term goals. Since that first meeting, a technology working group
            determined that the most promising solution for achieving consolidated
            access to the documentation on roughly 31 million images of works of art
            held by PHAROS institutions would be to map the data to the
            <u><a href="http://www.cidoc-crm.org/" target="_blank">CIDOC CRM</a></u>
            &nbsp;ontology and transform it into linked open data (LOD) for eventual
            contribution to
            <u><a href="http://www.researchspace.org/" target="_blank">ResearchSpace</a></u>
            . In 2014-2016, with funding from the Samuel H. Kress Foundation, Pharos
            collaborated with John Resig, the creator of JQuery and the Dean of
            Computer Science at Kahn Academy, to create an image recognition
            tool&nbsp;for the association’s Italian images similar to the one he
            created for
            <u><a href="http://ukiyo-e.org" target="_blank">Japanese Woodblock prints</a></u>
            . The PHAROS Art Research Database
            , &nbsp;launched in September 2016, enabled searching image to image without the mediation of language, using an interface that allowed users to perform searches for their own images against those held in the PHAROS database, as well as to find multiple images of the same work of art along with accompanying documentation from multiple photo archives. This functionality has been incorporated into the pilot project platform as <u><mp-link url="/resource/VisualSearch" target="_blank"> Visual Search </mp-link></u>
          </p>
          <strong>Current Status</strong>
          <p></p>
          <p>
            In Spring of 2019, the PHAROS association successfully applied for and received a grant from the Andrew W. Mellon Foundation to fund a 30-month Pilot Project to create a research platform using the ResearchSpace software to make available over 1.5 million images of works of art with accompanying scholarly documentation from five of the fourteen PHAROS member institutions. In Fall of 2021, PHAROS applied for and received a six-month extension for its pilot
            project funded by the Andrew W. Mellon Foundation. The public launch date of the new
            site is now August 2022. To date we have been able to import the metadata and images of
            a total of seven institutions instead of the originally planned five. These institutions
            include: The Frick Art Reference Library, New York; The Paul Mellon Centre, London; the
            Kunsthistorisches Institut, Florence; I Tatti, The Harvard University Center for Italian
            Renaissance Studies, Florence; the Biblioteca Hertziana, Rome; the Fondazione Federico
            Zeri, Bologna; and the Bildarchiv Foto Marburg. The combined number of images on the
            site is now approximately 2,800,000, which represent a total of about 1,500,000
            artworks. Also included are works by about 130,000 photographers and 29,000 artists.
            In the next 12 months, plans are in the works to import the images and metadata of
            three more PHAROS institutions: The Rijksbureau voor Kunsthistorische Documentatie
            (RKD: The Netherlands Institute for Art History), The Hague; the National Gallery of Art,
            Washington D.C., and the Yale Center for British Art, New Haven, CT.
            
          </p>
          <p></p>
          <p></p>
        </div>
  </div>
</div>