<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header style="margin-left: 20px">
          <h1>Browse Built Works</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> :FilterSearchCollection  searchQuery='?subject crm:P2_has_type <http://vocab.getty.edu/aat/300265418>.' ]]
  </div>
</div>
</semantic-map> 