<div class="header-options artistAdditionalOptions">
  <div style="display:flex; flex-wrap: wrap; flex-direction: row-reverse;">
      <semantic-query
        query=' SELECT DISTINCT (IRI(REPLACE(STR(?m),"http://d-nb.info/gnd/tp/","https://d-nb.info/gnd/")) AS ?link) ?icon ?title WHERE {
                  ?og owl:sameAs <[[this]]>.
                  {
                    ?og skos:exactMatch  ?m.
                  } UNION {
                    <[[this]]> skos:exactMatch  ?m.
                  }
                  BIND(IF(CONTAINS(STR(?m),"gnd"),"/assets/images/DNB.ico",IF(CONTAINS(STR(?m),"wikidata"),"/assets/images/Wikidata.ico",IF(CONTAINS(STR(?m),"wikipedia"),"/assets/images/Wikipedia.ico",IF(CONTAINS(STR(?m),"viaf"),"/assets/images/Viaf.ico",IF(CONTAINS(STR(?m),"dbpedia"),"/assets/images/DBpedia.ico", IF(CONTAINS(STR(?m), "loc"), "/assets/images/loc.ico", "")))))) AS ?icon)
                  BIND(REPLACE(REPLACE(?icon,".ico",""),"/assets/images/","") AS ?title)
                }
              '
        no-result-template="<div></div>"
        template="{{> DNBLink}}"
      >
        <template id="DNBLink">
          {{#each bindings}}
            <h2 class="fc-label"> 
              <a  style="margin-left: 5px"  href="{{link.value}}" target="_null" >
                <div class="fc-label original-linkDNB">
                    <div class="linkImageWrapper">
                        <img
                          class="sourceIconDNB"
                          title="{{title.value}}"
                          src="{{icon.value}}"
                        />
                        <!-- <h6 class="textsourceIconDNB">View {{title.value}} record</h6> -->
                    </div>
                </div>
              </a>    
            </h2>
          {{/each}}
        </template>
      </semantic-query>
      [[#if (ask "ASK { FILTER CONTAINS(STR(??),'ulan') }")]]
        <semantic-query
          query=' SELECT ?gettyPage WHERE {             
                    BIND(IRI(REPLACE(STR(??),"http://vocab.getty.edu/ulan/","http://vocab.getty.edu/page/ulan/")) AS ?gettyPage)
          }'
          no-result-template="<div></div>"
          template="{{> GettyLink}}"
        >
          <template id="GettyLink">  
          <h2 class="fc-label" >
            <a style="margin-left: 5px" href="{{bindings.0.gettyPage.value}}" target="_null">
              <div class="fc-label original-linkDNB">
                <div class="linkImageWrapper">
                  <img class="sourceIconDNB" src="../../assets/images/Getty.ico"/>
                  <!-- <h6 class="textsourceIconDNB">View GETTY record</h6> -->
                </div>
              </div>
            </a>
          </h2>
          </template>
        </semantic-query>
      [[/if]]
      [[#if (ask "ASK { FILTER CONTAINS(STR(??),'wikidata') }")]]
          <h2 class="fc-label" >
            <a style="margin-left: 5px" href="[[this]]" target="_null">
              <div class="fc-label original-linkDNB">
                <div class="linkImageWrapper">
                  <img class="sourceIconDNB" src="../../assets/images/Wikidata.ico"/>
                  <!-- <h6 class="textsourceIconDNB">View Wikidata record</h6> -->
                </div>
              </div>
            </a>
          </h2>
      [[/if]]
      
  </div>
</div>
<div id="printableInfo"  class="workAndProductionInfo">
      <mp-field-visualization
          subject="[[this]]"
          additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
          fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/person_info>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
          template='{{>workInfo}}'
          >
            <template id="workInfo">
      
              <div class="workInfoContainer">
              <h2>Person info</h2>
                [[> ResourceFieldBasedVisualizationCardPerson subject=[[this]]  ]]
              </div>
          
            </template>
      </mp-field-visualization>
  <div class="WrapperBioRelations">
      <div class="PersonBioCard">
            <semantic-query
                  query='
                    SELECT ?value WHERE {
                        <[[this]]> <https://artresearch.net/resource/fr/Person_has_Description> ?value.
                    }'
                  no-result-template='<div></div>'
                  template="{{> Bio}}">
                    <template id="Bio">
                      <div class= "bioTemplate" >
                        <div class="BioText">
                          <h2 class=" fa fa-quote-left">{{bindings.0.value.value}}</h2><h2 class="fa fa-quote-right"></h2>
                        </div>
                      </div>
                    </template>
            </semantic-query>
      </div>
    <mp-field-visualization
            subject="[[this]]"
            additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { ?s owl:sameAs ?resource }" resource=this.iri)]]'
            fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/person_relationships>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
            template='{{>RelationshipsInfo}}'
            >
            <template id="RelationshipsInfo">
              [[#if (ask "ASK { ?? <https://artresearch.net/resource/fr/Person_parent_of_Person>|<https://artresearch.net/resource/fr/Person_collaborated_with_Person>|<https://artresearch.net/resource/fr/Person_assisted_by_Person>|<https://artresearch.net/resource/fr/Person_influenced_by_Person>|<https://artresearch.net/resource/fr/Person_influenced_Person>|<https://artresearch.net/resource/fr/Person_member_of_Group>|<https://artresearch.net/resource/fr/Person_member_of_Person>|<https://artresearch.net/resource/fr/Person_child_of_Person>|<https://artresearch.net/resource/fr/Person_partner_of_Person>|<https://artresearch.net/resource/fr/Person_school_of_Person>|<https://artresearch.net/resource/fr/Person_sibling_of_Person>|<https://artresearch.net/resource/fr/Person_spouse_of_Person>|<https://artresearch.net/resource/fr/Person_teacher_of_Person>|<https://artresearch.net/resource/fr/Person_student_of_Person>|<https://artresearch.net/resource/fr/Person_apprentice_of_Person> ?value. }")]]
                <div class="RelationshipsContainer">
                  <h2>Relationships</h2>
                  [[> ResourceFieldBasedVisualization showSourceIcon="true" subject=[[this]]  ]]
                </div>
              [[/if]]
            </template>
    </mp-field-visualization>

  </div>
<style>
    body {
    line-height: 0 !important;
  }
    .fa-quote-left:before {
    margin-right: 10px;
    color: #933439;
  }
  .fa-quote-right:before {
    margin-right: 10px;
    color: #933439;
  }
</style>