<mp-event-trigger id="breadcrumbs" type='Component.TemplateUpdate' on='["mounted"]' targets='["top-header-breadcrumbs"]'
  data='{"breadcrumb": "Bibliography"}'>
</mp-event-trigger>
<div class="page-content scrollable-content with-breadcrumbs" key="bibliography">
  <div class="static-centered-content">
    <!-- Title -->
    <section class="page-title-and-intro">
      <h1>
        <span class="thin-text">Bibliography</span><br/>
        <span class="thin-text">on </span>
        <span class="bold-text">Photo Archives</span></h1>
      <div class="about-content">
        <p class="bold-text">
          The following bibliography gathers key scholarly works on photo archives
          and their multifaceted roles in the production, preservation, and interpretation
          of art historical knowledge. It includes foundational texts on the history
          and theory of photo archives, studies on their materiality and institutional contexts,
          as well as recent contributions addressing their digitization, reconciliation in
          Linked Open Data environments, and use in digital art history. Additional
          sections focus on the intersections of photography with art history, decolonial
          perspectives on archival practices, and approaches drawn from visual anthropology
          and material culture studies.
        </p>
      </div>
    </section>
    <section class="page-section bg-line bibliography">
      <h2 class="static-h2">General</h2>
      <p>Bachi, Valentina, Antonella Fresa, Claudia Pierotti, and Claudio Prandoni. "The digitization age: Mass Culture is Quality Culture. Challenges for Cultural Heritage and Society." In <i>Digital Heritage. Progress in Cultural Heritage: Documentation, Preservation, and Protection: 5th International Conference, EuroMed 2014, Limassol, Cyprus, November 3-8, 2014.</i> Proceedings 5, 786–801. Springer International Publishing, 2014. <a href="https://doi.org/10.1007/978-3-319-13695-0_81">https://doi.org/10.1007/978-3-319-13695-0_81</a>. </p>
      <p>Binkowski, Kraig. 2023. “PHAROS Opens Its Online Portal.” <i>Art Libraries Journal</i> 48 (1): 15–20. <a href="https://doi.org/10.1017/alj.2022.23">https://doi.org/10.1017/alj.2022.23</a>.</p>
      <p>Caraffa, Costanza, ed. 2009. <i>Fotografie als Instrument und Medium der Kunstgeschichte.</i> Deutscher Kunstverlag.</p>
      <p>Caraffa, Costanza, 2017. “Manzoni in the Phototek, Photographic Archives as Ecosystems.” In <i>Instant Presence. Representing Art in Photography: In Honor of Josef Sudek (1896–1976)</i>, edited by Hana Buddeus, Katarína Mašterová, and Vojtěch Lahoda, 121–136. Artefactum, Institute of Art History of the Czech Academy of Sciences.</p>
      <p>Caraffa, Costanza. 2018. “The Photo Archive as Laboratory. Art History, Photography, and Materiality.” <i>Art Libraries Journal</i> 44 (1): 37–46. <a href="https://doi.org/10.1017/alj.2018.39.">https://doi.org/10.1017/alj.2018.39.</a></p>
      <p>Caraffa, Costanza. 2019. “Photographs as Documents/Photographs as Objects: Photo Archives, Art History and the Material Approach.” <i>Collection and Curation</i>, 37 (4): 146–150. <a href="https://doi.org/10.1108/CC-03-2018-0006">https://doi.org/10.1108/CC-03-2018-0006</a>.</p>
      <p>Caraffa, Costanza. 2019. “Photographic Itineraries in Time and Space. Photographs as Material Objects.” In <i>Handbook of Photography Studies</i>, edited by Gil Pasternak, 79–96. Bloomsbury Academic.</p>
      <p>Caraffa, Costanza, ed. 2021. <i>On Alinari. Archive in Transition.</i> A&M Bookstore Edizioni.</p>
      <p>Caraffa, Costanza, Emily Pugh, Tracy Stuber, and Louisa Wood Ruby. 2020. “PHAROS: A Digital Research Space for Photo Archives.” <i>Art Libraries Journal</i> 45 (1): 2–11. <a href="https://doi.org/10.1017/alj.2019.34">https://doi.org/10.1017/alj.2019.34</a>.</p>
      <p>Caraffa, Costanza, and Tiziana Serena. 2012. <i>Archivi Fotografici: Spazi Del Sapere, Luoghi Della Ricerca.</i> Carocci.</p>
      <p>Caraffa, Costanza and Tiziana Serena. 2015. <i>Photo Archives and the Idea of Nation.</i> De Gruyter. <a href="https://doi.org/10.1515/9783110331837">https://doi.org/10.1515/9783110331837</a>.</p>
      <p>Conway, and Ricardo L. Punzalan. 2011. “Fields of Vision: Toward a New Theory of Visual Literacy for Digitized Archival Photographs.” <i>Archivaria</i> 71 (Spring): 63–97. <a href="https://archivaria.ca/index.php/archivaria/article/view/13331">https://archivaria.ca/index.php/archivaria/article/view/13331</a>.</p>
      <p>Cook, Terry and Schwartz, Joan M., eds. 2002. “Archives, Records, and Power,” double monographic issue of <i>Archival Science: International Journal on Recorded Information</i> 2, (1–2 and 3–4).</p>
      <p>Daquino, Marilena. 2024. "Photo Archives and Linked Open Data. The Added Value." <i>Open Library of Humanities</i> 10 (2). <a href="https://doi.org/10.16995/olh.15232">https://doi.org/10.16995/olh.15232</a>.</p>
      <p>Dercks, Ute. 2013. “Ulrich Middeldorf Prior to Emigration: The Photothek of the Kunsthistorisches Institut in Florenz (1928–1935).” <i>Art Libraries Journal</i> 38 (4): 29–36. <a href="https://doi.org/10.1017/S0307472200018770">https://doi.org/10.1017/S0307472200018770</a>.</p>
      <p>Dercks, Ute. 2024. "Sie ist eine sehr gute Photographin. The Florentine Commissions.” In <i>Hilde in Italy. Art and Life in the Photographs of Hilde Lotz-Bauer</i>, edited by Federica Kappler and Corinna Lotz, 138–167. Exhibition catalogue, Museo di Roma in Trastevere. </p>
      <p>Dercks, Ute. 2023. “Beyond the Evident. Photographs in the Archive.” In <i>Luca Spano: After the Last Image</i>, edited by Elisabetta Masala, 65–72. Museo d’Arte della Provincia di Nuoro.</p>
      <p>Deutch, Samantha, and Sally McKay. 2016. “The Future of Artist Files: Here Today, Gone Tomorrow.” <i>Art Documentation: Journal of the Art Libraries Society of North America</i>, 35 (1): 22–42. <a href="https://doi.org/10.1086/685975">https://doi.org/10.1086/685975</a>.</p>
      <p>Edwards, Elizabeth. 2019. “Thoughts on the ‘Non-Collections’ of the Archival Ecosystem.” In <i>Photo-Objects. On the Materiality of Photographs and Photo Archives in the Humanities and Sciences</i>, edited by Julia Bärnighausen, Costanza Caraffa, Stefanie Klamm, Franka Schneider, and Petra Wodtke, 69–84. Editions Open Access.</p>
      <p>Franceschini, Chiara. 2014. "Classifying content. Photographic collections and theories of thematic ordering." <i>Visual Resources. An International Journal of Documentation</i> 30 (2).</p>
      <p>Lager Vestberg, Nina. 2008. “ARCHIVAL VALUE: On Photography, Materiality and Indexicality.” <i>Photographies</i> 1 (1): 49–65. <a href="https://doi.org/10.1080/17540760701786725">https://doi.org/10.1080/17540760701786725</a>.</p>
      <p>Lieberman, Ralph. 2013. “The Art Historical Photograph as Fiction: The Pretense of Objectivity.” In <i>Fictions of Art History</i>, edited by Mark Ledbury, 118–38. Sterling and Francine Clark Art Institute.</p>
      <p>Riggs, Christina. 2016. “Photography and Antiquity in the Archive, or How Howard Carter Moved the Road to the Valley of the Kings.” <i>History of Photography</i> 40 (3): 267–82. <a href="https://doi.org/10.1080/03087298.2016.1140325">https://doi.org/10.1080/03087298.2016.1140325</a>.</p>
      <p>Schneider, Jürg, and Paul Weinberg. 2020. “No Way Back – Reflections on the Future of the African Photographic Archive.” <i>History in Africa</i> 47: 167–94. <a href="https://doi.org/10.1017/hia.2020.10">https://doi.org/10.1017/hia.2020.10</a>.</p>
      <p>Schwartz, Joan M. 1995. “We Make Our Tools and Our Tools Make Us: Lessons from Photographs for the Practice, Politics and Poetics of Diplomatics,” <i>Archivaria</i> 40 (Fall): 40–74.</p>
      <p>Schwartz, Joan M. 2000.“‘Records of Simple Truth and Precision:’ Photography, Archives, and the Illusion of Control,” <i>Archivaria</i> 50 (Fall): 1–40.</p>
    </section>
    <section class="page-section bibliography bg-dot-top-left">
      <h2 class="static-h2">Art History and Photography (not necessarily with an archival focus)</h2>
      <p>Bann, Stephen. 2011. “The Photographic Album as a Cultural Accumulator Author(s).” In <i>Studies in the History of Art</i> 77, Symposium Papers LIV: Art and the Early Photographic Album: 7–29.</p>
      <p>Bohrer, Frederick N. 2002. “Photographic Perspectives: Photography and the Institutional Formation of Art History.” In <i>Art History and Its Institutions: Foundations of a Discipline</i>, edited by Elizabeth Mansfield, 246–259. Routledge.</p>
      <p>Capua, Rebecca. 2021. “Facsimiles, Artworks, and Real Things.” <i>Metropolitan Museum of Art Journal</i> 56: 98–112.</p>
      <p>Greenwald, Diana, and Casey Riley, eds. 2023. <i>Fellow Wanderer: Isabella Stewart Gardner's Travel Albums</i>. Boston and Princeton: Isabella Stewart Gardner Museum and Princeton University Press.</p>
      <p>Hamber, Anthony J. 1996. <i>A Higher Branch of the Art. Photographing the Fine Arts in England 1839–1880</i>. Gordon and Breach.</p>
      <p>Hamber, Anthony. 2011. “Facsimile, Scholarship, and Commerce: Aspects of the Photographically Illustrated Art Book (1839–1880).” In <i>Studies in the History of Art</i> 77, Symposium Papers LIV: Art and the Early Photographic Album: 123–149.</p>
      <p>Hamill, Sarah, and Megan R. Luke. 2018. <i>Photography and Sculpture: The Art Object in Reproduction</i>. Getty Publications.</p>
      <p>Johnson, Geraldine A. 1998. <i>Sculpture and Photography: Envisioning the Third Dimension</i>. Cambridge University Press.</p>
      <p>Macartney, H. 2005. “The Reproduction of Spanish Art: Hill and Adamson’s Calotypes and Sir William Stirling Maxwell’s Annals of the Artists of Spain (1848).” <i>Studies in Photography</i>: 16–23.</p>
      <p>Macartney, H. 2015. “Faith in Facsimile? The Invention of Photography and the Reproduction of Spanish Art.” <i>Art in Translation</i>, 7 (1): 95–122.</p>
      <p>Peters, Dorothea. 2016. “Auf Spurensuche. Giovanni Morelli und die Fotografie,” in <i>Zeigen und/oder beweisen? Die Fotografie als Kulturtechnik und Medium des Wissens</i>, edited by Herta Wolf, Herta, 15–43. De Gruyter.</p>
      <p>Roberts, Helene E. 1995. <i>Art History Through the Camera's Lens</i>. Routledge.</p>
    </section>
    <section class="page-section bibliography bg-wave">
      <h2 class="static-h2">Decolonization</h2>
      <p>Bajorek, Jennifer. 2013. "Decolonizing the Archive: The View from West Africa." <i>Aperture</i> 210: 66–69.</p>
      <p>Dalia Al-Dujaili. 2024. “The Art Library Decolonising Photo Archives.” <i>British Journal of Photography</i>. <a href="https://www.1854.photography/2024/08/decolonising-photo-archives-wanawal-evar-hussayni/">https://www.1854.photography/2024/08/decolonising-photo-archives-wanawal-evar-hussayni/</a>.</p>
      <p>Hellenic Observatory of the London School of Economics and the A.G. Leventis Foundation with support from the CYENS Centre of Excellence and the Cyprus University of Technology. 2024. <i>Seven Strategies for Reframing Photographic Archives: Archaeology, Colonialism, and Museums. Policy Brief.</i> Authored by Theopisti Stylianou-Lambert, Antigone Heraclidou, and Joanna Lewis. <a href="https://www.lse.ac.uk/Hellenic-Observatory/Assets/Documents/Research/Cyprus/Projects-2021-22/Photographic-archives-Policy-Brief.pdf">URL</a>.</p>
      <p>Sealy, Mark. 2019. <i>Decolonising the Camera: Photography in Racial Time</i>. Lawrence & Wishart.</p>
    </section>
    <section class="page-section bibliography bg-line">
      <h2 class="static-h2">Digital Art History</h2>
      <p>Badea, Mihai, Corneliu Florea, Laura Florea, and Constantin Vertan. 2018. “Can we teach computers to understand art? Domain adaptation for enhancing deep networks capacity to de-abstract art.” <i>Image and Vision Computing</i>, 77, 2–32. <a href="https://doi.org/10.1016/j.imavis.2018.06.009">https://doi.org/10.1016/j.imavis.2018.06.009</a>.</p>
      <p>Bury, Stephen, et al. 2017. “Art History in Digital Dimensions: A Report on the Proceedings of the Symposium Held in October 2016 at the University of Maryland, College Park.” The Getty Foundation/Samuel H. Kress Foundation. <a href="https://dah-dimensions.org/report/">https://dah-dimensions.org/report/</a>.</p>
      <p>Karterouli, Konstantina, Yota Batsaki, and Dumbarton Oaks, 2021. "AI and Cultural Heritage Image Collections: Opportunities and challenges." In <i>EVA</i>.</p>
      <p>Prokop E., Han X. Y., Papyan V. Donoho, D. Johnson C. Jr. 2021. “AI and the Digitized Photoarchive: Promoting Access and Discoverability.” <i>Art Documentation: Journal of the Art Libraries Society of North America</i>, 40 (1): 1–20. <a href="https://www.journals.uchicago.edu/doi/abs/10.1086/714604">https://www.journals.uchicago.edu/doi/abs/10.1086/714604</a>.</p>
      <p>Pugh, Emily, and Tracy Stuber. 2023. "Photography as Machine Vision: The Role of Imaging Technologies in Art History." <i>Photographies</i> 16 (2): 211–233. <a href="https://doi.org/10.1080/17540763.2023.2189286">https://doi.org/10.1080/17540763.2023.2189286</a>.</p>
      <p>Shen, Xi, Alexei EfrosAubry Mathieuet. 2019. “Discovering Visual Patterns in Art Collections with Spatially-Consistent Feature Learning.” <i>Computer Vision and Pattern Recognition</i> (March). <a href="https://doi.org/10.48550/arXiv.1903.02678">https://doi.org/10.48550/arXiv.1903.02678</a>.</p>
    </section>
    <section class="page-section bibliography">
      <h2 class="static-h2">Visual Anthropology and Material Culture Studies</h2>
      <p>Buckley, Liam. 2005. "Objects of love and decay: Colonial photographs in a postcolonial archive." <i>Cultural Anthropology</i> 20 (2): 249–270. <a href="https://doi.org/10.1525/CAN.2005.20.2.249">https://doi.org/10.1525/CAN.2005.20.2.249</a>.</p>
      <p>Edwards, Elizabeth. 2001. <i>Raw Histories: Photographs, Anthropology and Museums</i>. Berg.</p>
      <p>Edwards, Elizabeth and Hart, Janice, eds. 2004. <i>Photographs Objects Histories: On the Materiality of Images</i>. Routledge.</p>
      <p>Gretton, Tom. 2000. “Difference and Competition: The Imitation and Reproduction of Fine Art in a Nineteenth-Century Illustrated Weekly News Magazine.” <i>Oxford Art Journal</i> 23 (2): 143–162.</p>
      <p>Pinney, Christopher, Camera Indica. 1997. <i>The Social Life of Indian Photographs</i>. Reaktion Books.</p>
      <p>Vermeulen, Ingred R. 2010. <i>Picturing Art History: The Rise of the Illustrated History of Art in the Eighteenth Century</i>. Amsterdam: Amsterdam University Press.</p>
    </section>



  </div>
  [[> Default:footer]]
</div>
