<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Artworks from Italian Renaissance</h1>
        </header>
      </div>
    </div>
    [[> FilterSearchCollection domain="<https://artresearch.net/resource/fc/work>"  searchQuery='?subject a fc:work. ?subject fr:Work_from_Date ?date.  ?subject fr:Work_to_Date ?date2. FILTER regex(?date,"^[0-9]+$").  FILTER regex(?date2,"^[0-9]+$").  FILTER (?date > "1300" && ?date2 <  "1600").' ]]
  </div>
</div>  
