<div class="row row-center">
  <div
    id="main-containers"
    style="max-width: 1300px"
    class="col-md-10 col-xs-10"
  >
    <!-- Title -->
    <div class="row">
      <div class="col-sm-7">
        <header>
          <h1>Artworks with technique Oil on Wood</h1>
        </header>
      </div>
    </div>
    <!-- Filter search component -->
    [[> :FilterSearchCollection domain="<https://pharos.artresearch.net/resource/fc/work>"  searchQuery='?subject a fc:work.?subject fr:Work_produced_using_technique_Technique <https://pharos.artresearch.net/resource/frick/vocabulary/technique/73AE7FAF-F8FC-3ED0-BE02-17D125C643D0>.']]
  </div>
</div>  
