<div id="person-filter-search">
  [[#if provider]]
  <semantic-search
    relations='{
    "<https://pharos.artresearch.net/resource/fr/Work_created_from_Artist>":[
    {
      "kind": "resource",
      "queryPattern": "
        
          $subject fr:Work_created_from_Artist ?__value__."
    }
],
    "<https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution>":[
    {
      "kind": "resource",
      "queryPattern": "
        
          $subject fr:Work_kept_by_Institution ?__value__."
    }],
    "<https://pharos.artresearch.net/resource/fr/Work_shows_Subject>": [
    {
      "kind": "resource",
      "queryPattern": "
        
          $subject fr:Work_shows_Subject  ?__value__."
    }],
    "<https://pharos.artresearch.net/resource/fr/Work_consists_of_Material>": [
    {
      "kind": "resource",
      "queryPattern": "
        
          $subject fr:Work_consists_of_Material ?__value__."
    }],
    "<http://www.cidoc-crm.org/cidoc-crm/P2_has_type>": [
    {
      "kind": "resource",
      "queryPattern": "
        
          $subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?__value__ ."
    }],
    "<https://pharos.artresearch.net/resource/fr/Work_produced_using_technique_Technique>": [
    {
      "kind": "resource",
      "queryPattern": "
        
         $subject fr:Work_produced_using_technique_Technique ?__value__."
    }],
    "<https://pharos.artresearch.net/resource/fr/Work_from_Place>": [
    {
      "kind": "resource",
      "queryPattern": "
        
          $subject fr:Work_from_Place ?__value__."
    }]
      }'
    search-profile='{
        "categories":  
        [
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
            "label":"Painter"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "label":"Creator"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "label":"Artwork"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
            "label":"Type"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>",
            "label":"Material"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>",
            "label":"Technique"
          }, 
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label":"Location"
          }
        ],
        "relations":
        [
          {
            "iri": "<https://florentinedrawings.itatti.harvard.edu/resource/field/Artist_Attribution>",
            "label":"Creator",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
          },
          {
            "iri": "<https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution>",
            "label":"Repository",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_shows_Subject>",
            "label":"Subject",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_consists_of_Material>",
            "label":"Material",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E57_Material>"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/P2_has_type>",
            "label":"Type",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_produced_using_technique_Technique>",
            "label":"Technique",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure>"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_from_Place>",
            "label":"Location",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
          }
        ]
      }'
  >
    <div id="header-search" class="search-page">
      <semantic-search-query-keyword
        placeholder="Search for a creator e.g. Michelangelo"
        escape-lucene-syntax="false"
        domain="<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
        default-query="
              SELECT  ?subject  
              WHERE {
                ?artwork custom:has_provider <[[provider]]>.
                ?artwork  fr:Work_created_from_Artist ?subject.
                ?subject  rdfs:label ?label .
              }LIMIT 100"
        query='
                      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                      PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                      SELECT ?subject WHERE {                        
                      ?artwork custom:has_provider  <[[provider]]>.
                      ?artwork fr:Work_created_from_Artist ?subject.
                      ?subject rdfs:label ?someLabel.
                      ?someLabel bds:search ?__token__ .
                      ?someLabel bds:minRelevance "0.3"^^xsd:double;
                      bds:matchAllTerms "true"  .
                      } 
                    '
      ></semantic-search-query-keyword>
    </div>

    <div class="row">
      <!-- <bs-col
      lg="3"
      md="4"
      sm="5"
      class="fade-in-fwd filters-container"
      style="margin-top: 8px"
    >
          <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
      <semantic-search-facet open-by-default="true"></semantic-search-facet>
    </bs-panel>
    </bs-col> -->
      <bs-col lg="12">
        <semantic-search-result-holder>
          <bs-tabs unmount-on-exit="true" id="search-results" animation="false">
            <bs-tab event-key="2" title="Grid">
              <semantic-search-result>
                <semantic-table
                  id="grid-result"
                  options='{
                      "showFilter":false
                    }'
                  number-of-displayed-rows="8"
                  query="
                  SELECT DISTINCT ?subject ?artistName (count(?artwork) as ?artworkCount)
                   WHERE {
                    ?artwork custom:has_provider <[[provider]]>.
                    ?artwork fr:Work_created_from_Artist ?subject.
                    ?subject rdfs:label ?artistName
                   }GROUP BY ?subject ?artistName ORDER BY DESC(?artworkCount) LIMIT 100
                "
                  tuple-template="{{>tupleTemplate}}"
                  no-result-template="[[> :CardNoResult ]]"
                >
                  <template id="tupleTemplate">
                    <div
                      class="
                        rs-grid-element
                        panel panel-default
                        artwork-card
                        fade-in-fwd
                      "
                    >
                      <semantic-link iri="{{subject.value}}">
                        <div class="panel-body">
                          <bs-col
                            class="thumbnailImageContainer"
                            lg="4"
                            md="12"
                            xs="12"
                          >
                            <!-- Thumbnail for Person (fetch from wikidata (good luck)) -->
                            <semantic-query
                              query='
                          SELECT DISTINCT ?imgUrl WHERE{
                            bind("/assets/images/media/image_placeholder.jpg" as ?default_imageUrl)
                              OPTIONAL{
                                <{{subject.value}}> fr:Person_depicted_by ?personImage
                              }
                                BIND(coalesce(?personImage, ?default_imageUrl) as ?imgUrl)    

                                }LIMIT 1'
                              template="{{> imageThumbnail}}"
                            >
                              <template id="imageThumbnail">
                                <img
                                  alt="   "
                                  class="thumbnailImage"
                                  src="{{bindings.0.imgUrl.value}}"
                                />
                              </template>
                            </semantic-query>
                          </bs-col>
                          <bs-col class="cardInfo" lg="12">
                            <div
                              data-flex-layout="row md-column center-stretch"
                            >
                              <bs-row class="cardInfoFields">
                                <h4>
                                  <semantic-link
                                    iri="{{subject.value}}"
                                  ></semantic-link
                                  >({{artworkCount.value}})
                                </h4>
                              </bs-row>
                            </div>
                          </bs-col>
                        </div>
                      </semantic-link>
                    </div>
                  </template>
                </semantic-table>
              </semantic-search-result>
            </bs-tab>
          </bs-tabs>
        </semantic-search-result-holder>
      </bs-col>
    </div>
  </semantic-search>
  [[else]] No provider enter a provider in your :FilterSearchArtwork
  !!add!!>>>><b> provider="https://some.provider.uri" </b>
  [[/if]]
</div>
