<div id="search-bar">
  <semantic-search>
    <semantic-search-query-keyword
      placeholder="Search the collection - Type at least 3 characters"
      domain="<http://www.w3.org/2000/01/rdf-schema#Resource>"
      default-query="
    SELECT ?keywords  WHERE {
      ?keywords a <http://no-result>
    }
  "
      query="
      SELECT ?keywords  WHERE {
         BIND(str(?__token__) as ?keywords)
      }
    "
    ></semantic-search-query-keyword>
    <semantic-search-result-holder>
      <semantic-search-result>
        <semantic-query
          id="view-more"
          query="SELECT ?keywords WHERE {}"
          template="{{>viewMoreButton}}"
        >
          <template id="viewMoreButton">
            <click-element targetId="search-click" keyboardKey="Enter"></click-element>
            <semantic-link
              class="search-btn-activated"
              iri="rsp:FilterSearch"
              urlqueryparam-keyword="{{bindings.0.keywords.value}}"
            >
              <div id="search-click" style="background: white; height: 39px" class="btn searchBtn">
                Search
                <i class="rs-icon rs-icon-search"></i>
              </div>
            </semantic-link>
          </template>
        </semantic-query>
        <semantic-link
        iri="rsp:start"
        class="search-btn-disabled"
      >
        <div 
        title="Provide a keyword! (at least 3 characters long)"
        style="background: white; height: 39px" class="btn searchBtn">
          Search
          <i class="rs-icon rs-icon-search"></i>
        </div>
      </semantic-link>
      </semantic-search-result>
    </semantic-search-result-holder>
  </semantic-search>
</div>
