<semantic-context repository='ephedra'>
  <div id="artwork-filter-search-inline">
    [[#if provider]]
    <semantic-search
      search-profile='{
        "categories":[
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
            "label":"Person"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
            "label":"Painter"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "label":"Artwork"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
            "label":"Type"
          }
        ],
        "relations":[
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/P2_has_type>",
            "label":"Type",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E55_Type>"
          },
          {
            "iri":"<https://artresearch.net/resource/fr/Photo_created_by_Photographer>",
            "label":"Photographer",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
          }
        ]
      }'
    >
      <div id="header-search" class="search-page">
                <semantic-search-query-keyword
                  domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
                  placeholder="Search for a photograph by title"
                  escape-lucene-syntax="false"
                  default-query='
                      PREFIX fr: <https://artresearch.net/resource/fr/>
                      PREFIX fc: <https://artresearch.net/resource/fc/>
                      PREFIX cfc: <https://artresearch.net/resource/custom/fc/>
                      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                      PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                      SELECT DISTINCT ?subject WHERE {
                      ?subject a cfc:photo.
                      ?subject fr:Photo_has_provider_Institution <[[provider]]>.
                      }'
                  query='
                        PREFIX fr: <https://artresearch.net/resource/fr/>
                        PREFIX fc: <https://artresearch.net/resource/fc/>
                        PREFIX cfc: <https://artresearch.net/resource/custom/fc/>
                        PREFIX solr: <http://custom.solr/ontology#>
                        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                        PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                        SELECT DISTINCT ?subject WHERE {
                          BIND(REPLACE(?__token__,"(?<!^)(?<!\\s)\\s+(?!\\s+)(?!$)", " AND ") as ?token)
                          SERVICE <http://www.researchspace.org/resource/system/service/custom#solrphotos>{
                            ?solrApi  solr:setQuery ?token;
                                      solr:setDefType "dismax";
                                      solr:setFilter "id";
                                      solr:setRowsNumber 1000;
                                      solr:hasResults ?subject
                          }
                          ?subject fr:Photo_has_provider_Institution <[[provider]]>.
                        } '
                ></semantic-search-query-keyword>
      </div>

      <div class="row">
        <bs-col
          lg="3"
          md="4"
          sm="5"
          class="fade-in-fwd filters-container"
          style="margin-top: 8px"
        >
          <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
            <semantic-search-facet open-by-default='true' sortby='count-desc' facet-values-threshold="1000"></semantic-search-facet>
          </bs-panel>
        </bs-col>
        <mp-event-target-template-render id="my-render" template="{{> combined}}">
          <template id='combined'>
              <bs-col lg="9" md="8" sm="7">
                <semantic-search-result-holder>
                  <bs-tabs unmount-on-exit="true" id="search-results" animation="false">
                    <bs-tab event-key="2" title="Grid">
                      <div>
                        <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
                        <semantic-search-result id="semantic-search-result">
                          [[> SearchResultCount]]
                        </semantic-search-result>
                        <mp-event-target-template-render
                            id="event-target-tables"
                            template="{{> tableEventTargetTemplate}}"
                        >
                            <template id="tableEventTargetTemplate">
                                <semantic-search-result>
                                    <div id="card-results">
                                        <bs-tab-container
                                          id="tab-container"
                                          class="page__body-navtabs--borderless"
                                          default-active-key="all"
                                        >
                                            <div>
                                                <bs-nav bs-style="tabs">
                                                  <bs-nav-item event-key="all">All</bs-nav-item>
                                                  <bs-nav-item event-key="photosOnly">Must include photograph</bs-nav-item>
                                                </bs-nav>
                                                <bs-tab-content unmount-on-exit="true">
                                                    <bs-tab-pane event-key="all">
                                                      <semantic-table
                                                        id="grid-result"
                                                        prefetch-labels="false"
                                                        options='{"showFilter":false}'
                                                        number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}25{{/if}}"
                                                        query="SELECT DISTINCT ?subject WHERE {}LIMIT 1000"
                                                        no-result-template='[[> CardNoResult ]]'
                                                        tuple-template="{{>tupleTemplate}}"
                                                      >
                                                          <template id="tupleTemplate">
                                                            <semantic-context repository='default'>
                                                              [[> CardArtwork photo="true"]]
                                                            </semantic-context>
                                                          </template>
                                                      </semantic-table>
                                                    </bs-tab-pane>
                                                    <bs-tab-pane event-key="photosOnly">
                                                        <semantic-table
                                                          id="grid-result-2"
                                                          prefetch-labels="false"
                                                          options='{"showFilter":false}'
                                                          number-of-displayed-rows="{{#if noRows}}{{noRows}}{{else}}25{{/if}}"
                                                          query="SELECT DISTINCT ?subject WHERE {?subject crm:P129i_is_subject_of ?photo.}LIMIT 1000"
                                                          no-result-template='[[> CardNoResult ]]'
                                                          tuple-template="{{>tupleTemplate}}"
                                                        >
                                                            <template id="tupleTemplate">
                                                                <semantic-context repository='default'>
                                                                  [[> CardArtwork photo="true"]]
                                                                </semantic-context>
                                                            </template>
                                                        </semantic-table>
                                                    </bs-tab-pane> 
                                                </bs-tab-content>
                                            </div>
                                        </bs-tab-container>
                                    </div>
                                </semantic-search-result>
                            </template>
                        </mp-event-target-template-render>
                      </div>
                    </bs-tab>
                  </bs-tabs>
                </semantic-search-result-holder>
                [[> NumberOfRowsSelector]]
              </bs-col>
          </template>
        </mp-event-target-template-render>
      </div>
    </semantic-search>
    [[else]] No provider enter a provider in your :FilterSearchArtwork
    !!add!!>>>><b> provider="https://some.provider.uri" </b>
    [[/if]]
  </div>
</semantic-context>
<style>
    .keyword-search-container{
  width: 100% !important;
}
.rs-icon-search{
  display: none !important;
}
</style>