<semantic-search-query-keyword
placeholder='You searched for [[urlParam "keyword"]], but you can search for anything!'
domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
default-query='
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX bds: <http://www.bigdata.com/rdf/search#>
PREFIX hint: <http://www.bigdata.com/queryHints#>
SELECT ?subject ?keywords  WHERE {                
?subject a pharoscustom:photo.
hint:Prior hint:runLast true .
?subject rdfs:label ?label .
?label bds:search "[[urlParam "keyword"]]" ;
bds:minRelevance "0.3" ;
bds:relevance ?score ;
bds:matchAllTerms "true" .
BIND(str("[[urlParam "keyword"]]") as ?keywords)
}ORDER BY DESC(?score) 
'
query='
SELECT ?nothing WHERE{
  ?nothing a <http://this_is_hidden_and_will_never_run>
}
'
class="hiddenSearchbar"
></semantic-search-query-keyword>
<div class="row">
<bs-col
  lg="3"
  md="4"
  sm="5"
  class="fade-in-fwd"
  style="margin-top: 8px"
  id="artwork-filter-search"
>
  <div class="filter-title">Filters</div>
  <semantic-search-facet
    open-by-default="true"
  ></semantic-search-facet>
</bs-col>
<bs-col lg="9" md="8" sm="7">
  <semantic-search-result-holder>
    <semantic-search-result>
      <semantic-query
        id="view-more"
        query="SELECT ?keywords WHERE {}"
        template="{{>currentSearchText}}"
      >
        <template id="currentSearchText">
          <h2>
            Searched in photographs for:
            <i>{{bindings.0.keywords.value}}</i>
          </h2>
          
        </template>
      </semantic-query>
      <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
      <bs-tabs
      default-active-key="1"
      unmount-on-exit="true"
      id="search-results"
      animation="false"
      class="tabs-right"
    >
      <bs-tab event-key="1" title="List">
        <div id='artwork-filter-search-inline'>
        <semantic-table
        id="grid-result"
        query="SELECT DISTINCT ?subject  WHERE {}LIMIT 100"
        number-of-displayed-rows="5"
        tuple-template="{{> subjectCellTemplate}}"
        options='{"showTableHeading": false, "showFilter":false}'
        no-result-template='[[> :noResultCard ]]'
      >
        <template id="subjectCellTemplate">
          [[> :artworkCard]]
        </template>
      </div>
      </semantic-table>
    </bs-tab>
      <bs-tab event-key="3" title="Tabular">
        <div id="tableView">
          [[> :SearchResultTablePhoto]]
      </div>
      </bs-tab>
      </bs-tabs>
    </semantic-search-result>
  </semantic-search-result-holder>
</bs-col>
</div>