<div class="row row-center">
    <div
      id="main-containers"
      style="max-width: 1300px"
      class="col-md-10 col-xs-10">
      <!-- Title -->
          <div class="row">
            <div class="col-sm-7">
              <header>
                <h1>About</h1>
              </header>
            </div>
          </div>
          <div class="about-content">
            <p>
            PHAROS is an international association of fourteen art historical photo archives based in Europe and North America. It is committed to creating a freely available digital research platform that provides consolidated access to the millions of photo archive images and the associated scholarly documentation held in these collections.
            </p>
            <p>
Established in 2013, PHAROS responds to the need for the rich visual and textual material held in art historical photo archives to be made accessible to a global community of researchers, much of it being unpublished and uniquely accessed through these repositories. Photo archives have long been essential to the activities of students and scholars of art history, curators, and dealers. Through digitisation, we want to open up access to our collections and create connections between them.  We hope that the PHAROS platform will be a springboard for new research to take place.
</p>
<p>
The primary scope of the original fourteen institutions’ photo archive holdings concentrates on the cultural heritage of Europe and North America and represents the formation of the discipline of art history in these geographical regions. Once the platform is established, PHAROS would like to expand its membership to include photo archive collections based in other regions of the world, as well as European and North American institutions with photo archive collections documenting cultures from around the globe. We acknowledge that photo archives collections are shaped by the histories of collecting and creating knowledge about art, and are also inextricably linked with the people and institutions who have amassed these data banks of images. These collections are shaped by the interests, biases and tastes of the archivists, librarians and custodians that gathered them together. 
</p>
<p>
Consolidated open access to tens of millions of images of works of art will be of immeasurable value to research and teaching for a wide range of art-historical issues. These include provenance and attribution, conservation research, exhibition research, publication history, the history of photography, as well as the history of art history. The project will also foster a greater understanding of the photograph as physical object and its critical role in the dissemination of knowledge.  Above all, PHAROS aims to provide an essential resource for those engaged with new research methodologies within the framework of digital humanities.  
</p>
          </div>
    </div>
</div>
