[[> :Breadcrumb]]
  <div class="page rs-page">
    [[#> :ClipboardSidebar]]
    <div class="page__header-navtabs">
      [[> :Header ]]
    </div>
  
    [[#if (urlParam "tab")]]
    <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="[[urlParam 'tab']]">
      [[else]]
      <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="summary">
        [[/if]]
        <div>
          <bs-nav bs-style="tabs">
            <bs-nav-item event-key="summary">Summary</bs-nav-item>
            [[#if (ask "ASK { ?artwork <http://www.cidoc-crm.org/cidoc-crm/P45_consists_of> ??. }") ]] 
            <bs-nav-item event-key="artworks"><div class="displayFlex">Artworks
              (
                <semantic-query query='
                 SELECT (COUNT(DISTINCT ?artwork) AS ?count) WHERE{
                  ?artwork <http://www.cidoc-crm.org/cidoc-crm/P45_consists_of> ??.
                 }
               '></semantic-query>)
              </div>
             </bs-nav-item>
             [[/if]]
            <!-- <bs-nav-item event-key="annotations">
              Annotations <semantic-context repository='assets'><semantic-query query="SELECT (COUNT(DISTINCT ?s) AS ?count) WHERE {
                ?s <http://www.ics.forth.gr/isl/CRMdig/L43_annotates> ??;
                }"
                template='{{#each bindings}}<span class="badge">{{count.value}}</span>{{/each}}'></semantic-query></semantic-context>
            </bs-nav-item> -->
            <!-- <bs-nav-item event-key="related">Explore Related</bs-nav-item> -->
          </bs-nav>
  
          <bs-tab-content unmount-on-exit=true>
            <bs-tab-pane event-key="summary">
              <div class="textLeft fullWidth">
                <h2>
                  <div style="color: gray !important; font-weight: bold;">Number of entities with this material:</div>
                </h2>
                <h2>
                  <semantic-query
                  query='
                  select (count(?subject) as ?count) where {
                      ?subject crm:P45_consists_of ??
                  }'
                ></semantic-query>
                </h2>
              </div>
              <div class="textLeft fullWidth marginTop20" >
                <h2>
                  <div style="color: gray !important; font-weight: bold;">Related materials:</div>
                </h2>
                <h2 class="techniques">
                  <semantic-query
                  query='
                  select DISTINCT  ?material where {
                      ?subject crm:P45_consists_of ??.
                      ?subject crm:P45_consists_of ?material
                      FILTER(?material != ??)
                  }LIMIT 1000'
                ></semantic-query>
                </h2>
              </div>
            </bs-tab-pane>
            <bs-tab-pane event-key="artworks">
              [[> :TabSearchArtworkMaterial ]]
            </bs-tab-pane>
            <bs-tab-pane event-key="annotations">
              [[> :EntityAnnotations]]
            </bs-tab-pane>
          </bs-tab-content>
        </div>
      </bs-tab-container>
      [[/:ClipboardSidebar]]
  </div>
  
