[[> :Breadcrumb]]

<div class="page rs-page">
  [[#> :ClipboardSidebar]]
  <div class="page__header-navtabs">
    [[> :Header ]]
  </div>

  [[#if (urlParam "tab")]]
  <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="[[urlParam 'tab']]">
    [[else]]
    <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="summary">
      [[/if]]
      <div>
        <bs-nav bs-style="tabs">
          <bs-nav-item event-key="summary">Summary</bs-nav-item>
        </bs-nav>

        <bs-tab-content unmount-on-exit=true>
          <bs-tab-pane event-key="summary">
            <!-- Loads all IIIF images as 500px thumbnails (clickable with mirador popup) -->
             [[> :PhotographerSummaryImages]]
             [[> :ArtistInfo]]
          </bs-tab-pane>

        </bs-tab-content>
      </div>
    </bs-tab-container>
    [[/:ClipboardSidebar]]
</div>

<style>

button.close {
  opacity: 1;
  font-size: 55px !important;
}
 .modal-content {
  border: none !important;
  box-shadow: none !important;
}
.modal-content {
  background-color: #f5f5f5 !important;
}

.component-page-toolbar {
    display: none !important;
  }
  
.system-spinner{
    display: none !important;
  }
    
  .miradorViewerPopup .grid-demo{
    height: 92vh;
}
  .miradorViewerPopup .modal-dialog{
      width: 85%;
  }
  .miradorViewerPopup .modal-title{
      text-align: center;
  }
  .mirador-main-menu-bar{
    display: none !important;
    }

    .mirador-viewer{
        top: 0px !important;
    }
    .mirador-osd-annotation-controls{
        display: none !important;
    }

    

</style>