<!-- <ol class="page-breadcrumb">
  <li style="padding-top:10px">
    <a title="Home" href="/resource/start">Home</a>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol> -->

<style>
  #tabs .tab-ontodia {
    margin: 0px;
    padding: 2px 0px 0px;
    width: 100%;
    height: calc(100vh - 300px);
  }
</style>

<div class="page">
	[[#if (ask "ASK { {SELECT * WHERE {?? ?p ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?? ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?p ??}LIMIT 1}UNION{ {SELECT * WHERE {?a ?p ?o. FILTER(??=<Template:http://www.w3.org/2000/01/rdf-schema#Resource> )} LIMIT 1} } }")]]
    <div class='page__header-navtabs'>
      [[> Platform:DefaultResourceHeader]]
    </div>
    <bs-tabs id="tabs" class='page__body-navtabs' unmount-on-exit=true>
      <bs-tab event-key="0" class="tab-ontodia" title="Knowledge Graph">
        <ontodia id='ontodia' hide-toolbar=true hide-panels=true hide-scroll-bars=true hide-navigation-confirmation=true auto-zoom=true settings=nostats iri='[[this]]'></ontodia>
      </bs-tab>
      <bs-tab event-key="1" title="Source">
        [[> Platform:SourceStatements]]
      </bs-tab>
    </bs-tabs>
  [[else]]
    <div class='page__body'>
      <semantic-query
          query="SELECT ?rand WHERE{
              BIND(str(RAND()) AS ?rand)
            }LIMIT 1"
          template="{{> randomNotFoundPage}}"

      >
        <template id="randomNotFoundPage">
          <div class="row row-center" id="not-found-container">
              <div class="col-md-10 col-xs-10">
                      <!-- <a href="/resource/start"><i style="color:white !important; font-size: 16px;" class="fa fa-arrow-left">Go home</i></a> -->
                    <h3>404 - The page you are looking for was not found..</h3>
                    <p>in the meantime, discover our collections spotlight:</p>
                    <div id="new-start-page">
                      <section title="Collection Spotlights">

                        <div class="section-body">
                          <!-- <div class="grid-card-list">
                            <div
                              class="grid-card"
                              style=" background: url(/assets/images/media/cooper.jpg) center no-repeat; "
                            >
                              <semantic-link iri="http://www.wikidata.org/entity/Q104845454">
                                <div class="grid-card-body">
                                    <div class="grid-card-title">A. C. Cooper</div>
                                    <div class="grid-card-subtitle">Photographs</div>
                                </div>
                              </semantic-link>
                            </div>
                            <div
                              style=" background: url(/assets/images/media/red-chalk.jpg) center no-repeat; "
                              class="grid-card"
                            >
                              <semantic-link iri="https://artresearch.net/resource/DisplayCollectionRedChalkDrawings">
                                <div class="grid-card-body">
                                  <div class="grid-card-title">Red Chalk</div>
                                  <div class="grid-card-subtitle">drawings</div>
                                </div>
                              </semantic-link>
                            </div>
                            <div
                              style=" background: url(/assets/images/media/builtworks_middleast.jpg) center no-repeat; "
                              class="grid-card"
                            >
                              <semantic-link iri="https://artresearch.net/resource/builtworks-middle-east">
                                <div class="grid-card-body">
                                  <div class="grid-card-title">Built Works</div>
                                  <div class="grid-card-subtitle">in the Middle-East</div>
                                </div>
                              </semantic-link>
                            </div>
                            <div
                              style=" background: url(/assets/images/media/kahlo.jpg) center no-repeat; "
                              class="grid-card"
                            >
                              <semantic-link iri="https://artresearch.net/resource/women-artists">
                                  <div class="grid-card-body">
                                    <div class="grid-card-title">Women Artists</div>
                                    <div class="grid-card-subtitle">across centuries</div>
                                  </div>
                              </semantic-link>
                            </div>
                            <div
                              style=" background: url(/assets/images/media/sculpture.jpg) center no-repeat; "
                              class="grid-card"
                            >
                              <a href="/resource/DisplayCollectionBronzeSculptures">
                                <div class="grid-card-body">
                                    <div class="grid-card-title"> Bronze Sculptures</div>
                                    <div class="grid-card-subtitle">
                                     Italian Renaissance
                                    </div>
                                </div>
                              </a>
                            </div>
                            <div
                              style=" background: url(/assets/images/media/portrait.jpg) center no-repeat; "
                              class="grid-card"
                            >
                              <semantic-link iri="https://artresearch.net/resource/self-portraits">
                                  <div class="grid-card-body">
                                    <div class="grid-card-title">Self Portraits</div>
                                    <div class="grid-card-subtitle">artists</div>
                                  </div>
                              </semantic-link>
                            </div>
                            <div
                              style=" background: url(/assets/images/media/datedphotographs.jpg) center no-repeat;"
                              class="grid-card"
                            >
                                <a href="/resource/DisplayCollectionPhotoDatedBetween">
                                  <div class="grid-card-body">
                                      <div class="grid-card-title">1839-1900 AD</div>
                                      <div class="grid-card-subtitle">19th century photographs</div>
                                  </div>
                                </a>
                            </div>
                            <div
                              style=" background: url(/assets/images/media/self-portraits.jpg) center no-repeat;"
                              class="grid-card"
                            >
                                <a href="/resource/DisplayCollectionSelfPortraits">
                                  <div class="grid-card-body">
                                      <div class="grid-card-title">Self Portraits</div>
                                      <div class="grid-card-subtitle"></div>
                                  </div>
                                </a>
                            </div>
                            <div
                              style=" background: url(/assets/images/media/cooper.jpg) center no-repeat;"
                              class="grid-card"
                            >
                                <a href="/resource/DisplayCollectionSelfPortraits">
                                  <div class="grid-card-body">
                                      <div class="grid-card-title">A. C. COOPER</div>
                                      <div class="grid-card-subtitle"></div>
                                  </div>
                                </a>
                            </div>

                          </div> -->

                          <section class="explore-cards row">
                            <section class="col-md-1">

                            </section>
                              <section class="col-md-2 col-sm-10 explore-card">
                                <semantic-link iri="http://www.wikidata.org/entity/Q104845454">
                                  <img class="col-md-12 col-sm-12" src="/assets/images/explore_cooper.png" alt="">
                                  <p class="col-md-12 col-sm-12">A. C. Cooper <img src="/assets/images/arrow.png" alt="arrow"></p>
                                  <p class="col-md-12 col-sm-12">photographers</p>
                                </semantic-link>
                              </section>
                    [[!--
                              <section class="col-md-2 col-sm-10 explore-card">
                                <semantic-link iri="http://www.wikidata.org/entity/Q104845454">
                                  <img class="col-md-12 col-sm-12" src="/assets/images/media/datedphotographs.jpg" alt="">
                                  <p class="col-md-12 col-sm-12">1839-1900 AD <img src="/assets/images/arrow.png" alt="arrow"></p>
                                  <p class="col-md-12 col-sm-12">photographs</p>
                                </semantic-link>
                              </section>
                    --]]
                              <section class="col-md-2 col-sm-10 explore-card">
                                <semantic-link iri="https://artresearch.net/resource/builtworks-middle-east">
                                  <img class="col-md-12 col-sm-12" src="/assets/images/explore_builtworks_middleast.png" alt="">
                                  <p class="col-md-12 col-sm-12">Built works <img src="/assets/images/arrow.png" alt="arrow"></p>
                                  <p class="col-md-12 col-sm-12">in the Middle-East</p>
                                </semantic-link>
                              </section>
                              <section class="col-md-2 col-sm-10 explore-card">
                                <semantic-link iri="https://artresearch.net/resource/self-portraits">
                                  <img class="col-md-12 col-sm-12" src="/assets/images/explore_portrait.png" alt="">
                                  <p class="col-md-12 col-sm-12">Self portraits <img src="/assets/images/arrow.png" alt="arrow"></p>
                                  <p class="col-md-12 col-sm-12">artists</p>
                                </semantic-link>
                              </section>
                              <section class="col-md-2 col-sm-10 explore-card">
                                <semantic-link iri="https://artresearch.net/resource/DisplayCollectionRedChalkDrawings">
                                  <img class="col-md-12 col-sm-12" src="/assets/images/explore_red-chalk.png" alt="">
                                  <p class="col-md-12 col-sm-12">Red chalk <img src="/assets/images/arrow.png" alt="arrow"></p>
                                  <p class="col-md-12 col-sm-12">drawings</p>
                                </semantic-link>
                              </section>
                            [[!--
                              <section class="col-md-2 col-sm-10 explore-card disabled">
                                <semantic-link iri="https://artresearch.net/resource/DisplayCollectionBronzeSculptures">
                                  <img class="col-md-12 col-sm-10" src="/assets/images/explore_sculpture.png" alt="">
                                  <p>Bronze sculpture <img src="/assets/images/arrow.png" alt="arrow"></p>
                                  <p>from Antiquity to Modernity</p>
                                </semantic-link>
                              </section>
                             --]]
                              <section class="col-md-2 col-sm-10 explore-card">
                                <semantic-link iri="https://artresearch.net/resource/women-artists">
                                  <img class="col-md-12 col-sm-12" src="/assets/images/media/kahlo.jpg" alt="">
                                  <p class="col-md-12 col-sm-12">Women Artists <img src="/assets/images/arrow.png" alt="arrow"></p>
                                  <p class="col-md-12 col-sm-12">across centuries</p>
                                </semantic-link>
                              </section>
                          </section>
                        </div>
                      </section>
                    </div>

              [[!--
                    {{#ifCond bindings.0.rand.value ">" "0.8" }}
                      <h2>but you can always search for something</h2>
                      <div id="new-start-page">
                        <div class="search-actions">
                          <div
                            style="width: 100%"
                            data-intro="This is the search-bar. Use this to make simple queries by keywords"
                            data-position="top"
                          >
                            [[> Searchbar selectedCategory="Artworks"]]
                          </div>
                          <div style="margin-top: 15px">or use</div>
                          <div style="margin-top: 15px">
                            <div data-flex-layout="row center-center">
                              <a href="/resource/Search">
                                <div
                                  title="Make use of the artresearch full power!"
                                  class="advancedBtn"
                                  data-intro="Click here to go to the Contextual Search page. There you can create complex queries and explore data in new-found ways."
                                  data-position="right"
                                >
                                  <li class="fa">
                                    <img src="/assets/images/icons/concept.svg" />
                                  </li>
                                  Search Builder
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    {{else}}
                    {{#ifCond bindings.0.rand.value ">" "0.6" }}
                      <h2>but here is a nice map with Museums, Collections etc.!</h2>
                      <div class="mapContainer">
                        <semantic-map

                          id="repository-map"
                          query="SELECT ?subject ?label ?lat ?lng WHERE {
                            ?subject fr:Institution_from_Place ?place.
                            ?place <http://www.w3.org/2003/01/geo/wgs84_pos#lat> ?lat.
                            ?place <http://www.w3.org/2003/01/geo/wgs84_pos#long> ?lng.
                            ?subject rdfs:label ?label.
                          } LIMIT 1000"
                          tuple-template='<p></p><a style="text-decoration: none;"  href="https://artresearch.net/resource/?uri={{subject.value}}" target="_blank"><b style="color: #6b0000;">{{label.value}}</b><p></p><p></p></a><hr>'
                        >
                        </semantic-map>
                      </div>
                    {{else}}
                    {{#ifCond bindings.0.rand.value ">" "0.4" }}
                      <h3>in the meantime, discover our collections spotlight:</h3>
                      <div id="new-start-page">
                        <section title="Collection Spotlights">
                          <div class="section-title">Collection Spotlights</div>
                          <div class="section-body">
                            <div class="grid-card-list">
                              <div
                                class="grid-card"
                                style=" background: url(/assets/images/media/cooper.jpg) center no-repeat; "
                              >
                                <semantic-link iri="http://www.wikidata.org/entity/Q104845454">
                                  <div class="grid-card-body">
                                      <div class="grid-card-title">A. C. Cooper</div>
                                      <div class="grid-card-subtitle">Photographs</div>
                                  </div>
                                </semantic-link>
                              </div>
                              <div
                                style=" background: url(/assets/images/media/red-chalk.jpg) center no-repeat; "
                                class="grid-card"
                              >
                                <semantic-link iri="https://artresearch.net/resource/DisplayCollectionRedChalkDrawings">
                                  <div class="grid-card-body">
                                    <div class="grid-card-title">Red Chalk</div>
                                    <div class="grid-card-subtitle">drawings</div>
                                  </div>
                                </semantic-link>
                              </div>
                              <div
                                style=" background: url(/assets/images/media/builtworks_middleast.jpg) center no-repeat; "
                                class="grid-card"
                              >
                                <semantic-link iri="https://artresearch.net/resource/builtworks-middle-east">
                                  <div class="grid-card-body">
                                    <div class="grid-card-title">Built Works</div>
                                    <div class="grid-card-subtitle">in the Middle-East</div>
                                  </div>
                                </semantic-link>
                              </div>
                              <div
                                style=" background: url(/assets/images/media/kahlo.jpg) center no-repeat; "
                                class="grid-card"
                              >
                                <semantic-link iri="https://artresearch.net/resource/women-artists">
                                    <div class="grid-card-body">
                                      <div class="grid-card-title">Women Artists</div>
                                      <div class="grid-card-subtitle">across centuries</div>
                                    </div>
                                </semantic-link>
                              </div>
                              <!-- <div
                                style=" background: url(/assets/images/media/sculpture.jpg) center no-repeat; "
                                class="grid-card"
                              >
                                <a href="/resource/DisplayCollectionBronzeSculptures">
                                  <div class="grid-card-body">
                                      <div class="grid-card-title"> Bronze Sculptures</div>
                                      <div class="grid-card-subtitle">
                                       Italian Renaissance
                                      </div>
                                  </div>
                                </a>
                              </div> -->
                              <div
                                style=" background: url(/assets/images/media/portrait.jpg) center no-repeat; "
                                class="grid-card"
                              >
                                <semantic-link iri="https://artresearch.net/resource/self-portraits">
                                    <div class="grid-card-body">
                                      <div class="grid-card-title">Self Portraits</div>
                                      <div class="grid-card-subtitle">artists</div>
                                    </div>
                                </semantic-link>
                              </div>
                              <!-- <div
                                style=" background: url(/assets/images/media/datedphotographs.jpg) center no-repeat;"
                                class="grid-card"
                              >
                                  <a href="/resource/DisplayCollectionPhotoDatedBetween">
                                    <div class="grid-card-body">
                                        <div class="grid-card-title">1839-1900 AD</div>
                                        <div class="grid-card-subtitle">19th century photographs</div>
                                    </div>
                                  </a>
                              </div> -->
                              <!-- <div
                                style=" background: url(/assets/images/media/self-portraits.jpg) center no-repeat;"
                                class="grid-card"
                              >
                                  <a href="/resource/DisplayCollectionSelfPortraits">
                                    <div class="grid-card-body">
                                        <div class="grid-card-title">Self Portraits</div>
                                        <div class="grid-card-subtitle"></div>
                                    </div>
                                  </a>
                              </div>
                              <div
                                style=" background: url(/assets/images/media/cooper.jpg) center no-repeat;"
                                class="grid-card"
                              >
                                  <a href="/resource/DisplayCollectionSelfPortraits">
                                    <div class="grid-card-body">
                                        <div class="grid-card-title">A. C. COOPER</div>
                                        <div class="grid-card-subtitle"></div>
                                    </div>
                                  </a>
                              </div> -->

                            </div>
                          </div>
                        </section>
                      </div>
                    {{else}}
                    {{#ifCond bindings.0.rand.value ">" "0.2" }}
                      <h2>in the meantime, you can take a closer look to artworks created by women artists</h2>
                      [[> FilterSearchCollection domain="<https://artresearch.net/resource/fc/work>"  searchQuery='?subject a fc:work. ?subject fr:Work_created_from_Artist ?artist. ?artist fr:Person_has_Gender <http://vocab.getty.edu/aat/300189557>.'  ]]
                    {{else}}
                    {{#ifCond bindings.0.rand.value ">" "0.0" }}
                      <h2>in the meantime, feel free to discover artists:</h2>
                      [[> FilterSearchPersonPharos]]
                    {{else}}
                    {{/ifCond}}
                    {{/ifCond}}
                    {{/ifCond}}
                    {{/ifCond}}
                    {{/ifCond}}
                    --]]
              </div>
          </div>
        </template>

      </semantic-query>
      <!-- <div class="animated-background"></div> -->
    </div>
  [[/if]]
</div>
