<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<div class="page rs-page">
  [[#> rsp:ClipboardSidebar]]
  <div class="page__header-navtabs">
    [[> rsp:Header fc=fc fcLabel=fcLabel]]
  </div>

  [[#if (urlParam "tab")]]
  <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="[[urlParam 'tab']]">
    [[else]]
    <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="summary">
      [[/if]]
      <div>
        <bs-nav bs-style="tabs">
          <bs-nav-item event-key="summary">Summary</bs-nav-item>
          <bs-nav-item event-key="artworks">Artworks</bs-nav-item>
        </bs-nav>

        <bs-tab-content unmount-on-exit=true>
          <bs-tab-pane event-key="summary">
            <!-- Loads all IIIF images as 500px thumbnails (clickable with mirador popup) -->
             [[> rsp:PlaceSummaryImages]]
             <div class="row-center">
             <h1>Number of artworks related to this place:</h1>
             <h1 style="margin-left:10px"><semantic-query query='
             SELECT (COUNT(DISTINCT ?artwork) AS ?count) WHERE{
               {
               ?? <https://pharos.artresearch.net/resource/fr/Place_of_Work> ?artwork
               }UNION{
                ?artwork crm:P55_has_current_location  ??
               }
             }
           '></semantic-query></h1>
            </div>
            <div class="row-center">
            <small>
              Click on the "Artworks" tab to view all artworks
            </small>
             </div>
             [[> rsp:PlaceMap]]
          </bs-tab-pane>
          <bs-tab-pane event-key="artworks">
            [[> rsp:artworkfiltersearchplace type="https://pharos.artresearch.net/resource/type/pharos"]]
          </bs-tab-pane>
        </bs-tab-content>
      </div>
    </bs-tab-container>
    [[/rsp:ClipboardSidebar]]
</div>

<style>

  .workAndProductionInfo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .workAndProductionInfo .workInfoContainer{
    width: 45%;
    margin: 10px;
    padding: 20px;
    min-width: 500px;
    box-shadow: 0px 0px 20px 1px #f8f8f8;
  }

  .workAndProductionInfo .productionInfoContainer{
    width: 45%;
    margin: 10px;
    padding: 20px;
    min-width: 500px;
    box-shadow: 0px 0px 20px 1px #f8f8f8;
  }
  
  .miradorViewerPopup .grid-demo{
    height: 92vh;
}
  .miradorViewerPopup .modal-dialog{
      width: 85%;
  }
  .miradorViewerPopup .modal-title{
      text-align: center;
  }
  .mirador-main-menu-bar{
    display: none !important;
    }

    .mirador-viewer{
        top: 0px !important;
    }
    .mirador-osd-annotation-controls{
        display: none !important;
    }

    

</style>