<div class="page">    

  
  <resource-info subject="[[this]]" profile="repository-card" template="{{> template}}">      
    <template id="template">
      <mp-event-trigger id="breadcrumbs" 
                        type='Component.TemplateUpdate' on='["mounted"]' targets='["top-header-breadcrumbs"]'
                        data='{"breadcrumb": "Concept: {{escapeForJson data.label}}"}'>
      </mp-event-trigger>
    </template>
  </resource-info>
  
  <div class="main-container">
       <inline-template template-iri="Default:SearchTemplate" options='{"searchRestrictions":"{ {?subject crm:P2_has_type/crm:P127_has_broader_term* <[[this]]> .} UNION { ?subject crm:P45_consists_of/crm:P127_has_broader_term* <[[this]]> . } UNION { ?subject crm:P108i_was_produced_by/crm:P9_consists_of* ?production . ?production crm:P32_used_general_technique/crm:P127_has_broader_term* <[[this]]> . } }", "domain": "work", "lock": "true"}'></inline-template>
  </div>
</div>