[[> :Breadcrumb category="Artists" categoryUrl=":DisplayPharosArtists" ]]

<div class="page rs-page">
  [[#> :ClipboardSidebar]]
  <div class="page__header-navtabs">
    [[> :HeaderPerson ]]
  </div>

  [[#if (urlParam "tab")]]
  <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="[[urlParam 'tab']]">
    [[else]]
    <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="summary">
      [[/if]]
      <div>
        <bs-nav bs-style="tabs">
          <bs-nav-item event-key="summary">Summary</bs-nav-item>
          [[#if (ask "ASK {?work fr:Work_created_from_Artist ?? }") ]] 
          <bs-nav-item event-key="artworks"><div class="displayFlex">Artworks
            (
              <semantic-query query='
               SELECT (COUNT(DISTINCT ?artwork) AS ?count) WHERE{
                ?artwork a fc:work.
                ?? fr:Artist_created_Work ?artwork
               }
             '></semantic-query>)
            </div>
           </bs-nav-item>
           [[/if]]
        </bs-nav>

        <bs-tab-content unmount-on-exit=true>
          <bs-tab-pane event-key="summary">
            <!-- E22 Loads two tables with information regarding work & production -->
             [[> :InfoArtist]]
          </bs-tab-pane>
          <bs-tab-pane event-key="artworks">
            [[> :TabSearchArtworkArtist type="https://pharos.artresearch.net/resource/type/pharos"]]
          </bs-tab-pane>
        </bs-tab-content>
      </div>
    </bs-tab-container>
    [[/:ClipboardSidebar]]
</div>

