[[> :Breadcrumb category="Artworks" categoryUrl=":DisplayPharosArtists" ]]
<div class="page rs-page">
    [[#> :ClipboardSidebar]]
      <div class="artwork-header" style="display: flex; flex-direction: column; align-items: flex-end;   border-bottom: initial;
      padding: 20px 12px 0;
    ">
  [[> :HeaderOptions ]]
      </div>
      <div id="tab-container"
      style="display: flex;flex-direction: column;"
      class="page__body-navtabs--borderless">
        <div class="old-fashioned-grid">
          <div class="super-cheesy">
            [[> :SummaryImagesWork]]</div>

          <div>
            [[> :InfoPhotoAndProduction]]
          </div>

        </div>
      </div>
    [[/:ClipboardSidebar]]

</div>
