    <resource-info subject="[[this]]" profile="photograph-full" template="{{> template}}">
        <template id="template">
          <mp-event-trigger id="breadcrumbs"
                            type='Component.TemplateUpdate' on='["mounted"]' targets='["top-header-breadcrumbs"]'
                            data='{"breadcrumb": "Photo: {{escapeForJson data.label}}"}'>
          </mp-event-trigger>
            <div class="content-wrapper artwork-record">
                <div class="column image-grid-column">
                    <div class="main-image-container">
                      <mp-event-target-template-render id='work-full-image' template='{{> template data=data}}'>
                        <template id="mainImageView">
                          <mp-overlay-dialog data-title="{{label}}" data-type="lightbox">
                            <mp-overlay-dialog-trigger>
                              <div class="object-main-image-holder">
                                <img alt='' class="object-image" src="https://staging.artresearch.net{{imageUrl}}" />
                                <p>

                                </p>
                              </div>
                            </mp-overlay-dialog-trigger>
                            <mp-overlay-dialog-content>
                              <single-image-iiif-viewer iiif-manifest-url='{{imageManifestUrl}}'></single-image-iiif-viewer>
                            </mp-overlay-dialog-content>
                          </mp-overlay-dialog>
                        </template>

                        <template id='template'>
                          {{> mainImageView photo=data label=data.label imageUrl=data.[https://artresearch.net/resource/field_definition/pharos_model/photo_preview].values.0.[@value] imageManifestUrl=data.[https://artresearch.net/resource/field_definition/pharos_model/photo_iiif_manifest].values.0.[@value]}}
                        </template>
                      </mp-event-target-template-render>
                    </div>
                </div>

                <div class="column fields-column">
                  <div class="catalog-record-icons">
                    {{#if data.[https://artresearch.net/resource/field_definition/pharos_model/catalog_record_url]}}
                    <span><b>View original records: </b></span>
                      {{#each data.[https://artresearch.net/resource/field_definition/pharos_model/catalog_record_url].values}}
                        <a href="{{{[@id]}}}" target="_blank" rel="noopener noreferrer">
                          <img class="provider-icon" title="{{{[@id]}}}" src="{{provenance.0.[https://artresearch.net/resource/field_definition/pharos_model/provider].values.0.[https://artresearch.net/resource/field_definition/pharos_model/provider_icon].values.0.[@value]}}">
                        </a>
                      {{/each}}
                    {{/if}}
                  </div>


                    {{> fieldGroup
                        data=data
                        title=""
                        fields=(parse '[
                            {
                              "field": "https://artresearch.net/resource/field_definition/pharos_model/photo_artwork",
                              "mode": "link"
                            },
                            {
                              "field": "https://artresearch.net/resource/field_definition/pharos_model/photo_title",
                              "mode": "text"
                            },
                            {
                              "field": "https://artresearch.net/resource/field_definition/pharos_model/photo_identifier",
                              "mode": "text"
                            },
                            {
                              "field": "https://artresearch.net/resource/field_definition/pharos_model/photo_archive",
                              "mode": "new"
                            },
                            {
                              "field": "https://artresearch.net/resource/field_definition/pharos_model/type",
                              "mode": "new"
                            },
                            "https://artresearch.net/resource/field_definition/pharos_model/current_keeper",
                            {
                              "field": "https://artresearch.net/resource/field_definition/pharos_model/photo_license",
                              "mode": "outside_link"
                            }

                        ]')
                    }}

                    {{> fieldGroup
                        data=data
                        title=""
                        fields=(parse '[
                            {
                              "field": "https://artresearch.net/resource/field_definition/pharos_model/photographer",
                              "mode": "new"
                            }
                        ]')
                    }}

                    {{> fieldGroup
                        data=data
                        title=""
                        fields=(parse '[
                            {
                              "field": "https://artresearch.net/resource/field_definition/pharos_model/material",
                              "mode": "new"
                            },
                            {
                              "field": "https://artresearch.net/resource/field_definition/pharos_model/technique",
                              "mode": "new"
                            }
                        ]')
                    }}

                    {{> fieldGroup
                        data=data
                        title=""
                        fields=(parse '[
                            "https://artresearch.net/resource/field_definition/pharos_model/subject"
                        ]')
                    }}

                    {{> fieldGroup
                        data=data
                        title=""
                        fields=(parse '[
                            "https://artresearch.net/resource/field_definition/pharos_model/production_date"
                        ]')
                    }}
                </div>
            </div>
        </template>
        <template id="fieldGroup">
            {{#if (hasAnyValues data fields)}}
                <div class="field-group">
                    {{#if title}}
                      <h2>{{title}}</h2>
                    {{/if}}
                    {{#each fields}}
                        {{> fieldTemplate
                            data=../data
                            dontShowProvenance=../dontShowProvenance
                            field=(getFieldName this)
                            label=(lookup this "label")
                  					qualifiers=(lookup this "qualifiers")
                            mode=(lookup this "mode")
                        }}
                    {{/each}}
                </div>
            {{/if}}
        </template>

<template id="fieldTemplate">
    {{#if (lookup data field)}}
        <div class="field">
            <div class="field-label">
                {{#if label}}{{label}}{{else}}{{lookup (lookup data field) 'label'}}{{/if}}:
            </div>
            <div class="field-value">
                {{#if (eq mode "text")}}
                    {{#each (mergeUniqueValues (lookup (lookup data field) 'values'))}}
                        <div class="field-value-item">
                            <div class="field-value-main">
                                <span>{{label}}</span>
                                <div class="provider-icons">
                                    {{#each (uniqProviders provenance)}}
                                        <img class="provider-icon" title="{{label}}" src="{{icon}}">
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                 {{else if (eq mode "link")}}
                    {{#each (mergeUniqueValues (lookup (lookup data field) 'values'))}}
                        <div class="field-value-item">
                            <div class="field-value-main">
                                <semantic-link iri='{{[@id]}}'>{{label}}</semantic-link>
                                <div class="provider-icons">
                                    {{#each (uniqProviders provenance)}}
                                        <img class="provider-icon" title="{{label}}" src="{{icon}}">
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else if (eq mode "part_hierarchy")}}
                                  <semantic-tree data='[{{#each (lookup (lookup data field) "values")}}{ "node": { "type": "uri", "value": "{{[@id]}}" } {{#if [https://artresearch.net/resource/field_definition/pharos_model/part_hierarchy_parent]}} , "parent": { "type": "uri", "value": "{{[https://artresearch.net/resource/field_definition/pharos_model/part_hierarchy_parent].values.0.[@id]}}" } {{/if}}  }   {{#if @last}}{{else}},{{/if}}{{/each}}]'></semantic-tree>

                {{else if (eq mode "creator")}}
                  {{#each (lookup (lookup data field) 'values')}}
                    {{#if [https://artresearch.net/resource/field_definition/pharos_model/original_value_creator]}}
                        <div class="field-value-group">
                          <div class="field-value-item">
                              <div class="field-value-main">
                                <a href="javascript:void(0)" class="disabled">{{label}}</a>
                                [[!-- <semantic-link iri="{{[@id]}}">{{label}}</semantic-link> --]]
                              </div>
                          </div>
                          <div class="field-value-original-group">
                            {{#each [https://artresearch.net/resource/field_definition/pharos_model/original_value_creator].values}}
                              <div class="field-value-item">
                                <div class="field-value-main">
                                    <span>{{label}}</span>
                                    <div class="provider-icons">
                                      {{#each (uniqProviders provenance)}}
                                          <img class="provider-icon" title="{{label}}" src="{{icon}}">
                                      {{/each}}
                                    </div>
                                </div>
                                <div class="field-value-qualifiers">
                                  {{#each [https://artresearch.net/resource/field_definition/pharos_model/creator_role].values }}
                                    <span class="field-value-qualifier">
                                      [{{label}}]
                                      <div class="provider-icons">
                                        {{#each (uniqProviders provenance)}}
                                        <img class="provider-icon" title="{{label}}" src="{{icon}}">
                                        {{/each}}
                                      </div>
                                    </span>
                                  {{/each}}
                                </div>
                              </div>
                            {{/each}}
                          </div>
                        </div>
                      {{else}}
                        <div class="field-value-item">
                            <div class="field-value-main">
                                <span>{{label}}</span>
                                <div class="provider-icons">
                                    {{#each (uniqProviders provenance)}}
                                        <img class="provider-icon" title="{{label}}" src="{{icon}}">
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                      {{/if}}
                    {{/each}}
                  {{else if (eq mode "new")}}
                    {{#each (lookup (lookup data field) 'values')}}
                      {{#if [https://artresearch.net/resource/field_definition/pharos_model/original_value]}}
                        <div class="field-value-group">
                          <div class="field-value-item">
                              <div class="field-value-main">
                                <a href="javascript:void(0)" class="disabled">{{label}}</a>
                                [[!-- <semantic-link iri="{{[@id]}}">{{label}}</semantic-link> --]]
                              </div>
                          </div>
                          <div class="field-value-original-group">
                            {{#each [https://artresearch.net/resource/field_definition/pharos_model/original_value].values}}
                              <div class="field-value-item">
                                <div class="field-value-main">
                                    <span>{{label}}</span>
                                    <div class="provider-icons">
                                      {{#each (uniqProviders provenance)}}
                                          <img class="provider-icon" title="{{label}}" src="{{icon}}">
                                      {{/each}}
                                    </div>
                                </div>
                              </div>
                            {{/each}}
                          </div>
                        </div>
                      {{else}}
                        <div class="field-value-item">
                            <div class="field-value-main">
                                <span>{{label}}</span>
                                <div class="provider-icons">
                                    {{#each (uniqProviders provenance)}}
                                        <img class="provider-icon" title="{{label}}" src="{{icon}}">
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                      {{/if}}
                    {{/each}}
                  {{else}}
                    {{#each (lookup (lookup data field) 'values')}}
                        <div class="field-value-item">
                            <div class="field-value-main">
                                {{#if (lookup this '@id')}}
                                  {{#if (eq ../mode "outside_link")}}
                                    <a href="{{[@id]}}" target="_blank" rel="noopener noreferrer">{{label}}</a>
                                  {{else}}
                                    {{label}}
                                  {{/if}}
                                  [[!-- <semantic-link iri="{{[@id]}}">{{label}}</semantic-link> --]]
                                {{else}}
                                    {{#if (eq ../field "https://artresearch.net/resource/field_definition/pharos_model/production_date")}}
                                      <span>{{dateRangeFormat [@value]}}</span>
                                    {{else}}
                                      <span>{{[@value]}}</span>
                                    {{/if}}
                                {{/if}}

                                {{#if ../dontShowProvenance}}
                                {{else}}
                                <div class="provider-icons">
                                    {{#each (uniqProviders provenance)}}
                                        <img class="provider-icon" title="{{label}}" src="{{icon}}">
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                            {{#if ../qualifiers}}
                            <div class="field-value-qualifiers">
                                {{#each this}}
                                    {{#if (and (and (not (eq @key "@id")) (not (eq @key "label"))) (not (eq @key "provenance"))) }}
                                        <div class="qualifier-group">
                                            <span class="qualifier-label">{{label}}:</span>
                                            {{#each this.values}}
                                                {{#if [https://artresearch.net/resource/field_definition/pharos_model/scope_note]}}
                                                <mp-popover>
                                                    <mp-popover-trigger placement="right" trigger='["hover"]' root-close='true'>
                                                        <span class="field-value-qualifier">{{label}}
                                                            <div class="provider-icons">
                                    {{#each (uniqProviders provenance)}}
                                        <img class="provider-icon" title="{{label}}" src="{{icon}}">
                                    {{/each}}
                                                            </div>
                                                        </span>
                                                    </mp-popover-trigger>
                                                    <mp-popover-content>
                                                        <div>
                                                            <b>{{label}}</b>
                                                            <div class="provider-icons">
                                    {{#each (uniqProviders provenance)}}
                                        <img class="provider-icon" title="{{label}}" src="{{icon}}">
                                    {{/each}}
                                                            </div>
                                                        </div>
                                                        <div>{{[https://artresearch.net/resource/field_definition/pharos_model/scope_note].values.0.label}}</div>
                                                    </mp-popover-content>
                                                </mp-popover>
                                                {{else}}
                                                <span class="field-value-qualifier">
                                                    {{label}}
                                                    <div class="provider-icons">
                                    {{#each (uniqProviders provenance)}}
                                        <img class="provider-icon" title="{{label}}" src="{{icon}}">
                                    {{/each}}
                                                    </div>
                                                </span>
                                                {{/if}}
                                            {{/each}}
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                            {{/if}}
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    {{/if}}
</template>



    </resource-info>
