<div class="page">    

  <resource-info subject="[[this]]" profile="repository-card" template="{{> template}}">      
    <template id="template">
      <mp-event-trigger id="breadcrumbs" 
                        type='Component.TemplateUpdate' on='["mounted"]' targets='["top-header-breadcrumbs"]'
                        data='{"breadcrumb": "Actor: {{escapeForJson data.label}}"}'>
      </mp-event-trigger>
    </template>
  </resource-info>

  

  <div class="main-container">
    <semantic-if query="ASK { <[[this]]> crm:P2_has_type <https://artresearch.net/resource/pharos/vocab/meta/photographer> }"  then='{{> then}}' else='{{> else}}'>
     <template id='then'>
       <inline-template template-iri="Default:SearchTemplate" options='{"searchRestrictions":"?subject crm:P108i_was_produced_by/crm:P14_carried_out_by <[[this]]> .", "domain": "photograph", "lock": "true"}'></inline-template>
 
     </template>
     <template id='else'>
       <inline-template template-iri="Default:SearchTemplate" options='{"searchRestrictions":"{ ?subject crm:P50_has_current_keeper <[[this]]> . } UNION { ?subject crm:P108i_was_produced_by/crm:P9_consists_of*/crm:P14_carried_out_by <[[this]]> . }", "domain": "work", "lock": "true"}'></inline-template>

     </template>

    </semantic-if>
  </div>
</div>