.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    /* display: flex;
    flex-direction: column;
    color: #FFF9E8;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-left: 10px;
    font-weight: 300;
    font-family: "Inter", sans-serif; */
}
