footer {
  padding-top: 5em;
  margin-top: 5em;
  padding-left: 9rem;
  padding-right: 9rem;
  margin-bottom: 5em;
}

.footer-list {
  padding: 2em 0px;
  margin-right: 5em;
  border-top: solid 2px black;
}

.footer-list ul {
  list-style-type: none;
  padding-left: 10px;
}

.footer-list ul li {
  font-size: 1.3em;
  /* font-family: "Calibre", sans-serif; */
}

.footer-list ul li a {
  text-decoration: none;
}

.footer-logo {
  height: 7rem;
  width: auto;
}

.logos_sponsors {
  margin: 0 auto;
}

.footer-logo-small {
  height: 4rem;
  width: auto;
  margin-right: 2em;
}

/* .footer {
    border-top: 1px solid #e6e6e6;
    padding: 3px 5%;
    background-color: var(--color-body-bg);
    color: black;
    height: var(--footer-height);
}

.footer-content {
    display: flex;
#    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-content a {
    display: flex;
    align-items: center;
}

.footer-content img {
    height: 30px;
    width: auto;
    transition: opacity 0.3s;
}

.footer-content a:hover img {
    opacity: 0.7;
}

.copyright {
    font-size: 12px;
    margin: 0;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        gap: 10px;
    }
} */
