@import "./page.css";
@import "./header.css";
@import "./footer.css";
@import "./search.css";
@import "./demo.css";

@import "../styles/start.css";


.thin-text {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.karla-regular {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla-bold {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.bold-text {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* restyle */
@font-face {
  font-family: "Calibre";
  src:
    url("/assets/fonts/Calibre-Regular.otf") format("opentype");
}

@font-face {
  font-family: "CalibreMedium";
  src:
    url("/assets/fonts/Calibre-Medium.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "CalibreLight";
  src:
    url("/assets/fonts/Calibre-Light.otf") format("opentype");

}

@font-face {
  font-family: "CalibreThin";
  src:
    url("/assets/fonts/Calibre-Thin.otf") format("opentype");
}

body {
   background-color: #fff9e8 !important;
   letter-spacing: 0;
   /* font-family: 'Calibre', 'Arial', sans-serif; */
}

.hamburger-icon {
  height: 2em;
}

.disabled {
    opacity: 0.5;
}
.text-disabled {
    opacity: 0.5;
}

/* override default styles */
@-moz-document url-prefix() {
    * {
        scrollbar-width: unset;
    }
}

/**/
