@import "./page.css";
@import "./header.css";
@import "./footer.css";
@import "./search.css";
@import "./demo.css";

@import "../styles/start.css";

/* restyle */
@font-face {
  font-family: "Calibre";
  src:
    url("/assets/fonts/TestCalibre-Regular.otf") format("opentype");
}

@font-face {
  font-family: "CalibreMedium";
  src:
    url("/assets/fonts/TestCalibre-Medium.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "CalibreLight";
  src:
    url("/assets/fonts/TestCalibre-Light.otf") format("opentype");
}

@font-face {
  font-family: "CalibreThin";
  src:
    url("/assets/fonts/TestCalibre-Thin.otf") format("opentype");
}

body {
   background-color: #fff9e8 !important;
   font-family: 'Calibre', 'Arial', sans-serif;
}

.hamburger-icon {
  height: 2em;
}

/**/
