nav {
  background-color: #fff9e8 !important;
  box-shadow: none !important;
  border: none !important;
  padding: 1rem 0px;
}

.navbar a, .navbar i {
  color: black;
}

.navbar .footer-list a {
  font-size: 1em;
  line-height: 1.2em;
  text-decoration: none;
}

.rs-header {
    padding: 0 10px 0 10px;
}

.rs-header-logo {
    height: 100%;
    padding: 0;
    text-decoration: none;
}

.rs-header-logo img, .navbar-default .navbar-toggle .logo-container img {
    height: 40px !important;
}

.navbar-toggle.collapsed .rs-header-logo {
  display: block !important;
}

.navbar-toggle.collapsed .rs-header-logo {
  margin-right: auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-left: 10px;
    /* font-family: "CalibreMedium", sans-serif; */
}

.rs-header .dropdown-menu {
    min-height: initial;
    max-height: initial;
    overflow: initial;
    position: fixed;
    top: 60px;
    left: 0px;
    background-color: #fff9e8;
    border: none;
    box-shadow: none;
    padding: 2rem 9rem 2rem 9rem;
}

.rs-header .dropdown-menu::after {
  content: '';
  position: absolute;

  /* Position the pseudo-element right below the parent */
  top: 100%;
  left: 0;
  right: 0;

  /* Make the pseudo-element itself tiny */
  height: 0px;

  /* The magic: Apply a huge, blurred shadow to the tiny pseudo-element */
  /* This creates a "glow" that expands downwards and outwards */
  box-shadow: 0 30vh 30vh 30vh rgba(112, 231, 197, 0.7);
}

.user-dropdown #navbar-dropdown {
  background-color: #fff9e8;
  color: black;
}

#about-dropdown {
  background-color: #fff9e8;
}

#about-dropdown .caret {
  display: none;
}

/* #about-dropdown:hover+ul {
  display: none;
} */

.show {
  display: block;
}

ol.page-breadcrumb {
    font-size: 1.8rem;
    line-height: 1.5;
    background-color: #fff9e8;
}

.base-breadcrumb,
div.page-breadcrumb,
ol.page-breadcrumb {
    box-shadow: unset;
    width: initial;
    position: relative;
    margin-left: 5px;
    margin-right: auto;
}

ol.page-breadcrumb > li {

}
ol.page-breadcrumb > .active {
    color: var(--domain-color);
    font-weight: 700;
    text-overflow: ellipsis;
}

ol.page-breadcrumb>li+li::before {
    color: black;
    font-weight: 300;
}

ol.page-breadcrumb li a {
  text-decoration: none;
}


.rs-header .provider-icon {
    box-shadow: none;
}

/* MEDIA QUERIES */

/*Devices smaller than 767px*/
@media (max-width: 767px) {
  .none-small {
    display: none;
  }

  .navbar-right {
    margin: 3rem ;
  }

  .navbar-default .navbar-toggle {
    justify-content: end;
  }

  .rs-header .dropdown-menu, .navbar-nav .open .dropdown-menu {
      /* max-height: initial; */
      min-height: 85vh;
      overflow: initial;
      position: fixed;
      top: 1rem;
      background-color: #fff9e8;
      border: none;
      box-shadow: none;
      padding: 5em 9rem 5em 9rem;
      z-index: 20;
      box-shadow: 0px 25em rgba(112, 231, 197, 0.7);
      top: 60px;
  }

  .dropdown-menu .footer-logo {
    height: 10rem !important;
    padding: 1em 0px !important;
  }

}

/*Devices between 768px and 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {

}

/*Devices larger than 1024px*/
@media (min-width: 1024px) {

}

@media (max-width: 600px) {
  ol.page-breadcrumb {
    display: none;
  }
}
