.rs-header {
    padding: 0 10px 0 0px;
}

.rs-header-logo {
    height: 100%;
    padding: 0;
    padding-left: 2rem;
}

.rs-header-logo img {
    height: 40px;
}

.rs-header .dropdown-menu {
    max-height: initial;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
    color: #FFF9E8;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-left: 10px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
}

ol.page-breadcrumb {
    font-size: 1.8rem;
    line-height: 1.5;
}

.base-breadcrumb,
div.page-breadcrumb,
ol.page-breadcrumb {
    box-shadow: unset;
    width: initial;
}

ol.page-breadcrumb>.active {
    color: (var(--color-navbar));
}

ol.page-breadcrumb>li+li::before {
    color: (var(--color-navbar));
}

.rs-header .provider-icon {
    box-shadow: none;
}