nav {
  background-color: #fff9e8 !important;
  box-shadow: none !important;
  border: none !important;
  padding: 1rem 0px;
}

.rs-header {
    padding: 0 10px 0 0px;
}

.rs-header-logo {
    height: 100%;
    padding: 0;
    padding-left: 9rem;
    text-decoration: none;
}

.rs-header-logo img {
    height: 40px;
}

.rs-header .dropdown-menu {
    /* max-height: initial; */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-left: 10px;
    font-family: "CalibreMedium", sans-serif;
}

ol.page-breadcrumb {
    font-size: 1.8rem;
    line-height: 1.5;
    padding-left: 9rem;
}

.base-breadcrumb,
div.page-breadcrumb,
ol.page-breadcrumb {
    box-shadow: unset;
    width: initial;
}

ol.page-breadcrumb > li {

}
ol.page-breadcrumb > .active {
    color: #70E7C5;
    font-weight: 700;
}

ol.page-breadcrumb>li+li::before {
    color: (var(--color-navbar));
    font-weight: 300;
}

ol.page-breadcrumb li a {
  text-decoration: none;
}


.rs-header .provider-icon {
    box-shadow: none;
}

#about-dropdown {
  background-color: #fff9e8;
}

#about-dropdown .caret {
  display: none;
}
