nav {
  background-color: #fff9e8 !important;
  box-shadow: none !important;
  border: none !important;
  padding: 1rem 0px;
}

.navbar a, .navbar i {
  color: black;
}

.navbar .footer-list a {
  font-size: 1.2em;
  line-height: 1.2em;
  text-decoration: none;
}

.rs-header {
    padding: 0 10px 0 0px;
}

.rs-header-logo {
    height: 100%;
    padding: 0;
    padding-left: 9rem;
    text-decoration: none;
}

.rs-header-logo img {
    height: 40px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-left: 10px;
    /* font-family: "CalibreMedium", sans-serif; */
}

.rs-header .dropdown-menu {
    /* max-height: initial; */
    min-height: 55vh;
    overflow: initial;
    position: fixed;
    top: 1rem;
    left: 0px;
    background-color: #fff9e8;
    border: none;
    box-shadow: none;
    padding: 5em 9rem 5em 9rem;
    z-index: 20;
    box-shadow: 0px 25em rgba(112, 231, 197, 0.7);
}

.user-dropdown #navbar-dropdown {
  background-color: #fff9e8;
  color: black;
}

#about-dropdown {
  background-color: #fff9e8;
}

#about-dropdown .caret {
  display: none;
}

.visible {
  display: block;
}

ol.page-breadcrumb {
    font-size: 1.8rem;
    line-height: 1.5;
    padding-left: 9rem;
    background-color: #fff9e8;
}

.base-breadcrumb,
div.page-breadcrumb,
ol.page-breadcrumb {
    box-shadow: unset;
    width: initial;
}

ol.page-breadcrumb > li {

}
ol.page-breadcrumb > .active {
    color: #70E7C5;
    font-weight: 700;
}

ol.page-breadcrumb>li+li::before {
    color: black;
    font-weight: 300;
}

ol.page-breadcrumb li a {
  text-decoration: none;
}


.rs-header .provider-icon {
    box-shadow: none;
}


/* MEDIA QUERIES */

/*Devices smaller than 767px*/
@media (max-width: 767px) {
  .none-small {
    display: none;
  }

  .navbar-right {
    margin: 3rem 9rem;
  }

  .rs-header .dropdown-menu {
      /* max-height: initial; */
      min-height: 85vh;
      overflow: initial;
      position: fixed;
      top: 1rem;
      background-color: #fff9e8;
      border: none;
      box-shadow: none;
      padding: 5em 9rem 5em 9rem;
      z-index: 20;
      box-shadow: 0px 25em rgba(112, 231, 197, 0.7);
  }

  .dropdown-menu .footer-logo {
    height: 10rem !important;
    padding: 1em 0px !important;
  }

}

/*Devices between 768px and 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {

}

/*Devices larger than 1024px*/
@media (min-width: 1024px) {

}
