.main-container {
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page {
  padding-top: 0;
}

.page-container {
    height: calc(100vh - var(--nav-height));
    overflow: auto;
}

.page-content {
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.scrollable-content {
    overflow: auto;
}

.with-breadcrumbs {
    padding-top: var(--breadcrumb-height);
}

.static-centered-content {
    /* TODO need to have better style */
    margin: 0 50px;
}

.page-holder {
    min-height: calc(100vh - var(--nav-height));
}




.provider-icon {
    object-fit: cover;  
    height: 21.6px;
    width: 21px;
    padding: 2px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 1px 1px 3px 1px #e7e7e7;
    margin-left: 4px;
}
