.component-page-toolbar {
  display: none;
}

.main-container {
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.main-container.partner-page-title-and-intro {
  overflow: scroll;
}

.main-container.partner-page-title-and-intro footer {
  padding: 0px !important;
  margin-left: -12rem;
  margin-right: -15rem;
}

.page {
  padding-top: 0;
}

.page-container {
    height: calc(100vh - var(--nav-height));
    overflow: auto;
    overflow-x: clip;
    display: block;
}

.page-content {
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1 span.thin-text {
  display: inline-block;
  margin-right: 1rem;
}

.static-h2 {
  text-transform: uppercase;
  color: black;
  margin-top: 5rem;
}

.about-content p:nth-of-type(1) {
  margin: 2rem 0px;
}

.scrollable-content {
    overflow: auto;
}

.with-breadcrumbs {
    padding-top: var(--breadcrumb-height);
}

.static-centered-content {

}

.static-centered-content ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 2rem 0px;
}
.static-centered-content ul li {
  font-size: 1.7em;
  line-height: 1.5em;
}

.page-title-and-intro {
  padding: 21rem 21rem 5rem 21rem;
  background-image: url('/assets/images/dot_full.png');
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-position-x: 5%;
  background-size: 25%;
}

.page-section {
  padding: 2rem 21rem;
}

.bg-wave {
  background-image: url('/assets/images/background_wave.png');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 60vh;
}

.bg-line {
  background-image: url('/assets/images/background_line.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-y: 40%;
  min-height: 40vh;
}

.bg-dot-bottom-right {
  background-image: url('/assets/images/dot_full.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-y: 80%;
  background-position-x: 80%;
  min-height: 40vh;
}

.bg-dot-top-left {
  background-image: url('/assets/images/dot_full.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-y: 10%;
  background-position-x: -10%;
  min-height: 40vh;
}

.page-holder {
    min-height: calc(100vh - var(--nav-height));
}

.provider-icon {
    object-fit: cover;
    height: 21.6px;
    padding: 2px;
    cursor: pointer;
    margin-left: 4px;
}

.license-icon {
  height: 2em;
  width: auto;
  margin: 1em;
}

/* ABOUT */
#about-scope {
  padding-top: 10rem;
}

/* PARTNERS */
.partners-section {
  padding-right: 9rem !important;
  overflow-x: hidden !important;
}

.partner-thumbnail {
  width: 100%;
  margin-left: -15px;
}
.arrow-overlay {
  position: absolute;
  z-index: 10;
  height: 40px;
  margin-left: -25%;
  margin-top: 40%;
}

.partners-logo {
  height: 30px;
  width: auto;
}

.partners-detail, .partners-detail a {
  color: grey;
  line-height: 1em;
  font-size: 1em;
}

/* PARTNER */
.partner-page {

}
.partner-page div ul.nav {
  padding: 1rem 21rem 0px 21rem;
  border-bottom: none !important;
}

.partner-page div div #tab-container-pane-summary {
  padding-left: 0px;
  padding-top: 0px;
}

.nav.nav-tabs>li>a {
  color: #70E7C5 !important;

}

.nav.nav-tabs>li.active {
  /* border-bottom: solid 2px #70E7C5 !important; */
  box-shadow: inset 0 -3px 0 0 #70E7C5 !important;
  padding-bottom: -2px;
}

.partner-page-title-and-intro {
  padding: 2rem 21rem 5rem 21rem;
}

.provider-links {
  margin-bottom: 2em;
  color: grey;
}
.provider-links a {
  color: grey;
  padding-right: 1em;
}

.partner-logo-title {
  height: 0.7em;
  margin-right: 1rem;
  vertical-align: baseline;
}

.imageThumbnail {
  width: 100%;
}

/* SEARCH */
.search-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.search-bar {
  width: 100vw;
  align-self: center;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 40vw;
}

.search-with-image-page .search-bar {
  margin-left: 10vw;
}

.ImageSearchWithSlider--imageSearchWithSlider
.ImageSearchWithSlider--imageSearchContainer {
  width: 50%;
}

.ImageSearchWithSlider--imageSearchWithSlider
.ImageSearchWithSlider--inputDropzoneContainer {
  width: 70%;
}

.search-with-image-page .ImageSearchWithSlider--sliderField {
  width: 30%;
}

.search-bar>div {
  display: -webkit-box;
}

.keyword-search-container {
  width:40%;
  background-color: #fff9e8 !important;
  border: none;
  border-radius: 0px !important;
  margin-right: 20px;
}
.keyword-search-container i {
  color: black;
  background-color: #70E7C5;
  border-radius: 50%;
  width: 1.5em;
  font-size: 25px;
  padding: 5px;
}
.keyword-search-container input {
  background-color: #fff9e8 !important;
  border-bottom: solid 1.5px black !important;
  border-radius: 0px !important;
  transition: 0.2s;
  font-weight: bold;
}

.keyword-search-container input:focus {
  border-bottom: solid 1.5px #70E7C5 !important;
}

.slider-field {
  width: 30% !important;
}

.rc-slider-disabled .rc-slider-dot, .rc-slider-disabled .rc-slider-handle {
  border-color: #70E7C5 !important;
}

.rc-slider-disabled {
  background-color: #EFE9D8;
}

.content-area {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* SEARCH FACETS*/

.facet-column {
  overflow-y: auto;
  margin-left: 10px;

}

.show-facet-button {
  background-color: #70E7C5 !important;
}

.facet-relations {
  width: 295px;
  margin: 5px 10px !important;
}

.facet-relation {
  padding: 15px;
}
.facet__relation__header,
.facet__relation__header:focus,
.facet__relation__header:hover {
  background-color: #fff9e8 !important ;
  border-bottom: solid 1px black !important;
}

.results-column {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.FacetBreadcrumbs--conjunct,
.FacetBreadcrumbs--values,
.FacetBreadcrumbs--cancelButton {
  background-color: #70E7C5 !important;
  border: none !important;
}

/* SEARCH RESULTS */
.result-item {
  margin-bottom: 20px;
  font-family: "Calibre", sans-serif;
}

.thumbnail-container, .info-container {
    background-color: #fff9e8 ;
}

.facet__category-selector-holder {
  display: none;
}

.artwork-card {
  display: flex;
  min-height: 200px;
  overflow: hidden;
  font-family: "Calibre", sans-serif;
}

.photographers-page .artwork-card,
.artists-page .artwork-card,
.repositories-page .artwork-card {
  min-height: 100px;
}

.thumbnail-container {
  width: 200px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.no-image-text {
  color: #999;
  font-style: italic;
}

.info-container {
  flex-grow: 1;
  padding: 2em 20px;
  overflow-y: auto;
}

.cursor {
  cursor: pointer;
}

.field {
  margin-bottom: 12px;
  display: flex;
}

.field-label {
  /* width: 120px;
  color: #666;
  font-size: 16px;
  display: flex;
  align-items: center; */
  display: none;
}

.field-value {
  flex: 1;
  color: black;
  font-size: 1.3em;
}

.field-value a {
  color: #007bff;
  text-decoration: none;
}

.field-value a:hover {
  text-decoration: underline;
}

.author-name .field-value {
  text-transform: uppercase;
  color: grey !important;
  font-size: 1em;
  font-weight: bold;
}
.provider-icons-text {
  font-size: 1.7rem;
}
.provider-icons {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
