.main-container {
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page {
  padding-top: 0;
}

.page-container {
    height: calc(100vh - var(--nav-height));
    overflow: auto;
    overflow-x: clip;
}

.page-content {
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1 span.thin-text {
  display: inline-block;
  margin-right: 1rem;
}

.static-h2 {
  text-transform: uppercase;
  color: black;
  margin-top: 5rem;
}

.about-content p:nth-of-type(1) {
  margin: 2rem 0px;
}

.scrollable-content {
    overflow: auto;
}

.with-breadcrumbs {
    padding-top: var(--breadcrumb-height);
}

.static-centered-content {
    padding: 20rem;
    background-image: url('/assets/images/dot_full.png');
    background-repeat: no-repeat;
    background-position-y: 25%;
    background-position-x: 5%;
    background-size: 25%;
    min-height: 100vh;
}
.static-centered-content ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 2rem 0px;
}
.static-centered-content ul li {
  font-size: 1.7em;
  line-height: 1.5em;
}
.page-holder {
    min-height: calc(100vh - var(--nav-height));
}




.provider-icon {
    object-fit: cover;
    height: 21.6px;
    width: 21px;
    padding: 2px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 1px 1px 3px 1px #e7e7e7;
    margin-left: 4px;
}
