.component-page-toolbar {
  display: none;
}

.main-container {
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page {
  padding-top: 0;
}

.page-container {
    height: calc(100vh - var(--nav-height));
    overflow: auto;
    overflow-x: clip;
    display: block;
}

.page-content {
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1 span.thin-text {
  display: inline-block;
  margin-right: 1rem;
}

.static-h2 {
  text-transform: uppercase;
  color: black;
  margin-top: 5rem;
}

.about-content p:nth-of-type(1) {
  margin: 2rem 0px;
}

.scrollable-content {
    overflow: auto;
}

.with-breadcrumbs {
    padding-top: var(--breadcrumb-height);
}

.static-centered-content {

}

.static-centered-content ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 2rem 0px;
}
.static-centered-content ul li {
  font-size: 1.7em;
  line-height: 1.5em;
}

.page-title-and-intro {
  padding: 21rem 21rem 5rem 21rem;
  background-image: url('/assets/images/dot_full.png');
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-position-x: 5%;
  background-size: 25%;
}

.page-section {
  padding: 2rem 21rem;
}

.bg-wave {
  background-image: url('/assets/images/background_wave.png');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 80vh;
}

.bg-line {
  background-image: url('/assets/images/background_line.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-y: 40%;
  min-height: 40vh;
}

.bg-dot-bottom-right {
  background-image: url('/assets/images/dot_full.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-y: 80%;
  background-position-x: 80%;
  min-height: 40vh;
}

.bg-dot-top-left {
  background-image: url('/assets/images/dot_full.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-y: 10%;
  background-position-x: -10%;
  min-height: 40vh;
}

.page-holder {
    min-height: calc(100vh - var(--nav-height));
}

.provider-icon {
    object-fit: cover;
    height: 21.6px;
    width: 21px;
    padding: 2px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 1px 1px 3px 1px #e7e7e7;
    margin-left: 4px;
}

/* ABOUT */
#about-scope {
  padding-top: 10rem;
}

/* PARTNERS */
.partners-section {
  padding-right: 9rem !important;
  overflow-x: hidden !important;
}

.partner-thumbnail {
  width: 100%;
  margin-left: -15px;
}
.arrow-overlay {
  position: absolute;
  z-index: 10;
  height: 40px;
  margin-left: -25%;
  margin-top: 40%;
}

.partners-logo {
  height: 30px;
  width: auto;
}

.partners-detail, .partners-detail a {
  color: grey;
  line-height: 1em;
  font-size: 1em;
}

/* PARTNER */
.partner-page {

}
.partner-page div ul.nav {
  padding: 11rem 21rem 0px 21rem;
  border-bottom: none !important;
}

.partner-page div div #tab-container-pane-summary {
  padding-left: 0px;
  padding-top: 0px;
}

.nav.nav-tabs>li>a {
  color: #70E7C5 !important;

}

.nav.nav-tabs>li.active {
  /* border-bottom: solid 2px #70E7C5 !important; */
  box-shadow: inset 0 -3px 0 0 #70E7C5 !important;
  padding-bottom: -2px;
}

.partner-page-title-and-intro {
  padding: 2rem 21rem 5rem 21rem;
}

.provider-links {
  margin-bottom: 2em;
  color: grey;
}
.provider-links a {
  color: grey;
  padding-right: 1em;
}

.partner-logo-title {
  height: 0.7em;
  margin-right: 1rem;
  vertical-align: baseline;
}

.imageThumbnail {
  width: 100%;
}
