.facet {
    /* overriding defaults */
    border-right: none;
    padding-right: 0;
}

.show-facet-button {
    /* overriding defaults */
    top: 5px;
}

.artwork-card .provider-icon {
  margin-right: 4px;
}
